[2022-03-23 10:43] gusye1234 commented on #10929
Hi... Sorry to bother you again. But in your guidance on how to build OpenVINO, I'm wondering which branch you are on? Is it `release/2021/4`?

[2022-03-23 10:46] ilya-lavrenov commented on #10929
BTW, The problem here not with the fact that the compilers are different (the compilers itself are compatible by the ABI), but that we have compiler specific symbols in OpenVINO:
https://github.com/openvinotoolkit/openvino/blob/066882579dda4f16e3dd89ee836b163fc208b423/src/inference/include/ie/ie_blob.h#L808-L825
@nosovmik do you think we can fixing this? CC @dkurt who is the author of this discrep

[2022-03-23 10:54] nosovmik commented on #10929
Yes, `releases/2021/4` https://github.com/openvinotoolkit/openvino/tree/releases/2021/4

[2022-03-23 10:55] dkurt commented on #10929
Hi! Please also take a look at https://github.com/openvinotoolkit/openvino/pull/6453. We have an issue with Apple Clang as well which is not compatible with workarounds for common Clang.

[2022-03-23 12:05] vollebreggie commented on #11059
The build succeeded and I can now also build hello_query_device.py. Thank you very much!

[2022-03-23 12:18] AlexKoff88 commented on #11154
Hi @ZiyueWangUoB,

You can work around this by creating (dumping) a subset of reference feature vectors that you will use in your `Metric`. During the per-sample metric update, you will use these reference vectors as an annotation. This should help to control the accuracy during the quantization process.
Here is an example of accuracy-aware quantization with POT API: https://github.com/openvinotoo

[2022-03-23 12:32] ZiyueWangUoB commented on #11154
@AlexKoff88 I see, so I would need to write my custom metric with a bunch of reference feature vectors (which are from my fp32 model) as "labels". Thanks!

[2022-03-23 12:32] #11154 closed

[2022-03-23 12:49] itikhono commented on #11156
Hi @ZachL1
 Yes, there is a way to automate this process, OpenVINO has special Assign/ReadValue operations, which allow you to store a Tensor between inferences. This mechanism works on GNA and CPU plugins.

![image](https://user-images.githubusercontent.com/21181928/159700882-9f45bbb0-0f86-499f-aa4a-391fd218baf9.png)

 In the next release we will introduce a transformation to quickly replace your

[2022-03-23 15:08] jgespino commented on #11059
Awesome, glad it worked for you. Please let me know if you have additional questions.

[2022-03-23 15:16] jgespino commented on #10926
@Mateusz5116 You can build OpenVINO and include the Arm Plugin from the [openvino_contrib ](https://github.com/openvinotoolkit/openvino_contrib)repository. I also provided some steps on a [previous discussion](https://github.com/openvinotoolkit/openvino/issues/10776#issuecomment-1059616600), please give it a try and let me know if you have any issues.

[2022-03-23 15:43] ZachL1 commented on #11156
@itikhono Thank you very much! This is exactly what I need and I will try your suggestion asap.

<br>
Allow me to ask another question I just ran into, I'm not sure if I should create a new issue, I'll leave it here for now.

### Detail
I'm converting ONNX to IR and I want to use both NCHW->NHWC and BGR->RGB:
[code]
However I got the error:
[code]
This is strange because the `src` input has a dime

[2022-03-23 15:46] vollebreggie commented on #11059
I have one final question.

`python3 hello_query_device.py` only works if I have run the setupvars.sh.
I tried to use `export PYTHONPATH=$PYTHONPATH:/~/openvino/bin/intel64/Release/lib/python_api/python3.6/`, but that didn't work. What is the proper way to set the api a default path?

[2022-03-23 16:05] jgespino commented on #11059
@vollebreggie I would stick to the setupvars.sh to ensure all paths are set correctly. If you just want to setup the `PYTHONPATH` use the following command.

`export PYTHONPATH=$PYTHONPATH:/home/pi/openvino/bin/aarch64/Release/lib/python_api/python3.9/`

Couple of things to note as your path may be different.

- Built openvino in my home directory `/home/pi/openvino`
- Built was for `aarch64 `(you

[2022-03-23 16:19] vollebreggie commented on #11059
A I copied the wrong link.

My built openvino is in my `/opt/intel/` directory. so I used
`export PYTHONPATH=$PYTHONPATH:/opt/intel/openvino/bin/aarch64/Release/lib/python_api/python3.9/` and `LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/openvino/bin/aarch64/Release/lib
`

Rightnow I have to run the commands below everytime I want to use the openvino in the terminal.
[code]
It doesn't work when I try to run

[2022-03-23 16:27] vollebreggie commented on #11059
I stand corrected. I ran the commands below in the proper project directory and it works.

[code]

[2022-03-23 16:46] jgespino commented on #11059
@vollebreggie The trick is to source `setupvars.sh` and launch code from the same terminal.

[code]

Also, you should only need to run `install_NCS_udev_rules.sh` once.

[2022-03-23 17:46] jgespino commented on #270
Closing issue, if you are still need assistance please start a new issue and attach your model.

[2022-03-23 17:46] #270 closed

[2022-03-23 18:08] jgespino commented on #380
Please see openvino_contrib repository, there is a [PyTorch extension for model optimizer](https://github.com/openvinotoolkit/openvino_contrib/tree/master/modules/mo_pytorch).

[2022-03-23 18:08] #380 closed

[2022-03-23 18:18] itikhono commented on #11156
@ZachL1 yes, it looks like a bug
@mvafin @rkazants is this a known issue? I can't find a ticket

[2022-03-23 18:21] jgespino commented on #436
Please refer to [Dynamic Shapes](https://docs.openvino.ai/latest/openvino_docs_OV_UG_DynamicShapes.html) user guide from the latest OpenVINO documentation.

[2022-03-23 19:04] jgespino commented on #3768
@leopck I was able to run the onnx model using benchmark_app on the latest release. Please give it a try:
`benchmark_app -m onnx_model.onnx -data_shape time_distributed_input[1,40,32,32,1]`

@georgeftakla Please start a new issue and attach the model if you still need assistance.

[2022-03-23 19:04] #3768 closed

[2022-03-23 19:06] jgespino commented on #211
Closing, please re-open if additional assistance is needed.

[2022-03-23 19:06] #211 closed

[2022-03-23 19:09] jgespino commented on #298
Closing, please re-open if additional assistance is needed.

[2022-03-23 19:09] #298 closed

[2022-03-23 19:11] jgespino commented on #282
Closing, please re-open if assistance is still needed.

[2022-03-23 19:11] #282 closed

[2022-03-23 19:32] jgespino commented on #37
Closing as issue has been inactive, please re-open or start a new issue if this is still applicable.

[2022-03-24 01:00] KodeWorker commented on #10633
Hi @jgespino ,

Thank you for the help.
I am looking forward to this update.

For temporary fix, the walkaround is converting *.pb model to *.onnx using TF2.5+tf2onnx and then converting *.onnx to IR.

B.R.,
Kelvin

[2022-03-24 02:29] NaNAGISaSA commented on #11150
It works! Thank you!

[2022-03-24 02:29] #11150 closed

[2022-03-24 06:22] ZachL1 opened #11192 "nchw->nhwc doesn't work properly"
I'm converting ONNX to IR and I want to use both NCHW->NHWC and BGR->RGB:
[code]
However I got the error:
[code]
This is strange because the `src` input has a dimension that is 3-channel.

If I try them separately:
[code]
[code]
They all worked.

Is this a bug? I can't apply NCHW->NHWC and BGR->RGB at the same time.

_Originally posted by @ZachL1 in https://github.com/openvinotoolkit/openvino/issu

[2022-03-24 08:15] ZachL1 commented on #11192
This is my mistake, please leave it alone

[2022-03-24 08:15] #11192 closed

[2022-03-24 08:37] ZachL1 commented on #11156
Excellent work! I've tried using it when converting models, and I ended up with models that will no longer need input to hide state, which is great! It works fine on my CPU now, but I haven't tested its performance in detail yet, I'm going to do that.

In addition, the converted model does not allow me to input the hidden state again, how does OpenVINO set the initial value of the hidden state? Is

[2022-03-24 08:47] itikhono commented on #11156
by default they are zeros, but you can change it using OV State API.
StateAPI methods:
[code]

   Example:
[code]

[2022-03-24 12:45] kchen1024 opened #11203 "[Bug]reshape error"
##### System information (version)

- OpenVINO=>  openvino_2021.2.185
- Operating System / Platform =>Windows 64 Bit
- Compiler =>  Visual Studio 2019
- Problem classification => Model Loading: LoadNetwork

##### Detailed description

I try a trained styleGAN2 model, no warning or issue in transferring to bin and xml. However, when I load the network by ie.LoadNetwork(network, FLAGS_d); error occu

[2022-03-24 13:23] Parradox27 opened #11205 "[Bug] Usage of pybind11 with dynamic library loading causes invalid pointer error"
##### System information (version)

- OpenVINO=> 2022.1.0
- Operating System / Platform => Ubuntu (Pop! OS) 20.04 x64
- Compiler => GCC 7.5.0
- Problem classification => Library Loading

##### Detailed description

Hello, I have been attempting to create a C++ shared library that uses OpenVino, load this library dynamically (as a plugin) using dlopen in another library and create Python bindings w

[2022-03-24 13:51] mvafin commented on #11156
Hi @ZachL1

Are you still experiencing the issue with nchw->nhwc and --reverse_input_channels? I noticed you created an issue about it and closed it.

[2022-03-24 16:28] jgespino commented on #11059
@vollebreggie Closing as you are up and running with openvino on Bullseye. Feel free to start a new issue if you need any help.

[2022-03-24 16:28] #11059 closed

[2022-03-24 16:32] jgespino commented on #9527
@hyperfraise We have published new [performance benchmarks](https://docs.openvino.ai/latest/openvino_docs_performance_benchmarks_openvino.html) that include 12th Gen Intel Core Processors.

[2022-03-24 16:34] vollebreggie commented on #11059
I got it working!

I do have a follow-up question. I have a `facebook/hubert-large-ls960-ft` model. I've converted it to an onnx model and converted the onnx model to an IR model.

I've run this model and script on my windows machine and it works perfectly. However, when I run it on my raspberry I get the following error: `RuntimeError: Cannot get length of dynamic dimension`.

The code I use:
[co

[2022-03-24 16:40] vollebreggie opened #11213 "RuntimeError: Cannot get length of dynamic dimension"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Raspberry aarch64
- Compiler => python3.9
- Problem classification: Compile model

Hey guys,
I'm trying to build a speech-to-text model. I have a `facebook/hubert-large-ls960-ft` model. I've converted it to an onnx model and converted the onnx model to an IR model.

I've run this model and script on my window

[2022-03-24 16:48] jgespino commented on #11213
@vollebreggie Thanks for starting a new issue.

Dynamic shapes are only supported on CPU Plugin. When you say the code runs fine on you windows machine, are you running it on MYRIAD or CPU?

[2022-03-24 16:57] vollebreggie commented on #11213
I'm running it on CPU

[2022-03-24 17:48] hyperfraise commented on #9527
@jgespino

Thanks for this. From the looks of it, the performance drop is **catastrophic**, don't you think ?

[2022-03-24 18:04] ilya-lavrenov commented on #11213
Hi @vollebreggie

[Dynamic shapes feature](https://docs.openvino.ai/nightly/openvino_docs_OV_UG_DynamicShapes.html) is supported by Intel [CPU device only](https://docs.openvino.ai/nightly/openvino_docs_OV_UG_supported_plugins_CPU.html) which cannot be run on ARM platform.

Thanks,
Ilya.

[2022-03-24 18:16] vollebreggie commented on #11213
That's unfortunate.

Do you guys have any suggestions on what models I should use instead or what kind of hardware setup I might need to buy to support dynamic models? Because my current understanding is, that most speech to text models use dynammic shapes.

[2022-03-24 18:18] hyperfraise commented on #9527
I'm estimating a <3 fold performance drop in FPS / Userbenchmark multi core score.

[2022-03-24 19:49] vollebreggie commented on #11213
Unfortunatly the raspberry cannot handle the size of the model. I was hoping I could support it with a cpu stick.

[2022-03-24 22:03] vladimir-dudnik commented on #11121
@krishyadav007 is there any specific reason for you to use OMZ model from OpenVINO 2021.3 release with OpenVINO 2022.1 runtime? Also, why do you load models by their direct links? Is not it possible to install openvino-dev PyPi package and use omz_downloader tool for that?

[2022-03-24 22:20] vladimir-dudnik commented on #11121
@krishyadav007 did this notebook work with previous version of OpenVINO or this is your first attempt to try OpenVINO inference? If second is true, I would recommend you to review OpenVINO [notebooks](https://github.com/openvinotoolkit/openvino_notebooks) as a sample of how to use OpenVINO in notebooks.

[2022-03-25 03:00] eaidova commented on #11121
@krishyadav007 I believe problem in these lines:
[code]

First of all, openvino expects np.array object as input, not torch.Tensor. Secondly, all OMZ pretrained models expects input data in [0, 255] range instead [0, 1].

Probably these lines should be replaced by:
[code]

[2022-03-25 08:43] ZachL1 commented on #11156
@itikhono I think all my doubts are solved, thank you!
In addition, I just compared in detail the model with Assign/ReadValue operations and the model without it. I used CPU inference. assign/ReadValue operations does seem to bring a slight, though not significant, performance improvement. But anyway, Assign/ReadValue operations at least made my code writing clean, which is nice. Once again, great

[2022-03-25 09:26] ilyachur commented on #11203
@kchen1024 Hi, could you try to use newer version of OpenVINO?

[2022-03-25 10:08] mandrono commented on #11058
Hi, @Asthestarsfalll. What device did you use for inference?

[2022-03-25 10:25] Asthestarsfalll commented on #11058
hi, @mandrono
Intel i5-10210U CPU

[2022-03-25 10:26] jiwaszki commented on #11205
Hi @Parradox27 !

I have a request for steps on how to build your code sample. Did you use Cmake or setuptools Python approach (or any other method)? I might be important to know exact build/linking process.

Thanks for reporting your issue! Awaiting your response!

[2022-03-25 10:29] mandrono commented on #11058
@Asthestarsfalll May I ask you to check results on any other device? GPU maybe?

[2022-03-25 10:37] Asthestarsfalll commented on #11058
Not yet, I have checked results on cpu with pytorch model, onnx model and openvino(with input shape [1080, 1920]).Only the openvino model with input shape [540, 960] does't work.
I will test on other device latter!

[2022-03-25 10:43] Parradox27 commented on #11205
Hi @jiwaszki,
thank you for your response. I have used following CMake to generate Makefiles and build the libraries:

[code]

[2022-03-25 13:48] jane-intel commented on #7321
Hi @miaobin!
Please find [the specification of ConvolutionBackpropData](https://docs.openvino.ai/latest/openvino_docs_ops_convolution_ConvolutionBackpropData_1.html) for all the details.

Our specification and implementation are aligned with all OV supported frameworks.

[2022-03-25 17:58] jgespino commented on #9482
@shiyanan96 Apologies for the delay, as you may know Ubuntu 16.04 is no longer supported by newer releases of OpenVINO. I was able to get the correct results using your `model_opset10.onnx` and `model_opset11.onnx` model and IR (`mo -m model_opset.onnx`) using the latest OpenVINO 2022.1 release and Ubuntu 18.04.

I encourage you to upgrade to the latest OpenVINO release using one of the supported

[2022-03-25 17:58] #9482 closed

[2022-03-26 08:38] dkurt commented on #11213
@vollebreggie, you can consider using a fixed input length padding by zeros. At least this is what I've tried during quantized model training: https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/optimum/examples/audio_classification_wav2vec2.md.

[2022-03-26 10:50] vollebreggie commented on #11213
@dkurt, thanks a lot for looking at my issue. My understanding of transformers and how to change the input length isn't good. Is there any documentation you can point me to, that helps me understand how I can implement a fixed input length

[2022-03-26 17:10] yury-gorbachev commented on #11213
Hey @vollebreggie , you might want to check this document as well...
https://docs.openvino.ai/latest/openvino_docs_OV_UG_NoDynamicShapes.html
Curious if this helps or makes any better?

[2022-03-26 17:34] dkurt commented on #11213
@vollebreggie, according to Hubert docs, you can just pad `input_values` with zeros.
[code]
source: https://github.com/huggingface/transformers/blob/088c1880b7bfd47777778d0d0fcc20e921bcf21e/src/transformers/models/hubert/modeling_hubert.py#L918-L923

Here is an example with just zero padding:

<details>
<summary>example.py</summary>

[code]

</details>

[code]

`model = core.read_model(buf.getvalu

[2022-03-26 18:07] dkurt commented on #11213
Also, if it might be interesting for you, there is an [extension](https://github.com/openvinotoolkit/openvino_contrib/tree/master/modules/optimum) API which hides all OpenVINO logic inside (please wait for https://github.com/openvinotoolkit/openvino_contrib/pull/355 or modify manually):

[code]

[code]

[2022-03-27 10:37] dkurt commented on #11213
Unfortunately, MYRIAD cannot fit `facebook/hubert-large-ls960-ft` because it's FP16 weights take about 600MB. Is there less size finetuned models?

[2022-03-27 11:46] ZachL1 opened #11248 "How to enable model caching during Auto-Device selection"
I noticed that Auto-Device selection does not seem to work with model caching at the same time.

#### Detail
When I use it like the following, I get `ov::Exception`
[code]
I tried to use `ov::Core::get_property` to check `AUTO` support for model caching, however I get the same `ov::Exception`
[code]
![core.hpp](https://s2.loli.net/2022/03/27/5RF42sWYH3egdbh.png)
Does this mean that `AUTO` does not

[2022-03-27 14:55] ilya-lavrenov commented on #11248
Hi @ZachL1,

[code]
This does not work because `AUTO` does not `ov::device::capabilities` property (you have to query `ov::supported_properties` first and check whether `ov::device::capabilities` is in the returned list). The answer this property is not here - because `AUTO` don't have its own capabilities, everything depends on the selected device and we don't know the capabilities beforehand (be

[2022-03-27 15:00] vollebreggie commented on #11213
Hey @dkurt,
I haven't time yet to go through the documentatie. It will problably be tomorrow evening.

The distilbert model will problably suffice. Thanks again for looking at my issue!

[2022-03-27 15:12] ilya-lavrenov commented on #11205
Hi @Parradox27

Is the issue reproduced with this fix https://github.com/openvinotoolkit/openvino/pull/11236 ?

Thanks,
Ilya.

[2022-03-28 03:31] wangleis commented on #11248
@ilya-lavrenov Will add caching support in AUTO 2022.2 release document

[2022-03-28 04:24] ZachL1 commented on #11248
Hi @ilya-lavrenov  Thanks!

In my case, it doesn't work. I have limit the device list, like you suggested
[code]

I'm not a native English speaker and I'm not quite sure what you mean by 'topology', but I'll share as much information as I can.

### Detail
- Latest openvino 2022.1
- Windows Visual Studio 2019 / Python 3.8.8

#### C++
I'm not doing anything else but trying to compile a model:
[code]

[2022-03-28 07:52] dkurt opened #11256 "[Feature request] Convert Model IR to FP16 from Python"
There is a method in C++ which allows convert OpenVINO Model from FP32 to FP16: `ConvertFP32ToFP16`. Is there a Python alternative which can help with model serialization in FP16 in runtime? I.e. we need this option when load ONNX model from buffer and wanted save in IR by the following code:
[code]

[2022-03-28 08:27] wangleis commented on #11248
Hi @ZachL1,

In 2022.1 release, AUTO only support model caching with CNN network input.

Model_path input will be support by AUTO in following release.

Thanks,
Wanglei

[2022-03-28 09:07] ZachL1 commented on #11248
Hi @wangleis

Great, just like you said, using the CNN network input worked!

Thank you all, great OpenVINO!

[2022-03-28 09:12] Parradox27 commented on #11205
Hi @ilya-lavrenov
I have downloaded, compiled and tested the fix, however, the issue still persists in Python. However, now I compiled the debug version to try to identify the exact issue and here is the stack trace:

[code]

It seems like the program crashed on simple string reallocation, which does not really make sense for me. It is also worth noting that in Release, the Inference Engine initia

[2022-03-28 10:33] SiegfriedIppischSecuriton opened #11262 "[Bug] Exception when switching between Myriad and CPU execution: Failed to allocate graph: NC_ERROR"
##### System information (version)
- OpenVINO => 2021.4.582
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Inference
- Model name: person-detection-retail-0013

##### Detailed description
We discovered an exception from OpenVino in some particular cases. Initially this happened while testing with our production-like test-hardware an

[2022-03-28 11:51] JohnLeFeng opened #11268 "How to convert the output tensor from FP16 to FP32 w/ ov 2.0 C++ API"
Hi There,

Sorry for asking a question by filing an issue by **BUG** label (Really sorry about that), currently, I met a problem during converting the output tensor from FP16 to FP32 in OV 2.0 C++ API.
As the inputted model is a compiled model which is for VPU, I cannot do any changes to this model. Therefore, I am trying to convert the type in runtime during the process of the output, however, I

[2022-03-28 12:12] krishyadav007 commented on #11121
Ok sure, I will test the updated nbs and tell.

Is there an example on Colab?

[2022-03-28 13:11] ilya-lavrenov commented on #11256
@dkurt is it possible to such conversion via `openvino.tools.mo` API? Do you think extending MO Python API is more proper way instead of exposing some transformations?

[2022-03-28 13:22] dkurt commented on #11256
I think that should be available without MO API. In C++ there is an nGraph pass which is not exported to Python API.

[2022-03-28 13:28] ilya-lavrenov commented on #11268
Hi @JohnLeFeng

If you have `f16` data stored in tensor, you need to access it as `f16`:

[code]
So, you need to convert this data manually to `FP32` once you get it from tensor.
If you are able to affect model compilation process, use [Optimize Preprocessing](https://docs.openvino.ai/latest/openvino_docs_OV_Runtime_UG_Preprocessing_Overview.html) guide - you can specify desired precisions and dat

[2022-03-28 14:23] mvafin commented on #11156
Thank you @ZachL1. I can reproduce the issue, I will update you when the fix is prepared.

[2022-03-28 15:22] GlebKazantaev commented on #11256
@dkurt transformation python API is currently limited in OV and full support will be available only in 22.2.
For your particular use case I can suggest only one approach, but please consider that this is our private python API which can be changed during releases.
[code]

[2022-03-28 15:23] slyalin commented on #11256
@dkurt, I believe you need to call `compress_model_transformation` instead `ConvertFP32ToFP16`. @GlebKazantaev will provide more details.
But anyway such functionality is going to be available in `mo.convert` eventually as one of the arguments. This is going to be a dedicated user-side API.

[2022-03-28 16:32] dkurt commented on #11256
Many thanks! Closing that issue

[2022-03-28 19:48] jgespino commented on #3823
Python3.9 is now supported on OpenVINO 2022.1, please see the [release notes](https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes.html) for more information.

[2022-03-28 19:48] #3823 closed

[2022-03-29 03:21] jgespino commented on #10926
@Mateusz5116 Correct, the runtime package you download is not built for aarch64 which is why you need to built from source. What is the cmake command you used to build OpenVINO on your aarch64 system? When you have a successful built are you using OpenVINO with Python or C/C++. What is the exact error you are seeing?

[2022-03-29 06:52] nosovmik commented on #11205
Hi @Parradox27,

This crash on string reallocation looks very strange, this piece of code is responsible for finding available 'model conversion' plugins, like IE converter, ONNX converter, etc. Seems like path where these plugins are searched is corrupted or maybe it contains some special characters.

While we're trying to reproduce your issue locally, could you please extract the following infor

[2022-03-29 07:35] Parradox27 commented on #11205
Hi @nosovmik,
Thanks for your suggestions. However, these variables seem to be set correctly, as path in function `list_files` points to `/home/user/devel/openvino/install/runtime/lib/intel64` and variables `s1` and `s2` are set to `/home/user/devel/openvino/install/runtime/lib/intel64` and `pcie-ma2x8x.mvcmd` respectively. I have tried to test this on multiple systems with different Linux distrib

[2022-03-29 07:36] JackTCLi opened #11293 "Pyinstaller issue with Openvino 2022.1"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => Winodws 64 Bit
- Virtual environment => Anaconda 4.9.2
- Python => 3.8.12
- Installation => From PyPI (pip install openvino)
- Problem classification => Openvino Inference Engine
- Model name: Mobilenetv3 (From Torchvision)
- Pyinstaller => 4.10

##### Detailed description

I use the latest openvino runtime (A

[2022-03-29 08:31] #11256 closed

[2022-03-29 12:52] mletavin commented on #10890
The PR containing the fix is https://github.com/openvinotoolkit/openvino/pull/11304

[2022-03-29 13:01] ilya-lavrenov commented on #11293
Hi @JackTCLi

I am not familiar with `.spec` file syntax to create PyInstallers, but looks like that such installer does not contain all the necessary libraries needed to read the model and perform inference. See [local distribution](https://docs.openvino.ai/latest/openvino_docs_deploy_local_distribution.html#reading-models) guide to understand what libraries are needed for your case. Based on the

[2022-03-29 17:05] kchen1024 commented on #11203
Thanks, it works using Openvino 2022.1. By the way, I find it can not be run at discrete only driver but can work with i+d env. Is this by design? or need other settings?

[2022-03-29 19:36] nosovmik commented on #11205
Hi @Parradox27 ,
Variables are good, seems like there could some compatibility issue which causes such strange corruption. I'm able to reproduce the issue using your code snippet, but I see it in 'openvino_intel_cpu_plugin.so' as you stated in initial message.
Disabling linking with TBB in your application helped for me, can you please try to disable TBB on your side in your application's CMakelis

[2022-03-29 20:28] vollebreggie commented on #11213
I tried a distilled model `OthmaneJ/distil-wav2vec2` from the wav2vec2 model. This model is 45% smaller, but it was still unable to run on the raspberry.

[2022-03-29 20:44] vollebreggie commented on #11213
Other models like `facebook/wav2vec2-base-960h` also don't run. I'm afraid my hardware is just not strong enough. @dkurt Do you have any recommendations for single board computers that might support these models?

[2022-03-29 20:47] vollebreggie commented on #11213
The solution @dkurt provided did solve the dynamic shape problem. I'll close this issue

[2022-03-29 20:47] #11213 closed

[2022-03-29 22:01] jgespino commented on #4352
Per [VPU documentation](https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_VPU.html#doxid-openvino-docs-o-v-u-g-supported-plugins-v-p-u), OpenVINO does not support YOLO v1 on NCS 2.

[2022-03-29 22:01] #4352 closed

[2022-03-29 22:06] jgespino commented on #670
@azhogov Is this issue still actual or can we proceed to close?

[2022-03-29 22:07] jgespino commented on #435
Closing, please re-open if additional assistance is needed.

[2022-03-29 22:07] #435 closed

[2022-03-29 22:07] #286 closed

[2022-03-30 00:44] Iffa-Meah commented on #11262
Hi @SiegfriedIppischSecuriton ,

it's recommended for you to use the official OpenVINO [Hello Classification C++ Sample](https://docs.openvino.ai/latest/openvino_inference_engine_samples_hello_classification_README.html) as a base for your own project.

This is the easiest & fastest way to ensure all dll/libraries are properly where you don't have to do that manually. Besides, the sample applicati

[2022-03-30 02:28] JackTCLi commented on #11293
Hi @ilya-lavrenov

After bundling `openvino_ir_frontend.dll` and `openvino_intel_cpu_plugin.dll` into the EXE file, it works!

Thank you for your help,
Jack

[2022-03-30 05:40] ilyachur commented on #670
nGraph unit tests enabled for Windows, so I am closing the issue.

[2022-03-30 05:40] #670 closed

[2022-03-30 06:01] Asthestarsfalll commented on #11058
Thank you very much for your help!
I am also very sorry for disturbing you!
I test on other device, and the results are normal.
So I reinstall the openvino and openvino-dev with pip . The converted openvino model works well !

[2022-03-30 08:05] Parradox27 commented on #11205
Hi @nosovmik,
Thank you very much for your assistance in resolving this issue, removing TBB worked for me as well and it is not required in our project anymore.

However, it is strange that there is a compatibility issue, since I have used TBB which has been compiled along with openvino (located in 3rdparty directory) and ensured that it is used with `ldd libtest.so`.

In our case, the issue is th

[2022-03-30 08:24] SiegfriedIppischSecuriton commented on #11262
Hi @Iffa-Meah,

Thank you for looking into our problem.

The code uses the ReadNetwork() and LoadNetwork(), as shown in the hello_classification sample. I just wanted to provide you a minimal example to reproduce the exception. So evereything with input/output preparing and runnung the inference was removed. But it seems to be neccesary that CPU and MYRIAD is both involved to get to this exception

[2022-03-30 08:49] mistoFENG opened #11328 "RuntimeError: Reduce node with name '493' has not found jit_uni_reduce_post_kernel_f32"
OpenVINO=> 2022.1

converte the resnet50-pytorch model to onnx

[code]
convert onnx to xml

`mo --input_model resnet50.onnx --output_dir output/ `

Using the following script, getting an error
[code]
[code]
Looking forward to your answer!!!  in addition, testing the VGG model will not report this error

[2022-03-30 08:50] dtoya opened #11329 "[Bug] Mismatch in layout between model and code in hello_reshape_ssd.py"
##### System information (version)
- OpenVINO => 2022.1.0
- Operating System / Platform => Ubuntu 20.04 64bit
- Problem classification: sample code
- Model name: ssdlite_mobilenet_v2

##### Detailed description
I observed an error when I run [hello_reshape_ssd.py](https://github.com/openvinotoolkit/openvino/blob/master/samples/python/hello_reshape_ssd/hello_reshape_ssd.py) in openvino sample by fo

[2022-03-30 08:52] nosovmik commented on #11205
@Parradox27 great news! Thank you too for your quick responses!

I'll close this issue and we'll track potential problem with TBB compatibility internally

[2022-03-30 08:52] #11205 closed

[2022-03-30 09:27] #11293 closed

[2022-03-30 11:12] dmitry-gorokhov commented on #11328
@mistoFENG Could you please provide HW configuration details on which the issue is reproducible?

[2022-03-30 11:12] vladimir-dudnik commented on #11329
@mgrdv could you please take a look at this issue?

[2022-03-30 11:19] dkurt opened #11338 "[Bug] Silent Windows setup"
In previous releases, the following command can be used for silent install of OpenVINO distribution on Windows:

2021.4: https://registrationcenter-download.intel.com/akdlm/irc_nas/17987/w_openvino_toolkit_p_2021.4.582.exe
[code]
Installs at `C:\Program Files (x86)\intel\openvino_2021.4.582`

However 2022.1 release installs nothing:
https://registrationcenter-download.intel.com/akdlm/irc_nas/18618

[2022-03-30 12:03] dkurt commented on #11338
Correct command:
[code]

[2022-03-30 12:03] #11338 closed

[2022-03-30 12:05] mistoFENG commented on #11328
The error appeared in centos8.3, But I just tested it on ubuntu20.04 and no errors were reported. Maybe the interface is affected by the system?

[2022-03-30 13:01] dmitry-gorokhov commented on #11328
@mistoFENG Thanks, Could you please also share your CPU spec (like "lscpu" log) for both centos and ubuntu machines?

[2022-03-30 16:23] #11268 closed

[2022-03-30 17:14] vixadd opened #11351 "[Bug] ie_api.pyx:357: RuntimeError: dimension (4) in node dim must be a non-negative integer: at offset"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => Ubuntu 20.04
- Compiler => gcc/g++ (GNU)
- Problem classification: IECore (read_network) Model Instantiation
- Framework: ONNX (if applicable)
- Model name: Custom Model

##### Detailed description
I have a custom-built ONNX model that I've created using tools that come from OpenVino 2021.4 version. This custo

[2022-03-30 17:26] vixadd commented on #11351
**UPDATE**
 - [ x ] There is reproducer code and related data files: images, videos, models, etc.

I'm seeing the error when I try to work with this onnx file and do the model optimization on it.

[code]

[code]
I can't attach the onnx file for some reason. I think you can download a ResNet50 onnx file.

[2022-03-30 17:39] vixadd commented on #11351
**ANOTHER UPDATE - POSSIBLE SOLUTION**

If I remove my tensorflow import at the top of the file, everything works again. It seems that the conda intel channel tensorflow has been updated in the past few days. I think this is still a bug because I need tensorflow in the framework, but there seems to be an issue with importing tensorflow and running the read_network function.

Openvino Devs: Check t

[2022-03-30 18:24] mgrdv commented on #11329
@dtoya , hello_reshape_ssd sample is designed to support models with NCHW layout, this is not a universal tool. If you need a universal app then please use the OMZ demo.

[2022-03-31 04:21] Iffa-Meah commented on #11262
To check voltage/current, you can use the USB multimeter or by downloading 3rd party software. You may refer [here](https://beebom.com/how-check-power-output-usb-ports-windows-10/).

Both CPU and MYRIAD have their own plugin that is required to be loaded in the inferencing process. It's best to use the official sample app/code/demo (as I mentioned before), because they had been designed with the p

[2022-03-31 04:38] HarshSharma12 opened #11356 "[Bug] Ccompile tool is not available as part of the pip package"
##### System information (version)
- OpenVINO => 2022.1.0
- Operating System / Platform => Ubuntu 20.04 LTS

##### Detailed description
I installed openvino-dev from pip and the compile_tool is not included. According to the [documentation](./tools/compile_tool/README.md), it is supposed to be present in `<INSTALLROOT>/tools/compile_tool` directory. But, the directory is missing (screenshot attach

[2022-03-31 04:39] ilyachur commented on #11203
@vladimir-paramuzov Could you answer on the question about GPU?

[2022-03-31 06:19] vishal-opt commented on #11293
Hi @JackTCLi

i also facing the same problem. How you bundle openvino_ir_frontend.dll and openvino_intel_cpu_plugin.dll when creating exe file ?

[2022-03-31 06:23] vissha commented on #11293
Hi @JackTCLi

i also facing the same problem. How you bundle openvino_ir_frontend.dll and openvino_intel_cpu_plugin.dll when creating exe file ?

[2022-03-31 06:51] dmitry-gorokhov commented on #11328
@mistoFENG  Seems like your are using VM with maximum available ISA equals SSE2 (most likely default KVM behavior to support heterogeneity). Minimum supported ISA for OpenVINO CPU is SSE42: https://docs.openvino.ai/latest/openvino_docs_OV_UG_Working_with_devices.html. So my recommendation is to change your VM properties.
On the other hand we are still trying to keep OV execution functional on olde

[2022-03-31 07:10] mistoFENG commented on #11328
OK, @dmitry-gorokhov , thanks for your answer, I can use it on a higher instruction set

[2022-03-31 10:26] ilya-lavrenov commented on #11356
Hi @HarshSharma12

Could you please describe the scenario why do you need compile_tool in pip?

Thanks,
Ilya.

[2022-03-31 10:28] ilya-lavrenov commented on #11351
@slyubimt could you please have a look?

[2022-03-31 11:26] XGZhang11 opened #11371 "The 2022.1 version has higher latency on a quantized model than the 2021.4 version"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

I quantized the hifigan model using "create_pipeline" of  openvino.tools.pot of 2022.1 version. Then i got the "latency=92ms" using benchmark_app. But when i using "create_pipeline" o

[2022-03-31 11:32] brmarkus commented on #11371
Can you check the newly introduced command line parameter "-hint", please? OpenVINO v2022.1 introduced "performance hint modes".
You might check the detailed description here (for the C++ variant of benchmark_app): https://docs.openvino.ai/latest/openvino_inference_engine_samples_benchmark_app_README.html

[2022-03-31 11:46] XGZhang11 commented on #11371
I got the same latency as "97ms" when i using "-hint latency". The full command line is "benchmark_app -m optimized/torch-jit-export.xml -api sync -nthreads 4 -hint latency"

[2022-03-31 11:53] ilya-lavrenov commented on #11329
is it states on sample documentation?

[2022-03-31 11:55] XGZhang11 commented on #11371
It's much faster when i set "-hint none". Thank you very much!

[2022-03-31 12:01] #11371 closed

[2022-03-31 12:50] gusye1234 opened #11375 "OpenVINO downloading pages ERROR"
I tried to download a released version of OpenVINO. But the download link on the official website of OpenVINO is failing.
The [latest version](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_linux.html) of the website and the [2021.4](https://docs.openvino.ai/2021.4/openvino_docs_install_guides_installing_openvino_linux.html) version both offered a [failing page](h

[2022-03-31 14:27] ilya-lavrenov commented on #11375
@xu-yuan1 could you please have a look?

[2022-03-31 15:06] Deep-learning999 opened #11382 "device_name changed gpu error[Bug]"
![Uploading Screenshot_20220331_225553.jpg…]()

##### System information (version)
<!-- Example
- OpenVINO => 2022.1
- Operating System / Platform => Ubuntu18.04
- Problem classification: Model Conversion
- Framework: pytorch (if applicable)

[2022-03-31 15:36] vixadd commented on #11351
Thank you for taking a look @slyubimt - I'm using Tensorflow v. 2.8.0 from the intel channel on conda.

[2022-03-31 17:33] js333031 commented on #10735
I don't see the error with 2022.1.0. Thank you!

[2022-03-31 18:20] ilya-lavrenov commented on #11382
@Deep-learning999 could you please re-upload the picture?

[2022-03-31 18:45] ilya-lavrenov commented on #11371
@XGZhang11 could you please provide a full command which gives you best performance?

[2022-04-01 00:02] dtoya commented on #11329
Hi @ilya-lavrenov, yes, the model is used in the sample documentation. If the code will not be changed, the model should be  changed to avoid confusing users. (C++ version is using different model.)

[2022-04-01 01:35] JackTCLi commented on #11293
Hi @vissha,
You can add these files by using --add-data command option, or by adding them as a list to the spec file.

[2022-04-01 02:32] xu-yuan1 commented on #11375
This link: https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html is referenced in documentation and is working. I think the real issue is about why is that link not working and should report this issue to the website team (marketing maybe?).

[2022-04-01 04:25] gusye1234 commented on #11375
Oh, shot...
This page works for me too now. But this page's UI style changed a lot from what I remembered.
I think this issue can be closed now. Thanks

[2022-04-01 04:25] #11375 closed

[2022-04-01 06:10] slyubimt commented on #11351
@andrei-kochin , @akuporos  Can you look at this issue from the perspective of used tensorflow version?

@vixadd Can you provide more info on Python version used and IR version of the model?

[2022-04-01 06:18] XGZhang11 commented on #11371
The full command is  "benchmark_app -m optimized/torch-jit-export.xml -api sync -nthreads 4 -hint none". And the latency is 54ms.

[2022-04-01 06:26] brmarkus commented on #11356
Some install OpenVINO via "software.intel.com", some install OpenVINO via "pip". Can't it be assumed that both ways result in the same "development environment", including tools for e.g. compiling XML&BIN IR-models into a blob?
If "compile_tool" won't be installed via "pip install -U openvino-dev", is there another "pip-package" which contains it?

[2022-04-01 06:45] eaidova commented on #11121
@krishyadav007 any updates from your side?

[2022-04-01 09:30] malixian opened #11395 "Are there plans to support dpc++ or oneAPI ecology？"
I think there are two necessities to support dpc++ or oneAPI ecology：
1. Support user customized Op；
2. Implement end-to-end optimization between graphs and operators, similar to tvm.
3. suppport oneDNN to supply differnet DNN libraries from hardware vendors.

Is my idea reasonable?  Does openvino also have a corresponding development plan?

Thanks.

[2022-04-01 11:36] ilya-lavrenov commented on #11371
@vladimir-dudnik @fzhar could you please have a look why `none` hint provides better performance than `latency`?
@myshevts supposes that issues with BA itself

[2022-04-01 17:43] jgespino commented on #9527
@hyperfraise

Thank you for using our official OpenVINO™ Performance Benchmark web page as intended. We want to show how OpenVINO™ performs on different hardware platforms and have chosen to label these by using the installed CPU SKU as a differentiator. We’ve grouped the CPU SKUs according to processor family with Xeons as Server group, Cores as Client group and Atom/Celeron as Entry group. Withi

[2022-04-02 00:50] Averen19 commented on #7726
Hello @besmaGuesmi, did you manage to get it running on RPi? Would you mind sharing your demo.py code if it works?

[2022-04-02 08:11] ilya-lavrenov commented on #11395
@malixian could you be more specific?

[2022-04-02 08:26] malixian commented on #11395
Specifically, I would like to know whether openvino has the ability to do the following things, or be supported in the future？

First. For example, will openvino support the operator implemented the dpc++ programming model?

Second. Will learn from some tvm ideas for code generation? For example, the integrated operator is not implemented in the library. Can it be automatically generated by the co

[2022-04-02 08:37] ilya-lavrenov commented on #11395
We are thinking about this, but we need to covers more HW, because currently DPC++ supports only CPU and GPU, while OpenVINO supports more

We have fused operators on CPU implemented via https://github.com/openvinotoolkit/openvino/wiki/SnippetS

OneDNN already is underneath for CPU and GPU plugins

[2022-04-02 08:47] malixian commented on #11395
I don't quite understand this problem, OpenVINO's support for different devices should be OpenCL, while DPC++ supports OpenCL. So why it's necessary to cover more HW.

[2022-04-02 08:52] ilya-lavrenov commented on #11395
It's not a problem, this is our desire to have unified solution for writing extensions for all HW.
We don't have just a goal to have DPC++ extensions - why they are needed? We already have extensions for [CPU and GPU](https://docs.openvino.ai/latest/openvino_docs_Extensibility_UG_Intro.html).
Adding just one more way to write code for GPU is not what we want, because OpenCL already covers this.

[2022-04-02 08:54] malixian commented on #11395
Thanks for your replay

[2022-04-02 08:54] #11395 closed

[2022-04-02 09:07] krishyadav007 commented on #11121
Thank you, it was extremely helpful

[2022-04-02 09:07] #11121 closed

[2022-04-02 23:24] #11382 closed

[2022-04-03 02:58] vyang2968 opened #11417 "Error when reading custom trained model"
I have trained a custom SSD_MobileNet V2 FPNLite 320x320 model and I was successfully able to export it using the Model Optimizer.  I am trying to get the Inference Engine on Raspberry Pi 4 with Neural Compute Stick to read my exported model through the code
[code]
which throws error
[code]
I will be more than happy to provide any files or any other information.
Thanks in advance.

[2022-04-03 21:30] Killerkiwi2005 commented on #11417
Getting the same issue I think the mo is creating a newer xml version then the precompiled openvino version supports..

[2022-04-04 04:03] ilyachur commented on #11417
@vyang2968 Could you share IR file?

[2022-04-04 04:59] vyang2968 commented on #11417
Export from Model Optimizer:
[ssd_mobnet_openvino.zip](https://github.com/openvinotoolkit/openvino/files/8406783/ssd_mobnet_openvino.zip)

[2022-04-04 05:10] brmarkus commented on #11417
From "saved_model.xml" in your ZIP-file it looks like the model is in IR version "11":
    <?xml version="1.0" ?>
    <net name="saved_model" version="11">
        	<layers>
Do you run the Model-Optimizer from the same OpenVINO installer (on the same machine) as you actually want to run your application?
It looks like you used a Model-Optimizer from a newer version of OpenVINO (supporting IR versi

[2022-04-04 05:11] vyang2968 commented on #11417
Taking into consideration what @Killerkiwi2005 said, OpenVINO on my Raspberry Pi 4 with 32-bit Buster OS is in OpenVINO 2021.4.752 as that is the latest version I could find for it. However, I converted my SSD MobileNet model with OpenVINO 2022.1, the latest version. The differences in version may be a problem.

I attempted to take a shot at this by downgrading to OpenVINO 2021.4.2 and converting

[2022-04-04 05:15] vyang2968 commented on #11417
\

I used Model Optimizer on Colab with `pip install openvino-dev[tensorflow2]` which uses OpenVINO 2022.1. I don't believe I can use Model Optimizer on Raspberry Pi because it doesn't come in the installation.

[2022-04-04 05:34] ilyachur commented on #11417
@vyang2968 2021.4 release of OpenVINO doesn't support IR v11.
You use v11 IR, to load it please use OpenVINO 2022.1

[2022-04-04 05:38] vyang2968 commented on #11417
How can I use Model Optimizer to export my Tensorflow model so that it will work for Raspberry Pi 4 OpenVINO 2021.4.2?

[2022-04-04 06:27] ilyachur commented on #11417
@vyang2968 Please use MO from the OpenVINO 2021.4 distribution.

[2022-04-04 07:58] vladimir-paramuzov commented on #11203
@kchen1024 what kind of error do you observe for discrete gpu with 22.1 release?

[2022-04-04 15:16] #10890 closed

[2022-04-04 18:51] dennex opened #11445 "Converting a trained model for inference but using Training=True"
I have trained a Pix2Pix network using Keras Tensorflow, following this tutorial. The Pix2Pix uses Instance Normalization, such that when doing inference, we would need to have the Instance Normalization layers (batch norm for batch size of 1) to compute the sample mean and variance. In Tensorflow, I would call the forward as pred = model(x, training=True). The model is the generator part of the P

[2022-04-04 21:13] #10633 closed

[2022-04-04 22:03] jgespino commented on #10926
Closing, please re-open if additional assistance is needed.

[2022-04-04 22:03] #10926 closed

[2022-04-05 04:23] vyang2968 commented on #11417
Thank you all for your responses. They were of great help to me. I got it all figured out and I was able to convert my model successfully. The issue I described previously with the model from the Tensorflow Model Zoo converting and my custom model not converting seems to be a one-time occurrence. I retrained my model and I was able to convert it successfully.  I use the command `mo --saved_model_d

[2022-04-05 04:23] #11417 closed

[2022-04-05 09:42] rkazants commented on #11445
@dennex, can you provide your trained model please? I will take a look. Sometimes the saved model contains operations with `is_training=True` and MO converts these operations as is, taking this attribute into account.

[2022-04-05 09:54] Averen19 opened #11458 "[Bug] Unable to run custom YOLOv5 with Raspberry PI and NCS2"
HI,
I'm trying to run my custom YOLOv5s model on a RPI4 with NCS2, I have converted the model using the default export.py file from Ultralytics, I tried to do inferencing on PC before moving to RPI and I get such an error. Do you think you can help me with this? Or maybe you can send a demo code to do inferencing with the YOLO model? The following is also the code I used to do detection.

![image]

[2022-04-05 10:00] brmarkus commented on #11458
Not that long ago, in the Ultralytics repo support for OpenVINO was added:

https://github.com/ultralytics/yolov5/pull/6057 "OpenVINO Export"  (Dec 22, 2021)
https://github.com/ultralytics/yolov5/pull/6179 "Add OpenVINO inference" (Jan 4, 2022)
https://github.com/ultralytics/yolov5/pull/6739 "YOLOv5 v6.1 release" (Feb-22, 2022)

[2022-04-05 10:18] Averen19 commented on #11458
Yes, I have tried running using the detect.py provided by Ultralytics using the xml file and it works. But I would like to use it with an NCS2, do you have any suggestion as to implement the integration with this intel hardware?

[2022-04-05 10:27] brmarkus commented on #11458
Can you use your NCS2/MyriadX successfully in your environment for other models - just checking whether everything is installed properly (like in Linux environments to install a specific UDEV-rule first).
Can you run any other model - it needs to be in FP16 precision - with your NCS2, using any of the OpenVINO or OpenModelZoo samples&demos? (like using `benchmark_app [...] -m FP16/my_model.xml -d

[2022-04-05 10:45] mandrono commented on #11058
@Asthestarsfalll sorry for delay in response.
Could you clarify some moments please?

On which device have you tested? GPU?

After reinstallation model works well on CPU?

[2022-04-05 12:57] Averen19 commented on #11458
Yes, I have tried using the demos provided by OpenVino,  and it works. But I'm wondering if its possible to make yolov5s detect.py be compatible with ncs2? or do I have to put the xml file in the openvino2021 folder and create another script to run object detection?

[2022-04-05 16:19] dennex commented on #11445
[saved_model.zip](https://github.com/openvinotoolkit/openvino/files/8420015/saved_model.zip)
Here's my TF saved model. You'll need to change the extension to .pb

I've actually found the same thing:
- converted to pbtxt for readability, looking through the file, I see layers of FusedBatchNormV3 with the is_training parameter set to false.
`attr {
          name: "is_training"
          type: "bool

[2022-04-05 16:41] vixadd commented on #11351
Python version is 3.8.11. Using intel-python
[GCC 9.3.0] :: Intel Corporation on linux.

IR Version of OpenVino: At the top of my XML file it has:
[code]
I assume that means IR version 10.

[2022-04-05 17:38] rkazants commented on #11445
@dennex, I think we can close this ticket because you have seemed to find a workaround. Now there is no possibility to specify `is_training` value through MO for TF2 models.
It looks like more a feature request. Do you know how often this feature is needed?

Best regards,
Roman

[2022-04-05 17:46] dennex commented on #11445
Agreed, I was hoping it was a hidden feature I was not able to find in the documentation.
How often:
- using a model in inference with "training=True" seems recommended everywhere where instance normalization is used, which is recognized as an improvement for style transfer and image translation GANs. As those types of models get more popular and move from an R&D environment to field applications

[2022-04-05 17:46] #11445 closed

[2022-04-05 19:22] jgespino commented on #10681
Hi @SiChuanJay The inference results are the same on the latest release 2022.1, see attached video. Would you mind sharing your onnxruntime inference code?
[video.zip](https://github.com/openvinotoolkit/openvino/files/8421265/video.zip)

[2022-04-05 20:47] jgespino commented on #11458
@Averen19 I was able to export the yolov5s model using `python export.py --weights yolov5s.pt --include openvino` from the ultralytics repository. Using the benchmark_app I was able to run inference on CPU and MYRIAD (Intel NCS 2).

The following may help you write your script to run inference.
https://github.com/violet17/yolov5_demo/blob/main/yolov5_demo_OV2021.3.py

[2022-04-05 22:49] jgespino commented on #10938
Closing, please re-open if additional assistance is needed.

[2022-04-05 22:49] #10938 closed

[2022-04-05 22:51] jgespino commented on #4374
@Drizshko Could you provide some insight as to why you need to build OpenVINO using XCode? Have you tried building OpenVINO per the [built instructions](https://github.com/openvinotoolkit/openvino/wiki/BuildingForMacOS)?

[2022-04-05 22:56] Averen19 commented on #11458
@jgespino Did you run this code in the openvino 2021.4 folder? Did you change anything from the script? Would it be possible to give a step by step guide on how you did it?

[2022-04-05 23:05] Averen19 commented on #11458
@jgespino This is the result I get when i'm trying to run inferencing. Do you know whats the error?
![image](https://user-images.githubusercontent.com/93975422/161865145-de056cda-8e10-43b2-88f7-19e86027aa39.png)

[2022-04-05 23:48] jgespino commented on #11458
@Averen19 Couple of thigs:

- Converting with export.py from ultralytics repository will use the latest OpenVINO 2022.1 release which the IR will not work with OpenVINO 2021.4
- The demo code I shared expects the model to have a certain output as mentioned in the [conversion steps](https://github.com/violet17/yolov5_demo#convert-onnx-file-to-ir-file).

Please install [OpenVINO 2022 Runtime](https:

[2022-04-06 01:30] Averen19 commented on #11458
@jgespino by using the export.py with --include openvino, I no longer need to use the model optimizer right, or do i only convert to onnx using export.py and use openvino's model optimizer to convert to ir format.

What I have done is to install openvino_2022 and tried running yolov5s.xml directly with export.py. I put in the yolov5_demo_OV2021.3.py and the yolov5s.xml into the openvino file and g

[2022-04-06 01:50] jgespino commented on #11458
@Averen19 Correct, you need to use export.py to convert pt model to onnx. Then use the model optimizer to convert to IR and specify the three outputs as expected by this demo code. If you use the IR file generated by the export.py the outputs are different and you will need to write your own inference script.

[2022-04-06 02:12] Averen19 commented on #11458
@jgespino to use the model optimizer, I would need to get the dev tools build right instead of run time? I tried both and can't seem to find the mo.py file in to do model optimizing.

[2022-04-06 02:15] Averen19 commented on #11458
@jgespino I realized that it might not be a .py file and just input what you wrote and got the following:
![image](https://user-images.githubusercontent.com/93975422/161882219-5a535000-29e0-4e82-b6bd-d122b209d066.png)

[2022-04-06 03:28] Averen19 commented on #11458
Hi, I managed to run the yolov5.xml already thank you very much. However, I am unable to run it with the MYRIAD. My assumptions when installing openvino it comes preinstalled with ncs2 dependencies. This is the results I get when trying to run with Myriad. Also, if I were to implement this on a raspberry pi 4  would I also need openvino 2022? As far as I have found, openvino2022 is not compatible

[2022-04-06 04:22] kchen1024 commented on #11203
<img width="564" alt="error" src="https://user-images.githubusercontent.com/73506371/161894962-67dc6758-b9d1-4570-81ca-bfcc0681a735.png">

Thanks! Please help check this issue which works well in iGPU but failed on dGPU. If you need more information, I can send the model to you.

[2022-04-06 06:07] Averen19 opened #11476 "[Bug] MYRIAD unable to run"
Hello, I'm trying to run a yolov5 model with openvino and NCS2. My assumption with installing openvino is that it comes preinstalled with NCS2 dependencies, but when I'm trying to run with NCS2 I get the following issue:

![image](https://user-images.githubusercontent.com/93975422/161906376-94f7d285-8ed1-4f24-b4df-6501c86bd431.png)

[2022-04-06 07:09] mateusztabaka commented on #11476
Hi, have you tried to run setupvars.bat script before running the inference?

[2022-04-06 07:11] SiegfriedIppischSecuriton commented on #11262
Hi @Iffa-Meah,

The sleep should represent some of our other code. But these timings (with, or without sleep) are somehow important to reproduce the exception.

I was not able to find an example, which uses more than one network per process. Ist this something wich is not supported? Anyways, i try to reproduce this exception within the hello_classification sample.

Looks like the myriad sticks hav

[2022-04-06 07:11] Averen19 commented on #11476
@mateusztabaka  yes I have. I am able to run with my cpu but not with MYRIAD. It seems that the openvino 2022 does not have the inference engine folder which was found in the 2021 version, so I do not know where to install the myriad driver neccessary.

[2022-04-06 09:56] Asthestarsfalll commented on #11058
@mandrono
Hi.
I just install openvino in other computer and convert the onnx model.
The converted model works well on CPU, so I test it on origin computer.
However, the results don't improve.So I reinstall again, and it works.
Maybe the previous way of installing are wrong.

But now I encountered another problem:
I want to use c++ to deploy the above model540, but it comes Unhandled exception at 0

[2022-04-06 14:14] Averen19 commented on #11458
Also, I i managed to convert my pytorch models to openvino format in openvino 2021.4 and am able to run inferencing, although I was unable to use MYRIAD as the device. But for raspberry pi the latest version that I was able to find was openvino 2021.2 and when I try to run the code it shows that I have such an error:
![image](https://user-images.githubusercontent.com/93975422/161995023-fb850d09-3d

[2022-04-06 14:37] Averen19 commented on #11476
Hi, whats the difference between your link and the one available from intel directly [https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html] I tried to download your version but it says I already have the files.

[2022-04-06 14:55] dkurt commented on #11476
Oh, that's the same but just a direct link. I just checked my Windows install can find myriad plugin:
[code]

Can you please share exact commands which are used? Try on a new prompt:
[code]
then verify that OpenVINO Python is from `C:\Program Files (x86)\Intel\openvino_2022`:
[code]
should be:
[code]
(3.8 or other Python version)

[2022-04-06 15:04] Averen19 commented on #11476
I cant seem to find the setupvars.bat found in previous versions of Openvino, and in the 2022 version it doesnt have folders for inference engine or model optimizer either.
![image](https://user-images.githubusercontent.com/93975422/162006053-3ac545e6-202a-4b52-83be-47d632ea2e28.png)

[2022-04-06 15:22] dkurt commented on #11476
Seems like it's not properly installed - try double-click on `w_openvino_toolkit_p_2022.1.0.643_offline.exe` and follow install GUI or by the following command:
[code]

[2022-04-06 15:36] Averen19 commented on #11476
I have tried reinstalling again, and to ensure that I did install with Movidius, the following image can be referrenced.
![image](https://user-images.githubusercontent.com/93975422/162012417-078a5269-0420-4b3a-bcf6-80b6f5700ef5.png)

I tried your example and got the following:
![image](https://user-images.githubusercontent.com/93975422/162012483-7dde429d-92a2-40a7-9cca-87c6e470d297.png)

[2022-04-06 15:50] jgespino commented on #11458
@Averen19 Looks like we missed uploading the OpenVINO 2022.1 package for Raspbian OS. I have reached out to my peers for assistance. In the meantime, you can download [OpenVINO 2021.4.2 package for Rasbian OS](https://storage.openvinotoolkit.org/repositories/openvino/packages/2021.4.2/l_openvino_toolkit_runtime_raspbian_p_2021.4.752.tgz). Please note that you need to match the OpenVINO version tha

[2022-04-06 15:55] jgespino commented on #11476
@Averen19 I will work with you on your original issue here: https://github.com/openvinotoolkit/openvino/issues/11458 for the raspberry pi package. Closing this issue as your MYRIAD issue has been resolved for Windows.

[2022-04-06 16:25] jgespino commented on #11356
@brmarkus The compile tool is a C++ tool that is not part of the pip package and is only available using the offline/online installer as Ilya mentioned. Per the documentation, the compile tool compiles networks for MYRIAD target devices which are also not part of the pip package.

[2022-04-06 20:37] jgespino commented on #11203
@kchen1024 Could you share the graphics driver version and GPU model being used?

[2022-04-06 22:19] HarshSharma12 commented on #11356
If the tool will not be a part of the pip package can we please update that in the docs and mention how to get it?

I was tryng to compile a model for a MYRIAD target device and had no idea how to get it except building the entire package using Cmake.

[2022-04-06 23:39] Averen19 commented on #11458
@jgespino I have installed the 2021.4.2 for Raspbian and I have done the necessary installation for NCS2 dependencies but I get the following error. I have check on windows using the same codes and files it works.
![image](https://user-images.githubusercontent.com/93975422/162091595-41fb1f65-4f06-49fe-84c2-69bb4ecd59d6.png)

[2022-04-06 23:50] jgespino commented on #11458
@Averen19 What is the output of lsusb? After running the install_NCS_udev_rules.sh did you logout or reboot the pi?

Could you verify your NCS 2 has been configured correctly by following the [build and run object detection sample](https://docs.openvino.ai/2021.4/openvino_docs_install_guides_installing_openvino_raspbian.html#build-and-run-object-detection-sample) instructions in the documentation?

[2022-04-07 00:03] Averen19 commented on #11458
I have rebooted the rpi and still have the same issue. Ive tried the example but I'm stuck at this step:`
_./armv7l/Release/object_detection_sample_ssd -m <path_to_model>/face-detection-adas-0001.xml -d MYRIAD -i <path_to_image>_`

I can't seem to find where the path to model is.

[2022-04-07 00:10] jgespino commented on #11458
@Averen19 you have to download the model as described in step 3:
[code]

or you can download it directly:
[code]

[2022-04-07 02:05] Averen19 commented on #11458
@jgespino Ive tried to run the model and get such a problem.
![image](https://user-images.githubusercontent.com/93975422/162105824-07534695-2132-42ef-b009-07ff9091189a.png)

[2022-04-07 02:37] Asthestarsfalll commented on #5581
@Hezhexi2002
hi, do you solve this? I encounter the same problem.

[2022-04-07 02:38] Hezhexi2002 commented on #5581
Not yet:-(

[2022-04-07 04:51] brmarkus commented on #11458
Have you downloaded a model, or copied from another machine?
For an OpenVINO model (in IR-format) you should see at least two files, one XML and one BIN file - the same name only with two different file-extensions, like "face-detection-adas-0001.bin" and "face-detection-adas-0001.xml".
If these two files are in another folder than your application, just provide the full-path of the XML-file.
Examp

[2022-04-07 06:02] Averen19 commented on #11458
Hi, I have tested with the same code using MYRIAD and it works, I managed to get the out_0.bmp, proving that the MYRIAD plugin does work. I retried again with my yolov5 model but I still get stuck with the same result.

![image_2022-04-07_140225](https://user-images.githubusercontent.com/93975422/162130753-f1aab652-3d84-4a19-8883-07a8ebe9e57b.png)

[2022-04-07 06:09] brmarkus commented on #11458
The YoloV5 model is much bigger than e.g. the "face-detection-adas-0001.xml", requiring likely more time to compile the OpenCL-kernels.
Can you create a writable folder like `mkdir -p /tmp/opencl/` and export an ENV variable like `export cl_cache_dir=/tmp/opencl/` and start the application again?
While the applications seems frozen - do you see the content of the folder "/tmp/opencl/" to grow, fil

[2022-04-07 06:21] Averen19 commented on #11458
I have given the yolo model to run for more than five minutes and its still stuck in preparing input. Tp test the writable folder, do you mean to create a folder like this? I've let it ran for five minutes as well and nothing seems to appear.

![image](https://user-images.githubusercontent.com/93975422/162132954-330474cc-ae20-4217-beb3-32cdecb56805.png)
****

[2022-04-07 06:37] brmarkus commented on #11458
Hmm, ok, it's not stuck at loading the model (where the OpenCL kernels would be compiled), but at the previous step, "Preparing inputs".
Can you check the code after the log-message "Preparing inputs"?
Usually the code has loaded the network, was able to get the expected input requirements (like the expected input resolution of 640x640 pixels) - and then reads-in the given file (fire_001.jpg), sca

[2022-04-07 07:11] Averen19 commented on #11458
Hi, I managed to get it to run thank you. However, there are still quite a few issues. I've tried with camera and it is able to detect albeit very laggy, but when I try with images it will show the following, where it says that it is able to run but no result is shown.

![image](https://user-images.githubusercontent.com/93975422/162140648-4ce5a920-96f2-4f10-b1e5-3b07408514f7.png)

Also I tried to

[2022-04-07 08:41] brmarkus commented on #11458
hmm, not sure I understood your response...
You said you got it working? You see it working even with a camera? So, it's working when you use MYRIAD and a local file or with camera? It's working with YoloV5?
Yes, YoloV5 is complex, the throughput will be lower due to complexity - you will not get 30fps with MYRIAD or with a RPI CPU... you would need a more powerful system (or a powerful GPU).

But

[2022-04-07 08:54] kchen1024 commented on #11203
Sure, I have sent the email to you due the weights are a little bit large. Thanks in advance!

[2022-04-07 08:56] Averen19 commented on #11458
What I mean is that no window will pop up to show the inference result with bounding boxes and confidence score as seen below. Also is there a way to save inference result when the detection is done?  Lastly, I would like to change the class name of displayed from # to the actual class name i have made previously from yolo, where should i change that?
![image](https://user-images.githubusercontent

[2022-04-07 09:09] brmarkus commented on #11458
There are other OpenVINO samples, like "https://docs.openvino.ai/2021.4/openvino_inference_engine_ie_bridges_python_sample_object_detection_sample_ssd_README.html", supporting a "labels" file; the application is reading the file, putting the labels in an array/map at startup.

And then, instead of printing the integer "0" like in your example, "#0 77.4 %", using the integer "0" as index (array) or

[2022-04-07 12:31] xiuxiusen opened #11481 "Build open_model_zoo demos falied"
- OpenVINO => 2021.4
- Operating System / Platform => Ubuntu-mate 20.04
- Compiler => gcc
When I use openvino in my rpi 4b ,I tried to build demos with open_model_zoo,but somehow it made some mistakes.The error information is like this.
/home/xiuxiusen/intel/open_model_zoo/demos/human_pose_estimation_demo/include/dlib_face.hpp:26:43: error: ‘dlib’ has not been declared
   26 | extern std::string e

[2022-04-07 12:32] xiuxiusen commented on #11481
- OpenVINO => 2021.4
- Operating System / Platform => Ubuntu-mate 20.04
- Compiler => gcc
When I use openvino in my rpi 4b ,I tried to build demos with open_model_zoo,but somehow it made some mistakes.The error information was followed.
/home/xiuxiusen/intel/open_model_zoo/demos/human_pose_estimation_demo/include/dlib_face.hpp:26:43: error: ‘dlib’ has not been declared
   26 | extern std::string e

[2022-04-07 17:21] shubham162019 opened #11483 "incorrect IR generation"
system info:- Ubuntu 20.04, python 3.8

I have used the model from :- https://github.com/xuannianz/DifferentiableBinarization.git
Using the code below, I load the model weights:-

    `import sys
    sys.path.append("DifferentiableBinarization/")
    from DifferentiableBinarization.model import dbnet
    import keras.backend as K
    import tensorflow as tf
    from tensorflow import keras
    #fr

[2022-04-07 18:49] jgespino commented on #11483
@shubham162019 Since you built OpenVINO from source, most likely you built the latest master branch which is OpenVINO 2022.1. This version will generate IR v11 and may be incompatible with the version of OpenCV you are using. Please share the opencv version? The repo you linked is installing the following versions:
[code]

To confirm the models are working as expected, please try running your mode

[2022-04-07 20:43] js333031 opened #11484 "[Bug] benchmark_app warning while trying to use video as input"
[This link](https://www.intel.com/content/www/us/en/develop/documentation/edge-insights-amr-2022-1-doc/top/tutorials/tutorials-amr/run-openvino-benchmarking-tool.html) and my own attempt at running benchmark_app with input video shows following warning:

`[ WARNING ] No supported image inputs found! Please check your file extensions: bmp, dib, jpeg, jpg, jpe, jp2, png, pbm, pgm, ppm, sr, ras, tiff

[2022-04-07 21:22] jgespino commented on #11484
@js333031 Edge Insights for AMR package includes OpenVINO 2021.4 release. Looking at the benchmark_app from 2021.4 branch, the sample application only supports image and binary file. You can confirm by running` benchmark_app -h`.

https://github.com/openvinotoolkit/openvino/tree/2021.4/tools/benchmark

` -i "<path>"                 Optional. Path to a folder with images and/or binaries or to speci

[2022-04-07 22:54] Averen19 commented on #11458
Yes, I was using a custom pre-trained model, the only thing I changed was the output layers, which I followed Violet's method of setting the output layer above the transpose function.

When I run the code for camera, I am able to get a camera feed. Even thought it is unable to detect my object, I think it is due to the bad camera quality as I am able to detect the objects with Windows.

The proble

[2022-04-07 23:47] jgespino commented on #6952
@jbrownkramer OpenVINO is now downloadable without registration and can be installed in silent mode. Please take a look and see if it this meets your project needs.

https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html

`start /WAIT w_openvino_toolkit_p_2022.1.0.643_offline.exe -s -a --silent --eula accept`

[2022-04-08 00:20] jgespino commented on #11458
@Averen19 Maybe a bug in the code because the following always returns -1
https://github.com/violet17/yolov5_demo/blob/main/yolov5_demo_OV2021.3.py#L268

Try changing it to the following for testing purposes and you should see a window with the image.
`number_input_frames = 1 #if number_input_frames != -1 and number_input_frames < 0 else number_input_frames`

[2022-04-08 05:35] shubham162019 commented on #11483
Hi,
The opencv version the models are being tested on is :-  4.5.5 (obtained from `cv2.__version__`)
The output of `pip list` also confirms the same:- opencv-python-inference-engine 2022.1.5

The output logs for `mo --input_model ../../cv_experiments/model_1.onnx --input_shape [1,736,640,3] -o /datadrive/workspace/onnx2Ir` is as follows:-

Model Optimizer arguments:
Common parameters:
	- Path to t

[2022-04-08 09:01] zulkifli-halim commented on #11481
Hello @xiuxiusen. You can install dlib by using this command:

`pip3 install dlib `

To build Open Model Zoo demos, you can refer to [Build the Demo Applications on Linux](https://docs.openvino.ai/2021.4/omz_demos.html#build-the-demo-applications-on-linux).

[2022-04-08 09:22] mistoFENG opened #11487 "Disable AVX512F Failed"
- openvino version : 2022.1
- CPU : Intel(R) Xeon(R) Gold 6136 CPU @ 3.00GHz
- Operating System : ubuntu20.04

Hi, I want to  disable AVX512 in the CPU, try to build  Open Source OpenVINO, the command is as follows:
[code]
after  the build is successful, I test benchmark of resnet50:
`/openvino/bin/intel64/Release/benchmark_app -m openvino/fp32/resnet50_v1.xml -b 1 -d CPU -pc`
the following is a p

[2022-04-08 09:30] Dandelion111 opened #11488 "Error converting onnx model to OpenVino"
The commands and errors for conversion are as follows:
![image](https://user-images.githubusercontent.com/48303408/162408232-a6db15b2-eace-4ec1-adf9-7045263c5a1b.png)

[2022-04-08 09:37] mateusztabaka commented on #11488
Hi,
what openvino version you use? Can you share the onnx model?

[2022-04-08 09:43] Dandelion111 commented on #11488
Thank you for the response！
openvino version: 2021.2
How can I send the model to you?

[2022-04-08 11:13] mateusztabaka commented on #11488
You can try to upload the model here

[2022-04-08 11:16] js333031 commented on #11484
The benchmark_app in this case is the C++ app, not Python. In any case, was the AMR package using a modified benchmark_app. If you look at the AMR benchmark link provided in original issue submission, the input of the app specified a video whereas the execution of the app ended up using random input data due to video input not supported.  So this issue needs to be brought up to the AMR team.

[2022-04-08 11:19] Dandelion111 commented on #11488
[model.zip](https://github.com/openvinotoolkit/openvino/files/8451336/model.zip)
input-shape [1, 3,320,320]

[2022-04-08 12:25] ZachL1 opened #11489 "import/export model for GPU"
I noticed that CPU and GNA devices support import/export model, while GPU plugin implementation supports only compiled kernels caching.

Compiling the model is very slow when using GPU devices. I got the model cache blob by compiling the model on my own computer using the GPU, and after that the second time I ran the program it was much faster. I would like to use this cache on my friend's compute

[2022-04-08 13:34] Noxi123 opened #11490 "[Bug] Model Optimizer InterpolateTranspose error"
##### System information (version)

- OpenVINO=> 2022.1.0
- Operating System / Platform =>  Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification => Model Optimizer

##### Detailed description
Hello, when using the new version of OpenVINO model optimizer I encountered a problem with network optimization, everything worked in version 2021.2 but not in higher versions. Model Optim

[2022-04-08 20:53] jgespino commented on #11484
@js333031 I meant to link to the cpp sample, my last response applies to the C++ sample as well.

https://github.com/openvinotoolkit/openvino/tree/2021.4/inference-engine/samples/benchmark_app
`-i "<path>"                 Optional. Path to a folder with images and/or binaries or to specific image or binary file.`

I have provided your feedback to the development team for consideration.

Ref. 83961

[2022-04-09 00:02] jgespino commented on #11487
@mistoFENG I built openvino from source without avx512 optimizations and can see the execType: jit_avx512_FP32 when running benchmark_app. According to the documentation, **"Affects only Inference Engine common part and preprocessing plugin, does not affect the mkldnn library"**.

Let me investigate further and get back to you.

[2022-04-09 01:40] ZachL1 opened #11491 "Using OpenVINO in Win32 programs"
I need to build a Win32 dll, using OpenCV and OpenVINO. It seems to be possible to build 32-bit OpenCV from source, but I didn't find anything for OpenVINO. How can I use OpenVINO in my Win32 program?

I noticed #216:

Is it possible for me to build 32-bit OpenVINO? I mean, build exactly as the [tutorial steps](https://github.com/openvinotoolkit/openvino/wiki/BuildingForWindows), but for Microsoft

[2022-04-10 10:48] Averen19 commented on #11458
@jgespino yeah, I'm not sure as to why it doesn't show the inferencing result with images. I'm using the same code on Windows and it works well but when I transfer over to RPi, only the real time camera works but not for images. Do you have any inclination for where the problem lies? Is there any software dependencies that may lead to such error?

[2022-04-11 02:52] xiuxiusen commented on #11481
@zulkifli-halim The command doesn't work.I met some error when I run the command.
ERROR:Could not find a version that satisfied the requirement dlib(from versinos: none)
ERROR: No matching distribution found for dlib

[2022-04-11 07:59] zulkifli-halim commented on #11489
Hi @ZachL1. The GPU plugin does not have the EXPORT_IMPORT capability and does not support model caching yet.

For the kernel cache portability, I’m checking this with the development team for clarification and will get back to you at the earliest.

[2022-04-11 08:00] zulkifli-halim commented on #11481
@xiuxiusen try to run these commands before installing dlib:
[code]

Then rerun the command to install dlib:
` pip3 install dlib`

[2022-04-11 08:07] Iffa-Meah commented on #11490
@Noxi123 ,

I've checked your model with both older (2021.1) version and latest (2022.1) version. I could observe the same result as yours.

The conversion succeed in the older OV version
<img width="926" alt="mo_20211" src="https://user-images.githubusercontent.com/79643476/162692154-ed5ce7a3-395c-4f58-bc11-43b047c527c1.png">

while failed in the latest OV version
<img width="944" alt="mo20221Err

[2022-04-11 09:12] Noxi123 commented on #11490
Thank you very much, I'll wait for your reply.

[2022-04-11 17:00] vleonn opened #11500 "Install OpenVINO on Cortex-A53 (aarch64)"
Hello, I would like to install OpenVINO on the ARM processor of Xilinx US+ MPSoC FPGA.

From what I have seen, there is no ready-to-use docker or installation instructions specifically for aarch64.
The installer option does not work, while building it from source (Linux instructions) stacks at ~45%.

Therefore, I would like to ask for any suggestions/solutions or any comments on this.

Setup:
- AR

[2022-04-11 17:18] mateusztabaka commented on #11488
Your model has dynamism on the first dimension in 'image' input. With such an old version of openvino (2021.2), you should pass --input_shape parameter to model optimizer command line that will specify the shape of the input (e.g. [1, 3, 320, 320]).
Unfortunately I haven't tried that myself, since 2021.2 is pretty old and I wanted to encourage you to update to latest release (which is 2022.1). How

[2022-04-11 18:42] jgespino commented on #11491
@ZachL1 Building OpenVINO from source is only validated on Microsoft* Windows* 10 (64-bit) with Visual Studio 2019. You may be able to compile OV but some features may not be available or work properly. Unfortunately, I don't have access to a 32-bit system to test.

I see there are a couple of commits around win32 on this repository: https://github.com/openvinotoolkit/openvino/search?q=win32&type=

[2022-04-11 18:56] jgespino commented on #11458
@Averen19 Is it possible for you to share your custom model and input image with me? Feel free to attach it here or share privately via email (email is on my profile).

[2022-04-11 20:59] #9527 closed

[2022-04-12 00:51] Dandelion111 commented on #11488
Thanks for guidance!

[2022-04-12 01:06] SWHL opened #11501 "[Bug] axis is not valid for matched Concat with 1D output"
##### System information (version)
- `OpenVINO`:  2022.1.0
- `Openvino-dev`: 2022.1.0
- `Operating System / Platform`: Windows 64 Bit
- `Problem classification`: Model Conversion
- `Python`: 3.6.12

##### Detailed description
When trying to use OpenVINO to directly infer the ONNX model or convert the model to IR format, details are explained below.

##### Steps to reproduce
1. Download the onnx fi

[2022-04-12 02:11] Iffa-Meah commented on #11500
@vleonn ,

As of now, there are 3 options to install OpenVINO:
1. [Install OpenVINO runtime](https://docs.openvino.ai/latest/openvino_docs_install_guides_install_runtime.html)
2. [Build from source (GitHub)](https://github.com/openvinotoolkit/openvino/wiki/BuildingCode)
3. [Install OpenVINO Development Tools (from PyPI)](https://docs.openvino.ai/latest/openvino_docs_install_guides_install_dev_tool

[2022-04-12 05:07] cvDFT opened #11502 "I want to integrate openvino into ffmpeg. Where are the latest header files and library files?"
I want to integrate openvino into ffmpeg. Where are the latest header files and library files? Failed to specify the openino path

root@xh-ROG-Zephyrus-M16-GU603HM-GU603HM:/home/xh/ffmpeg/build# ../configure --enable-libopenvino --extra-cflags=-I/home/xh/intel/openvino_2022.1.0.643/runtime/include --extra-ldflags=-L/home/xh/intel/openvino_2022.1.0.643/runtime/lib/intel64
ERROR: libopenvino not fou

[2022-04-12 06:14] zhentaocc opened #11503 "[Bug] Squeeze requires two inputs"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu 64 Bit
- Problem classification: Model Conversion
- Framework: Pytorch
- Model name: ResNet18

##### Detailed description
According to
https://docs.openvino.ai/latest/openvino_docs_ops_shape_Squeeze_1.html
https://github.com/openvinotoolkit/openvino/blob/master/tools/mo/openvino/tools/mo/ops/squeeze.py#

[2022-04-12 06:24] zhentaocc commented on #11503
With mobilenet v3:
[code]
Error message:
[code]

[2022-04-12 06:50] mateusztabaka commented on #11501
Hi, this is somewhat related to https://github.com/openvinotoolkit/openvino/issues/11488. There is a Concat operator in your model, it takes 1D inputs and has axis=-1 and we don't handle that axis well in one of our transformations.
I believe I have a fix for the bug,  so if you're willing to compile from sources, you can pull my branch https://github.com/mateusztabaka/openvino/tree/issue_11501 an

[2022-04-12 07:20] GuoGuiRong opened #11504 "[Bug] Tensorflow Dynamic Shapes not support in mo?"
##### System information (version)
OpenVINO => 2021.4.1
use
[code]
then return:
 ERROR ]  Input shape "[1..100,587],[1..100,6,50],[1..100,53],[1..100,53]" cannot be parsed.

I refer the doc: https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_Converting_Model.html

[2022-04-12 07:23] brmarkus commented on #11504
Your referenced link to the documentation refers to the latest version, which currently is 2021.1 - supporting dynamic shapes.

You are using OpenVINO v2021.4.1?
Then this is the corresponding documentation:
https://docs.openvino.ai/2021.4/openvino_docs_MO_DG_prepare_model_convert_model_Converting_Model.html
(not supporting dynamic shapes)

[2022-04-12 07:28] GuoGuiRong commented on #11504
thank you, so I need update my openvion to 2022.1. Then Dynamic Shapes will be supported.

[2022-04-12 08:37] Iffa-Meah commented on #11501
Fyi starting from the 2020.4 release, [OpenVINO™ supports reading native ONNX models](https://docs.openvino.ai/2021.1/openvino_docs_IE_DG_ONNX_Support.html).
However, OpenVINO doesn't provide a mechanism to specify pre-processing for the ONNX format.

 You should be able to use the model with OpenVINO without converting them to IR, if the model's framework layer is supported.

The best is to try/v

[2022-04-12 12:30] xiuxiusen commented on #11481
I have solved the question through reinstalling openvino.And I have successfully build open_model_zoo..And the directory omz_demos_build occurs.
I use the intel realsense D435i and NCS2.
I follwoed this link https://docs.openvino.ai/latest/omz_demos_human_pose_estimation_demo_cpp.html. Then I open ~/omz_demos_build/aarch64/Release in the Terminal.
I run the commend ./human_pose_estimation_demo -i

[2022-04-12 16:18] jgespino commented on #11504
@GuoGuiRong OpenVINO is no longer supported on CentOS starting with 2022.1 release. This is mentioned in the release notes for 2021.4.

[2022-04-12 16:30] jgespino commented on #11502
@cvDFT Did you build OpenVINO from source? According to this commit (https://github.com/FFmpeg/FFmpeg/commit/87cb24a1ca4a76e5a5a9969e3058a94d952e1b37) you need to build OpenVINO from source with C library enabled for GPU (`-DENABLE_CLDNN=ON`).

Built instructions can be found [here](https://github.com/openvinotoolkit/openvino/wiki/BuildingCode).

[2022-04-12 20:52] jgespino commented on #11458
@Averen19 Thank you for sharing your model. I was able to run and display the inference results (see attached screenshot) by quickly modifying a couple of lines in the [yolov5_demo_OV2021.3.py](https://github.com/violet17/yolov5_demo/blob/main/yolov5_demo_OV2021.3.py). Please note, this was only done to check that your model was able to run on NCS 2. The changes will break some functionality of th

[2022-04-12 21:36] RakshaRamkumar commented on #11483
@jgespino,

Even I am facing the same issue and error. My system also has the same version of OpenCV(4.5.5) and Openvino2022. The converted IR models are working (checked with benchmark_app) but the "Unknown model format!" error exists.

This error persists even for the models that I downloaded using omz_downloader.

I have also verified that the 'libinference_engine_ir_reader.so' and the 'libinfe

[2022-04-12 22:30] Averen19 commented on #11458
@jgespino I cannot seem to find your screenshot. Did you run this using Windows or Raspberry Pi? I am able to run inference on images on Windows but not for Raspberry Pi, so I'm unsure if its a coding error or software error from OpenVINO.

[2022-04-12 22:34] jgespino commented on #11458
@Averen19 Sorry meant to attach it... I ran it on the Pi. The code is using OpenCV to read the video/image file, can you check if the version on your windows system is the same from the one on your pi?

![2022-04-12-134535_1920x1080_scrot](https://user-images.githubusercontent.com/18014973/163065503-c6672cc0-e47f-496f-9e41-906c139c402f.png)

[2022-04-12 23:21] Averen19 commented on #11458
The version of OpenVINO on my Windows is 2021.4.752 while the one you provided was 2021.4.2, do you think that would affect the inferencing?

[2022-04-13 02:32] SWHL commented on #11501
- I tried compiling openvino from your branch, it did solve my problem. Thanks again.
- One more question, how long will your branch be merged into the main branch and the compiled whl package will be released?

[2022-04-13 03:03] SiChuanJay commented on #10681
Hello @jgespino , I have solved the problem. It is mainly caused by inconsistencies in the color channel of my input image, thanks for your helo.

[2022-04-13 03:03] SiChuanJay commented on #10681
Hello @jgespino , I have solved the problem. It is mainly caused by inconsistencies in the color channel of my input image, thanks for your help.

[2022-04-13 03:04] #10681 closed

[2022-04-13 03:35] AIHHU opened #11509 "[MO] onnx if operand is not supported"
##### Detailed description
ONNX if operand is not supported as in the picture. Are there any solutions to this problem?
![O$8W9D}YXT) 87}0% $MEOV](https://user-images.githubusercontent.com/66868438/163095054-96b2f531-2cb1-47fd-8935-ac7218823fd6.png)

[2022-04-13 05:50] mateusztabaka commented on #11509
Hi, can you update to 2022.1? If operator is supported in that release.

[2022-04-13 06:34] cvDFT commented on #11502
Thank you for your reply. I want to know how to deal with runtime libraries if I want to integrate openvino into my client?

[2022-04-13 07:02] friend045 opened #11510 "[Bug] DynamicToStaticShape transformation for onnx::Slice of type StridedSlice ver. 1 expects DynamicShapeResolver ver. 0 as input with index 0"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: Pytorch -> Onnx -> **OpenVino -> Blob**

##### Detailed description

compile_tool -m model.xml -ip U8 -d MYRIAD -VPU_NUMBER_OF_SHAVES 5 -VPU_NUMBER_OF_CMX_SLICES 5

What is happened?
![image](https://user-im

[2022-04-13 07:32] GuoGuiRong opened #11511 "[Bug]"
##### System information (version)
- OpenVINO => 2022.1.0
I want use POT tool to quantization model to int8, I want use AUC metric in pipeline, so Here is my code:
[code]

[code]
But return error:
[code]

I want know how to conf make my app run

[2022-04-13 07:53] runin27 opened #11512 "[Bug] Results are vastly different after converting a PyTorch model to IR (conversion problem?)"
Hello, I am trying to develop a plant disease detection system through transfer learning. The pre-trained model that I'm using is **ShuffleNetv2 x1.0**. It was successfully modified and trained through **PyTorch** and has made successful inferences with an accuracy of 90+%. However, after converting it to **ONNX** and then to **IR**, it's been giving me entirely different results when using **Open

[2022-04-13 08:14] ZachL1 commented on #11489
@zulkifli-halim thanks!

Just in case you forgot about this, I took the liberty to ask if there was any progress.

[2022-04-13 08:29] tomdol commented on #11491
@ZachL1 could you try compiling with warnings disabled? https://docs.microsoft.com/en-us/cpp/build/reference/compiler-option-warning-level?view=msvc-170

Try using `/w` or `/w0` in your first `cmake` call which should overwrite the warnings globally for the whole project.

[2022-04-13 08:43] ZachL1 commented on #11491
@tomdol I don't think this might make me compile successfully.

I get 11 errors, the first and last two seem to be caused by warnings, and disabling warnings might avoid all three.

However there are a bunch of `error C3861: '_mm_insert_epi64': identifier not found`, which I think is probably unavoidable.

[2022-04-13 09:01] brmarkus commented on #11481
Can you narrow the problem down further, please? Which "connection" gets refused? Can you share log-files or console-output?

Is it related to NCS2 (e.g. missing to install udev-rules for the MyriadX NCS2)?
Is it related to the RealSense device - e.g. will it work with a local video-file or a "standard Logitec USB-webcam"?

[2022-04-13 10:39] tomdol commented on #11491
I've looked around and it seems that officially only the 64-bit version of Windows is supported https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes.html

On the other hand the code which causes errors during your compilation should be switched off on a 32-bit system https://github.com/openvinotoolkit/openvino/blob/master/src/common/preprocessing/cpu_x86_sse42

[2022-04-13 12:19] Averen19 commented on #11458
Im using the include OpenCV version, not custom installed.

[2022-04-13 15:40] jgespino commented on #11510
@friend045 Please share ONNX model and model optimizer command used to convert to IR.

[2022-04-13 16:25] jgespino commented on #11203
@kchen1024 Thanks for sharing the model via email. I have opened a bug with the development team.

Ref. 84059

[2022-04-13 17:06] jgespino commented on #11483
@RakshaRamkumar @shubham162019 OpenVINO 2022.1 release will install OpenCV 4.5.5.64 that does not include the OpenCV DNN module. Since benchmark_app is able to run your models, I don't believe this is an OpenVINO issue.

If you want to use OpenCV DNN module it is recommended to build from source. Alternatively, you could post your question on the opencv-python-inference-engine repo since that is a

[2022-04-13 17:07] #11484 closed

[2022-04-13 19:26] jgespino commented on #11502
@cvDFT I successfully built FFmpeg using OpenVINO 2021.4.2 but same steps failed for OpenVINO 2022.1. I am reaching out to my peers for additional guidance. I will let you know what I find out.

OpenVINO 2021.4.2:
[code]

OpenVINO 2022.1:
[code]

[2022-04-13 19:43] jgespino commented on #11503
@zhentaocc Which version of OpenVINO are you using? I just followed your steps on OpenVINO 2022.1 release and did not see any errors for resnet-18 or mobilenet_v3_small.

[code]

code.py
[code]

[2022-04-13 23:32] zulkifli-halim commented on #11489
@ZachL1. Apologies for the delayed response.

We used benchmark_app to test a model and created _cl_cache_ directory, then copy the directory to another system with similar specs, and the model loaded fast again using the _cl_cache_ directory. Note we copied the cl_cache directory to another system and didn't recompile the model.

You can refer to this [article ](https://www.intel.com/content/www/

[2022-04-14 01:19] friend045 commented on #11510
Sorry, I can't provide the Onnx model, because this is the company's project, the instruction of Onnx convert to IR is as follows.
![image](https://user-images.githubusercontent.com/19499221/163294846-38686eea-eec6-47b3-97ba-a6e0bf16026e.png)

I think the cause of the error should be caused by the ROI.
 roi = img[:,:,ymin:ymax, xmin:xmax]

[2022-04-14 02:11] Iffa-Meah commented on #11510
@friend045 ,
Fyi starting from the 2020.4 release, [OpenVINO™ supports reading native ONNX models](https://docs.openvino.ai/2021.1/openvino_docs_IE_DG_ONNX_Support.html).
However, OpenVINO doesn't provide a mechanism to specify pre-processing for the ONNX format.

Since you can't share the model files, have you verified your native ONNX model with the [OpenVINO Benchmark Python Tool](https://docs.

[2022-04-14 03:04] friend045 commented on #11510
it looks good

![image](https://user-images.githubusercontent.com/19499221/163305340-7c2bade2-7757-4abf-8bdf-b00f8e0ebbdd.png)

[2022-04-14 04:29] Iffa-Meah commented on #11510
Looking at that result, you should be good to run the compile tool with that model.

Try to run the cmd as admin and run the command (don't forget to run the setupvars beforehand):
compile_tool.exe -ip U8 -d MYRIAD -VPU_NUMBER_OF_SHAVES 5 -VPU_NUMBER_OF_CMX_SLICES 5 -m <path_to_onnx>

OR to produce blob file:
compile_tool.exe -ip U8 -d MYRIAD -VPU_NUMBER_OF_SHAVES 5 -VPU_NUMBER_OF_CMX_SLICES 5 -m

[2022-04-14 05:06] friend045 commented on #11510
![image](https://user-images.githubusercontent.com/19499221/163314382-91d93d85-6cb7-4c47-975b-7938b461872c.png)

[2022-04-14 05:07] friend045 commented on #11510
The same problem
![image](https://user-images.githubusercontent.com/19499221/163317512-100ceba5-7b17-4566-b8b8-525cb5681ff8.png)

[2022-04-14 05:08] friend045 commented on #11510
The same problem..
![image](https://user-images.githubusercontent.com/19499221/163317556-1558d75b-cf7c-40f8-88cb-81fc776fabd1.png)

[2022-04-14 05:14] Iffa-Meah commented on #11510
Does the same thing happen if you use these commands:

1. compile_tool.exe -d MYRIAD  -m <path_to_onnx> -o xxx.blob
2. compile_tool.exe -ip U8 -d MYRIAD  -m <path_to_onnx> -o xxx.blob

[2022-04-14 06:06] mrhe13 opened #11517 "[MO]RuntimeError: While validating ONNX node '<Node(Slice): Slice_424>': bad_weak_ptr"
##### Detailed description
I'm try to convert my onnx file to IR files.The Input shape:[1,2,-1,161],so the third dimension is changeable.However i met this:
![bug](https://user-images.githubusercontent.com/79364519/163323973-2b165722-5329-4d9e-a02a-62e7996b0c3f.png)

Why this happen?Thanks!!

[2022-04-14 06:07] friend045 commented on #11510
Yes, they are the same error.

[2022-04-14 07:59] Iffa-Meah commented on #11510
There's a known issue regarding this Dynamic Shape Resolver previously in this particular OpenVINO version (2021.1).
Whenever the model contains a dynamic network, the DynamicShapeResolver will be automatically pushed, especially with the presence of ConvertMinimum.
It would attempt to utilize the Minimum transform even if it's actually not being used.

In 2021.2, this plugin had been disabled, an

[2022-04-14 08:44] mbencer commented on #11517
Hi @mrhe13!
Could you provide the model which causes such a problem?
If your model is protected, could you please at least provide fragment of the model which constains this problematic Slice operator (more details about cutting onnx models you find in https://github.com/onnx/onnx/blob/main/docs/PythonAPIOverview.md#extracting-sub-model-with-inputs-outputs-tensor-names)

[2022-04-14 09:03] jiwaszki commented on #11512
Hi @runin27 ,

Did you try running inference on ONNX model itself? Were your results also around 0%?

I also followed the forum thread attached by you. Are you sure that ` --reverse_input_channels` applies to your case?
Moreover most of users on forum use simple `x=torch.randn((1,3,224,224))` for dummy inputs. Is there a specific reason that transforms need to be applied?

[2022-04-14 09:06] friend045 commented on #11510
Sorry, the information filled in earlier is wrong, my OpenVino is currently using 2022.1 Ver. .

[2022-04-14 11:07] cvDFT commented on #11502
It seems that ffmpeg only supports DNN now. Is that right？

[2022-04-14 11:09] cvDFT opened #11522 "How to quickly preview for others?"
I wrote a demo in Python using openvino runtime. How can I quickly package it into an executable program and share it with others to demonstrate the effect

[2022-04-14 11:13] cvDFT opened #11523 "After changing the model from fp32 to fp16, the reasoning is abnormal"
![image](https://user-images.githubusercontent.com/94675255/163379829-fb881737-cabe-4e2b-beff-9792123d4a5f.png)
![image](https://user-images.githubusercontent.com/94675255/163379883-8b5f0b8c-7f4f-4c93-b835-35ad47c08204.png)

[2022-04-14 11:53] brmarkus commented on #11523
Can you try to rephrase your problem statement, please?

You don't get an error from model-optimizer, right?

Your error is caused by `cv2.resize(pha, (W, H)))`, right?
So, the passed data seem to be wrong... wrong type, wrong structure...

[2022-04-14 11:55] brmarkus commented on #11522
Depending on which version of OpenVINO you are using (latest 2021.1 or older like 2021.4.2), you can check the _OpenVINO Deployment Manager_:
https://docs.openvino.ai/latest/openvino_docs_install_guides_deployment_manager_tool.html

[2022-04-14 12:43] cvDFT commented on #11523
@brmarkus yes，thank you

[2022-04-14 12:46] cvDFT commented on #11522
I know this method, but it doesn't seem to be a simple demonstration method

[2022-04-14 12:48] cvDFT commented on #11522
I know this method, but it doesn't seem to be a simple demonstration method

[2022-04-14 13:06] brmarkus commented on #11522
You application is a Python application and you installed OpenVINO and its dependencies via `pip`?
Have you created a Python virtual environment?

Then you might just get the installed packages of the virtual environment via `pip3 freeze > myrequirements.txt`.

Then you can inform others about to install those requirements in a virtual environment via `pip install -U -r myrequirements.txt` as well

[2022-04-14 17:50] mateusztabaka commented on #11501
I created a PR https://github.com/openvinotoolkit/openvino/pull/11524 and once it's merged it will be included into the next release. But unfortunately I don't have a timeframe at the moment.

[2022-04-14 18:10] runin27 commented on #11512
Hello,

I just tried running inference on ONNX model itself and it works well!

I thought that the transforms needed to be applied to the dummy input as well to get the same parameters. But I have tried using just `x=torch.randn((1,3,224,224))` and have confirmed that they pretty much work the same.

I have tried converting the ONNX model to xml and bin without the `--reverse_input_channels`, and

[2022-04-14 18:21] mateusztabaka commented on #11512
Have you tried with just `mo_onnx.py --input_model "D:\...\shfnetmodel.onnx" --output_dir "D:\...\ShuffleNet” ` (so without mean_values, scale_values and reverse_input_channels) and then running inference on D:\...\ShuffleNet\shfnetmodel.xml model?

[2022-04-14 18:43] runin27 commented on #11512
I think I have tried this with different combinations of conversions in the past and forgot to try this again. I just did and it is working fine now!! Thank you so much @mateusztabaka and @jiwaszki

[2022-04-14 18:43] #11512 closed

[2022-04-14 18:54] RakshaRamkumar commented on #11483
@jgespino ,

Thanks for the clarification.

[2022-04-14 22:14] jgespino commented on #11511
@GuoGuiRong Could you please share a link to the model used and steps taken to quantize the model?

[2022-04-15 00:20] SWHL commented on #11501
Thanks a lot again.

[2022-04-15 00:20] #11501 closed

[2022-04-15 01:50] GuoGuiRong commented on #11511
here is my model file.&nbsp;
I have some questions ：

how to set conf if I want to use the auc limit when use POT，I know the auc is a metric that support in metrics list？

why POT optimized not got ideal performance, quantize and dequantize loss big performance?&nbsp;

what's openvion compiler optimize theory? use MKLDNN with JIT?&nbsp; how it supports dynamic shape. I know the latest openvion has

[2022-04-15 01:51] xiuxiusen commented on #11481
I met some errors when i run the code "make -j 4"
/home/xiuxiusen/openvino/inference-engine/thirdparty/ade/sources/ade/source/execution_engine.cpp: In member function ‘std::unique_ptr<ade::Executable> ade::ExecutionEngine::createExecutable(const ade::Graph&)’:
/home/xiuxiusen/openvino/inference-engine/thirdparty/ade/sources/ade/source/execution_engine.cpp:141:21: error: redundant move in return st

[2022-04-15 02:07] Averen19 commented on #11458
@jgespino The OpenCV version I'm currently using is OpenCV 4.5.3, is this support with this version of OpenVINO?

[2022-04-15 03:10] friend045 commented on #11510
Is there any other way to find the cause of the error? I can convert to .xml and .bin but not .blob .

[2022-04-15 16:43] Dmitry-99 opened #11527 "AttentionOCR inference using OpenVino"
Hello!
I have a question about AttentionOCR model inference using OpenVino. I convert AttentionOCR to OpenVino using the following command:
[code]
 It takes a size tensor (1,1,32,214) as input.

Input example is below:

![image](https://user-images.githubusercontent.com/55949105/163596654-ef8cd0a3-eb7a-44b5-96ad-ad8175906bfc.png)

I load and process the image in a following way:
[code]

Then I loa

[2022-04-16 03:15] #11523 closed

[2022-04-16 03:20] cvDFT opened #11528 "After changing the model from fp32 to fp16, opencv is abnormal"
![image](https://user-images.githubusercontent.com/94675255/163659555-cfc55ab7-acb6-4b39-9f0d-9c71ab6b7dcb.png)
There will be problems with the resize function of OpenCV. Is there a solution？

[2022-04-16 03:43] vyang2968 opened #11529 "[Question] Unsupported Layer Type "FakeQuantize""
I am trying to inference using a Raspberry Pi 4 and NCS2 using a custom-trained SSD MobileNet V2 FPN Lite 320x320 model from Tensorflow. I have successfully converted the SSD model to IR format using the Model Optimizer and am now looking to improve the model even further. As of right now, my model is inferencing at around 7-8 fps max. I know the NCS2 is capable of more because I ran a face detect

[2022-04-16 08:54] #11502 closed

[2022-04-16 16:17] brmarkus commented on #11529
You went through the process of "INT8 quantization" successfully, seems like.
However, those INT8 quantized models (and such fake-quantization) layer types are not supported with MyriadX/NCS2 to my knowledge.

For comparison, do you want to try the model `ssdlite_mobilenet_v2` from OpenModelZoo and check the framerate?

[2022-04-16 16:22] brmarkus commented on #11528
Can you share more of the code and describe your model, please?
It might be missing error-handling in the code prior to trying to call "cv2.resize()".
Can you check the data-type and content of `frame_np`, please? You might check with just displaying the content using something like `cv2.imshow( 'test image', frame_np )`.

[2022-04-16 16:29] brmarkus commented on #11528
Any new insights from your other issue "https://github.com/openvinotoolkit/openvino/issues/11523"?

[2022-04-16 17:41] brmarkus commented on #11481
You might revert back to your previous state where you wrote "solved the question through reinstalling openvino.And I have successfully build open_model_zoo" - using Open-Model-Zoo also in version "2021.3"?
And then focus on the connection-refused problem.

[2022-04-16 18:22] vyang2968 commented on #11529
I ran the ssdlite_mobilenet_v2 from OpenModelZoo and received a framerate of around 7 fps as well. I'm not sure if this is normal or not. The whole point of me attempting to use the Post Training Optimization Tool is to make my inferencing faster. Is there anyway else I can make inference faster if the POT does not work?

[2022-04-16 21:06] vyang2968 commented on #11529
I'm going to close this issue because the problem has been solved and will open an new issue about speeding up models for NCS2. Thank you!

[2022-04-16 21:06] #11529 closed

[2022-04-16 21:17] vyang2968 opened #11530 "[Question] Speeding up inferences on NCS2 on Raspberry Pi"
I have converted a custom-trained SSD MobileNetV2 FPNLite 320x320 model from Tensorflow Saved Model to OpenVINO IR format. I received an throughput of around 7 fps, but I know the NCS2 is capable of a reaching a higher throughput. I attempted to improve the FPS by using the Post-Training Optimization Tool, but the NCS2 does not support the `FakeQuantizeLayer` that comes after quantization. I looke

[2022-04-17 14:49] Jaren-Li opened #11531 "opencv Mat conver to ov::Tensor"
hello,how can I translate cv::mat to ov::tensor in openvino2.0?
thanks

[2022-04-17 19:47] #11527 closed

[2022-04-18 02:56] Iffa-Meah commented on #11262
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-04-18 07:20] brmarkus commented on #11530
Have you tried to run `benchmark_app` with your model - in order to get the "theoretical maximum" (not using image-files and image--decoding, no video-decoding, no other application overhead; only to measure latency and throughput)? And print (report) the performance-counters; with this you could determine the most compute-intensive layers and operations.
Maybe the model is to heavy-weighted?
It h

[2022-04-18 15:42] jgespino commented on #11502
@cvDFT OpenVINO 2022.1 had some major changes, Use the steps below to build FFmpeg for 2022.1 release.

Modify configure file: https://github.com/FFmpeg/FFmpeg/blob/master/configure#L6580
From:
`enabled libopenvino       && require libopenvino c_api/ie_c_api.h ie_c_api_version -linference_engine_c_api`
To:
`enabled libopenvino       && require libopenvino c_api/ie_c_api.h ie_c_api_version -lopenvi

[2022-04-18 18:27] #11504 closed

[2022-04-18 18:29] #11483 closed

[2022-04-18 19:02] #11509 closed

[2022-04-18 19:03] #4374 closed

[2022-04-18 21:02] jbrownkramer opened #11532 "numpy requirements too strict"
The pip install of openinvo requires numpy<1.20 and >=1.16.6.  However, the codebase we have built around an older version of openvino works just fine and uses numpy 1.20.1.

[2022-04-18 21:36] jgespino commented on #11503
@zhentaocc Which version of OpenVINO, torch and torchvision are you using? I am able to reproduce the error when exporting the onnx models using serialize. However, converting the onnx model to IR format using the model optimizer loads the model successfully. This may be an issue specific to serialize, so I will raise an issue with the development team.

In the meantime, can you see if converting

[2022-04-18 21:41] jgespino commented on #11532
@jbrownkramer Thanks for raising this issue. Relaxing the numpy version is something the development team is already looking into. I will keep you posted once I know more!

Ref. 70927

[2022-04-18 21:57] jgespino commented on #11510
@friend045 Since you are unable to share the model, could you please check the following?

1. Which VPU device are you using? Are you able to run benchmark_app with your model on the VPU device (MYRIAD or HDDL)?
2. Are all the layers/ops [supported](https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_Supported_Devices.html) by VPU device?
3. Are you able to provide a piece of the

[2022-04-19 01:20] zhentaocc commented on #11503
My version for pytorch
[code]

I will try model optimizer. But according to the error message, I think it's more about `pot` loading issue.
I can run inference correctly with the model exported actually. And seems that the squeeze function doesn't comply with the document, requiring two inputs, while from the document the second one is optional.

[2022-04-19 03:12] friend045 commented on #11510
Sample Model：[https://drive.google.com/drive/folders/1ze7vYnc_Z6Xtwxi2wWYrdhViJ4xh61mP?usp=sharing](https://drive.google.com/drive/folders/1ze7vYnc_Z6Xtwxi2wWYrdhViJ4xh61mP?usp=sharing)

1.  [OpenCV AI Kit: OAK—D ](https://store.opencv.ai/products/oak-d)
2.  I think it's gonna work
3. After discussing with the supervisor, we can provide a piece of the model that reproduces the issue
4.  Likely to

[2022-04-19 16:46] jgespino commented on #11503
Please let me know the outcome when loading the IR files generated with the Model Optimizer.

[2022-04-19 17:26] jbrownkramer commented on #11532
Similarly, openvino-dev requires scipy~=1.5.4, which is fairly old.

[2022-04-19 18:49] jgespino commented on #11490
@Noxi123 We were not able to find a solution for converting your model using OpenVINO 2022.1 release. We have submitted an internal ticket with the development team to investigate.

Ref. 84180

[2022-04-19 19:44] jgespino commented on #11511
@GuoGuiRong Thanks for providing the notebook! It looks like it's missing the Accuracy implementation. Could you provide what you have defined for the Accuracy?

[code]

We have some pot samples available in the following directory when installed openvino-dev via pip.
`<env>\Lib\site-packages\openvino\tools\pot\api\samples`

[2022-04-20 01:13] zhentaocc commented on #11503
It worked. By model optimizer, the model will be optimized, some operations will be fused or combined.

[2022-04-20 06:36] Iffa-Meah commented on #11531
@funny000 , the easiest way to create a custom code/env based on OpenVINO is by using the official sample application because it already has the required path/dll linked where you don't have to manually set them.

It's recommended to use Visual Studio 2019 as this is officially supported by OpenVINO (you can use the free version).

You may refer [here](https://community.intel.com/t5/Intel-Distribu

[2022-04-20 06:39] Iffa-Meah commented on #11531
@Jaren-Li , in order to figure that out, you'll need to understand the [Changes to Inference Pipeline in OpenVINO API v2](https://docs.openvino.ai/latest/openvino_2_0_inference_pipeline.html#doxid-openvino-2-0-inference-pipeline)

[2022-04-20 08:15] friend045 commented on #11510
So I can't crop a face on MYRIAD with top(x,y) bottom(x,y) in my model? Are there other methods?

[2022-04-20 17:43] jgespino commented on #11503
Ok great! Glad that worked for you, I went ahead and opened a bug with the development team. I will let you know what I find out.

[2022-04-20 22:39] jgespino commented on #11458
@Averen19 Apologies for the delay, so the issue seems to be with OpenCV version 4.5.3-openvino which is part of OpenVINO 2021.4.2 release. However, building OpenCV version 4.5.5-openvino does not seem to have this issue. See below.

My recommendation is to build **OpenCV 4.5.5-openvino** from source and comment out line 69 to line 77 in the setupvars.sh script to not configure the pre-built OpenCV

[2022-04-21 01:51] Iffa-Meah commented on #11500
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-04-21 01:51] #11500 closed

[2022-04-21 07:58] tiandi111 opened #11550 "[Memory Consumption] Hign memory footprint on GPU(OpenCL) backend"
##### System information (version)

- OpenVINO=> 2020.4
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2019
- Problem classification => Inference Engine
- GPU => UHD Graphics 630

##### Detailed description

When infer on GPU(OpenCL) backend, a simple net with only 2 convs consumes 16MB on "ExecutableNetwork" instance. With a more complex model, it consumes 120MB. I

[2022-04-21 15:15] maecky commented on #11458
@jgespino could you please explain what --ouput Conv_198,Conv217,Conv_236 is doing in the command:
`python "C:\Program Files (x86)\Intel\openvino_2021\deployment_tools\model_optimizer\mo.py" --input_model yolov5s.onnx --scale 255 --reverse_input_channels --output Conv_198,Conv_217,Conv_236 --data_type FP16`

I am trying to convert yolov5m / yolov5n  / yolov5l for the NCS2 stick but these Conv_xxx

[2022-04-21 15:39] anjalirai-intel opened #11551 "Unable to connect to yum.repos.intel.com for openvino"
##### System information (version)

- OpenVINO=> :2021:
- Operating System / Platform => :CentOS 8:
- Problem classification => :SetUp:

##### Detailed description
I am installing OpenVino 2021 in CentOS 8 machine. But it always fails at connection error. I tried using wget and curl as well with and without proxy settings, but it always fails.

##### Steps to reproduce
sudo yum-config-manager --ad

[2022-04-21 15:51] jgespino commented on #11458
@maecky From the model optimzier:
[code]
I am specifying the new outputs for this model, the ops/layer names can be found using a model visualizer like neutron.

![image](https://user-images.githubusercontent.com/18014973/164500287-ca26f5b6-27e6-455e-88c5-9eba9e762924.png)

You can find more information here: https://github.com/violet17/yolov5_demo#convert-onnx-file-to-ir-file

[2022-04-21 17:24] brmarkus commented on #11551
In the ReleaseNotes of the previous release (2021.4.x) it is mentioned that the support for CentOS will be dropped starting 2022.1...

https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes-2021.html
<html>
<body>
<p style="box-sizing: border-box; margin: 0px auto 20px 0px; line-height: 22px; white-space: normal; font-family: intel-clear, tahoma, Helvetica, helv

[2022-04-21 19:30] cansik commented on #11532
This is a problem for Apple silicon devices too. I have pre-built [Apple silicon wheels](https://github.com/cansik/openvino-arm) for openvino, but because of the strict numpy requirement, we have to install it ignoring the dependencies.

[2022-04-21 21:05] jgespino commented on #11488
Closing, please re-open if additional assistance is needed.

[2022-04-21 21:05] #11488 closed

[2022-04-22 06:53] Iffa-Meah commented on #11550
Generally, when we talk about performance, there are a few key matrices that are measured: speed of execution, accuracy, throughput/latency, and efficiency.

There are two primary ways of improving the inference performance (on any supported hardware):
1. Model-level optimizations: model modification, such as quantization, pruning, optimization of preprocessing, etc. Refer [here](https://docs.open

[2022-04-22 06:55] tiandi111 commented on #11550
Hi, thanks for your reply.

[2022-04-22 07:03] tiandi111 commented on #11550
Sorry for the misleading title, I've changed it from [Performance] to [Memory Consumption].

[2022-04-22 08:38] Iffa-Meah commented on #11550
Same concept can be applied. Implementing optimization means quatization will involve.
The precision of model (FP32/FP16) will becom INT8 which smaller that the original size.
This would reduce the memory consumption thus, increasing speed of execution. (Optimization aims for balancing the speed of execution--involves precision & size, accuracy, throughput/latency and efficiency.

The OpenVINO GPU

[2022-04-22 09:00] Jaren-Li commented on #11531
Ok,thanks,I had solved this problem.But I meet a new problem.My c++ code reasoning is significantly slower than python.Python infer only consume about 5ms.However,c++ need about 25ms.
There is no problem with the accuracy of the picture frame, only the speed is very different.

Python:
[code]
c++:
[code]
model input picture
<img width="313" alt="1650617783(1)" src="https://user-images.githubuserco

[2022-04-22 09:08] Iffa-Meah commented on #11531
Have you tried to run your model with [OpenVINO Benchmark Python Tool](https://docs.openvino.ai/latest/openvino_inference_engine_tools_benchmark_tool_README.html)?
This would show you much more detailed latency, throughput, etc.

[2022-04-22 09:20] tiandi111 commented on #11550
Thank you very much! I will read all of them carefully!

[2022-04-22 16:37] jbrownkramer opened #11553 "Documentation for YOLACT model creation doesn't work on Windows"
##### System information (version)

- OpenVINO=> 2022.1:
- Operating System / Platform => Windows
- Compiler => Not relevant
- Problem classification => Model Conversion

##### Detailed description
I am following the steps on https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_pytorch_specific_Convert_YOLACT.html to create an IR for a YOLACT model.  You have to apply a

[2022-04-22 16:52] Carson-Bay commented on #11458
Has the 2022.1 package been uploaded. I am having the same issues and have been trying to solve myself over the last few weeks. I got to the point of building everything from sources on Ubuntu 18.0.4 on the Pi and am still running into a bunch of errors.

[2022-04-22 17:05] mateusztabaka commented on #11553
Can you attach the patch you tried to apply? Based on error you see, it seems to be corrupted.
On my end, I was able to apply the patch from docs to yolact repo.

[2022-04-22 18:29] cansik opened #11554 "Apple silicon (M1) prebuilt openvino with arm plugin wheels released on PyPI"
I have created an [automated script](https://github.com/cansik/openvino-arm) to build openvino for Apple silicon (M1) Mac (BigSur `11` and Monterey `12`). The build uses the [openvino-contrib arm plugin](https://github.com/openvinotoolkit/openvino_contrib/tree/master/modules/arm_plugin) to allow networks to be run on arm64 Macs. The release is meant for developers to have an easy way to tryout nat

[2022-04-22 19:26] Carson-Bay commented on #11458
@jgespino Just tried installing OpenVINO 2022.1 on Raspbian and came across this error.

`ERROR: Cannot install openvino-dev==2021.3.0, openvino-dev==2021.4.0, openvino-dev==2021.4.1, openvino-dev==2021.4.2 and openvino-dev==2022.1.0 because these package versions have conflicting dependencies.

The conflict is caused by:
    openvino-dev 2022.1.0 depends on rawpy>=0.16.0
    openvino-dev 2021.4.2

[2022-04-22 20:48] jbrownkramer commented on #11553
See attached file.  Note I created it by clicking the copy button in the instructions, creating a blank document in NotePad++ and Ctrl-V.

[YOLACT_onnx_export.patch.txt](https://github.com/openvinotoolkit/openvino/files/8543964/YOLACT_onnx_export.patch.txt)

[2022-04-23 18:17] bigrobinson commented on #7877
Sorry to butt in after the fact, but I faced the same problem. The hint is in the command line output from the shell script:

"WARNING: Can not find OpenVINO Python binaries by path /home/jiande/program/openvino/scripts/python"

You have to put the setupvars.sh script in the same directory in which the python binaries were built and installed (your -DCMAKE_INSTALL_PREFIX). If you still have proble

[2022-04-24 02:59] meifannao commented on #3023
I have a similar problem, do you have a solution

### MO ERROR
[ ERROR ]  Error while emitting attributes for layer Resize_1/Mul_ (id = 4). It usually means that there is unsupported pattern around this node or unsupported combination of attributes.

OpenVINO VIsion : 2021.2.185

command  python mo_onnx.py --input_model  C:\Users\meifannao\source\repos\openvino_rvm\x64\Release\epoch-81.onnx --outp

[2022-04-24 07:27] karonluo opened #11562 "[Bug] When performing AI inference, the GPU does not respond and keeps failing to return inference results."
##### System information (version)

- OpenVINO => 2021.4
- Operating System / Platform => Ubuntu 20.04
- Compiler => g++ 7.5.0
- Problem classification: Model Conversion
- Framework: Pytorch
- Model name: YoloV5L deepsort onnx mtcnn

##### Detailed description

When performing AI inference, the GPU does not respond and keeps failing to return inference results. Using the intel_gpu_top tool, I foun

[2022-04-24 10:55] uglymie opened #11565 "How to load a model from stream"
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- API C++

usually, the model file is loaded from the path. How do I load the model from the file stream

[2022-04-25 01:27] #11565 closed

[2022-04-25 05:56] brmarkus commented on #11562
Can you describe your environment first, please?
Which SOC (CPU+GPU) are you using?
(checking with `lscpu` and `lspci | grep VGA`)

Which model exactly are you using? Can you maybe share it for reproduction?
Have you converted it with "model-optimizer", if yes, how, can you share the used command-line, please?

Which code, which application are you using? Can you provide more details, or share the

[2022-04-25 09:04] guojin-yan opened #11571 "accuracy_checker and pot[Bug]"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- Problem classification: accuracy_checker and pot
- Model name: ResNet50 (flower classification)

My main problem is to refer to the end to End-to-end Command-line Interface Example <https://docs.openvino.ai/latest/pot_configs_examples_README.html> in openvino d

[2022-04-26 00:30] dlod-openvino commented on #11571
Add the datasets: flowers102 and the whole training process as below
https://github.com/PaddlePaddle/PaddleClas/blob/release/static/docs/en/tutorials/quick_start_en.md

[2022-04-26 00:40] Dracanrage opened #11579 "/opt/intel/openvino_2022/setupvars.sh can't be source in macOS 12"
Hello,

I had installed openvino 2022.1 in my Intel Mac, but it can't be source, shows python version error, but actually I had installed the true version, it seems like a shell mistake.
Here is the screenshot:
First I edit the sh to figure out where is wrong:
<img width="569" alt="image" src="https://user-images.githubusercontent.com/30333935/165196462-c87aa3c0-e2c6-4144-8f7a-173b1528826a.png">
T

[2022-04-26 00:46] Dracanrage commented on #11579
I had find the solution:
Just remove the () outsides the '${python_version//./ }'

[2022-04-26 00:53] Dracanrage commented on #11579
When modified like this, it works now:
<img width="326" alt="image" src="https://user-images.githubusercontent.com/30333935/165197619-42f74776-3c0b-454d-b772-03b715fd8723.png">

[2022-04-26 06:21] Iffa-Meah commented on #11571
@guojin-yan , could you share your model files and link to your dataset so that we could test it from our end?

[2022-04-26 07:08] guojin-yan commented on #11571
@Iffa-Meah
Model files and data sets are placed in Baidu online disk sharing link：
链接：https://pan.baidu.com/s/1ED6AcZezUt_july-3jMiBQ
提取码：yyyy

[2022-04-26 13:13] jafar0892 opened #11582 "[Bug] compile a simple test program armv7-a"
Hi everyone, could anyone help me with this problem?

cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS="-march=armv7-a" /opt/intel/openvino/deployment_tools/inference_engine/samples/cpp
-- The CXX compiler identification is GNU 10.2.1
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - failed
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /

[2022-04-26 13:18] mateusztabaka commented on #11553
Seems like git-apply doesn't like empty lines with CRLF endings. Can you try with `patch -p1 < YOLACT_onnx_export.patch.txt` as a workaround?

[2022-04-26 14:57] AyaNasser96 opened #11583 "[Bug] Build demos that developed inside ubuntu-docker not working on windows"
I am working on 2 environments now, one that I developed on which is ubuntu 20.04 using this openvino docker:
docker [link](https://hub.docker.com/r/openvino/ubuntu20_dev) docker pull openvino/ubuntu20_dev

and the other one is on windows to test if my demo is working with cross-platform:
I installed the openvino installer on the system then the development tool and I tried the open_model_zoo demo

[2022-04-26 14:57] marcjasner opened #11584 "64 bit master branch build loads model with wrong(?) parameters"
I have created a build of OpenVINO from the master branch based on 64bit Ubuntu 20.04 that I am using for an Armbian 22.02 based system (Libre Computers Le Potato due to Raspberry Pi being harder to get at the moment). I used the RPi64 docker file and modified it to use Python 3.8.10 (as that's what's used in Armbian. Everything builds without errors.

I was using some of the open_model_zoo demos

[2022-04-26 15:34] jgespino commented on #11522
Closing, please re-open if additional assistance is needed.

[2022-04-26 15:34] #11522 closed

[2022-04-26 15:35] jgespino commented on #11528
Closing, please re-open if additional assistance is needed.

[2022-04-26 15:35] #11528 closed

[2022-04-26 15:36] jgespino commented on #11491
Closing, please re-open if additional assistance is needed.

[2022-04-26 15:36] #11491 closed

[2022-04-26 15:39] jgespino commented on #11517
Closing, please re-open if additional assistance is needed.

[2022-04-26 15:39] #11517 closed

[2022-04-26 16:05] jgespino commented on #11458
@Carson-Bay The OpenVINO for Raspbian OS package has not been uploaded yet. I recommend building the package from source. You can follow the instructions on this [guide](https://www.intel.com/content/www/us/en/support/articles/000057005/boards-and-kits.html).

The pip package is not compatible with Rasbpian OS, see the [system requirements](https://pypi.org/project/openvino-dev/):
<html>
<body>

S

[2022-04-26 16:05] #11458 closed

[2022-04-26 16:59] jgespino commented on #11579
@Dracanrage Glad you figured it out! Please note that OpenVINO has only been validated with Mac OS 10.15 as mentioned in the [system requirements](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_macos.html#system-requirements).

The latest 2022.1 installer will allow OpenVINO to be installed on newer Mac OS version but displays the following warning.

![image](http

[2022-04-26 23:12] zulkifli-halim commented on #11481
Closing, please re-open if additional assistance is needed.

[2022-04-26 23:12] #11481 closed

[2022-04-26 23:13] zulkifli-halim commented on #11489
Closing, please re-open if additional assistance is needed.

[2022-04-26 23:13] #11489 closed

[2022-04-27 00:11] jgespino commented on #11584
Hi @marcjasner

Could you provide the cmake build command and steps to reproduce? I have an RPi 4 that I can test with Rasbpian OS bullseye (64 bit) and Rasbpian OS Buster (32 bit).

Regards,
Jesus

[2022-04-27 00:18] marcjasner commented on #11584
Here are the dockerfile I used and the build script for the docker container
[Armbian64_Openvino_build.zip](https://github.com/openvinotoolkit/openvino/files/8567641/Armbian64_Openvino_build.zip)

Additionally, if you wanted to try the binaries that my build produced, they can be found at http://www.exdomain.org/~marc/OpenVINO/OV_ARM_armbian64_package.tar.gz

I am using a MYRIAD device.

[2022-04-27 02:07] jxust01 opened #11587 "setupvars.sh [Bug]"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => ubuntu16.04

##### Detailed description
[setupvars.sh] WARNING: Can not find OpenVINO Python binaries by path /opt/intel/openvino_2022/python
[setupvars.sh] WARNING: OpenVINO Python environment does not set properly

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError:

[2022-04-27 05:49] Jaren-Li commented on #11531
[code]
or
[code]
The first way I didn't succeed in reasoning.
But the scond way is so slow.
I hope it can help you.

[2022-04-27 06:04] Jaren-Li commented on #11531
I know what my problem is, I just observed the first run time, when I run multiple times to take the average, everything works fine, thanks.

But I did not find in the preprocessing part that you divide the image by 255 before performing mean on the image. How can I perform this preprocessing operation through openvino2.0?

[2022-04-27 06:08] anjalirai-intel commented on #11551
I tried on RHEL system but same issue there as well

cat /etc/os-release
NAME="Red Hat Enterprise Linux"
VERSION="8.4 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.4"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.4 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8.4:GA"
HOME_URL="https://www.redhat.com/"
DOCUMENTATION_URL="https://access.redhat.com/docu

[2022-04-27 06:19] brmarkus commented on #11551
Just checked on one of my RHEL machines:

$> cat /etc/os-release
	NAME="Red Hat Enterprise Linux"
	VERSION="8.4 (Ootpa)"
	ID="rhel"
	ID_LIKE="fedora"
	VERSION_ID="8.4"
	PLATFORM_ID="platform:el8"
	PRETTY_NAME="Red Hat Enterprise Linux 8.4 (Ootpa)"
	ANSI_COLOR="0;31"
	CPE_NAME="cpe:/o:redhat:enterprise_linux:8.4:GA"
	HOME_URL="https://www.redhat.com/"
	DOCUMENTATION_URL="https://access.redhat.com/d

[2022-04-27 06:27] brmarkus commented on #11531
Often I have "CV" available in my code and do the "normalization" like this:

[code]

[2022-04-27 06:38] anjalirai-intel commented on #11551
Yes, i am able to access the repo from my desktop. I am behind a corporate VPN, can you tell me what all things to look inside my RHEL machine to access this repo

[2022-04-27 06:52] brmarkus commented on #11551
Do you only require VPN?
Can I assume you also need to have network proxies configured?

I needed to add proxies to
[code]
And also needed to register the system via `subscription-manager register`.

[2022-04-27 07:09] zulkifli-halim commented on #11583
Hi @AyaNasser96. The Docker image you pulled is OpenVINO 2021, and the one you installed in Windows is OpenVINO 2022.1.
You can see the difference between the CMAKE file of these two versions here:
[2021.4/demos/CMakeLists.txt ](https://github.com/openvinotoolkit/open_model_zoo/blob/2021.4.2/demos/CMakeLists.txt)
[2022.1/demos/CMakeLists.txt](https://github.com/openvinotoolkit/open_model_zoo/blob/

[2022-04-27 07:16] Iffa-Meah commented on #11571
![image](https://user-images.githubusercontent.com/79643476/165462578-22ae9dc5-85fd-42e3-a4c6-09e7e2faaee5.png)

@guojin-yan , it seems that I need extraction code to access the file

[2022-04-27 07:22] guojin-yan commented on #11571
@Iffa-Meah
extraction code: yyyy

[2022-04-27 07:28] anjalirai-intel commented on #11551
It works on 1 system whereas it didn't work on another machine

[2022-04-27 07:35] guojin-yan commented on #11571
@Iffa-Meah
The lable file in the data set was forgotten in it. You can find it in this web disk connection:
link：https://pan.baidu.com/s/1Uvm2NuDsXPgMSGbfL4M8WA
extraction code：yyyy
![IMG_20220427_152730](https://user-images.githubusercontent.com/91110433/165465157-0700ace4-a361-4b97-b472-b6ba0051cb50.jpg)

If you can't download it, you can get it from my Github project, which is linked to: github

[2022-04-27 07:39] Iffa-Meah commented on #11582
@jafar0892,

Could you verify/provide these infos:
1. Are you using **Raspberry Pi with ARM ARMv7-A CPU architecture** running Raspbian OS?. From the error, the error prompt armv8-a instead v7. You need to verify whether your Pi is v7 or v8. ([Note that officially supported is v7](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_raspbian.html?))
2. Did you install f

[2022-04-27 08:12] guojin-yan commented on #11571
@Iffa-Meah
If you can't download it, you can get it from my Github project, which is linked to: github: https://github.com/guojin-yan/ResNet50_INT8_OpenVINO.git
Dataset file and download method are in dataset folder.
Model file is in modelfolder.
![image](https://user-images.githubusercontent.com/91110433/165472523-463daa72-93f1-4571-9934-426124712e48.png)

[2022-04-27 08:48] anjalirai-intel commented on #11551
I got it working by setting no_proxy=127.0.0.1. Closing the issue now

[2022-04-27 10:48] brmarkus commented on #11551
I got the pre-built installation package for RHEL from here:

    https://storage.openvinotoolkit.org/repositories/openvino/packages/2021.4.2/

`$> wget https://storage.openvinotoolkit.org/repositories/openvino/packages/2021.4.2/l_openvino_toolkit_dev_rhel8_p_2021.4.752.tgz`

Installed dependencies via "install_openvino_dependencies.sh".

For other dependencies also needed "$> yum install python3-

[2022-04-27 11:37] anjalirai-intel commented on #11551
This works.

I was trying the steps mentioned here
**https://docs.openvino.ai/2021.2/openvino_docs_install_guides_installing_openvino_yum.html**

and the list of the packages came but dev package was not there.
intel-openvino-docs-2021.4.752.noarch            2021.4-752  intel-openvino-2021
intel-openvino-eula-2021.4.752.noarch            2021.4-752  intel-openvino-2021
intel-openvino-gstreamer-rt

[2022-04-27 13:29] sfraczek opened #11593 "[Bug] python3.8 pip openvino-dev[kaldi]==2022.1.0 not found"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Ubuntu 20.04.
- Framework: Kaldi

- Problem classification => openvino-dev[kaldi]==2022.1.0 not available in pip

##### Detailed description
I tried to run `pip install -r intel/openvino_2022/tools/requirements_kaldi.txt` but it failed.

##### Steps to reproduce
I tried to run `python3.8 -m pip install -r  int

[2022-04-27 13:33] sfraczek commented on #11593
Sorry, I actually ignored this step `python -m pip install --upgrade pip`. Now it works. :)

[2022-04-27 13:34] RogerMor opened #11594 "[Error] google.protobuf.message.DecodeError: Error parsing message with type 'tensorflow.SavedModel'"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Intel Dev Cloud notebooks: https://notebooks.edge.devcloud.intel.com/
- Intel Dev Cloud edge notebooks launcher => OPENVINO 2022.1 + tensorflow 2.4
- Problem classification: Model Conversion
- Framework: TensorFlow (Tensorflow Lite Model Maker)
- Model name: efficientdet_lite2

##### Detailed description
Erro

[2022-04-27 17:02] jgespino commented on #11587
@jxust01 OpenVINO 2022.1 is not supported in Ubuntu 16.04. Please take a look at the [system requirements](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/system-requirements.html) page.

[2022-04-27 17:49] yantaozhao opened #11596 "[Bug] ov2022.1 runtime windows10 offline installer not work under vmware"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => windows 10
- Compiler => visual studio 2022
- Problem classification => Installing issue

##### Detailed description

Under vmware workstation, OpenVINO 2022.1 runtime windows10 offline installer shows blank screen rather than anything when launch the installation, stuck in the first step.

##### Steps to repr

[2022-04-27 18:39] jgespino commented on #11594
@RogerMor Please double check the saved_model directory and ensure all files are there. I was able to export the model in saved_model format with the following structure but run into additional issues with the model optimizer. Currently, tflite model are not supported.

![image](https://user-images.githubusercontent.com/18014973/165595537-40da173d-f073-46db-ad47-8c03fecf5798.png)
[code]

For Objec

[2022-04-28 02:00] qhanson commented on #11532
When you install openvino, you can not install TensorFlow, and OpenCV to the same python environment due to the conflict of numpy version.

[2022-04-28 06:00] RogerMor commented on #11594
Thanks Jesus,

Yes I have the same file distribution than you in the saved_model folder.

Just to let it reported: When I run the "optimization" in my own laptop I get the same error as you:

[log2.txt](https://github.com/openvinotoolkit/openvino/files/8579924/log2.txt)

However, when I run it in the jupyter lab of the Intel Cloud dev notebooks I get the error reported above.

As you pointed out I

[2022-04-28 06:39] friend045 opened #11598 "[Bug] Const layer Constant_2340 has incorrect dimensions in the output data 0"
**System information (version)**
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: Pytorch -> Onnx -> **OpenVino -> Blob**

**Detailed description**

[code]

When using OpenVino 2022.01 version, I get the following error when converting the model.

[code]
But OpenVino 2021.04 Ver. is fine.

[2022-04-28 07:26] Iffa-Meah commented on #11571
@guojin-yan ,

I tested your model (both FP32 and INT8).

POT:
![pot_LI](https://user-images.githubusercontent.com/79643476/165696280-944ee801-8aad-42f8-a676-90d0eb7646e2.jpg)

FP32 accuracy:
<img width="612" alt="accuracy" src="https://user-images.githubusercontent.com/79643476/165695902-7ff2c5d1-9a65-44d3-b629-236e53cf1ec0.png">

INT8 accuracy:

<img width="616" alt="accuracyINT8" src="https://u

[2022-04-28 07:34] Iffa-Meah commented on #11596
@yantaozhao , before proceeding further, hope you had noticed that up till this moment, OpenVINO requires specifically [Microsoft Visual Studio 2019 with MSBuild](http://visualstudio.microsoft.com/downloads/) to operate.
Other version might works but issues are expected.
You may refer [here](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_windows.html#doxid-openvin

[2022-04-28 08:01] RogerMor opened #11600 "[Bug] Error converting Google AutoML to OpenVino using mo"
##### System information (version)

System 1:

- OpenVINO => 2022.1
- Operating System / Platform => Intel Dev Cloud notebooks: https://notebooks.edge.devcloud.intel.com/
- Intel Dev Cloud edge notebooks launcher => OPENVINO 2022.1 + tensorflow 2.4
- Problem classification: Model Conversion
- Framework: Google AutoML
- Model name: AutoML object detection

System 2:

- OpenVINO => 2022.1
- Operatin

[2022-04-28 09:40] karonluo commented on #11562
Information:
OpenVINO Version: 2021.4.582
CPU: 11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz
GPU:  VGA compatible controller: Intel Corporation Device 9a49 (rev 01)
OpenCL Cache:  /opt/intel/cl_cache
Model include: Yolov5L, MTCNN, Deepsort

--------------------------------------------

Develop applications using C++ for vehicle detection, tracking and detection of identifying license plates.

Usi

[2022-04-28 15:32] brmarkus commented on #11571
Did you do the pot-quantization with "Default Quantization" only?
Can you try to use "accuracy-aware quantization" as well? You can specify the max. acceptable drop in accuracy. The quantization might take much longer as it might require more optimizations - and maybe even not quantizing certain layers but keeping them in the original precision if it causes too much of accuracy-drop.

[2022-04-28 16:39] #11594 closed

[2022-04-28 16:39] #11587 closed

[2022-04-28 17:06] #11328 closed

[2022-04-28 17:25] jgespino commented on #11329
@dtoya Thanks for your feedback, I have opened an internal ticket to update the documentation.

Ref. 84516

[2022-04-28 17:25] #11329 closed

[2022-04-28 17:50] jgespino commented on #11351
@vixadd

Yes, the models generated by OpenVINO 2021.4.2 are IR version 10.

Glad you were able to get the issue resolved with TF 2.7.0.

I will close this issue, OpenVINO 2021.4.2 installs TF 2.4.4 and the newer OpenVINO 2022.1 installs TF 2.5.3. If you continue to run into issues, I recommend the Tensorflow version installed with OpenVINO

[2022-04-28 17:50] #11351 closed

[2022-04-29 05:43] RogerMor commented on #11600
Thanks a lot again!

[2022-04-29 08:03] karonluo commented on #11562
The following images are normal:

![image](https://user-images.githubusercontent.com/19998353/165901063-076a429a-33a5-43bd-a1c0-b1b7deba635e.png)

![image](https://user-images.githubusercontent.com/19998353/165901168-da5582e8-e0a2-4c1f-a154-9a01b5d8ff71.png)

------

The main thread starts a thread for inference, which calls OpenVINO for inference and post-processing. The main thread gets the fina

[2022-04-29 08:08] yantaozhao opened #11606 "[Feature Request] cmake is always re-download dependencies even `ENABLE_UNSAFE_LOCATIONS` is set"
##### System information (version)

- OpenVINO=> source code- master branch
- Operating System / Platform => Windows 10
- Compiler =>  cmake3.21 + visual studio 2019
- Problem classification => Issue of compiling from source code

##### Detailed description

When using `cmake` to configure the building progress, dependency files which were previous downloaded in `${SRC_ROOT}\temp\download\` will b

[2022-04-29 08:12] yantaozhao commented on #11596
glad to here that.
but it seems that the problem has nothing to do with IDE.

It's just an installation issue using Intel official built offline installer. maybe something is wrong inside the openvino2022.1 installer.

[2022-04-29 09:02] brmarkus commented on #11562
So in case your application seems stuck - you still see CPU-load and GPU-load, i.e. it's still busy doing something? Or in this case there is no CPU-, no GPU-load?

Does your application supports logging and you can find out which call seems to not return? Which is the last call you are waiting for to complete and continue returning the result?
Are you sure it's not a dead-lock or an endless loop

[2022-04-29 09:04] vinhtq115 opened #11607 "[Bug] RuntimeError when trying to optimize/quantize model with dynamic shapes"
##### System information (version)

- OpenVINO=> 2022.1.0
- Operating System / Platform => Linux Mint 20.3
- Compiler => N/A (installed from Pypi)
- Problem classification => Model Quantization
- Model name: DB (with RepVGG as backbone)

##### Detailed description
When executing step 4 in [this](https://docs.openvino.ai/latest/pot_default_quantization_usage.html) tutorial with my model, I met this

[2022-04-29 09:23] friend045 commented on #11598
@jgespino ,

[Sample onnx model](https://drive.google.com/drive/folders/1MfQ3qXMVG3jhwjmk9YBbmlYMI6OtOsVc?usp=sharing)

The following is the Onnx model and model optimizer command.

Onnx to IR
[code]

IR to  MyriadX blob

[code]

Thanks .

[2022-04-29 15:43] #11600 closed

[2022-04-29 15:49] jgespino commented on #11606
@yantaozhao Would you be willing to implement this and submit a pull request? Please see [How to contribute to the OpenVNIO repository](https://github.com/openvinotoolkit/openvino/blob/master/CONTRIBUTING.md) guide.

[2022-04-29 21:43] jgespino commented on #11607
@vinhtq115 This issue may have already been fixed by https://github.com/openvinotoolkit/openvino/pull/10764. Could you share your ONNX model and model optimizer command for me to test on the latest master branch?

[2022-04-30 03:50] vinhtq115 commented on #11607
Here is the model I used.
[db_mix.onnx.zip](https://github.com/openvinotoolkit/openvino/files/8595614/db_mix.onnx.zip)

Command used for dynamic shape:
[code]

For static shape:
[code]

[2022-05-02 01:58] Iffa-Meah commented on #11596
@yantaozhao ,

this is using VS 2019 with OpenVINO 2022 offline installer. Make sure you had fulfilled the **pre-requisites** before running the installer and ensure you had assigned enough memory to the VM.

<img width="960" alt="2022RuntimeInstaller" src="https://user-images.githubusercontent.com/79643476/166175551-b548f6e9-7d27-47e1-a944-11b3bc633ea0.png">

[2022-05-02 03:04] marcjasner commented on #11584
Hi Jesus,

Just wonder if there been any news on this issue? Have you been able to reproduce the issue? Do you need anything further from me?

Thanks!

[2022-05-02 09:00] artkuli commented on #11579
@Dracanrage Thank you for reporting.
I guess that issue is related to the default shell on Mac (`zsh`).
I see that splitting string variable to array works differently on `zsh` than in `bash`. Also `zsh` starts indexing arrays from `1` instead of `0`.
I made small changes which should figure out the issue REPORTED BY @Dracanrage, PR: #11614

[2022-05-02 09:25] Iffa-Meah commented on #11598
@friend045 ,
we need access to your file. I had requested it.

![image](https://user-images.githubusercontent.com/79643476/166213246-8cd0bf7f-9bdb-4235-ad07-a7436d611317.png)

[2022-05-02 17:14] jgespino commented on #11487
@mistoFENG Apologies for the delay, I've confirmed with my peers that turning off `-DENABLE_AVX512F` only disables the optimizations. The OpenVINO CPU Plugin is leveraging oneDNN implementation which use Xbyak, a JIT assembly template library to generate kernels and it may not be possible to turn it off.

In this case, oneDNN will use avx512 opsets to accelerate the layer execution in runtime.

[2022-05-02 21:27] jgespino commented on #11607
@vinhtq115 I just tested on the latest master branch and ran into a new error. I have opened a bug with the development team to further investigate.

`RuntimeError: Can't set input blob with name: input, because model input (shape={1,3,?,?}) and blob (shape=(1.1.3.960.960)) are incompatible`

Ref. 84575

[2022-05-03 00:28] friend045 commented on #11598
@Iffa-Meah ,

Sorry, I was on vacation until yesterday.
 I have opened the permission, please test the URL again.
Thanks.

[2022-05-03 04:56] Iffa-Meah commented on #11598
Starting from the 2020.4 release, OpenVINO™ supports reading native ONNX models.
You may refer [here](https://docs.openvino.ai/2021.1/openvino_docs_IE_DG_ONNX_Support.html).

I tested your model. The native ONNX does works with benchmark app (CPU).
<img width="479" alt="benchmarkonnx" src="https://user-images.githubusercontent.com/79643476/166405649-a7676c0d-2f5e-414b-81bc-b15e70a9b34c.png">

and

[2022-05-03 06:15] Iffa-Meah commented on #11550
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-05-03 06:15] #11550 closed

[2022-05-03 10:43] SiegfriedIppischSecuriton commented on #11262
Hi @Iffa-Meah,

Sorry for my late reply. I had a look into the [Pedestrian Tracker C++ Demo](https://docs.openvino.ai/2021.1/omz_demos_pedestrian_tracker_demo_README.html). It does not look very different to what i did. At least for the simple case i needed (We did not use custom_cpu_library custom_layers, or perf_counter). So nothing special in preparing the InferenceEngine::Core object. Anyways,

[2022-05-03 16:40] jgespino commented on #11510
@friend045 I am not familiar with what these operations are doing. However, I suspect this input is being set to dynamic which are not supported by myriad. If you could please help me confirm this is the case. If setting the starts and ends still reproduce the error I can open a bug with the development team to further investigate.

[2022-05-03 19:23] jgespino commented on #11584
@marcjasner Apologies for the delay, not yet. The RPi4 keeps getting a kernel panic when setting up with armbian OS. I will need to build OpenVINO from source using Raspbian 64-bit (Bullseye).

[2022-05-03 20:00] marcjasner commented on #11584
No problem, just checking in. Is there anything I can do to help? Do you want me to also try building for RPi64 Bullseye? Do you have the dockerfile for that?
________________________________
From: Jesus Espinoza ***@***.***>
Sent: Tuesday, May 3, 2022 3:23 PM
To: openvinotoolkit/openvino ***@***.***>
Cc: Marc Jasner ***@***.***>; Mention ***@***.***>
Subject: Re: [openvinotoolkit/openvino] 64 bit

[2022-05-03 20:06] jgespino commented on #11584
@marcjasner if you could try it on bullseye that would be great! We have a guide for Raspbian OS Stretch but it should work for Bullseye too.
https://www.intel.com/content/www/us/en/support/articles/000057005/boards-and-kits.html

Just clone the 2022.1.0 repos:
git clone https://github.com/openvinotoolkit/openvino -b 2022.1.0
git clone https://github.com/opencv/opencv -b 4.5.5-openvino-2022.1.0

[2022-05-03 20:08] marcjasner commented on #11584
I will try it and let you know what happens. Thanks,
Marc

________________________________
From: Jesus Espinoza ***@***.***>
Sent: Tuesday, May 3, 2022 4:06 PM
To: openvinotoolkit/openvino ***@***.***>
Cc: Marc Jasner ***@***.***>; Mention ***@***.***>
Subject: Re: [openvinotoolkit/openvino] 64 bit master branch build loads model with wrong(?) parameters (Issue #11584)

@marcjasner<https://github

[2022-05-03 20:14] marcjasner commented on #11584
Is this to build it on the device directly?
________________________________
From: Marc Jasner ***@***.***>
Sent: Tuesday, May 3, 2022 4:08 PM
To: openvinotoolkit/openvino ***@***.***>; openvinotoolkit/openvino ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [openvinotoolkit/openvino] 64 bit master branch build loads model with wrong(?) parameters (Issue #11584)

I will try it and let you know

[2022-05-03 20:16] jgespino commented on #11584
@marcjasner Yes, it will build OpenVINO for runtime only. You will need another system with the OpenVINO dev tools to compile the model and copy it over the IR files.

[2022-05-04 02:13] Iffa-Meah commented on #11262
@SiegfriedIppischSecuriton did you try to run the [Pedestrian Tracker C++ Demo](https://docs.openvino.ai/2021.1/omz_demos_pedestrian_tracker_demo_README.html) with your NCS2?
If yes and it works, then it means this issue is not originating from your MYRIAD device and MYRIAD plugin.

The biggest possibility is, the issue caused by your custom code. You'll need to check the function part where you c

[2022-05-04 02:43] nyck33 opened #11619 "[Bug] ERROR: Invalid requirement: 'openvino-dev[tensorflow2,"
##### System information (version)

- OpenVINO => (from conda list)
openvino                  2022.1.0                 pypi_0    pypi
openvino-dev              2022.1.0                 pypi_0    pypi
openvino-telemetry        2022.1.1                 pypi_0    pypi

- Operating System / Platform => Ubuntu 20.04 LTS
- Python
- Problem classification: Pypi installation
- Framework: none
- Model name

[2022-05-04 02:52] marcjasner opened #11620 "Supported Hardware Information Request"
I wasn't able to find this information anywhere so I thought I'd ask here. Appologies if this is the wrong forum.

Is the OpenVINO runtime supported on the Intel Cherry Trail Z8350 processor? It seems to meet the requirements but in googling I have found that the cherry trail GPU wasn't officially supported as of 2018, but what about the CPU itself? Will OpenVINO runtime operate on this CPU? Has t

[2022-05-04 03:10] nyck33 commented on #11619
I tried without parameters
[code]

[2022-05-04 03:10] #11619 closed

[2022-05-04 04:29] brmarkus commented on #11262
You have multiple MyriadX/NCS2 devices connected (because using the MULTI-device plugins)?

[2022-05-04 07:11] SiegfriedIppischSecuriton commented on #11262
@Iffa-Meah:

Yes, [Pedestrian Tracker C++ Demo](https://docs.openvino.ai/2021.1/omz_demos_pedestrian_tracker_demo_README.html) seemed to work. There is at least an image popup, wich shows a Box around Persons. My command line call was this:
`-i "<some image>.png" -m_det "C:\Users\SI\Downloads\openvino\person-detection-retail-0013.xml" -m_reid "C:\Users\SI\Downloads\openvino\person-reidentification

[2022-05-04 09:57] Iffa-Meah commented on #11262
@SiegfriedIppischSecuriton , you actually need to re-initialize the setupvars each time you close the cmd/terminal.
We'll look further into this and get back to you with some other alternatives.

[2022-05-04 10:09] workah0lic opened #11622 "[ERROR] PdhAddCounterW() failed: unknown error"
##### System information (version)

##### Detailed description
I try to start the interactive demo:

[code]
[ INFO ] OpenVINO
[ INFO ]        version: 2022.1.0
[ INFO ]        build: 2022.1.0-7019-cdb9bec7210-releases/2022/1
[ INFO ] Reading model: C:\Intel\face-detection-adas-0001\FP16\face-detection-adas-0001.xml
[ INFO ] Model name: mobilenet_ssd_672x384
[ INFO ]        Inputs:
[ INFO ]

[2022-05-04 10:20] brmarkus commented on #11622
Can you describe your environment, please?
Which OS in which version are you running?
Which underlying SOC/CPU do you use?

The mentioned error sounds like a MS-Windows performance-counter-API error.

[2022-05-04 10:25] workah0lic commented on #11622
Surface Pro 4
OS: Microsoft Windows 10 Pro
Version 10.0.19043 Build 19043
Prozessor Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz, 2496 MHz, 2 Kern(e), 4 logische(r) Prozessor(en)
RAM: 4GB
openvino_2022.1.0.643
4.5.5-90-gc3d60a6ca (OpenVINO/2022.1)
Visual Studio 16 2019

[2022-05-04 16:57] brmarkus opened #11624 "[Bug] Cannot install OpenVINO v2022.1 via offline-installer"
##### System information (version)
Host: Ubuntu 20.04 LTS

##### Detailed description
Trying to install OpenVINO in version 2022.1 via offline installer script.

Starting from here: "https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html"

Selecting "Runtime | Linux | 2022.1 (recommended) | C++ | Offline installer".

Clicking the button "Download", which points to "

[2022-05-04 18:46] jgespino commented on #11624
@brmarkus I don't see the same behavior on my Ubuntu 20.04 system with the offline installer following the steps above. Your hash looks different too. Could you try downloading again?

![OV-offline](https://user-images.githubusercontent.com/18014973/166804522-d6af6279-ae81-41e9-9b80-3af23f525351.png)

[2022-05-05 01:43] zulkifli-halim commented on #11583
Closing, please re-open if additional assistance is needed.

[2022-05-05 01:43] #11583 closed

[2022-05-05 04:12] Iffa-Meah commented on #11620
@marcjasner Intel Atom Processor X series (formerly known as Cherry Trail) should be able to run OpenVINO runtime.
However, it might require higher inferencing time, especially for complex use cases since this is quite an old processor with lower processing power.

You may refer [here](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/system-requirements.html) for more infos

[2022-05-05 08:17] #11510 closed

[2022-05-05 12:47] brmarkus commented on #11624
I can confirm downloading it again (and directly downloading on the machine using wget, instead of downloading it on my MS-Win laptop and copying it to my other Ubuntu 20.04 machine) solved the problem, I can install OpenVINO 2022.1 now.

I have other issues, however : e.g. missing TBB 3rd-party libraries...

Under the installation folder, the 3rd-party folder "openvino_2022/runtime/3rdparty/tbb/"

[2022-05-05 13:16] brmarkus commented on #11624
Is the OpenVINO Runtime Toolkit installation supposed to contain the TBB libraries as well?

[2022-05-05 13:45] brmarkus commented on #11624
If I instruct CMAKE to use the system-installed TBB (via `cmake -DTBB_DIR=...`) then CMAKE is able to continue, but more is missing...

[code]

I think I'm doing something systematically wrong when trying to install OpenVINO for a C++ development environment, trying to just get the OpenVINO samples to build.

I'm following this installation guide, for C++ developers: "https://docs.openvino.ai/nigh

[2022-05-05 14:14] NekiKulLik commented on #11554
Hmm when I try to `import openvino.runtime` with openvino-arm on M1 Mac I seem to get:
[code]
Have you maybe noticed this issue @cansik ?

[2022-05-05 14:26] cansik commented on #11554
@NekiKulLik Yes I experience the same error, thanks for the hint. It is because openvino links the libs with `@rpath` and I have to "manually" change them with the `install_name_tool ` ([build-macos.sh#L138-L139](https://github.com/cansik/openvino-arm/blob/main/build-macos.sh#L138-L139)). To `import openvino` the current changes were enough, but I never used the `openvino.runtime`. I am going to a

[2022-05-05 15:51] marcjasner commented on #11620
Sounds good. I'm interested in comparing the performance of things like the Atom and potentially some Celerons (such as the G1820T, formerly Haswell) to something like an ARM device with a MYRIAD device attached, but it wasn't worth doing the comparison if it wasn't supported outright. Thanks

[2022-05-05 17:27] NekiKulLik commented on #11554
@cansik Solves the problem, thanks for the response!
I'm running into a different issue though, when I try to call [compile_model](https://docs.openvino.ai/latest/api/ie_python_api/_autosummary/openvino.runtime.compile_model.html) function from that module.
It throws:
[code]
Could be that I have version mismatch there, I'll investigate a bit more.

[2022-05-05 18:04] cansik commented on #11554
Ok, I've released the new build to pypi. If you could provide me a small code example, I can investigate further. Would that be possible?

[2022-05-05 19:06] jgespino commented on #11584
That was fast! Mine is still building... Feel free to close the bug and start a new issue if you have any additional questions.

[2022-05-05 19:08] marcjasner commented on #11584
I don't know that I'd call it fast, but it definitely built and ran successfully! I did have to add a fair amount of swap to the armbian build to keep it building, but whatever works!

I'll close this. Thanks

________________________________
From: Jesus Espinoza ***@***.***>
Sent: Thursday, May 5, 2022 3:06 PM
To: openvinotoolkit/openvino ***@***.***>
Cc: Marc Jasner ***@***.***>; Mention ***@***

[2022-05-05 19:08] #11584 closed

[2022-05-05 23:51] jgespino commented on #11624
@brmarkus There is something strange about your install, my `/opt/intel/openvino_2022/runtime/3rdparty/tbb/ `does contain a lib and include directory. Your steps look correct too. Can you provide the install log under `/opt/intel/logs`?

![image](https://user-images.githubusercontent.com/18014973/167044836-9cf3d67b-9550-4698-adf2-3b093681febe.png)

[2022-05-06 01:27] Iffa-Meah commented on #11620
If you are interested to see the OpenVINO performance on a variety of Intel devices, this [Benchmark Results](https://docs.openvino.ai/latest/openvino_docs_performance_benchmarks_openvino.html) might intrigue you.

[2022-05-06 01:39] nyck33 opened #11634 "[Bug] openvino opencv installation instructions for Linux are confusing"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit (WSL2 Linux Subsystem)
- Compiler => Visual Studio 2022
- Problem classification: documentation error

##### Detailed description
Here: https://docs.openvino.ai/nightly/openvino_docs_install_guides_installing_openvino_linux.html#install-external-dependencies

it says:
[code]
but here:  https://

[2022-05-06 04:59] zulkifli-halim commented on #11551
Closing, please re-open if additional assistance is needed.

[2022-05-06 04:59] #11551 closed

[2022-05-06 06:01] NekiKulLik commented on #11554
@cansik Sure, the code is quite small:

[code]
Where mobilenet-ssd is downloaded using [Openvino Model downloader](https://docs.openvino.ai/latest/omz_tools_downloader.html) though I'm facing that same issue with any model, not just Mobilenet. It breaks on `compile_model` line.

[2022-05-06 06:45] miaobin opened #11638 "[Bug] Using index to get the IE internal inputs name may get the wrong result."
##### System information (version)

- OpenVINO => 2021.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Graphic Compilation
- Model name: RNNoise

##### Detailed description
When the model has multiple inputs, we may get wrong results by suing the IE internal input names through the `ie_network_get_input_name()` function.

##### Steps to

[2022-05-06 08:45] cansik commented on #11554
@NekiKulLik Thanks for the test script, I could run it and it seems to work here. My guess is that it has to do with the MacOS version. I was not aware that there is a dependency to the system it is built on because I have set the `CMAKE_OSX_DEPLOYMENT_TARGET=11` which should work on **BigSur** too. Are you running the script on **BigSur** or **Monterey**?

[2022-05-06 08:47] NekiKulLik commented on #11554
@cansik Ah. As of now I'm on Big Sur 11.2.2

[2022-05-06 08:52] cansik commented on #11554
What I could try to do is to build it on MacOS 11 with github actions, but because the machines are not ARM64 but Intel I am not sure if it will work. Otherwise you could of course build the wheels for now for your own system with the [shell script](https://github.com/cansik/openvino-arm). Just clone the repo and run `build-macos.sh`.

[2022-05-06 09:26] NekiKulLik commented on #11554
That is okay, I have an option to either build it or just upgrade the system. Thanks for all the help! @cansik

[2022-05-06 12:05] AyaNasser96 commented on #11583
@zulkifli-halim  Thank you, the last question is
My version on linux is equal to **2021.4.752** is this equal to 2021.4.2 at windows or there are some difference ??

[2022-05-06 12:13] AyaNasser96 commented on #11583
@zulkifli-halim  Thank you ^^

[2022-05-06 22:50] jgespino commented on #11634
@nyck33 Thanks for reaching out, both installation methods will install openvino-opencv version 2022.1.0.

If you are using the offline/online installer, you can verify by looking at the download_opencv.sh script:
`VER="opencv/release_2022.1/20220311_0602-4.5.5_090`

If you are installing using the APT repository, you can verify by running:
[code]

I would recommend installing OpenCV using the doc

[2022-05-07 02:44] intjun opened #11646 "ov::DiscreteTypeInfo::version’ is deprecated: This member was deprecated. Please use version_id instead."
编译的时候出现：
ov::DiscreteTypeInfo::version’ is deprecated: This member was deprecated. Please use version_id instead.

[2022-05-07 11:36] a3213105 opened #11648 "[Bug] ReverseSequence Doesn't support op with dynamic shapes"
I have an OCR model using ReverseSequence need dynamic shapes, but OV is not supported. Can i write a support patch and push it to main stream?

[2022-05-08 03:03] tbplayer1989 commented on #11531
Thank you very much. I have solved my problem and realized the conversion. here is my code

std::shared_ptr<unsigned char> getData(Mat& img) {
	int width = img.cols;

	int height = img.rows;

	std::shared_ptr<unsigned char> _data;
	size_t size = width * height * img.channels();

	_data.reset(new unsigned char[size], std::default_delete<unsigned char[]>());
	Mat resized(cv::Size(width, height), img

[2022-05-09 07:49] zulkifli-halim commented on #11638
Hi @miaobin. Please share with us your native model and the MO command used to convert the model.

You might like to know, the [src/bindings/c/src/ie_c_api.cpp](https://github.com/openvinotoolkit/openvino/blob/master/src/bindings/c/src/ie_c_api.cpp#L736) that you refer to is from OpenVINO 2022.1 version, For OpenVINO 2021.4.2 version can be found here:
https://github.com/openvinotoolkit/openvino/b

[2022-05-09 10:17] brmarkus commented on #11624
Let me start anew with the system, it looks like a mixture of manually changed PPA repos from Ubuntu 20.04 and Ubuntu 21.04.
For now I'm using OpenVINO 2022.1 in a Docker container.
Closing!

[2022-05-09 10:17] #11624 closed

[2022-05-10 01:42] Iffa-Meah commented on #11646
@intjun could you provide:
1. command that you use which cause the error
2. script/code (did you use official OpenVINO sample or custom made?)
3. which OpenVINO version are you using?

[2022-05-10 08:52] miaobin commented on #11638
Hi @zulkifli-halim, thanks for the prompt reply, we are not using MO to convert the model now, we are using the ngraph API to add inputs, nodes and outputs and finally compile the model, during this process we encountered the above problem.

[2022-05-10 08:59] Iffa-Meah commented on #11531
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-05-10 09:03] #11571 closed

[2022-05-10 09:04] Iffa-Meah commented on #11582
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-05-10 09:04] #11582 closed

[2022-05-10 16:28] Duum opened #11666 "Check 'element::Type::merge(element_type, element_type, node->get_input_element_type(i))' failed at core/src/op/util/elementwise_args.cpp:20: While validating node 'v1::Equal 438 (436[0]:boolean{?,1,?,?}, Constant_91604[0]:u8{1,1,1,1}) -> ()' with friendly_name '438': Argument element types are inconsistent.[Bug]"
Check 'element::Type::merge(element_type, element_type, node->get_input_element_type(i))' failed at core/src/op/util/elementwise_args.cpp:20:
While validating node 'v1::Equal 438 (436[0]:boolean{?,1,?,?}, Constant_91604[0]:u8{1,1,1,1}) -> ()' with friendly_name '438':
Argument element types are inconsistent.

[2022-05-10 16:31] #11487 closed

[2022-05-10 16:32] #11579 closed

[2022-05-10 16:37] #11553 closed

[2022-05-10 16:44] jgespino commented on #11562
Closing, please re-open if additional assistance is needed.

[2022-05-10 16:44] #11562 closed

[2022-05-10 22:27] jgespino commented on #11648
@a3213105 Yes you can! I see you have already created the pull request and is pending a review by one of the maintainers.

[2022-05-10 22:42] #206 closed

[2022-05-11 02:22] Iffa-Meah commented on #11666
@Duum could you provide:

1. your commands
2. script/code (did you use official OpenVINO sample or custom code?)
3. which OpenVINO version
4. your model and its topology

[2022-05-11 06:15] amarjeet-saini opened #11668 "[Bug] AsynchronusInferQueue throws runtime error with Hetero plugin"
##### System information (version)

- OpenVINO=> Intel openvino 2022.1
- Operating System / Platform => x86_64 (Ubuntu 20.04.3 LTS)
- Problem classification => AsynchronusInferQueue throws runtime error with Hetero plugin

Running openvino on odroid h2 board with below devices
Devices => Intel celeron j4105, iGPU, Intel movidus X

##### Detailed description
I was trying to run top 4 heaviest subgr

[2022-05-11 06:45] Duum commented on #11666
https://github.com/Mashiro009/wenet-online-decoder-onnx
in this readme , it has a link of baidu wangpan, and it has three onnx ，when I try encoder, and build model failed.

[2022-05-11 06:48] cxf2015 opened #11669 "[Bug] Memory Leak on inferance"
##### System information (version)
- OpenVINO = 2022.1.0.643
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: pytorch(if applicable)
- Model name: OCR (if applicable)

##### Detailed description
when i use OpenVINO2022.1.0.643 to inferance a text image "infer_request.infer();" always Memory leaks.
code list:
##

[2022-05-11 06:48] Duum commented on #11666
I has no idea how to add big file in this readme ,if you can't find ,I can send the onnx model by email

[2022-05-11 07:00] elfring commented on #206
How do you think about to [improve any remaining source code places](https://github.com/openvinotoolkit/openvino/blob/ec3283ebe1dd4ee3b76f21fb9994d1da8b077154/src/bindings/c/src/ie_c_api.cpp#L266 "Update candidate: ie_param_free()") according to the mentioned transformation pattern?

[2022-05-11 07:23] mateusztabaka commented on #11648
There is also work ongoing here https://github.com/openvinotoolkit/openvino/pull/11644 to add the dynamic shapes support to ReverseSequence.

[2022-05-11 09:22] tomdol commented on #11666
@Duum your model contains an `Equal` operation which takes a boolean and uint8 inputs. Both data types have to be the same in order to be imported to OV https://github.com/openvinotoolkit/openvino/blob/master/docs/ops/comparison/Equal_1.md

Can you please check your model and adjust it? You should either align both inputs or insert a `Cast` operator before one of the operator's inputs.

[2022-05-11 09:25] Duum commented on #11666
buy why onnx runtime is work fine? we don't compatibility with onnx？

[2022-05-11 09:30] tomdol commented on #11666
ONNXRuntime is a different framework which implements the ONNX standard. In fact the ONNX standard also requires that the inputs to the `Equal` operator use the same data type https://github.com/onnx/onnx/blob/main/docs/Operators.md#inputs-31. Perhaps in ONNXRT the requirements are more relaxed.

BTW, can you check your model with this python code?

`import onnx`
`model = onnx.load("path/to/your/m

[2022-05-11 09:33] Duum commented on #11666
thank you ， I'll try it

[2022-05-11 19:10] jgespino commented on #11668
@amarjeet-saini Thank you for proving all the necessary steps and files to reproduce. I don't have access to a system with the same processor. However, I was able to reproduce the issue in a similar setup. Let me look into it and get back to you.

[2022-05-11 22:58] saratpoluri commented on #3845
I have verified that using GPU_PLUGIN_THROTTLE setting in OpenVino 2022.1, the CPU utilization of the benchmark app drops to 2%. When not using that setting the CPU util is at 100%. As recommended in one of the comments above use the below config option when Loading network. In the case of benchmark_app you can pass it through a config.json file.
https://docs.openvinotoolkit.org/2019_R3/_docs_IE_D

[2022-05-12 00:09] a3213105 commented on #11648
It's great that someone try to fix my issue. I will wait if his commit can make my model run, then I will close this ticket. thanks for your mention @mateusztabaka

[2022-05-12 02:32] uglymie opened #11673 "Failed to load onnx model using C + + SDK"
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: onnx
- Model name: yolov5s

Failed to load onnx model using C + + SDK，But it works with Python。
Run to compile_ model() crashed

[2022-05-12 03:45] Iffa-Meah commented on #11669
@cxf2015 could you share your model? and what model and topology it is?

[2022-05-12 10:27] shliar opened #11676 "Fail to Convert ONNX Model to OpenVINO IR"
##### System information (version)
- OpenVINO => 2022.1.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2021
- Problem classification: Model Conversion
- Framework: onnx
- Model name: yolo

##### Detailed description
I'm using the Mo tool to complete the conversion from onnx format model to IR format model, but I encountered some errors, resulting in the conversion fa

[2022-05-12 14:04] brmarkus commented on #11673
Can you provide more details about your environment and installation, please?

Would you be able to share source code to reproduce?

Do you get any log-messages, or runtime exceptions, error-codes?

How do you call "compile_Method()", via an API or using the model-compiler-tool from a shell-terminal?

Can you reproduce the problem with any other ONNX, or only with your model?
Would you be able to

[2022-05-12 18:07] jgespino commented on #11638
@miaobin Which version of OpenVINO are you using? Would you mind sharing a minimal example to reproduce?

[2022-05-12 23:08] jafar0892 commented on #11582
@Iffa-Meah
i apologize for late answer, beacuse i was quite busy with exam!!! Ja, i am using raspberry pi with ARMv7 and runtime has been installed from openvino site.
I tried to run an example code from openvino but i got just error after error.

[2022-05-13 03:47] QuinnCoder commented on #7233
Really hope to support this model on GNA soon,thanks.

[2022-05-13 04:47] Iffa-Meah commented on #11676
@shliar could you share your model? and where's the source of this model? (eg: [Ultralytic](https://github.com/ultralytics/yolov5))

[2022-05-13 04:51] Iffa-Meah commented on #11596
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-05-13 04:51] #11596 closed

[2022-05-13 08:48] cxf2015 commented on #11669
hi @Iffa-Meah Relevant information has been sent to your email. thank you!

[2022-05-13 09:13] Iffa-Meah commented on #11676
@shliar based on the model you emailed me, I did a quick test and found that your model is not supported to be run on OpenVINO.

<img width="660" alt="benchmark" src="https://user-images.githubusercontent.com/79643476/168250897-ccb90c90-dd4c-4740-a5a8-2b57b35e2710.png">

Is this a custom model that you created or is it sourced from somewhere?

These are readily available ONNX models and officially

[2022-05-13 09:31] shliar commented on #11676
Hi:
&nbsp; &nbsp;&nbsp;This is my own training model,the model file is in the attachment,please unzip it .In /best_model is the model created by paddle frame,in /inference_model/new/inference_model are the inference_model and&nbsp; onnx model,thanks~

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-05-13 09:34] shliar commented on #11676
Hi Iffa-Meah
    you can find my model file in https://github.com/shliar/onnx-model-Colourful-mosaic-detection.git

[2022-05-13 10:55] tomdol commented on #11676
@shliar your model contains a Resize node named `p2o.Resize.0`. This node takes an optional input called `sizes` and in your model it seems to be connected to something with undefined data type:
![image](https://user-images.githubusercontent.com/22572387/168269179-289b7f87-2ceb-458c-8c6d-ea52465e59b2.png)
If you're trying to resize the output of LeakyRelu using scales you should not connect anythi

[2022-05-13 12:48] amarjeet-saini commented on #11668
@jgespino Is there any update on the issue ?

[2022-05-13 13:01] tomdol commented on #11676
I've checked again and it turns out my original assumption was wrong. Resize operator handling had a bug and here's a bugfix https://github.com/openvinotoolkit/openvino/pull/11692

[2022-05-13 13:07] shliar commented on #11676
Thanks! I'll get the latest version and try again later

[2022-05-13 13:07] #11676 closed

[2022-05-13 15:57] Amrou7 opened #11693 "[Bug] Old version of requirements"
##### System information (version)

- OpenVINO=> 2022.1.0
- Operating System / Platform => ubuntu 20.04

##### Detailed description

Thank you for this tool. I want to know why the requirements are old? for instance I can't use a recent version of numpy which leads to warnings, tensorflow2 also is old.
Do you intend to upgrade the requirements?
Thank you

[2022-05-13 16:19] jgespino commented on #11668
@amarjeet-saini I have raised a ticket with the development team to investigate as it may be a bug. I was not able to see the same behavior on a newer Intel Core CPU.

Looking at the affinity when not manually specifying, every op is set for MYRIAD.
![image](https://user-images.githubusercontent.com/18014973/168325095-649d3f26-795f-438d-85b7-b84f7f22e288.png)

When manually specifying the affinity

[2022-05-13 16:58] jgespino commented on #11262
@SiegfriedIppischSecuriton Is the NCS 2 connected to a USB 3.0? Is there any chance that you have a powered USB Hub to rule out a power issues? The duplicate ID error can be reproduced when inference is running and system goes to sleep, which on windows it usually cuts power to the USB ports. This leads me to believe the NCS 2 is not receiving enough power.

[2022-05-13 17:37] jgespino commented on #11693
@Amrou7 Thanks for reaching out! There are internal conversations to relax the numpy version. We have reports of customers using newer version of numpy and TensorFlow without any issues. The versions installed with the OpenVINO package are specified as those have been validated with OpenVINO.

Please monitor the [release notes page](https://www.intel.com/content/www/us/en/developer/articles/releas

[2022-05-15 15:01] amarjeet-saini opened #11694 "[Bug]Multi plugin implementation workload division"
##### System information (version)

- OpenVINO=> Intel openvino 2021.4
- Operating System / Platform => x86_64 (Ubuntu 20.04.3 LTS)
- Problem classification => Multi plugin implementation workload division

##### Detailed description

Experiment trying to do :
Using MULTI plugin workload division is b/w devices (I know that at higher level MULTI plugin  divides work at inference request level & ta

[2022-05-16 01:37] Iffa-Meah commented on #11676
@shliar
Note that starting from the 2020.4 release, OpenVINO™ supports reading native ONNX models.
You should be able to run the model using OpenVINO Benchmark App without any conversion to see compatibility.

I tested the model you shared through email

<img width="554" alt="benchmarkapp" src="https://user-images.githubusercontent.com/79643476/168504942-048417e6-ead3-49cc-ab57-395776c3c1c5.png">

[2022-05-16 08:04] zhentaocc opened #11696 "[Bug] Cannot quantize a model with dynamic shape using POT"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Linux Ubuntu
- Installation: pip install openvino-dev
- Problem classification: POT
- Framework: IR
- Model name: MobileNetV3, ResNet18

##### Detailed description
Not able to quantize a model with dynamic shape like [-1, 3, 256, 256] using POT

##### Steps to reproduce

1. Download [mobilenetv3.zip](https://

[2022-05-17 01:31] Iffa-Meah commented on #11620
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-05-17 01:43] Iffa-Meah commented on #11669
@cxf2015,

I tested your IR model with [OpenVINO Benchmark Python Tool](https://docs.openvino.ai/latest/openvino_inference_engine_tools_benchmark_tool_README.html) and it seems that there are issues related to shapes.

Could you share your conversion command?
It is best to validate the memory leak issue using OpenVINO Official Samples since they had been properly designed to work with supported de

[2022-05-17 02:09] cxf2015 commented on #11669
@Iffa-Meah are you mean conversion command"python mo.py --input_shape=[1,1,32,?] --input_model=D:\textreg.onnx --output_dir=D:\"
The error in the screenshort should be an input image size problem.
Is it my conversion the model to the OpenVINO IR format problem?

[2022-05-17 02:48] Iffa-Meah commented on #11669
@cxf2015 does the same issue occur if you set the input shape to static?
python mo.py --input_shape=[1,1,32,280] --input_model=D:\textreg.onnx --output_dir=D:

If possible could you share your native model?

[2022-05-17 02:55] Johnzdh opened #11699 "[Bug] Nearly no speed up after INT8 quantization for deconvolution layer"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => => Linux Ubuntu
- Installation: pip install openvino-dev
- Problem classification: Quantization
- Framework: IR

##### Detailed description
There is only a little speed up after INT8 quantization for `nn.ConvTranspose2d` in pytorch.
(From 0.597ms to 0.555ms in Intel i5 CPU)

##### Steps to reproduce

Step 1.

[2022-05-17 05:43] cxf2015 commented on #11669
@Iffa-Meah The error does not occur if set the input shape to static, in addition "--input_shape=[1,1,32,280]" or "--input_shape=[1,1,32,?]" also get same result.

[2022-05-17 07:25] cxf2015 commented on #11669
@Iffa-Meah onnx file has been sent to your email, do you need another files?

[2022-05-17 10:33] SiegfriedIppischSecuriton commented on #11262
Hi @jgespino,

Both NCS 2 are connected to USB 3.0. We have no powered USB Hub. If you think this test is neccessary, i will get one.

Anyways, I had another idea to rule out the power issue. Instead of two NCS Sticks, i have used the Mustang-V100-MX4-R10. In this run, no NCS is plugged in, ony the Mustang card. Anything else is the same setup.

The output for this run:
![grafik](https://user-imag

[2022-05-17 19:02] jgespino commented on #11694
@amarjeet-saini I don't believe there is an easy way to obtain the split ratio. However, your approach should provide some insights to determine that ratio. I was able to see additional information using OpenVINO 2022.1 release using the following command. This may work with OpenVINO 2021.4.2 release as well but in case you run into any issues, I suggest upgrading to OpenVINO 2022.1 release.

`ben

[2022-05-17 20:56] amarjeet-saini commented on #11694
@jgespino Thanks for the reply.
I tried  the following cmnd
`benchmark_app -m <model> -d MULTI:MYRIAD,GPU -pc -niter 15 -nireq 15 -i <folder 15 images> -report_type detailed_counters -api async
`
But, in the last column I only see GPU as execType not MYRIAD even though I have specified `MULTI:GPU,MYRIAD` so there should be MyriadXHwOp for atleast 1 inference request right.
[benchmark_report.csv](h

[2022-05-18 00:14] Iffa-Meah commented on #11669
@cxf2015,

Starting from the 2020.4 release, OpenVINO™ supports reading native ONNX models.
So you should be able to infer the ONNX model without converting if nothing's wrong with it/supported.

However, the inference failed for your native ONNX model. This relates to importing the input stream with binary protobuf.
<img width="565" alt="BenchmarkONNX" src="https://user-images.githubusercontent.c

[2022-05-18 01:08] cxf2015 commented on #11669
@Iffa-Meah i test reading native ONNX model to inference, have same problem. Memory usage is growing all the time. if i fix image input size there is no memory leak.
i convert onnx file by "
data = torch.randn(1,1,32,280)
torch.onnx.export(model, data, 'textrec.onnx', export_params=True, opset_version=12)"  are there any mistakes?
otherwise i will test official model to see if anyone have same pro

[2022-05-18 06:44] cxf2015 commented on #11669
@Iffa-Meah I think is may be caused by nn.lstm module. There are no memory leaks if LSTM is not used in the model. Is this normal?

[2022-05-18 07:10] czy2014hust opened #11702 "[Bug]what(): This object was compiled for different metadata!"
##### System information (version)

- OpenVINO=> :commit: 18e83a2:
- Operating System / Platform => :Doker Linux:
- Compiler => :gcc:
- Problem classification => :Runtime ERROR:

##### Detailed description
I have one demo which can be running successfully in docker container, but failed with the below error when moving to other docker container on different platform.

  what():  This object was co

[2022-05-18 09:36] cxf2015 commented on #11669
@Iffa-Meah when i use  nn.LSTMCell replace nn.LSTM no memory leaks.
code:
        self.rnn_forward = nn.LSTMCell(nIn, nHidden )
        self.rnn_backward = nn.LSTMCell(nIn, nHidden )
        # nn.LSTM(nIn, nHidden, bidirectional=True)
Is this normal?

[2022-05-18 15:54] Grigor355 opened #11710 "AVX512 is not faster than AVX2 for quantized model"
I have quantized a CNN model  with OpenVino. When timing inference speed on Intel® Xeon® Gold 6138 (has AVX512) and Intel I7-8700K(AVX2), I don't see any significant difference. Moreover, Xeon is a little bit slower. Timing was done both manually and with benchmark app. I also checked with benchmar_app -pc, AVX512 is being used on Xeon. Given that Xeon has 2 FMA units, I think I should have seen s

[2022-05-18 22:39] jgespino commented on #11702
@czy2014hust Could you please provide steps and necessary files to reproduce?

[2022-05-19 00:14] aisnote opened #11714 "[Bug] ie_core_load_network return general error with conditional compile binary"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => windows 10
- Compiler => Visual Studio 2019 with conditional compile
- Problem classification => can not load network, General Error

##### Detailed description

##### Steps to reproduce
- conditional compile according to [github wiki](https://github.com/openvinotoolkit/openvino/wiki/ConditionalCompilation)
-

[2022-05-19 00:59] Iffa-Meah commented on #11699
I did a quick check to your model.

Here's my findings on the native and FP16 format performance.

native
<img width="488" alt="benchmark_onnx" src="https://user-images.githubusercontent.com/79643476/169179570-ed5ae195-8f86-449e-ada8-c3c4c8937d2d.png">

FP16
<img width="488" alt="benchmark_fp16" src="https://user-images.githubusercontent.com/79643476/169179594-705d7bff-b937-46ed-8eb0-3cba177628e4.

[2022-05-19 07:26] Iffa-Meah commented on #11669
@cxf2015 the main thing here is to make sure that the model itself is supported by OpenVINO which means it should be able to run with any suitable OpenVINO Official Samples. This is why I asked the above questions (whether you had validated this model to be compatible with OpenVINO) since from my side, I can see that the model is not able to be inferred from the OpenVINO perspective which is likel

[2022-05-19 08:52] cxf2015 commented on #11669
@Iffa-Meah i tested this model by Benchmark Python Tool, if i use nn.LSTMCell to implement a Bidirectional-RNN OpenVINO works well, but if i use nn.LSTM memory leaks occurs.
meybe OpenVINO handled differently on nn.LSTM( ) nn.LSTMCell(), and need to optimize nn.LSTM( ).

[2022-05-19 10:51] wujingxin521 opened #11717 "[Bug]mo and core.compile_model do not support Chinese paths"
##### System information (version)
<!-- Example
- OpenVINO => 2020.4
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: TensorFlow2.6 (if applicable)

**### Requirements: Looking forward to solving the problem of abnormal Chinese paths**

1.mo
I use the convert command like below：
`mo --input_model D:\模型\model

[2022-05-19 10:53] wujingxin521 commented on #11717
##### System information (version)
<!-- Example
- OpenVINO => 2020.4
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: TensorFlow2.6 (if applicable)

**### Requirements: Looking forward to solving the problem of abnormal Chinese paths**

1.mo
I use the convert command like below：
`mo --input_model D:\模型\model

[2022-05-19 11:31] brmarkus commented on #11717
Can you provide more details about your environment, please?
Do you use C/C++/Python code? Do the source-code files contain codepage-settings? Do you escape the characters, do you use UNICODE-codes in the code like:

[code]

Do you just call the "mo" in a shell console? Can you show an example command line? Do you put the paths/filenames in quotes, double-quotes?

[2022-05-19 12:42] wujingxin521 commented on #11717
1.mo is executed in Anaconda Power Prompt。
The operating system character set is the GBK character set。Try all three and get an error：
`(tfopenvino) PS C:\Users\Administrator> mo --input_model 'D:\工作\模型\外发给其余人模型\继电器\2021-12-27\model.pb' --output_dir "D:\工作\模型\外发给其余人模型\继电器\2021-12-27"
(tfopenvino) PS C:\Users\Administrator> mo --input_model D:\工作\模型\外发给其余人模型\继电器\2021-12-27\model.pb --output_dir D:\

[2022-05-19 17:05] jgespino commented on #11262
@SiegfriedIppischSecuriton I am not able to reproduce the issue, could you try to use OpenVINO 2022.1 release and testing with the HDDL Plugin and the Mustang-V100-MX4-R10 card?

Please install OpenVINO 2022.1 using the offline/online installer.
https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html

[2022-05-19 17:22] aisnote commented on #11714
I used the Official runtime with the same model, no this issue. Thanks.

[2022-05-19 17:25] jgespino commented on #11694
@amarjeet-saini Try swapping the device order to `MULTI:MYRIAD,GPU`. I was able to see the following:
[code]

Another thing you can try is using the [AUTO plugin](https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_AUTO.html) which was introduced in the latest release.
`benchmark_app -m public\alexnet\FP16\alexnet.xml -pc -report_type detailed_counters -niter 10 -d AUTO:MYRIAD,GP

[2022-05-19 17:34] aisnote commented on #11714
![image](https://user-images.githubusercontent.com/1201634/169362307-033b87b7-2adc-45ea-ac6b-a4acc7d0ae37.png)

[2022-05-19 17:34] aisnote commented on #11714
![image](https://user-images.githubusercontent.com/1201634/169362434-f9a6000e-c0f1-4a6e-a3b2-3d37bc38e978.png)

[2022-05-19 17:35] aisnote commented on #11714
1.     OV_ITT_SCOPED_TASK(itt::domains::intel_cpu, "Engine::LoadExeNetworkImpl");

	if (isLegacyAPI()) {
2.        for (const auto& res : nGraphFunc->get_results()) {
            if (res->get_input_partial_shape(0).is_dynamic()) {
                IE_THROW() << "CPU plug-in can't load a model with dynamic output shapes via legacy API.";
            }
        }
    }

3.	return std::make_shared<MKLD

[2022-05-19 17:37] aisnote commented on #11714
not sure what I missed?
![image](https://user-images.githubusercontent.com/1201634/169362921-fd44ecbe-82b5-4933-8f04-99f3a7409f55.png)

[2022-05-19 18:15] amarjeet-saini commented on #11694
@jgespino
`benchmark_app -m <model> -d MULTI:GPU,MYRIAD -pc -niter 100 -nireq 100 -i <folder 100 images> -report_type detailed_counters -api async` also with if I select -d MULTI:MYRIAD,GPU

![Screenshot from 2022-05-19 23-34-11](https://user-images.githubusercontent.com/55313417/169370239-cb62bedd-437e-467f-97aa-1f11f72de82d.png)

Will try changing device and use AUTO plugin. Thanks

[2022-05-19 23:12] aisnote commented on #11714
void MKLDNNGraph::CreatePrimitives() {
    OV_ITT_SCOPED_TASK(itt::domains::intel_cpu, "MKLDNNGraph::CreatePrimitives");
    for (auto& node : graphNodes) {
        OV_ITT_SCOPE(FIRST_INFERENCE, itt::domains::intel_cpu_LT, node->profiling.createPrimitive);
        node->createPrimitive();
    }
}

here will jump to throw but not cached which line caused that.
Seems it is on the **last node in grap

[2022-05-20 00:17] wenjiew commented on #11717
@peterchen-intel Can you help find someone to take a look at this? Thanks!

[2022-05-20 00:50] riverlijunjie commented on #11714
1. Visual Studio 2019 with conditional compile
    Could you confirm "VS 2019 conditional compile" just is VS compiler options, but not "OpenVINO itself conditional compilation" ?

2. Is the model you test is dynamic model? Have you tried other models?

3. Is seems you build OpenVINO, do you set special compile options?

[2022-05-20 00:55] Iffa-Meah commented on #11669
we'll further investigate this and get back to you soon

[2022-05-20 01:23] Iffa-Meah commented on #11710
Generally, the Intel AVX-512 enables twice the number of floating point operations per second (FLOPS) per clock cycle compared to its predecessor, Intel AVX2. So the AVX512 should be faster than AVX2. However, the involvement of INT8 precision might somewhat affect this.

We'll further investigate and get back to you asap.

[2022-05-20 01:35] Iffa-Meah commented on #11646
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-05-20 01:35] #11646 closed

[2022-05-20 04:39] aisnote commented on #11714
For item1. I followed this link for conditional compile: https://github.com/openvinotoolkit/openvino/wiki/ConditionalCompilation

for item2. will check with the model training team and back to here

for item3, see above item1.

[2022-05-20 04:43] aisnote commented on #11714
I am not familiar with OpenVINO source code, but if  removed SELECTIVE_BUILD on VS2019 for cpu_plugin. At least the model can ben loaded successful. And the cpu_plugin.dll size will reduced to 11m around.

[2022-05-20 04:44] aisnote commented on #11714
Tried other model, also meet the same issue.

[2022-05-20 08:26] sergiossm opened #11721 "[Android] Error: Unknown model format"
##### System information (version)
- OpenVINO => 2021.4.1
- Operating System / Platform => Ubuntu 18.04LTS
- Compiler => CMake 3.21.1
- Framework: Android
- Device: Xiaomi Mi 11
- Model name: face-detection-adas-0001

##### Detailed description
I'm trying to build the Android app following the instructions in [this](https://opencv.org/face-recognition-on-android-using-openvino-toolkit-with-arm-plu

[2022-05-20 09:20] riverlijunjie commented on #11714
Openvino Conditional Compilation (CC) with "COLLECT" option will add some additional operations to collect itt perf info, it should not bring any problem, let's me reproduce this issue in my machine and reply to you.

BTW, do you have to try similar C++ sample in directory of samples/cpp/hello_classification?

[2022-05-20 09:33] fenaux opened #11722 "not possible to configure Neural Computer Styck with OpenVINO: 2022.1 (Pypi)"
##### System information (version)
 Ubuntu 20.04.4 LTS
-Pip version: 22.1
OpenVINO source: /home/fenaux/openvino_env/lib/python3.9/site-packages/openvino
OpenVINO IE version: 2022.1.0-7019-cdb9bec7210-releases/2022/1
OpenVINO environment activated: OK
Jupyter kernel installed for openvino_env: NOT OK
Python version: 3.9 OK
OpenVINO pip package installed: OK
OpenVINO import succeeds: OK
OpenVINO de

[2022-05-20 11:27] fenaux commented on #11722
I discover the problem with
https://github.com/openvinotoolkit/openvino_notebooks/issues/556

[2022-05-20 12:43] thestarivore opened #11725 "Not possible to configure Neural Computer Stick 2 with OpenVINO + onnxruntime"
##### System information (version)
-  Raspberry PI 4B - Raspbian Bullseye - ARM64
- Intel® Neural Compute Stick 2
- ONNX Runtime version v1.11.0
- OpenVINO 2022.1

##### Detailed description
Hi, I'm trying to get OpenVINO + ONNXRUNTIME  to work on a Raspberry PI 4B with a ARM64 OS (Raspbian Bullseye). But I can't link it to onnxruntime. I'm building onnxruntime and openvino from scratch and they w

[2022-05-20 16:06] jgespino commented on #11721
@sergiossm I haven't tried this myself but looking at the guide you shared your OpenVINO version and downloaded model version are not compatible.

Following the guide, it's cloning the master branch of Open Model Zoo which contains models in IRv11 format that was introduced in OpenVINO 2022.1 release. I suggest cloning the Open Model Zoo 2021.4.2. branch to match your build or rebuild OpenVINO usi

[2022-05-20 16:10] aisnote commented on #11714
c++ sample has the same issue. Almost the same with c sample

[2022-05-20 16:12] jgespino commented on #11722
@fenaux The Myriad Plugin is not part of the pip package. You must install OpenVINO using the [Offline/Online installer](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html) and run the scripts mentioned in the [additional instructions](https://docs.openvino.ai/latest/openvino_docs_install_guides_configurations_for_ncs2.html) for NCS 2.

[2022-05-20 16:51] fenaux commented on #11722
thanks
I follow instruction here https://docs.openvino.ai/nightly/openvino_docs_install_guides_installing_openvino_linux.html
step 1.5 fails with this message
"system requirements not met
Not enough permissions
Directory /home/fenaux/intel requires write permissions"

here is the result of ls -l
drwxr-xr-x  2 root   root    4096 oct.   2  2019 intel

I try with
chmod g+w intel
but I got permission

[2022-05-20 17:24] jgespino commented on #11722
@fenaux Probably some configuration issue on your sytem as you shouldn't see any permission issues in your home directory. When running the sh script from the offline installer, the intel directory was automatically created in my home directory with the following permissions. Please try modifying your intel directory permissions using `chmod 775 intel`. If that does not work, try running the insta

[2022-05-20 18:26] fenaux commented on #11722
Thanks but I am a bit lost...

I think this "intel" directory was created during a first installation of openvino in 2019. This directory is the only one with these permissions. So I think it was created with this permissions by the installation.
- Files where installed in openvino_training_extensions-develop
- so now I have a second directory openvino_env with 2021 version as describe in https://

[2022-05-20 18:49] jgespino commented on #11722
@fenaux That does sound messy, I would recommend uninstalling all previous installations of OpenVINO and remove any files of built samples or downloaded IR models to avoid any conflicts going forward.

Are you referring to this repository? This repository is separate from OpenVINO installation.

If you want to remove the pip installation, just remove the openvino_env directory.

An alternative wou

[2022-05-20 19:00] jgespino commented on #11710
@Grigor355 Would you please share the model in native format (caffee, TF, ONNX, etc) and the model optimizer command used. Also, please provide the quantized IR model for us to reproduce on our end.

Could you also please share additional information about your system environment?

- System OS
- OpenVINO Version
- Using CPP or Python?

[2022-05-20 20:40] jgespino commented on #11725
@thestarivore I am in the process of building OpenVINO 2022.1 from source on Bullseye (64-bit) on my raspberry pi 4. Will you just be using Python?

In the meantime, could you try adding `-DCMAKE_INSTALL_PREFIX=/opt/intel/openvino` to your cmake command and rebuilding. It should not take very long. Then run `sudo make install` and source the environment `source /opt/intel/openvino/setupvars.sh`.

[2022-05-21 04:37] mrsabhar-Intel commented on #11714
@aisnote  I tried same steps but getting operator not supported. @riverlijunjie  Can you try conditional compilation with any mlperf model?

[2022-05-21 07:59] sergiossm commented on #11721
Thank you for the quick reply @jgespino, it worked! I appreciate your help.

Closing.

[2022-05-21 09:50] fenaux commented on #11722
Thanks

I manage to change to change intel directory permission
drwxrwxr-x  2 root   root    4096 oct.   2  2019 intel
with sudo chmod 775 intel

then  removed openvino_training_extensions-develop

I am now ready to delete he openvino_env directory and perform the installation as describe
here https://docs.openvino.ai/nightly/openvino_docs_install_guides_installing_openvino_linux.html

Sorry but I

[2022-05-21 11:13] a3213105 opened #11727 "[Bug] Python AsyncInferQueue maybe has memory leak?"
Currently I'm writing asynchronous inference code using OpenVINO Python API, I found that when running the code below, the memory usage increases until the instance runs out of system memory, and then gets killed.

So I would like to ask, does OpenVINO have an operation to release memory? Or other way to work around this issue？

I have an object named ov_ops and it has a function run_async_batch w

[2022-05-21 12:24] sergiossm commented on #11721
Reopening because OpenVINO branch 2022.1 won't create file `inference_engine_java.jar`. Instead, it generates a `libinference_engine_java.so` file along with the rest of the prebuilt libraries.

On the left, the `.jar` file containing all classes in the Intel OpenVINO package. On the right, the prebuilt libraries generated after building OpenVINO for Android using branch 2022.1.

![Screenshot from

[2022-05-21 17:17] Grigor355 commented on #11710
I had an ONNX model which I first converted to OpenVino IR format by model_optimizer
mo --input_model "molde.onnx" --input_shape "[1, x, x, x]"  --output_dir "ov"  --data_type FP16 and then I followed official tutorials to do accuracy aware quantization
[code]
OS - Ubuntu 18.04
OpenVino Version - 2022.1.0
Using Python

I omitted the rest of the implementations of data_loader, metric, etc, but afte

[2022-05-22 08:42] riverlijunjie commented on #11714
There are 3 steps  for conditional compilation,
  1) cmake with option "-DENABLE_PROFILING_ITT=ON -DSELECTIVE_BUILD=COLLECT"
  2) generate statistics files:
        python ../../../thirdparty/itt_collector/runtool/sea_runtool.py --bindir <OpenVINO_DIR> -o  models_statistics_dir ! ./benchmark_app -niter 1 -nireq 1 -m mobilenetv2_fp32.xml"

3) cmake with option "-DSELECTIVE_BUILD=ON -DSELECTIVE_BUIL

[2022-05-22 08:47] riverlijunjie commented on #11714
If we didn't apply the cvs files generated by step 2, then we will encounter the load network failure:
      _[ ERROR ] ngraph_op_v0_Parameter_visit_attributes is disabled!_

The reason is that v0_Parameter_visit_attributes is defined in the cvs files, if we don't use the correct cvs file, the corresponding sets of definition will be missing and load network will get failure.

[2022-05-23 01:53] a3213105 commented on #11727
I use memory_profiler to debug the code and it shows that AsyncInferQueue causes a memory leak

Filename: /root/sgui/e2e/ov_operator_async.py

Line #    Mem usage    Increment  Occurrences   Line Contents
=============================================================
   168 13812.582 MiB 9074.680 MiB          17       @profile
   169

[2022-05-23 02:20] a3213105 commented on #11727
Filename: /root/sgui/e2e/ov_operator_async.py

Line #    Mem usage    Increment  Occurrences   Line Contents
\=============================================================

   169 13812.582 MiB 9074.680 MiB          17       @profile def run_async_batch(self, norm_img_batch_list) :
   170 13812.582 MiB    0.000 MiB          17           nsize = len(norm_img_batch_list)
   171 13812.582 MiB    0.00

[2022-05-23 07:07] luvwinnie commented on #11517
I'm facing the same error which shows on Slice node when validating the model.
The model I'm trying to export is a shape with (batch,n_steps,512) --> (-1,-1,512) , the below is the partial of my model.
Does anyone solved this?
![Screen Shot 2022-05-23 at 16 05 23](https://user-images.githubusercontent.com/13714992/169762907-0f7e9a6d-6af9-4b3a-bacd-4f9688def99e.png)

Errors
[code]