[2022-11-15 06:17] rkazants commented on #14001
Hi @cnglen,

In fact, OpenVINO does not support string tensors and any string operations. For now we recommend users to cut off such pre-processing by specifying new (custom) inputs of the model via MO `--input` option like:

[code]

In this case pre-processing should be performed separately.

Best regards,
Roman

[2022-11-15 08:13] ilya-lavrenov commented on #14001
@cnglen you can also use OpenVINO TensorFlow integration https://github.com/openvinotoolkit/openvino_tensorflow where a model executed via TF API, but supported operations are offloaded to OpenVINO and you can experience performance improvements as well.

[2022-11-15 09:45] #13970 closed

[2022-11-15 09:56] mitruska commented on #13970
The PR https://github.com/openvinotoolkit/openvino/pull/13994 resolving this issue has been merged to the openvino master branch.
@dlod-openvino Let us know if there's anything more we can do to help!

[2022-11-15 11:14] JulienMaille commented on #13493
@liubo-intel do you know why there's no `4.6.x-openvino-2022.2.0` branch of OpenCV?

[2022-11-15 11:47] yuxu42 commented on #13493
@alvoron Could you please help answer? Thanks!

[2022-11-15 14:46] alvoron commented on #13493
Since 2022.1.1 release OpenVINO team does not provide pre-built version of OpenCV and does not verify OpenVINO compatibility with the latest versions of OpenCV.
This instruction explains how to build OpenCV from source code against a specific version of OpenVINO: [link](https://github.com/opencv/opencv/wiki/BuildOpenCV4OpenVINO#approach-2-build-opencv-against-specific-version-of-openvino)
If your

[2022-11-15 17:03] avitial commented on #13594
@mosdav unfortunately ScatterNDUpdate is not supported by MyriadX plugin.

As highlighted by Andrei the doc shared is correct, ScatterUpdate (not ScatterNDUpdate) is supported by VPU plugins.

[2022-11-15 19:15] avitial commented on #13057
PR has been merged to master branch, closing this issue. Feel free to reopen and ask additional questions related to this topic.

[2022-11-15 19:15] #13057 closed

[2022-11-15 23:29] luvwinnie commented on #11669
I'm using the openvino model server 2022.2.0 docker and it have same problem here, when using dynamic shape for OCR model the memory slowly growth.

[2022-11-16 00:59] wang7393 commented on #13999
the system info is as flowwings:
![image](https://user-images.githubusercontent.com/29936604/202055497-95b5118a-d9de-4db6-afb0-160b78aae353.png)

When this problem occurs, I have monitored the system memory, gpu memory, cpu utilization and gpu utilization, and they are all normal.
The computer should also be at a normal temperature, as I didn't feel much heat.

[2022-11-16 01:16] riverlijunjie commented on #11669
The memory slowly growth is probably caused by kernel caches, there is a property to limit the cache size during compile_model, you can try set this property like this for python app:

compiled_model = core.compile_model(model=your_model, device_name="CPU", config = {'CPU_RUNTIME_CACHE_CAPACITY':'200'})

[2022-11-16 01:22] luvwinnie commented on #11669
Does this option able on docker openvino model server? like setting through config.json or something?

[2022-11-16 01:40] peterchen-intel commented on #13601
@yszhou2019 You can use this binary directly https://storage.openvinotoolkit.org/dependencies/thirdparty/windows/tbb2020_617e9a71_win.zip

[2022-11-16 02:27] riverlijunjie commented on #11669
I think so, it is a common property which can set with other properties.

[2022-11-16 02:36] Iffa-Meah commented on #13999
@wang7393 could you provide these:
1. Relevant model files
2. Which OpenVINO sample app did you use for this test case? (e.g. benchmark_app)
3. Since you are asking in GitHub, I assume you are using OpenVINO build from source ?

[2022-11-16 07:18] HeywardLiu commented on #13969
Hi @Iffa-Meah,
Thanks for confirming! I will try it on Ubuntu 20.04. 😇

[2022-11-16 07:23] yszhou2019 commented on #13601
@peterchen-intel I just compiled the tbb_2020 branch you mentioned and I suppose there is still a memory leak.
![image](https://user-images.githubusercontent.com/59953951/202113358-61befb15-643f-45ff-aa48-8184f38002d5.png)

[2022-11-16 07:27] yszhou2019 commented on #13601
I wonder how can this memory problem be fixed in later verison.

[2022-11-16 08:10] szu-lisili opened #14024 "fp64 and fp32, Argument element types are inconsistent.[Bug]"
I use "mo --input_model model.onnx" to convert my model.onnx to openvino IR, the onnx can be download using this url:
_https://pan.baidu.com/s/1C2cDHnCOzGkKJAPRLCJFMA?pwd=1111_
No error is reported during conversion.  But I can't open model.xml with Netron because I got the error like "**Unsupported precision "f64" in model.xml**".
I use "benchmark_app -m model.xml" to benchmark, but I got:

[ ERR

[2022-11-16 08:32] mlukasze commented on #14024
hey @szu-lisili of course we will try to help you :)
Let us check it, we will back to you soon.

[2022-11-16 08:36] Iffa-Meah commented on #13969
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-11-16 08:36] #13969 closed

[2022-11-16 08:48] yszhou2019 opened #14028 "[Model]Runtime error happens during model compilation"
##### System information (version)
- OpenVINO => 2022.2.0
- Operating System / Platform => almalinux8
- Problem classification: Model Conversion
- Framework: pytorch
- Language: python

##### Detailed description
I've already converted the torchscript model to onnx format and successfully run it with onnxruntime. I try to use openvino for comparison and runtime error was thrown during model compil

[2022-11-16 11:07] liubo-intel commented on #13493
@JulienMaille : I have also tried your test model "models/test1.onnx" by openvino internal [benchmark_app tool](https://github.com/openvinotoolkit/openvino/tree/master/tools/benchmark_tool) with version "OpenVino 2022.2":
`./benchmark_app -m ./models/test1.onnx -d CPU -hint tput -niter 10`
it works fine without such memory issue. So it looks quite like that openvino(2022.2) CPU plugin support this

[2022-11-16 13:34] Raise-me-up opened #14039 "How to transform the tensor data of openvino into vector format in CPP？"
As mentioned, I want to transform the output tensor into the vector array format so as to save it in CPP. Anyone can provide some guide codes please?  I try fetching the data of tensor directly into the vector by memcpy, but I find that the layout of data will differ from that generated by python api.

[2022-11-16 13:41] Raise-me-up commented on #14039
For example, I want to transform a 3D tensor, whose shape is (1, 257, 540), into 1D vector array in CPP. If I memcpy the tensor data into a 1D vector array, the layout of data will be destroyed, resulting in the difficulty of reconstruction. By the way, I use the libnpy to reconstruct data.

[2022-11-16 13:57] ilya-lavrenov commented on #10539
This is planned for 2023 release. POC is done and it's here https://github.com/conda-forge/staged-recipes/pull/21080

[2022-11-16 14:02] rkazants commented on #14028
Hi @mlukasze,

I think we should resolve this problem on the ONNX FE side. Currently, Mul operation from ONNX specification should support input boolean type (despite it is not mentioned in the ONNX specification - it successfully inferred via onnx-runtime). My proposal to extend `Mul` translator in ONNX FE and in case of input boolean type (just check it by `get_element_type()` method) we need to

[2022-11-16 14:09] rkazants commented on #14024
Hi @szu-lisili!

I cannot download your model because it makes me to register in some cloud stroage service. Can you share your model in a different way please?
Did you have a chance to infer your model via onnx-runtime to check if the original model is correct? It can be a case that the model is incorrectly exported.

Best regards,
Roman

[2022-11-16 14:15] rkazants commented on #14039
Hi @Raise-me-up,

You can always use our C++ samples that have snippets working with OV tensors. Please take a look at `ClassificationResult` class that handles classification results: https://github.com/openvinotoolkit/openvino/blob/master/samples/cpp/common/utils/include/samples/classification_results.h#LL57

Best regards,
Roman

[2022-11-16 15:18] szu-lisili commented on #14024
I uploaded it to github:
https://github.com/szu-lisili/first_rep/blob/master/denseFCN_openvino.onnx
In fact, this model.onnx has some fake quantization nodes, so when running onnx check, an error will be reported.

[2022-11-16 15:18] szu-lisili commented on #14024
I uploaded it to github:
https://github.com/szu-lisili/first_rep/blob/master/denseFCN_openvino.onnx
In fact, this model.onnx has some fake quantization nodes, so when running onnx check, an error will be reported.

[2022-11-16 15:19] szu-lisili commented on #14024
Hi @rkazants
I uploaded it to github:
https://github.com/szu-lisili/first_rep/blob/master/denseFCN_openvino.onnx
In fact, this model.onnx has some fake quantization nodes, so when running onnx check, an error will be reported.

[2022-11-16 18:09] mitruska commented on #14028
Hello, I've created a PR #14047 to enable conversion of ONNX Mul with boolean inputs to OV LogicalAnd according to @rkazants suggestion.

- https://github.com/openvinotoolkit/openvino/pull/14047

But what I can see in the attached to the issue logs is that the `read_model` step was successful and the error comes from the `compile_model` after `decoder_model.reshape`.

@yszhou2019  If you would lik

[2022-11-16 20:11] andrei-kochin commented on #14028
@mitruska looks like @eaidova faced similar issue during model research so she can share model with you as well

[2022-11-16 20:16] JulienMaille commented on #13493
@liubo-intel  I have been bisecting commits to find when it stops working and localized it to the changes made to `modules/dnn/src/onnx/onnx_importer.cpp` in this commit: https://github.com/opencv/opencv/commit/ed69bcae2d171d9426cd3688a8b0ee14b8a140cd

More specifically, the problem is gone if I revert the replacement of
https://github.com/opencv/opencv/commit/ed69bcae2d171d9426cd3688a8b0ee14b8a14

[2022-11-17 02:06] liubo-intel commented on #13493
Hi, @tomdol : I'm not sure whether this 'onnx_importer' part is similar as openvino onnx part, could you please help have a quick look at this and give some suggestions if possible?

[2022-11-17 02:07] Raise-me-up commented on #14039
Hi @rkazants

Thank you for your reply!

I have read the codes you mentioned, whose input is a 1D tensor. Is there any function supporting multi dimension tensor as input? I have to handle the 3D tensor, and transform it into the vector array. By the way, saving the 3D tensor directly can also help.

[2022-11-17 02:12] yszhou2019 commented on #14028
@mitruska All right. I've already sent the model to you. Thank you!

[2022-11-17 05:29] qingyou97 opened #14053 "Total length of splits: 2 must match the length of the chosen axis: 0"
openvino use ppyoloe_plus_crn_s_80e_coco.onnx
Traceback (most recent call last):
  File "D:\98project\HaiHang\camera\openvino\haihang_onnx_test\openvino_infer_baozhuangji.py", line 275, in <module>
    main()
  File "D:\98project\HaiHang\camera\openvino\haihang_onnx_test\openvino_infer_baozhuangji.py", line 270, in main
    res_onnx = compiled_model_onnx(inputs=[image])[output_layer_onnx]
  File "

[2022-11-17 06:16] mlukasze commented on #14053
hi @qingyou97
thanks for reaching us out.

can you share a model you tested, with us?
it would make investigation a lot easier.

[2022-11-17 06:30] qingyou97 commented on #14053
My model is relatively large. Can I send it to your email address?Is your email [michal.lukaszewski@intel.com](mailto:michal.lukaszewski@intel.com)？

[2022-11-17 06:47] dlod-openvino commented on #13970
Hi, @mitruska thank you very much for your replying! Do you mean OpenVINO 2022.3 will solve the problem of "ConstantOfShape with empty tensor input" ? Thanks!

[2022-11-17 06:52] mlukasze commented on #14053
if it is large email may be not a best option ;)
maybe upload on github is possible?

[2022-11-17 07:10] qingyou97 commented on #14053
Thank you. I trimmed the pdmodel and then ， The input of scaled-factor has been deleted. After being re exported to onnx, openvino can be used for reasoning, and the result is correct. ！ It's my input and output problem!

[2022-11-17 09:53] Raise-me-up opened #14065 "How to create and handle a multi dimension tensor by CPP?"
As mentioned, I want to create a 4D tensor by CPP, but I don't know the correct way to store it. Can anyone support some guides please?

[2022-11-17 09:56] Raise-me-up commented on #14065
Is there any method to load the 4D tensor by file, such as np.load()?

[2022-11-17 11:43] mitruska commented on #13970
@dlod-openvino Indeed, it will be included in `2022.3` OpenVINO release.

[2022-11-17 13:37] zulkifli-halim commented on #13881
Closing issue. Feel free to reopen if further assistance is needed.

[2022-11-17 13:37] #13881 closed

[2022-11-17 13:43] zulkifli-halim commented on #13883
Hi @ma7555, It seems like you are using an old CPU (Haswell), OpenVINO supports CPUs from 6th to 13th generation. You can refer to [system requirements](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/system-requirements.html) for more info.

[2022-11-17 23:40] mzwtjp opened #14078 "unsupported layer type "FakeQuantize" on Jetson Nano"
Trying to run OpenVINO demos on Jetson Nano.
I could build libraries from openvino source and also built open model zoo demos.

However, I am seeing "unsuppored layer type" errors like below:

Using the same command line (using the same MYRIAD device only) and data files, on Intel based PC (using stock OpenVINO environment for that), I do not see this error and the demo sucessfully showing the dem

[2022-11-18 03:16] Iffa-Meah commented on #14078
@mzwtjp it seems that the issue originated from your model.
Just to clarify, did you use OpenVINO downloader tool to download the model? I believe that model is an Intel Pre-trained model.

Another thing to note is that the OpenVINO build from source version  2022.3.0 is still under development and has not been fully fledged yet.

It is best to use 2022.2 as of now (until the official public relea

[2022-11-18 03:29] wang7393 commented on #13999
@Iffa-Meah
1. When occurs the problem, The inference speed of any model under the gpu dropped dramatically, the performance  of intel-gpu-opencl also dropped dramatically.
2 and 3. We use OpenVino runtime dlls to build custom apps.

[2022-11-18 06:01] mzwtjp commented on #14078
Yes, models are intel pre-trained models downloaded by omz_downloader tool.

This is the cmake command line I used to build openvino libraries, not should if it is the same as the pre-built intel PC one (openvino/ubuntu20_runtime:2022.2.0 image).

 I just noticed I am using the 2022.2 one on intel PC.
 I will try rebuilding my Jetson build with the same version if it makes difference.

[2022-11-18 06:04] Iffa-Meah commented on #14078
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-11-18 06:04] #14078 closed

[2022-11-18 06:20] Iffa-Meah commented on #13999
@wang7393 from your explanation, I assume the model is confidential from your side (since you mentioned it's a custom app) and you are unable to share it with us for further validation.

There are a couple of elements to be considered when it's related to inferencing performance.
1. Model precision/format: GPU should performs best with FP16 precision since this is its preferred format. You may ref

[2022-11-18 06:27] zulkifli-halim commented on #14065
Hi @Raise-me-up,

You can refer to these pages for guidance on creating a C++ sample and application:

- [Model Creation C++ Sample](https://docs.openvino.ai/2022.2/openvino_inference_engine_samples_model_creation_sample_README.html)
- [Integrate OpenVINO™ with Your Application](https://docs.openvino.ai/2022.2/openvino_docs_OV_UG_Integrate_OV_with_your_application.html)

[2022-11-18 06:55] wang7393 commented on #13999
@Iffa-Meah
1. The all models we used are both fp16 format.
2. And int8 POT quantization we also have implemented.
But I don't think that's relevant to my question.
Have you encountered similar problems, or do you have the idea of troubleshooting problems?

[2022-11-18 07:03] brmarkus commented on #13999
Can you comment on your code, how you do inferencing? Multi-threaded? Static or dynamic shapes for input/output, using batches?
Can you reproduce the behavior with OpenVINO/Open-Model-Zoo demos, like "benchmark_app -d GPU ... ..."?
Is there anything else performed on the GPU (like your application is a Game doing 3D graphics)?
Is your input to the NN-model video-content, which gets decoded by the

[2022-11-18 07:20] wang7393 commented on #13999
@brmarkus
my code like this:
`class Dtetetor`
`{`
`public:`
	`Dtetetor();`
	`~Dtetetor();`
	`bool LoadModel()`
	`{`
		`ov::Core core;`
		`m_model = core.read_model("xxxx");`
		`m_compiledModel = core.compile_model(m_model, "GPU");`
		`m_inferRequest = m_compiledModel.create_infer_request();`
	`}`
	`bool  Process(Mat inpuImage)`
	`{`
		`// 1. make input tensor`
		`ov::Shape srcShape = { 1, (size_t)

[2022-11-18 07:35] Raise-me-up opened #14082 "[Bug] The inference results of Python API are not consistent with that of CPP API"
##### System information (version)
Python API info:    openvino 2022.2.0
CPP API info:   openvino 2022.2.0-7713-af16ea1d79a
Mo info:  2022.3.0-8539-c953186ff0a
Operating System / Platform => Windows 64 Bit
Compiler => Visual Studio 2019
Problem classification: Result Inconsistency
Framework: Pytorch
Model name: DPCRN

##### Detailed description
I find the inference results of openvino are inconsis

[2022-11-18 07:44] mlukasze commented on #14082
Hey @Raise-me-up
thanks for noticing us about that issue.
Let us check it, we will back to you soon.

[2022-11-18 07:48] Raise-me-up commented on #14082
@mlukasze OK!  Thank you very much for your immediate response!

[2022-11-18 10:14] mitruska commented on #14028
I was able to reproduce the issue at the `compile_model` step.
There is no boolean multiplication in the original onnx model, this is why `read_model` step was succesful.
It means the change in OV ONNX FE (PR [#14047](https://github.com/openvinotoolkit/openvino/pull/14047)) is not needed.

The error comes from the Broadcast-3 transformation, so I've created another PR with the corresponding fix:
-

[2022-11-18 21:47] sparupat opened #14103 "[Bug] Inference crashes when model weights (~140MB) are loaded from memory"
##### System information (version)
- OpenVINO => 2022.2.
- OpenViNOBuild => 2022.2.0-7713-af16ea1d79a-releases/2022/2
- Operating System / Platform => OS X
- Problem classification => Model Loading Issue

##### Detailed description
I am seeing a crash upon infer request when I load large model XML and bins via memory (141MB).

I did not encounter any issues when I load the model and weights using

[2022-11-18 21:53] ilya-lavrenov commented on #14103
[code]
=>
[code]
?

[2022-11-19 00:14] sparupat commented on #14103
@ilya-lavrenov
// In memory version of model and weights
std::shared_ptr<ov::Model> model  = core.read_model(strModel, weights);

// Model path version
_modelNamePath = 'test.xml'
_modelWeightsPath = 'test.bin'
 model =  core.read_model(_modelNamePath, _modelWeightsPath);

[2022-11-19 08:01] Raise-me-up commented on #14065
Hi @zulkifli-halim

I have read the docs you provide, which have no content about the multi dimension tensor process.

Thank you all the same!

[2022-11-19 08:10] Raise-me-up commented on #14065
@zulkifli-halim

I notice the method to create a tensor, which is as follows:

ov::Tensor input_tensor(input_port.get_element_type(), input_port.get_shape(), memory_ptr);

And I wonder how can the multi dimension tensor be stored? Does the memory_ptr point to a 1D tensor?

[2022-11-20 19:54] HeywardLiu commented on #13969
Hi @Iffa-Meah ,

I'm wondering what's **latest stable** openvino version on both `x86` & `aarch64` platform, to run transformer model on Intel NCS2 (e,g, `swin-tiny-patch4-window7-224` avaiable in model zoo)?  What's OS / python / dependencies version required in this openvino version?

Sorry , I'm newbie to openvino and I can't find any related informations.

For `x86`, is  Ubuntu 20.04 LTS / ope

[2022-11-21 01:43] yszhou2019 commented on #14028
Hi @mitruska Do you have any idea how I can apply openvino 2022.2.0 with this dynamic model? Or, will this problem be fixed in next release?

[2022-11-21 02:31] yuxu42 commented on #13493
@JulienMaille Thanks for the information! And with regards to what you've found in terms of the specific change about ONNX, it looks like the issue in OpenCV. Do you think it's proper to raise in OpenCV project?
And do you have any further question or problem about OpenVINO? Thanks!

[2022-11-21 07:34] Raise-me-up commented on #14082
Hey @mlukasze

Is there any progress?

[2022-11-21 07:38] mlukasze commented on #14082
the bad news: not yet.
the better one: we will take a look on it today.

sorry you have to wait - long queue.

[2022-11-21 07:46] Raise-me-up commented on #14082
@mlukasze

OK! At least you begin to concern it.  (＾ω＾)

[2022-11-21 07:51] rkazants commented on #14024
Hi @szu-lisili,

I also noticed some inconsistency in the model that `FakeQuantize` nodes have input of different types `fp32` and `fp64`.
@szu-lisili, could you please send details (tool, cmd-line) how you got such model with FakeQuantize?

cc @alexsu52

Best regards,
Roman

[2022-11-21 07:57] rkazants commented on #14039
The content of multi-dimensional tensor should be always treated as 1D tensor (vector). The shape and type of the tensors are specified with separate argument. The reading and writing to tensors are going batch-by-batch.

Best regards,
Roman

[2022-11-21 13:21] mzwtjp opened #14128 "RuntimeError: Failed to allocate graph: MYRIAD device is not opened."
I am trying to use NCS2(MYRIAD) device with benchmark_app on Jetson Nano.
I have built OpenVINO libraries and benchmark app using the 2022/2 branch, however I am seeing the following error.

For -d CPU (contrib's arm_plugun), I do not see error and benchmark_app finishes successfully.
So I expected with -d MYRIAD it also suceeeds, but it looks like I am seeing devvice open related error.

I am new

[2022-11-21 13:40] ma7555 commented on #13883
[centos@jsc-avl-imp01 face_match]$ lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    1
Core(s) per socket:    1
Socket(s):             4
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 60
Model name:

[2022-11-21 13:45] ma7555 commented on #13883
@ilya-lavrenov

Was you able to solve it? Could it be that the processor is old (Haswell) as @zulkifli-halim says?

[2022-11-21 14:03] JulienMaille commented on #13493
@yuxu42 The issue was initially raised with OpenCV and they redirected me here because the problem occurs in OpenVino GPU but not in OpenVino CPU. What do you think?

[2022-11-21 14:05] mzwtjp commented on #14128
following seems to worked:

(then within docker container)

Perhaps related to /dev usb device permission issue?

[2022-11-21 14:05] #14128 closed

[2022-11-21 14:15] ilya-lavrenov commented on #13883
It's not related to processor definitely. It can be OS specific, but it's hard to believe in it. Currently, we have validation on CentOS 7 and all tests passed.

[2022-11-21 19:34] avitial commented on #13594
Closing this. Feel free to reopen and ask additional questions related to this topic.

[2022-11-21 19:34] #13594 closed

[2022-11-21 21:10] avitial commented on #13724
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-11-21 21:17] avitial commented on #13729
@venki-thiyag would it be possible to share a minimal sample reproducer? Does the error occur with other models (i.e. any model from OMZ)?

@vladimir-paramuzov @andrei-kochin could you please take a look?

[2022-11-21 21:19] avitial commented on #13734
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-11-21 21:19] #13734 closed

[2022-11-22 02:25] Iffa-Meah commented on #14103
@sparupat could you clarify these:
1. Which OS X version are you using?
2. Model details: Model framework & topology (e.g. Tensorflow), input/output shape (static/dynamic), any custom topology/framework layers used?

[2022-11-22 03:21] yuxu42 commented on #13493
@JulienMaille if you have no further questions about OpenVINO CPU or GPU, can I close the ticket?

[2022-11-22 06:26] djie1 opened #14148 "[Bug] Invalid link"
See file: https://github.com/openvinotoolkit/openvino/blob/master/src/docs/architecture.md

The last line is "[OpenVINO Developer documentation](https://github.com/openvinotoolkit/openvino/blob/master/src/docs/index.md)", but this file does not exist.

[2022-11-22 06:53] ilyachur commented on #14148
Hi @djie1 Thank you for the issue. Created PR with the fix.

[2022-11-22 08:25] riverlijunjie commented on #13601
@yszhou2019 we did find there is mem leak in tbb, but the different calltrace with you had provided before.
![image](https://user-images.githubusercontent.com/31196718/203260346-86310d7c-96c1-4682-a31b-085258ec3393.png)

Per my understand, the above calltrace will not be called multiple times when loop call inference(), so it should not bring too much memory leak.  Anyhow we will continue debuggin

[2022-11-22 09:36] mitruska commented on #14028
@yszhou2019 The PR https://github.com/openvinotoolkit/openvino/pull/14085 is going to be merged soon, but the fix is not a part of pre-release package yet.
We will keep you informed:)

[2022-11-22 09:38] AouatifZ opened #14152 "Problem format NCHW in TensorFlow to OpenVino"
Hi all,

I converted my tensorflow model to OpenVino Intermediate Representation
but during the inference I had a format problem

my tensorflow model ------> NCHW [1,3,640,640]

and during conversion to IR applies a transpose [0 3 1 2 ], and my format becomes ------------> [1,640,3,640]

how to fix my problem

thanks in advance

[2022-11-22 09:49] rkazants commented on #14152
Hi @AouatifZ,

Please clarify -  what OV API do you use: API 1.0 or API 2.0?

And please share your MO cmd-line. It can be a case of incorrect usage of layout specific options. But it is just my assumption.

Best regards,
Roman

[2022-11-22 09:50] AouatifZ commented on #14152
my model tensorflow
![b1](https://user-images.githubusercontent.com/111449259/203282199-3d3040ac-d62c-4c99-88fa-272e6c13c463.PNG)

Intermidaire Representation xml file

![b2](https://user-images.githubusercontent.com/111449259/203282409-13ab115f-be90-4a67-9c2a-e0b7d0bbd4bf.PNG)

[2022-11-22 09:53] AouatifZ commented on #14152
Hi @rkazants
thank you very much for your quick answer and your help too

the command used is
python3 openvino/tools/mo/openvino/tools/mo/mo_tf.py --saved_model_dir  'directory'  --output_dir 'directory'   --input_shape [1,3,640,640]

[2022-11-22 10:02] rkazants commented on #14152
@AouatifZ, looks a problem in MO. Can you please provide a model with fake weights or small reproducer (just cut after the first convolution operation)?
Also, please try the latest version of OV 2022.2.
Or if you use OO built from the latest source code, you can try this cmd-line:

[code]

[2022-11-22 14:02] #14148 closed

[2022-11-22 20:00] sparupat commented on #14103
1. Mac OS Monterey
2. ONNX model (Retinanet FPN architecture variant), static input and output shape with batch size = 1, no custom topology layers
3. Below URL contains IE graph generated from ONNX

https://1drv.ms/u/s!AqF1wV3w5Pufgugx4uN-vpc5WLLRlA?e=wYb4tz
password: openvino2022

[2022-11-22 22:33] avitial commented on #13838
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-11-22 22:33] #13838 closed

[2022-11-23 06:46] Raise-me-up commented on #14082
Hey @mlukasze
Do you need more information to locate the problem?

[2022-11-23 07:01] Raise-me-up commented on #14039
OK. Thank you!

[2022-11-23 07:07] Raise-me-up opened #14181 "How to debug the CPP inference process?"
As the cpp inference codes of openvino are not provided, how can I compare the results of interlayer with python ones?

[2022-11-23 07:21] brmarkus commented on #14181
Are you referring to a pre-built version of OpenVINO (i.e. downloaded a binary-installer from "software.intel.com")?

You can also build OpenVINO from source-code and have full control over the code, can add log-messages and re-build, can set break-points (when building DEBUG-build instead of RELEASE-build).

Or do I misunderstand your question?

[2022-11-23 07:33] Raise-me-up commented on #14181
@brmarkus

Thank you for your advice! I will have a try!

[2022-11-23 12:53] jiwaszki commented on #14082
Hi @Raise-me-up , I am currently looking at your case and some things needs to be clarified.

CPP API info: openvino 2022.2.0-7713-af16ea1d79a
Mo info: 2022.3.0-8539-c953186ff0a

Are you able to run your snippet under Python/C++ API 2022.3? Or is it simply a typo with MO version being pinned to 2022.3?  It is best to use both MO and Runtime from the same release. BTW are you able to attach origina

[2022-11-23 23:59] avitial commented on #13968
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-11-23 23:59] #13968 closed

[2022-11-24 04:26] hbalasu1 commented on #14065
Hi @Raise-me-up

You may want to refer to this documentation that explains Tensor (https://docs.openvino.ai/latest/classov_1_1Tensor.html#details-classov-1-1-tensor)
To answer your question, yes, memory_ptr is to point to a 1-dimensional tensor.

Hope this information help.

[2022-11-24 06:34] Raise-me-up commented on #14082
Hi @jiwaszki

Thank you for your detailed reply！

I can run my program uder C++ API 2022.3 now, but the problem still occurs.  The ONNX model is as follows:

[model_onnx.zip](https://github.com/openvinotoolkit/openvino/files/10081324/model_onnx.zip)

The MO command is simply:  MO   --input_model  DPCRN.onnx   --output_dir ./

As to the memory-layout of saved data, I doubt it as well at first. So I

[2022-11-24 06:54] Raise-me-up commented on #14181
@brmarkus
Sadly, I can't debug into the function infer_request.infer(), resulting in the unknown of network inference progress. How can I get the interlayer results during the inference process?

[2022-11-24 07:00] Raise-me-up commented on #14082
@jiwaszki
BTW,  the variable is_fortran is always set to false.

[2022-11-24 07:26] Raise-me-up commented on #14082
I have compare the 1D tensor in CPP with the 1D array in python, and the data layout is consistent. However,  I am confused about the data layout process of openvino. Can it reshape the multidimension tensor from 1D tensor correctly?

[2022-11-24 07:36] Raise-me-up commented on #14082
BTW, Can you debug into the function infer_request.infer() to compare the differece of  the results of CPP api and that of python API?

[2022-11-24 07:39] brmarkus commented on #14181
What do you mean you cannot debug the method "infer()"? You found a binary library you cannot step into with the debugger?
Various plugins (e.g. CPU-plugin, GPU-plugin, VPU-plugin, etc.) could be used and loaded dynamically, OpenCL-kernels would be used for various tensors/operations.

With logging (ITT, Vtune, enabled log-messages) you haven't found enough details?

[2022-11-24 08:37] Raise-me-up commented on #14181
@brmarkus

Well, I can't step into the infer method before, as there is no any pdb file in the installation directory of openvino.  Now I have moved them into the debug directory, and the debugger works well!

Thank you for your help!

[2022-11-24 08:37] #14181 closed

[2022-11-24 08:38] #14065 closed

[2022-11-24 09:19] Raise-me-up commented on #14082
Hey @jiwaszki

I check it again, and find that the results of openvino python api are consistent with pytorch ones, while that of cpp api has something wrong. Maybe the reason exists in the input data, but I can't figure it out anyway. Could you provide a correct cpp test code, so that I can continue to debug please?

[2022-11-24 10:49] Raise-me-up commented on #14082
Hey @jiwaszki

I find the reason at last! The problem results from the difference of MO version and openvino CPP API version.  I make them unified, and the bug disappears!

[2022-11-24 11:24] jiwaszki commented on #14082
@Raise-me-up that is some great news! As I mentioned "It is best to use both MO and Runtime from the same release" -- there is a lot of changes between versions and they might affect OpenVINO's runtime.

I am closing the issue as it is resolved (please re-open if additional assistance is needed).

[2022-11-24 11:24] #14082 closed

[2022-11-24 11:58] #14028 closed

[2022-11-24 12:04] mitruska commented on #14028
The PR https://github.com/openvinotoolkit/openvino/pull/14085 resolving this issue has been merged to the openvino master branch,
and the fix will be included in OpenVINO `2022.3` release.
@yszhou2019 Let us know if there's anything more we can do to help!

[2022-11-24 19:49] ilya-lavrenov commented on #13592
You don't have to run this script for Raspbian OS. OpenVINO can work without those dependencies.

[2022-11-25 03:19] hbalasu1 commented on #13999
Hi @wang7393,
Can I know what model you use in your application?
so that we can further identify the reason behind the drop in performance.

[2022-11-25 06:07] brmarkus commented on #13999
Have you had a chance to reproduce with one of the OpenVINO or OpenModelZoo samples?

Could you add log-messages, e.g. containing time-stamps or time-spans to see in which area the sudden increase/decrease comes from?
Could it be from an increasing size of "outputNames.size()"?
What happens with `outPutTensors`, is it really a local variable, or shared with the caller, which pre-/post-processes it

[2022-11-25 07:13] #13592 closed

[2022-11-25 11:41] Hap-Zhang opened #14245 "How can i control the number of threads in inference?"
Dear all,

How can I control the number of threads when inference with openvino 2021 and 2022? Can someone give a sample code or guide documentations? The "CPU_THREADS_NUM" seems not work.

[2022-11-25 12:42] sparupat commented on #14103
My main issue is the application runs fine if I load xml and bin file from path but loading from memory causes the issue.
2. Loading the model from memory with the 100 Mb model without any issue.

My custom inference code is derived from OpenVINO sample - hello_classification snippet.

[2022-11-27 03:01] DDGRCF opened #14261 "[Bug] IECore load_network fail!"
##### System information (version)

- OpenVINO=> 2022.02
- Operating System / Platform => Ubuntu20.04
- Compiler =>python
- Problem classification => Bug

##### Detailed description
I plan to convert solo for openvino, and it convert onnx successully. It can run well in onnxruntime and openvino 2.0 api,
but when I switch to another api, a error happen.
[code]
[code]
The input image is [1, 3, 1333,

[2022-11-28 02:28] Hap-Zhang commented on #14245
Hi，@brmarkus
Thanks for your reply.

Do you refer to using CPU (CPU-plugin)?
**A:Yes, it's CPU-plugin.**

How have you tried to set "CPU_THREADS_NUM"?
**A:The code list as follow:
`from openvino.runtime import Core`
`core = Core()`
`model_xml="face_detect.xml"`
`encoder_exec = core.compile_model(model_xml, "CPU")`
`core.set_property("CPU", properties={"CPU_THREADS_NUM":"1"})`
`self.infer_request =

[2022-11-28 07:21] Iffa-Meah commented on #14103
@sparupat that seems suspicious since you managed to infer the 100 Mb size without any issue.
We'll further investigate this and get back to you asap.

[2022-11-28 10:20] brmarkus commented on #14245
You might have a closer look into the documentation, e.g. under "https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_CPU.html#supported-properties":

The default number of threads is aligned with the number of physical cores (physical cores, not hyperthreading).

Typically with command like `top` or `htop` you can see the processes and it's children-threads.

Can you check with e

[2022-11-28 11:57] rkazants commented on #14261
@DDGRCF, looks some backward-incompatibility issue for API 1.0. Please provide access to the model. I requested.

Thanks,
Roman

[2022-11-28 12:05] Hap-Zhang commented on #14245
@brmarkus
Thanks for your kindly reply.
It's ok now when set "CPU_THREADS_NUM" before complie_model().

[2022-11-28 12:05] #14245 closed

[2022-11-28 13:18] Co1lin opened #14277 "[Bug] `compile_model` for MYRIAD device leads to segmentation fault"
##### System information (version)

- OpenVINO=> openvino_2022.2.0.7713
- Operating System / Platform => Raspbian 10
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

Using the same XML model, model compilation in python for CPU works, but for MYRIAD (NCS 2) fails.

[code]

However, I can run inference on the NCS 2 with C++ example.

[code]

[2022-11-28 14:28] Co1lin opened #14280 "[Bug] No module named 'openvino._pyopenvino'"
After following [this](https://github.com/openvinotoolkit/openvino/wiki/BuildingForRaspbianStretchOS#cross-compilation-using-docker) to compile openvino for my respberry pi running on respbian 10, I cannot import `Core` successfully.

[code]

I have set env variables:

[code]

[2022-11-28 14:32] DDGRCF commented on #14261
Thank your reply. You can get model [here](https://drive.google.com/file/d/1qBbJtuYeCvjRjfBnyQK3GnFq6aQmyFCu/view?usp=share_link)

[2022-11-28 14:36] lino-alves opened #14281 "Missing DynamicToStaticShape If operation for MYRIAD"
I have a model in PyTorch (**Faster R-CNN**) that I exported to ONNX and ran through the model optimizer successfully.
Running the inference on the CPU is working fine, but in the MYRIAD (Intel NCS2) it fails while loading the model due to missing operation(s).

The model includes a couple of (dynamic shape?) `If` operations that are causing the issue with the MYRIAD device.

Here is the error out

[2022-11-29 01:18] zulkifli-halim commented on #13921
Closing issue. Feel free to reopen if further assistance is needed.

[2022-11-29 01:18] #13921 closed

[2022-11-29 01:38] wang7393 commented on #13999
Many of our own models have suffered serious performance degradation, I think it has nothing to do with the model.

I've met this problem recur on my machine a few times recently,
I tested it with benchmark_app and hello_classification sample, and the performance also decreased significantly.

[2022-11-29 01:40] wang7393 commented on #13999
The serious performance degradation mainly comes from: `m_inferRequest.infer();`
As for the other questions you mentioned, I have verified that they have nothing to do with them.

[2022-11-29 05:52] brmarkus commented on #13999
Would you mind sharing one or some of the problematic models - or simplified versions of them?
Can you provide more details about the models, architecture, use-case, training/re-training, conversion, please? it might be possible to identify what turned a model into a problematic model (like using YoloV5 as a base with good performance, then replacing the backend, or re-training, or modified post-p

[2022-11-29 06:12] Iffa-Meah commented on #14277
@Co1lin I tried the compiled_model function and I encountered the same issue as yours.

Check for available devices:
<img width="835" alt="1_dev" src="https://user-images.githubusercontent.com/79643476/204452241-cca29009-32b6-4f1b-a41a-92478e77fcc5.png">

CPU (success):
<img width="876" alt="2_cpu" src="https://user-images.githubusercontent.com/79643476/204452288-747ed1df-7905-40c4-b2c9-e8f798e9ae

[2022-11-29 06:40] wang7393 commented on #13999
@brmarkus
Test found that the problem should have nothing to do with the model itself.
When this problem occurred, we tested many models, such as detection model, classification model, segmentation model and so on.

In addition,:
1. we also test the benchmark app, including our own Model and OpenVino Model Zoo's model (googlenet-v1), which showed serious inference performance degradation.
2. We al

[2022-11-29 07:08] brmarkus commented on #13999
Can you comment on how OpenVINO and especially the "drivers" were installed?

[2022-11-29 16:05] avitial commented on #12496
@wang7393 did you get a chance to try my previous suggestion? Kindly let me know the outcome of that.

[2022-11-29 18:44] vladimir-dudnik opened #14321 "[RISCV] Discuss opprtunities to extend OpenVINO with RISCV support"
Hello OpenVINO team,

Thanks you guys for amazing work you are doing, we’d like to ask your opinion on opportunity to add OpenVINO support for RISCV CPU ISA to enable DL inference on this promising new architecture. As you probably know, RISCV committee has ratified some time ago vector extension v1.0 (kind of SIMD technology but vector length may vary at runtime). At the moment there are publicly

[2022-11-29 19:55] glucasol opened #14323 "classification_f1-scores metric requires dataset metadataPlease provide dataset meta file or regenerate annotation"
I am trying to run **accuracy_check** command but it returns me this error : **raise ConfigError('classification_f1-scores metric requires dataset metadata' openvino.tools.accuracy_checker.config.config_validator.ConfigError: classification_f1-scores metric requires dataset metadataPlease provide dataset meta file or regenerate annotation**

I am working with an Anomaly Detection model an have gen

[2022-11-29 21:12] #13590 closed

[2022-11-29 21:18] avitial commented on #11736
@AndreiLupas as suggested by Ilya, you can create PR from your own fork. Refer to for more info [https://github.com/openvinotoolkit/openvino/blob/master/CONTRIBUTING.md](https://github.com/openvinotoolkit/openvino/blob/master/CONTRIBUTING.md).

[2022-11-29 22:05] avitial commented on #13177
Closing this, as PR with support for _FusedConv_ op has been merged. Feel free to reopen to ask any questions related to this topic.

[2022-11-29 22:05] #13177 closed

[2022-11-29 22:15] avitial commented on #13491
Closing this as it seems the issue has been addressed. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-11-29 22:15] #13491 closed

[2022-11-30 00:40] wang7393 commented on #12496
@avitial  I wiil try it.

"In the meantime I've submitted this as a possible bug for the development team to take a look, will share some updates as soon as they are available."

Is there a conclusion for this?

[2022-11-30 00:45] wang7393 commented on #13999
OpenVino:
python version or dev: pip install openvino, pip install openvino-dev[onnx]
c ++ runtime:  We extract the dlls from w_openvino_toolkit_runtime_p_2022.1.0.643.zip, and use find "find_package(OpenVINO REQUIRED)";
Drivers:
It starts with the version that comes with the factory system.
There have been several updates from "Intel® Driver & Support Assistant" [https://www.intel.com/content/www

[2022-11-30 01:53] Iffa-Meah commented on #14281
@lino-alves since you mentioned you are using MYRIAD/NCS2, I assume you already know that the device requires FP16 precision.

Converting the full precision model into FP16 means the model size had been compressed. A compressed model while enhancing the inferencing speed would trade off its accuracy. Certain layers might have been cut off during the conversion with FP16 data precision.

This is a

[2022-11-30 07:41] zulkifli-halim commented on #14323
Hi @glucasol, Are you using this [anomalib](https://github.com/openvinotoolkit/anomalib) repo? Please make sure that the path to your generated annotation pickle is correct.

[2022-11-30 08:48] mbencer commented on #13431
@OscarPedaVendere The second problem (based on my experiments - the last one) is using HardSigmoid actication function by LSTM:
![image](https://user-images.githubusercontent.com/11331953/204748205-8ce5eba6-ff09-4da4-b043-415a9c67479d.png)
We can add support for the new activation function for our `LSTMSequence` core op (now the supported activation functions are: sigmoid, tanh, tanh), but it can

[2022-11-30 09:18] yury-gorbachev commented on #14321
Hi Vladimir,
 Thank you for your interest. This feature would be definitely interesting for us.
 Recently we have been discussing option of using same CPU plugin for ARM target (currently we have separate plugin) and it does look doable without major implementation showstoppers.

 On technical level as part of CPU plugin there are C++ implementations (which are not ngraph reference, but actually u

[2022-11-30 09:23] vividricky opened #14331 "RuntimeError in aarch64 Pi"
Hi.
I was trying to inference in 64-bit(aarch64) Pi and OS is Buster.

When I tried to run

[code]
I got the error

[code]

My cmake command is:
[code]

Please let me know if you havea solution.

Thank you so much.

[2022-11-30 09:35] brmarkus commented on #14331
Can you provide more details about how you have built and installed the ARM plugin?
Using one of the options under "https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin"?

[2022-11-30 11:44] vladimir-dudnik commented on #14321
Completely agree that bunch of #ifdefs is not good choice, and also interested in what you say regarding moving different CPU specific code in one general CPU plugin, the idea looks quite logical and straightforward. It should allow to reuse a lot of common code and keep really HW specific implementation as separate components of that general CPU plugin.
So thinking on RISCV support it would be us

[2022-11-30 12:16] glucasol commented on #14323
Yes, I am using anomalib's repo. Do you know if anomalib generate a annotation pickle file? If yes, where is the default path it is saved?

[2022-11-30 15:01] lino-alves commented on #14281
@Iffa-Meah Yes, I am compressing the model to FP16, using the model optimizer, to be able to run it in the NCS2.

I gave you access to a folder that includes the model files (ONNX and IR). You should get a notification on the email you have registered here.

Let me know if you have any issues accessing the files or you need me to give access to someone else.

[2022-11-30 15:25] vividricky commented on #14331
Thanks for your reply.

I used
[code]
to install the ARM plugin.

And there was another error when I tried
[code]

it showed
[code]
Sorry that I didn't save the detailed log of it.

[2022-11-30 15:53] ilya-lavrenov commented on #14331
@vividricky could you please latest OpenVINO master? We reverted some breaking changes

[2022-11-30 16:31] vividricky commented on #14331
Thx. I will try it.

[2022-11-30 19:23] #13878 closed

[2022-11-30 19:35] andrei-kochin commented on #13670
Hello @xiaoyu-work,

After internal discussion we agreed to have relaxed versions for dependencies in case no extras is specified `pip install openvino-dev ` assuming developer has setup ready for the model which is going to be optimized by OpenVINO.
And at the meantime there would be still extras like `pip install openvino-dev[pytorch] ` to setup which was verified by OpenVINO. So for `pytorch` e

[2022-11-30 21:11] rkazants commented on #14261
@DDGRCF. I asked access to the model from my gmail because I have no other way to do this. Please double check.

Thanks,
Roman