[2022-05-23 10:37] Grigor355 opened #11730 "LSTMCell with dynamic batch size"
I have a CNN+BiLSTM+LSTMCell model in ONNX. I convert the model to OpenVino IR using the following command
[code]
The IR is generated but when I compile and run prediction, the prediction "hangs" and do not produce anything. When I change the dynamic batch size to some number, the problem disappears. I turned off each part of (CNN, BiLSTM, LSTMCell) and the problem exists only when I add LSTMCell

[2022-05-23 13:55] peterchen-intel commented on #11668
@amarjeet-saini If this is a regression on 2022.1 release? Does it reproduce with 2021.4? If this can't be reproduced with 2021.4, but only be reproduced with 2022.1. It is possible due to the auto batching is enabled by default. Can you try to add following before ie.compile_model()
ie.set_property("GPU",  {"ALLOW_AUTO_BATCHING": "NO"}

[2022-05-23 15:46] jgespino commented on #11722
@fenaux The installer will install OpenVINO on your default environment. We recommend creating a virtual environment when using the Pypi installation method. In this case, just install it to your default environment.

[2022-05-23 15:48] jgespino commented on #11517
@luvwinnie Would it be possible for you to share your model? If so, please start a new issue and we can take a look.

[2022-05-23 16:56] thestarivore commented on #11725
@jgespino thanks a lot, with your instructions it worked (I had to also recompile onnxruntime). Yeah I'll be using python and I need to use onnxruntime+openvino and onnx.

The only thing missing now is the model optimizer. If I understood correctly it should be in:
   `<INSTALL_DIR>/deployment_tools/model_optimizer directory.
`
But all I can see is:

   docs  install_dependencies  python  runtime

[2022-05-23 22:35] aisnote commented on #11714
I do follow the above steps to generated the CSV files.
Could you help to check the CSV file as this picture is right?  @riverlijunjie

![image](https://user-images.githubusercontent.com/1201634/169915556-940593da-8236-4418-ae9d-7a09cf9ee32e.png)

[2022-05-23 23:32] luvwinnie opened #11733 "[MO]RuntimeError: While validating ONNX node '<Node(Slice): Slice_65>': bad_weak_ptr while converting transformer model"
##### System information (version)
- OpenVINO => 2020.1.0
- Operating System / Platform => 46~20.04.1-Ubuntu
- Problem classification: Model Conversion
- Framework: Pytorch
- Pytorch Versions:
torch==1.13.0.dev20220522+cu113
torchaudio==0.12.0.dev20220522+cu113
torchinfo==1.6.6
torchvision==0.13.0.dev20220522+cu113
- Model name: TransformerEncoder

##### Detailed description
I'm trying to convert

[2022-05-24 01:05] Iffa-Meah commented on #11730
@Grigor355 could you share your model files for us to test on our end?

[2022-05-24 01:18] riverlijunjie commented on #11714
I think your cvs should be no problem, below is mine:
![image](https://user-images.githubusercontent.com/31196718/169929131-11c30c3c-30ec-4968-a305-a4e7827d508a.png)

[2022-05-24 01:19] riverlijunjie commented on #11714
Did you see below error or similar in terminal?
     [ **ERROR** ] ngraph_op_v0_Parameter_visit_attributes **is disabled**!

[2022-05-24 02:42] Iffa-Meah commented on #11733
@luvwinnie I had requested permission for your files.

![image](https://user-images.githubusercontent.com/79643476/169937752-f6fcab4c-f593-4bc2-849e-a26e3e47ff0b.png)

[2022-05-24 02:44] luvwinnie commented on #11733
@Iffa-Meah Thank you so much, I have just added the permission. Please comment to me, if it is not downloadable.

[2022-05-24 02:50] a3213105 commented on #11727
The input shape is dynamic, could this be the cause of the memory leak?

[2022-05-24 06:22] Atakey opened #11734 "[Bug] Does version tag 2022.1 support AUTO_BATCH_DEVICE_CONFIG or AUTO_BATCH_TIMEOUT plugin_config?"
##### System information (version)

##### Detailed description

I follow with this [doc](https://docs.openvino.ai/2022.1/namespaceInferenceEngine_1_1PluginConfigParams.html?#details-namespace-inference-engine-1-1-plugin-config-params), and try to serving my model with cmd below :
[code]
or
[code]

I got the error info:
[code]

So, does version tag 2022.1 support AUTO_BATCH_DEVICE_CONFIG or AUTO_BA

[2022-05-24 06:59] mrsabhar-Intel commented on #11714
@riverlijunjie  Are you using model generated using 2022.1 (mo master) or 2021.x?

[2022-05-24 07:09] SiegfriedIppischSecuriton commented on #11262
Hi @jgespino

The provided Link does not have online/offline installer. There is only pip, GitHub and Gitee for the 2022.1 version.

[2022-05-24 07:43] brmarkus commented on #11262
Start with this URL:
https://software.intel.com/en-us/openvino-toolkit/choose-download

Via Runtime & 2022.1 && C++ && "Offline" you will get to this URL:
https://registrationcenter-download.intel.com/akdlm/irc_nas/18617/l_openvino_toolkit_p_2022.1.0.643_offline.sh

[2022-05-24 07:46] riverlijunjie commented on #11714
I think the model I tested is generated for a long time, maybe 2021.4 or 2022.1, but I don't think this issue is related with model itself.

[2022-05-24 07:59] Grigor355 commented on #11730
Yes, as I mentioned, there is no problem when using static input shape, but my application requires dynamic shape.

[2022-05-24 08:56] Grigor355 commented on #11730
@Iffa-Meah I sent the ONNX model via email. Thanks

[2022-05-24 09:32] fenaux commented on #11722
Thanks @jgespino ,

Installation worked pretty well note that chmod was not enough I nedded chown from root to fenaux to run the installation
Once installation completed, I could run the model with
compiled_model = ie_core.compile_model(model=model, device_name="CPU")

then I moved to NCS intallation ran the install_NCS_udev_rules.sh script and restarted my machine.
Then with the command
compiled_

[2022-05-24 10:32] AndreiLupas opened #11736 "[Bug][Test] ConvertColorI420 SetUp issue (?)"
ConvertColorI420LayerTest::SetUp() instantiates **::NV12toRGB** op but should be the **::I420toRGB** instead ?
https://github.com/openvinotoolkit/openvino/blob/master/src/tests/functional/shared_test_classes/src/single_layer/convert_color_i420.cpp#L38

[2022-05-24 16:21] aisnote commented on #11714
As I mentioned above, the loadnetwork just throw out the general error (-1), no specified error msg be caught.

[2022-05-24 18:58] jgespino commented on #11694
@amarjeet-saini nireq is number of inference requests. This value is automatically determined by the benchmark_app but you can specify using the following guidance:

Take a look at the [performance tuning page](https://docs.openvino.ai/latest/ovms_docs_performance_tuning.html) for additional details.

[2022-05-24 19:00] jgespino commented on #11638
@miaobin Do you see the same behavior on the latest 2022.1 release? If you could please provide a minimal example to reproduce.

[2022-05-24 19:18] jgespino commented on #11606
@yantaozhao I created a feature request for the development team to consider.

Ref. 85565

[2022-05-24 19:50] fenaux commented on #11722
Sure
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 006: ID 04ca:7054 Lite-On Technology Corp. HP HD Camera
Bus 001 Device 005: ID 8087:0a2b Intel Corp.
Bus 001 Device 048: ID 1a7c:0191 Evoluent VerticalMouse 4
Bus 001 Device 011: ID 413c:2010 Dell Computer Corp. Keyboard
Bus 001 Device 010: ID 413c:1003 Dell Computer Corp. Keyboard Hub
Bus 001 Device 012: ID 03e7:21

[2022-05-24 20:22] jgespino commented on #11722
@fenaux Thanks! Looks like you are using the original Intel Movidius Neural Compute Stick with Intel Myriad 2 VPU which has been discontinued and is no longer supported by OpenVINO. If you want to continue using OpenVINO with the Intel Neural Compute Stick please install OpenVINO 2020.3 LTS release.

Additional information can be found in the OpenVINO 2020 [release notes](https://www.intel.com/con

[2022-05-24 23:45] jgespino commented on #11710
@Grigor355 Thank you, can you also share your quantized model in IR format?

[2022-05-25 01:38] Iffa-Meah commented on #11733
@luvwinnie
 Starting from the 2020.4 release, OpenVINO™ supports reading [native ONNX models](https://docs.openvino.ai/2021.1/openvino_docs_IE_DG_ONNX_Support.html).
Therefore, if nothing's wrong with your model, you should be able to run it with OpenVINO.

I did a quick check on your model with [OpenVINO Benchmark App](https://docs.openvino.ai/latest/openvino_inference_engine_tools_benchmark_tool

[2022-05-25 01:43] Iffa-Meah commented on #11730
@Grigor355 I had requested access to your files

![image](https://user-images.githubusercontent.com/79643476/170161011-cc38b358-8a6d-416e-bcc4-efaa91548545.png)

[2022-05-25 01:43] luvwinnie commented on #11733
@Iffa-Meah I knew that ONNX is supported by OpenVINO which converting the model from ONNX to nGraph. However, I hope to optimized the model by converting with MO to IR format. Is this mean I can't optimized the model to IR format?

[2022-05-25 02:03] songbell commented on #11668
@amarjeet-saini It's recommended to use the infer_num queried from hw capability
        infer_num = compiled_model.get_property('OPTIMAL_NUMBER_OF_INFER_REQUESTS')
        infer_queue = AsyncInferQueue(compiled_model,infer_num)
meanwhile for this failure, we'll continue to check the memory difference between GPU and MYRIAD+GPU with some layers.

[2022-05-25 03:46] riverlijunjie commented on #11714
It seems that I cannot reproduce the same issue as you.

From your previous analysis, we can see the error occurred in below highlight code lines:
void Graph::CreatePrimitives() {
    OV_ITT_SCOPED_TASK(itt::domains::intel_cpu, "Graph::CreatePrimitives");
    for (auto& node : graphNodes) {
        **OV_ITT_SCOPE(FIRST_INFERENCE, itt::domains::intel_cpu_LT, node->profiling.createPrimitive);

[2022-05-25 03:57] Aed-p opened #11740 "[unsolved] How can I specify a single threaded runner in OpenVINO runtime API2.0"
My openvino version is 2022.1, Now, I want to run the inference program on an E5 2680 CPU, How to specify a single thread to run the inference program?

[2022-05-25 05:21] brmarkus commented on #11740
The CPU plugin of the InferenceEngine has config-options like `CPU_THREADS_NUM` (max. number of threads to use, INTEGER; max. number is the number of physical cores with ignoring potential HyperThreading) and `CPU_BIND_THREAD` (bind the thread(s) to a specific CPU-(NUMA)-core).

See the config-keys here: https://docs.openvino.ai/2022.1/namespaceInferenceEngine_1_1PluginConfigParams.html

See addit

[2022-05-25 05:34] xiaoweiChen opened #11741 "[Bug] OV 2022 could not run on the Dell ThinOS"
##### System information (version)

- OpenVINO=> 2022.1.1
[code]
- Operating System / Platform => Ubuntu16.04 and Dell ThinOS
- Dell ThinOS info:
[code]
- Compiler => gcc-5.4
- Problem classification => runtime

##### Detailed description

For test the OpenVINO 2022 on Dell ThinOS, do something below:

0.  At compiling link-time on Ubuntu16.04, there have some standard  libraries version issue  wi

[2022-05-25 05:35] Aed-p commented on #11740
thank you very much

[2022-05-25 15:15] jgespino commented on #11741
@xiaoweiChen I believe the issue is due to Ubuntu 16.04 and Dell ThinOS architectural differences. I am not familiar with Dell ThinOS and we have not done any testing with OpenVINO on such OS.

Is it possible for you to build OpenVINO from source directly on Dell ThinOS? Do you know if it's Linux based?

[2022-05-25 15:26] jgespino commented on #11736
@AndreiLupas I opened an internal ticket for the development to take a look.

Ref. 85603

[2022-05-25 16:00] jgespino commented on #11722
@fenaux OpenVINO 2020.3 LTS release does not support Ubuntu 20.04, during the installation you should have seen the following page. You will need to use of of the supported OS. With OpenVINO 2020.3 LTS release, we only had one installation package, it was not split into runtime or devtools at the time.

![image](https://user-images.githubusercontent.com/18014973/170306292-32d173f8-0d33-4a94-97ab-c

[2022-05-25 18:13] aisnote commented on #11714
ABSOLUTE_PATH_TO_STATISTICS_FILES=${OPENVINO_ROOT_DIR}/model

cmake -G "Visual Studio 16 2019" -A x64 **-DCMAKE_SYSTEM_VERSION=10.0.18362.0 **-DSELECTIVE_BUILD=ON**** -**DSELECTIVE_BUILD_STAT=${ABSOLUTE_PATH_TO_STATISTICS_FILES}/*.csv** **-DENABLE_PROFILING_ITT=OFF** -DENABLE_ONEDNN_FOR_GPU=OFF -DENABLE_OV_TF_FRONTEND=OFF -DENABLE_OPENVINO_DEBUG=ON -DENABLE_OV_ONNX_FRONTEND=OFF -DENABLE_OV_PADDLE_

[2022-05-25 19:38] jgespino commented on #11622
@workah0lic I am not able to replicate your issue on my Intel 8th generation system. I have the same software versions as you mentioned. I noticed you also posted the same question on Stack Overflow and received a recommendation. Are you still running into this issue or have you solved it?

https://stackoverflow.com/questions/72111498/pdhaddcounterw-failed-unknown-error-when-starting-a-demo

[code

[2022-05-25 23:30] jgespino commented on #11710
@Grigor355 Could you confirm you sent me the right quantized model? The model doesn't have a quantization_parameters section in the xml file. For example, the face-detection-adas-0001.xml int8 model:

![image](https://user-images.githubusercontent.com/18014973/170385827-0f51760c-2443-44d0-904a-490458dd7850.png)

Is it possible for you to share the full code to quantize and all required files (data

[2022-05-25 23:35] jgespino commented on #11721
@sergiossm Could you share your cmake command? I will try to build OpenVINO 2022.1 for Android using these [instructions ](https://github.com/openvinotoolkit/openvino/wiki/BuildingForAndroid)and get back to you.

[2022-05-26 03:07] Iffa-Meah commented on #11730
@Grigor355
I had checked your model.

Static IR -- success inference
<img width="627" alt="11730IRstatic" src="https://user-images.githubusercontent.com/79643476/170407530-d06570cd-4627-4341-93a0-444bf43d6468.png">
<img width="619" alt="11730IRstaticbenchmark" src="https://user-images.githubusercontent.com/79643476/170407563-019d4a90-ad0b-4588-92a8-7e0cf948942f.png">

Dynamic IR -- failed inferenc

[2022-05-26 06:22] riverlijunjie commented on #11727
If you run dynamic shape inference, it does hold max memory size that have ever allocated to fit the max shape consumption, even if new input tensor become smaller the previous max memory will not be releases, but only to be reused.
We have a PR to fix this issue, maybe you can try it - https://github.com/openvinotoolkit/openvino/pull/11667

[2022-05-26 06:43] a3213105 commented on #11727
Thanks @riverlijunjie, I will try it.
But I think it may not be the reason in my case.
I re-run it 30 times with the same image and the memory is still increasing. As you mentioned, in the first loop, OV will allocate all needed memory, and for other loops, it will reuse this memory without causing memory growth, because they are the same inference request. Is my understanding correct?

[2022-05-26 08:48] fenaux commented on #11722
@jgespino

Thanks a lot for all your support. I really do appreciate. But I will not go this way. :(
I do not know if other packages installed on my computer are available with Ubuntu 18.04 and in addition I wish to run yolov5 that needs Python >= 3.7

I have two last remarks (or questions)
I was surprised by, by the fact I got and old version of Neural Compute Stick. I bought it 2 weeks ago ! Can

[2022-05-26 09:18] riverlijunjie commented on #11727
yes, If the input tensor shape is not changed any more, the memory size should not increase any more.

In your sample, each run_async_batch will create 40 inferReqs in infer_queue, there will consume huge memory and low performance, why not create 4~8 inferReqs and reuse them?

[2022-05-26 11:34] Grigor355 commented on #11730
Can you call mo with batch size as dynamic? and then for benchmark_app you can provide -data_shape to avoid this error

[2022-05-26 11:48] a3213105 commented on #11727
my case is an OCR workload, the input is the same image, and it has about 40 text lines, so there are 40 inferReqs. And my test is re-run the same image inference to simulate real world.

For each inference, I have printed current memory usage, and you can see it is increasing, and then it will be killed by system.

### Cur Memory: 10.763656616210938
### Cur Memory: 11.076732635498047
### Cur Memo

[2022-05-26 11:54] Grigor355 commented on #11710
I followed https://github.com/openvinotoolkit/openvino_notebooks/blob/main/notebooks/113-image-classification-quantization/113-image-classification-quantization.ipynb notebook The model was saved by compression.graph.save_model as it is done in the notebook. The quantization parameters you mentioned are not present in the xml file but the xml has FakeQuantize layers. Isn't it enough to make sure t

[2022-05-26 12:33] dtrawins commented on #11734
@Atakey The list of supported parameters depends on the used plugin and device. In your case the default target device is CPU. On CPU, the parameters AUTO_BATCH_DEVICE_CONFIG and AUTO_BATCH_DEVICE_CONFIG are not allowed.
You should use the target_device `BATCH:GPU`:
```--target_device BATCH:GPU --plugin_config '{"AUTO_BATCH_TIMEOUT":"5","AUTO_BATCH_DEVICE_CONFIG":"GPU(2)"}'```

Note that this auto

[2022-05-26 19:10] jgespino commented on #11262
@SiegfriedIppischSecuriton You are correct, OpenVINO 2022.1 Demos have been modified to use the new OpenVINO API introduced in 2022.1 release. In this case, I reverted to testing again in 2021.4.2 to reproduce the issue before moving to 2022.1.

As I was not able to reproduce with pedestrian tracker demo, I went back to your code in your original post. I am running Visual Studio 2019 with CLR enab

[2022-05-26 19:11] #11634 closed

[2022-05-26 22:55] jgespino commented on #11669
@cxf2015 Could you share how you are detecting the memory leak using benchmark_app on windows? and how much memory leak are you seeing? Also, what CPU SKU are you using?

I used your model with benchmark_app and valgrind on my linux system and I saw the following.

![image](https://user-images.githubusercontent.com/18014973/170592539-730a051b-d871-4280-94ea-677f44a63175.png)

[2022-05-26 22:59] jgespino commented on #11696
@zhentaocc Apologies for the delay, I was not able to find a solution. I have reached out to the development team for assistance.

There is another issue about quantizing a model with dynamic shapes. Do you mind if we merge these two issues and close this one?

https://github.com/openvinotoolkit/openvino/issues/11607

[2022-05-27 00:19] a3213105 commented on #11727
Actually, I tracked memory malloc/free in plugins/intel_cpu/src/cpu_memory.cpp and they are all paired. Also in plugins/intel_cpu/src/infer_request.cpp, there are no memory leak, so I think the problem maybe in python API

[2022-05-27 00:49] riverlijunjie commented on #11727
In each run_async_batch loop, it will re-create 40 inferReqs, maybe the inferReqs created in last loop still exist in current loop?
So can you one-time create 40 inferReqs and reuse them in next loop?
I'm not sure whether the problem comes from inferReqs not destruction, could you have a try?

[2022-05-27 01:02] a3213105 commented on #11727
class TextRecognizerResult :
    def __init__(self) :
         self.result = {}

    def completion_callback(self, infer_request: InferRequest, index: int) :
        predictions = next(iter(infer_request.results.values()))
        self.result[index] = predictions

class TextRecognizer():
    def __init__(self, model, core =None):
        if core is None :
            self.core = Core()
        els

[2022-05-27 01:25] Iffa-Meah commented on #11666
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-05-27 01:25] #11666 closed

[2022-05-27 01:29] Atakey commented on #11734
Great work, I will continue to pay attention to the latest situation of the project and apply it to my work. Thanks !

[2022-05-27 01:29] #11734 closed

[2022-05-27 02:04] xiaoweiChen commented on #11741
Thanks reply! @jgespino

1. Do you know if it's Linux based?
A:
I think, you mean the Dell Thin OS base which Linux, right? If `Yes`, this OS base on `Base on FreeBSD 12.0-RELEASE`.

2. Is it possible for you to build OpenVINO from source directly on Dell ThinOS?
A:
For now,  there have no compiler on the Dell ThinOS.
En, If directly build OpenVINO with source on this OS, may need more work to do.

[2022-05-27 05:27] cxf2015 commented on #11669
@jgespino hi, i use CPU(11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz   2.80 GHz) on windows10, run test.py to OCR a picture, and each text line image has a 2-3M memory boost, adding up all the time.

[2022-05-27 09:12] mitruska commented on #11733
I've checked this with debugger and the error during ONNX Slice import comes from ov::v8::Slice constructor when `get_constant_from_source(input_value(2))` is called in `validate_and_infer_types` and the bad_weak_ptr is thrown by `shared_from_this()` in the `propagate_rt_info(node, output)` at the end of `evaluate_bound`.
https://github.com/openvinotoolkit/openvino/blob/da09272d9f887b3b28aa1e6bf38

[2022-05-27 14:08] jiwaszki commented on #11727
Hi @a3213105,

I managed to fix/adjust your snippet and pass fake data inside of it. I was wondering how it is possible that number of call to `start_async` in your loop does not match number of calls to iterator itself.

Your numbers:
![image](https://user-images.githubusercontent.com/65762745/170714293-c2feb322-9652-4f51-927c-4499fc9a8437.png)

My report:
![image](https://user-images.githubuserc

[2022-05-27 19:27] jgespino commented on #11699
@Johnzdh I looked at your quantize.py script and everything is correct. Your script is quantizing your model as I see FakeQuantization layers.

I recommend adding the following to benchmark_app command:
 `-pc` flag to analyze how long each layer is taking
`-niter` flag to specify the number of inference requests to get a comparable duration

Also, I would also recommend looking at the [DefaultQuan

[2022-05-27 19:44] jgespino commented on #11669
@cxf2015 I did notice that too when running your test.py but the memory goes back to down after the script ends. On your system does it continue to build up even after the script ends?

Running your script on Linux with valgrind, shows a memory leak but running your model (same as test.py) with benchmark_app does not show a memory leak.

[code]

[code]

[2022-05-27 23:12] jgespino commented on #11710
@Grigor355 Sorry.... you are right. Didn't see the FakeQuantize layers earlier. I tested on an Intel Core i5-1135G7 with avx512 and a Intel Core i7-8665U with AVX2 and observed a ~3x FPS with the benchmark_app on the AVX512 system. Let me try to find a XEON Gold processor to test.

[2022-05-27 23:13] jgespino commented on #11702
Closing, please re-open if additional assistance is needed.

[2022-05-27 23:13] #11702 closed

[2022-05-27 23:18] jgespino commented on #11725
@thestarivore Correct, the error indicated that the NCS 2 device has ran out of memory. Would you mind sharing your code and model for me to reproduce from my side?

[2022-05-28 01:20] cxf2015 commented on #11669
@jgespino thanks. that means IR model (ONNX model) no memory leak, but use openvino core show a memory leak? is that so?
After several times of testing, we found that the RNN can only be used at a fixed size without causing memory leaks.

[2022-05-28 12:08] cvidkal opened #11758 "Failed to Run openvino on NCS2"
I run yolov3 with openvino 2021.4 on ncs2, but get error.
Here is all error log.
`[35mE: [global] [    620314] [Scheduler00Thr] dispatcherEventSend:54	Write failed (header) (err -1) | event XLINK_PING_REQ
[0m
[35mE: [xLink] [    620314] [Scheduler00Thr] sendEvents:1132	Event sending failed[0m
[35mE: [global] [    621315] [Scheduler00Thr] dispatcherEventSend:54	Write failed (header) (err -4) |

[2022-05-28 15:19] thestarivore commented on #11725
@jgespino Sure, here is the model:
[model.zip](https://github.com/openvinotoolkit/openvino/files/8791379/model.zip)
The input an be a random tensor [32, 96, 80, 80]

I would like to fall back to CPU when the inference on NCS2 with openvino fails. But when I get this error (X_LINK_OUT_OF_MEMORY), the whole script crashes.
Is there a way to catch this error and start another inference using the CPU?

[2022-05-29 09:09] fenaux opened #11760 "[Bug] error doing ONNX IR conversion"
##### System information (version)
 OpenVINO runtime version: 	2022.1.0-7009-19bdd019745-refs/pull/1012/head

##### Detailed description

OpenVINO runtime found in: 	/data/venv/openvino_2022.1.0.643/lib/python3.6/site-packages/openvino
OpenVINO runtime version: 	2022.1.0-7009-19bdd019745-refs/pull/1012/head
Model Optimizer version: 	2022.1.0-7009-19bdd019745-refs/pull/1012/head
[ ERROR ]  --------

[2022-05-29 11:58] a3213105 commented on #11727
I have confirmed that these is not a memory leak. The memory increasing caused by cache. (openvino/src/plugins/intel_cpu/src/cache/)
If I set config['CPU_RUNTIME_CACHE_CAPACITY'] = '0' the memory increase goes away :)
But now the question is, why the cache doesn't cache the primitive, or caches it but doesn't find it when it needs to be reused.
I repeat the same 40 inferences, although the 40 inpu

[2022-05-29 12:38] a3213105 commented on #11727
hi @jiwaszki   595 = 578+17 as yours is 100001=100000+1.
i have run run_async_batch for many times.
your input is the same shape, but mine is not.
as i mentioned in last reply. the cache caused the memory increasing.
thanks for your time to investigate my issue :)

[2022-05-29 14:29] jiwaszki commented on #11727
Oh... my bad! I forgot to include the fact that it was run 17 times.

Glad to see a progress with the investigation! @riverlijunjie let's raise that topic as soon as possible.

[2022-05-29 16:42] brmarkus commented on #11725
What do you mean with "having a problem that happens after ~50 executions"? Do you try to instantiate the exec-net 50 times, i.e. you want to run that many number of independent instances, have many models loaded in parallel?

[2022-05-29 16:52] brmarkus commented on #11758
Can you provide more details about your environment, which OS, running on which HW?

Which exact model do you use, is it a publicly available model? Can you reproduce with a model from the OpenVINO open-model-zoo? (e.g. downloaded like `python3 downloader.py --name yolo-v3-tf -o /tmp/`) and converted like `python3 converter.py -d /tmp/ -o /tmp/ --name yolo-v3-tf`?

Which code, which application ar

[2022-05-29 16:56] brmarkus commented on #11760
Can you provide more details about your environment, please?
Which HW, which operating system are you using?

Which model are you using, have you retrained the `yolov5x.onnx`, can you share the model or an URL to where to download it from?

Your system uses Python in version v3.6 ("OpenVINO runtime found in: /data/venv/openvino_2022.1.0.643/lib/python3.6/site-packages/openvino")?

[2022-05-29 19:56] fenaux commented on #11760
Environment and HW are the basic ones provided by IntelDevCloud
I started a Jupyter notebook with the kernel OpenVino2022.1
I too was surprise by Pyhton 3.6 but ti was the configuration provided.

Model is Yolov5x from Ultralytics  https://github.com/ultralytics/yolov5  converted to Onnx with these instructions
    torch.onnx.export(
        model,
        dummy_input,
        onnx_path,
        o

[2022-05-30 00:33] a3213105 commented on #11727
@jiwaszki @riverlijunjie
I reviewed the code, I think the cache is not actually invalid. I use 8 streams, and each stream will have its own set of caches, but different shapes are randomly matched to the streams when called, so all 40 different shapes need to be cached 8 copies to 8 different cache pools , this amount may have exceeded my 16GB dram, I also tested on a 64GB dram machine and the dra

[2022-05-30 00:33] #11727 closed

[2022-05-30 00:59] a3213105 commented on #11727
Thanks for your help, @riverlijunjie @jiwaszki .
I will close this issue first. I will check the cache problem later, if there is a real problem with the cache strategy, I will raise another issue

[2022-05-30 01:25] sunxiaoxia2022 commented on #11717
Please add "OPENVINO_ENABLE_UNICODE_PATH_SUPPORT" and "_WIN32" in the compilation options, and recompile openvino runtime.

[2022-05-30 02:08] wujingxin521 commented on #11717
thanks. Can the flag be changed to "_WIN64" and will it also take effect? The program's memory exceeds 4G.

[2022-05-30 02:08] wujingxin521 commented on #11717
thanks. Can the flag be changed to "_WIN64" and will it also take effect? The program's memory exceeds 4G.

[2022-05-30 03:25] xipingyan commented on #11727
hi @a3213105 , I also try your code, I found only OCR network exist the problem, the detection network is OK.
So please also pay attention the difference of the both networks in your next verifiction.

[2022-05-30 03:33] riverlijunjie commented on #11740
@Aed-p could you please close this tickets if it has been addressed?

[2022-05-30 03:36] #11740 closed

[2022-05-30 03:38] sunxiaoxia2022 commented on #11717
This is only to resolve the problem of Chinese path. For other problems, you need to create a new issue.

[2022-05-30 04:08] riverlijunjie commented on #11714
I cannot reproduce the same issue with @aisnote, maybe my colleague @xipingyan can help to reproduce it and check more.

[2022-05-30 05:39] a3213105 commented on #11727
@xipingyan ,  yes, i think it because my input image is the same, so detection network did not change the shape. And i will test more different shape to confirm this.

[2022-05-30 11:31] wujingxin521 commented on #11717
Thanks for answering. I will try it later. Q&A can be closed.

[2022-05-30 12:15] dlod-openvino opened #11764 "[Bug]ImportError: cannot import name 'serialize' from 'openvino.runtime in OpenVINO 2022.1"
##### System information (version)
- OpenVINO == 2022.1
- Operating System / Platform => Windows 64 Bit
- conda 4.12.0

##### Detailed description
Fail to import  'serialize' from 'openvino.runtime in OpenVINO 2022.1

##### Steps to reproduce
Step 1: pip install openvino-dev in Conda's virtual environment
Step 2: Run "from openvino.runtime import serialize"
You will get the error:
Traceback (most

[2022-05-30 15:32] Grigor355 commented on #11710
With '~3x FPS' you mean 3x faster model? Also, can you benchmark with -api sync? I think the default is aysnc.

[2022-05-31 02:34] baicaiPCX opened #11767 "[Bug]Speed up on Multiple NCS2"
Hello,
I want to speed up inference by using multiple NCS2. But inference on each device of mutiple NCS2 took the same time as inference on only one NCS2. For example, the inference duration is 1.7 secends with 100 input datas on two NCS2 devices, whereas the inference duration is also 1.7 secends with 50 input datas on only one NCS2 device. I tested the performance using the asynchronous API. Why

[2022-05-31 04:14] brmarkus commented on #11767
Can you describe your implementation in more details, please?

How do you parallelize the inference requests in details? Do you just send independent inference requests to multiple NCS2 devices?
In this case the total throughput will be higher as each device is running its own inference-request in parallel. But the inference-processing itself will not become faster...

Or do you make use of MULTI

[2022-05-31 08:05] sunxiaoxia2022 commented on #11717
"_WIN32" can also be used in win64 system.

[2022-05-31 14:10] Iffa-Meah commented on #11764
@dlod-openvino I had checked the OpenVINO Python API ( openvino.runtime.serialize() )

This also failed from my end.
![python-c](https://user-images.githubusercontent.com/79643476/171192994-67a049cf-12b5-4496-a0cb-6e2b3a3e5552.png)

Even a different approach did not succeed.
![ov](https://user-images.githubusercontent.com/79643476/171193296-fc0c3f3e-8514-4dbc-9678-d07f162637f6.png)

It seems other

[2022-05-31 14:35] aisnote commented on #11714
Will update today

[2022-05-31 15:14] jgespino commented on #11764
@dlod-openvino Try importing serialize as follows:
`from openvino.offline_transformations import serialize`

You can refer to the [OpenVINO API tutorial](https://github.com/openvinotoolkit/openvino_notebooks/blob/main/notebooks/002-openvino-api/002-openvino-api.ipynb) notebook for additional information.

[2022-05-31 16:31] jgespino commented on #11710
@Grigor355

Yes, x3 the performance when comparing Intel Core i7-8665U with Intel Core i5-1135G7.

I was not able find a system with Intel® Xeon® Gold 6138. However, see the benchmark_app results using your model on my systems with **Intel(R) Core(TM) i7-8665U** and **Intel(r) Xeon(r) Platinum 8368** processor.

Could you share the results you are seeing from your side with the `benchmark_app -m <

[2022-05-31 16:34] #11696 closed

[2022-05-31 16:47] aisnote commented on #11714
@xipingyan

I run and got below:

[Step 6/11] Configuring input of the model
[ INFO ] Network batch size: 1
Network inputs:
    input (node: input) : f32 / [N,C,H,W]
Network outputs:
    output (node: output) : f32 / [...]
[Step 7/11] Loading the model to the device
**[ ERROR ] Unsupported operation type for Eltwise emitter**

[2022-05-31 17:23] #11673 closed

[2022-05-31 17:24] #11622 closed

[2022-05-31 17:29] #11638 closed

[2022-05-31 21:21] Grigor355 commented on #11710
Intel I7-8700K(AVX2)
benchmark_app -m ov.xml -api sync -pc
[code]

[2022-05-31 21:25] Grigor355 commented on #11710
Intel I7-8700K(AVX2)
[code]

[2022-06-01 00:00] jgespino commented on #11721
@sergiossm I built both OpenVINO 2021.4.2 and OpenVINO 2022.1 from source and included the java-api from OpenVINO Contrib repository. I verified that the .jar file is not generated with OpenVINO 2022.1 release. Given that the OpenVINO contrib repository may not be stable, I recommend you continue using OpenVINO 2021.4.2 release with the guide you shared as it's been verified to work with such vers

[2022-06-01 01:24] baicaiPCX commented on #11767
Yes, I also think that each device of multiple NCS2 devices just receives independent inference requests. Could you tell me how to avoid this case? My python implementation as fellows:
[code]

Look forward to your feedback, thanks.

[2022-06-01 08:51] Grigor355 commented on #11710
Intel® Xeon® Gold 6138 quantized model
[code]

[2022-06-01 09:40] Grigor355 commented on #11730
Hi, any news on this part?

[2022-06-01 13:04] sergiossm commented on #11721
@jgespino I didn't have time to re-build it this week, thank you for doing it yourself. Also, thanks for confirming this, I'll stay tuned for updates.

[2022-06-01 15:40] jgespino commented on #11710
@Grigor355

The input shape was set to [1, 3, 1120, 1120].

Can you test on both systems using the same OpenVINO version? Looks like your i7-8700K system has:
[code]
and the Intel® Xeon® Gold 6138 system has:
[code]

I am comparing the quantized model on Intel(R) Core(TM) i7-8665U and Intel(r) Xeon(r) Platinum 8368. Correct, the XEON processor that I am using has additional cores and instruction s

[2022-06-01 15:48] jgespino commented on #11721
@sergiossm No problem, I have filed a bug with the development team. I will keep you posted.

Ref. 85905

[2022-06-01 16:34] Grigor355 commented on #11710
Here is the benchmark output of AVX2 on the quantized model with the same version of openvino as in Xeon Gold env, results are the same.
[code]

[2022-06-01 16:54] jgespino commented on #11730
@Grigor355 Apologies for the delay, could you try to specify the input shape when running benchmark_app?

I converted your onnx model using the following command:
`mo --input_model model_g.onnx --input_shape [-1,1,32,100] --data_type FP32`

I was able to run the benchmark_app with different batch sizes as follows:
[code]

[2022-06-02 02:13] OyamingO opened #11781 "[Bug] How can I build a docker image that compatible with arm64 and amd?"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues, Stack Ov

[2022-06-02 03:00] peterchen-intel commented on #11717
@wujingxin521  For the "GBK character set", you can ignore _WIN32 or _WIN64, just add "OPENVINO_ENABLE_UNICODE_PATH_SUPPORT" explicitly is enough.

[2022-06-02 04:24] mrsabhar-Intel commented on #11741
@jgespino  Is it possible issue from oneDNN vs. MKLDNN on 2021.x?

[2022-06-02 22:47] justin-larking-pk opened #11786 "Error on Onnx to Openvino IR Conversion"
##### System information
- OpenVINO => 2022.1.0
- Operating System / Platform => Ubuntu 20.04 64 Bit
- Environment Pip and conda (does this for both)
- Problem classification: Model Conversion
- Framework: Pytorch -> Onnx -> Openvino
- Model name: Mobilenetv3

##### Detailed description
When converting from an onnx model exported from pytorch, the conversion fails.
Outputs:

[ ERROR ]  -----------

[2022-06-02 23:38] jgespino commented on #11781
@OyamingO Please take a look at the guide for building a docker container:
https://github.com/openvinotoolkit/docker_ci/tree/master/dockerfiles/ubuntu18/build_custom

You will need to include the OpenVINO Contrib repository and set the correct cmake parameters for arm64.
https://github.com/openvinotoolkit/openvino_contrib

[2022-06-02 23:48] jgespino commented on #11730
@Grigor355 Currently dynamic batching does not support models that contain LSTM operations. As you initially observed, the model works when LSTM op is not present. I've confirmed this by using another model that does not contain LSTM op and converted with `mo --input_model <model> --input_shape "[-1, 1, h, w]"`, using your code above, I was able to run inference and updating the batch size without

[2022-06-03 05:32] Iffa-Meah commented on #11786
@justin-larking-pk I manage to convert your model into IR (static and dynamic shape) and also able to infer them including the native ONNX format.

ONNX benchmark_app (inference)
command: benchmark_app -m mbnetv3_embeddings.onnx

<img width="501" alt="benchmarkonnx" src="https://user-images.githubusercontent.com/79643476/171791828-5edb92bf-2f78-4476-9eb3-30024dc0da25.png">

Convert ONNX into IR st

[2022-06-03 14:02] Grigor355 commented on #11730
My model has CNN->BiLSTM -> LSTMcell architecture and the problem appears only when LSTMcell is present, so for CNN->BiLSTM model it works. If OpenVino does not support LSTMCell how does the benchmark app work? Both you and me could run the model with LSTMcell and dynamic batch with benchmark_app -m model_g.xml -shape input[2,1,32,100]
??

[2022-06-03 21:26] jgespino commented on #11669
@cxf2015 Yes, maybe it's something specific to your code as I am not seeing it when using your model and the benchmark_app. Do you see a memory leak when using your RNN with benchmark_app and dynamic input?

[2022-06-03 22:25] jgespino commented on #11725
@thestarivore Have you tried decreasing the input to something smaller than batch 32? I was able to run benchmark_app with your model using input shape up to [22,96,80,80].

I'm not sure if catching the error is possible as the error/messages are coming from the Myriad Plugin driver. I recommend taking a look at the Myriad Plugin code:
https://github.com/openvinotoolkit/openvino/tree/master/src/pl

[2022-06-04 12:11] hitesh-anand opened #11792 "[Bug] Not able to run the script for Accuracy Aware Quantization on yolo-v4-tf"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => Ubuntu VM
- Problem classification => POT using Accuracy Aware Quantization (on yolo-v4)

##### Detailed description

I am trying to run the python script for applying Accuracy Aware Quantization on IR files of yolo-v4-tf model. But, I am getting the following error : **ValueError: cannot reshape array of size

[2022-06-05 00:57] dlod-openvino commented on #11764
@jgespino Thank you very much, it works! I can see the preprocessing functions integrated into the execution graph.
![preprocessing functions integrated into execution graph](https://user-images.githubusercontent.com/59691336/172030439-2f247814-5d53-4ef1-9c05-4dda58a9200a.png)

[2022-06-05 01:18] dlod-openvino commented on #11764
@jgespino Hi, Jpespino: I serialized the model successfully, However, I found it's a FP32 model, so How to export FP16 model by [serialize()](https://docs.openvino.ai/nightly/classov_1_1pass_1_1Serialize.html#doxid-classov-1-1pass-1-1-serialize)? Since my target device is GPU.

Thank you very much in advance!

[2022-06-05 15:19] brmarkus commented on #11792
Can you provide more details to the steps you did, please?
Which exact model have you downloaded from where, in which version?
How have you (successfully) converted it to IR, can you share the command-line (of model-optimizer), please? Converted to IR in FP16, in FP32 precision?
Can you show the JSON-file you created for the DefaultQuantization algorithm, please? (OpenVINO provides YAML and JSON a

[2022-06-06 05:14] hitesh-anand commented on #11792
I downloaded the yolo-v4-tf model from the openvino model zoo using the omz_downloader command.

omz_downloader --name yolo-v4-tf.

This gave me the yolo-v4 weights in Darknet format(.weights).
I converted the weights to .pb format.

Then, I obtained the IR files(.xml and .bin) after running the model optimizer using the "mo" command and specifying the required parameters(input model name, output

[2022-06-06 06:58] xiaoweiChen commented on #11741
I installed the gdb on the Dell ThinOS.

May, find the reason about the crash.

The main reason may in Multi-Thread library/libraries.

With the debug version for the 9996a58fc67803cd59d68a69ae47fb5913c40cd8, the gdb give the message like below:

-----
TBB Version

EXE file ldd info:
[code]

This program would crash at running time.

The gdb message:
[code]

gdb tell me the `hwloc_get_obj_with_sam

[2022-06-06 07:52] hitesh-anand commented on #11792
Dear Sir,

The issue is now resolved. Looks like there was a problem with the annotations file for the coco dataset. I downloaded it from the official coco website and it worked for the ssd-resnet-mobilenet-v1 model. Thanks for your time and help.

[2022-06-06 07:53] #11792 closed

[2022-06-06 12:44] cxf2015 commented on #11669
@jgespino how to input different size images with benchmark_app?

[2022-06-06 13:46] riverlijunjie commented on #11669
You can use "--data_shape" to make generate difference shape tensor, for example:

./benchmark_app -m ~/workspaces/inference.pdmodel -shape=[-1,3,960,960] -data_shape=[2,3,960,960][5,3,960,960] -niter=100

[2022-06-06 14:38] riverlijunjie commented on #11714
Root caused that transformation is disabled/skipped during second selective build.

We provided PR: https://github.com/openvinotoolkit/openvino/pull/11798
Could you help verify it whether it can work?

[2022-06-06 18:18] lminer opened #11800 "[Feature Request][TF FE] Support for complex tensorflow ops"
It would be great to get support for tensorflow complex ops: Complex, Real, Imag.

These ops are essential for anyone working with audio data.

[2022-06-06 19:51] mjohannessen opened #11801 "pip install openvino-dev[pytorch] fails at fast-ctc-decode requirement"
I'm attempting to install OpenVINO dev tools on a Raspberry Pi 4b, with failure at a requirement for fast-ctc-decode, which does not have an appropriate version.  Here are the details:

Hardware: Raspberry Pi 4b

OS:

$ lsb_release -a >
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04 LTS
Release:	22.04
Codename:	jammy

Python:

$ python -V > Python 3.8.13
$ python -m pip install --upgrade pip
Req

[2022-06-06 21:36] justin-larking-pk commented on #11786
Ah so the issue was an incorrectly defined input shape? As I was parsing [1,256,128,3], as it showed here:
https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_Converting_Model.html#doxid-openvino-docs-m-o-d-g-prepare-model-convert-model-converting-model

but in future when converting a model it should be defined [batch_size, channels, heigt, width], if thats how its def

[2022-06-06 22:08] jgespino commented on #11800
@lminer Could you share a model where these operations are being used and it's use case?

[2022-06-06 23:04] lminer commented on #11800
The use case is that the model is acting on audio data, which has been transformed into a complex spectrogram via an STFT. Most ops don't work on complex tensors, so typically we deal with this by pulling out the real and imaginary parts (hence the need for Real and Imag) as real tensors. At the end of our pipeline after we've sent the inputs through the network, we need to convert the output back

[2022-06-07 03:30] xaclincoln opened #11802 "[Feature Request] PaddlePaddle model quantization support"
Hi, thanks for the excellent job !
NNCF only support Tensorflow and pytorch at present. Is paddlepaddle support on the plan?
PaddlePaddle indeed has a native quantization framework named PaddleSlim, but the quantized models are not covertible to onnx and IR.  Or could model optimizer support converting quantized paddlepaddle models?
What I want to achieve is inference a quantized paddle paddle mod

[2022-06-07 03:42] dlod-openvino commented on #11802
Add one!

[2022-06-07 03:42] dlod-openvino commented on #11802
Agree! When NNCF can support PaddlePaddle?

[2022-06-07 05:54] Iffa-Meah commented on #11801
@mjohannessen ,

currently, the OpenVINO was [officially supported & validated on these OS only](https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux):

Ubuntu* 18.04 (64-bit) with default GCC* 7.5.0
Ubuntu* 20.04 (64-bit) with default GCC* 9.3.0
Red Hat* Enterprise Linux* 8.2 (64-bit) with default GCC* 8.5.0
[Raspbian Stretch OS](https://github.com/openvinotoolkit/openvino/wiki/Build

[2022-06-07 06:03] Iffa-Meah commented on #11786
@justin-larking-pk, the input shapes for Tensorflow and ONNX are different (there are different model types in that documentation). The Tensorflow often requires to be reversed, depending on how the model was handled/processed.

The input shape I used in the conversion above is what I can see from your original model itself. You may look at the inference of your native ONNX model (the 1st image).

[2022-06-07 07:46] changewOw opened #11807 "[Bug]openvino2022 compile_tool failed. Failed to allocate graph: MYRIAD device is not opened."
##### System information (version)

- OpenVINO=> 2022.1.0-7019-cdb9bec7210-releases/2022/1
- Operating System / Platform => ubunt18.04
- Compiler => :grey_question:
- Problem classification => MYRAID compile tool

##### Detailed description

When I use the compile_tool for conversion, I meet an error.
[setupvars.sh] OpenVINO environment initialized
/home/zyb/2661
OpenVINO Runtime version .........

[2022-06-07 08:43] nieknaber opened #11809 "Import compiled model in python"
I want to import a compiled model in python, but something seems to go wrong.

I am using openvino version 2022.1

I have a model in IR representation (the .xml and .bin file) and first compile that with the compile tool:
[code]

Then I want to import this compiled model in python. I do not want to compile the model myself in python from the .xml and .bin file because in this way I can choose the

[2022-06-07 09:21] xunaichao opened #11810 "model of tensorflow2.9.1 cannot convert to openvino IR format"
my environment：
ubuntu 18.04
python = python 3.7.13
openvino = openvino2021.4.2

1.we have use this function to save model:
 (tf.keras.models.save_model)
and we get files like: variables, assets,saved_model.pb and keras_metadata.pb

we use the generated .pb file on the openvino to run the convert progress, and get this error:

Model Optimizer arguments:
Common parameters:
        - Path to the Inp

[2022-06-07 09:24] brmarkus commented on #11807
Have you installed a pre-built version of OpenVINO (contains the MyriadX-device plugin) or have you compiled it from source-code (doesn't contain the plugin)?
Have you installed the udev-rule?
Do you have a MyriadX (NCS2) device connected? Connected via an USB3 (SuperSpeed) capable connector? Connected via USB3 capable USB-hub (ideally with external power)?
Do you see the MyriadX (NCS2) device via

[2022-06-07 09:29] changewOw commented on #11807
I just want to convert the IR model into a blob. I don't want to run the model in the real-world.
So I don't understand why "compile_tool" wanna try to open a myraid device

[2022-06-07 10:53] songbell commented on #11694
@amarjeet-saini from openvino release, 2022.1, run the multi plugin with OPENVINO_LOG_LEVEL=7, there will be information of workload division at the end, as shown in below. currently, we don't have interface to query such information, only logs are available.
[12:03:04.7094]I[executable_network.cpp:630] [AUTOPLUGIN]CPU:infer:384239
[12:03:04.7094]I[executable_network.cpp:646] [AUTOPLUGIN]CPU:fps:6

[2022-06-07 21:55] ynjiun opened #11824 "Shapes are not consistent"
Hi,

I run the mo as below:

`mo --input_model ../models/middlebury_d400.pb --input_shape [1,352,704,6]`

And get the error messages as following:

[code]

for the middlebury_d400.pb you may wget it from:

[code]

Please advise how to fix the above error. Thank you.

[2022-06-07 22:00] davidalejandro04 opened #11825 "Compile openvino project with 2022.1.0.643 on QT 6.3"
##### System information (version)

- OpenVINO => 2022.1.0.643
- Operating System / Platform => Windows 11 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Error after compiling

##### Detailed description
I'm trying to compile a project with openvino 2022.1.0.643 on my QT 6.3 based project. I am using MSVC2019 64bit compiler within the QT 6.3 kit.

There are two main problems wit

[2022-06-08 00:27] mjohannessen commented on #11801
Conversion done with same error:

$ python -V
Python 3.8.10

$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.4 LTS
Release:	20.04
Codename:	focal

$ pip instsll numpy

$ pip install openvino-dev[pytorch]==2022.1.0
Defaulting to user installation because normal site-packages is not writeable
Collecting openvino-dev[pytorch]==2022.1.0
  Using cached op

[2022-06-08 03:13] songbell commented on #11694
@amarjeet-saini The debug log is enabled for some common plugins(AUTO and MULTI) while the information is correct as multi it is. We will refine the log tag in future release

[2022-06-08 06:22] Iffa-Meah commented on #11809
We do notice that the import method [here](https://docs.openvino.ai/latest/openvino_inference_engine_tools_compile_tool_README.html) only covers C++.

As for Python, Wand library probably can be used as a workaround, however, this would get a blob information using the library itself instead of OpenVINO-compiled .blob file.

We'll get back to your with more information asap.

[2022-06-08 08:30] wang7393 opened #11830 "[Bug] load model crash with intel GPU"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model load with intel gpu
- Framework: onnx
- Model name: [deep-hough-transform](https://github.com/Hanqer/deep-hough-transform)

##### Detailed description

load with cpu, success
but load with gpu, crash.
The main reason for the crash

[2022-06-08 08:41] OyamingO commented on #11781
Many thanks for your reply. I got some errors when I build an **ubuntu18.04 arm64** image based the guide:
[](https://github.com/openvinotoolkit/docker_ci/tree/master/dockerfiles/ubuntu18/build_custom
).
I debugged the error and found that it is caused by the following code in
**scripts/install_dependencies/install_NEO_OCL_driver.sh**:
-----------------------------------------------------
_downloa

[2022-06-08 13:13] Iffa-Meah commented on #11810
@xunaichao could you share your .pb model files instead of the yolov3 source code?
We'll review them from our end.

[2022-06-08 20:38] jgespino commented on #11800
@lminer Having the model would help the development team further understand the use case and what is needed to support such model. If you could share your model or a piece of the model where such layers are used. Feel free to send it via email (available on my profile), I may need additional information from you but I will ask privately if that's okay.

[2022-06-09 00:04] jgespino commented on #11825
@davidalejandro04 I have not tried using OpenVINO with QT before. However, are you able to build the OpenVINO CPP samples in VS 2019? I recommend sourcing OpenVINO environment variables and starting Visual Studio from the same command line.
[code]

Also, take a look at the cmake files for the cpp samples to help you create your own.
`C:\Program Files (x86)\Intel\openvino_2022\samples\cpp\CMakeList

[2022-06-09 00:06] jgespino commented on #11669
@cxf2015 This looks like a different model from your original issue (textreg.xml) which has only 1 input. Could you share the new model (my email is on my profile), input image 0.jpg and a screenshot of what you are seeing?

[2022-06-09 02:16] Iffa-Meah commented on #11801
I used the Ubuntu 20.04 which obtained from the official Raspberry Pi imager.

<img width="339" alt="piImager" src="https://user-images.githubusercontent.com/79643476/172746971-8873ede7-327e-4b8f-8c32-4945d40a650e.png">

I specified Tensorflow2 and ONNX to check the installation of the combination of Armv7 with Ubuntu (This usually works with my Ubuntu OS with i7 processor)
![piUbuntuOV](https://u

[2022-06-09 02:24] Iffa-Meah commented on #11824
@ynjiun may I know which OS are you using?. Is it Ubuntu 20.04?

[2022-06-09 02:26] Iffa-Meah commented on #11830
@wang7393 could you share your ONNX model files?

[2022-06-09 03:10] ynjiun commented on #11824
Yes. I am using ubuntu 20.04.

[2022-06-09 03:30] cxf2015 commented on #11669
@jgespino Relevant files have been sent to your email.thanks

[2022-06-09 07:06] OyamingO commented on #11781
@[jgespino](https://github.com/jgespino)> Many thanks for your reply. I got some errors when I build an **ubuntu18.04 arm64** image based the guide:

-----------------------------------------------------

-----------------------------------------------------
In this case, I encountered some problems:
(1) All these .**deb files are for ubuntu amd64**. Can I comment out and skip this code when build

[2022-06-09 07:48] Iffa-Meah commented on #11824
@ynjiun noted.

I need to clarify these info to dig further into your issue:
1. what model is this? I believe this is a Tensorflow model. If yes, is it Tensorflow version 1 or 2?
2. Topology of this model
3. Did you define any shape to the model in the first place (before conversion) because I noticed, as prompted in your error, your model's shapes {1,96,192,400} and {1,1,96,192} **are not consist

[2022-06-09 09:56] xunaichao commented on #11810
i have my pb model here, the whole file is too large to upload. Can I have your email address to communicate. thanks a lot

[saved_model.pb.zip](https://github.com/openvinotoolkit/openvino/files/8869241/saved_model.pb.zip)

[2022-06-09 11:03] wang7393 commented on #11830
hi, I have modified the model like this, it can be loaded successful wit gpu.
![image](https://user-images.githubusercontent.com/29936604/172831445-add82566-e18c-4fc5-9eb7-7752a0c9c5b0.png)
And, I have  regenerated two models :
[model.zip](https://github.com/openvinotoolkit/openvino/files/8869692/model.zip)
the first.onnx can load successful with gpu, but the second.onnx can not.
Maybe the optimiz

[2022-06-09 15:05] davidalejandro04 commented on #11825
Hello, @jgespino. Thanks for your reply. Yes, I have built the openvino cpp samples using VS2019 compiler in the same hardware and it has gone well without any problem. I have also based the cmake files for my current QT project on the cmakelist from the samples and used the relevant lines as shown in my previous description. My main concern would be that there is something that fails with the DLL

[2022-06-09 16:37] aisnote commented on #11714
so many files be changed. Will try to pick into 2022.1 release to see.

[2022-06-09 17:15] aisnote commented on #11714
lots of conflict with 2022.1 release from git@github.com:riverlijunjie/openvino-1.git @ d08a3f5aacc30468776472c569e75af83fd0f445.

let me know if it is ready to master and better to 2022.1 release branch or new branch so that I can sync up.

thanks.

[2022-06-09 21:40] ynjiun commented on #11824
1. it is tensorflow model according to [google-research link here](https://github.com/google-research/google-research/tree/master/hitnet). According to requirements.txt, the tensorflow>=1.11.0, but I am able to run this model in tensorflow-gpu==2.8.0.
2. topology: please unzip the log.zip and then say "tensorboard --logdir ./log" to examine the model topology
[log.zip](https://github.com/openvinot

[2022-06-10 00:10] ynjiun opened #11846 "how to mo --mean_values with 6 channels"
Hi

I have a tensorflow model with input of [n,h,w,6] and when I tried to convert with mo command like:

`mo --input_model ../models/middlebury_d400.pb --input_shape [1,375,640,6] --disable_nhwc_to_nchw --data_type=FP16`

It works perfectly! But when I need to add --mean_values and --scale_values with 6 channels:

`mo --input_model ../models/middlebury_d400.pb --input_shape [1,375,640,6] --disable

[2022-06-10 00:40] ynjiun commented on #11846
fortunately enough, for this special case of 0 means, I can do this:

`mo --input_model ../models/middlebury_d400.pb --input_shape [1,375,640,6] --disable_nhwc_to_nchw --data_type=FP16 --scale=255`

for this specific case, case closed.

But for general 6 channel case, still open ; ))

[2022-06-10 01:16] riverlijunjie commented on #11714
@aisnote It seems that all transformation are disabled by mistake in selective build ON, so it is a bug for conditional compilation.  https://github.com/openvinotoolkit/openvino/pull/11798 can fix this bug and make transformation can take effect in selective build ON. But there are more than 200+ pass matcher in transformation located in 192 files, so we need modify these 192 files to fix it one b

[2022-06-10 01:55] #11824 closed

[2022-06-10 02:37] wang7393 opened #11847 "[Bug]Elementwise operation 'Mul_1444' has inputs of different data types: 'float16' and 'float32' that cannot be aligned"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: onnx

##### Detailed description
As the title, the following structure to fp16 report the error:
![image](https://user-images.githubusercontent.com/29936604/172979125-9efdbf5e-800a-4c8d-a914-35272577e799.png

[2022-06-10 04:15] Iffa-Meah commented on #11810
@xunaichao you can send them to the email in my profile.

I tried to convert your saved model, but it seems that it's not sufficient. There should be other files in the saved model dir.

![image](https://user-images.githubusercontent.com/79643476/172989149-3c1bbedc-c254-4287-9da4-0f7a34e60afb.png)

[2022-06-10 04:29] Iffa-Meah commented on #11830
@wang7393 I managed to run both of them using OpenVINO Benchmark Python Tool (OV version 2022.1)

First model
<img width="702" alt="first" src="https://user-images.githubusercontent.com/79643476/172990380-51cea658-38ca-497f-8bbb-5200968c781b.png">

Second model
<img width="804" alt="second" src="https://user-images.githubusercontent.com/79643476/172990426-02c0092a-9de2-4024-9e06-40ac22b94e5a.png">

[2022-06-10 04:46] xunaichao commented on #11810
@Iffa-Meah Yes, other files over 25MB cannot be uploaded. Can I leave my email address

[2022-06-10 06:54] #11830 closed

[2022-06-10 08:57] jyr12121 opened #11856 "DLL load failed while importing ie_api"
##### System information (version)

- OpenVINO= 2022.1
- Operating System / Platform => Windows 64 Bit
- Problem classification => :grey_question:
- Problem classification: Model Conversion
- Framework: onnx
- Model name: yolov5

##### Detailed description
The following errors occurred in the process of inferring and predicting the IR model
you can find the python file from https://github.com/viol

[2022-06-10 14:06] davidalejandro04 commented on #11825
When compiling the code in Visual Studio, this error may happen. I have configured the Input in the linker of Visual studio for openvino.lib and openvinod.lib.

For the include directories, I have added:

C:\Program Files (x86)\Intel\openvino_2022.1.0.643\runtime\include;C:\Program Files (x86)\Intel\openvino_2022.1.0.643\runtime\include\ie;C:\Program Files (x86)\Intel\openvino_2022.1.0.643\runtime

[2022-06-10 16:01] aisnote commented on #11714
Understand. Will cut the new release on this fixing?

[2022-06-10 16:41] Munesh-Intel commented on #11810
@xunaichao
You can send your files to [zulkiflix.bin.abdul.halim@intel.com](mailto:zulkiflix.bin.abdul.halim@intel.com)

[2022-06-11 02:44] wenjiew commented on #11802
Paddle quantized model is not supported in OpenVINO yet. Model optimizer cannot convert quantized models from PaddleSlim.
One alternative approach is:
1) Use model optimizer to convert original PaddlePaddle model to OpenVINO IR.
2) Use OpenVINO POT or NNCF tool to quantize the converted IR.

[2022-06-11 07:02] zulkifli-halim commented on #11810
Hello @xunaichao, thank you for sharing the files with us. We will look into this and get back to you soon.

[2022-06-11 23:30] ynjiun opened #11860 "compile_tool GENERAL_ERROR"
Hi,

I tried to compile my IR (.xml and .bin) into a VPU blob as below:

[code]

and encounter following error message:

[code]

attached below please find the eth3d.xml and eth3d.bin in a eth3d.zip for your duplication.

[eth3d.zip](https://github.com/openvinotoolkit/openvino/files/8884878/eth3d.zip)

Be aware that this eth3d IR was converted from a tensorflow model with NHWC input format. I am n

[2022-06-13 05:55] zulkifli-halim commented on #11847
Hello @wang7393, please share with us your ONNX model and MO command used to convert the model.

[2022-06-13 09:44] mitruska commented on #11733
We have merged PR #11773 to resolve this issue.
@luvwinnie Let us know, if it works for you. Thanks!

[2022-06-13 13:22] zulkifli-halim commented on #11856
Hello @jyr12121, have you tried rerunning the _setupvars.bat_?

[2022-06-13 20:18] jgespino commented on #11764
@dlod-openvino I don't see this capability in serialize function, have you tried using the model optimizer to convert your model to IR in FP16?

[2022-06-13 20:21] jgespino commented on #11741
@xiaoweiChen Thanks for providing additional details. I am glad it's working for you with OMP instead of the default TBB. We are working internally to get a hold of a Dell ThinOS system to debug.

[2022-06-13 20:22] jgespino commented on #11156
@ZachL1 Closing issue, please test using the latest master branch and start a new issue if you run into any issues.

[2022-06-13 20:22] #11156 closed

[2022-06-13 21:10] jgespino commented on #11800
@lminer I don't see anything in my inbox, could you please check?

[2022-06-13 22:50] lminer commented on #11800
Weird. Just sent it again, this time from my gmail account.

[2022-06-13 23:54] Luxonis-Vlad commented on #11807
@brmarkus I have the same problem (tried in openvino docker container and also in openvino compiled from source code).

[2022-06-14 01:27] OyamingO commented on #11781
OK, thank you very much. I willl try it.

[2022-06-14 01:57] cxf2015 commented on #11669
@jgespino thanks. But if inferencing keep running, memory will keep growing until out of memory. Is that normal?  Ideally, large image will take up more memory, small image will take up less memory. it seems to be no memory free on some processing modules.

[2022-06-14 03:18] zulkifli-halim commented on #11810
Hello @xunaichao, please provide us with this informations:
- Model topology or repository
- Model type (object detection,classification or etc.)
- The Keras model in .h5 format

[2022-06-14 06:34] a3213105 opened #11877 "[Feature Request] [MO] support for Onnx OP com.microsoft.Fusedgemm"
Recently I encountered an unsupported operation ‘com.microsoft.Fusedgemm ’，when converting an onnx model.

When I checked the implementation of fusedgemm in ONNX, I found that this is a combined operation of gemm+prelu.

I want to add support for it in frontend/onnx

below is the original implementation in ONNX
https://github.com/microsoft/onnxruntime/blob/8d737f977056444a307f1b7f0bcd402fba62d790/

[2022-06-14 06:46] MyGInt opened #11879 "Onnx operation gelu porting to openvino"
Onnx operation gelu enable to port to operation, and test way is also attach to it.

[2022-06-14 08:07] zulkifli-halim commented on #11860
Hello @ynjiun, we received the same error when compiling the model using MYRIAD.
[code]
We've also tested your model using [benchmark_app ](https://docs.openvino.ai/2022.1/openvino_inference_engine_tools_benchmark_tool_README.html)with CPU and MYRIAD as the target devices. We obtained expected results for CPU, but for MYRIAD it gives the same error as in compile tool.

For further investigation, p

[2022-06-14 08:31] MyGInt opened #11881 "[Feature Request][MO] add ONNX operator com.microsoft.gelu"
Recently I encountered an unsupported operation ‘com.microsoft.gelu ’，when converting an onnx model.

When I checked the implementation of gelu in ONNX, I found that this is a combined operation of prelu.

I want to add support for it in frontend/onnx

[2022-06-14 11:45] KamilMatejuk commented on #3325
I had the same problem on linux. In my case it was due to plugins not being linked correctly. All I had to do was add the correct path to `LD_LIBRARY_PATH`:
[code]

[2022-06-14 16:48] ynjiun commented on #11860
Hi @zulkifli-halim

Attached please find the tensorflow model eth3d.pb zipped in eth3dpb.zip below:
[eth3dpb.zip](https://github.com/openvinotoolkit/openvino/files/8901831/eth3dpb.zip)

The command I use to convert this model to IR as following:

[code]

Thank you very much for your help.

[2022-06-15 03:43] xiaoweiChen commented on #11741
Well, I think this your reply is good for me.

I compare the different with OV2021 and OV2022 which I used. I found the OV2022 use tbbbind 2.5, but OV2021 use tbbbind 2.4.

So, I modify the dependence.cmake, use 2.4 replace the 2.5:
[code]

The result on Dell ThinOS as my expected.

[code]

[2022-06-15 10:07] WZMIAOMIAO opened #11898 "Inference speed has not increased for quantized mobilenetv3 model"
##### System information (version)

- OpenVINO=>`2022.1.0-7019-cdb9bec7210-releases/2022/1`
- Operating System / Platform => `Ubuntu18.04`
- Compiler => `PyPi`
- Problem classification => `qutization model`
- Device => `CPU: Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz`

##### Detailed description
I quantized the model according to the official documents:
[https://docs.openvino.ai/latest/notebooks/113-

[2022-06-15 16:09] jgespino commented on #11881
@MyGInt Thank you for starting a pull request and contributing to the OpenVINO project!

[2022-06-15 16:11] jgespino commented on #11725
Closing, feel free to start a new issue if additional assistance is needed.

[2022-06-15 16:17] #11699 closed

[2022-06-15 16:21] jgespino commented on #11694
Closing, please re-open if additional assistance is needed.

[2022-06-15 16:21] #11694 closed

[2022-06-15 16:29] jgespino commented on #11058
@Asthestarsfalll Apologies for the delay, not sure if you have figured out the new error. If you haven't could you please start a new issue and provide necessary steps and files to reproduce?

[2022-06-15 16:29] #11058 closed

[2022-06-15 16:41] jgespino commented on #11767
@baicaiPCX Have you tried measure performance using the benchmark_app? Could you please share your model and input images to test from my side? If you can provide the model in the native framework format (onnx, caffe, tf, etc) and model optimizer command used.

Also, what version of OpenVINO are you using?

[2022-06-15 17:32] jgespino commented on #11807
@changewOw @Luxonis-Vlad  Thank you for reporting, I am able to reproduce the issue on 2022.1 release. The compile tool should not require the Neural Compute Stick 2 to be connected. I confirmed the compile tool works as expected in 2021.4.2 release and I reported this issue to the development team.

2022.1:
![image](https://user-images.githubusercontent.com/18014973/173887734-cc7c4f9a-9fcb-4152-9

[2022-06-15 18:05] jgespino commented on #11760
@fenaux Could you try to convert the yolov5 model following these steps: https://github.com/violet17/yolov5_demo
Please note the steps are for 2021.4.2 but should work in 2022.1 release with minor changes such as directories and files locations.

[2022-06-15 19:20] jgespino commented on #11760
Update: I was able to convert YOLOv5x using the following steps:

[code]
Upload the yolov5x.onnx to DevCloud and convert using the following MO command:
`!mo --input_model models/yolov5x/yolov5x.onnx --data_type FP16 -s 255 --reverse_input_channels --output Conv_417,Conv_436,Conv_455`

![image](https://user-images.githubusercontent.com/18014973/173907450-5755a7e1-6f88-431f-8e9b-b6a5a27199a8.png)

[2022-06-16 08:56] zulkifli-halim commented on #11846
Hello @ynjiun, OpenVINO officially supports up to 5 channels, you may refer to [Supported Output Layout](https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_Supported_Devices.html#supported-input-layout).

Regarding the 6 channels issue, we are investigating this issue and will get it soon.

[2022-06-16 12:00] zulkifli-halim commented on #11898
Hello @WZMIAOMIAO, I ran a test on benchmark_app by using [mobilenet-v3-large-1.0-224-tf](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/mobilenet-v3-large-1.0-224-tf) from Intel OMZ model. Here are the results:

FP32
![image](https://user-images.githubusercontent.com/79680111/174035337-a4475fbd-b74b-4e04-ab1b-087c45c563a5.png)

INT8
![image](https://user-images.github

[2022-06-17 00:36] zulkifli-halim commented on #11786
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-06-17 00:36] #11786 closed

[2022-06-17 03:29] vt911001 opened #11912 "[Bug]Failed to Build OpenVINO 2022.1 on Linux"
##### System information (version)

- OpenVINO=> 2022.1
- Repo Tag=>2022.1.0(Latest Release)
- Operating System / Platform =>Ubuntu 20.04.1 LTS 64 Bit
- Compiler => gcc version 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1)
- Problem classification => Build Error

##### Detailed description

##### Steps to reproduce
Following the build steps given in [https://github.com/openvinotoolkit/openvino/wiki/Buildi

[2022-06-17 04:36] brmarkus commented on #11912
Is there a chance that on your system the compiler option for "all warnings being treated as errors" is enabled (globally or for your specific user)?

[2022-06-17 07:26] vt911001 commented on #11912
Hi Markus,

My bad for not mentioning that the RelWithDebInfo mode is what I am targeting.
See the edited.
I have tried the Release mode and it is building as expected.

I have also tried to:
[code]

[code]

We can see that in the eventual CXX flags, both `-Wno-error` and `-Werror` are there.
But, it seems that `-Werror` is still taking the precedence when it comes to building.

Though, when it co

[2022-06-17 08:06] SakuraYM opened #11914 "[Feature Request] [MO] support for Onnx OP LayerNorm"
Recently I encountered an unsupported operation ‘layer_norm ’，when converting an onnx model.

When I checked the implementation of layer_norm in ONNX, I found that this is a combined operation of layer normalization.

I want to add support for it in frontend/onnx

[2022-06-17 08:16] AlexHex7 commented on #9523
@jinfagang Hi, you should install libpython3.8 in your ubuntu system.

`sudo apt-get install libpython3.8`

[2022-06-17 13:40] onurbarut opened #11917 "Cannot convert custom TF model to IR"
##### System information (version)

- Environment => Intel AI Analytics Toolkit TensorFlow environment (intel optimized TF2.8 is uninstalled and TF2.5 is installed, the same error persists)
- OpenVINO => 2021.1.0 (dev)
- Operating System / Platform =>Ubuntu 20.04
- Problem classification: Model Conversion
- Framework: TensorFlow
- Model name: Custom

command: `$ mo --input_model frozen_model/simpl

[2022-06-17 16:31] korotaS opened #11918 ""RuntimeError: Cannot get dims for non static shape" while inferencing openvino"
Hello!
I have a strange issue while inferencing openvino (version 2022.1.0). There is a simple class:
[code]

The engine is working when passing my model with dynamic input shape `{?,3,?,?}` ([model.onnx.zip](https://github.com/openvinotoolkit/openvino/files/8929111/model.onnx.zip)) and other models too. But there is a huge memory leak - my full pipeline (which has a couple of these engines with d

[2022-06-17 16:45] #11914 closed

[2022-06-17 16:50] #11881 closed

[2022-06-17 16:51] jgespino commented on #11877
Closing issue as it's not needed for pull request.

[2022-06-17 16:51] #11877 closed

[2022-06-18 04:41] Saif0765 opened #11919 "Facing a issue while training SSD for head detection"
ValueError                                Traceback (most recent call last)
Input In [53], in <cell line: 1>()
----> 1 model.fit(
      2   train_ds,
      3   validation_data=val_ds,
      4   epochs=3
      5 )

File ~\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\utils\traceback_utils.py:67, in filter_traceback.<locals>.error_handler(*args, **kwargs)
     65 except Exception a

[2022-06-18 07:35] WZMIAOMIAO commented on #11898
@zulkifli-halim Thank you for your reply. The model I used come from Pytorch not tensorflow. Then, I run benchmark again with `-pc` flag. The output as follow, I find that `HardSigmoid` activation consume a lot of time. Could you help me analyze the reason?
[code]
output:
[code]

[2022-06-18 18:48] brmarkus commented on #11919
@Saif0765 would you mind moving your issue to e.g. the KERAS team?
Is this related to OpenVINO?

[2022-06-18 19:00] Saif0765 commented on #11919
Yes please move,
Not related to OpenVINO

[2022-06-19 02:39] xaclincoln commented on #11802
Hi, [as the docs tells](http://www.uzelinfo.com/page118?product_category=1&brd=1),  NNCF requires tensorflow2 or pytorch based models to perform quantization-awared training, could you provide any doc about quantize IR models using NNCF?

[2022-06-20 03:01] luvwinnie commented on #11733
@mitruska Thank you for fixing! This fix is already can be use by installing with pypi?

[2022-06-20 03:01] WZMIAOMIAO opened #11921 "how to use multiclass_nms"
hi, I want to use `nms` for my predicted `objs` like this:
https://github.com/ultralytics/yolov5/blob/1156a323f8fc221d5c1a36c700e72e129419d187/utils/general.py#L776-L783

I find that there is a api(`multiclass_nms`), but the official documents are not clear. Could you explain in detail how to use it?
![image](https://user-images.githubusercontent.com/31005897/174517380-c79e0891-70ef-4377-85e5-bccf

[2022-06-20 06:59] kamegbor commented on #11807
having same issue here as well

[2022-06-20 07:16] Iffa-Meah commented on #11918
@korotaS

Starting from the 2020.4 release, OpenVINO™ supports reading native ONNX models, therefore, the model should be able to infer without conversion, if it is supported.

I tested your model using OpenVINO Benchmark App. The model seems to be dynamic as you mentioned but it requires data shape. May I know what data shape you use for this?
Usually, the native ONNX & dynamic model would run wi

[2022-06-20 07:25] korotaS commented on #11918
@Iffa-Meah
Thank you for the reply.
I exported the model with the shape (1, 3, 32, 256) and it is used with variable batch size and variable image width (first and last dimensions).

[2022-06-20 07:38] Iffa-Meah commented on #11918
@korotaS

I used that shape but still does not work.

<img width="750" alt="model Shape" src="https://user-images.githubusercontent.com/79643476/174548349-dceb7827-8abe-427c-adc0-517a2c6a7756.png">

I noticed that the native ONNX has NCHW: ?3??

Usually, a working native ONNX would have some shape defined such as NCHW: 1,3,256,128.
You may refer [here](https://user-images.githubusercontent.com/796

[2022-06-20 07:55] korotaS commented on #11918
@Iffa-Meah
I will now try to convert to IR my model via MO, as you mentioned, with dynamic shapes and check its performance.
But shouldn't the native ONNX work successfully with dynamic shapes while inferencing in OpenVino?

[2022-06-20 08:00] Iffa-Meah commented on #11918
@korotaS yeah it should, that's why I get back to you with previous questions.
If the inferencing after conversion also didn't work, then it's probably related to the native ONNX model's shape (NCHW: ?3??) which contains 3 unknown values.

[2022-06-20 08:02] korotaS commented on #11918
@Iffa-Meah
Okay, thanks. And the memory issues also may come from these dynamic shapes?

[2022-06-20 08:08] Iffa-Meah commented on #11918
@korotaS it could be. Try to use your model with the Benchmark App as I did above and see whether there's any memory leak.
However, bear in mind that this application collects every latency value and calculates the median value of latency and hence is not quite suitable for stress testing.

[2022-06-20 08:29] OyamingO commented on #11781
Thanks a lot for your help. I got a new error while building openvino (**release/2021/04**) with code like below:
**cmake $(cat /opt/intel/repo/openvino_cmake.txt) /opt/intel/repo/openvino; \
make "-j$(nproc)"; \
make install; \**

The error message is as follows:
#0 56.19CMake Warning at inference-engine/cmake/dependencies.cmake:303 (message):
#0 56.19   Unable to locate Speech Demo
#0 56.19 Call

[2022-06-20 08:51] korotaS commented on #11918
Interesting, but if I make `core` and `raw_model` object attributes (add `self.` to them), the `RuntimeError: Cannot get dims for non static shape` error disappears when I uncomment line 2:

[code]

[2022-06-20 09:06] vt911001 commented on #11912
Hi,

I am able to build it by doing `cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DTREAT_WARNING_AS_ERROR=OFF ..`.
Not sure whether that is the correct way though.

Thanks,
Vincent

[2022-06-20 09:08] Iffa-Meah commented on #11918
@korotaS hmm.. we'll further investigate this.

[2022-06-20 09:12] korotaS commented on #11918
@Iffa-Meah but the memory issue still stays the same.
I converted my model to IR (not the one I provided, but the other one, which is similar but has much bigger input/output shapes up to 2048) with shapes (1, 3, 1..2048, 1..2048), but there is still a leak.
If i recompile my model every time in `process` method like this:
[code]
the memory is OK.

[2022-06-20 09:27] korotaS commented on #11918
@Iffa-Meah
The shape of ONNX model is ?3?? because I export it like this, specifying dynamic axes:
[code]

[2022-06-20 12:07] korotaS commented on #11918
I tried to re-export the model without `dynamic_axes`, then convert it to IR with shape ranges, but nothing has changed in terms of memory...

[2022-06-20 12:42] Aed-p opened #11927 "[unsolved]How to solve the problem of loss of accuracy of model output data?"
Now, I use openvino runtime 2.0 to infer the model, the model output accuracy is FP32. Compared with python, the output precision of c++ inference will be lost, resulting in inaccurate results. How can I solve it?

[2022-06-20 12:45] MiraGaikwad opened #11928 "[Bug] - Issue while trying to inference on Intel Neural compute Stick 2"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues, Stack Ov

[2022-06-20 16:28] brmarkus commented on #11928
Can you provide more details about your environment and versions of OpenVINO and the OperatingSystem, please?
Can you confirm OpenVINO is working with given demos and samples using pre-trained models from Open-Model-Zoo?
Can you confirm the installation and setup for the NCS is working using given demos and samples with using pre-trained models from Open-Model-Zoo?
If OpenVINO and the NCS2 is work

[2022-06-20 16:30] brmarkus commented on #11927
Can you provide more details about your used implementation comparing C++ and Python?
Can you describe your used environment and versions of the Operating-System and OpenVINO?
Which model do you use, is it your trained model, can you reproduce with a model from Open-Model-Zoo?
Would it be possible to share your used model for reproduction?

[2022-06-21 00:41] MiraGaikwad commented on #11928
I am using OPENVINO version 2022 and operating system Windows 10 68x.

I tried running pre-trained alexnet which is working well when with CPU but it is giving below error while I try working on NCS 2.

Error says -

'RuntimeError: Cannot load library 'openvino_intel_myriad_plugin.dll': 126 from cwd: C:\Users\Mira\openvino_2022\samples\python\hello_classification'

![image](https://user-images.git

[2022-06-21 02:00] Aed-p commented on #11927
Thanks for your reply, I have some new ideas at the moment.

[2022-06-21 06:19] brmarkus commented on #11928
Have you built your version of OpenVINO manually from source-code, or have you installed a pre-built and packaged version from "software.intel.com"?
When building from source-code then the MyriadX NCS2 plugin doesn't get built as it is not part of the open-source source-code.
Can you find the library "openvino_intel_myriad_plugin" under your installation folder of OpenVINO?

[2022-06-21 08:09] Guemann-ui opened #11936 "Error : Unable to convert custom model from .onnx to IR format contains 2 outputs"
##### System information (version)
<!-- Example
- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu 18.04
- Problem classification: Model Conversion
- Framework: Pytorch

Hi, I'm trying to convert my custom model from onnx to IR OpenVINO which contains 2 outputs.

I always get the same error as the OpenVINO support only 1 output.

Does Any solution please?

[2022-06-21 10:54] ashishpapanai commented on #3882
Hi,
I am facing the same issue when I am trying to run inferences on MYRIAD using IR with ScatterNDupdate layers. Is there any workaround for replacing the layer?

[2022-06-21 11:37] korotaS opened #11939 "Memory leak during inference in OpenVino 2022.1.0"
#### System information (version)

- OpenVINO=> 2022.1.0
- Operating System / Platform => Docker image with `python:3.6-slim` base image

#### Detailed description
I am building an engine with OpenVino version 2022.1.0 to inference DB text detection model ([link](https://drive.google.com/file/d/1d5ZsFqBU7s1oanYW8QHMQDfp-98ol8Nw/view?usp=sharing) to Google Drive in .onnx format) (structured like [t

[2022-06-21 11:40] korotaS commented on #11918
I've decided to make a separate issue for memory leak  (#11939), so in this one we can continue to discuss `RuntimeError: Cannot get dims for non static shape` error.

[2022-06-21 12:54] ashishpapanai opened #11941 "Unable to inference IR on NCS2 because of ScatterNDupdate layers"
##### System information (version)

- OpenVINO => 2021.1
- Operating System / Platform => Ubuntu 20.04 LTS
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: PyTorch
- Model name: VisionLAN

##### Detailed description

##### Steps to reproduce
I've converted PyTorch Model to ONNX using PyTorch Exporter. The model has ScatterNDupdate layers, which isn't support

[2022-06-21 13:15] AyaNasser96 opened #11942 "Setup a correct model conversion from(pytorch to onnx to IR) but with needed pre-processing"
Hello,
My classification model (resnet) is trained with pytorch and the pre-process of the test-set was as follow:

![image](https://user-images.githubusercontent.com/98317981/174807694-8363d4dd-b64a-465b-bffd-cc960ade2d70.png)

![image](https://user-images.githubusercontent.com/98317981/174799825-9666a2f3-96ca-426f-8699-7b44ff9766c1.png)

Then I converted that model to onnx successfully.
![image]

[2022-06-21 13:30] MohamedAliRashad commented on #9846
I am facing the same error. Any solutions ?

[2022-06-21 17:09] jgespino commented on #11919
@Saif0765 It's a separate repository. Please open a new issue here: https://github.com/keras-team/keras/issues

[2022-06-21 17:09] #11919 closed

[2022-06-21 17:13] jgespino commented on #11928
@MiraGaikwad How did you install OpenVINO? You need to install OpenVINO using the offline/online installers to include the MYRIAD (NCS 2) plugin.

[2022-06-21 17:15] jgespino commented on #11936
@Guemann-ui Do you still need assistance? If you do, please fill out the issue template and re-open the ticket.

[2022-06-21 17:15] #11936 closed

[2022-06-21 18:06] jgespino commented on #11710
@Grigor355 Apologies, I missed the notification from your response. Where you able to obtain better performance with your setup?

[2022-06-21 18:13] jgespino commented on #11722
@fenaux OpenVINO supports the Intel Neural Compute Stick 2 and Intel Vision Accelerator Designs with Intel Myriad X VPU:
https://www.intel.com/content/www/us/en/developer/topic-technology/edge-5g/hardware/vision-accelerator-movidius-vpu.html

I am checking with the product manager on this and will provide an update once I have more information.

[2022-06-21 18:15] jgespino commented on #11741
@xiaoweiChen Great, I will proceed to close the issue, feel free to re-open or start a new issue if you need additional assistance.

[2022-06-21 18:15] #11764 closed

[2022-06-21 18:18] jgespino commented on #11781
@OyamingO cldnn is for Intel Processor Graphics, please provide your full cmake command.

[2022-06-21 18:34] jgespino commented on #11809
@nieknaber Have you tried using [import_network](https://docs.openvino.ai/latest/api/ie_python_api/_autosummary/openvino.inference_engine.IECore.html?highlight=import_network#openvino.inference_engine.IECore.import_network)?

I was able to load the blob to a MYRIAD device using the following:
[code]

[2022-06-21 19:20] MiraGaikwad commented on #11928
@brmarkus  - I have installed OPENVINO from https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html

And I do not find openvino_intel_myriad_plugin under my installation folders

[2022-06-21 21:07] microaisystems commented on #11846
@jgespino

Thank you so much for your help. I am able to duplicate your success! Case closed.

However, my end goal is to get this model to run on Myriad, so I need to compile this IR into a VPU blob. I  tried the following command to convert the above success IR:

[code]
But I encounter the following error message:
[code]

Could you help to check what am I missing? Thanks a lot again for your hel

[2022-06-21 21:51] jgespino commented on #11928
@MiraGaikwad openvino_intel_myriad_plugin.dll should be in the following directory: C:\Program Files (x86)\Intel\openvino_2022.1.0.643\runtime\bin\intel64\Release

Could you confirm **Intel Movidius VPU** was selected when you installed OpenVINO via installer?
![image](https://user-images.githubusercontent.com/18014973/174903077-7ffaed03-916b-4a2f-8821-a3b9de45273e.png)

[2022-06-21 23:51] MiraGaikwad commented on #11928
@jgespino
I don't find this '\runtime\bin\intel64\Release' at all. Could you please let me know how did make the installations. I actually tried in multiple ways but couldn't find that file in 2022 installation

[2022-06-21 23:57] jgespino commented on #11928
@MiraGaikwad I downloaded the OpenVINO online installer (offline should work too) and installed it on my windows 10 system with the default selections as shown in my previous message. The installation location is C:\Program Files (x86)\Intel.

https://registrationcenter-download.intel.com/akdlm/irc_nas/18618/w_openvino_toolkit_p_2022.1.0.643.exe

[2022-06-22 00:08] #11928 closed

[2022-06-22 01:24] zulkifli-halim commented on #11860
Hi @ynjiun. The error message is for op: Conv3DBackpropInputV2 which is a 3D convolution layer. Myriad does not support 3D convolution operations.

[2022-06-22 08:15] Iffa-Meah commented on #11941
@ashishpapanai did you get any error when inferencing the model with NCS2?

[2022-06-22 08:40] ashishpapanai commented on #11941
Hi @Iffa-Meah,
The error message is: `[ ERROR ] Failed to compile layer "1068": unsupported layer type "ScatterNDUpdate"`

[2022-06-22 08:43] Iffa-Meah commented on #11941
@ashishpapanai may I know which code I need to run to generate your .onnx file because I can see varieties of custom codes in that link?

[2022-06-22 08:49] ashishpapanai commented on #11941
@Iffa-Meah https://github.com/ashishpapanai/VisionLAN-OpenVino/blob/openvino/convertONNX.py
This file handles the model conversion, and the model can be found here [link](https://github.com/ashishpapanai/VisionLAN-OpenVino/blob/openvino/VisionLAN.py)

[2022-06-22 09:20] mitruska commented on #11733
This fix in on master branch, and will be available on pypi with next release (2022.2).

[2022-06-22 09:30] fenaux commented on #11760
@jgespino , thanks for the help
Once again I work with default settings of devCloud

Wille runing pip install -r requirements.txt I got his error message

Installing collected packages: torch, torchvision, seaborn, thop
  Attempting uninstall: torch
    Found existing installation: torch 1.4.0
    Uninstalling torch-1.4.0:
ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Pe

[2022-06-22 09:43] rnwang04 opened #11947 "[Bug] can't install openvino==2022.1.0"
##### System information (version)
- OpenVINO=> 2021.4.2
- Operating System / Platform => CentOS Linux release 7.5.1804
- Problem classification => Version

##### Detailed description
Hi, I want to use OpenVINO to run other programs, but it requires OpenVINO==2022.1.0. However, I can only install OpenVINO==2021.4.2.
Is there any mistake in my installation ? And how can I install OpenVINO==2022.1.0

[2022-06-22 09:56] zulkifli-halim commented on #11942
Hi @AyaNasser96. This inference difference issue might be due to the converter (PyTorch-ONNX exporter).

Which OpenVINO version did you use to convert the model? Also, please share with us the PyTorch model, ONNX model, and the demo/script you used to run inference.

[2022-06-22 10:13] zulkifli-halim commented on #11921
Hi @WZMIAOMIAO. MulticlassNonMaxSuppression (multiclass_nms) performs multi-class non-maximum suppression of the boxes with predicted scores.

You can find details about the multiclass_nms operator in this document:
https://docs.openvino.ai/2022.1/openvino_docs_ops_sort_MulticlassNonMaxSuppression_8.html

[2022-06-22 10:19] mlukasze commented on #11947
Hi @rnwang04
please try to use syntax that has been shown in documentation, like:
`pip install openvino-dev[tensorflow2,onnx]==2022.1.0`
Follow documentation for more examples:
https://docs.openvino.ai/nightly/openvino_docs_install_guides_install_dev_tools.html

Please let me know about result of test :)

[2022-06-22 10:39] brmarkus commented on #11947
Unfortunately "CentOS" is not supported anymore... It has been announced with previous versions of OpenVINO - and got discontinued in the meantime.
See: https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes-2021.html
With the latest version v2022.1 also CentOS Docker containers and Dockerfiles have been discontinued, see "https://www.intel.com/content/www/us/en

[2022-06-22 11:07] #11947 closed

[2022-06-22 12:55] MiraGaikwad opened #11950 "[Bug] RuntimeError: Can't SetBlob with name: conv2d_36_input, because model input (shape={1,32,32,32}) and blob (shape=(1.32.32.3)) are incompatible"
##### System information (version)

I have created my own model and trying to run on OPENVINO.

It works well in Jupiter Notebook but gives error while running on CMD. Please find screenshot below -

Jupiter Notebook

![image](https://user-images.githubusercontent.com/84037638/175033963-3fe4d9f5-03df-46cc-9e67-b35ce0759855.png)

CMD

![image](https://user-images.githubusercontent.com/84037638/1750

[2022-06-22 13:23] brmarkus commented on #11950
(please, don't add screenshots, but provide text; then I can copy or reference code from your provided text instead)

Are you sure the 11 linses of code in your Jupyter-Notebook are the same code as within "hello_classification.py"? Or have you modified the file and it is not the original OpenVINO demo code?

Is the input picture in both ways treated as `BGR2RGB`?

In both cases, do you use the sa

[2022-06-22 13:52] MiraGaikwad commented on #11950
@brmarkus -

I am new to OPENVINO, there is little confusion. Files running on CMD and Jupyter are different as I copied code from Openvino site to make inference on jupyter notebook..

I realised one thing - If I don't give "input_image = np.expand_dims(image, 0)" in below code then it gives error as it does in CMD... Could you please let me know if I want me to make inference on CMD how I can ad

[2022-06-22 17:48] AyaNasser96 commented on #11942
@zulkifli-halim
I would appreciated if could you send me your mail to send you the model, because it's slightly a confidential model ^^
Thanks in advanced

[2022-06-22 18:02] jgespino commented on #11846
@microaisystems Could you check if all the ops in your model are supported by MYRIAD?
https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_Supported_Devices.html#supported-layers

If they are, would you mind starting a new issue and filling out the issue template?

[2022-06-22 18:02] #11846 closed

[2022-06-22 18:13] AyaNasser96 commented on #11942
Also for the public,
I've tried the original (inception-v3) model, and convert it to onnx,
and I got a the same classes with most of imgs but with difference with confidence number.

So here's the code that consists (pytroch-inference, convert-to-onnx, inference-with-onnx)
and the converted model (onnx)
and the sample img I use.

https://drive.google.com/drive/folders/1u7U0p3F-EvIcpzweOqvHLkoCKfmy

[2022-06-23 01:39] zulkifli-halim commented on #9846
Hi @MohamedAliRashad. This issue has already been closed, I suggest you create a [new issue](https://github.com/openvinotoolkit/openvino/issues/new/choose).

[2022-06-23 01:55] zulkifli-halim commented on #11942
@AyaNasser96, here is my email:
zulkiflix.bin.abdul.halim@intel.com

[2022-06-23 02:40] #11648 closed

[2022-06-23 02:54] WZMIAOMIAO commented on #11921
@zulkifli-halim @liubo-intel thank you for your reply, I got it. Is there an efficient method similar to [torchvision.ops.batched_nms](https://pytorch.org/vision/stable/generated/torchvision.ops.batched_nms.html?highlight=batched#torchvision.ops.batched_nms)?

[2022-06-23 03:33] peterchen-intel commented on #11939
@korotaS Can you also try latest master? This PR https://github.com/openvinotoolkit/openvino/pull/11667 should help this issue.

[2022-06-23 04:29] hitesh-anand opened #11953 "Running the accuracy aware quantization sample python script on other object detection models"
Hi,
I found a sample python script for running the accuracy aware quantization on the "ssd-mobilenetv1" model at the following link : [https://github.com/openvinotoolkit/openvino/tree/master/tools/pot/openvino/tools/pot/api/samples/object_detection](https://github.com/openvinotoolkit/openvino/tree/master/tools/pot/openvino/tools/pot/api/samples/object_detection)

Now I want to run the script for o

[2022-06-23 05:34] zulkifli-halim commented on #11917
Sorry for the delayed response. I managed to convert your model to IR.

[code]

Your model is actually a TensorFlow 1. To convert your model, you need to install TensorFlow 1.15.5.

In Ubuntu 20, the default Python version is 3.8, where TF1.x is not supported here. Hence, you'll need to downgrade the Python version to 3.6 or 3.7.

For openvino-dev 2022.1.0, the support of the Model Optimizer tool

[2022-06-23 06:05] biyuehuang opened #11954 "[Bug] build_samples_msvc.bat Error: could not load cache"
cd C:\Program Files (x86)\Intel\openvino_2022.1.0.643
setupvars.bat
cd C:\Program Files (x86)\Intel\openvino_2022.1.0.643\samples\cpp\
build_samples_msvc.bat

Error creating directory "C:\Users\username\Documents\Intel\OpenVINO\inference_engine_cpp_samples_build".

###############|| Build Inference Engine samples using MS Visual Studio (MSBuild.exe) ||###############

cmake --build . --config Rele

[2022-06-23 06:25] peterchen-intel commented on #11954
@biyuehuang It should be the permission issue. Try build_samples_msvc.bat -b C:\Users\username\OV_Samples"

[2022-06-23 07:09] liubo-intel commented on #11921
Hi, @WZMIAOMIAO From 'torchvision.ops.batched_nms' link you send, it looks like this Op is very similar to OpenVINO 'NonMaxSuppression' Op.

To convert 'torchvision.ops.batched_nms' to OpenVINO 'NonMaxSuppression', I think the main thing is to reshape/reorder input 'boxes' from [N, 4] to  [num_batches, num_boxes, 4], reshape/reorder input 'scores' from [N] to [num_batches, num_classes, num_boxes].

[2022-06-23 08:08] AyaNasser96 commented on #11942
for IR model I am using the classification demo for openvino 2021.4.2
https://github.com/openvinotoolkit/open_model_zoo/tree/2021.4.2/demos/classification_demo/cpp

But it seems the problem doesn't belong to openvino, the problem is at onnx model
(the conversion from pytorch to onnx produces a not accurate model)

[2022-06-23 08:22] biyuehuang commented on #11954
Yes, you're right. I can built it.

[2022-06-23 08:22] #11954 closed

[2022-06-23 09:47] ashishpapanai commented on #11941
Hey @Iffa-Meah,
Is there any other (simpler) workaround, rather than creating a Custom Kernel?

[2022-06-23 11:35] AyaNasser96 commented on #11942
@zulkifli-halim I've sent you email with the model and infer script, and the openvino infer is using classification demo as I've mentioned,

The conversion command from onnx to IR is

`python3 mo_onnx.py --input_model vclass.onnx --input_shape [1,3,224,224] --mean_values [123.675,116.28,103.53] --scale_values [58.395,57.12,57.37] --reverse_input_channels --output_dir /openvino`

[2022-06-23 12:46] korotaS commented on #11939
@peterchen-intel what is the fastest way to try out current master version? maybe install in docker from source? as I understand, I cannot install this new version via PIP

[2022-06-23 15:47] Kizna1ver opened #11959 "Unable to build model on vasurface when following the sample 'Direct Consuming of the NV12 VAAPI Video Decoder Surface on Linux '"
Hello,

I am following the sample

[Direct Consuming of the NV12 VAAPI Video Decoder Surface on Linux](https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_GPU_RemoteTensor_API.html#direct-nv12-video-surface-input)

and try to build a model on the VASurface used in ffmpeg hardware decoder. But I encounterd some error below when calling the function compile_model().

My system info

[2022-06-24 01:38] zulkifli-halim commented on #11942
@AyaNasser96, I sent a request to access your files, please grant me access.

[2022-06-24 01:50] zulkifli-halim commented on #11810
Closing, please re-open if additional assistance is needed.

[2022-06-24 01:50] #11810 closed

[2022-06-24 01:52] zulkifli-halim commented on #11847
Closing, please re-open if additional assistance is needed.

[2022-06-24 01:52] #11847 closed

[2022-06-24 01:52] #11856 closed

[2022-06-24 02:18] Iffa-Meah commented on #11941
@ashishpapanai I'm afraid not because it involves a layer that is not supported. It needs to be custom-made to make it compatible.

[2022-06-24 02:20] peterchen-intel commented on #11668
@amarjeet-saini Can you please check if @songbell comment works for you?

[2022-06-24 02:22] ashishpapanai commented on #11941
@Iffa-Meah, Is there any reason for creation of this layer (fucntionality it tries to implement), so that I can refractor the layer creating code to prevent creations of sctatterNDupdate and create any other supported layer (with similar function, with maybe reduced or unaffected efficiency) instead.

[2022-06-24 02:33] Iffa-Meah commented on #11941
@ashishpapanai this layer is created for data movement operations.
The operation produces a copy of data tensor and updates its value to values specified by updates at specific index positions specified by indices.

To understand in detail, you need to refer [here](https://docs.openvino.ai/latest/openvino_docs_ops_movement_ScatterNDUpdate_3.html).

If you are able to find any supported layer that

[2022-06-24 02:34] Iffa-Meah commented on #11801
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-06-24 02:34] #11801 closed

[2022-06-24 07:44] sumeethn opened #11962 "[Bug] Failure to convert EfficientDet-D0 TF model to IR with input_size (NHWC) containing N > 1"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Ubuntu 20.4 (openvino/ubuntu20_dev:latest)
- Problem classification: Model Conversion
- Framework: TensorFlow
- Model name: EfficentDet-D0

##### Detailed description
Need to convert EfficientDet-D0 TF model to IR, specifically, to run IR model with a batch size of 2. Model optimizer fails with the error

open

[2022-06-24 08:47] Iffa-Meah commented on #11959
@Kizna1ver could you share the complete files of your model? I could only find the .xml in your repo.
It's insufficient from my side to check your model with only .xml file.

![image](https://user-images.githubusercontent.com/79643476/175499256-baf62ec7-cdef-4254-96a1-7be7722ecce4.png)

[2022-06-24 10:09] Kizna1ver commented on #11959
Thansk for reply. I update the repo and upload complete file of my model.

[2022-06-24 12:27] zulkifli-halim commented on #11953
Hi @hitesh-anand. I'm checking this out. In the meantime, please share the model, and dataset with annotations with us.

Here is another tutorial for [Object Detection Quantization](https://docs.openvino.ai/2022.1/notebooks/111-detection-quantization-with-output.html) that you might be interested in. This tutorial shows how to quantize an object detection model, using OpenVINO’s [Post-Training Opt

[2022-06-24 13:51] onurbarut commented on #11917
Hi Zuklifli, I don't want to downgrade to older versions since my model was frozen with TFv1 although I trained it using TF2-keras API (I also have the trained keras model). Is there any other way I can convert my keras model (TF2) model to graph? I just tried to convert my keras saved model to tf.saved_model and used it as input_model to mo but it didn't like it. It said this model is not a graph

[2022-06-24 15:35] onurbarut commented on #11917
Different problem, but under the same topic, so I continue from here:

I've managed to convert my keras model to frozen graph (also I noticed I can use tf.saved_model as input). After executing:
`$ mo --input_model frozen_models/my_frozen_graph.pb --framework tf --input_shape [1,50,2,1]
`or
`$ mo --saved_model_dir saved_models/my_saved_model --framework tf --input_shape [1,50,2,1]
`
I got the same

[2022-06-24 23:37] jgespino commented on #11918
@korotaS Since you have your code working after adding self to core = ov.Core(), are you okay closing this issue and investigating the memory leak in your other issue?

[2022-06-24 23:48] jgespino commented on #11939
@korotaS You will need to build OpenVINO from source using the master branch. Here are some instructions for building:
https://github.com/openvinotoolkit/openvino/wiki/BuildingCode

[2022-06-25 06:19] hitesh-anand commented on #11953
Thanks for the reply!
I will have a look at the link you shared and let you know if it works.

The model I am using is yolov5s. And I am using the standard Coco 2017 validation dataset and the corresponding annotations.

Actually, there is an update regarding my previous doubt. The reshaping error is resolved. I am getting a new error and it is generated at the line 174 of [metric.py](https://gith

[2022-06-25 16:39] xiaoweiChen commented on #11741
I find the ThisOS image download page from Dell. May can help your team debug this error.

https://www.dell.com/support/home/en-sg/drivers/driversdetails?driverid=k964y

And how to make a ThinOS USB booter (writed by Chinese)
https://blog.51cto.com/u_15433925/4720090

[2022-06-26 08:37] AyaNasser96 commented on #11942
@zulkifli-halim The access is given 2 days ago ^^

[2022-06-26 16:46] Mxx-001 commented on #2976
I have the same problem, may I ask how you implemented the code?

[2022-06-27 01:41] zulkifli-halim commented on #11942
@AyaNasser96. Thank you for sharing the model with us. We are looking into this and get back to you soon.

[2022-06-27 02:33] zulkifli-halim commented on #11917
@onurbarut. The latest test error is similar to the error you get when converting the model to IR using TF2.5.  Another way is to use pip install openvino-dev[tensorflow]==2022.1.0 to install openvino-dev with TF1.x. However, the model fails to convert and the MO states that TF 1.x is deprecated and it is highly recommended for you to use TensorFlow 2.x.

Here are two options you can you:

- Use O

[2022-06-27 04:07] gyr-kdgc opened #11970 "error：NonZero layer with name 'NonZero_0' has incorrect number of output edges: 2"
I convert paddle's yolov3 model to IR model using command like below：
paddle2onnx --model_dir "./model/inference_model/yolov3_darknet_voc/" \
            --model_filename "__model__" \
            --params_filename "__params__" \
            --save_file paddle_model.onnx \
            --opset_version 11

python -m paddle2onnx.optimize --input_model paddle_model.onnx \

[2022-06-27 06:48] yangjianfeng1 commented on #6885
How did you solve it？

[2022-06-27 06:52] Iffa-Meah commented on #11959
@Kizna1ver , I validated your model using OpenVINO Benchmark App to ensure the model actually works or not.

This might be the source of your issue.
Your bin file has incorrect weight values.

![image](https://user-images.githubusercontent.com/79643476/175877297-5087b357-348c-41ed-81b5-9615aa560c27.png)

[2022-06-27 06:57] yangjianfeng1 commented on #6885
@zhaohb How did you solve it？

[2022-06-27 07:10] anjalirai-intel opened #11973 "[Bug] Unable to build openvino for ubuntu 18.04, throws no match for ‘operator[]’"
- OpenVINO=> 2021.4.752
- Operating System / Platform => Linux Ubuntu 18.04
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description
Previously Openvino used to work with Ubuntu 18.04, but very recently, It has stopped working,
I was trying to build openvino for our application but it started failing with some reason. These are the errors which we didn'

[2022-06-27 07:13] korotaS commented on #11918
@jgespino I am glad that my code is working and I'm okay with closing this issue, but is it an expected behavior? Or maybe I was using OV somehow wrong

[2022-06-27 07:38] Mxx-001 commented on #2976
I have the same problem, may I ask how is your code implemented?

[2022-06-27 07:39] Mxx-001 commented on #2976
I have the same problem, may I ask how is your code implemented?

[2022-06-27 08:23] Iffa-Meah commented on #11962
@sumeethn your issue is related to the input shape that you parse. The **N** value of NCHW should not be other that 1

Your command:
mo --input_model efficientdet-d0_frozen.pb --transformations_config /usr/local/lib/python3.8/dist-packages/openvino/tools/mo/front/tf/automl_efficientdet.json --input_shape [2,512,512,3]

Try to change to:
mo --input_model efficientdet-d0_frozen.pb --transformations_

[2022-06-27 08:45] Kizna1ver commented on #11959
@Iffa-Meah ，thanks for reply. The ssd300.bin file is larger then 100MB, I uploaded it by git lfs. You can directly download the raw file on [github repo](https://github.com/Kizna1ver/OpenVINO-RemoteBlob-Sample/raw/main/public/ssd300/FP32/ssd300.bin) or you can also obtain ssd300.bin file by omz_downloader and omz_converter.
Benchmark App works correctly in my machine
![image](https://user-images.g

[2022-06-27 08:46] mateusztabaka commented on #11970
Can you try on latest master? Possibly fixed by https://github.com/openvinotoolkit/openvino/commit/4be0c595059e0eab6166b174f3c9514cbb945d83

[2022-06-27 12:10] zulkifli-halim commented on #11942
I tested your [Inception model](https://drive.google.com/drive/folders/1u7U0p3F-EvIcpzweOqvHLkoCKfmyg0SY?usp=sharing) using _infer_inception.py_ (for ONNX) and [Classification Python Demo](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/classification_demo/python) (for IR format). Both give a similar inference output.

ONNX format:
[code]

IR format:
![image](https://user-image

[2022-06-27 12:28] AyaNasser96 commented on #11942
And about the pytorch & ONNX results
**Pytorch**:

IR Model:

[2022-06-27 13:24] gsarathkumar92 opened #11978 "Unloading of Model from memory in Python API"
Users can work on as many networks as they need and use them simultaneously (up to the limitation of the hardware resources). Unload and load the model whenever it is necessary based on application.

[2022-06-27 13:25] gsarathkumar92 commented on #11978
Similar to this feature - https://github.com/openvinotoolkit/openvino/pull/8353 in Python API

[2022-06-27 13:40] onurbarut commented on #11917
hi @zulkifli-halim , the latest error I received when I was trying to convert my tf.saved_model (converted using tf 2.5). So, that actually means I was following the second option you provided. I'm attaching the keras saved model (trained using tf 2.x), and the tf.saved_model (loaded keras model and saved as tf.saved_model using tf 2.5). Please let me know how you can convert this model using open

[2022-06-27 15:30] korotaS commented on #11939
@jgespino it took me quite a long time to build from source and make a python binding, but I tested master branch and it seems to help significantly! now i get these results for my DB model:
![new_openvino](https://user-images.githubusercontent.com/50669173/175974401-e84f507a-3e2d-432f-8a76-ada2df884a54.png)
however I am not sure at which values the RAM will finally stop increasing and it is impor

[2022-06-27 17:09] analyticsbot opened #11982 "Can OpenVino be used for Commercial purposes?"
Hello, I have read multiple pages on OpenVino, but would like to confirm what I understand i.e. OpenVino can be used for commercial purposes.
Can one of the people associated with the project give an idea about the accuracy of my last statement?

[2022-06-27 18:12] #11607 closed

[2022-06-27 19:09] jgespino commented on #11982
@analyticsbot Please review the licensing section in this repository for additional details:
https://github.com/openvinotoolkit/openvino/tree/master/licensing

[2022-06-27 20:21] MiraGaikwad opened #11984 "[Bug] RuntimeError: Cannot load library 'openvino_intel_myriad_plugin.dll': 126 from cwd: C:\Users\Mira\OneDrive - Six Sevens Solutions Ltd\Desktop\Project\NCS 2_Inference"
##### System information (version)

##### Detailed description
I get the below error if I do inference in Jupyter notebook but if I run the same in CMD it works successfully.

RuntimeError                              Traceback (most recent call last)
Input In [42], in <cell line: 11>()
      9 ie = Core()
     10 model = ie.read_model(model=ir_path, weights=ir_path.with_suffix(".bin"))
---> 11 co

[2022-06-28 01:40] Iffa-Meah commented on #11973
@anjalirai-intel
1. Did you try to update before installing that? (sudo apt-get update)
2. OpenVINO version 2021.4 is not the latest version. Are there any reasons that would restrict you from upgrading to the latest version? (2022.1)

[2022-06-28 03:05] jgespino commented on #11912
Closing, please re-open if you need additional assistance.

[2022-06-28 03:05] #11912 closed

[2022-06-28 03:20] zulkifli-halim commented on #11953
Hi @hitesh-anand. Can you share your original YOLOv5 model and dataset with us for replication purposes?

[2022-06-28 03:59] anjalirai-intel commented on #11973
@Iffa-Meah Yes, i have done apt update. Yes, right now we won't be able to upgrade it to 2022. But my biggest concern is openvino 2021 was working till last week and now suddenly we are facing setup issues.

[2022-06-28 05:22] ashishpapanai opened #11991 "Unable to load multiple models on NCS2 on RPi4"
##### System information (version)

- OpenVINO=> openvino 2021.4
- Operating System / Platform => Ubuntu 18.04 LTS
- Compiler => :grey_question:
- Problem classification => Model Loading

##### Detailed description
I am trying to load models for face detection and text recognition on NCS2. The models are supposed to be loaded together but can be executed one at a time, The issue which I face curre

[2022-06-28 05:31] brmarkus commented on #11991
Can you provide details about the models you try to load? Are these from the Open-Model-Zoo, which name, which precision? What are the input-tensors (like batch, channels, width, height)?

[2022-06-28 06:10] zulkifli-halim commented on #11917
@onurbarut, thank you for sharing. I'm checking this out and will update you soon.

[2022-06-28 06:15] brmarkus commented on #11973
Can you try to isolate your build environment into e.g. a Docker container or Python virtual-environment with specific, frozen versions of your example's dependencies (like using a "requirements.txt")? It looks like dependencies like ONNX or ProtoBuf have updated recently and braking your local build.

[2022-06-28 06:17] anjalirai-intel commented on #11973
It is isolated. All these failures are within docker container

[2022-06-28 06:20] brmarkus commented on #11973
Ok... but in your Dockerfile you might call "sudo apt-get update", which will result in just the currently latest versions, which might change every minute. You might need to pin and freeze your dependencies to specific versions or keep them below a certain version.

[2022-06-28 06:31] brmarkus commented on #11984
As usual, @MiraGaikwad , can you describe your environment (hardware and software) first?
Which version of OpenVINO are you using (under MS-Win 10?), how have you installed it, which version and package have you selected in the "Choose which OpenVINO package to download"?
Do you see the OpenVINO installation folder, like `C:\Program Files (x86)\IntelSWTools\openvino_2021.4.752\`? Can you find the

[2022-06-28 06:33] brmarkus commented on #11978
@gsarathkumar92  can you maybe rephrase your question, please?
You want to explicitly unload a model from memory after loading or importing it, when finished using the models?

[2022-06-28 06:37] brmarkus commented on #11962
@sumeethn can you maybe rephrase your question?
You have a model which currently is not supporting batch-mode as "N=1" - and now you want to make the model supporting batches for N>1? So you want to convert the model to IR format supporting batch-mode, a fixed batch-size or dynamic batch size?

[2022-06-28 06:41] anjalirai-intel commented on #11973
But, this requirements.txt we need from openvino and i feel all the package details should be correctly mapped in openvino/install_dependencies/install_openvino_dependencies.sh

Having a list of packages to be installed automatically for the workload setup, in which setup is throwing error.

[2022-06-28 06:48] brmarkus commented on #11973
From your description it looked like you started to manually install missing components like `apt-get install protobuf-compiler` and `apt-get install -y libprotobuf-dev`.

Are you sure these dependencies are needed by OpenVINO itself of by your examples from `git clone https://github.com/gramineproject/examples/tree/master/openvino`?
As you just clone HEAD/LATEST revision - has the code changed si

[2022-06-28 06:52] anjalirai-intel commented on #11973
I had to do manually because openvino failed in docker with error Protobuf compiler not found. To debug the issue further. I manually created the docker container and started debugging and that's why i installed those libraries.

Yes, These dependencies are needed by Openvino itself because i was still doing workload setup. If you want to verify it just go ahead and install onnx on Ubuntu 18.04 us

[2022-06-28 09:25] ashishpapanai commented on #11991
No, the models are not from Open-Model-Zoo
I am using the following Models:
1. FaceNet [link](https://github.com/davidsandberg/facenet): Precision: FP16
2. ResNet [link](https://github.com/davidsandberg/facenet)
The input tensors include the following details (batch=1, channels=3, width = 160, height=160)

[2022-06-28 11:52] gyr-kdgc commented on #11970
This method really works，I can convert my paddle model and make inferences now，thank u very much！

[2022-06-28 14:23] Iffa-Meah commented on #11959
@Kizna1ver Did you do any further changes to your files before compiling your custom code which you didn't mention in your repo?
I managed to compile my other binaries but not yours.

<img width="414" alt="nv12" src="https://user-images.githubusercontent.com/79643476/176201890-2f36dba7-eec5-4925-8c6d-ac729d433431.png">

could you share what you did with details? (such as modification to certain co

[2022-06-28 15:50] Kizna1ver commented on #11959
@Iffa-Meah thans for reply, it seems that your CMakeLists file still contain thirdparty directory, I remove it in recent commit a few days ago.
Initially, I build this project in this docker container [(openvino/ubuntu20_dev:2022.1.0),](https://hub.docker.com/r/openvino/ubuntu20_dev) where openvino is installed in /opt/intel/openvino, and this sample I created directly in /opt/intel/openvino/sampl

[2022-06-28 16:38] jgespino commented on #11669
@cxf2015 It's expected with Dynamic shapes as mentioned in this [guide](https://docs.openvino.ai/latest/openvino_docs_OV_UG_DynamicShapes.html).

[2022-06-28 16:40] #11781 closed

[2022-06-28 16:40] jgespino commented on #11809
Closing, please start a new issue if additional assistance is needed.

[2022-06-28 16:40] #11809 closed

[2022-06-28 19:26] brmarkus commented on #11973
Installing OpenVINO requires to install dependencies via `sudo -E /opt/intel/openvino_2021/install_dependencies/install_openvino_dependencies.sh`, see "https://docs.openvino.ai/2021.4/openvino_docs_install_guides_installing_openvino_linux.html#step-2-install-external-software-dependencies".

Installing Model-Optimizer installs dependencies as well - like TensorFlow, like ONNX, see "https://docs.op

[2022-06-28 21:41] jgespino commented on #11825
@davidalejandro04 I was able to compile the following simple code in visual studio by setting the project up as follows.

[code]
Configuration: Release or Debug
Platform: x64

**C/C++ Additional Include Directories:**
[code]

**Linker Input Additional Dependencies: (Release)**
`C:\Program Files (x86)\Intel\openvino_2022\runtime\lib\intel64\Release\openvino.lib`

**Linker Input Additional Dependenc

[2022-06-28 21:42] #11710 closed

[2022-06-29 01:04] zulkifli-halim commented on #11917
@onurbarut. Can you tell me which model topology or repository (link to repo) you are using? What type of model is it (classification, object detection, etc.)?

[2022-06-29 01:16] onurbarut commented on #11917
@zulkifli-halim , it is our custom design model for network traffic classification. The source code is not yet open to public.

[2022-06-29 02:17] Iffa-Meah commented on #11959
@Kizna1ver  which version of ffmpeg with vaapi did you use?
[This one](https://gist.github.com/Brainiarc7/eb45d2e22afec7534f4a117d15fe6d89) compatible with yours?
Would be great if you could share which library you are using.

[2022-06-29 02:56] Kizna1ver commented on #11959
@Iffa-Meah you can take a look at readme.md in my repo,a [link](https://github.com/intel/media-driver/releases/tag/intel-media-21.3.5) of Intel-media-driver dependency is listed there,which contain version infomation of libva and intel gmmlib. You can build and install such dependencis from source by following instruction in their readme file.
The image below is the output of the ldd command on my

[2022-06-29 04:12] anjalirai-intel commented on #11973
@brmarkus I am facing issue in `/opt/intel/openvino_2021/install_dependencies/install_openvino_dependencies.sh`.

When the openvino is trying to install onnx, it fails there because protobuf and protobuf-compiler is dependency of latest onnx

[2022-06-29 04:14] brmarkus commented on #11973
Can you uninstall your previously, manually installed components mentioned above (including to remove them from APT-cache and/or PIP-cache) first and try again?

[2022-06-29 04:23] anjalirai-intel commented on #11973
I did, that but with latest onnx version for ubuntu 18.04 bionic is not working. Do you know which onnx version is compatible for openvino 2021

[2022-06-29 04:46] brmarkus commented on #11973
You can have a look here, `/opt/intel/openvino_2021.4.752/deployment_tools/model_optimizer/requirements_onnx.txt`.
For my installed version 2021.4.752 (which is 2021.4.2) I can see this:

[code]
In my Ubuntu 18.04 environment I got this ONNX installed:

[code]

[2022-06-29 04:48] anjalirai-intel commented on #11973
So, with this  onnx>=1.8.1 and with latest it is 1.12 and we have all this issue. I will try to stick with onnx version 1.8.1 for openvino 2021

[2022-06-29 05:06] anjalirai-intel commented on #11973
I tried installing onnx with specific version and got this error

Collecting protobuf (from onnx==1.10.2)
  Downloading https://files.pythonhosted.org/packages/6c/be/4e32d02bf08b8f76bf6e59f2a531690c1e4264530404501f3489ca975d9a/protobuf-4.21.0-py2.py3-none-any.whl (164kB)
[91mprotobuf requires Python '>=3.7' but the running Python is 3.6.9

[2022-06-29 05:29] brmarkus commented on #11973
Would it be possible to upgrade your Docker container from 18.04 to 20.04 (`FROM ubuntu:20.04`)? That would bring a newer Python and other newer package versions.

[2022-06-29 05:30] anjalirai-intel commented on #11973
We have to test it with both 18.04 and 20.04. It's just a week ago 18.04 was also working for openvino. I want to go to that state

[2022-06-29 05:36] brmarkus commented on #11973
By any chance would you still have local container/images of that state, or pushed the container/image to a Docker hub (internal or public) - and then export the used version of that working state (calling `pip freeze > requirements.txt`)?

You might need to roll-back protobuf as well.

[2022-06-29 06:10] LL223851 commented on #11725
-DPYTHON_EXECUTABLE=`which python3.6` \
to this
-DCYTHON_EXECUTABLE=$(which cython) \

[2022-06-29 06:37] anjalirai-intel commented on #11973
No, i don't have that container/images of that state now

[2022-06-29 07:42] tomdol commented on #11982
OpenVINO itself is published under the Apache 2.0 license https://choosealicense.com/licenses/apache-2.0/
This license **_in general_** lets you use the software commercially but you should definitely analyze the usage in your particular case. There are just too many variables and it's impossible to give you a simple `yes` or `no` answer.

[2022-06-29 08:06] sajeevrajput commented on #10617
Hi @YeziXuannao , I've run into the same quantization issue where detection area is 0(height and width of the bounding box is 0). I convert the yolov5s.pt model to .onnx file using torch apis as documented [here](https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html).
This gives me an onnx model that I then convert to FP32 OpenVINO IRs using model optimizer.
Until this poin

[2022-06-29 10:07] Iffa-Meah commented on #11959
@Kizna1ver , I have my media workspace ready

<img width="426" alt="1_" src="https://user-images.githubusercontent.com/79643476/176410383-05eedaab-3f72-4a89-aa84-1e3414dd9439.png">

but I need to build & install another 2 libraries (LibVA and GmmLib) beforehand as instructed in ReadMe you shared.

I had built & installed the GmmLib

<img width="366" alt="2_" src="https://user-images.githubusercont

[2022-06-29 10:44] Kizna1ver commented on #11959
@Iffa-Meah ,[this](https://01.org/linuxmedia/quickstart/linux-vaapi-videostack-environment) will be helpful. It seems that the version of GmmLib you installed is 12.1.0. Using compatible version mentioned in here would be better,as the GmmLib 12.x version have some abi changes compared to Gmmlib 11.x.
![image](https://user-images.githubusercontent.com/60084536/176413999-531ab857-e43b-4d73-bf24-7cd

[2022-06-29 13:38] Iffa-Meah commented on #11959
@Kizna1ver did you try to test that particular line? probably try to return the value that the operators have calculated and make an indicator, maybe return the binary 1 for true and 0 for false.

Let the program run specific at that point and see whether it proves your theory.

[2022-06-29 17:31] jgespino commented on #11760
@fenaux DevCloud does not allow you to install packages. Try the following on your local system and upload the .onnx file for conversion on DevCloud.

[code]

[2022-06-30 01:34] wangg opened #12011 "Is there any way to do Winograd algorithmic tuning with CLI?"
I have used the Winograd algorithmic tuning (https://docs.openvino.ai/2021.4/workbench_docs_Workbench_DG_Winograd_Algorithmic_Tuning.html) in my project, and it does help some of my models. I am not sure this is the right place to ask questions, but I have 2 questions about the Winograd tuning.

1. Is there any way to do such tuning without DL workbench? I would like to include such tuning in a sc

[2022-06-30 06:16] gyr-kdgc commented on #11970
**Another problem，**According to the last method, I installed openvino2022.2 on the basis of the original openvino2022.1 environment. Both tensorflow1.x and paddle models can be converted, but after I re-install the latest openvino2022.2 on a brand new image,  the following error occurs when I convert tensorflow1.x model ：
**command：**
!python /home/packages/openvino/tools/mo/openvino/tools/mo/mo.

[2022-06-30 06:26] xylieong opened #12014 "Unable to build for Windows, throws pthread.h not found"
##### System information (version)
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- CMake version => 3.24.0-rc2
- Problem classification: Build

##### Detailed description
Cloned openvino from github but cmake can't make files.
Command: `cmake -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Debug ..`

##### Issue submission checklist
 - [ /] I checked the pro

[2022-06-30 07:34] xlla opened #12018 "build from source, no device found."
##### System information (version)

- OpenVINO => master branch 4da0941cd2e8f9829875e60df73d3cd01f820b9c
- Operating System / Platform => ubuntu 20.04
- Compiler => gcc version 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1)
- Problem classification: Inference Device missing

##### Detailed description
no inference device available

##### Steps to reproduce
clone source
checkout 4da0941cd2e8f9829875e60df73d

[2022-06-30 07:36] #12014 closed

[2022-06-30 07:45] brmarkus commented on #12018
Can you provide more details about the preparations you did before building OpenVINO from source-code?
Can you confirm you followed the detailed steps on "https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux"?`
(cloning submodules recursively; installing pre-requisites&build-dependencies).

Can you clean your build-folder again (or rename it) and build again using default arguments li

[2022-06-30 13:47] shliar opened #12021 "[Bug]Can't Convert Craft to ONNX and OpenVINO IR"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: Pytorch
- Model name: VGG16

##### Detailed description

I want to convert the craft model based on pytorch to IR model, but the tutorial is based on fastseg，but the craft model is based on vgg16. How shoul

[2022-07-01 00:03] zulkifli-halim commented on #11953
@hitesh-anand. I'm able to optimize the yolov5s model using [The Post-Training Optimization Tool (POT) Python* API](https://docs.openvino.ai/2021.4/pot_compression_api_README.html). Here is the script I that I used.

[code]

[2022-07-01 01:42] Kizna1ver commented on #11959
@Iffa-Meah ,the error was resolved when I used the recent version of openvino([30bd4a905e](https://github.com/openvinotoolkit/openvino/tree/30bd4a905e20bd88570ef7faa4ccbcd54a35517d)) in the master branch. The following code also works fine.
But I don't know exactly what caused the error. I will try to debug in the next few days. It would be great if you can also help me find what cause the error.

[2022-07-01 01:46] Iffa-Meah commented on #11959
@Kizna1ver probably there are some complications with the previous version which fixed in the latest branch.

[2022-07-01 02:16] fanxiaochen456 opened #12025 "The conversion of Tensorflow model to FP16 model was problematic in GPU environment testing"
Hello, I use OpenVINO's model quantization script: Mo_tf.py converts the. Pb file with the accuracy of FP32 into the model of FP16, which is based on tensorflow1.14 environment. After the model is successfully converted and the inference process is successfully completed in the Inter CPU environment, the inference result is consistent with the result before quantization. However, WHEN I changed th

[2022-07-01 02:24] fanxiaochen456 commented on #12025
![image](https://user-images.githubusercontent.com/101849755/176810967-566569a4-a360-41ea-b814-656076c5f1b1.png)
![image](https://user-images.githubusercontent.com/101849755/176811033-8ae752ce-901b-4571-a24f-8e2b17216e25.png)
These are my two results.

[2022-07-01 02:45] Aed-p opened #12026 "[Bug]"
##### System information (version)
- OpenVINO => openvino_2022.1.0.643
- Operating System / Platform => Ubuntu20.04/intel e2583
- Compiler => gcc version 9.4.0
- Problem classification: Model Load takes long time in cpu
- Framework: TensorFlow, use tf2onnx 1.9.3 convert model.pb to model.onnx

##### Detailed description
When I use openvino to load the converted onnx model on the cpu, it takes abou

[2022-07-01 02:49] Aed-p commented on #12026
But the loading speed of the model I trained with pytouch is normal, This model is a single input single output. LOG INFO:
I20220701 02:46:29.917366  4224 extract_model.cpp:29]  model_ir init :/root/worksppace/test/model.onnx
I20220701 02:46:30.910486  4224 extract_model.cpp:41]  read model takes :0.988514s
I20220701 02:46:30.910706  4224 extract_model.cpp:52]  input_data size :102400
I20220701 02

[2022-07-01 03:27] Iffa-Meah commented on #12011
@wangg did you use the Winograd tuning for optimization purposes or are there any other reasons?

[2022-07-01 03:38] wangg commented on #12011
@Iffa-Meah I use it for optimization purposes. It gives quite a boost to some of my models without hurting the accuracy at all.

[2022-07-01 03:55] davidalejandro04 commented on #11825
Hello, thank you for your reply! Yes, it works by doing that both for QT creator and Visual Studio (using cmake and vcprojx respectively, being the setup of the variables in the project the only relevant difference). I didn't have to perform those steps in my previous compilations with the 2021.4 version since I had the environment variables permanently set while i didn't for the api 2.0 version,

[2022-07-01 03:55] #11825 closed

[2022-07-01 04:19] hitesh-anand commented on #11953
@zulkifli-halim
I was trying to optimize it using Accuracy Aware Quantization.
I have successfully executed the Default Quantization earlier.

It will be helpful if you could mention the steps for Accuracy Aware Quantization by making some changes in the same script or by any other means.

Thanks,
Hitesh

[2022-07-01 04:47] brmarkus commented on #12025
Can you provide more details about your environment, please, which SW, which HW do you use, in which versions, please?

Have you just converted your TF model into IR with FP32 and FP16 precision, or have you also used quantization?
How have you called the model-optimizer, can you share the command line?

Would it be possible to provide more details about the used model? What architecture/topology

[2022-07-01 04:55] brmarkus commented on #12026
Certain ONNX models can be loaded directly into the OpenVINO inference engine in the meantime, without compiling/converting it, i.e. for example you can just call `benchmark_app -m my-model.onnx`.

If you want or need to compile the model - then you can do so separately, e.g. at build-time only; then you `export()` the compiled model into a blob-file - and your application only calls `import()` to

[2022-07-01 05:08] Iffa-Meah commented on #12011
@wangg in that case, Post Training Optimization Tool (POT) won't be suitable for you. We'll get back to you with applicable workaround/suggestions asap.

[2022-07-01 05:22] Aed-p commented on #12026
Thank you for your reply

But I load other onnx models and the speed is normal

For example:
I20220701 05:21:46.457312  4767 extract_model.cpp:30]  model_ir init :/root/worksppace/test/lib/moqi.onnx
I20220701 05:21:47.344118  4767 extract_model.cpp:42]  read model takes :0.881236s
I20220701 05:21:47.344466  4767 extract_model.cpp:52]  input_data size :102400 2 3
I20220701 05:21:47.344898  4767 ext

[2022-07-01 05:28] brmarkus commented on #12026
There could be bigger differences in the model with respect to used operations, tensors, layers, size.
Could be version-specific regarding supported operations&tensor.
Could depend on the amount of system memory.

[2022-07-01 05:29] Aed-p commented on #12026
Thank you for your reply

[2022-07-01 05:29] #12026 closed

[2022-07-01 05:39] gyr-kdgc commented on #11970
How can I solve the problem above?Thank u

[2022-07-01 06:04] mateusztabaka commented on #11970
There is not much of a difference between those two versions. I'm guessing the issue is with your model. Can you share it?

[2022-07-01 07:11] tomdol commented on #12021
I've modified the bottom section of the `craft.py` file the following way and executed it. It has successfully created a `craft.onnx` file in my home directory.

    if __name__ == '__main__':
        model = CRAFT(pretrained=True)
        onnx_model_path = "/home/tomdol/craft.onnx"

        model.eval()

        model_input = torch.randn(1, 3, 224, 224)

        torch.onnx.export(model,

[2022-07-01 07:15] SiegfriedIppischSecuriton commented on #11262
Hi @jgespino

I have used MULTI, because there are two MYRIAD Sticks connected. I have unplugged one MYRIAD Stick Just and changed to "MULTI". The Program crashes.

I have tested it with "MYRIAD.1.2-ma2480" as the device config instead. (according to this doku https://docs.openvino.ai/2021.4/openvino_docs_IE_DG_supported_plugins_MULTI.html)

=> It is the same exception.

[code]

It is the same cod

[2022-07-01 10:06] svetom commented on #11490
Hi, Any update on this issue?

Thanks.

[2022-07-01 10:13] fanxiaochen456 commented on #12025
@brmarkus Hello, first of all, the code I use is AdvancedEAST. For the text detection algorithm of slanted text, its algorithm environment is tensorflow1.14.0+Keras2.2.5, and the model saved by Keras is adopted: .h5, then I use a script to solidify the.h5 model into a.pb model, and then I use the command: Python mo_tf.py --input_model my_model.pb --input_shape [1,736,736,3] --output east_detect/co

[2022-07-01 10:47] zulkifli-halim commented on #12021
Hi @shliar, I am able to convert the PyTorch model to ONNX by following the step from @tomdol and also able to convert the model to IR using this command:
`mo --input_model craft.onnx`

[code]

[2022-07-01 11:09] fanxiaochen456 commented on #12025
@brmarkus Hello, may I ask what needs to be installed if you want to use Inter GPU test environment on Windows platform?

[2022-07-01 11:20] brmarkus commented on #12025
Starting-point is this - assuming you installed OpenVINO via an offline/online-installer:
https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_windows_header.html
(watch-out for the version in the upper-right corner; you might not use "latest", but an older version)

Then go here:
https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_windows.h

[2022-07-01 11:49] ashishpapanai opened #12033 "Error when building OpenVINO 2022 on Raspberry OS Buster 32bit"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Raspberry OS Buster 32 bit
- Compiler => -

##### Detailed description
I am trying to build OpenVINO 2022 on RPi4 with Raspberry OS Buster (32-bit), I am running into the following error:
[code]
Is there any alternative route to build the latest version on the hardware with the specified OS, or an offline ins

[2022-07-01 12:36] fanxiaochen456 commented on #12025
@brmarkus The install_dependencies you mentioned were not found in the Windows download package. I installed the inference package only.

[2022-07-01 13:08] brmarkus commented on #12025
You have not mentioned MS-Windows before, not in your initial post... ;-)
For MS-Windows, please check
https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_windows_header.html
(watch-out for the version in the upper-right corner; you might not use "latest", but an older version)

Then go here:
https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openv

[2022-07-01 14:30] shliar commented on #12021
Thank you!  I have successfully transformed the onnx model

[2022-07-01 14:39] shliar commented on #12021
Hi，I have successfully converted the IR model, which contains XML files and bin files, but I have encountered new difficulties.
How can I perform reasoning on the IR model? In the example, segmentation_map_to_image method is used,It has only two inputs, and in the craft built with pytorch, I need net, image and text respectively_ threshold, link_ threshold, low_ text, cuda, poly, refine_ Net param

[2022-07-01 17:38] jgespino commented on #11490
@svetom This is something the development team is still looking into. I appologies for hte delay.

[2022-07-01 21:13] jgespino commented on #11741
@xiaoweiChen Thanks, I have passed this information to the appropriate team.

[2022-07-01 21:54] jgespino commented on #11262
@SiegfriedIppischSecuriton Thanks for sending the necessary files, I was able to setup the visual studio project and I am able to reproduce the issue. Let me look into it and provide an update next week.

[2022-07-02 06:52] gyr-kdgc commented on #11970
I don't know how to share my model with you，it is too large. It is just a .pb model file of tensorflow_1.15.  In the environment where this model can be converted, the 2021.4 version of openvino has also been installed.So I am confused about this.
Here is the code to save the .pb model:

def freeze_graph(model_folder):
    input_checkpoint = model_folder
    output_graph = MODEL_NAME  #  MODEL_NAM

[2022-07-02 08:16] LL223851 commented on #12033
目标：编译openvino_2022.1
环境：树莓派3B+   Raspberry OS Lite 64 bit
python3.9.2
openCV 4.5.5-openvino

编译环境准备
opt
    |-intel
    |    |-openvino_2022(Dir for install)
    |    |-openvino（源文件）
    |-opencv（opencv-4.5.5-openvino-2022.1.0）

编译之前一定要调整树莓派的swp空间大小，经历多次失败之后，调整为4G后能确保不因内存问题退出。
1.
sudo dphys-swapfile swapoff
2.
sudo nano /etc/dphys-swapfile
------>
CONF_SWAPSIZE=4096

CONF_MAXSWAP=4096

Ctrl+O save

[2022-07-02 14:07] ashishpapanai commented on #12033
Hello @LL223851, I am trying to build it on RPi OS Buster 32-bit, the fix you've mentioned seems to be for 64-bit OS.

[2022-07-02 14:52] shliar commented on #12021
When I try to infer the successful IR model, the following errors appear. How should I solve this problem?
you can find the IR model in https://gitee.com/shliar/craft-ir-model.git
![image](https://user-images.githubusercontent.com/56796761/177002917-da8f6135-5726-43ac-8ec6-f4da3ed35732.png)

[2022-07-02 17:15] brmarkus commented on #11991
There are demos in the Open-Model-Zoo loading several models to CPU, GPU and/or Myriad/VPU, like https://github.com/openvinotoolkit/open_model_zoo/tree/releases/2021/4/demos/gaze_estimation_demo/cpp .
The models used can be loaded to MyriadX/NCS2 and are processed partly in parallel, partly sequentially.

Your models (you shared the same link for both, FaceNet and ResNet) might just be too big.

C

[2022-07-03 09:34] ashishpapanai commented on #11991
@brmarkus Could you share any samples in python, in which multiple models are loaded on NCS2?

[2022-07-03 16:05] xlla commented on #12018
hi @brmarkus , I'v clean my build-folder and build again.

it works now!

[code]

[2022-07-03 16:05] #12018 closed

[2022-07-04 02:09] Iffa-Meah commented on #12033
@ashishpapanai  for the offline installer as you asked in your question, you may refer to this [guide](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_raspbian.html).
You need to ensure you had fulfilled the OS, Hardware, and Software requirements (which are mentioned in that documentation).

Generally, the build guide for open source OV can be found in this [wiki]

[2022-07-04 02:11] ashishpapanai commented on #12033
@Iffa-Meah There's no download link for the offline installer in the guide.

[2022-07-04 05:11] brmarkus commented on #11991
One of the first Python demos in the list of available demos under https://github.com/openvinotoolkit/open_model_zoo/tree/releases/2021/4/demos using multiple devices might be this:

https://github.com/openvinotoolkit/open_model_zoo/tree/releases/2021/4/demos/face_recognition_demo/python

[2022-07-04 05:53] ChesterXcw opened #12036 "Can openvino load the model only once during inference (cpu) in C++ ?"
When deploy yolov5n , it takes about 250ms to initialize the model once (only call  from "ReadNetwork" to "LoadNetwork" take about 250ms, especially "LoadNetwork" costs  about 197ms ) , but not found any documents loading the model to memory (cpu)  or reducing init time   , only some blogs talk about GPU loading .
and my code are following:

bool Detector::init(string xml_path, double cof_threshol

[2022-07-04 06:40] Iffa-Meah commented on #11941
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-04 06:40] #11941 closed

[2022-07-04 06:56] Iffa-Meah commented on #11962
@sumeethn, in that case, you can convert your model into a dynamic IR.
Example for dynamic IR conversion command: mo -m yourModelPath --input_shape [-1,3,256,100] --data_type FP32
(Note that the -1 or ? symbol would indicate the dynamic shape).
Parse in your own input shape & desired data type.

Example of inferencing command:

benchmark_app -m mbnetv3_embeddings.xml -data_shape [1,3,256,100]
benc

[2022-07-04 06:56] brmarkus commented on #12036
Can you rephrase your question maybe?
Your code-snipped shows only one call to "LoadNetwork()", but you ask to load it only once?
Do you mean both calls, "ReadNetwork()" and "LoadNetwork()" take about 250ms?
Is it only for doing inference on CPU?

You might want to have a look into "ExecutableNetwork::export()" (https://docs.openvino.ai/2021.4/api/ie_python_api/_autosummary/openvino.inference_engi

[2022-07-04 07:10] ChesterXcw commented on #12036
sorry , i did not make it clear, you are right , calls, "ReadNetwork()" and "LoadNetwork()" take about 250ms, and i debug it ,only calls "LoadNetwork" takes about 197ms. at present, it only inferences on cpu.

[2022-07-04 07:16] ChesterXcw commented on #12036
Thanks, I will look carefully

[2022-07-04 08:36] fanxiaochen456 opened #12039 "OpenVINO inference using C++ failed. Procedure"

[2022-07-04 08:51] korotaS commented on #11939
@wangleis
Thank you, it seems that it is true, when reusing only one request:
![infer_request_compare](https://user-images.githubusercontent.com/50669173/177118939-cc583d36-b3b3-4194-9390-42b1f9fe3481.png)

[2022-07-04 09:25] korotaS commented on #11939
@wangleis I have only one tricky question left - when is it planned to release a new (probably minor) version of openvino where this dynamic shape changes will be present?
Because it will be much easier to use this version from `pip install` instead of installing from source

[2022-07-04 14:56] zulkifli-halim commented on #12021
@shliar. I wasn't able to access this page: https://gitee.com/shliar/craft-ir-model.git

![image](https://user-images.githubusercontent.com/79680111/177178089-0bf8ad1c-e5ab-4c84-b14b-8583ee8e7535.png)

Have you tried running the IR model with [benchmark app](https://docs.openvino.ai/2022.1/openvino_inference_engine_tools_benchmark_tool_README.html)? Does it work?

[2022-07-04 15:19] shliar commented on #12021
Hi:
    I'm sorry, it seems that this is because the open source audit of the warehouse has not passed,I have put the model in the following link
craft.xml: https://drive.google.com/file/d/1cjRjoawHqRL4WSBMwJZ355vMIIz1jUob/view?usp=sharing
craft.bin: https://drive.google.com/file/d/12vomS1XVAxBFFaLlNTilNjkwhQoEr_hy/view?usp=sharing
And I tried to use benchmark app, it works well
![image](https://u

[2022-07-04 19:23] Finfalter opened #12044 "Integrated Haswell GPU not recognized"
##### System information

- OpenVINO: __2022.1.0__
- Operating System: __Ubuntu Linux 20.04__
- GPU: __Haswell-ULT Integrated Graphics Controller (rev 09)__

##### Detailed description
The gpu is not recognized by OpenVINO, in that is to say: `hello_query_device` only lists a CPU but not a GPU:

[code]
I made to to [Configure Inference on Non-CPU Devices](https://docs.openvino.ai/nightly/openvino_

[2022-07-04 19:52] brmarkus commented on #12044
From the output of `hello_query_device` it looks like your SOC is this:
`Intel(R) Core(TM) i7-4500U CPU @ 1.80GHz`
This is a 4th generation SOC.

Referring to "https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_linux.html#system-requirements", under the tab "Hardware", this OpenVINO version "2022.1.0" supports "6th to 12th generation Intel® Core™ processors"...

Would

[2022-07-04 20:07] Finfalter commented on #12044
Thank you, @brmarkus, your suggestion sounds reasonable.

[2022-07-04 20:17] brmarkus commented on #12044
Hmm, from the drop-down list this seems to be the oldest OpenVINO version:
https://docs.openvino.ai/2018_R5/_docs_install_guides_installing_openvino_linux.html

But the system requirements list:
`6th-8th Generation Intel® Core™`

@jgespino do you have an idea for an even older version of OpenVINO - or finding the corresponding OpenCL version for 4th generation SOC and `Haswell-ULT Integrated Graph

[2022-07-05 04:20] zulkifli-halim commented on #12021
@shliar, Can I know, which code did you use to run inference? Is it from one of the OMZ demos or a custom code? If possible, please share it with us for replication purposes.

[2022-07-05 05:19] Mxx-001 opened #12047 "Customize operation"
**System information**
- OpenVINO: 2022.1.0
- Operating System: Ubuntu Linux 20.04
- Model name: VGG16-12-int8
- Customize operation: QLinearConv

**Detailed description**
Mismatch error reporting for custom operations:

Any hint is appreciated.

[2022-07-05 05:48] shixinlishixinli opened #12049 "i can not use mo to convert paddle model on openvino 2022"
https://github.com/openvinotoolkit/openvino/blob/master/docs/MO_DG/prepare_model/convert_model/Convert_Model_From_Paddle.md

i have read this tutorial. and try to use mo convert paddle model.
first , i can not find mo command, i have ready source /opt/intel/openvino_2022/setupvars.sh.
then i try to use mo.py convert paddle model.
![image](https://user-images.githubusercontent.com/20768380/17725794

[2022-07-05 05:49] ashishpapanai commented on #11991
Hi @brmarkus,
The models which I am trying to load are 81 MB and 43 MB respectively, which are less than the max memory limit of NCS, I've gone through the demo and we're following a similar approach to load the two models.
I am able to load the model on my laptop (intel i5 10th gen, 8GB RAM), but the main use case is to be able to load the models from RPi4 (4GB RAM) to NCS2.

[2022-07-05 07:07] Iffa-Meah commented on #12033
@ashishpapanai as for now, the available installation binary for OpenVINO on Raspberry Pi is up to version [2021.4.2](https://storage.openvinotoolkit.org/repositories/openvino/packages/2021.4.1/).

Due to some changes to the API, there's no release for the latest version (2022.1) yet.

For 2021.4.2, can refer to [this documentation](https://docs.openvino.ai/2021.4/openvino_docs_install_guides_inst

[2022-07-05 09:01] Iffa-Meah commented on #12039
@fanxiaochen456 did you[ build from source](https://github.com/openvinotoolkit/openvino/wiki/BuildingForWindows) or did you use the[ installation binary](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_windows.html) for this version of OpenVINO?

[2022-07-05 09:12] mateusztabaka commented on #11970
Can you also share full model definition in tensorflow? So I can save the model using your method.

[2022-07-05 09:19] ChesterXcw commented on #12036
Maybe find the solutions

[2022-07-05 09:19] #12036 closed

[2022-07-05 12:09] AyaNasser96 commented on #11942
@jgespino @zulkifli-halim
Hello, any updates ?

[2022-07-05 13:11] shliar commented on #12021
Hi:
    I am using the following code to run inference:
ie = Core()
ir_path="CRAFT-pytorch-master/ir/craft.xml"
model_ir = ie.read_model(model=ir_path)
compiled_model_ir = ie.compile_model(model=model_ir, device_name="CPU")

# Get input and output layers
output_layer_ir = compiled_model_ir.output(0)

# Run inference on the input image
res_ir = compiled_model_ir([input_image])[output_layer_ir]
resu

[2022-07-05 16:01] cesarhcq commented on #11554
Hello guys! Any update about OpenVINO on MACOS M1?

[2022-07-05 18:01] brmarkus commented on #11991
Are the 81MB and 43MB the filesize you see in your file-system?

The models will result in more memory after reading&importing the models into the device('s plugin), as e..g OpenCL is used to compile OpenCL-kernels for certain operations and your model might contain a lot of different operations and many layers.

If you check with the OpenVINO's model-analzer under "https://github.com/openvinotool

[2022-07-05 18:05] brmarkus commented on #12049
Would it be possible to share the exact same model you used for reproduction and further analysis?
Have you tried other Paddle models?

[2022-07-06 02:14] Iffa-Meah commented on #12044
According to the[ Official OpenVINO System Requirement ](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/system-requirements.html)that that hardware is indeed unsupported.

For CPU (4th Generation Intel Core) might work as a user had a trial & error for this and anyway you managed to run the hello_query_device sample app on it. You may refer [here](https://krbnite.github.i

[2022-07-06 03:37] zulkifli-halim commented on #11860
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-06 03:37] #11860 closed

[2022-07-06 03:37] zulkifli-halim commented on #11898
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-06 03:37] #11898 closed

[2022-07-06 03:40] zulkifli-halim commented on #11921
Closing, please re-open if additional assistance is needed.

[2022-07-06 03:40] #11921 closed

[2022-07-06 03:42] zulkifli-halim commented on #11984
Closing, please re-open if additional assistance is needed.

[2022-07-06 03:42] #11984 closed

[2022-07-06 08:22] ashishpapanai commented on #12033
@Iffa-Meah, I've built OpenVINO 2022.1 on RPi 4 with RPi OS Bullseye (64 bit), How to run inferences after successfully building the open-source dist of OpenVINO. Because I cannot find any setup variable scripts and other files which I use in the Windows and Linux installation directory of OpenVINO.

1. Do I have to follow any other steps after [this](https://github.com/openvinotoolkit/openvino/wi

[2022-07-06 09:22] shixinlishixinli commented on #12049
I know what caused this problem. I installed two different versions of openvino on the same device. sorry to bother you。

[2022-07-06 09:22] #12049 closed

[2022-07-06 09:55] hbalasu1 commented on #12011
Hi @wangg to answer your questions
1. Is there any way to do such tuning without DL workbench? I would like to include such tuning in a script, so CLI is preferred and the web interface is no longer suitable in this case.
**[Answer]** As for now Winograd tuning required the DL workbench platform to perform optimization, for Winograd tuning outside of the DL workbench has yet to be implemented.

2.

[2022-07-06 12:09] fanxiaochen456 opened #12060 "Inter GPU Usage"
Hello, I use OpenVINO on Windows platform, version 2020 and version 4, and use C++ for reasoning. The model of Inter Graphics card is Inter(R) UHD Graphics 630, and I use Inter GPU for reasoning process discovery. The CPU usage is higher than the GPU usage. How can I improve the GPU usage to improve the inference rate?

[2022-07-06 13:46] shliar commented on #12021
Hi:
    I tried the following code:
import cv2
import matplotlib.pyplot as plt
import numpy as np
from openvino.runtime import Core

ie = Core()

#model = ie.read_model(model="model/horizontal-text-detection-0001.xml")
model = ie.read_model(model="model/craft.xml")
compiled_model = ie.compile_model(model=model, device_name="CPU")

input_layer_ir = compiled_model.input(0)
output_layer_ir = compiled

[2022-07-06 14:01] wangg commented on #12011
@hbalasu1 Thank you for the answers.

[2022-07-06 14:01] #12011 closed

[2022-07-06 19:06] jgespino commented on #11800
@lminer Thanks for sending the information via email. I have opened a request with the development team. I will provide any updates here as they are made available.

Ref. 87291

[2022-07-06 20:14] #12044 closed

[2022-07-06 21:39] sumeethn commented on #11962
Thank you! I was able to convert the model into dynamic shape and load the model into OpenVINO model server. I would like to run the benchmark on OVMS. I will close this issue.

[2022-07-07 01:14] riverlijunjie commented on #11669
There is PR can stop memory continuous increasing in dynamic shape inference scenario, which fixed the rnn cache miss issue so as to avoid creating lots of duplicated primitives, this PR has been merged into master branch, you can have a try.
PR: https://github.com/openvinotoolkit/openvino/pull/12053

[2022-07-07 02:06] Iffa-Meah commented on #12033
@ashishpapanai you may try to run the Python Samples as you don't need to do compilation for this (you need to do so for cpp & c samples).

Go to the samples directory and run one of the Python sample: python3 hello_query_device.py
If you have all the requirements & the OV is prperly built, then it should run. This sample would show the available compatible devices/hardware
.
You may refer [here](

[2022-07-07 02:10] Iffa-Meah commented on #12047
@Mxx-001
1. could you share your model files and also the commands that you used to convert them to IR?
2. What model is this? (Tensorflow, ONNX, etc)

[2022-07-07 02:18] Iffa-Meah commented on #12060
@fanxiaochen456 to improve the inferencing rate, it is recommended to implement model optimization. This would improve final model performance by applying special optimization methods like quantization, pruning, preprocessing optimization, etc.

You may use the[ OpenVINO Post-Training Optimization Tool](https://docs.openvino.ai/latest/pot_introduction.html#doxid-pot-introduction).

[2022-07-07 04:00] zulkifli-halim commented on #11917
@onurbaru, I tried to use your convert.py to convert the model to saved_model, but failed with this error:
[code]

How do you convert Keras to saved_model format?

When you save your model to Keras format, is there a chance you save the weights instead of the model?

[2022-07-07 04:52] brmarkus commented on #12060
Can you provide more details about your environment, SW and HW, please? Do you mean OpenVINO in version 2020.4?
(in general it is recommended to use the latest versions like 2021.4.2 or 2022.1).

Can you provide more details about the model(s) you are using?

Can you provide the output of using "benchmark_app" for your CPU and for your GPU?
Would it be possible for your application to make use of

[2022-07-07 07:33] brmarkus commented on #12033
Have you built ("make") OpenVINO as well as _installed_ ("make install") it?
For the latest OpenVINO v2022 (MASTER/HEAD/MAIN branch) there is still the setupvars-script, see "https://github.com/openvinotoolkit/openvino/tree/master/scripts/setupvars"
If you installed OpenVINO (after building its source-code) to e.g. "/opt/intel/openvino/" on your RPi4, then you should find "setupvars.sh" under "/op

[2022-07-07 09:35] cxf2015 commented on #11669
@riverlijunjie old version memory usage:
![image](https://user-images.githubusercontent.com/11493837/177741756-7a6cdbf8-1e84-41de-af4b-e48745709624.png)
new code looks like can stop memory continuous increasing, but that is a lot of memory usage:
![image](https://user-images.githubusercontent.com/11493837/177742261-3db1d30d-6721-4924-baab-e5b453557754.png)
is that normal?

[2022-07-07 10:28] cxf2015 commented on #11669
@riverlijunjie if i reload model after processing every image, the memory usage:
![image](https://user-images.githubusercontent.com/11493837/177751929-781b73b2-e025-4243-9804-ea48250ba871.png)
i think this is normal.

[2022-07-07 11:40] cxf2015 commented on #11669
after processing every image, i call reinit():
![image](https://user-images.githubusercontent.com/11493837/177764977-4a332154-e8a6-4653-8353-9a981763e623.png)

[2022-07-07 13:44] riverlijunjie commented on #11669
Does the 1.2GB and 4.3GB memory consumption cases run the same models?
It saw there were 2 peaks in the 1.2 GB diagram, what happened at the peak? It is the point of reloading model?
Or could you clarify the details about the 1.2GB diagram?

[2022-07-07 21:08] paulguerrie opened #12080 "[Bug] Convert Segformer to BLOB myriad_compile hangs indefinitely"
##### System information
- OpenVINO => 2021.4.2
- Operating System / Platform => Docker Container --> openvino/ubuntu18_dev:2021.4.2
- Problem classification: Model Conversion
- Framework: pytorch --> onnx --> IR --> blob
- Model name: Segformer

##### Detailed description
Hello,

I'm trying to convert a Segformer model from pytorch to blob through onnx and IR formats. I can get the model into IR

[2022-07-08 04:32] ashishpapanai commented on #12033
@brmarkus I  have installed it by building the source code, but I cannot find any directory named intel in /opt directory.

[2022-07-08 05:31] brmarkus commented on #12033
Please refer to "https://github.com/openvinotoolkit/openvino#how-to-build", which points to the Wiki "https://github.com/openvinotoolkit/openvino/wiki#how-to-build".

Have a look under "https://github.com/openvinotoolkit/openvino/wiki/BuildingCode#installing" for how to specify a custom installation location (like under "/opt/intel/"):

[2022-07-08 05:32] ashishpapanai commented on #12033
I am running into this error when I try to run the setupvars.sh in openvino/scripts/setupvars/setupvars.sh (from the cloned repository)
[code]

[2022-07-08 07:53] tomdol commented on #12033
When configuring the build with cmake can you try adding this flag `-DENABLE_PYTHON=ON`? You will need to install `cython` first (pip install cython) to make it work.

[2022-07-08 08:32] wenbufan opened #12091 "OpenVINO c++ achieve channel transpose. (From NWHC to NCHW)"
Hello there,
me and my team are trying to create a c++ code for a segmentation task. in this task, we need to transpose the input data from NWHC to NCHW. but there is no any tutorial online. we are trying use ov::op::Transpose and ngraph::op::Transpose, but they don't work.

is there any tutorial or any code example that can solve this problem?

thanks a lot.

[2022-07-08 13:57] ashishpapanai commented on #12033
Hi @tomdol, I've added the flag while building with cmake, and I was prompted to install cython, which I did.

[2022-07-08 14:56] lolong commented on #11947
hi, I am using ubuntu 20.04 and I go the same error message:

[code]

[2022-07-08 16:26] LinBaoxin opened #12095 "[Bug] floordiv_3 (Floor) types check error: input #0 has type S32, but FP16 is expected"
##### System information (version)

- OpenVINO=> 2022.1.0
- Operating System / Platform => Windows 10 (64 Bit)
- Compiler => pip install openvino-dev[tensorflow2,caffe]
- Problem classification => Model Conversion
- Framework: TensorFlow
- Model name: MoveNet: Ultra fast and accurate pose detection model

##### Detailed description

Hi there,
When I tried running my IR model on NCS2, I saw the fol

[2022-07-08 18:07] jgespino commented on #11942
Hi @AyaNasser96 Appologies for the delay. I've been taking a look at your model and python scripts shared with @zulkifli-halim

Using the latest OpenVINO 2022.1 release, I am getting really close results to the pytorch model results. See below, I rounded to two decimal point to make it easier to compare.

![image](https://user-images.githubusercontent.com/18014973/178045064-2c1e83c5-c798-41ca-933d

[2022-07-09 01:25] fanxiaochen456 opened #12096 "OpenVINO outputs different results under Inter CPU and Inter GPU"
Hi, I used the script of MO_tf.py to convert the Tensorflow solidified model with the accuracy of FP32 and the PB file to the IR model of FP16. The detection result under Inter CPU is correct, but when the Device is replaced with Inter GPU, The reasoning result of the model is different from the correct output result under CPU, and there is no error with custom layer when converting IR model. What

[2022-07-09 01:57] fanxiaochen456 commented on #12096
I looked at the XML files converted by FP32 and FP16, and the network structure was no different. The input and output dimensions are also normal.

[2022-07-09 06:24] tomdol commented on #12033
You can run the build again and this time the python api should be available. When you run the setupvars script afterwards you should not get that warning any more.

[2022-07-10 07:57] ashishpapanai commented on #12033
@tomdol I am able to run OpenVINO after installing it again by setting the necessary CMake flags. Is there any CMake flag for me to select the installation directory?

[2022-07-10 09:14] ashishpapanai commented on #12033
Thanks a lot for the support @LL223851 @tomdol @brmarkus @Iffa-Meah.
I am not sure what caused the build failure in 32-bit OS, but I've successfully built OpenVINO 2022 on RPi OS Bullseye (64-bit) using the steps mentioned by @LL223851 and the fixes by @brmarkus and @tomdol.

[2022-07-11 01:48] Iffa-Meah commented on #11959
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-11 01:48] #11959 closed

[2022-07-11 01:51] Iffa-Meah commented on #12033
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-11 01:51] #12033 closed

[2022-07-11 03:02] xipingyan commented on #12091
hi @wenjiew Could you please refer this sample: https://github.com/openvinotoolkit/openvino/blob/master/samples/cpp/classification_sample_async/main.cpp#L94 ?
Latest OpenVINO provided "ov::preprocess::PrePostProcessor" to handle those similar situations.

[2022-07-11 08:14] Iffa-Meah commented on #12095
@LinBaoxin I can see similar behaviour from my end.

Conversion into FP16 IR
<img width="639" alt="conversion" src="https://user-images.githubusercontent.com/79643476/178218788-37fe770c-fb5d-490b-a972-3633479b57be.png">

CPU infer (success)
<img width="641" alt="cpu" src="https://user-images.githubusercontent.com/79643476/178218913-a16aff62-938a-4707-9f1a-a4bb2c0c9cae.png">

NCS2 infer (failed)
<i

[2022-07-11 20:58] jgespino commented on #12096
@fanxiaochen456 Could you please share additional information to reporduce from our end?

- OpenVINO Version
- Model
- Model Optimzier Command
- Test input
- Expected output
- Code to reproduce

[2022-07-11 22:09] jgespino commented on #12080
Hi @paulguerrie Appologies for the delay, I am able to see the same behavior when loading the model to an Intel Neural Comptue Stick 2 using OpenVINO 2022.1. I have enabled log_level Tracing to obtain additional details, so far it's still running but I will let you know what I find out.

Also, I see this model has been enabled for CPU and GPU only so it may not be supported on MYRIAD.

[2022-07-12 01:59] songs18 opened #12111 "Deploy models with OpenVINO under PyPI"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Windows 11 64 Bit
- Compiler => GCC 8.1.0
- Problem classification: Model Deployment
- Framework: ONNX (if applicable)
- Model name: Any (if applicable)

##### Detailed description

I want to deploy one trained model with Python, but i cannot package it with pyinstaller/nuitka. I search some keywords, and I fo

[2022-07-12 02:12] Iffa-Meah commented on #12080
@paulguerrie I can see the same issue from my end.

Conversion to FP16
<img width="858" alt="12080_moFP16" src="https://user-images.githubusercontent.com/79643476/178393347-4129663c-68dc-493e-bf14-90cd457f6e56.png">

Hangs on blob creation
<img width="394" alt="blob_hangs_ub" src="https://user-images.githubusercontent.com/79643476/178393458-f5b16f01-fedf-47ad-b4f3-ee767ab1e1a5.png">

I tried on a

[2022-07-12 08:35] fanxiaochen456 commented on #12096
@jgespinoHello, THE OpenVINO version I'm using is OpenVino_2020.3.355 +VS2017+Python3.6.8. The OpenVINO environment configured is as follows:
Package                       Version
----------------------------- ---------
Absl - py 0.15.0
Astor 0.8.0
Astunparse 1.6.3
Cachetools 4.2.4
Certifi 2022.6.15
Charset - normalizer 2.0.12
Cycler 0.10.0
Dataclasses 0.8
The decorator 4.4.2
Defusedxml 0.7.1
Enum

[2022-07-12 08:44] fanxiaochen456 commented on #12096
@jgespinoHello, THE OpenVINO version I'm using is OpenVino_2020.3.355 +VS2017+Python3.6.8.
The command for model transformation is
Py --input_model east_model_3t736_dm. pb --input_shape [1,736,736,3], --output east_detect/concat --data_type FP32/FP16,
The test input is the characteristic of [1,3,736,736], the expected output is [1,7,184,184], and the output is the offset relative to the original p

[2022-07-12 13:25] paulguerrie commented on #12080
Thanks for looking into this!  Also, can you explain more what you mean by:

Is this to do with the architecture of the model?

[2022-07-12 13:44] anjalirai-intel commented on #11973
I have tried with packages when openvino was working and eventually i end up with pybind11 error. I tried installing pybind11, pybind11[global] as well using python, but it does not helps.

Can you give me a list of exact working set of libraries which works for openvino 2021.4.752 in ubuntu 18.04 for a fresh environment

[code]

[2022-07-13 03:45] zulkifli-halim commented on #12021
@shliar, I ran test_pytorch.py from your [repo](https://github.com/shliar/craft-openvino-pytorch) and didn't recieved the same result as yours and received error when running test_openvino.py.

PyTorch
[code]

OpenVINO:
[code]

You can try this command to convert craft.onnx to IR and see if it makes any changes:
`mo --input_model craft.onnx --input_shape [1,3,706,706] --reverse_input_channels --me

[2022-07-13 05:53] brmarkus commented on #11973
When setting-up a new system (like RVPs or CRBs) using Ubuntu18 and Ubuntu20 then I only use OpenVINO's install scripts.

When cloning OpenVINO source-code repo for a specific version then don't forget to specify the corresponding versions of the sub-modules as well (otherwise you clone OpenVINO, switch to a specific version but the sub-modules might still be HEAD/MASTER); don't just do a `git sub

[2022-07-13 06:02] anjalirai-intel commented on #11973
I am not building from sources. I am building from here

[2022-07-13 06:03] anjalirai-intel commented on #11973
Sorry, i closed the issue by mistake

[2022-07-13 06:25] brmarkus commented on #11973
Hmm, now I lost the overview.
You are within a Docker container, "isolated environment"? Is this an OpenVINO-container, or based on an OpenVINO docker container?
Within the container have you "fully installed" OpenVINO (by installing it, by calling the install-scripts)? Can you build the OpenVINO samples as well as the contained Open-Model-Zoo demos successfully? Can you successfully use some of t

[2022-07-13 06:38] anjalirai-intel commented on #11973
@brmarkus I am within a docker container. No, its not an openvino container.

My whole problem is I am not able to install openvino.

If you have something where you are able to run openvino 2021.4.752 in a fresh ubuntu 18.04 environment. I would like to know the steps

https://storage.openvinotoolkit.org/repositories/openvino/packages/2021.4.2/

[2022-07-13 07:12] fanxiaochen456 commented on #12096
@Iffa-MeahHello, this is my demo address, you can get the demo I want to test through the address, thank you.
https://github.com/fanxiaochen456/t.git

[2022-07-13 07:30] brmarkus commented on #11973
Start here to download OpenVINO: https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html

And then you can "blindly" follow the installation description under "https://docs.openvino.ai/2021.4/openvino_docs_install_guides_installing_openvino_linux.html":

install it
install dependencies
source the environment (i.e. ENV variables)
model-optimizer required dependencies

[2022-07-13 07:32] brmarkus commented on #11973
Here, "https://github.com/openvinotoolkit/docker_ci", you can see how different variants of OpenVINO gets put the publicly available Docker containers.

[2022-07-13 07:32] anjalirai-intel commented on #11973
I initially tried from there, there were some issue and then someone from openvino team gave me this link to refer from

[2022-07-13 13:02] Mxx-001 commented on #12047
Hi @Iffa-Meah ,
- Model file:  vgg16-12-int8.onnx
- Commands: python mo_onnx.py --input_model ./vgg16-12-int8.onnx --input_shape=[1,3,224,224] --use_legacy_frontend --output_dir ./IR

[2022-07-13 13:04] Mxx-001 commented on #12047
- Link of the model file： https://github.com/onnx/models/tree/main/vision/classification/vgg/model

[2022-07-13 13:13] shliar commented on #12021
Hi:
    Your error can be solved by using the 'test_openvino.zip' I provided .You need to unzip it and replace the 'test_openvino.py' in https://github.com/shliar/craft-openvino-pytorch with 'test_openvino.py' in the compressed package

[test_openvino.zip](https://github.com/openvinotoolkit/openvino/files/9102321/test_openvino.zip)

And  I've tried this command to convert craft.onnx to IR，but it c

[2022-07-13 16:14] hyperfraise commented on #11371
Had the same issue with a much different model and `-hint none` solved it as well. Thanks.

[2022-07-13 18:40] jgespino commented on #11807
@szabi-luxonis Not yet, once we have a mix I will link the pull request.

[2022-07-13 18:54] MiraGaikwad opened #12141 "[Bug] Unable to Initialise Openvino environment on Raspberry Pi 3"
##### System information (version)

- OpenVINO=Unable to initialize Openvino environment is not getting initialised
- Operating System / Platform => Raspeberry Pi 3 , version 10 (buster)
- Problem classification => Installation

##### Detailed description

Hello,

I have installed OpenVINO version 2021.4.2 on Raspberry Pi and trying to initialise OPENVINO environment. When I run setupvars.sh file

[2022-07-14 04:01] zulkifli-halim commented on #11953
The error is related to the incompatibility between the POT Accuracy Awareness object detection demo (as pot/api/samples/object_detection/obejct_detection_sample.py is using mobilenetv1) and yolov5s model.

The [ssd_mobilenet_v1_fpn](https://docs.openvino.ai/latest/omz_models_model_ssd_mobilenet_v1_fpn_coco.html#output) model has single output name `DetectionOutput` and shape: `1, 1, 100, 7`, wher

[2022-07-14 05:19] brmarkus commented on #12141
Can you provide more details, please? How have you installed it, have you noticed errors or warnings while installation (via the provided install/install-requirements scripts)?
Which Python version is present on the system?

Can you capture the output of calling "env" before and also after calling "setupvars.sh" and compare?

Have you called it like "source /opt/intel/openvino/setupvars.sh" or ".

[2022-07-14 06:05] zulkifli-halim commented on #12111
Hi @songs18. You can install the OpenVINO developer package via pip. The installation step is available in [OpenVINO Development Tools](https://pypi.org/project/openvino-dev/). The developer package also installs the OpenVINO Runtime package as a dependency. It includes a set of libraries for easy inference integration into your applications.

The requirement_tf.txt file is available in this locat

[2022-07-14 06:11] slyalin commented on #12047
@Mxx-001, is there any specific reason to use `--use_legacy_frontend` option? Does it work w/o this option?

[2022-07-14 07:03] songs18 commented on #12111
Thanks.

I want to integrate my trained onnx model (translated from .pth) into one Python application.
But i cannot use usual methods, like pyinstaller/nuitka, to package it into my exe file.
I am confused that how to package openvino  into my exe. Or openvino works like system-level services.

Are there some tutorials about it?
I know [Depolyment Manager](https://docs.openvino.ai/latest/openvino_

[2022-07-14 07:05] songs18 commented on #12111
Thanks@[jgespino](https://github.com/jgespino) for removing bug labels.

[2022-07-14 07:14] tomdol commented on #12047
I've tried running this model using OV's benchmark_app but it contains a non-standard ONNX operator called `com.microsoft.QLinearAdd`. The `QLinearConv` operation you mentioned in this issue is supported though.

[2022-07-14 08:09] Iffa-Meah commented on #12096
@fanxiaochen456 I tested your model.
The performance difference between CPU and GPU is around 0.76 FPS (which is halves).

Benchmark_app (CPU)
<img width="580" alt="12096_CPU" src="https://user-images.githubusercontent.com/79643476/178931791-65de71e3-23cf-4dcf-9e15-3b2c686806a4.png">

Benchmark_app (GPU)
<img width="583" alt="12096_GPU" src="https://user-images.githubusercontent.com/79643476/17893

[2022-07-14 09:35] fanxiaochen456 commented on #12096
@jgespino Hello, I have checked the loss function of this model, and it uses a custom loss function. So, besides replacing the loss function to retrain the model, is there any other way to replace the mode supported by OpenVINO?

[2022-07-14 10:53] Iffa-Meah commented on #12096
@fanxiaochen456 not sure if you are actually trying to refer to me (replied to my answer above) or if you want @jgespino opinions about this since you mentioned him instead of me lol.

Anywhere here's my insight:

Compressing a model from its original format into FP16 would definitely have its drawback.
Most of the time the inferencing time gets better but the trade-off is accuracy (less accurate)

[2022-07-14 12:44] Mxx-001 commented on #12047
@slyalin， I have to do personal research with the legacy frontend.

[2022-07-14 14:07] fenaux commented on #11760
@jgespino
Sorry for the long delay but I had other wok ongoing

The original error in this post arrived when I uploaded the file I obtained on my computer. Note the inference worked on my computer but inference with transformed model was longer than inference with original model from ultralytics.

I tried your solution on google colab
I obtained both xml and bin files

but when I try to run on Dev

[2022-07-14 15:04] MiraGaikwad commented on #12141
@brmarkus - Thanks for responding...!!

I have downloaded it from the site - https://download.01.org/opencv/2021/openvinotoolkit/2021.2/

Followed below steps -

1. Download location    -   cd ~/Downloads/
2. Created directory       - sudo mkdir -p /opt/intel/openvino_2022
3. Extracted download   - sudo tar -xf l_openvino_toolkit_runtime_raspbian_p_<version>.tgz --strip 2 -C /opt/intel/openvino_20

[2022-07-14 17:54] brmarkus commented on #12141
Thank you for the details.
I just tried your steps and saw one tiny missed detail...
You downloaded `l_openvino_toolkit_runtime_raspbian_p_2021.2.185.tgz` from "https://download.01.org/opencv/2021/openvinotoolkit/2021.2/".

Then you need to follow the installation description under "https://docs.openvino.ai/2021.2/openvino_docs_install_guides_installing_openvino_raspbian.html", where from your des

[2022-07-14 18:12] jgespino commented on #12080
@paulguerrie The Segformer model is not supported on MYRIAD. We do have a list of public supported models and Intel Pre-trained models. Could you take a look at the following and see if any of these models fit your use case?

https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/device_support.md
https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/devic

[2022-07-14 18:24] paulguerrie commented on #12080
Thanks for tracking down that info @jgespino !  I'll take a look at the links you provided. Could we open a model enablement request for SegFormer for MYRIAD?

[2022-07-14 18:33] jgespino commented on #12080
@paulguerrie Could you send me an email as I need additional information from your side? My email is visable on my profile.

[2022-07-15 02:29] Iffa-Meah commented on #12096
@fanxiaochen456 as I explained above, there are a few factors that may lead to your issues:
1. Your model has unsupported operations/functions. (perhaps as you mentioned, your model uses a custom loss function which is not supported by OpenVINO)
2. Compressing a model from its original format or full precision FP32 into smaller in size precision (FP16/INT8) would definitely have its drawback. Most

[2022-07-15 02:30] Iffa-Meah commented on #12039
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-15 02:30] #12039 closed

[2022-07-15 04:51] fanxiaochen456 commented on #12096
@Iffa-Meah Hello, the solution you recommended mentioned that you can use C++ to customize the operation, right?

[2022-07-15 07:28] MiraGaikwad commented on #12141
@brmarkus - This worked.. Thanks you so much for the help.

Cheers
Mira

[2022-07-15 07:44] Iffa-Meah commented on #12096
@fanxiaochen456 yes it is

[2022-07-15 08:02] slyalin commented on #2976
Hi @Hrayo712, precisely speaking we have switched to the new front-end for ONNX which is implemented in C++, but int8 approach is the same: first we decompose ONNX Qxxx operations in sub-graph consisting only supported OpenVINO operations using strict mathematical definition of operations, then we optimize these graphs applying several transformations in the optimization pipeline to make the graph

[2022-07-15 08:10] brmarkus commented on #12141
Any left questions? Feel free to close the issue.

[2022-07-15 08:11] slyalin commented on #2976
@Mxx-001, could you explain which particular problem you have? Thread says that the problem was resolved. Now we have switched to C++ ONNX front-end, this is a different code-base, in the following file you can see how QLinearConv is decomposed: https://github.com/openvinotoolkit/openvino/blob/master/src/frontends/onnx/frontend/src/op/qlinear_conv.cpp.

I would encourage you not to look into Pytho

[2022-07-15 08:33] fanxiaochen456 commented on #12096
@Iffa-Meah Hello, I am not very good at C++, could you please provide some reference cases? It's about some custom layer processing cases and stuff like that.

[2022-07-15 08:57] anjalirai-intel commented on #11973
Thanks for all the help.

I am able to build openvino now by restricting onnx==1.8.1 in ./deployment_tools/model_optimizer/requirements.txt.

If i try to install separately using apt, it ends up with pybind11 error, but this way it works.

[2022-07-15 09:00] MiraGaikwad commented on #12141
Not for now.. Thanks closing the issue.

[2022-07-15 09:00] zulkifli-halim commented on #12111
@songs18. OpenVINO installed via pip does not support deployment packages. If you want to use Deployment Manager to create deployment packages, I recommend that you install the [Intel Distribution of OpenVINO Toolkit](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html) (runtime package), because [Deployment Manager](https://docs.openvino.ai/latest/openvino_docs_

[2022-07-15 09:00] slyalin commented on #11970
The originally reported issue has been completely solved at that point, right?

Have you achieved successful conversion by using paddle to ONNX conversion step first and only the feeding the resulting ONNX model to OpenVINO as you described in your original message? Or have you made it by feeding the original paddle model directly to OpenVINO? Just FYI, we are supporting direct paddle import witho

[2022-07-15 09:07] Iffa-Meah commented on #12096
@fanxiaochen456 you could refer to the guide I  provided above actually. ([OpenVINO Extensibility Mechanism](https://docs.openvino.ai/latest/openvino_docs_Extensibility_UG_Intro.html#openvino-extensibility-mechanism))
Please help to carefully read through the guide as it does provide the required codes.

[2022-07-15 10:24] Mxx-001 commented on #12047
@slyalin， the new FE currently seems to only support ONNX* and PaddlePaddle*.

[2022-07-15 10:28] slyalin commented on #12047
That's correct, but the model that you mentioned is in ONNX format. Are you originally interested in a different framework?

[2022-07-15 10:28] wenjiew commented on #11802
Here is documentation on NNCF usage: https://github.com/openvinotoolkit/nncf/blob/develop/docs/Usage.md
There is also this tutorial on how to use POT: https://docs.openvino.ai/latest/pot_default_quantization_usage.html

[2022-07-15 10:35] Mxx-001 commented on #12047
I just want to learn to use the extension of MO through the ONNX model and reuse it on other frameworks(Caffe*, TensorFlow*, etc).

[2022-07-15 10:48] ilya-lavrenov commented on #11978
Hi @gsarathkumar92
I think you can use Model cache feature https://docs.openvino.ai/latest/openvino_docs_OV_UG_Model_caching_overview.html. Once you don't need any model, you can unload it. Once you need it once again - just reload from disk, but since the compiled model is already cached, the loading / compilation will be much faster.

[2022-07-15 10:49] rkazants commented on #11970
Hello @gyr-kdgc!

We didn't change the logic of reading .pb format in the latest release. However, we changed `requirements.txt` file so your original TF1 environment is not re-written to TF2 anymore (unlike in the previous OpenVINO release). My hypothesis is that you have a deal with TF2 model in .pb format and your environment is TF1 that is why the conversion is broken. Please try to run `pip i

[2022-07-15 10:56] brmarkus commented on #11978
How? How to unload the model? Which API(s) to call to unload the model and free-up memory?

[2022-07-15 11:10] songs18 commented on #12111
I can generate a zip from an older version of openvino, and publish it on the target machine.
However, after running .\setupvars.bat on the target machine, how can I call it to inference new images?
[Deployment Manager](https://docs.openvino.ai/latest/openvino_docs_install_guides_deployment_manager_tool.html) does not have relevant examples.

[2022-07-15 11:22] ilya-lavrenov commented on #11978
[code]
Just destroy the object.

[2022-07-15 12:05] slyalin commented on #12047
@Mxx-001, please refer to this guide https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_customize_model_optimizer_Customize_Model_Optimizer.html for basic instruction about how to extend legacy Model Optimizer Python code base. But anyway I would recommend you to avoid using the old extensibility. It is a hard topic. If you need support for a particular model, just place correspondi

[2022-07-15 16:32] onurbarut commented on #11917
Hi, @zulkifli-halim, yes, I just confirmed that I saved the weights of Keras model. But that shouldn't be a problem because I can load weights back to keras model and save it using tf.save_model or freeze keras model  using convert_variables_to_constants_v2 and tf.io.write_grapgh methods. Am I correct?

Thanks,
Onur

[2022-07-15 17:14] jgespino commented on #11939
@korotaS We don't normally post release dates as there is always risk of them changing. I encourage you to monitor the OpenVINO [downoad page](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html) and [release notes](https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes.html) periodically.

Also, if you would like to build Open

[2022-07-15 17:14] #11939 closed

[2022-07-15 17:21] jgespino commented on #11942
Closing, please re-open if additional assitance is needed.

[2022-07-15 17:21] #11942 closed

[2022-07-15 18:14] MiraGaikwad opened #12179 "[Bug] RuntimeError : Unknown model format! Can not find reader for model format: xml and read the model: Resnet50V2_UCMerced.xml. Please check that the reader library exists in your path."
##### System information (version)

OpenVINO=Unable to initialize Openvino, environment is not getting initialised on Raspberry Pi 3
OpenVINO = 2021.4.2
Operating System / Platform => Raspeberry Pi 3 , version 10 (buster)
Problem classification =  Installation
Python Version = 3.7

##### Detailed description

I am facing below error while making inference on Raspberry Pi3 and Interl Neural Compute

[2022-07-16 08:11] brmarkus commented on #12179
This sounds like the system where you created and converted the IR-model has a different OpenVINO version installed than the system you want to run the inference on.

If you have a look into the first lines of the "Resnet50V2_UCMerced.xml" file, then you will find something like:

[code]

Can you ensure the OpenVINO versions are the same on both systems?

[2022-07-16 10:58] MiraGaikwad commented on #12179
@brmarkus - Thanks a lot for the response.

Yeah first 2 lines are -

<?xml version="1.0" ?>
<net name="IR_model" version="11">

Actually, on Windows I have OPENVINO version of 2022 and on Raspberry PI I have 2021 version.
The problem is, I am unable to see "Model Optimizer" folder and files in my Raspberry Pi installations.

What I observed so far is only if I do installation using PIP then only

[2022-07-16 11:51] brmarkus commented on #12179
The pre-built installation-package for Raspberry doesn't include the MOdel-Optimizer, as mentioned here:
https://docs.openvino.ai/2021.2/openvino_docs_install_guides_installing_openvino_raspbian.html

The package does not include the [Model Optimizer](https://docs.openvino.ai/2021.2/openvino_docs_MO_DG_Deep_Learning_Model_Optimizer_DevGuide.html). To convert models to Intermediate Representation (

[2022-07-17 09:47] AyaNasser96 commented on #11942
Thank you so much @jgespino ,
Why you are using those mean values ? should not we use the mean values * 255 ?
Do you have any interpretation why original-onnx results are different from pytorch results ?

[2022-07-17 19:43] WangRuixin93 opened #12188 "Error: mo_result = %sx $mo_command"
mo_result = %sx $mo_command
                ^
SyntaxError: invalid syntax

what does " %sx $" mean？I  can't find it google

[2022-07-18 01:07] cxf2015 commented on #11669
@riverlijunjie the 2 peaks in the 1.2 GB diagram is processing two big size image. The other 30 images are of similar size.

[2022-07-18 06:47] Iffa-Meah commented on #12060
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-18 06:47] #12060 closed

[2022-07-18 07:52] fanxiaochen456 commented on #12096
@Iffa-Meah Hello.When using C++ to carry out custom model reasoning, is it necessary to write some code supporting custom layer from the model of FP32 in C++?

[2022-07-18 08:32] Iffa-Meah commented on #12096
@fanxiaochen456 necessary if you are using an[ unsupported layer with OpenVINO](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html). If else, then no need.

[2022-07-18 09:02] fanxiaochen456 commented on #12096
@Iffa-Meah Hello, my model contains a customized loss. According to the official website, should I use Cmake for recompilation?

[2022-07-18 09:47] xiguadong opened #12196 "dose quant tool support lstm operations in onnx?"
hello,
   I have some rnn models within LSTM operations , does the quant tool of openvino support this operation?
   sry, I don't find the quantable opertion support list from  https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_IR_suitable_for_INT8_inference.html

[2022-07-18 10:51] fanxiaochen456 commented on #12096
@Iffa-Meah @Iffa-Meah Hello, my model contains a customized loss. According to the official website, should I use Cmake for recompilation? I didn't find the core.add_extension function mentioned in the documentation.
![image](https://user-images.githubusercontent.com/101849755/179496362-39f934b5-fc30-499c-9ed0-f1faba72ec90.png)

[2022-07-18 11:02] jane-intel commented on #11918
@korotaS, `Core` object is essential to keep till the end of the program. You could save it in your `OpenVinoEngine` object like so

![image](https://user-images.githubusercontent.com/55839243/179497692-8f851cca-0ae1-49b1-8e71-a8f82d9f373d.png)

I would like to note that this is more of a workaround, OpenVINO engineering team is working on fixing it.

[2022-07-18 11:31] fanxiaochen456 commented on #12096
@Iffa-Meah Hello, can I refer to the example in text_detection_demo?

[2022-07-18 12:30] das-ankur opened #12202 "unresolved external symbol CreateFormatReader referenced in function "public: __cdecl FormatReader::ReaderPtr::ReaderPtr(char const *)""
`const std::string image_path = "absolute_image_path.jpg";`
`FormatReader::ReaderPtr reader(image_path.c_str());`
I am getting error on the second line. I checked the constructor defintion of FormatReader::ReaderPtr. It takes argument as const char * . Here, I convert the string to const char * by c_str() and pass it. I also tried to stroe the whole string as const char* and passed that. In both t

[2022-07-18 17:35] das-ankur commented on #12202
I am building it on visual studio. In external libraries it is also present but when I am writting this code it's generating error.

[2022-07-18 17:47] brmarkus commented on #12202
Is your VisualStudio-project based on MAKE, based on CMAKE? Is the project manually maintained (manually adding include search-paths, library-search-paths, libraries to link)?
Does your project allow to call "cmake" manually? Then CMAKE will create a file like "CMakeCache.txt", in which you can check whether "format_reader" was found and under which path.
Do you see a difference with a project-bui

[2022-07-19 01:19] Iffa-Meah commented on #12188
@WangRuixin93 may I know where you encountered that %sx? is it in an OpenVINO samples/demo?
If according to the standard C library, the %s expects a string while %x expects a hexadecimal number (format specifier).

If you are referring to the Jupyter Notebook/Lab command, the %sx command works exactly like the %system command where it executes any single line Unix shell command from the notebook.

[2022-07-19 01:25] Iffa-Meah commented on #12096
@fanxiaochen456 yes it's good to make an official samples/demos as reference as they are validated to work.
While you're at it, check on how the sample/demo handles the GPU too, and cross-check with yours.

[2022-07-19 02:15] fanxiaochen456 commented on #12096
@Iffa-Meah Hello, I found the demo of text detection, but some packages involved in it could not be found and could not be implemented. For example, is there a tutorial for gflags.h?

[2022-07-19 02:43] WangRuixin93 commented on #12188
Got it. It belongs to the latter. The code is from 'Convert a PyTorch Model to ONNX and OpenVINO IR' (https://docs.openvino.ai/latest/notebooks/102-pytorch-onnx-to-openvino-with-output.html) section 'Convert ONNX Model to OpenVINO IR Format'.
I run it in Pycharm IDE under win10. Instead of running the original code, I have directly run mo_onnx.py in terminal.

[2022-07-19 04:14] brmarkus commented on #12096
For the "Google command line parser flags", you might want to check this guide: "https://gflags.github.io/gflags/".

[2022-07-19 04:54] ilyachur commented on #12202
@das-ankur Could you double check that your Visual Studio project is linked with FormatReader library?

[2022-07-19 04:55] zulkifli-halim commented on #12196
Hi @xiguadong. LSTM layer is supported in ONNX framework. You may refer to [Supported Framework Layers](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html#onnx-supported-operators).

Low precision IR is also suitable for FP32 and FP16 inference if a chosen plugin supports all operations of the IR, because the only difference between a Low Precision I

[2022-07-19 05:29] zulkifli-halim commented on #11953
@hitesh-anand. We don't have any example that is related to the yolov5s model, because this model is not a part of the Intel Open Model Zoo.

It requires major changes if you want to quantize an object detection model in accuracy-aware mode using yolov5s. We suggest you explore the network architecture of the yolov5s model and object detection algorithm to implement in this sample.

[2022-07-19 07:02] das-ankur commented on #12202
@ilyachur Yes, I can find it inside external libraries of visual studio and I am also not getting error on the include statement of format_reader_ptr and format_reader.

[2022-07-19 07:04] das-ankur commented on #12202
@brmarkus Yes, it is based on CMAKE and some at first I was linking it manually and from now I am linking the format_reader using cmake file. As you have said I check the CMakeCache.txt file but I have not found the format_reader in this.

[2022-07-19 07:06] das-ankur commented on #12202
@tomdol I am new to openvino. Can you please tell me how can I link the target. I used include_directories in cmake file for linking but can't understand how to link with the target.

[2022-07-19 07:35] brmarkus commented on #12202
Can you run a clean-build, again, please?
I just checked again with the OpenVINO inference-engine demos and in "CMakeCache.txt" in my build-directory I can see this:

[code]

[2022-07-19 07:54] fanxiaochen456 commented on #12096
@brmarkus Thank you.
@Iffa-Meah Hello, if I change the model's custom loss function to MSE loss function after retraining, does OpenVINO support it?

[2022-07-19 07:54] brmarkus commented on #12202
It might look like you have some dependencies in `CMakeLists.txt` files and some in your VisualStudio project-settings distributed.
If all dependencies (search-paths for header-files and libraries and the thirdparty libraries) are in `CMakeLists.txt` files, then calling `cmake` would immediately result in errors where dependencies could not be found - before calling `make` to compile and link.

[2022-07-19 14:26] MiraGaikwad opened #12224 "[Bug]RuntimeError: Device with "CPU" name is not recognised in InferenceEngine"
##### System information (version)

OpenVINO=I am able to make inference using Raspberry Pi 3 + Neural Compute Stick2 but unable to make inference using Raspberry Pi3 + CPU

OpenVINO = 2021.4.2
Operating System / Platform => Raspeberry Pi 3 , version 10 (buster)
Problem classification = Inference
Python Version = 3.7

##### Detailed description
I am able to make inference using Raspberry Pi 3 + Ne

[2022-07-19 15:35] brmarkus commented on #12224
Please have a look at the ARM plugin, e.g. here: https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/arm_plugin/README.md

[2022-07-19 20:11] amarjeet-saini commented on #11668
@peterchen-intel solution provided @songbell works when I create AsyncInferQueue with optimal # of infer requests

[2022-07-19 21:36] jgespino commented on #11262
@SiegfriedIppischSecuriton I've been trying to setup OpenVINO 2022.1 from master branch to see if the issue is still preset. However, when building as Debug and configuring Microsoft Visual Studio. Same issue is seen when setting up as debug with OpenVINO 2021.4.2. I run into the following errors.

You mentioned, you build OpenVINO from source to enable debuggin and tracing. Could you share the cm

[2022-07-19 22:26] MiraGaikwad commented on #12224
@brmarkus - Thanks for the response. I checked the link and looks like those plugins are for Raspberry Pi4 but I am using Raspberry pi 3.

Do you know if plugins are available for Raspberry Pi3 as well ?

Cheers
Mira

[2022-07-20 01:10] miccio-dk opened #12226 "[Bug] shape_len assertion fails when exporting model with 3-dimensional input shape"
##### System information (version)
- OpenVINO => 2021.4.2
- Operating System / Platform => Ubuntu 20.04.4 LTS (WSL2)
- Problem classification: Model Conversion
- Framework: ONNX
- Model name: TitaNet https://github.com/Wadaboa/titanet/blob/main/src/models.py#L162

##### Detailed description
I'm trying to export a model from ONNX. The model input takes a 3d tensor (BatchSize, Features, TimeFrames)

[2022-07-20 02:26] Iffa-Meah commented on #12096
@fanxiaochen456 it should work as long as you are using a supported framework layer which you may refer [here](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html).

But again, bear in mind (as I mentioned previously) **compressing** a model from its original format or full precision FP32 into smaller in size precision (FP16/INT8) **has drawback**. If

[2022-07-20 02:28] Iffa-Meah commented on #12188
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-20 02:28] #12188 closed

[2022-07-20 02:34] zulkifli-halim commented on #12111
@songs18. You can use the Deployment Manager tool in the [standard CLI mode](https://docs.openvino.ai/latest/openvino_docs_install_guides_deployment_manager_tool.html#run-standard-cli-mode) as an alternative.

You also can refer to [Build Your Application with Deployment Package](https://docs.openvino.ai/2022.1/workbench_docs_Workbench_DG_Deployment_Package.html). But this is only compatible with

[2022-07-20 03:26] #12111 closed

[2022-07-20 05:15] brmarkus commented on #12224
Sorry, cannot answer, I haven't used the ARM plugins on my own, yet.
You might need to seek for help under "https://github.com/openvinotoolkit/openvino_contrib".

[2022-07-20 06:16] das-ankur commented on #12202
I am getting run time error. During calling cmake I am not getting any error. Should I share with you the cmake file?

[2022-07-20 06:17] das-ankur commented on #12202
Hey, sorry I can't share the whole code as I have some restrictions to do. But I can share the cmake file and some part of the code. Will it work?

[2022-07-20 06:54] zulkifli-halim commented on #11917
@onurbarut. We'll investigate further to provide some more alternatives for you and we'll get back asap.

[2022-07-20 06:54] zulkifli-halim commented on #12021
@shliar. We'll investigate further to provide some more alternatives for you and we'll get back asap.

[2022-07-20 07:27] SiegfriedIppischSecuriton commented on #11262
Hi @jgespino,

The error says, it cannot find std::mutex. This is a problem, i have also encountered, some time ago. Maybe it is the same.

https://stackoverflow.com/questions/49791269/mutex-is-not-supported-when-compiling-with-clr-or-clrpure-cpprestsdk-aka-casa

https://stackoverflow.com/questions/15821942/how-to-implement-a-unmanaged-thread-safe-collection-when-i-get-this-error-mute/15822678#158

[2022-07-20 08:07] #12047 closed

[2022-07-20 09:17] fanxiaochen456 commented on #12096
@Iffa-Meah Hello, I changed the loss function for retraining after testing, and no NaN value appeared. The loss function will not participate in the model reasoning process. Why does the loss function of the original model affect the occurrence of NaN value in the reasoning process?

[2022-07-20 14:08] jane-intel commented on #12226
Hello @miccio-dk!

I see that the problem you report was fixed in the latest available release of OpenVINO -- 2022.1 release and it also successfully works on `master` branch.

Minimal CLI for Model Optimizer should be:
[code]
It would produce model with dynamic input. You can read more about it [here](https://docs.openvino.ai/latest/openvino_docs_OV_UG_DynamicShapes.html):

If you'd like to fix t