[2020-04-30 09:14] Strimblaster commented on #477
Thank you, it worked!

MobileNetSSD

Can I close this?

[2020-04-30 09:38] jjkislele commented on #395
@DarkPatate68 got the right path.

I just want to make some additions. If the environment is Linux, `plugins.xml` locates at `your_openvino_install_root/openvino/inference_engine/lib/intel64`.

BTW, you guys may have the question "why every OpenVINO model needs `plugins.xml`?". Because, when we initialize `InferenceEngine::Core::Core` object, `InferenceEngine::Core::Core` would load default plugin

[2020-04-30 11:13] dkurt commented on #479
Hi!

OpenCV tests both NNBuilder and nGraph APIs for network creation in runtime. They can still work but there are some limitations - you cannot use layers iterator and some of the deprecated methods. If so, the network will be internally converted to old representation.

See https://github.com/opencv/opencv/pull/17134 and https://github.com/opencv/opencv/pull/16687

[2020-04-30 17:01] #477 closed

[2020-05-01 05:04] andeyeluguo opened #480 "the debug mode failed when it runs get_opts"
I am using openvino installed by the official tutorial. But when I run this code in debug mode, it crashed.
[code]
it crashed when it runs get_opts. Works well in release mode, but failed in debug mode.
I try to find why, and just find that
[code]
will get empty param in debug mode, while it is not empty in release mode.
I also found the the debug mode is using ngraph.dll , not the ngraphd.dll. th

[2020-05-01 09:51] #480 closed

[2020-05-04 10:56] ongun-kanat opened #481 "Inference engine refuses to run simple TF model on MYRIAD"
Hi I am trying to execute the simple TF 1.x model below that calculates a matrix multiplication operation `y = A*x` on Intel neural compute stick 2:

[code]

Then I generate IR model using model optimizer with this command:

[code]
Then I use this script to execute model and get the average run time:

[code]

The command I use to execute the inference script is:

[code]
This command fails with the

[2020-05-04 18:16] nyckyta opened #482 "Product of output shape dimensions does not match product of argument shape dimensions (Raspbian, MYRIAD)"
Hello!

I have installed openvino toolkit (2.2 release version) on raspberry pi 3b+, but unfortunately nor test example neither my own do not work and fail printing this log:

[code]

Have I made some mistakes with installation? Should version to be 2.2?
**3899752448** - that number from log different after each attempt.

[2020-05-05 12:58] JulienMaille opened #483 "Recommended steps to convert PyTorch model with upscale/interpolate layer"
Hello, I'm trying to find out what is the best way to convert my model to OpenCV and cover old CPUs (with default OpenCV backend taking a onnx) and more recent Intel CPUs (with IE backend taking bin/xml)

This model trained with qubvel library has an interpolate layer in the decoder
https://github.com/qubvel/segmentation_models.pytorch/blob/master/segmentation_models_pytorch/unet/decoder.py#L36

T

[2020-05-05 19:56] jbrownkramer commented on #117
openvino_2020.1.033\deployment_tools\inference_engine\bin\intel64\Debug does not contain tbb.dll or tbb_debug.dll.  It's blocking me from running a standalone model.

[2020-05-06 02:37] qiyuangong opened #484 "OpenVINO Docker DLWorkBench error on Ubuntu 18.04"
OS: Ubuntu 18.04
Docker Version:  19.03.8
Command used:
[code]

This command works on my macOS, but failed on Ubuntu.

Error encountered.

[code]

[2020-05-06 08:34] dkurt commented on #483
@JulienMaille, can you please try to run the model with OpenCV and `DNN_BACKEND_INFERENCE_ENGINE`?

[2020-05-06 09:53] JulienMaille commented on #483
Hello @dkurt , I've mentioned my OpenVino version (2019 R3).
Are you telling me that OpenCV can feed onnx to `DNN_BACKEND_INFERENCE_ENGINE`?! What are the differences with my current worflow involving onnx to .bin with model optimiser?

[2020-05-06 10:18] qbTrible opened #485 "openvino convert PSPNet to IR"
Does anyone convert PSPNet to openvino IR model? When I do this, an error occurred.
"There is no registered "infer" function for node "245" with op = "Resize". Please implement this function in the extensions."
But the openvino document shows the "Resize" Opset-10 version is supported.
Does anyone know the reason?

[2020-05-06 10:35] dkurt commented on #483
@JulienMaille, you need to try the latest OpenVINO (2020.2) and the latest OpenCV (4.3.0 or even master branch).

In case of `.xml` and `.bin` you use Model Optimizer to convert `.onnx` into Intermediate Respesenstation.

Alternative solution is to pass `.onnx` into OpenCV directly and enable `DNN_BACKEND_INFERENCE_ENGINE` backend  - it will build similar IR in runtime and use OpenVINO's Inference

[2020-05-06 10:47] dkurt commented on #483
Oh, I see you point. So Try to build the latest OpenCV but with OpenVINO 2019R3. Use `-DINF_ENGINE_RELEASE=2019030000` flag to specify the version.

[2020-05-06 11:07] JulienMaille commented on #483
I'm working with OpenCV origin/master pulled 2 days ago. I've not manually set `INF_ENGINE_RELEASE` but CMake already set it to 2019030000 automatically.

[2020-05-06 12:03] dkurt commented on #483
That is strange. There is no way to determine IE version for now automatically. Please try with cleaned build folder.

What about experiment? Does it work or not?

[2020-05-06 13:32] JulienMaille commented on #483
You are correct, maybe running `setupvars.bat` did it for me?
`cmake -G "Visual Studio 16 2019" -A "x64" -DBUILD_LIST=core,imgcodecs,imgproc,highgui,dnn -DBUILD_TESTS=OFF -DOPENCV_EXTRA_MODULES_PATH=../../opencv_contrib/modules ../ -DWITH_INF_ENGINE=ON -DENABLE_CXX11=ON -DBUILD_opencv_world=ON -DWITH_IMGCODEC_PXM=OFF -DWITH_IMGCODEC_PFM=OFF -DWITH_IMGCODEC_SUNRASTER=OFF -DWITH_IMGCODEC_HDR=OFF -DW

[2020-05-06 13:36] dkurt commented on #483
@JulienMaille, can you check if `DNN_BACKEND_OPENCV` works? Is that possible to share a model to test locally?

[2020-05-06 13:43] JulienMaille commented on #483
Yes , it works with
[code]
Model is similar to the one I sent your email when we discussed the resized input issue.

[2020-05-06 23:01] leavim commented on #482
Hi @nyckyta , thanks for the information. We are aware of this issue and are able to reproduce, currently investigating the problem and looking for a fix.

I'll let you know in case there is a workaround. My suggestion would be to try and use a previous release if possible, since this problem seems to affect the 2020.2 release.

Regards,
Luis

[2020-05-06 23:06] nyckyta commented on #482
Thank you @leavim.

[2020-05-07 08:05] guoyejun commented on #458
thanks, just checked install_dependencies.sh and found that gstreamer/ffmpeg are dependencies, actually, they are not required for dnn inference only engine.

It would be better that we have a single command to build the inference c library. I'm thinking about add openvino support into ffmepg dnn backend (upstream), the community would be more acceptable if we can easily get the inference c librar

[2020-05-07 09:48] guoyejun commented on #458
i tried the build but met the following issue. I've done 'pip install ngraph-core', but still the same issue. could you help on this? thanks.

i'm using the following commit:
commit 95a57795dcb0ed82324af87918339225148202ca
Author: Alexey Suhov <alexey.suhov@intel.com>
Date:   Mon Apr 13 21:17:23 2020 +0300
    Publishing 2020.2 content

$ cmake -DENABLE_VALIDATION_SET=OFF         -DCMAKE_INSTALL_P

[2020-05-07 09:52] Maioy97 commented on #401
@gitunit  where do people usually get the cpu extensions
people reference them everywhere but there isn't a clear  method to get them

[2020-05-07 11:05] anmikh opened #487 "Loading models to CPU in different threads"
Is it possible to load networks in different threads via Core::LoadNetwork?

This function seems to be not thread-safe and thus mutex is required. It leads to sequential loading models in different threads and to increasing total time of loading models as a result.

Code that reproduces segfaults / terminates of the program without using mutex:

[code]

The problem is reproduced on the latest Open

[2020-05-07 14:01] rohit167 opened #488 "Convert trained yolov3 Darknet-53 custom model to tensorflow model"
I have trained a custom yolov3 Darknet-53 model (_yolo3_darknet53_custom.params_) using gluon-cv (mxnet)

I need to convert the _yolo3_darknet53_custom.params_ (mxnet) model to _yolo3_darknet53_custom.pb_ (tensorflow)

Also, here I don't see yolo being supported [https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_MxNet.html](url) Still I tried using

[2020-05-07 19:10] jbrownkramer commented on #117
I see that it is an externals folder.

[2020-05-07 22:14] balmurat commented on #216
No I did not work on it. Instead I used a raspberry  pi computer which was
officially supported by openvino.

But according my initial inspection It might not be too difficult. I
compiled almost everything except some 64 intrinsic functions which could
be replaced by 32 bit equivalent instructions with conditional
compilations. I gave up in this place and decided to use raspberry pi in my
Project.

[2020-05-08 08:49] wdkwyf commented on #362
Hi, I find OMZ in OpenVINO is not synchronized with the latest version. Therefore, many models are missing such as yolo-v3. OpenVINO's OMZ is 2019-R1 now and I want to know how often will it update?

[2020-05-08 11:36] artyomtugaryov commented on #484
Do you use the image from https://hub.docker.com/r/openvino/workbench or build the image locally from the OpenVINO package?

[2020-05-08 13:03] qiyuangong commented on #484
Hi @artyomtugaryov.

I used image from docker hub for both mac and Ubuntu. The only difference is that my Ubuntu 18.04 works behind a proxy. :)

[2020-05-08 14:56] artyomtugaryov commented on #484
Can you try to build the image from the OpenVINO package? In this case, you need to download and install OpenVINO to your machine with Ubuntu and follow this instruction: https://docs.openvinotoolkit.org/latest/_docs_Workbench_DG_Install_from_Package.html

[2020-05-08 23:56] leavim commented on #478
@qbTrible is not very clear what the steps are to get to this problem. Make sure if you are running the _object_detection_demo_yolov3_async.py_ script on a CMD terminal to setup the environment variables running the _setupvars.bat_ script under _C:\Program Files (x86)\IntelSWTools\openvino\bin\_ directory.

Have you verified your installation of OpenVINO using verification scripts prior to running

[2020-05-09 05:24] qiyuangong commented on #484
Hi @artyomtugaryov

Still the same error. But I found DLWorkBench is actually working well in container.

The only problem is this error message may cover the token required for login.

Thank you for help!
Issue closed.

[2020-05-09 05:24] #484 closed

[2020-05-09 16:45] tech0x opened #489 "Error compiling Cython file:"
Cython-0.29.17
Python-3.6

Error compiling Cython file:
------------------------------------------------------------
...
    #  Usage example:\n
    #  ```python
    #  ie = IECore()
    #  net = ie.read_network(model=path_to_xml_file, weights=path_to_bin_file)
    #  ```
    cpdef IENetwork read_network(self, model: [str, bytes], weights: [str, bytes] = "", init_from_buffer: bool = False):

[2020-05-11 05:56] guoyejun commented on #458
another question is: is there any .pc file for the c library? So, I can detect if the current system supports openvino c library in makefile. thanks.

[2020-05-11 08:23] guoyejun opened #490 "possible mismatch within tensorDesc for hello_classification c sample"
Hi,

i don't quite understand the following code, is there a mismatch? thanks.

https://github.com/openvinotoolkit/openvino/blob/2020/inference-engine/ie_bridges/c/samples/hello_classification/main.c#L140
[code]

tensorDesc says that NHWC is used, but dimens contains NCHW (n=1, c=img.mat_channels, h=img.mat_height, w=img.mat_width).

Did I miss anything? thanks.

[2020-05-11 10:58] rohit167 opened #491 "Not able to generate IR for ssd_resnet50_512 using mxnet"
Is this issue fixed?
[https://software.intel.com/zh-cn/node/814950](url)

Receiving the same error while converting ssd_resnet50_512 from mxnet to IR.
[code]

[2020-05-11 20:30] ArtemSkrebkov commented on #490
Hi @guoyejun
The order of dims in the IE library is fixed and it is always `NCHW` for 4-D data. If you know that your data has `NHWC` layout you need to specify the `layout` field of `TensorDesc` but no need to change the order of the dims. It is, again, `NCHW`.

Have tried to find this info in the documentation but couldn't :(
You can rely on [implementation of `getLayoutByDims`](https://github.c

[2020-05-12 01:38] guoyejun commented on #490
thanks,

will openvino add an internal convert from NHWC to NCHW if we set NHWC layout? thanks.

[2020-05-12 02:31] guoyejun commented on #458
hi, i copied the libinference_engine_c_api.so and some other .so files to /usr/local/lib/, but looks that still the .so files under openvino source tree are used, how to let the application use the so files under /usr/local/lib/, thanks.
[code]
[code]

[2020-05-12 05:18] brmarkus commented on #458
You probably called "/opt/intel/openvino/bin/setupvars.sh", which sets the LD_LIBRARY_PATH environment variable.
If you add your path to LD_LIBRARY_PATH, will the copied libraries be found then?

[2020-05-12 05:48] guoyejun commented on #458
the LD_LIBRARY_PATH points to my path, not the openvino path.
[code]

and here is my command to cmake:
[code]

[2020-05-12 07:36] ArtemSkrebkov commented on #490
Yes. If a network expects to get `NCHW` but a user provides `NHWC`. It is a responsibility of a concrete plugin to do a conversion.

[2020-05-12 08:22] guoyejun commented on #490
thanks, and just curious why NHWC needs to be set twice, once here, and another place at https://github.com/openvinotoolkit/openvino/blob/2020/inference-engine/ie_bridges/c/samples/hello_classification/main.c#L109

[2020-05-12 13:07] natxopedreira opened #492 "onnx model conversion performance"
Hello

I converted the model found in this repo
[https://github.com/Star-Clouds/CenterFace/tree/master/models/onnx](https://github.com/Star-Clouds/CenterFace/tree/master/models/onnx)

And interfacing according this
[https://github.com/Star-Clouds/CenterFace/tree/master/prj-python](https://github.com/Star-Clouds/CenterFace/tree/master/prj-python)

For convertin i used
`/opt/intel/openvino_2019.3.37

[2020-05-12 23:50] natxopedreira commented on #411
@maxl16
How can we do Option 2 with a ready converted model like this one?
[https://download.01.org/opencv/2020/openvinotoolkit/2020.3/open_model_zoo/models_bin/1/face-detection-0100/FP16/](https://download.01.org/opencv/2020/openvinotoolkit/2020.3/open_model_zoo/models_bin/1/face-detection-0100/FP16/)

[2020-05-13 05:57] AJV009 commented on #387
Hi guys am a newbie programmer in OpenVINO environment. I went through the whole thread I couldn't figure out what should be done to run the latest OpenVINO toollkit on my i5-3320M (HP EliteBook 8470p)
Could someone write a script or some sort of program for people for like to me to use the Toolkit on older CPU version OR should I download OpenVINO 2019?

[2020-05-13 06:20] brmarkus commented on #387
@AJV009 can you describe your environment, please? Do you use MS-WIN or Linux or MacOS?
I use OpenVINO 2020.1 also on an Intel ATOM "ApolloLake", which doesn't have AVX CPU instructions.
I'm mainly using OpenVINO in a Docker container - as it installs quite a lot which clashes with some of my packages on my HOST.
OpenVINO comes with a lot of samples and demos - many of them could be used with Pyth

[2020-05-13 06:59] AJV009 commented on #387
Okay I use MS-WIN with Anaconda as my package/project manager.
somewhere here -> https://docs.openvinotoolkit.org/2020.2/_docs_install_guides_installing_openvino_windows.html#model_optimizer_configuration_steps
Should I really reproduce the errors. during the whole?
I faced a TON of warnings which I ignored, but then ended up with a error while running the samples mentioned in the installation gui

[2020-05-13 07:07] fujunwei opened #493 "[VPU] Failed to run convolution with asymmetric pads"
[MobileNetV1](https://drive.google.com/drive/folders/1TIdN3MepLthIyvYDNumAhY_hdoxtOW96) model can’t be run as expected on Neural Compute Stick2 device after upgrading Inference Engine to latest 2020.2 version with the [PR](https://github.com/otcshare/chromium-src/pull/27), but [SqueezeNet ](https://s3.amazonaws.com/onnx-model-zoo/squeezenet/squeezenet1.1/squeezenet1.1.onnx) can work normally, the

[2020-05-13 07:12] fujunwei commented on #479
Thanks so much.

[SqueezeNet](https://s3.amazonaws.com/onnx-model-zoo/squeezenet/squeezenet1.1/squeezenet1.1.onnx) can work as expected but failing to run [MobileNetV1](https://drive.google.com/drive/folders/1TIdN3MepLthIyvYDNumAhY_hdoxtOW96), i file a new [issue-493](https://github.com/openvinotoolkit/openvino/issues/493). welcome your comments, thanks.

[2020-05-13 07:12] #479 closed

[2020-05-13 10:56] maxl16 commented on #411
Hi @natxopedreira
Since this is already converted IR model, you should either go with Option 1 or try the latest Inference Engine version from latest available OpenVINO toolkit build.

[2020-05-13 11:01] natxopedreira commented on #411
Thanks @maxl16

Latest one is the same as mentioned in this issue, i think... i tried but not work and im using 2019 models but in 2020 there are more face models that want to try but i do not find a way of do it?

Will they work on opencv?

Do you know when is going to be release a 2020 compatible version on rpi??

Thank you

[2020-05-13 12:03] AlexKoff88 commented on #471
It seems that the logs are stored for a short period of time in the tool. Are you able to run the experiment again? We could provide guidelines on what can be done to capture the artifacts for analysis.

[2020-05-13 16:43] JulienMaille commented on #483
@dkurt I recompiled OpenCV with openvino 2020.2 and tried loading the onnx and then using `DNN_BACKEND_INFERENCE_ENGINE`
It does work, however I get significantly worse performance than using the openvino optimizer and loading my bin/xml. 700ms instead of 500ms,
Is it to be expected?

[2020-05-13 16:56] dkurt commented on #483
@JulienMaille, but does bin/xml produce correct results?

[2020-05-13 17:51] yushuinanrong commented on #471
Hi @AlexKoff88 ,
Unfortunately my project has a tight deadline so I gave up trying at some point and switched to Pytorch quantization module.

[2020-05-13 17:57] #471 closed

[2020-05-13 19:39] JulienMaille commented on #483
Yes

[2020-05-14 06:14] AlexKoff88 commented on #471
Hi @yushuinanrong,

Just in case if you would like to get back to OpenVINO inference I would suggest maybe directly using the command-line tools: https://docs.openvinotoolkit.org/latest/_docs_LowPrecisionOptimizationGuide.html.

BTW, what kind of model are you going to speed up and what is the target platform? Is it Core i9-9880H?

[2020-05-14 08:37] akuporos commented on #489
Hi @tech0x,

Do you use cython and python from conda or something else?

[2020-05-14 08:54] iefode commented on #377
@yutkin Thanks a lot for the report of this problem.

@akuporos Could you plan to investigate this issue?

[2020-05-14 09:00] akuporos commented on #377
Hi @yutkin,

Can you, please, check if this memleak exists with master branch?

Regards,
Anastasia

[2020-05-14 09:09] tech0x commented on #489
Добрый день,

Нет, конды или прочего не было использовано.
Систеа ubuntu 18.04 пробовал системный cython3 и пробовал разные версии установленные через pip3, включая самую последнюю.
Причем проблема одинаковая для amd64 так и для arm64
При этом версия 2019 собирается без проблем и под amd64 так и для arm64

Собираю указывая эти параметры
cmake -DCMAKE_BUILD_TYPE=Release \
           -DENABLE_MKL_DN

[2020-05-14 09:39] JulienMaille commented on #483
Ok just to clarify, the slower performance commes from OpenCV+2020.2 (so from NGraph?), not from the onnx vs bin/xml
[code]

[2020-05-14 10:53] akuporos commented on #489
@tech0x
Обычно такая проблема возникает, когда версия Cython ниже 0.29. У меня на машине тоже стоит 0.29.17 и все работает. Если стоит несколько cython, то может возникать некий "конфликт" версий.
Пожалуйста, попробуйте построить проект с master ветки.
И, пожалуйста, подскажите, что будет если в терминале набрать cython -V?

С уважением,
Анастасия

[2020-05-14 14:25] roccopietrini commented on #482
Hi, same here. I just fresh installed openvino toolkit on raspberry pi4 following this guide: [https://docs.openvinotoolkit.org/latest/_docs_install_guides_installing_openvino_raspbian.html](url) I cannot run neither the compiled cpp example nor the python opencv one with the aforementioned error.
In addition following this tutorial [https://www.pyimagesearch.com/2019/04/08/openvino-opencv-and-mov

[2020-05-14 17:24] NextBG opened #495 "Missing a letter "g" in article <<Permanently Set OpenVINO™ Environment Variables for Windows® 10>>"
On tutorial Permanently Set OpenVINO™ Environment Variables for Windows® 10, https://www.intel.com/content/www/us/en/support/articles/000033440/boards-and-kits/neural-compute-sticks.html
There is a line %INTEL_OPENVINO_DIR%\deployment_tools\inference_engine\bin\intel64\Debu missing a "g".
![捕获](https://user-images.githubusercontent.com/49566324/81965531-c11ef800-964a-11ea-913c-742c6353b02e.PNG)

[2020-05-14 20:24] JulienMaille commented on #483
@dkurt  let me know if there's anything I shall try to gather more information.
Do you confirm that;
1. feeding onnx to inference engine requires ngraph? (ie. openvino 2020)
2. ngraph is known to be slower in some case?
3. NN_BUILDER not supposed to work with 2020?

[2020-05-14 20:47] yushuinanrong commented on #471
@AlexKoff88
Thanks for your suggestion. I spent a bit of time on the command-line tools but got no luck either. I would try it again for future projects.
I did all OpenVINO experiments on my mac which has a I9 cpu, but the algorithm will be deployed in a server with Intel Xeon CPUs.

[2020-05-15 00:20] leavim commented on #470
@buoyancy99 which version of OpenVINO are you using? Gave a quick try at your onnx model and cannot convert to IR using provided MO command, I get an _Exception: Exception occurred during running replacer "REPLACEMENT_ID (<class 'extensions.front.TopKNormalize.TopKNormalize'>)": The TopK node "TopK_0" misses "k" attribute_.

Specifying _opset_version>=10_ in export model line seems to convert IR f

[2020-05-15 06:11] AlexKoff88 commented on #471
@yushuinanrong, what was wrong this the command-line tools. Did they crash? or you got poor results.
If you can share your configuration file for the post-training tool we could try to help you.

[2020-05-15 06:53] guoyejun commented on #458
i tried the default build option and make install to /usr/local/deployment_tools/inference_engine, then it works as expected.

[2020-05-15 06:53] #458 closed

[2020-05-15 10:55] maxl16 commented on #411
@natxopedreira
Have you tried to run Open Model Zoo as well as l_openvino_toolkit_runtime_raspbian_p_2020.2.120 as Inference Engine from the same OpenVINO open source 2020.2 build from here https://download.01.org/opencv/2020/openvinotoolkit/2020.2/
Unfortunately, currently I don't have a chance to test it, but I expect that should work.

[2020-05-15 11:59] natxopedreira commented on #411
@maxl16
Thanks, im not 100% sure to have tested that combination but i will say that didn't work.

But to be sure i will test and post here the results, as a reference

Recentky i tried compiling opencv last version from source but also do not work :(

[2020-05-15 12:22] JulienMaille commented on #483
@dkurt I'm really sorry to stack issues, but the more I dig, the more issues I find.
I tried to export my pytorch model to onnx with opset=9, 10 and 11 and load it with 2020.2
I've been working with opset=**9** until now, which sorta worked for all input resolutions.
With opset=**10**, OpenCV gives

OpenCV(4.3.0-dev) Error: Assertion failed (!node.empty()) in cv::dnn::dnn4_v20200310::Net::Impl::in

[2020-05-15 13:38] natxopedreira commented on #411
@maxl16

Thank you so much!!!!!! seems to work, did a fast test.... i didn't try all the models but i was able to load this one
`https://download.01.org/opencv/2020/openvinotoolkit/2020.2/open_model_zoo/models_bin/3/face-detection-0100/FP16/`

But this instead trows error, do you know why? maybe int8 models do not work?
`https://download.01.org/opencv/2020/openvinotoolkit/2020.2/open_model_zoo/mod

[2020-05-15 14:25] maxl16 commented on #411
@natxopedreira
Glad that you were able to make this work.
For INT8 models inference CPU should meet some requirements from here https://docs.openvinotoolkit.org/latest/_docs_IE_DG_Int8Inference.html
And I believe Raspberry Pi ARM processor does not fit this.

[2020-05-15 14:38] natxopedreira commented on #411
@maxl16
Ok, that explains it.
Do you know what is the difference between those, i see folder: 1-2-3
[https://download.01.org/opencv/2020/openvinotoolkit/2020.2/open_model_zoo/models_bin/](https://download.01.org/opencv/2020/openvinotoolkit/2020.2/open_model_zoo/models_bin/)

I assume that lastest folder is the best one? i mean models from folder 3

[2020-05-15 17:49] leavim commented on #495
@NextBG this typo has been addressed in document, update should reflect in document shortly. Thanks for reporting this.

[2020-05-16 04:42] nullbyte91 opened #496 "Feature Request - get_perf_counts - Return total number of CPU Time and Number of FLOPs/MACs"
Hi All,

I'm trying to benchmark the CPU performance by using get_perf_counts().
[code]

The output looks like for Conv Layer,
[code]
I would like to have a total CPU time, and the number of FLOPs performed one single forward pass as part of the same method.

I'm happy to contribute to this.

Regards,
Jegathesan S

[2020-05-16 08:10] tech0x commented on #489
Да все верно, почему то подключался cython из python2.7 и игнорировался тот что установлен для python3.6, после принудительного обновления все собирается без проблем.

Большое спасибо

[2020-05-16 08:10] #489 closed

[2020-05-16 13:09] natxopedreira commented on #411
@maxl16

I tried full script, previous i tried directly on console and i dont know why dont trow an error...

executing this code
`
model_face_bin = 'models/face-detection-adas-0001/face-detection-adas-0001.bin'
model_face_xml = 'models/face-detection-adas-0001/face-detection-adas-0001.xml'

net = cv.dnn.readNet(model_face_xml,model_face_bin)
`

Model downloaded from this
`https://download.01.org/

[2020-05-16 13:17] natxopedreira commented on #482
This is related
https://github.com/openvinotoolkit/openvino/issues/411

Last releases models do not work

2020 models r1 do not work
2020 models r2 do not work
2020 models r3 do not work

You need to downgrade to 2019 r3 models to make it work, its a shame because 2020 has various face models that you can not use

[2020-05-16 14:02] JulienMaille commented on #483
Some numbers to illustrated performance degradations:
resnet18 based onnx:
[code]

EfficentNet-b4 based onnx:
[code]

[2020-05-17 13:57] akuporos commented on #489
To summarize the solution to this problem:
You need to check which Cython is picked up in OpenVINO, because there may be conflicts between different versions of Cython. To check which Cython was found, run "cython -V". If you notice that the Cython version is incorrect after executing this command, you can set the path to the correct Cython version using the key "-DCYTHON_EXECUTABLE =" / path / to

[2020-05-17 15:01] TechnikEmpire opened #497 "Support TF 2.2+ Efficientnets"
In order to support conversion of Effnets from TF2.2, you just need to disable eager execution in this function before the calls to tf.placeholder.

Like so:

[code]

https://github.com/openvinotoolkit/openvino/blob/94dd082199444dbe772eb522a87138494391470d/model-optimizer/mo/front/tf/partial_infer/tf.py#L195

[2020-05-17 15:01] TechnikEmpire commented on #497
Sorry for no PR I'm stepping out for a few days, just wanted to make a note so I don't forget, maybe someone else can scoop this up.

[2020-05-18 15:25] gitunit commented on #401
@Maioy97 open model zoo

[2020-05-18 20:23] JulienMaille commented on #483
@dkurt looks like you can't reproduce the slowdown, at least on one model, here is the output of `opencv_version_win32.exe`
<details>
<summary>2020.2 - General configuration for OpenCV 4.3.0-dev =====================================</summary>
<p>

[code]
</p>
</details>
<details>
<summary>2019 R3 - General configuration for OpenCV 4.3.0-dev =====================================</summary>
<p>

[cod

[2020-05-19 05:21] lmmcc commented on #339
same question

[2020-05-19 08:08] guoyejun opened #498 "unable to load model converted from tensorflow"
i have a tensorflow model srcnn.pb, see in srcnn.zip.
[srcnn.zip](https://github.com/openvinotoolkit/openvino/files/4648914/srcnn.zip)

The srcnn.pb is very simple with only 6 layers: tf.pad, tf.layers.conv2d*3, tf.maximum and tf.identity. It is generated from code at https://github.com/HighVoltageRocknRoll/sr/blob/master/models/model_srcnn.py#L32 to line 39,  with line 20 as the model input. And

[2020-05-19 10:01] FFoCC opened #499 "Cannot infer shapes or values for node xxx"
hello!
When I execute this command, this problem comes up.

python mo_tf.py --input_model /root/ymk_work/work/code/EfficientDet/checkpoints/2020-05-18/coco_16.pb --output_dir /root/ymk_work/work/model/efficientDet_model/ --input_shape [1,512,512,3]

[ ERROR ]  Cannot infer shapes or values for node "activation/IdentityN".
[ ERROR ]  Input 1 of node activation/IdentityN was passed double from fpn_c

[2020-05-19 10:27] JulienMaille commented on #483
More benchmarks, this time on a Microsoft surface. Everything is faster with 2020, except the Resnet on CPU

**resnet18**:
[code]

**EfficentNet-b4**:
[code]

[2020-05-19 10:51] natxopedreira opened #500 "raspbian build instructions"
Is there any place with updated info on how to cross compile for raspbian buster?

Current documentation is not working
[https://github.com/openvinotoolkit/openvino/blob/2020/build-instruction.md#cross-compilation-using-docker](https://github.com/openvinotoolkit/openvino/blob/2020/build-instruction.md#cross-compilation-using-docker)

[2020-05-19 12:45] natxopedreira commented on #500
CMake Error at inference-engine/CMakeLists.txt:32 (find_package):
  By not providing "Findngraph.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "ngraph", but
  CMake did not find one.

  Could not find a package configuration file provided by "ngraph" with any
  of the following names:

    ngraphConfig.cmake
    ngraph-config.cmake

  A

[2020-05-19 13:09] natxopedreira commented on #500
Posting here for future reference and to let other people know about

This solve hgraph issue, i think it should be  noted on instructions
`cd inference-engine`
`git submodule update --init --recursive`

but now another problem happens as i wan to build with python enabled

CMake Error at /usr/local/share/cmake-3.14/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
Could NOT find Cython (

[2020-05-19 13:34] natxopedreira commented on #500
Ok with those changes and this cmake im able to build...

But the data that build create is not the same that you found on a openvino package when you download it.

What im doing wrong

`cmake -DCMAKE_BUILD_TYPE=Release \`
`    -DCMAKE_TOOLCHAIN_FILE="../cmake/arm.toolchain.cmake" \`
`    -DTHREADS_PTHREAD_ARG="-pthread" \`
`    -DENABLE_SSE42=OFF \`
`    -DTHREADING=SEQ \`
`    -DENABLE_GNA=OFF \

[2020-05-19 14:12] dkurt commented on #500
cd inference-engine
git submodule update --init --recursive

What do you mean by that? https://github.com/openvinotoolkit/openvino/blob/2020/build-instruction.md#build-steps-3 shows that `git submodule update --init --recursive` is required

[2020-05-19 14:15] natxopedreira commented on #500
I see
I was reading under raspbian crosscompile.... maybe is good to put also in that part, imo is more clear

[2020-05-19 19:10] leavim commented on #461
Hi @fischermario,

Please try one of the following and adjust to your env:
**Without Python API wrapper:**
$ /home/nvidia/cmake-3.14.4/bin/cmake \\
   -DCMAKE_BUILD_TYPE=Release \\
   -DENABLE_SAMPLES=ON \\
   -DENABLE_GNA=OFF \\
   -DENABLE_SSE42=OFF \\
   -DTHREADING=SEQ \\
   -DENABLE_CLDNN=ON \\
   -DENABLE_MKL_DNN=OFF \\
   -DENABLE_PYTHON=OFF \\
   ..
$ make -j4

**With Python API wrapper:**

[2020-05-19 19:13] JulienMaille opened #501 "Inference 30% slower with 2020.2/3 than 2019 R3 on Intel Xeon/win10"
This issue has been moved from https://github.com/opencv/opencv/issues/17283
My own c++ benchmarks on a Xeon E5-1620/Win10 with OpenCV reflect the same numbers than with the official `benchmark_app.py`. Model is a resnet18 trained with https://github.com/qubvel/segmentation_models.pytorch exported to onnx and then sent to the model optimizer. I can share the onnx or bin/xml by email if needed.
[co

[2020-05-20 11:05] natxopedreira commented on #500
@dkurt sorry to bother you but i compiled with the pull request that you mentioned on the ngraph repo but the problem persist. Do you have any clue?

I finally compiled and install, but the issue still persist

i asked on ngraph and thats the reply
`The problem is from the input to PriorBoxClustered; 2x2760708352 doesn't look like the shape you would expect as an input.`

[https://github.com/Nerva

[2020-05-20 13:23] #492 closed

[2020-05-20 18:47] karkadad opened #503 "IndexError: index 1 is out of bounds for axis 0 with size 1"
OpenVINO version: openvino_toolkit_p_2020.2.120
TensorFlow version : 1.15.0

Issue:
================================
I'm trying to infer on a simple 1 layer LSTM using OpenVINO, but currently its failing in the model optimizer stage with the following error:
  File "/opt/openvino2020/openvino_2020.2.120/deployment_tools/model_optimizer/mo/middle/passes/infer.py", line 134, in partial_infer
    nod

[2020-05-20 20:55] leavim commented on #481
Hi @ongun-kanat, I am able to see this issue as reported, currently investigating. Just curious if you have a more complex model and this primitive is causing troubles there.

Could you try giving  `--input "x[100 1],A[1 100]"` to your MO command and check if that makes any difference?

Regards,
Luis

[2020-05-20 21:34] DataScience-RajKapoor commented on #500
@natxopedreira - am in the same boat as you but a tad bit behind - seems that you have gone through the first set of commands on the Docker.

I am using RPi 4 with Buster - is your config the same ?

am not able to get past this error -

`The following packages have unmet dependencies:
 crossbuild-essential-armhf : Depends: gcc-arm-linux-gnueabihf (>= 5.3) but it is not installable

[2020-05-20 21:40] natxopedreira commented on #500
@DataScience-RajKapoor

Im on rpi3b and Buster. Im now able to build and install.... maybe i can help you, please explain what you are trying to do

[2020-05-20 22:01] DataScience-RajKapoor commented on #500
@natxopedreira  , I am trying to follow through the build instructions to use Neural Compute Stick 2 (Movidus/ MYRIAD).

[https://github.com/openvinotoolkit/openvino/blob/2020/build-instruction.md#cross-compilation-using-docker
](url)
I couldn't install it directly on RPi 4 for different set of issues with the libraries ... so I was hoping that Docker instructions would be easier to replicate.

Th

[2020-05-20 22:07] natxopedreira commented on #500
Ah ok, you want to compile openvino from source cross-compiling with a docker image.

Sorry but i don't understand where are you having problem....building docker image?

Why aren't you using the download packages?

I will post my notes in a gist

[2020-05-20 22:19] DataScience-RajKapoor commented on #500
yes - while building the image - it fails at the cross-compiling step because of couple of libraries
between these comments, i pointed the Dockerfile to `debian:buster ` and it no longer fails at that step and moved on to the cmake command where lot is going on/ keeping fingers crossed

can you elaborate on 'using the download packages' - will look forward to your notes

[2020-05-20 22:33] natxopedreira commented on #500
@DataScience-RajKapoor

Just to be clear openvino download packages run without issues, im just trying to build from source as current version on rpi are not compatible with lastest models, you have to use 2019 models. So i built from source in hope to solve this.... but not, error persist.

Here are my notes, ask if you need

Today they updated the repo so not sure.... if any problem you can use

[2020-05-21 00:38] leavim commented on #498
Hi @guoyejun, I am able to freeze and convert srcnn model from provided link with command:
`python3 /opt/intel/openvino/deployment_tools/model_optimizer/mo_tf.py --input_model srcnn.pb --data_type=FP32 --input_shape [1,480,720,1]`. I have tested OMZ model text-image-super-resolution-0001 with [Super Resolution C++ Demo](https://docs.openvinotoolkit.org/latest/_demos_super_resolution_demo_README.ht

[2020-05-21 06:03] Liujingxiu23 commented on #327
@portgasray  I meet the same problem as you, but I confused how you solve the problem?

[2020-05-21 06:05] Liujingxiu23 commented on #48
@wanghanyang123  I confused how you solve the problem?

[2020-05-21 09:31] Liujingxiu23 opened #505 "How to compile 2019_R1.1？"
I want to use openvino as an EP of onnxruntime, and it seems that onnxruntime uses openvino 2019_R1.1(https://github.com/microsoft/onnxruntime/issues/1481).

I downloaded  source code of 2019_R1.1 from  https://github.com/openvinotoolkit/openvino/releases.
But the file directory seems different from the path which I cloned by git command。

I just “cd inference-engine; mkdir build; cd build; cmake

[2020-05-21 10:14] maxl16 commented on #411
@natxopedreira
Seems like this is a known issue with OpenVINO Raspbian package working with face-detection-adas-0001 and face-detection-retail-0005 models. Developers are aware of this.

[2020-05-21 10:36] natxopedreira commented on #411
Hi @maxl16

Thank you for your reply, but....

**Models from this folder**
[https://download.01.org/opencv/2020/openvinotoolkit/2020.2/open_model_zoo/models_bin/3/](https://download.01.org/opencv/2020/openvinotoolkit/2020.2/open_model_zoo/models_bin/3/)

**Using code**
`import cv2 as cv`
`import imutils`
`import time`

`model_face_bin = 'face-detection-0106.bin'`
`model_face_xml = 'face-detection-

[2020-05-21 11:20] alalek commented on #411
OpenCV in OpenVINO 2020.2 has a bug for MYRIAD target (however with another message on x86 host). Should be fixed here: https://github.com/opencv/opencv/pull/17134

Consider using IE API (see OpenModelZoo demos) or wait for the next OpenVINO release or [recompile OpenCV from master branch](https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend#raspbian-buster).

/cc

[2020-05-21 11:27] SDxKeeper commented on #505
Hi @Liujingxiu23 ,
Two questions:
1. Why you trying to compile one year old release?  Latest and greatest is 2020.2
2. .so files could be found in subfolder build/intel64/Release/lib. Have you tried to locate them using find?
`cd build && find . -name *.so`

[2020-05-21 11:28] natxopedreira commented on #411
Ok, i will build opencv from master branch and try, will post here results.

[2020-05-21 11:29] SDxKeeper commented on #505
official build instructions could be found here: https://github.com/microsoft/onnxruntime/blob/master/BUILD.md#openvino

[2020-05-21 13:52] natxopedreira commented on #411
@alalek
Are you sure master branch opencv? I just compiled and error persist

[code]

[2020-05-21 13:58] dkurt commented on #411
@natxopedreira, please read the logs carefully - it's not OpenCV error,

[code]

[2020-05-21 14:11] natxopedreira commented on #411
@dkurt thank you!

To be clear, sorry but i never say is an opencv error, @alalek  mentioned that you can read two post up

I followed their advice building opencv from master and error persist

I also followed your advice applying those patches to ngraph and still doesn't work, ngraph people offered help but is asking for info i don't have

[https://github.com/NervanaSystems/ngraph/issues/4794](h

[2020-05-21 14:26] dkurt commented on #411
@natxopedreira , according to the error message, binary OpenVINO is used, not a custom build you tried:

you need to clean build folder first then specify `InferenceEngine_DIR` as mentioned here: https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#add-inference-engine-to-your-project

[2020-05-21 14:34] natxopedreira commented on #411
@dkurt Thank you
Yes, thats because i was trying to build and replace only opencv not openvino.

**I compiled openvino from source**
[https://github.com/openvinotoolkit/openvino/issues/500](https://github.com/openvinotoolkit/openvino/issues/500)

**And still get that error**
This time i posted on intel forums, but as usually get no answer
[https://software.intel.com/en-us/forums/intel-distribution

[2020-05-21 15:05] natxopedreira commented on #411
So in resume

What i have tried:
- opencv master branch = **ERROR PERSIST**
- opencv master branch with pull request [https://github.com/opencv/opencv/pull/17134](https://github.com/opencv/opencv/pull/17134) = **ERROR PERSIST**
- openvino from source [https://github.com/openvinotoolkit/openvino/issues/500](https://github.com/openvinotoolkit/openvino/issues/500) forum [https://software.intel.com/en

[2020-05-22 08:54] Liujingxiu23 commented on #505
@SDxKeeper  Thank you for your reply, I compiled it successfully.

[2020-05-22 08:55] #505 closed

[2020-05-22 23:33] ilya-lavrenov commented on #501
@JulienMaille  do you see the same with C++ version of benchmark app?

[2020-05-22 23:40] ilya-lavrenov commented on #490
@guoyejun it's not set twice. First in line 109 we set layout which plugin will except (and Core::LoadNetwork will compile for such layout), in line 140 we create a blob with such layout.

[2020-05-23 00:25] guoyejun commented on #498
thanks, i finally found the reason, it crashes when my application link with tensorflow c lib together, even the relative code are not called.

to reproduce it,
1. download, unzip and install the tensorflow c lib, https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-1.14.0.tar.gz

2. change the code within dldt
[code]

3. build dldt again (first run cmake again, a

[2020-05-23 00:26] guoyejun commented on #490
thanks

[2020-05-23 00:26] #490 closed

[2020-05-23 08:39] JulienMaille commented on #501
Non, I did not know there was a cop version of this app. However I originally had the same timings with my c++/OpenCV application

[2020-05-23 12:37] guoyejun opened #522 "does openvino support variable image size as input?"
I have a tensorflow model with input dims [1, None, None, 1],  it can mean that the model accepts all kinds of gray image size. But i have to specify a value for 'None' when convert it into openvino model, otherwise, error message below:
[ ERROR ]  Shape [ 1 -1 -1  1] is not fully defined for output 0 of "x". Use --input_shape with positive integers to override model input shapes.

After the conve

[2020-05-23 14:50] lazarevevgeny commented on #522
Hi, @guoyejun,
You may want to use the "InferenceEngine::CNNNetwork::reshape" method to change the input shape. Refer to the https://docs.openvinotoolkit.org/2020.2/_docs_IE_DG_ShapeInference.html on how use it.

Also, you should specify "--keep_shape_ops" command line parameter when convert your tensorflow model.

[2020-05-23 14:55] lazarevevgeny commented on #503
@karkadad , could you attach the ONNX model?

[2020-05-23 15:27] vladimir-paramuzov commented on #368
@OliverScherf  Unfortunately we don't have docs for cldnn internals.

Basically, each kernel have 2 parts: host part and device part.

Host part is cpp+h files for each kernel located in inference-engine/thirdparty/clDNN/kernel_selector/core/actual_kernels/<primitive_type>/<kernel_name>.{cpp,h}
Usually <kernel_name> is built as `<primitive_type>_kernel_<layout_or_precision_description>{any_additio

[2020-05-23 15:29] vladimir-paramuzov commented on #410
@qimoto Is your issue resolved by the comments above?

[2020-05-23 15:37] vladimir-paramuzov commented on #316
@Christywl cldnn used to have white-list with supported device IDs which was removed long ago to avoid errors like this. At this moment cldnn checks only vendor and device type, so I assume that your issue has been fixed. If not - feel free to reopen the issue.

[2020-05-23 15:37] #316 closed

[2020-05-23 15:42] vladimir-paramuzov commented on #175
@umed Do I understand correctly that the issue has been fixed and we can close the issue?

[2020-05-23 15:44] umed commented on #175
@vladimir-paramuzov , closing it. Thanks!

[2020-05-23 15:44] #175 closed

[2020-05-24 13:55] guoyejun commented on #522
thanks, but I want the model itself to accept variable image size. The input layer of my tensorflow model is defined as 'input_ph = tf.placeholder(tf.float32, shape=[1, **None**, **None**, 1], name="x")'.

Looks that reshape is used to change to the shape of model input, it is not what i want.

I tried --keep_shape_ops, still the same issue.
[code]

I have to use a fixed value for the input such a

[2020-05-24 16:07] eclectriq commented on #411
@natxopedreira

Give this a try.

* Remove or move your current Openvino
* Use the 2020.1.023 Openvino version with the 2019 R1 models
* wget https://download.01.org/opencv/2020/openvinotoolkit/2020.1/l_openvino_toolkit_runtime_raspbian_p_2020.1.023.tgz
* Install it

Then download the 2019 R1 models such as:
* wget --no-check-certificate https://download.01.org/opencv/2019/open_model_zoo/R1/models

[2020-05-24 16:15] natxopedreira commented on #411
@eclectriq

Thank you, yes that works, thats what im using. Problem here is that i want to use the new face models present on 2020 version..... and i can't.

Also want to use opencv instead IE API because opencv is faster, at least in my tests

So im forced to wait.....

[2020-05-24 16:24] carnytom commented on #411
@natxopedreira

no idea if this helps ? but below is the code i'm using using open cv with the below cascade xml
[haarcascade_frontalface_default.zip](https://github.com/openvinotoolkit/openvino/files/4673913/haarcascade_frontalface_default.zip)

from picamera import PiCamera

from time import sleep
import cv2
import numpy as np
import matplotlib.pyplot as plt
cap = cv2.VideoCapture(0)
face_cascad

[2020-05-24 16:28] natxopedreira commented on #411
@carnytom

Thank you!!! but i want to use a neural network, it works much better that haarcascade

[2020-05-24 17:03] ilya-lavrenov commented on #498
@apankratovantonp do we know why NUMA nodes vector can be empty? Maybe TF uses its own TBB or something like this?

[2020-05-24 17:05] ilya-lavrenov commented on #485
@qbTrible could you please provide a link to the models as well as details MO logs?

[2020-05-24 18:38] ilya-lavrenov commented on #462
@psyhtest you can compile OpenVINO with `cmake -DNGRAPH_ONNX_IMPORT_ENABLE=OFF`

[2020-05-24 19:14] ilya-lavrenov commented on #487
@anmikh could you please try this with the latest master? we have added a mutex for critical sections inside `Core` and at least for CPU plugin we are able to `LoadNetwork` in parallel threads.

[2020-05-24 19:19] ilya-lavrenov commented on #461
@fischermario previous versions of OpenVINO had a bug in `setupvars` script and the don't set path to ngraph libraries. Now, it does (see https://github.com/openvinotoolkit/openvino/blob/master/scripts/setupvars/setupvars.sh#L70-L73). Could you please check if this is reproduced if provided script is used? Or you can manually add path to libs in `LD_LIBRARY_PATH`

[2020-05-24 19:20] ilya-lavrenov commented on #459
@lazarevevgeny is it resolved in current master?

[2020-05-24 19:21] ilya-lavrenov commented on #457
@fischermario is the issue resolved? can be closed?

[2020-05-24 19:22] ilya-lavrenov commented on #456
@asuhov could you please fix?

[2020-05-24 19:24] ilya-lavrenov commented on #451
the mentioned scripts are not a part of OpenVINO source tree. Closing,

[2020-05-24 19:24] #451 closed

[2020-05-24 19:25] ilya-lavrenov commented on #448
@junxnone what is the issue? the tool that warns about image resizing. The C++ tool does the same.

[2020-05-24 19:28] ilya-lavrenov commented on #446
@wlfgang

1. You can compile DLDT with `cmake -DTREAT_WARNING_AS_ERROR=OFF` and it's not respected for Unix systems as well.
2. Now, ngraph SDL flags are not used in compilation (see https://github.com/openvinotoolkit/openvino/blob/master/CMakeLists.txt#L98) while IE ones are used only for `Release` mode.

[2020-05-24 19:29] ilya-lavrenov commented on #445
closing, since it's not an issue.

[2020-05-24 19:29] #445 closed

[2020-05-24 19:30] ilya-lavrenov commented on #443
@jiapei100 do you still observe the problems?

[2020-05-24 19:32] ilya-lavrenov commented on #442
@jiapei100 OpenVINO uses specific dependencies which provide better performance. But you can override some of them using environment variables:

1. `OpenCV_DIR` for  OpenCV (see https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/cmake/dependencies.cmake#L197)
2. `TBBROOT` for TBB (see https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/cmake/dependencies.

[2020-05-24 19:35] ilya-lavrenov commented on #437
@artanokhov @asuhov could you please comment?

[2020-05-24 19:36] ilya-lavrenov commented on #439
@dmitry-gorokhov @eshoguli do we have such limitations in CPU plugin?

[2020-05-24 21:17] apankratovantonp commented on #498
@guoyejun Could You please run the code with `TBB_VERSION` environment variable set to `1`

It also would be great if you can rebuild the dldt with changes :
[code]

[2020-05-24 21:53] asuhov commented on #456
The samples data is now preset in the https://github.com/openvinotoolkit/openvino/tree/master/scripts/demo folder. We will update documentation, thank you.

[2020-05-25 03:33] Aktcob opened #531 "About NMS or TopK op from MXnet to Openvino"
From the newest version doc, now openvino does not support NMS or TopK op in Mxnet. Is there any plan to add these important ops?

[2020-05-25 04:31] dkurt commented on #522
@guoyejun, after model conversion with fixed shapes, have you tried to use reshape method as mentioned by @lazarevevgeny?

[2020-05-25 05:17] guoyejun commented on #522
no, i don't think it is what i want. thanks.

[2020-05-25 05:22] dkurt commented on #522
@guoyejun, what do you mean by that?

OpenVINO does support networks which may work on different input resolution. You just need to manage to convert a model once to `.xml` and `.bin` then you can use `.reshape()` method to change input resolution. Please take a look at one of the examples here: https://github.com/dkurt/openvino_superres (tested with 2020.1 release).

[2020-05-25 05:36] lazarevevgeny commented on #531
@Aktcob, the support for operation is primarily determined by the model support requests the OpenVINO team receives. As of now there are no nearest future plans to support NMS since the MxNet version of the operation significantly differs from other frameworks. But support for the TopK could be done on the Model Optimizer side since since the MxNet TopK is quite the same as the one that is already

[2020-05-25 05:39] lazarevevgeny commented on #436
@Hubert2102, you should specify "--input_shape [1,1,32,WIDTH>]" command line parameter when you convert the model. OpenVINO does not allow generating an IR with unknown input shapes, so you have to choose some fixed one and then you can change the input shape using the 'reshape' method as suggested above.

[2020-05-25 05:47] lazarevevgeny commented on #440
@muaz-urwa , unfortunately, there is no solution for this issue so far. OpenVINO does not support operations which generate tensors which output shape depends on the input **value** which depends on the model input. Shapes of all tensors must be know at the model loading type and may depend on shapes of model inputs and operation attributes only.

[2020-05-25 06:01] guoyejun commented on #522
thanks.  i have a better understanding of reshape now.

so, the procedure looks like:
1. I have a tensorflow model with sizable input:
tf.placeholder(tf.float32, shape=[1, **None**, **None**, 1], name="x")
(we'll see size [1, -1, -1, 1] in .pb model file)

2. Choose arbitrary values for the input when convert to openvino model, for example,
--input_shape [1,123,456,1] --keep_shape_ops

3. at run t

[2020-05-25 06:36] lazarevevgeny commented on #468
This is a known bug which occurs because of the specification change of the ONNX TopK operation. Previously it had 'K' as attribute and starting from opset-10 it is an input.

@mvafin, please, make the TopK extractor capable support both cases.

[2020-05-25 06:49] lazarevevgeny commented on #470
@buoyancy99 , what error do you see when you run the model with IE?

[2020-05-25 06:53] buoyancy99 commented on #470
I think this is related to not specifying newer version opset when exporting. However, I am currently busy with other projects so haven't had a chance to test things yet

[2020-05-25 06:53] #470 closed

[2020-05-25 07:11] lazarevevgeny commented on #459
@ilya-lavrenov, no it is not resolved. But this issue looks like a package-incompatibility. Do you want to add a requirement for a specific version of "futures" package?

[2020-05-25 07:14] lazarevevgeny commented on #488
@rohit167
OpenVINO does not provide ability to convert the mxnet models to the tensorflow.

@iimironov, do we support MxNet gluon-cv Yolo model?

[2020-05-25 07:30] guoyejun commented on #498
see below for the detail log when set TBB_VERSION=1
[code]

Change the code, rebuild, install and run.
[code]

[2020-05-25 07:52] #499 closed

[2020-05-25 08:17] lazarevevgeny commented on #468
@jane-intel will take care of this issue.

[2020-05-25 08:39] lazarevevgeny commented on #464
@Pangwei418 could you share the ONNX model?

[2020-05-25 08:44] lazarevevgeny commented on #424
Now OpenVINO comes with ngraph as not a submodule but a copy of the repository. You should not try use your own version of ngraph anymore.

[2020-05-25 08:44] #424 closed

[2020-05-25 08:48] lazarevevgeny commented on #352
The bug has been fixed already and it is in the master branch. Closing.

[2020-05-25 08:48] #352 closed

[2020-05-25 08:54] lazarevevgeny commented on #361
There are no plans to support DarkNet directly.

[2020-05-25 08:54] ausk opened #536 "What is the device means? VPU, HDDL, MYRIAD, HETERO, MULT"
Hello,  I've been using the openvino for a while. But I still have doubts about the `device` configuration passed to the demos.

- CPU, VPU, HDDL, MYRIAD, (HETERO, MULT)

The CPU means intel i5/i7, and VPU means NCS2, then
- what's the difference of HDDL and MYRIAD?
- what's the difference of HETERO and MULT?

Thank you for you time.

[2020-05-25 08:54] lazarevevgeny commented on #361
Closing as not an issue but rather than a quesion.

[2020-05-25 08:54] #361 closed

[2020-05-25 08:56] lazarevevgeny commented on #374
@mmbajo is the question actual? What is the reason to not use proposed YOLO* V3 demo?

[2020-05-25 09:01] lazarevevgeny commented on #385
@abcxs the Mask-RCNN demo mentioned above is not suitable for running model converted from ONNX Mask-RCNN. You need to implement your own post-processing for the IR output.

[2020-05-25 09:03] lazarevevgeny commented on #388
Closing the ticket since it is not really a bug.

[2020-05-25 09:03] #388 closed

[2020-05-25 09:03] lazarevevgeny commented on #404
Closing as not a bug and answer provided.

[2020-05-25 09:03] #404 closed

[2020-05-25 09:05] lazarevevgeny commented on #408
@marcin-sielski can we close the bug?

[2020-05-25 09:06] lazarevevgeny commented on #347
@remarkableJ is this issue still actual?

[2020-05-25 09:08] lazarevevgeny commented on #348
@san999p is this issue actual? Have you tried to use different versions json configuration files?

[2020-05-25 09:11] ilya-lavrenov commented on #536
@ausk please, find description of the supported devices here https://docs.openvinotoolkit.org/latest/_docs_IE_DG_supported_plugins_Supported_Devices.html

[2020-05-25 09:12] ilya-lavrenov commented on #522
Yes, we can plan such activity.

[2020-05-25 09:24] ilya-lavrenov commented on #499
@FFoCC the patch is merged, please use the latest master

[2020-05-25 09:41] lazarevevgeny commented on #339
@gristovski have you tried the Model Optimizer from the master branch? Could you attach the reproducer model?

[2020-05-25 09:44] lazarevevgeny commented on #344
The command line parameter "--tensorflow_operation_patterns" is not supported anymore. Could you try to convert the model with the latest Model Optimizer without use of this pattern?

Also, when you see an issue related to RandomUniform it usually means that you have some training operations in the model. When you freeze the model make sure that you use "is_train=False" in operations that behave d

[2020-05-25 09:46] lazarevevgeny commented on #335
@ahuizxc , there were some fixes related to the Reduce operations in the TF. Can you try the Model Optimizer from master and check if the issue persists?

[2020-05-25 09:58] lazarevevgeny commented on #325
@r0l1 can we close this issue?

[2020-05-25 09:59] lazarevevgeny commented on #326
@sudiptabiswas22, please, do not use github for asking questions. Instead, use other channels.

[2020-05-25 09:59] #326 closed

[2020-05-25 09:59] Aktcob commented on #531
Thank u so much for reply. Now I am using the code from gluoncv(mxnet) official code.(URL: https://github.com/dmlc/gluon-cv/blob/master/gluoncv/model_zoo/yolo/yolo3.py). The NMS is on line 410. (op in mxnet: F.contrib.box_nms)

[2020-05-25 10:04] lazarevevgeny commented on #323
The issue has been fixed already. Please, verify with the latest master branch.

[2020-05-25 10:04] #323 closed

[2020-05-25 10:06] #304 closed

[2020-05-25 10:07] #300 closed

[2020-05-25 10:08] lazarevevgeny commented on #299
@sgriset is this issue actual?

[2020-05-25 10:14] lazarevevgeny commented on #294
The issue has been solved on the MO side. Now both `graph.node` and `graph.nodes` will work on any version of the networkX.

[2020-05-25 10:14] #294 closed

[2020-05-25 10:16] lazarevevgeny commented on #293
@jlygit OpenVINO does not support dynamic input shape. But you can change the inputs shapes using the "reshape" method described here https://docs.openvinotoolkit.org/2020.2/_docs_IE_DG_ShapeInference.html. Please, make sure that you convert your model with the Model Optimizer with command line parameter "--keep_shape_ops".

[2020-05-25 10:26] ilyachur commented on #424
The original issue was fixed for 2020.2 OpenVINO release.
https://github.com/openvinotoolkit/openvino/blob/2020/inference-engine/CMakeLists.txt#L28

[2020-05-25 10:39] FFoCC commented on #499
Thank you. I'll try

[2020-05-25 10:40] niteshgoyal19 opened #545 "openvino demo script run error"
![Capture](https://user-images.githubusercontent.com/25811863/82805610-eceb7a80-9ea1-11ea-9358-81006356fc94.PNG)

Dll linking Error coming while running openvino demo_squeezenet_download_convert_run.bat file in windows.
How Can i link all those dll to run demo examples of openvino

[2020-05-25 10:42] abcxs commented on #385
Thanks.
I use the [repo](https://github.com/opencv/openvino_training_extensions) to convert Mask-RCNN weights and export to onnx and IR.

[2020-05-25 11:59] #266 closed

[2020-05-25 12:07] lazarevevgeny commented on #262
@WilliamZhaoz , could you check the model conversion using the latest Model Optimizer from the master branch?

[2020-05-25 12:09] lazarevevgeny commented on #259
@SaiKrishnaDyavarasetti is this issue still actual?

[2020-05-25 12:10] lazarevevgeny commented on #256
@nehasoni3 is this issue still actual?

[2020-05-25 12:12] lazarevevgeny commented on #237
@alontrais is this issue actual?

[2020-05-25 12:13] lazarevevgeny commented on #233
@nehasoni3 is this issue still actual? Can you share the model?

[2020-05-25 12:15] lazarevevgeny commented on #232
@didopop3 is this issue still actual? Can you share the model?

[2020-05-25 12:18] lazarevevgeny commented on #220
This issue has been fixed. Please, take the Model Optimizer from the master branch.

[2020-05-25 12:18] #220 closed

[2020-05-25 12:19] lazarevevgeny commented on #214
@Fighting-JJ  is this issue still actual? Can you share the model?

[2020-05-25 12:22] lazarevevgeny commented on #213
The models contain "while" loops which are not support in general. So the model is still not supported.

[2020-05-25 12:23] lazarevevgeny commented on #212
The repository has been updated. Closing.

[2020-05-25 12:23] #212 closed

[2020-05-25 12:26] lazarevevgeny commented on #209
The issue is resolved. Closing.

[2020-05-25 12:26] #209 closed

[2020-05-25 12:30] ilya-lavrenov commented on #545
@niteshgoyal19 have you run `setupvars.bat` before running demo script?

[2020-05-25 12:32] niteshgoyal19 commented on #545
yes i run it , and all environment variable set successfully

On Mon, May 25, 2020, 6:00 PM Ilya Lavrenov <notifications@github.com>
wrote:

[2020-05-25 12:33] lazarevevgeny commented on #203
@kzjeef is this issue still actual? Can you try to use the Model Optimizer from the master branch?

[2020-05-25 12:33] ilya-lavrenov commented on #545
are you able to build and run any other OpenVINO sample? Do you see the same issue?

[2020-05-25 12:38] lazarevevgeny commented on #202
Verified that the model is converted correctly (output spatial shape is 32*32) with the Model Optimizer from the master branch.

[2020-05-25 12:38] #202 closed

[2020-05-25 12:40] niteshgoyal19 commented on #545
ye i run other examples also same issue came.
actually it unable to find sone infrence and opencv dll in the build
directory.
Is we have to set any other path or should i have to paste those dll in
directory?

On Mon, May 25, 2020, 6:03 PM Ilya Lavrenov <notifications@github.com>
wrote:

[2020-05-25 12:44] lazarevevgeny commented on #191
@jzhan299 were you able to finish this task? As of now OpenVINO support eltwise operation Abs. And all you need is to create an extractor for this op in the Model Optimizer (no need to write any CPU extension).

[2020-05-25 12:49] lazarevevgeny commented on #151
@martin-91x is this issue still actual? Can we close it?

[2020-05-25 12:56] lazarevevgeny commented on #148
The issue should had been fixed already. Could you verify with the latest OpenVINO?

[2020-05-25 13:07] ilya-lavrenov commented on #545
@niteshgoyal19 you have to call `setupvars.bat` in the terminal and after you can run the application. Seems `setupvars.bat` does not affect your environment or you use it incorrectly.

[2020-05-25 13:28] mvafin commented on #339
@gristovski I cannot reproduce the issue as you described on the current master. So if you still experience that on the master ModelOptinizer, please provide onnx model on which that happens.

[2020-05-25 13:34] lazarevevgeny commented on #134
The issue has been fixed. Please, verify with the latest OpenVINO from github.

[2020-05-25 13:34] #134 closed

[2020-05-25 13:35] lazarevevgeny commented on #126
@mrinmayk is the issue still actual? Did you manage to solve the problem?

[2020-05-25 13:36] lazarevevgeny commented on #125
The "--tensorflow_subgraph_patterns" had been deprecated and removed from the product. Closing the issue.

[2020-05-25 13:36] #125 closed

[2020-05-25 13:54] lazarevevgeny commented on #121
@chenaili6 there is no way to convert the TF model with PyFunc operations because there is no implementation of this custom TF operations in the OpenVINO plugins.

And the https://github.com/endernewton/tf-faster-rcnn model is not supported and there are no plans to support it. Please, use Tensorflow Object Detection Model zoo models instead.

[2020-05-25 13:54] #121 closed

[2020-05-25 13:56] lazarevevgeny commented on #122
@mlchuxueing is this issue still actual?

[2020-05-25 14:00] lazarevevgeny commented on #131
Closing as the solution had been provided.

[2020-05-25 14:00] #131 closed

[2020-05-25 14:06] lazarevevgeny commented on #116
@violet17 when you provide a meta-graph as input you must specify output node names to cut-off the part of the model related to training. As you can see from the log the MO failed to convert operations related to training.

Have you managed to solve that issue already?

[2020-05-25 14:08] lazarevevgeny commented on #107
This issue has been fixed already. Please, check the master branch.

[2020-05-25 14:08] #107 closed

[2020-05-25 14:09] lazarevevgeny commented on #102
The support for LeakyRelu has been added to the Model Optimizer. Closing the issue.

[2020-05-25 14:09] #102 closed

[2020-05-25 14:15] lazarevevgeny commented on #94
@erezposner is this issue still actual? I can convert the model now with the following command line `./mo.py --input_model model.onnx  --data_type FP16`

[2020-05-25 14:18] vladimir-paramuzov commented on #452
@zccyman Do the comments above resolve your issue?

[2020-05-25 14:18] lazarevevgeny commented on #93
@ZyuZyuZyu is this issue still actual?

[2020-05-25 14:21] lazarevevgeny commented on #88
@AnnaRose0226 The support for Yolo Tiny has been added to the OpenVINO some time ago. Could you check the documentation https://docs.openvinotoolkit.org/2020.2/_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_YOLO_From_Tensorflow.html and use the latest OpenVINO version?

[2020-05-25 14:22] lazarevevgeny commented on #80
@xhuan28 the OpenVINO support for BatchMatMul and MatMul has been added. Could you take the latest OpenVINO package or compile OpenVINO from sources and verify?

[2020-05-25 14:28] lazarevevgeny commented on #75
@dlliu0422 There are nothing to do. I close the ticket as it seems to be resolved.

[2020-05-25 14:28] #75 closed

[2020-05-25 14:29] lazarevevgeny commented on #65
@xonobo, is this issue still actual?

[2020-05-25 14:30] lazarevevgeny commented on #58
The support for OS X has been added. Closing the ticket.

[2020-05-25 14:30] #58 closed

[2020-05-25 14:31] lazarevevgeny commented on #57
The issue had been fixed already. Closing.

[2020-05-25 14:31] #57 closed

[2020-05-25 14:32] lazarevevgeny commented on #53
The feature to offload some computations to TensorFlow using the libtensorflow_ie_call_layer has been removed from the product. Closing the issue.

[2020-05-25 14:32] #53 closed

[2020-05-25 14:33] #51 closed

[2020-05-25 14:34] lazarevevgeny commented on #49
The support for operation has been added. Please, take the latest OpenVINO package or take from the github.

[2020-05-25 14:34] #49 closed

[2020-05-25 14:35] Adrianf1980 commented on #65
Can you stop to spam the list

Sent from my iPhone

[2020-05-25 14:35] lazarevevgeny commented on #40
There is no way to convert IR to Caffe and there are no plans to support this scenario. Closing the issue.

[2020-05-25 14:35] #40 closed

[2020-05-25 14:38] lazarevevgeny commented on #33
The issue should had been fixed already. Please, use the latest OpenVINO package or github to verify.

[2020-05-25 14:38] #33 closed

[2020-05-25 14:40] lazarevevgeny commented on #25
The issue should had been fixed already. Please, take the latest OpenVINO and verify.

[2020-05-25 14:40] #25 closed

[2020-05-25 14:42] lazarevevgeny commented on #23
The support for -1, -2, -3 and -4 had been added to the MO. Please, take the latest OpenVINO and verify. Closing the ticket.

[2020-05-25 14:42] #23 closed

[2020-05-25 14:42] lazarevevgeny commented on #22
The issue had been fixed already. Please, take the latest OpenVINO package and verify.

[2020-05-25 14:42] #22 closed

[2020-05-25 14:43] lazarevevgeny commented on #12
Closing the ticket since there are no plans to support dynamic input shape.

[2020-05-25 14:43] #12 closed

[2020-05-25 14:53] lazarevevgeny commented on #11
@mpjlu is this issue still actual? I do not see the models repo mentioned above anymore.

[2020-05-25 15:02] lazarevevgeny commented on #28
Is the issue still actual?

[2020-05-25 15:03] brmarkus commented on #452
A colleague got OpenVINO running on "Intel Haydes Canyon NUC", which has an "AMD Radeon" on board.

[2020-05-25 15:05] #120 closed

[2020-05-25 15:27] marcin-sielski commented on #408
Hi @lazarevevgeny,

I eventually was able to solve the issue with model by upgrading the OpenVINO, so yes the issue may be closed. I understand that I can still use model for inference even though "unsupported layers" are reported on NCS-2 as long everything works ok - those layers were just redundant and maybe not necessary/critical. I cannot understand why input and output layers are reported as

[2020-05-25 16:10] ongun-kanat commented on #481
No I created model as an warm-up example for myself. I also want to compare the performance of the USB module vs CPU. I am creating a tool for converting in-company models to various other representations so I wanted to try a basic model first.

In this case the model works on MYRIAD without an error:

[code]

[2020-05-25 20:04] prashantenterprisesblp commented on #411
When I use it, and run the face detection on an image. I get this error.
  File "openvino_fd_myriad.py", line 3, in <module>
    net = cv.dnn_DetectionModel('..\litemodel\openvinomodels\face-detection-adas-0001.xml',
AttributeError: module 'cv2' has no attribute 'dnn_DetectionModel'

Open CV version 3.2.0 (installed using apt install python3-opencv)

[2020-05-25 21:55] anmikh commented on #487
@ilya-lavrenov Yes, loading networks can be done in different threads on the latest master now (without using mutex in the client's code). But it seems that almost all process of loading network is locked with the mutex, so I suppose performance gain could be better
 in case of locking with the mutex only small part of code for real critical sections where mutex is requiered.

[2020-05-26 02:24] karkadad commented on #503
[ts_lstm_model.zip](https://github.com/openvinotoolkit/openvino/files/4679568/ts_lstm_model.zip)
Please find attached the ONNX model (added a zip file of the ONNX model since .onnx format is not supported on github).

[2020-05-26 05:24] ahuizxc commented on #464
sorry  this project is already closed and my solution is work fine for me :).

[2020-05-26 05:29] junluan opened #577 "Intel® Distribution of OpenVINO™ toolkit On macOS: ngraph static link with protobuf 3.7.1"
Intel® Distribution of OpenVINO™ toolkit On macOS

ngraph lib in m_openvino_toolkit_p_2020.2.117.dmg (2020.2) static link with protobuf 3.7.1, this cause protobuf version conflict when user's project already use another version of protobuf

The output error message like this below:

[code]

I also checked m_openvino_toolkit_p_2020.1.023.dmg. This 2020.1 version's ngraph did not compiled with proto

[2020-05-26 07:21] junxnone commented on #448
https://github.com/openvinotoolkit/openvino/blob/e835a4cf58a69d107f3162dc83d7de192efbf8e4/inference-engine/ie_bridges/python/sample/object_detection_sample_ssd/object_detection_sample_ssd.py#L104-L105

---
The log message is wrong.
the `second {}` shoud be the origin image shape, but now it is the resized image shape

[2020-05-26 07:23] yury-gorbachev commented on #448
Any chance you could contribute fix?

Possible for y

[2020-05-26 08:44] ilya-lavrenov commented on #522
@guoyejun it turned out that reshape for C API is already here https://docs.openvinotoolkit.org/latest/ie_c_api/group__Network.html#gac4f690afd0c2221f7db2ff9be4aa0637

See in the code https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/ie_bridges/c/include/c_api/ie_c_api.h#L773-L780

[2020-05-26 08:47] guoyejun commented on #522
thanks, that's great.

and any comment for the other two concerns?

a. some models have input with fixed size (can't be reshaped), and some models have variable input size (can be reshaped).
How could application know if the model input is reshape-able?

btw, it is straightforward if we choose -1 for the variable input size. The arbitrary values chosen in step 2 looks meaningless.

[2020-05-26 08:49] ilya-lavrenov commented on #577
@junluan

1. ONNX importer in 2020.2 is compiled into ngraph shared library, so protobuf is compiler as well.
Currently in master branch, onnx importer is already a separate dynamic library. So, if you don't use this library, you don't have any conflicts.
2. In [this](https://github.com/openvinotoolkit/openvino/pull/532) PR onnx importer is wrapped into plugin when is automatically loaded when a u

[2020-05-26 08:53] dkurt commented on #522
Moreover some of the models can be rashapable but will fail because of bugs in origin frameworks or Model Optimizer conversion. So you need to test the model by experiment.

[2020-05-26 09:07] alexey-katranov commented on #498
Do you have a possibility run with a debug version of TBB? E.g. you can rename libtbb_debug.so.2 to libtbb.so.2 and do not rebuild the application.

[2020-05-26 10:43] guoyejun commented on #498
my TBB is built automatically during the openvino build,  looks that no debug version built.
$ ls /usr/lib/x86_64-linux-gnu/libtbb*
/usr/lib/x86_64-linux-gnu/libtbbmalloc_proxy.so.2  /usr/lib/x86_64-linux-gnu/libtbbmalloc.so.2  /usr/lib/x86_64-linux-gnu/libtbb.so.2

do you have a detailed steps to build/install TBB debug version? thanks. (just to make sure that i do not introduce other new possibl

[2020-05-26 10:47] guoyejun commented on #522
thanks, so it looks that the reshape is not a good method since we'll have to test the model by experiment.  Looks that everything is fine if '-1' is supported. Shall we support '-1' method?

[2020-05-26 10:59] dkurt commented on #577
I think that different namespaces should be used. Otherwise there is a mess with symbols. In example, for OpenCV we use `openc-onnx` instead of origin `onnx`: https://github.com/opencv/opencv/blob/master/modules/dnn/misc/onnx/opencv-onnx.pb.h

[2020-05-26 11:02] dkurt commented on #522
@guoyejun, let's be more specific. Please share a model to reproduce the problem so we can understand if it's possible to make it work with variable input shapes.

[2020-05-26 11:09] guoyejun commented on #522
sure,  please see my model at the beginning of https://github.com/openvinotoolkit/openvino/issues/498, thanks.

[2020-05-26 11:29] ilya-lavrenov commented on #448
@junxnone thanks for the patch! I'm closing the issue.

[2020-05-26 11:29] #448 closed

[2020-05-26 12:26] junluan commented on #577
Thank you @ilya-lavrenov

In [this](https://github.com/openvinotoolkit/openvino/pull/532) PR you said the plugin is automatically loaded. I see registerReaders() both register onnx (inference_engine_onnx_reader) and xml (inference_engine_ir_readers) readers.

Is it possible to add some flag to control whether enable onnx reader. Because up to now, in most situations we use MO to generate xml model

[2020-05-26 12:39] ilya-lavrenov commented on #577
@junluan `registerReaders` registers the path to the libraries, but it does not mean that they are loaded at this time. They are lazy loaded only if user passed IR or ONNX and only single reader is loaded depending on model type.

[2020-05-26 12:40] ilya-lavrenov commented on #577
@dkurt we also use different namespace for ONNX https://github.com/openvinotoolkit/openvino/blob/master/ngraph/cmake/external_onnx.cmake#L38, but what is about protobuf?

CC @tomdol

[2020-05-26 12:50] junluan commented on #577
@dkurt That will be ok. Thank you!

[2020-05-26 13:00] dkurt commented on #577
Here some of the related issues:
https://github.com/opencv/opencv/issues/13328 (the most complete)
https://github.com/opencv/opencv/issues/10747
https://github.com/opencv/opencv/issues/12429
https://github.com/opencv/opencv/issues/10949
https://github.com/opencv/opencv/issues/10027

Cannot find a universal solution from it. Maybe @alalek can comment?

[2020-05-26 13:05] lazarevevgeny commented on #522
'-1' method will not be supported in the nearest future. As of now it is a architectural limitation.

[2020-05-26 13:40] alexey-katranov commented on #498
You can download a prebuilt version of TBB binaries from TBB github: https://github.com/oneapi-src/oneTBB/releases. You can try TBB 2020 U2: https://github.com/oneapi-src/oneTBB/releases/download/v2020.2/tbb-2020.2-lin.tgz
The package contains debug version of the binaries. You need only libtbb_debug,so.2.

[2020-05-26 14:17] tomdol commented on #577
Linking statically is recommended and this is why we do it this way in onnx_importer https://github.com/protocolbuffers/protobuf/blob/master/cmake/README.md#dlls-vs-static-linking

As mentioned, it's now a separate library and ngraph doesn't depend on protobuf any more.

[2020-05-26 14:19] guoyejun commented on #522
got it, thanks.

[2020-05-26 14:19] #522 closed

[2020-05-26 14:19] ilya-lavrenov commented on #577
@tomdol but will we have issues if user uses both ONNX importer and other library with protobuf inside?

[2020-05-26 14:19] #412 closed

[2020-05-26 14:28] tomdol commented on #577
This depends a lot on how protobuf is used in this other app. We've had a problem with 2 protobuf versions in ONNXRuntime and UEP and the solution was to use a custom namespace for ONNX ilbrary used by onnx_importer.

There was another problem when ngraph was loaded globally in our python API which was fixed by changing the way it's loaded https://github.com/NervanaSystems/ngraph/pull/4769

In gen

[2020-05-26 14:34] guoyejun commented on #498
do not see crash with debug version TBB.
[code]

[2020-05-26 15:01] alexey-katranov commented on #498
Sorry, I forgot to mention that you need to copy libtbbbind_debug as well (do not rename it because libtbb_debug is looking for the debug version of libtbbbind).
I suppose that tbbbind_debug was not found and NUMA extension was disabled in your last experiment.

[2020-05-26 18:53] #468 closed

[2020-05-26 19:36] JulienMaille commented on #501
@ilya-lavrenov Is there anything I can do to help? Provide more details? Let me know when you need the model to reproduce.

[2020-05-26 22:08] jane-intel commented on #503
@karkadad, Model Optimizer doesn't support ONNX `Loop` operator and there are no nearest plans to support it.

You can find all supported by MO ONNX operators [here in OpenVINO documentation](https://docs.openvinotoolkit.org/2020.2/_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html#onnx_supported_operators)

---
For OV developers:
![image](https://user-images.githubusercontent.com/55839243

[2020-05-26 23:14] juvinski commented on #411
Hi guys,

I'm facing the same error with a custom model on rasp 4 with ncs2.
Any clue how to use this custom model ?

[2020-05-26 23:37] abrichr commented on #452
I get a similar error on MacOS 10.13.6, with an Intel Iris Graphics 6100 1536 MB:

[code]

Is there a way to enable GPU support on MacOS?

[2020-05-26 23:40] natxopedreira commented on #411
Hi @juvinski

Sadly i think is no solution until there is a new openvino release, i tried compiling openvino, opencv, ngraph.... and nothing

But as is a custom model you can try to use this flag "--generate_deprecated_IR_V7" when using the model optimizer to generate IR version, "with that flag you do a lower version model".

Note im not an expert here but problem seems to happens when you want t

[2020-05-27 00:11] asuhov commented on #452
@abrichr GPU plugin supports Windows and Linux only. There is no way to use it on MacOS.

[2020-05-27 00:21] juvinski commented on #411
Hi @natxopedreira ,

I tried and works !

Thanks

[2020-05-27 00:29] abrichr commented on #452
@asuhov thank you for the quick reply.

On Windows 10, following the instructions at https://docs.openvinotoolkit.org/2020.1/_docs_install_guides_installing_openvino_windows.html:

[code]

In the Device Manager, under Display Adapters, I see "Intel(R) HD Graphics 4600". The Driver Version is 20.19.15.4531.

How can I get OpenVINO working with a GPU on Windows?

[2020-05-27 01:56] junluan commented on #577
@ilya-lavrenov @dkurt @tomdol

I just find the reason which caused this problem.

**.pb.cc call's macro GOOGLE_PROTOBUF_VERIFY_VERSION which is

[code]

I link ngraph first then protobuf. The linker in macOS use the symble in ngraph instead of protobuf. When I changed the order to link protobuf first, I work's fine. But this problem does not happen in Linux, gcc link the correct symble.

Thank you

[2020-05-27 02:13] vladimir-paramuzov commented on #452
@abrichr This error means that opencl doesn't work for your device.
The problem is that GPU driver has NEO compute runtime for opencl which supports only gen8+ GPUs (Broadwell, Skylake, etc), but `Intel(R) HD Graphics 4600` is gen7 (Haswell), so we can't really do anything on the openvino side to fix this issue.

See https://github.com/intel/compute-runtime repo for more details on supported platf

[2020-05-27 04:59] ilyachur commented on #411
Hi @juvinski

Did you try a Model Optimizer flag "--generate_deprecated_IR_V7"?

The issue affects only IR v10, but I was sure that the problem was resolved for the master branch.

Could you please try to the last master branch? And provide an error and stacktrace if it doesn't work for your case.

Thanks.

[2020-05-27 07:52] natxopedreira commented on #411
@ilyachur  Was this solved in a recent update on the master branch?

[2020-05-27 08:10] ilyachur commented on #411
@natxopedreira Yes, as I know the final fix was merged to the master branch 5 days ago (https://github.com/openvinotoolkit/openvino/commit/ca9a78874a69a303419daef94b97387afad514e7)

[2020-05-27 08:21] natxopedreira commented on #411
Ohhhh, thats great!!!

Thanks for let us know @ilyachur i will build from master branch later and try, last time i tried was 8 days ago

[2020-05-27 09:19] ilyachur commented on #411
@natxopedreira Ok, cool!

Please let us know about your results.

[2020-05-27 09:32] ausk commented on #536
Accoding to: https://docs.openvinotoolkit.org/latest/_docs_IE_DG_supported_plugins_VPU.html

[code]

[2020-05-27 09:38] ilyachur commented on #20
@Ziv-Huang  OpenVINO provides API which allow to read model from memory:
`InferenceEngine::Core::ReadNetwork(const std::string& model, const Blob::CPtr& weights)`

I will close the issue. Feel free to reopen it if this approach doesn't work for your cases.

[2020-05-27 09:38] #20 closed

[2020-05-27 09:43] ilyachur commented on #56
Hi @dbrazey,

At the current moment you can find plugin sources here: https://github.com/openvinotoolkit/openvino/tree/master/inference-engine/src

I will close the ticket. Feel free to reopen it, if you have any questions.

[2020-05-27 09:43] #56 closed

[2020-05-27 09:49] ilyachur commented on #90
@RachelRen05 Was the original problem resolved?

[2020-05-27 09:51] ilyachur commented on #103
@burialpine can I ask you try to use the last OpenVINO master?
I hope the issue should be resolved.

[2020-05-27 09:54] ilyachur commented on #105
Hi @nikogamulin,

Can we close the ticket? Was the original problem resolved?

[2020-05-27 10:01] ilyachur commented on #110
@wojsla Was the original issue resolve? Can you close the issue?

[2020-05-27 10:04] ilyachur commented on #113
Hi,

Looks like the ticket is out of date. I will close it.
The current IR version is v 10.
Feel free to reopen it if it is still actual.

[2020-05-27 10:04] #113 closed

[2020-05-27 10:05] ilyachur commented on #114
@jlygit Did the new version of OpeVINO solve your problem?

@dmitry-gorokhov FYI

[2020-05-27 10:12] ilyachur commented on #117
@wojsla Can you try to use the last OpenVINO package?
@jbrownkramer @wojsla Please use setup_vars in order to set the right environment. I think it should help to solve problems with tbb libraries.

[2020-05-27 10:15] ilyachur commented on #124
At the current moment CPU plugin supports the FP16 precision.

I will close a ticket. Feel free to reopen it, if you have any problems.

[2020-05-27 10:15] #124 closed

[2020-05-27 10:38] ilyachur commented on #207
@KindleHe Is the issue still relevant?

[2020-05-27 10:43] ilyachur commented on #197
Hi,

OpenVINO doesn't contain extension libraries more. All kernels from extension libraries were moved to the CPU plugin.

I will close the ticket. Please reopen it, in case of any questions.

[2020-05-27 10:43] #197 closed

[2020-05-27 10:50] ilyachur commented on #183
@gasgallo Can you try to use the last OpenVINO package?

[2020-05-27 11:01] ilyachur commented on #172
@jlygit Do you have the same behaviour for the last OpenVINO package?
Can you provide more details about the CPU?

@dmitry-gorokhov FYI

[2020-05-27 11:02] ilyachur commented on #169
@Wuwjdd Is the issue still actual?

[2020-05-27 11:03] ilyachur commented on #166
@dmitry-gorokhov Can you help?

[2020-05-27 11:08] ilyachur commented on #150
Hi,

The issues is still relevant for the last OpenVINO package?
Did you use setup_vars script to set the right environment?

[2020-05-27 13:09] natxopedreira commented on #411
@ilyachur

I compiled from master branch and mixed results, let me explain.

IECore seems to work but opencv is broken so i can not do infer on a sample image, i dont know if it will trow an error when call infer.....

At least i was able to get to this point, this works no errorr

`from openvino.inference_engine import IECore`

`ie = IECore()`
`model = ie.read_network("face-detection-0100.xml", "

[2020-05-27 13:42] ilyachur commented on #411
@natxopedreira

NN Builder was deprecated several releases before and it is removed in the master branch.
Looks like something in your environment was built with old version of Inference Engine and depends on this library.

Can you check dependencies for your project? Maybe you have another version of inference engine in the environment.

[2020-05-27 13:55] natxopedreira commented on #411
@ilyachur

Note that this error is only doing `import cv2` in a python shell and that before setting the enviroment vars it will throw an error as no module named cv2 because python-opencv is not installed

Those are my enviroment vars

pi@raspberrypi:~ $ echo $LD_LIBRARY_PATH
/home/pi/openvino/bin/armv7l/Release/lib/:/home/pi/openvino/inference-engine/temp/opencv_4.3.0_debian9arm/opencv/lib/:/ope

[2020-05-27 14:00] dkurt commented on #411
@natxopedreira, you need to build IE first then build OpenCV. `opencv_4.3.0_debian9arm` is compiled against OpenVINO 2020.2

[2020-05-27 14:05] natxopedreira commented on #411
@dkurt thank you, so i need to build also opencv.... i was only building IE.

Ok, i will build opencv agains openvino built from master branch

[2020-05-27 14:08] ilyachur commented on #411
@natxopedreira Thank you.
Please let us know about results.

[2020-05-27 14:11] guoyejun commented on #498
here is the log:
[code]

[2020-05-27 15:44] ilya-lavrenov commented on #487
@anmikh from my point of view we already do in a way you suggested https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/src/inference_engine/ie_core.cpp#L517 We lock plugins map when someone wants to access a particular plugin. After the operation is performance like LoadNetwork, QueryNetwork and so on.

Do you see actual performance degradation? Or e.g. networks are loaded seq

[2020-05-27 15:47] #464 closed

[2020-05-27 15:52] erezposner commented on #94
Yes it is still relevant. Thanks for taking the time to address this issue.

[2020-05-27 15:58] natxopedreira commented on #411
@ilyachur No luck, im not able to build opencv from source

Sure im doing something wrong but i dont know whats happening, note that im able to build opencv without making that change to use custom openvino build instead the one that downloads by default.

_/opencv/modules/dnn/src/op_inf_engine.cpp:50:2: error: #error "Build configuration error: nGraph or NN Builder API backend should be enabled"

[2020-05-27 15:59] yury-gorbachev commented on #501
@nkogteva can you maybe help here?

[2020-05-27 16:01] yury-gorbachev commented on #501
cc: @dmitry-gorokhov also

[2020-05-27 16:14] nkogteva commented on #501
@JulienMaille Could you please add -pc parameter to command line to see per-layer timings for both releases?

[2020-05-27 17:54] JulienMaille commented on #501
Here you go. performances are slightly worse with the `-pc` flag
It seems the different version mostly comes from the Convolution
<details>
<summary>2020.2</summary>
<p>

[code]
</p>
</details>
<details>
<summary>2019 R3</summary>
<p>

[code]
</p>
</details>

[2020-05-27 18:00] alexey-katranov commented on #498
So, [hwloc_bitmap_weight](https://github.com/oneapi-src/oneTBB/blob/tbb_2020/src/tbb/tbb_bind.cpp#L134-L135) returned an expected result. It seems something related to hwloc configuration on the system.

@ivankochin, can you please share your opinion about the issue?

[2020-05-27 18:38] leavim commented on #545
@niteshgoyal19 when installed OpenVINO, did you customize any items from installation? Did you complete all system pre-requisites given in [guide (v2020.2)](https://docs.openvinotoolkit.org/2020.2/_docs_install_guides_installing_openvino_windows.html)? Please share which version of OpenVINO/Windows OS and plugin (Intel CPU?) used.

After calling the `setupvars.bat` in CMD window, run command `set`

[2020-05-27 19:22] TheMasterRoot commented on #150
yes the same problem.

[2020-05-27 22:32] natxopedreira commented on #411
@dkurt sorry for disturbing, can you please tell me if you know that compiling current opencv master branch against a openvino built also from master branch works in this moment?

I tried several times and always get same error, maybe building with that config is currently broken because of recent changes in openvino master branch

Thank you

[2020-05-28 02:13] ausk opened #652 "How to convert tensorflow pb (in NCHW format with ResizeOp) into OpenVino IR?"
Hi, I have a tensorflow pb model in `NCHW` format，how to convert it into OpenVino IR?

If I convert it directly, then I get

[code]

What openvino thinks: `nhwc(1,1,224,224) => nchw(1,224,1,224)`
But actually, it is: `nchw(1,1,224,224) => nwch(1,224,1,224)`.

While there is no predefined `NWCH` format in openvino.

So does anyone know how to convert the pb(in `NCHW`  format) into IR?

[2020-05-28 03:26] ilyachur commented on #652
@lazarevevgeny Can you help?

[2020-05-28 03:29] ilyachur commented on #150
@TheMasterRoot Can you check dependencies for MKLDNNPlugin? Maybe some dependencies were not resolved.

CC @dmitry-gorokhov

[2020-05-28 03:34] ilyachur commented on #411
@dkurt Can you help with OpenCV isssue?

[2020-05-28 04:58] lazarevevgeny commented on #652
If your TF model is in NCHW layout you need to specify `--disable_nhwc_to_nchw` command line parameter when you convert the model.

[2020-05-28 05:34] ausk commented on #652
@ilyachur  @lazarevevgeny  Thank you guys.
My pb model contain Node `ResizeNearNeighbor`. If I convert the pb with `--disable_nhwc_to_nchw`, then I get a IR with such desc:

[code]

And when I run infer use openvino ( just in CPU first), I get one error:

`Interpolate operation should be converted to Interp`.

Then what should I do?

[2020-05-28 05:52] karkadad commented on #503
Please find attached the TF model. This was the command used:
mo_tf.py --input_model ts_lstm_model_frozen.pb  --input 'input_seq' --input_shape [1,30,1] --output 'output/BiasAdd' --log_level=DEBUG
[TF_ts_lstm_model_frozen.zip](https://github.com/openvinotoolkit/openvino/files/4693497/TF_ts_lstm_model_frozen.zip)

[2020-05-28 06:05] adk9 opened #655 "ModuleNotFoundError: No module named 'openvino.inference_engine.constants'"
I built and installed the Python module by using the `-DENABLE_PYTHON=ON` CMake flag. When I try to load the Python module, I see the following error:
[code]

I'm using Python 3.6.9 and openvino `master`.

[2020-05-28 06:45] ausk commented on #536
The document says:

[code]
------

I have a demo board with two MyriadX devices.

[code]
--------

First, it's ok to run the program with `MYRIAD` device.

Then I test it using `HDDL` device. It works too. The inference times in `MYRIAD` and `HDDL` are almost the same.

But now, I can't run in `MYRIAD` device. If i check use `lsusb`, I find the device id change from `03e7:2485` to `03e7:f63b`, and

[2020-05-28 06:52] ausk commented on #652
I make a small pb model:

![image](https://user-images.githubusercontent.com/4545060/83108470-71343c80-a0f2-11ea-827c-5fd74d360adb.png)

[ubt_geentoo.zip](https://github.com/openvinotoolkit/openvino/files/4693729/ubt_geentoo.zip)

You can test with it.

[2020-05-28 06:55] ivankochin commented on #498
@alexey-katranov, I agree with you, it seems like a strange hwloc topology configuration.

But I found a statement in the hwloc documentation that might be causing this issue. It is mentioned in [hwloc_cpuset_to_nodeset() documentation](https://www.open-mpi.org/projects/hwloc/doc/v1.11.13/a00141.php#ga8fbd641f284673a3e884e8e556044eba) :
[code]
It is not clearly described, but as I understand in th

[2020-05-28 07:35] brmarkus commented on #536
When the application starts it initializes the Myriad(X) device - it gets reset, it disappears from USB-bus (it was a high-speed USB2 device with "`03e7:2485`") and then it appears again on the USB-bus (now as super-speed USB3 device with "`03e7:f63b`"), that is expected behavior.
When the application exists gracefully (or InferenceEngine/OpenVINO gets deinitialized) it will reset the Myriad(X) ag

[2020-05-28 09:06] yury-gorbachev commented on #655
@akuporos, @nkogteva can you help?

[2020-05-28 09:19] akuporos commented on #655
Hello @adk9,
Have you used the last OV master?
Looks like you built ie_api target, but it's need also build constants. But since last Friday there should be enough to build ie_api target.

Best regards,
Anastasia

[2020-05-28 10:58] dkurt commented on #411
@natxopedreira, issues is related to nGraph API changes and that IE has no identificators for release version. Please specify release manually: `-DINF_ENGINE_RELEASE=2020040000`:

[code]

<details>
<summary>Dockerfile</summary>

[code]

</details>

[2020-05-28 11:22] #531 closed

[2020-05-28 11:38] guoyejun commented on #498
[code]

[code]

[2020-05-28 11:39] ilyachur commented on #652
@ausk Thank you for the reproducer.

I checked it on the last master and the problem is that at the current moment OpenVINO support Interpolate operation which is performed over spatial dimensions only.

Unfortunately in your case Interpolate is performed on axises 1, 2.

[2020-05-28 11:51] ivankochin commented on #498
@guoyejun thanks!
But I think we still need to get some additional information.
Can you also share with us the `lscpu` output?

[2020-05-28 11:53] guoyejun commented on #498
[code]

[2020-05-28 12:22] ilyachur commented on #652
We will look to this problem and find solution to fix it.

[2020-05-28 12:24] TheMasterRoot commented on #150
how to check this plugins? or how to reinstall it?

[2020-05-28 13:06] ilyachur commented on #150
@TheMasterRoot
First of all try to find `MKLDNNPlugin.dll` and check that it exists.
After that please check dependencies for the plugin, you can use [Dependency Walker](http://www.dependencywalker.com/) for it. This tool shows you all dependencies for the plugin, please check that all dependencies are resolved.

 I think all should work if the Inference Engine detects the `MKLDNNPlugin.dll` and a

[2020-05-28 14:05] TheMasterRoot commented on #150
thank you i ll look for it

[2020-05-28 14:09] lazarevevgeny commented on #652
@ilyachur it is a different story. The MO does not convert the model correctly. During the conversion the Transpose before ResizeNearestNeighbor should be removed because in OpenVINO Interpolate works in NCHW layout but in TF the ResizeNearestNeighbor expects input in the NHWC layout. This is a tricky bug to be solved on the MO side.

[2020-05-28 14:42] azhogov opened #670 "nGraph debug UT failed on Windows"
Please fix the failed nGraph debug UT on Windows in Azure DevOps CI

2020-05-28T09:14:13.4583483Z [----------] 3 tests from opset
2020-05-28T09:14:13.4583730Z [ RUN      ] opset.check_opset1
2020-05-28T09:14:13.9929195Z ##[error]Cmd.exe exited with code '-1073740791'.
2020-05-28T09:14:14.0261563Z ##[section]Finishing: nGraph UT

See details:
https://dev.azure.com/openvinoci/dldt/_build/results?bui

[2020-05-28 17:10] adk9 commented on #655
Hi @akuporos, I'm using the latest OV master. I'm not building any individual targets (if that's what you mean) but simply doing a `make && make install` before trying to use the module. I see that a `constants.so` is built but not installed. Is that the expected behavior?

[2020-05-28 17:19] akuporos commented on #655
Hello @adk9,
We haven't try ```make install``` command, so it could cause  this problem.
Usually after ```make``` we just set ```PYTHONPATH``` and run scripts.
So we need sometime to investigate how can we fix it after ```make install```.

Best regards,
Anastasia

[2020-05-28 17:35] JulienMaille commented on #501
@nkogteva is this what you expected?

[2020-05-28 17:52] nkogteva commented on #501
@JulienMaille We will investigate the problem. Currently I have no short answer. Could you please share models (onnx, IRs)? You can use my email.

[2020-05-28 20:04] natxopedreira commented on #411
@dkurt @ilyachur Thank you!! it works but i think something is wrong here.

3 seconds to do an inference on a 320x240 image!!!

`import cv2 as cv`
`import imutils`
`import time`

`model_face_bin = 'face-detection-retail-0004.bin'`
`model_face_xml = 'face-detection-retail-0004.xml'`

`net = cv.dnn.readNet(model_face_xml,model_face_bin)`
`net.setPreferableTarget(cv.dnn.DNN_TARGET_MYRIAD)`

`frame =

[2020-05-28 20:05] ilya-lavrenov commented on #655
@adk9 I've provided a fix, could you please review as well and check whether it solves the issue?

[2020-05-28 21:10] adk9 commented on #655
Thanks @ilya-lavrenov, LGTM and it fixes the issue I was seeing.

[2020-05-28 21:10] #655 closed

[2020-05-28 23:06] rajan-blackboxes opened #679 "Cannot create Const layer with name"
Hi ,
Running [text-detection-0004](https://docs.openvinotoolkit.org/latest/_models_intel_text_detection_0004_description_text_detection_0004.html)  throws an error as

`RuntimeError: Cannot create Const layer with name: model/block_15_expand_BN/FusedBatchNorm/mean/Fused_Mul_1305813060_const. Layer has incorrect weights!`

This error is only showing on this model and Human pose estimation model,How

[2020-05-29 00:13] dkurt commented on #411
Do warmup runs before actual efficiency measurements. Like here: https://github.com/opencv/opencv/pull/17295#issuecomment-629603280.

[2020-05-29 00:38] natxopedreira commented on #411
@dkurt
Thank you, just did some test as you suggested with running a first inference to warm up, big difference. I always used this on video so i assume thats why never notice that before. Is like the model in the first inference is loaded on memory or something....i learned something new, thanks

`model_face_bin = 'face-detection-retail-0004.bin'`
`model_face_xml = 'face-detection-retail-0004.xml

[2020-05-29 01:15] ausk commented on #652
@ilyachur  @lazarevevgeny  Thank you for your help.  Best regards.

[2020-05-29 01:58] ausk commented on #536
@brmarkus  Thank you for telling the truth behind the phenomenon.

If we want to use MYRIAD after use HDDL, we can do this:

[code]
-----
In the description, *When the application starts it initializes the Myriad(X) device - it gets reset, it disappears from USB-bus (it was a high-speed USB2 device with "03e7:2485") and then it appears again on the USB-bus (now as super-speed USB3 device with "03e

[2020-05-29 03:19] ilyachur commented on #679
Hi @rajan-blackboxes,

You can get this error message when load network with incorrect *.bin file.
For example when the size of *.bin file is less than requirement size (offset and size parameters for some operation from *.xml file).

Can you please check that *.bin file exists and has a correct size?

[2020-05-29 03:23] ilyachur commented on #150
@TheMasterRoot
Please let us know about results. Thanks.

[2020-05-29 03:27] rajan-blackboxes commented on #679
I have checked, *.bin file exists on same folder. I found size of *.bin file to be 4.2 mb and 8.2 mb for all precision in model Human pose estimation and text detection.
For vehicle  attribute , they are 1.3 mb, 635 kb, for all precision.
Please tell , how can i solve this. Thank you .

[2020-05-29 03:41] ilyachur commented on #411
@natxopedreira
If you don't have any questions, can you confirm that issue was solved and close it?

[2020-05-29 04:04] ilyachur commented on #679
@rajan-blackboxes Did you run text-detection-0004 or human pose too?

I checked the text-detection-0004 model and the right sizes are:
FP32/text-detection-0004.bin   17.3 Mb
FP16/text-detection-0004.bin   8.7 Mb

I used [model downloader](https://github.com/opencv/open_model_zoo/tree/master/tools/downloader) to download these models.
These model successfully were loaded and inferred on Inference E

[2020-05-29 04:24] ilya-lavrenov commented on #421
@litherum VPU plug-in set batch size to 1, but it still iterates over batch dimension in an external loop, so batch value is not ignored

[2020-05-29 04:26] ilya-lavrenov commented on #418
@catastrophe22 such feature is not implemented yet for CPU plugin. It is not easy to do, but it’s planned

[2020-05-29 04:29] ilya-lavrenov commented on #416
@wujpbb7 you need to create executable network object inside the process Where you want to run inference request. Threads are created during executable network objects and are valid in case of fork

[2020-05-29 04:33] ilya-lavrenov commented on #398
@nkogteva could you please comment?

[2020-05-29 04:36] ilya-lavrenov commented on #395
@DarkPatate68 @jjkislele if some plugins are not needed, we don’t have to fix plugins.xml file and remove some lines. If such plugins are not used, there is no error if they are still mentioned in plugins.xml file

[2020-05-29 04:37] ilya-lavrenov commented on #395
Suppose the question is answered. Closing

[2020-05-29 04:37] #395 closed

[2020-05-29 04:39] ilya-lavrenov commented on #391
Hope, the question is answered. Closing

[2020-05-29 04:39] #391 closed

[2020-05-29 04:44] ilya-lavrenov commented on #387
Update: the issue addressed in the latest master. Could you please try?

[2020-05-29 04:50] ilya-lavrenov commented on #368
@vladimir-paramuzov may be we can put these notes into some readme for cldnn?

[2020-05-29 04:53] ilya-lavrenov commented on #359
Looks like not an issue. Closing

[2020-05-29 04:53] #359 closed

[2020-05-29 04:55] ilya-lavrenov commented on #351
@kalcohol could you please attach the model?

[2020-05-29 04:58] ilya-lavrenov commented on #333
Cc @lazarevevgeny

[2020-05-29 04:59] ilya-lavrenov commented on #331
The solution is provided. Closing

[2020-05-29 04:59] #331 closed

[2020-05-29 05:01] ilya-lavrenov commented on #325
Agree to close, not related to IE

[2020-05-29 05:01] #325 closed

[2020-05-29 05:03] ilya-lavrenov commented on #324
Closing as resolved

[2020-05-29 05:03] #324 closed

[2020-05-29 05:04] ilya-lavrenov commented on #310
Closing as arm cpu is not supported for now

[2020-05-29 05:04] #310 closed

[2020-05-29 05:05] ilya-lavrenov commented on #307
Closing as resolved

[2020-05-29 05:05] #307 closed

[2020-05-29 05:06] ilya-lavrenov commented on #305
@moslex is it available at some point?

[2020-05-29 05:09] #290 closed

[2020-05-29 05:10] ilya-lavrenov commented on #275
@lazarevevgeny is it fixed now?

[2020-05-29 05:22] rajan-blackboxes commented on #679
Thanks, It was because of corrupted xml and bin files.
Because of some reason downloader.py downloaded corrupted files after downloading again , it worked.

[2020-05-29 05:22] #679 closed

[2020-05-29 06:04] lazarevevgeny commented on #275
If you install prerequisites from "requirements_dev.txt" then everything works. So I am closing the issue.

[2020-05-29 06:04] #275 closed

[2020-05-29 06:07] lazarevevgeny commented on #333
@whatdhack have you tried to install the latest version of the TF? This is the environment issues with high probability according to the error message.

[2020-05-29 07:49] natxopedreira commented on #411
@ilyachur
Yes, it works!!! Thank you, i think i have a bad var enviroment value as i can not import openvino, maybe something changed it position on last changes on openvino master, i will take a look later.

Sorry i can not close it, im not the original autor, @tgonzalez89 can you check and close it please?

[2020-05-29 07:54] alalek commented on #325
@r0l1 OpenCV can serialize model into IRs as a debugging feature (no OpenCV API for that): https://github.com/opencv/opencv/pull/17388
(model should not contain OpenCV custom layers)

[2020-05-29 08:07] ilyachur commented on #426
@ilya-lavrenov FYI

[2020-05-29 08:11] nkogteva commented on #398
I close the issue since problem is fixed on master branch.

[2020-05-29 08:11] #398 closed

[2020-05-29 08:12] ilyachur commented on #422
@zilion22 Looks like converted network contains incorrect weights for convolution layer.

Weights dimensions are `{32,3,3,3}`, but input is `{1,1,1024,1024}`, in this case weights should have dimensions: `{32,1,3,3}`

@lazarevevgeny Could you give an advice if the problem in the MO?

[2020-05-29 08:15] lazarevevgeny commented on #422
Without the model or a simple reproducer we cannot provide any feedback.

[2020-05-29 08:21] ilyachur commented on #425
Hi @alokpr,

This is a default behaviour of the OpenVINO build infrastructure.
If you want to change the output path for binaries, you can use the cmake variable: `OUTPUT_ROOT`

Can it solve your issue?

[2020-05-29 08:24] ilyachur commented on #415
@zpmmehrdad You can take a look into [open model zoo demos](https://github.com/opencv/open_model_zoo), some demos contain code which works with video.

[2020-05-29 08:27] ilyachur commented on #366
@LorenzoGorza OpenVINO doesn't support 32-bit systems. I will close the ticket. Feel free to reopen it if you have any questions.

[2020-05-29 08:28] ilyachur commented on #415
I will close the ticket. Feel free to reopen it if you have any questions.

[2020-05-29 08:28] #415 closed

[2020-05-29 08:28] #366 closed

[2020-05-29 08:30] ilyachur commented on #367
@masgh021 Can you try to use the last version of the OpenVINO?

[2020-05-29 08:32] ilyachur commented on #349
@dkurt Is this ticket still relevant?

[2020-05-29 08:38] ilyachur commented on #332
Hi @lihengMo,

What plugin do you use for network inference?
Is the issue still relevant for the last OpenVINO version?

[2020-05-29 08:41] ilyachur commented on #330
@zhaojw219 As @asuhov said, this folder is created when OpenVINO is building.
At the current moment bin folder is created on the top level.
I will close the ticket, please feel free to reopen it, if you have any questions.

[2020-05-29 08:41] #330 closed

[2020-05-29 08:42] ilya-lavrenov commented on #426
Installation of this file is removed. See https://github.com/openvinotoolkit/openvino/commit/a347375d0188b58056887f382161c6ed6fc3dcb3

[2020-05-29 08:42] #426 closed

[2020-05-29 08:42] ilyachur commented on #329
@maplesCM Can you try to use the last version of OpenVINO?

@lazarevevgeny FYI

[2020-05-29 08:42] ilya-lavrenov commented on #403
Installation of this file is removed. See https://github.com/openvinotoolkit/openvino/commit/a347375d0188b58056887f382161c6ed6fc3dcb3

[2020-05-29 08:42] #403 closed

[2020-05-29 08:44] ilyachur commented on #328
@sharronliu Can you please rebase your PR on the last master?

@lazarevevgeny FYI

[2020-05-29 08:47] ilya-lavrenov commented on #423
@alokpr

Installation of `ie_rh_decoder.cmake` is removed now (see https://github.com/openvinotoolkit/openvino/commit/a347375d0188b58056887f382161c6ed6fc3dcb3)

It's done intentionally to build `gflags` since it's also needed for tools.

If you still experience any issues with `make install`, please, file a separate issue. Thanks!

[2020-05-29 08:47] #423 closed

[2020-05-29 08:47] ilyachur commented on #322
@NikolaMr At the current moment OpenVINO doesn't support custom preprocess commands.
You can do preprocess on application side or you can implement extension layers and include preprocess as a custom layers in your network.

[2020-05-29 08:54] dkurt commented on #349
Let's transfer this issue to OpenCV or please assign it to me.

[2020-05-29 08:59] ilya-lavrenov commented on #272
@peckhart89 now it's mentioned that in order to build a python, you have to install all the requirements (see build instruction https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md and https://github.com/openvinotoolkit/openvino/tree/master/inference-engine/ie_bridges/python)

[2020-05-29 08:59] #272 closed

[2020-05-29 08:59] ilyachur commented on #318
@gladilov-gleb Can you comment?

[2020-05-29 09:02] ilyachur commented on #155
@xiaoheizi123 Can you try to use the last version of OpenVINO?

@dmitry-gorokhov FYI

[2020-05-29 09:02] lazarevevgeny commented on #329
@maplesCM , when you provide a meta-graph as input to the Model Optimizer you need to specify the output node name. Since the meta-graph model contains some training operations with control dependencies the model conversion may fail with the error mentioned above.

[2020-05-29 09:04] lazarevevgeny commented on #328
There "Floor" operation has been supported.

There are no plans to support "RandomUniform" which is mostly training related operation.

[2020-05-29 09:04] #328 closed

[2020-05-29 09:07] gladilov-gleb commented on #318
@ilyachur I'm not sure I can add something here. The question above is about open source of MULTI plugin, right? I don't know much about it, so I think we should ask someone else.

Regarding Multi + Myriad - such a use case is supported. The issue in the ticket is about missing multi plugin libraries. So @ilyachur could you change labels and direct question to the right developer?

Feel free to co

[2020-05-29 09:08] ilya-lavrenov commented on #299
@sgriset @BB142 the `statistics_collector` tool has been removed. I've tried to compile with `-DENABLE_OPENCV=OFF` and have not found any new issues. Closing as revolsed.

[2020-05-29 09:08] #299 closed

[2020-05-29 09:13] ilya-lavrenov commented on #264
You can set `-DTREAT_WARNING_AS_ERROR=OFF` (see https://github.com/openvinotoolkit/openvino/blob/master/cmake/features.cmake#L29)

[2020-05-29 10:50] #273 closed

[2020-05-29 11:38] ilyachur commented on #318
Yes thank you @gladilov-gleb.

Sorry guys for misunderstanding, I thought about Myriad plugin. Sorry!
Multi device plugin was successfully added to open source.
You can find it here: https://github.com/openvinotoolkit/openvino/tree/master/inference-engine/src/multi_device

I will close this ticket. If you have any questions feel free to reopen it.

[2020-05-29 11:38] #318 closed

[2020-05-29 12:36] ivankochin commented on #498
@guoyejun

We want to ask you to compile and run the following code sample on your system:

[code]

This example requires the following predefined environment:
* `LD_LIBRARY_PATH` - must contain the path to TBB and HWLOC shared libraries.
* `CPATH` - must contain the path to TBB sources ( If you have no TBB sources on your machine you may download them from [oneTBB repository](https://github.com/o

[2020-05-29 14:00] guoyejun commented on #498
any possible to provide a detailed step by step instructions? thanks.

[2020-05-29 17:39] JulienMaille commented on #501
@nkogteva email sent!

[2020-05-29 18:10] nkogteva commented on #501
@JulienMaille Thanks!

[2020-06-01 06:47] youkis commented on #334
I have the same error. It works on CPU, but not on MYRIAD.

[2020-06-01 15:10] Riko0 opened #708 "caffe-intel conversion"
I have a problem with caffe-intel neural network convertation

First of all it's not readable by model-optimizer, it says
snapshot_iter_17000.caffemodel does not have a valid structure
[ FRAMEWORK ERROR ]  Tag had invalid wire type.

Secondly if i convert this to bvlc-caffe using these scripts (https://github.com/ftian1/intelcaffe_weight_to_bvlc), i am able to use this network, but when i am conve

[2020-06-01 19:51] ilya-lavrenov commented on #708
@lazarevevgeny could you please advice?

[2020-06-02 04:59] ilyachur commented on #411
@tgonzalez89 I am closing the ticket because I didn't get a feedback from your side but @natxopedreira confirmed that his problem was resolved.

Feel free to reopen this ticket if the solution doesn't work for you or you have any questions.

[2020-06-02 04:59] #411 closed

[2020-06-02 05:25] #493 closed

[2020-06-02 07:05] lazarevevgeny commented on #708
@Riko0 , have you tried to generate a new parser for Caffe following [instructions](https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_Model_Optimizer_FAQ.html)?

[2020-06-02 08:19] Riko0 commented on #708
@lazarevevgeny, tried just now, converted succesfully, but results are not valid, same detections over all the video and even negative coordinates

[2020-06-02 09:12] tomdol commented on #577
@junluan is it ok to close this issue? Can we consider this resolved?

[2020-06-02 09:40] Hubert2102 commented on #436
thx!
my model can do inference with correct result when i specify input_shape with "python mo_onnx.py --input_model ./crnn_onnx/pad_crnn.onnx --input_shape [1,1,32,1000] --keep_shape_ops" and give an [1000,32] input.
BUT when i try to reshape the net ,error occured:
`    n, c, h, w = net.inputs[input_blob].shape
    net.reshape({input_blob: (n, c, h, img_w)})`

`  File "ie_api.pyx", line 1250, in

[2020-06-02 09:57] junluan commented on #577
@tomdol It's ok.

[2020-06-02 10:03] #577 closed

[2020-06-02 10:30] lazarevevgeny commented on #436
@itikhono , could you take a look at the TI issue?

[2020-06-02 10:46] itikhono commented on #436
Yes, sure, but not earlier than tomorrow.

[2020-06-03 08:02] Maosquerade opened #732 "ngraph custom operation cannot implement in self-built net."
When I register a custom ngraph operation and use that in a self-build net as [https://github.com/openvinotoolkit/openvino/tree/master/inference-engine/samples/ngraph_function_creation_sample](url) and [https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/samples/hello_reshape_ssd/reshape_ssd_extension.hpp](url). I found error like that:
[code]
and my build the net like this:
[

[2020-06-03 08:20] Hubert2102 commented on #436
similar issues:
when batch_size is specified in model_optimizer ,for example, --input_shape [10,1,32,750]. inference_engine can get output with an input of  [10,1,32,750].
howerer, i can not modify the network batch size through API
`
net.batch_size = 4
print(net.batch_size)
`
and get RuntimeError as below:
`    exec_net = ie.load_network(network=net, device_name="CPU")
  File "ie_api.pyx", line 1

[2020-06-03 08:50] mbenasher opened #735 "Preserving LSTM states between inference calls"
Hello,

I have an LSTM-based network. I have exported it to onnx, converted to IR, and integrated it successfully to the Inference Engine.
I noticed that in order to maintain the states in the LSTM I must pass a complete sequence to the network at once and then call Infer() on the entire sequence.  However, if I pass the elements one by one and call Infer() the network does not remember previous s

[2020-06-03 08:55] JulienMaille commented on #501
@nkogteva may I ask if 2020.3 still delivers same performances on this model?

[2020-06-03 09:42] JulienMaille opened #738 "Incorrect Windows link for 2020.3 distribution toolkit"
https://registrationcenter.intel.com/en/products/postregistration/ gives me this link
http://registrationcenter-download.intel.com/akdlm/irc_nas/16667/w_openvino_toolkit_p_2020.3.194.exe
which redirect to an error page:
https://www-ssl.intel.com/content/www/us/en/404.html?aspxerrorpath=/en/irc_nas/16667/w_openvino_toolkit_p_2020.3.194.exe/

[2020-06-03 09:47] JulienMaille commented on #387
@ilya-lavrenov  Did this fix missed the 2020.3 release? I see that the known issues mentions

Manually rebuild the CPU plugin from sources available in the public repository with CMake feature flags ENABLE_AVX2=OFF and ENABLE_AVX512=OFF.

[2020-06-03 09:50] ilya-lavrenov commented on #387
The fix is big enough and it was decided (by @dmitry-gorokhov @AlexPeskov) not to port it to 2020.3 release.

[2020-06-03 10:24] ivankochin commented on #498
@guoyejun,
Here is a step-by-step instructions:
[code]
Also, we want to ask you to carry out the following diagnostics of the environment in which the problem is reproduced, and share it with us:
1. Run the `ldd hello_classification_c` command
2. Find the path to the `libtbb` shared object in the received output
3. `libtbb` shared object location must also contain the `libtbbbind` shared object, s

[2020-06-03 11:17] yury-gorbachev commented on #735
@slyalin can you help?

[2020-06-03 12:37] moslex commented on #738
Hello, @JulienMaille
Yes, we know about this infrastructure problem and are working to fix it.

[2020-06-03 14:13] w3sip commented on #387
So when is the 2020.4 scheduled for? Considering it's a regression from 2019 releases, it's unfortunate to see it pushed back.

[2020-06-03 14:21] w3sip commented on #387
As a suggestion -- maybe it's worth having default distribution shipping all flavors of the CPU plugin; the client app could then evaluate CPU caps, and generate plugins.xml to load the suitable version.

[2020-06-03 14:26] ilya-lavrenov commented on #387
@w3sip you can build CPU plugin and Inference Engine libraries from sources using current master branch. Does this way work for you? This check from your side would be very helpful.

[2020-06-03 14:33] w3sip commented on #387
Unfortunately, our current CI workflow is to ingest the Intel versioned binary distribution. Switch to building from source is under consideration at the moment (and definitely best avoided, if possible). If we do go that route, are there any guidelines regarding the toolchain? Versions of clang/cmake, etc?

[2020-06-03 15:04] ilya-lavrenov commented on #501
@JulienMaille can you please analyze one by one primitives using dumped statistic and see what primitive has performance degradation? It will speed-up the process.

[2020-06-03 15:30] AlexanderSlav opened #751 "Convert DeeplabV3 to IR"
Hi, I'm trying to convert DeepLabV3 with ResNet18 encoder (the implementation was taken from [https://github.com/qubvel/segmentation_models.pytorch](https://github.com/qubvel/segmentation_models.pytorch)) to IR format.
 I've already converted pytorch model to onnx(opset version 11) format using following code:
[code]
My OpenVino _version is 2020.2_
There's an error occurred when i try to run _mo.p

[2020-06-03 15:37] asuhov commented on #387
@w3sip Build toolchains for OpenVINO are described here: https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md

[2020-06-03 16:03] alalek commented on #738
@JulienMaille Could you please try to download Windows package again?

[2020-06-03 17:13] JulienMaille commented on #501
@ilya-lavrenov May I ask you where I can find documentation how to do this?
If you mean comparing the output of `-pc` then I already said above that the degradation comes form the `Convolution` layers

[2020-06-03 17:19] JulienMaille commented on #738
@alalek I can now download the online package, but the full one is still a broken link

[2020-06-03 17:42] mrrosen opened #755 "Error Preparing Basic Graph with Custom Layers"
Running a very simple computation graph (to try out custom layers for GPU and MYRIAD) runs on GPU but fails to run on MYRIAD. Running the attached python script `run.py`, the script runs as follows:

Working on GPU:
[code]

Not working on Myriad:
[code]

When I examine the output binary from the OpenCL compilation and read through the source for how custom layers are handled for VPU, I find that i

[2020-06-03 19:22] ilya-lavrenov commented on #755
@geexie could you please help?

[2020-06-03 19:22] ilya-lavrenov commented on #751
@lazarevevgeny could you please help?

[2020-06-03 19:24] ilya-lavrenov commented on #732
@ilyachur could you please help?

[2020-06-03 19:27] ilya-lavrenov commented on #708
@Riko0 could you please attach a link to a converted model? what device is used to perform inference?

[2020-06-03 19:58] avitial commented on #751
@AlexanderSlav looks like this model uses ONNX* Resize Opset-11 version which is not supported by the Model Optimizer. Just as stated in [documentation](https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html), Resize Opset-10 version is supported. This would explain the error on such node (266), if you can share the .onnx model file it would be great.

[2020-06-03 20:16] Riko0 commented on #708
[1.zip](https://github.com/openvinotoolkit/openvino/files/4725995/1.zip)

using i7 8700 but tried on another cpus

[2020-06-03 22:35] karkadad commented on #503
Please let me know if there were any updates and if more info is needed..thanks!

[2020-06-04 03:37] ilyachur commented on #732
@Maosquerade CustomReLU_4 is the name of generated operation.
The type of operation looks correct  CustomReLU, but for some reason implementation for CPU wasn't loaded.  I will take a look to this sample.

[2020-06-04 03:42] wumeng2 commented on #161
Dear @shubha-ramani ，
First of all, thank you for your excellent work. I also build a lstm model in keras， and suceed to convert H5 to pb, then to IR, but when i deploy IR model using opencv4.1.1 and openvino_2019.1.144 for cpu, I get some same error message " what():  OpenCV(4.1.1) /home/py/opencv/opencv-4.1.1-dynamic/modules/dnn/src/op_inf_engine.cpp:477: error: (-215:Assertion failed) Failed to

[2020-06-04 04:18] ilyachur commented on #161
Hi @wumeng2,

If you get an error: "Cannot create internal buffer. Buffer can be overrun." it means that something wrong with weights for you model.
Please check that you have a correct shapes for weights data in your model because this error message said that calculated shapes is bigger that size of data which CPU plugin got from the model.

@qe903121 Can you please confirm that the original issu

[2020-06-04 05:05] ilyachur commented on #732
@Maosquerade Hi,

I tried to reproduce your issue.
I changed the main.cpp file of hello_reshape_ssd sample to next view:
[code]

And executable network was successfully created. Can you please check this code?

[2020-06-04 05:45] wumeng2 commented on #161
Dear @ilyachur ,
Thank you for your prompt reply.  Inference using h5 model in python is ok. I just convert h5 to IR, then meet this problem in c++. before, I have successful deployed object detection model by this way. this is the first try of deployment of Lstm Network.  the weight shape and input shape  is ok. mayebe the problem is related to the network structure.  I will try a tiny and simple

[2020-06-04 06:01] ilyachur commented on #161
@wumeng2 Maybe you get incorrect IR file and some weights in this file have incorrect size.

@lazarevevgeny Can you advice something to check?

[2020-06-04 06:14] Maosquerade commented on #732
Thanks! I will check my code again!

[2020-06-04 07:15] alontrais commented on #237
@lazarevevgeny thanks it is not actual.

[2020-06-04 07:16] moslex commented on #738
@JulienMaille, I checked all links and they work. You may also need to purge your browser cache.

[2020-06-04 09:16] AlexanderSlav commented on #751
@avitial Hi, my first thought was to downgrade opset version to 10, but i had following error during export to onnx:

`ONNX export failed: Couldn't export operator aten::upsample_bilinear2d`

And solution is to upgrade the opset version to 11 :
[https://github.com/pytorch/pytorch/issues/29980#issuecomment-554725530](https://github.com/pytorch/pytorch/issues/29980#issuecomment-554725530)

Should I

[2020-06-04 11:07] lazarevevgeny commented on #237
Closing.

[2020-06-04 11:07] #237 closed

[2020-06-04 12:20] dmitry-gorokhov commented on #501
@JulienMaille Thank you. Information you provided is enough. We are trying to reproduce the issue right now. I will update once we will have some news.

[2020-06-04 12:44] wumeng2 commented on #161
Dear @ilyachur,
I try a tiny model, but still get the same error message "" what(): OpenCV(4.1.1) /home/py/opencv/opencv-4.1.1-dynamic/modules/dnn/src/op_inf_engine.cpp:477: error: (-215:Assertion failed) Failed to initialize Inference Engine backend: Data inserted into layer lstm1/while/clip_by_value/Minimum/Max_/Broadcast/:0 is nullptr in function 'initPlugin'"".

code of model is listed below.

[2020-06-04 13:38] JulienMaille commented on #738
That was indeed a browser cache issue. Thank you!

[2020-06-04 13:38] #738 closed

[2020-06-04 18:00] lazarevevgeny commented on #751
@AlexanderSlav currently OpenVINO does not support Resize-11 operation which is produced by onnx when you convert the PyTorch model. As a workaround you can try to use other PyTorch resize-like operation and convert the model with opset-10.

[2020-06-04 20:36] ilya-lavrenov commented on #536
@ausk do you still have questions about device names? Loading networks and time for this operation is a different story..

[2020-06-04 21:51] AlexanderSlav commented on #751
@lazarevevgeny Thanks, I'll try!

[2020-06-05 06:10] ilyachur commented on #161
@wumeng2 The error like "Data inserted into layer lstm1/while/clip_by_value/Minimum/Max_/Broadcast/:0 is nullptr" can be caused by different reasons, like incorrect model or bugs on conversion or plugin sides.

@dkurt What version of Inference Engine is used in the OpenCV(4.1.1)?

[2020-06-05 06:12] ilyachur commented on #732
@Maosquerade Do you have any update?

[2020-06-05 06:17] Maosquerade commented on #732
@ilyachur After that I found the document of  AddExtension and noticed that the function has another param to set device. Then I changed my code like:
[code]
and that worked!
I just don't understand why that in my enviroment it has to add the param.

[2020-06-05 07:30] ilyachur commented on #732
@Maosquerade It is strange. My code doesn't contain the second parameter and it works.
Also both these method should load extension library to CPU plugin. Maybe do you use old version of the OpenVINO?

[2020-06-05 09:14] dkurt commented on #161
Please test the latest OpenCV and
Inference Engine.

[2020-06-05 09:30] jiwaszki commented on #478
Hi @qbTrible! Is the issue resolved?

I had similar error (DLL for OpenCV) when running cross_check_tool. Make sure you have everything set (link in @avitial comment). If problem is still present then **manually fix _openvino\scripts\setupvars\setupvars.bat_ commands,** so they match your folder structure.

Hope it helps!

-Jan

[2020-06-05 10:56] ishanVshah opened #791 "integrate openvino with openness network edge"
hello folks,

i have installed openvino consumer and producer application on openness network edge. both consumer and producer application are running on edge nodes as a kubernetes pods.

one another server with GNOME DESKTOP which is seperate server running client-simulator docker container sending the traffic towards openvino pods. (Please take note that selinux and firewalld service is disabled

[2020-06-05 11:35] ausk commented on #536
Thank you.

The device names  maybe not the point, but as you mentioned,  loading networks and time for this operation is a different story..

I'll close it.

[2020-06-05 11:35] ausk commented on #536
Thank you.

The device names  maybe not the point, but as you mentioned,  loading networks and time for this operation is a different story..

I'll close it.

[2020-06-05 11:35] #536 closed

[2020-06-05 15:24] avitial commented on #495
Document has been updated.

[2020-06-05 15:25] #495 closed

[2020-06-06 17:07] ralphjy opened #810 "Error trying to build dldt/inference engine for armv7"
I have gone through the basic instructions https://software.intel.com/content/www/us/en/develop/articles/arm-sbc-and-ncs2.html
to install OpenVino on a PYNQ-Z2 that uses Ubuntu on an Arm7 32 bit processor.

I've updated CMake, installed OpenCV and updated dependencies.

When I try to build:
cmake -DCMAKE_BUILD_TYPE=Release \
    -DENABLE_MKL_DNN=OFF \
    -DENABLE_CLDNN=OFF \
    -DENABLE_GNA=OFF

[2020-06-08 09:13] ericxsun opened #817 "any plan to deploy a java-side inference engine?"

[2020-06-08 09:37] MikoyChinese opened #821 "Failed to convert onnx model to openvino"
Hi,

I have a model from pytorch, and I use torch.onnx.export to convert it to onnx model. Then I try to convert it to openvino by command `python3 mo.py --input_model /root/workspace/models/DFA_model.onnx`, but I got a error:

[code]

So how can I solve this problem? Thx. :)

[2020-06-08 10:51] ericxsun opened #822 "when to release one support tensorflow 2.x?"

[2020-06-08 12:09] ongun-kanat commented on #481
Any updates on this or do you have any workarounds for matrix ops?

[2020-06-08 12:11] dkurt commented on #822
Hi! You can already use SavedModel or convert it to frozen graph if it's a Keras model. Please share a reference to the model so we can reproduce it.

[2020-06-08 13:11] nai-kon opened #823 "plan of resize-11 (opset-11) support"
Hi,

I have a pytorch model that has F.interpolate() layer, and wanna convert it to openvino via onnx.

Currently, openvino model optimizer only supports opset-10 (resize-10).
However, onnx's Upsample/Resize result doesn't match Pytorch's Interpolation until opset-11.
The torch.onnx.export() says below warning.
[code]

Is there any plan to support resize-11 soon? (at 2020 R4?)
I really hope it.

[2020-06-08 13:45] geexie commented on #755
Thanks, @mrrosen. @maxim-kurin, could you please take a look

[2020-06-08 14:20] avitial commented on #810
Hi @ralphjy which version of dldt are you trying to build? From which directory are you running CMake command? Make sure you have set the _OpenCV_DIR_, the guide specifies export `OpenCV_DIR=/usr/local/opencv4` but it could also be `export OpenCV_DIR=/usr/local/lib` or the specific location of your OpenCV install path. Also which Ubuntu version does your board use?

[2020-06-08 14:52] avitial commented on #821
Hi @MikoyChinese , not sure what is the issue here but it could be multiple things.
- Operation/layer produced by ONNX when you convert the PyTorch model may not be supported. Take a look at [Caffe* Supported Layers](https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html#onnx_supported_operators).
- PyTorch model is not a supported PyTorch model via ONNX

[2020-06-08 15:18] anmikh commented on #487
Thanks for the response!
I expected more performance gain when loading networks asynchronously (it's about 10-20% faster in comparison with sync loading). For example, for public model [face-detection-retail-0005](https://download.01.org/opencv/2020/openvinotoolkit/2020.2/open_model_zoo/models_bin/2/face-detection-retail-0005/FP32/) and Core(TM) i7-8700 CPU @ 3.20GHz (the min value of loading N_ne

[2020-06-08 15:34] ilya-lavrenov commented on #487
@anmikh how mane threads are used?

[2020-06-08 15:42] avitial commented on #823
Hi @nai-kon, as you noted, currently OpenVINO only supports Resize Opset-10 operation. Our team is aware of such and will consider this for future release, thanks for using OpenVINO!

~Luis

[2020-06-08 15:54] avitial commented on #791
Hi @ishanVshah, I see you posted this in https://github.com/open-ness/specs/issues/28, I'd suggest to continue tracing updates on such issue as the team there would be able to answer your OpenNESS questions better.

If you have any specific issues or questions in regards to OpenVINO don't hesitate to reach back. Closing this issue.

~Regards,
Luis

[2020-06-08 15:54] #791 closed

[2020-06-08 16:23] anmikh commented on #487
@ilya-lavrenov Number of threads in async mode are equal to N_networks in appropriate row of the table above

[2020-06-08 19:34] ilya-lavrenov commented on #487
@anmikh in this case I also expect that at least in case of 2 threads we can have 2x speed-up.

@AlexPeskov do you know if some global locks are in the CPU plugin itself?

[2020-06-08 21:18] ralphjy commented on #810
Hi @avitial  - thanks for the response

From InferenceEngineConfig-version.cmake it is InferenceEngine_VERSION 2.1.0
I did not specify that so I guess it's the latest (cloned yesterday)?

I am running CMake from /home/xilinx/dldt/inference-engine/build
I had to modify the cmake option to read from the dldt directory (i.e. ../..)

I did not have the correct export - apparently OpenCV installed to /

[2020-06-09 00:46] vladium opened #831 "docker image appears to have two numpy versions installed on top of each other"
- this applies to versions 2020.2 and 2020.3
[code]
It seems to mostly work fine, but in some containers "import numpy" triggers an import failure
[code]

[2020-06-09 00:57] avitial commented on #810
@ralphjy  the issue seems to be related to miss fetching repo submodules, please try the following and re-run your CMake command:
`cd /home/xilinx/dldt/inference-engine`
`git submodule update --init --recursive`

Let me know if issue persists, I hope the above command resolves it.

~Luis

[2020-06-09 01:40] ericxsun commented on #822
Actually, in release 2020-3, the version of tensorflow was restricted to a range `tensorflow>=1.2.0,<2.0.0`, now a new version (2.2.0) has been released [tensorflow-2.2.0](https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0).

Just wondering when to release a version of openvino to support it?

[2020-06-09 02:46] MikoyChinese commented on #821
I found the reason is that the current release openvino does not support pytorch's `opset_version=11` which supports the opearation of `bilinear`. So I have to change it to `nearest` to upsampling my feature map.

When I set `opset_version >= 10, default is 9.`, the openvino convert the onnx model sucessfully.

[2020-06-09 08:03] yury-gorbachev commented on #831
@moslex might be interesting for you

[2020-06-09 09:33] SDxKeeper commented on #817
@ericxsun You can subscribe to #506 pull request which is in progress right now.

[2020-06-09 09:39] ericxsun commented on #817
Thanks a lot

[2020-06-09 09:39] lynx97 opened #837 "Cannot see classification_sample in Release folder"
after build inference-engine using cmake, I cannot see classification_sample in openvino_dir/bin/intel64/Release/. I just see classification_sample_async

[2020-06-09 10:48] moslex commented on #837
@antonrom23 , could you please take a look?

[2020-06-09 11:58] antonrom23 commented on #837
@lynx97 ,  classification_sample  was removed in 2019 R2 release.

[2020-06-09 14:00] maxim-kurin commented on #755
@mrrosen I've reproduced your issue. MyriadX OpenCL compiler currently has no support for printfs, unfortunately. Removing it from test.cl solves the problem with 4-th parameter.
I don't have MyriadX device on hand, so I hope everything else will work fine.

[2020-06-09 14:07] geexie commented on #755
@mrrosen, @maxim-kurin, The OpenCL 1.2 specification does not require printf implementation. VPU compiler is based on OpenCL 1.2 with graphic related features (like textures) plus DMA-extension API on top of this spec.

[2020-06-09 15:30] Maosquerade opened #844 "openvino cmake error on linux"
Hi, I've tried to build openvino with cmake, but I always meet this cmake error:
[code]
and when I make this project, this error will stop me doing that.
Have this issue happened to anyone else ? Or can I change some cmake options to avoid that ?

[2020-06-09 15:35] ralphjy commented on #810
Hi @avitial ,
Thanks, that fixed the CMake error.  The problem was that the instructions that I am following did not have the "--" in front of --init and I missed that because it did not give me an error.

I am very close to successfully installing but just ran into another error building the benchmark_app,

[ 97%] Building CXX object inference-engine/samples/benchmark_app/CMakeFiles/benchmark_app

[2020-06-09 15:42] JulienMaille commented on #501
@dmitry-gorokhov sorry i'm just curious if you've been able to reproduce it

[2020-06-09 16:01] avitial commented on #844
Hi @Maosquerade, can you provide more details as to what steps have you taken to build dldt? What CMake options have you used to build the project? Please share environment details that would help reproduce the observed issue (OS, CMake, Python, OpenCV, etc.).

In addition to the [Build Steps for Linux*](https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#build-on-linux-sy

[2020-06-09 16:12] Maosquerade commented on #844
Thanks！My CMake options:
[code]
I tried this CMake option on both centos8.0 and ubuntu16.04, but they have the same CMake Error mentioned above.
Then I tried to remove the 'docs' building part of CMakeList.txt, and that works for me now. Thanks a lot!

[2020-06-09 16:52] avitial commented on #810
This looks like an issue with opencv library, if you have multiple versions of OpenCV please point OpenCV_DIR to the correct one.

Did you build and install opencv from source? If you followed same instructions as stated [here](https://software.intel.com/content/www/us/en/develop/articles/arm64-sbc-and-ncs2.html), try pointing OpenCV_DIR to /usr/local/lib (`export OpenCV_DIR=/usr/local/lib`) and r

[2020-06-09 17:04] mrrosen commented on #755
@maxim-kurin Thanks. I tried again with removing the printf (was hoping it would just be silently ignored if unsupported, oh well). While it seems to be running now, I am not getting the correct result (all zeroes):
[code]

[2020-06-10 04:13] kiner-shah opened #847 "Does OpenVino run threads on isolated cores?"
I was trying to run the `benchmark_app` on Linux machine with 8 cores (4 out of which are isolated). I ran it with 2 inference requests (`-nireq 2`) and 2 streams (`-nstreams 2`) and set CPU binding of threads to YES (`-pin YES`).

I saw using `top` command that only 4 non-isolated cores were used (4 threads on 4 cores), and isolated cores are not touched at all (which is expected). But now, I wan

[2020-06-10 05:22] #837 closed

[2020-06-10 08:23] Liujingxiu23 opened #851 "openvino used by onnxruntime, build successfully, run core dump"
I want to use onnxruntime with openvino. I downloaded "l_openvino_toolkit_p_***.tgz" from  https://docs.openvinotoolkit.org/ .But the install must with sudo authority，but I do not have sudo authority.

Then I downloaed from github, and compile openvino from sourcecode , build done successfully.
Then I build onnxruntime with openvino from sourcecode, build done successfully too.

Then I test C++ mo

[2020-06-10 09:45] lynx97 opened #852 "symbol lookup error when execute object_detection_sample_ssd"
When I built Inference Engine with CMake, it had error
[code]
 I bypassed with commenting line 117 `add_subdirectory(docs)` in CMakeLists.txt
But when I execute `object_detection_sample_ssd` in `bin/intel64/Release` after compiling successfully. It has error that
`./object_detection_sample_ssd: symbol lookup error: ./object_detection_sample_ssd: undefined symbol: _ZN15InferenceEngine4Core11LoadNet

[2020-06-10 10:24] Liujingxiu23 commented on #851
There is another question. For my own model, I convert model torch->onnx->openvino model, and I get *.bin and *.xml. How can I do model inference using C++ api using openvino only? Is there any examples for user-defined model with any possible model structure.

[2020-06-10 10:41] postrational commented on #670
I believe this issue is resolved:
https://dev.azure.com/openvinoci/dldt/_build/results?buildId=1751&view=logs&j=4c86bc1b-1091-5192-4404-c74dfaad23e7&t=ec99a26b-0264-5e86-36fb-9cfd0ca0f9f3&l=5227

[2020-06-11 01:40] Liujingxiu23 commented on #851
I used the master branch of openvino and onnxruntime from git. Which branchs are more suitable?

For the gdb backtrace:
Program received signal SIGSEGV, Segmentation fault.
0x00007ffff757437c in ngraph::op::v0::Parameter::Parameter(ngraph::element::Type const&, ngraph::PartialShape const&, bool) ()
   from /data/liujingxiu/ort-openvino/personal-model/test_onnxruntime-openvino/libonnxruntime/onnxru

[2020-06-11 02:35] lynx97 commented on #852
Thanks for your helps. But I tried that but it 's still error.
I compile in docker with Dockerfile followed from official document. I followed from https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#build-on-linux-systems
I used cmake 3.17.3.

[2020-06-11 03:52] lynx97 opened #880 "Cannot inference with IR model SSD"
I converted successfully inceptionv2 SSD object detection. I followed examples from [this](https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_Object_Detection_API_Models.html). But when I tried to inference. It has runtime error that
[code]
That is exactly same as when I load this model in openvino model_server (from docker 18.04 model_server).
[cod

[2020-06-11 08:55] guoyejun commented on #498
status update:  is working closely to support ivankochin for the issue.

[2020-06-11 16:47] avitial commented on #810
@ralphjy lets try the following:

- Set `OpenCV_DIR` environment variable to where the `OpenCVConfig.cmake` file of you custom OpenCV build is located. This location may be similar to `/home/user/opencv/build` or `/usr/local/lib/cmake/opencv4`
- Add `-DENABLE_OPENCV=OFF` option to disable package automatic downloading for CMake-based build script for Inference Engine
- Rebuild dldt package with `m

[2020-06-12 03:02] wangliwei-intel opened #907 "software cache for OpenCL kernel"
Hi,
I'm running openvino's demos on GPU, I found each time all kernels are compiled from scratch, so
I have to wait quite long time.
Is there any kind of software cache through which the applications can start faster next time?

B. R.

[2020-06-12 05:24] pratiksamuel opened #908 "Error converting onnx to IR model"
Error converting the onnx model to IR model.
The model used is a detectron 2 object detection model with vovnet v2 backbone.
Produced an onnx model and tried to convert it into an IR model using the following command

python3 mo_onnx.py --input_model /home/ats/workspace/pratik/detectron2/tools/deploy/model.onnx --log_level DEBUG

but got the following error.

[log.txt](https://github.com/openvinot

[2020-06-12 05:49] alalek commented on #907
Intel NEO OpenCL runtime provides experimental cache support.
The latest discussion is here: https://github.com/intel/compute-runtime/issues/310 (with link to actual documentation)

[2020-06-12 06:01] brmarkus commented on #907
Either export an ENV variable "`cl_cache_dir`" which points to a (writable and accessible directory) or create a directory "`cl_cache`" in the current working directory where the application (or e.g. Python script) gets executed.

[2020-06-12 06:13] wangliwei-intel commented on #907
Thank your information, I'm gonna give a try.
By the way, Does cldnn support multi-task compilation? I found it compiles kernel one by one.

[2020-06-12 07:52] Liujingxiu23 commented on #851
I build onnruntime again, and found the tests are not all passed, 4/5 passed,  1 failed. And the related log are:

  1 1818 1: [----------] 1 test from ParallelExecutor
  2 1819 1: [ RUN      ] ParallelExecutor.TestStatusPropagation
  3 1820 1: 2020-06-11 07:44:13.113890902 [E:onnxruntime:TestOp:TestOp, parallel_executor.cc:204 RunNodeAsync] Non-zero status code returned while running TestOp node.

[2020-06-12 07:55] yurygorbachev commented on #851
Can you try if your model works through OpenVINO API?

[2020-06-12 08:06] Liujingxiu23 commented on #851
I want to use ort since the api is really clear and simple , like torch and tensorflow.  The example benchmark_app , it seems that  the usage is quiet complicated for me.

[2020-06-12 08:34] yurygorbachev commented on #851
Perhaps issue should be addressed to onnxruntime then?

[2020-06-12 08:51] tomdol commented on #851
@Liujingxiu23 thanks for the backtrace. The segfault happens when the ONNX model is imported from ONNXRuntime to OV provider. The backtrace indicates that it crashes when one of the inputs gets translated to ngraph::Parameter, which segfaults in the constructor.
Did you see the exact line in the constructor's body where the access violation happened?
Also there's a suggestion in the logs you share

[2020-06-12 10:03] Liujingxiu23 commented on #851
@tomdol I'll try to install glibc-2.17-222.el7.x86_64.
I'm sorry I can share the model. But the model structure is very simply, 3 layers uni-direction lstm,
with input size [-1, 160, 80]. where -1 means dynamic batch-size. My area is not image, so the input is not NCHW or other similar types.

[2020-06-12 14:06] vladium opened #914 "please provide conda/pip install options"
Greetings. I am not having traction with this line of inquiry in Intel forums, so I will repeat my feature request here:

Current instructions for installing openVINO on Linux assume that the end user will be able to execute a lengthy list of native OS packages via `install_openvino_dependencies.sh`, which requires root/sudo privileges (for doing `yum`/`apt-get` installs). The alternative of runni

[2020-06-12 14:24] zys1994 opened #916 "openvino2020.1 "IE::ie_cpu_extension" not found"
Target "" links to target "IE::ie_cpu_extension" but the
  target was not found.

which i can make succeed in openvino 2019R3 ,how to fix it?

[2020-06-12 14:33] tomdol commented on #851
Just a suggestion - can you edit the model and instead of -1 use a dimension variable? Just replace `dim_value: -1` with something like this: https://github.com/openvinotoolkit/openvino/blob/master/ngraph/test/models/onnx/dynamic_shapes/ab_plus_c.prototxt#L25-L27

This is how we(in the onnx importer) expect dynamic dimensions to be defined in ONNX models and it adheres to this specification: https

[2020-06-12 17:07] himalayanZephyr opened #918 "Conversion of mask rcnn (.pb) to openvino format"
Hi
I trained a custom Mask RCNN model using this [repo](https://github.com/matterport/Mask_RCNN/).

I converted the model from .h5 to .pb format.
Now, I'm trying to figure out how to convert it to Openvino IR format

`python mo_tf.py --reverse_input_channels --input_shape=[1,1024,1024,3] --tensorflow_use_custom_operations_config=./extensions/front/tf/mask_rcnn_support_api_v1.13.json --input_model

[2020-06-12 23:09] avitial commented on #880
Hi @lynx97, please provide more details about your environment that could help us reproduce the issue (i.e. versions of OS, OpenVINO, Python, MO command used to convert model, command used to run object_detection_sample_ssd.py, sample input image file, etc.).

Using 2020.2 release for Linux*, I tested the pre-trained SSD InceptionV2 topology given in the pointed document and both model and sample

[2020-06-13 16:50] ralphjy commented on #810
@avitial - thanks for all your help but I 'm going to give up trying to install OpenVINO on this board.  I tried starting with a new OS image and removed the existing cmake and opencv installations before going through the install instructions.  It gets pretty far, but it still can't build the examples.

Here is where it failed:
[ 98%] Built target opencv_c_wraper
[ 98%] Linking CXX executable ../

[2020-06-14 02:01] mkdthanga commented on #294
worked for me too! Thanks a lot!

[2020-06-14 08:14] marcin-sielski opened #921 "Openvino 2020.3.0 mismatch with official release"
Hi,

There is a mismatch in sources labeled 2020.3.0 and the release available through the official release. It looks like github version (Apache licence) is missing commit or commits related to deprecated API.

Best Regards

Marcin Sielski

[2020-06-14 14:48] jacopomaroli commented on #287
Since this issue is not so old and it's one of the first hits when you search for Openvino on RPi0 I'll post this here:
I had the same need, so since it wasn't a trivial procedure I shared the notes I collected during the process https://github.com/jacopomaroli/intel-neural-compute-stick-2-raspberry-pi-zero

This will guide you into building qemu/openCV/inference engine for RPi zero

[2020-06-14 20:22] YijinLiu opened #924 "[WARNING] error during parsing cache file, tuning data won't be used"
When I run network on GPU with 2020.3 LTS, I got this warning. It never happened with old versions.
Should I be worried about it?

[2020-06-15 01:31] Liujingxiu23 commented on #851
@tomdol  Thank you for you relpy! I will try to reset the batch-size, and  I will try a more common model , for example ResNet 18 , to verify if the current problem only occur on my own model.

[2020-06-15 04:06] ilyachur commented on #161
@wumeng2 Do you have any update?
Did you try the latest OpenCV?

[2020-06-15 07:29] lynx97 commented on #880
Thanks for your supports, I had inferenced with IR model SSD successfully. But when I loaded IR model in Openvino model server, It has error `ERROR - Content error: Cannot create ShapeOf layer PriorBoxClustered_0/0_port id:519`. I asked in [#271](https://github.com/openvinotoolkit/model_server/issues/271)

[2020-06-15 08:21] myshevts commented on #847
@kiner-shah , in my above comment I was referring to setting the "entire OS process" (app) affinity via taskset or numactl,  that is respected by the inference threads.
Do you need smth more fine-grained?

[2020-06-15 09:00] vladimir-paramuzov commented on #924
@YijinLiu This warning means that [cache.json](https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/thirdparty/clDNN/kernel_selector/core/cache/cache.json) file was not found or was corrupted. This file has some precollected tuning data for opencl kernels that might improve the performance a little bit in some cases, and it's supposed to be located at the same folder as clDNNPl

[2020-06-15 09:22] lazarevevgeny commented on #335
@ahuizxc, can you use the latest MO or share the model?

[2020-06-15 10:02] kiner-shah commented on #847
@myshevts Yes I understood now. Thanks 😀

[2020-06-15 10:08] moslex commented on #914
Hello, @vladium
We added ability to install OpenVINO toolkit using Conda starting from 2020.3 LTS
For macOS and Windows: conda install -c intel openvino-ie4py
For Linux we support Ubuntu 18 only:  conda install -c intel openvino-ie4py-ubuntu18

[2020-06-15 11:14] wangliwei-intel commented on #907
Hi,
Will clDNN support multi-task compilation?

B. R.

[2020-06-15 21:57] avitial commented on #880
@lynx97 I am still unable to reproduce the stated issue. Using Model Optimizer on full Linux* 2020.3 package to convert _ssd_inception_v2_coco_2018_01_28_, then copied resulting IR files to the Docker container _openvino/ubuntu18_model_server_ and necessary files (.py sample, car.png) as the Docker image seems to have only a subset of OpenVINO v2020.3 components.

How are you converting the pre-tr

[2020-06-15 22:04] YijinLiu commented on #924
Thanks for the prompt response!

[2020-06-15 22:04] #924 closed

[2020-06-16 03:55] lionkunonly commented on #844
@ilya-lavrenov I meet the same build error on linux. The commit of OpenVINO I use is `e66e0cd89` which contains the #861. So I think it does not work.

And removing the `docs` building part still work for me. I want to know what will happen if I remove the `docs` part.

[2020-06-16 08:12] ilya-lavrenov commented on #844
@ilyachur looks like we don't need to use libraries with prefix `IE::` in docs? Maybe config is not created yet?

[2020-06-16 09:49] h6197627 commented on #437
Unfortunately the problem still there in 2020.3 LTS

[2020-06-16 16:06] ivankochin commented on #498
@guoyejun ,
After research, it was found out that the root cause of this issue is an incompatibility between oneTBB and TensorFlow libraries. These two libraries are incompatible because both of them use the HWLOC library for getting some information about a system and binding threads to NUMA nodes. And some operations inside TensorFlow brokes the HWLOC behavior during oneTBB work.

This is not an

[2020-06-16 16:34] #810 closed

[2020-06-17 05:23] kiner-shah opened #969 "Confusion in OpenVINO docs"
Hello,

I have two queries:

<h2>Query 1:</h1>

In the article titled [Introduction to Performance topics](https://docs.openvinotoolkit.org/latest/_docs_IE_DG_Intro_to_Performance.html) they have mentioned that,

_"Internally, the execution resources are split/pinned into execution 'streams'. "_

Here it is very unclear what these "execution streams" are - like are they some kind of software pipel

[2020-06-17 08:54] lynx97 commented on #880
I described how I converted and loading in OVMS in [this link](https://github.com/openvinotoolkit/model_server/issues/271#issuecomment-645243391)

[2020-06-17 11:33] myshevts commented on #969
Hi,
the blog post (circa 2018) has not been updated when the benchmark_app was changed to separate #streams and #requests.
Previously when we had the streams only on the CPU, it was a 1 to 1 mapping, so you have to specify just #requests (and the becnhamrk_app created the streams accordingly).
 Now you can specify different values (primarily for the GPU bow supporting streams as well, which can be

[2020-06-17 14:46] ilya-lavrenov commented on #916
Starting from 2020.1 release we have moved all extensions for CPU plugin directly to CPU plugin code. So, no such target `IE::ie_cpu_extension` and you don't have to link anything else. So, the solution is just to remove this line with `IE::ie_cpu_extension`

[2020-06-17 14:47] ilya-lavrenov commented on #921
@asuhov could you please comment?

[2020-06-17 16:03] marcin-sielski commented on #921
I think I have found at least one commit that should be part of 2020.3.0
https://github.com/openvinotoolkit/openvino/commit/88e14c9dd6dd553f541726cb9af5b9e6d26e30b7

[2020-06-17 16:14] asuhov commented on #921
Hello, sources snapshot for 2020.3 release contains several fixes for deprecated API which didn't get into 2020.3 binary package. The master branch contains the most recent changes.

[2020-06-17 18:06] marcin-sielski commented on #921
@asuhov
I think I have seen opposite situation. The deprecated API fixes were in 2020.3 binary release but were not present in 2020.3.0 source release. All previous releases were in sync.

[2020-06-18 01:42] wumeng2 commented on #161
@ilyachur I am on vacation now and  have not had a try. After I try latest version, I will reply you.

[2020-06-18 02:05] alalek commented on #921
BTW, 2020.3 is LTS release. So we may see ported changes in [this source branch](https://github.com/openvinotoolkit/openvino/tree/releases/2020/3) in the future.

[2020-06-18 04:17] kiner-shah commented on #969
@myshevts

Okay, I understand that **some no. of inference requests can be run simultaneously on some no. of streams to increase the throughput**.

Now I am trying to understand how is `-nstreams` different from `-nthreads`?

My understanding for now is that:
- `nstreams` are for inference requests. It's similar to SIMD (Single Instruction Multiple Data) but on a coarser level.
- `nthreads` are fo

[2020-06-18 08:47] myshevts commented on #969
Hi, streams are about splitting the machine between inference requests.
But threads are somewhat more low-level and usually their number is not explicitly touched.
By default #threads (that OpenviNO creates for CPU inference) equals #(phys) cores, but you may want to specify different number.
E.g. on the 16 cores machine, you may want to use only half for inference via "-nthreads 8".

Then you may

[2020-06-18 08:53] kiner-shah commented on #969
@myshevts Thanks a lot for the explanation. 😃 It's very clear now! :+1:

[2020-06-18 10:21] dkurt commented on #179
@DoubleChuang, please open a separate issue and add text error log instead of screenshot.

[2020-06-18 11:05] panshaohua commented on #439
@GuideWsp Have you solved your problem? I need to do sr.

[2020-06-18 14:45] avitial commented on #918
Hi @himalayanZephyr if possible could you share your .h5 model and resulting .pb file? Would like to see what the behavior is on newer versions of the toolkit since you are using an old version.

Regards,
~Luis

[2020-06-18 15:26] himalayanZephyr commented on #918
Hi @avitial
Thanks for taking in the time to inspect this.
Here is the [link](https://drive.google.com/drive/folders/1M-Ze0sGXLD4C1cGm1FATojb7USU95V0K) with the .h5 and .pb models

[2020-06-18 15:52] changhsinlee commented on #823
Thanks @avitial - this is a big problem for PyTorch users trying to run in OpenVINO. I'll be waiting for it too!

[2020-06-18 20:41] avitial commented on #918
@himalayanZephyr tried converting the shared .pb file but was unsuccessful as the model is currently not supported, the team is already aware of this.

[2020-06-18 23:14] himalayanZephyr commented on #918
@avitial Ohh so you mean that I won't be able to convert these models into openvino format in any way?
In that case, can you point me to some other way to train a custom segmentation model that could be successfully converted to openvino format.

[2020-06-19 00:08] GuideWsp commented on #439
No, in final I have to select ncnn as the backend.

[2020-06-19 01:42] adk9 opened #1014 "ImportError: libpython3.7m.so.1.0: cannot open shared object file: No such file or directory"
I'm on Ubuntu 18.04 trying to use the IE python module installed using:
[code]

When I try to use the module, I get the following error:

[code]

Does the module depend on a specific version of python that needs to be installed in my conda env?

[2020-06-19 01:50] panshaohua commented on #439
@GuideWsp But android is mainly supported on ncnn, PC is secondary.

[2020-06-19 02:06] adk9 commented on #1014
I'm testing with Python 3.7.5 and I was able to get it to run by setting my `LD_LIBRARY_PATH` correctly.

[2020-06-19 02:06] #1014 closed

[2020-06-19 02:17] nai-kon commented on #823
reopen the issue until supported.

[2020-06-19 02:32] GuideWsp commented on #439
You can just use pytorch as backend on PC.

[2020-06-19 06:11] DoubleChuang opened #1017 "How to use Myriad X mini-PCIe on balenaFin"
Hi everyone,
I try to install OpenVINO on :

- Raspbian buster
- balenaFin(https://store.balena.io/collections/frontpage/products/balenafin-v1-1-0-8gb)
- Myriad X VPU mini-PCIe(https://www.aaeon.com/en/p/ai-edge-computing-board-ai-core-x)

but I get it :
[code]

but I can work on Neural Compute Stick 2:
[code]

[code]

[code]

and I see this product ID is not in usb_boot.c [supportedDevices](https

[2020-06-19 07:58] panshaohua commented on #439
@GuideWsp it's slow with pytoch on cpu.

[2020-06-19 08:23] g3n35i5 opened #1019 "OpenVino Inference Engine OpenCV Integration: libtbb.so.2 not found"
## Version Info
OpenCV => 4.3.0
OpenVino => v2020.3.0
Operating System / Platform => Archlinux 5.7.2
Compiler => g++ v10.1.0

## Desciption

Building OpenCV with Inference Engine does not work when using the 3rd method (giving the INTEL_OPENVINO_DIR).

**Important** I'm trying to build both, OpenVino and OpenCV, without the used LD_LIBRARY_PATH method (setupvars.sh, etc...).

## Steps to reproduce

[2020-06-19 08:35] alalek commented on #1019
Please check:
- `LIBRARY_PATH` / `LD_LIBRARY_PATH` values
- binary distribution of OpenVINO has `setupvars.sh`, we need something to emulate that with build from sources

[2020-06-19 08:51] g3n35i5 commented on #1019
Sorry, i edited this info in my comment:  i want to build both without using the setupvars.sh script and LD_LIBRARY_PATH. But i'm giving all options in the build environment

[2020-06-19 09:48] panshaohua opened #1022 "Can openvino transform tf model to IR with NHWC format?"
I found some layer reorder from NCHW to NHWC when openvino inference optimizing INT8 model. So I want transform tf-model or onnx-model to NHWC format IR.

[2020-06-19 09:57] ilyachur commented on #161
@wumeng2 ok, thank you!

[2020-06-19 10:51] sonebu commented on #755
@mrrosen don't know if you solved this already but I think this line inside test-mv.xml does not "instantiate" any "workers" (sorry about the jargon if its wrong):

`<WorkSizes global="B,X"/>`

(I don't understand what you wanted to achieve with the comma) + (symbolic B,Y,F,X should work as per [this link](https://docs.openvinotoolkit.org/latest/_docs_IE_DG_Extensibility_DG_VPU_Kernel.html#compile

[2020-06-19 12:33] g3n35i5 opened #1029 "Wrong path to ngraph in setupvars.{sh.bat}"
I think

https://github.com/openvinotoolkit/openvino/blob/2fe9b1523058e282ad374db7dc1b3538c7d2dd27/scripts/setupvars/setupvars.sh#L67-L69

should be

[code]

since the ngraph module has been moved to the project root. Maybe one should also think about replacing the `setupvars.sh` script with a proper cmake structure.

[2020-06-19 20:20] Bleach665 opened #1044 "solution file has two projects"

[2020-06-19 20:21] #1044 closed

[2020-06-19 20:30] Bleach665 opened #1045 "Error build with VS - The solution file has two projects named "docs""
Win 10, SV 2017, CMake 3.18. Bug reproduced on OpenVINO rev 3417004e6d07a58ac222d5aba7bc45ac34676d32 and ae9e0510f008220a297130c45e30bfc7fcf27b04.

Error building OpenVINO using `msbuild`:
[code]

[2020-06-19 21:30] Bleach665 opened #1046 "Error build with VS - libprotobuf.lib link error"
Win 10, SV 2017, CMake 3.18, OpenVINO rev ae9e0510f008220a297130c45e30bfc7fcf27b04.

Error building OpenVINO using `msbuild OpenVINO.sln /m /p:configuration=debug`:
[code]

I think this is because in debug mode linked lib filename (`..\..\..\..\protobuf\lib\libprotobuf.lib`) must be with the `d` suffix.
File `libprotobufd.lib` exist on build folder.

[2020-06-20 07:55] Bleach665 commented on #1046
Also `install.vcxproj` copied debug and release bin files to one dir `OpenVino install dir\deployment_tools\inference_engine\bin\intel64\Release`. Same with lib, debug and release lib copied to one folder `OpenVino install dir\build_x64\deployment_tools\inference_engine\lib\intel64\Release`.

[2020-06-20 18:47] Bleach665 commented on #1046
Also something wrong with output CMake configuration `OpenVino_install_dir\deployment_tools\inference_engine\share`. Although perhaps the problem is on the side of OpenCV.
In OpenCV CMake GUI i set `InferenceEngine_DIR` to `OpenVino_install_dir\deployment_tools\inference_engine\share`. After configuring IE Release library (IE_C_API_RELEASE_LIBRARY, IE_LEGACY_RELEASE_LIBRARY, IE_RELEASE_LIBRARY) we

[2020-06-20 22:20] Bleach665 commented on #387
@ilya-lavrenov. You may be interested in this. I built OpenVINO from branch releases/2020/4, rev ae9e0510f008220a297130c45e30bfc7fcf27b04 and it work fine on non-AVX CPU. I tested on `classification_sample_async`, `object_detection_sample_ssd` and IE as OpenCV backend.

[2020-06-20 22:37] Bleach665 commented on #1046
3. `install.vcxproj` dont copy this
[code]
files to `CMAKE_INSTALL_PREFIX` dir.
Is that how it should be? In my opinion, they should be copied there.

[2020-06-21 06:21] Mushfiq147 commented on #360
That is great.

[2020-06-21 08:27] amirsverige opened #1049 "Ewjde"
Djge

[2020-06-21 08:27] #1049 closed

[2020-06-21 09:04] amirsverige opened #1050 "Tegj"
Gfh

[2020-06-21 09:05] #1050 closed

[2020-06-21 11:45] amirsverige opened #1054 "Xdw"
Gdw

[2020-06-21 21:44] 0994210227 commented on #831
#784

[2020-06-22 08:47] ilya-lavrenov commented on #387
@Bleach665 thanks! Does it means that the original issue has gone?

[2020-06-22 10:16] Liujingxiu23 commented on #851
I rebuild onnxruntime-ret-1.3.0 using  l_openvino_toolkit_p_2020.2.120.tgz and ,  model predict can be done successfully.  Maybe core dump happened because I used wrong way of building openvino or wrong release version of onnxruntime. Thank you very much for your help! @tomdol

[2020-06-22 10:18] tomdol commented on #851
No problem, I'm glad it worked for you :)

[2020-06-22 10:19] #851 closed

[2020-06-22 12:17] ShahriyarR opened #1065 "Unable to run Inference Engine using ProcessPoolExecutor"
Using:

Basically, I am trying to run Face Detection demo app - the IE in a multiprocess manner but got:

[code]
This is a common issue with Python Pickle + Cython runs as the object should be pickleable.
I am curious if this issue already fixed on new 2020.2 or 2020.3 releases.

[2020-06-22 12:50] anmikh commented on #487
@AlexPeskov I can confirm, that additional threads are spawned internally while loading 2 networks even in sync mode (nlwp=9 on my machine) and in async mode (nlwp=17), the cpu utilization seems to be similar in both cases.

[2020-06-22 13:28] Bleach665 commented on #387
@ilya-lavrenov As you see fit. But I think it's better to wait for the release OpenVINO v.2020.4, test it, and if it works well at non-AVX CPU, then close this issue.

[2020-06-22 16:20] maxlytkin commented on #1017
Hi @DoubleChuang
Please get a chance to try it with HDDL plugin by using the parameter -d HDDL
Before doing that please do not forget to follow steps to configure your Aaeon device from https://docs.openvinotoolkit.org/latest/_docs_install_guides_installing_openvino_linux_ivad_vpu.html

Hope this helps.
Best regards, Max.

[2020-06-22 16:37] maxlytkin commented on #1022
Hi @panshaohua
For TensorFlow model conversion you can take a look at Model Optimizer parameter "--disable_nhwc_to_nchw" that disables default translation from NHWC to NCHW.
As per https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_TensorFlow.html#tensorflow_specific_conversion_params

Hope this helps.
Best regards, Max.

[2020-06-22 21:09] ilya-lavrenov commented on #1065
@akuporos @nkogteva please, have a look

[2020-06-22 21:10] ilya-lavrenov commented on #1046
@tomdol

[2020-06-22 21:11] ilya-lavrenov commented on #1045
@Bleach665 do you know which projects contains such targets?

[2020-06-22 21:11] ilya-lavrenov commented on #1029
CC @tomdol @artanokhov

[2020-06-22 21:12] #1054 closed

[2020-06-22 21:24] Bleach665 commented on #1045
@ilya-lavrenov No, I didnt investigate this, just removed 'docs' project from VS solution to make success build.

[2020-06-23 04:00] Maosquerade opened #1082 "Cannot load network when containing v0 Convolution layer."
I've tried to build a network with ngraph. And I want that to operate a convolution operation with bias. I noticed that there are v0 and v1 Convolution Node and it seems that they do the same job.
However, it seems only v0 Convolution Node can add bias opeartion while v0 convolution cannot load network.
[code]
I would like to know what is the difference between v0 and v1 convolution node, and if t

[2020-06-23 04:15] ilyachur commented on #1082
Hi @Maosquerade

Inference Engine doesn't support operations from 0 opset. v0::Convolution is from opset0, please use v1 Convolution operation.

All information about supported operations and opsets you can find [here](https://docs.openvinotoolkit.org/latest/_docs_ops_opset.html).

In order to add biases to v1 convolution layer please use Add operation after the convolution layer. It will look lik

[2020-06-23 04:20] Maosquerade commented on #1082
Thanks for this Information about opset!
I will try this method for convolution bias layer, thanks again!

[2020-06-23 06:16] #450 closed

[2020-06-23 08:25] hsj307 opened #1085 "Int8 inference takes longer than float32 inference with batch_size>1"
Hi,
Thanks for sharing this great platform!

i run the int8  model with different batch_size(1,32). but int8 inference takes longer than float32 inference with batch_size=32.

topology;age_gender
target device;CPU
[ INFO ] InferenceEngine:
         API version............. 2.1.2020.3.0-3467-15f2c61a-releases/2020/3
[ INFO ] Device info
         CPU
         MKLDNNPlugin............ version 2.1

[2020-06-23 09:18] ShahriyarR commented on #1065
I am able to suppress this direct issue with IEPlugin by applying the following changes:
* First of all, I have created `ie_api_supp.py` file alongside `ie_api.pyx` file:
[code]

* Then I have edited toe IEPlugin class and added `__reduce__` method there as:

[code]

But now we have a new error:

[code]

[2020-06-23 09:38] akuporos commented on #1065
Hello @ShahriyarR ,
Which Cython version do you use?

[2020-06-23 09:59] artanokhov commented on #1029
This is not an issue in setupvars script, because we have different layout for 'make install' artifacts and product layout. So I think right way to fix it - align these layouts.

[2020-06-23 10:02] tomdol commented on #1046
This should be fixed in https://github.com/openvinotoolkit/openvino/pull/687

[2020-06-23 10:07] tomdol commented on #1029
I thought ngraph's component prefix should always (and by default) be set to `deployment_tools/ngraph`. This is the layout UEP in ONNXRuntime depends on. I'm not sure what the layout should be but in case this is a subject to change, please notify the UEP team.

[2020-06-23 11:17] ilya-lavrenov commented on #1029
See https://github.com/openvinotoolkit/openvino/blob/master/CMakeLists.txt#L108. When artifacts are installed via `make install`, this prefix is still ignored.. @azhogov @asuhov  what prevents us from uncommenting this line?

[2020-06-23 12:13] ShahriyarR commented on #1065
Hi @akuporos

[code]

Btw, let me clarify a bit what I did in order to get rid of first error.
* Created a Docker image from Ubuntu 18.04
* Followed the instructions for 2020.1 tag version:
https://github.com/openvinotoolkit/openvino/blob/2020.1/build-instruction.md#build-on-linux-systems
* build the ie_api.so with changed .pyx file as described above.
* Then send this shared lib to another main d

[2020-06-23 14:14] ilya-lavrenov commented on #1085
@eshoguli @dmitry-gorokhov could you please help?

[2020-06-23 15:08] JulienMaille commented on #501
It could very well be a "Xeon only" problem.. I was not able to run the official benchmark tool, but I monitored my model timings on a Surface 4 Pro. I get similar benchmarks with 2019.R3 and 2020.2 in both cpu and gpu modes.
Maybe 2020.2 is not taking advantage of all CPU extensions available on the Xeon E5-1620

[2020-06-23 15:44] JulienMaille commented on #387
I'm about to try to compile it on my Windows machine. Instructions mentions an extra download: Intel Graphics Drivers https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#software-requirements-1
However my build machine does not have an Intel GPU. Do you confirm this driver is not required for compilation, only for execution of the GPU plugin?

[2020-06-23 15:48] Bleach665 commented on #387
Absolutely right.

[2020-06-23 19:52] #817 closed

[2020-06-23 20:42] avitial commented on #880
@lynx97, still unable to reproduce the issue. Converted model as mentioned in provided link above inside Docker image (from Dockerfile) with v2020.3 and IR files work as expected.

Make sure the OpenVINO version in Docker image used to convert to IR matches to v2020.3 as _openvino/ubuntu18_model_server:latest_ seems to run v2020.3. Using your converted models provided ([from other issue link](http

[2020-06-24 01:16] remarkableJ opened #1100 "Failed to load IR converted from tf model"
Sir, I had a problem about Inference Engine recently.
Something went wrong until I added the network layers shown in Figure 1. It is worked to convert tf model to IR, but failed to load the IR shown in Figure 2.
Please help me to figure it out.
![1](https://user-images.githubusercontent.com/45261220/85485363-29260e00-b5fb-11ea-870a-45998b3b55a3.jpg)
![2](https://user-images.githubusercontent.com/4

[2020-06-24 08:01] Gangadharbhuvan commented on #387
Warning: please expect that Model Optimizer conversion might be slow.
You can boost conversion speed by installing protobuf-*.egg located in the
"model-optimizer\install_prerequisites" folder or building protobuf library from sources.
For more information please refer to Model Optimizer FAQ, question #80.
Error

How to resolve this error

[2020-06-24 10:09] ShahriyarR commented on #1065
@akuporos
I was able to eliminate the recent error with `ExecutableNetwork` by adding `__reduce__` to IECore, ExecutableNetwork, and InferRequest class.
Supplementary Python file `ie_api_supp.py` now looks as:

[code]

Respective changes:

[code]

[code]

[code]

So all story is about making those things Pickleable.
But of course, it will be great to have something official.

As my solution is not

[2020-06-24 16:30] maxlytkin commented on #908
Hello @pratiksamuel
OpenVINO toolkit currently does not officially support Detectron2 model conversion. We are sorry for the inconvenience.
Meanwhile please have a chance to take a look at possible workaround here https://github.com/facebookresearch/detectron2/issues/1602

Best regards, Max.

[2020-06-25 01:43] ilyachur commented on #1082
@Maosquerade Do you have any update about this issue? Did my advice help to resolve the issue?

[2020-06-25 02:12] ilyachur commented on #1100
Hi @remarkableJ,

Could you provide more information? Could you print the message which Inference Engine throws?

I didn't see Inference Engine error in this issue and cannot help you.

[2020-06-25 08:28] vurusovs opened #1116 "@vurusovs , stress tests failed due to missing python file. Could you take a look why this happened?"
@vurusovs , stress tests failed due to missing python file. Could you take a look why this happened?

_Originally posted by @lazarevevgeny in https://github.com/openvinotoolkit/openvino/pull/1072#issuecomment-648971672_

need to rebase branch to the latest master

[2020-06-25 08:29] #1116 closed

[2020-06-25 11:08] GotG opened #1117 "mask r cnn unsupported layer type NCS2"
hello
when running text spotting python demo on Myriad (NCS2):

RuntimeError: Failed to compile layer "758": unsupported layer type "ExperimentalDetectronTopKROIs"

any suggestions to make this work?
thanks

[2020-06-25 11:36] TNTWEN opened #1118 "warnings when running YOLOV3"
hello!
warning like this
`DeprecationWarning: shape property of IENetLayer is deprecated. Please use shape property of DataPtr instead objects returned by in_data or out_data property to access shape of input or output data on corresponding ports
  out_blob = out_blob.reshape(net.layers[net.layers[layer_name].parents[0]].shape)
`
happens when i run YOLOV3.Although it does not affect the operation

[2020-06-25 11:37] TNTWEN commented on #1118
and  i use openvino 2020.1

[2020-06-25 11:40] brmarkus commented on #1118
May I ask you to describe your environment, please? You installed OpenVINO 2020.1 - natively (which Operating system, which SOC, using CPU, GPU, VPU?) or in a container?
Do you use one of the OpenVINO/OpenModelZoo examples, if yes, which one, which command line, which exact network in which precision, which version?
Can you describe how you got the warnings so that we could try to reproduce?

[2020-06-25 11:59] TNTWEN commented on #1118
ubuntu 16.04
python 3.5.2
openvino 2020.1
CPU intel i5-8250U  GPU UHD620
warnning will happen on both CPU and GPU

https://docs.openvinotoolkit.org/2020.1/ie_python_api/classie__api_1_1IENetLayer.html       the api allso mentioned this warnning

https://docs.openvinotoolkit.org/2020.1/ie_python_api/classie__api_1_1DataPtr.html       but the api doesn't describe DataPtr 's usage in detail .

I don’

[2020-06-25 12:07] brmarkus commented on #1118
Do you use one of the OpenVINO/OpenModelZoo samples and see the warning or only with your own code?
Can you try the sample "object_detection_demo_yolov3_async.py", as described here "https://docs.openvinotoolkit.org/latest/_demos_python_demos_object_detection_demo_yolov3_async_README.html"?

[2020-06-25 12:12] TNTWEN commented on #1118
here is the output of "/opt/intel/openvino_2020.1.023/deployment_tools/open_model_zoo/demos/python_demos/object_detection_demo_yolov3_async/object_detection_demo_yolov3_async.py"
`[ INFO ] Layer detector/yolo-v3/Conv_14/BiasAdd/YoloRegion parameters:
[ INFO ]          classes : 2
[ INFO ]          num     : 3
[ INFO ]          coords  : 4
[ INFO ]          anchors : [30.0, 61.0, 62.0, 45.0, 59.0,

[2020-06-25 12:27] brmarkus commented on #1118
OK, I can reproduce it when downloading Yolo-V3 and converting it to IR:

[code]

[2020-06-25 22:02] ilya-lavrenov commented on #1118
CC @akuporos

[2020-06-25 22:02] ilya-lavrenov commented on #1117
CC @gladilov-gleb

[2020-06-25 23:02] avitial commented on #1117
@GotG I am able to see the same runtime error, looks like "758" layer is coming from _text-spotting-0002-detector_ model. Based on other text-detection models (_text-detection-0003_ and _text-detection-0004_) in OMZ repo [here](https://github.com/opencv/open_model_zoo/tree/master/demos) it looks like this model is not supported by Myriad plugin, therefore text-spotting demo will not work with NCS2

[2020-06-26 00:07] avitial commented on #1118
@TNTWEN this seems to be addressed in https://github.com/opencv/open_model_zoo/pull/1225. As you are in v2020.1, please try changing change line 276 to `out_blob = out_blob.reshape(net.layers[net.layers[layer_name].parents[0]].out_data[0].shape)` in object_detection_demo_yolov3_async.py script and see if DeprecationWarning persists.

[2020-06-26 01:24] isakamoto opened #1126 "person-reidentification-retail-0300 on HDDL"
Output values are very different from CPU.

[code]

[code]

[code]

[2020-06-26 01:46] TNTWEN commented on #1118
@avitial   wow,it works!! I also deleted all the logs, and now nothing will print in the terminal.with my own model on cpu platform,the Inference time takes almost 0.9 ms,and YOLO parsing time takes 30ms when the input is cam or *.avi.
Compared with printing warnings and logs  all the time,the YOLO parsing time takes 30ms less!It's a huge upgrade.

[2020-06-26 09:02] #166 closed

[2020-06-26 11:06] ShahriyarR commented on #1065
@akuporos any further suggestions on it?)
Is it worth to upgrade my current OpenVino? - is it possible to run inference in multiprocess manner in new versions?

[2020-06-26 12:49] banderlog commented on #166
no answer is given

[2020-06-26 14:06] ivankochin commented on #498
@guoyejun and OpenVINO team,
After deeper research, it was found out that this issue is not an oneTBB issue. This issue appears because TensorFlow statically links HWLOC into its shared object with some public symbols that may be accessed from any application that linked with TensorFlow library. You may read the more detailed description inside the corresponding [TensorFlow GitHub issue](https://g

[2020-06-28 02:03] Maosquerade commented on #1082
@ilyachur Hi，That works！Thanks a lot!

[2020-06-28 05:42] guoyejun commented on #498
thanks ivankochin, saw your detailed description.

looks that my issue is still there by adding '-lhwloc' with following change:
[code]

see following of the command line
[code]

[2020-06-28 07:21] turboLIU opened #1139 "convert pb to IR success, but when load IR model(.bin & .xml) , engine infers got the wrong result, What did I missed?"
I got the frozen pb model, and tested using  "sess.graph.get_tensor_by_name('pfld_inference/fc/BiasAdd:0')" ,,get the right result.
then  I use mo_tf.py to convert pb to bin&xml,  it's also SUCCESS:
[ SUCCESS ] Generated IR version 10 model.
[ SUCCESS ] XML file: E:\OpenVINO\openvino_toolkit\install\openvino_2020.3.194\deployment_tools\model_optimizer\.\inference_graph.xml
[ SUCCESS ] BIN file: E:

[2020-06-29 03:03] ilyachur commented on #1082
@Maosquerade Ok, in this case I will close the issue. Feel free to reopen it if you have any questions.

[2020-06-29 03:03] #1082 closed

[2020-06-29 03:37] MikoyChinese opened #1141 "ONNX: convert onnx to IR success, but got the wrong output"
Hi,

Today, I export a pretrained model from pytorch to onnx model which has 3 output(output1, output2, output3). And then I convert it to openvino IR model successfully. But when I load the model file, and check the net.outputs, I just can see 2 output. Please help me, thx.

 #### ONNX model outputs:
[code]

#### IR model outputs:

[code]

[2020-06-29 07:04] Liujingxiu23 opened #1142 "How to set cpu usage when used within onnxruntime"
I combine onnxruntime with openvino and try to use openvino as the EP in onnxruntime.

I use "export OMP_NUM_THREADS=1" as well as the following code to set the thread num as 1.
g_ort->SetIntraOpNumThreads(session_options, 1);
g_ort->SetInterOpNumThreads(session_options, 1);
When default provider (CPUExeProvider)is used, using top command to check the cpu usage , "%CPU" is less than or equal to 10

[2020-06-29 14:14] #1118 closed

[2020-06-29 15:25] ilya-lavrenov commented on #1142
@Liujingxiu23 OpenVINO uses TBB internally, so OpenMP variables don't work here.

In order to control CPU plugin behavior related to threads usage you can use:
- `CPU_THREADS_NUM` https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/include/ie_plugin_config.hpp#L192
- `CPU_THROUGHPUT_STREAMS` https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/include/ie_pl

[2020-06-29 15:27] ilya-lavrenov commented on #1139
@turboLIU could you please attach the model? What device do you use to perform the inference?

[2020-06-29 15:28] ilya-lavrenov commented on #1126
@AndrewBakalinIntel could you please help?

[2020-06-29 19:03] avitial commented on #1141
@MikoyChinese please provide a link to the pre-trained model you are converting from PyTorch to ONNX. If you can also provide the PyTorch or ONNX models. Which version of OpenVINO are you using to convert model to IR and MO command you used?

[2020-06-29 22:52] avitial commented on #1126
@isakamoto may I ask which type of HDDL card are you using? Also help provide the OpenVINO version and OS reproduced on.

[2020-06-29 23:54] isakamoto commented on #1126
Hi @avitial, thank you for your response.
I am using Intel Vision Accelerator Design with Intel Movidius VPUs(Mustang-V100-MX8).
OpenVINO version: 2020.3
OS: Windows

[2020-06-30 00:00] GotG commented on #1117
The text-detection-0003 and text-detection-0004 work on NCS2.
What I would like to know is whether I can manually add support for this layer via an extension.

[2020-06-30 05:55] Liujingxiu23 commented on #1142
@ilya-lavrenov
Thank you for your relpy.

I add "config.insert({"CPU_THREADS_NUM", "1"});" in onnxruntime/core/providers/openvino/backends/basic_backend.cc after line 34 and rebuild onnxruntime. Then code can be run in one cpu core. But the speed is really slow.

The same model, runing with the same input, in cpu and thread=1, using libtorch or onnxruntime with default ep, the inference time is ab

[2020-06-30 14:16] guoyejun opened #1162 "why half cpu cores are not used on icelake"
hi,

i'm trying to enable openvino for ffmpeg, see https://github.com/guoyejun/ffmpeg/tree/ov.  The ffmpeg filter dnn_processing will finally calls into openvion for deep learning model inference on mkldnn (the cpu path). I found that only first half cpu cores are used, there is little usage for the second half cpu cores.

my system is Ubuntu 18.04 + icelake.
[code]

how i invoke the openvino api

[2020-06-30 14:27] bianxg opened #1163 "imread() failed with some images of LFW test set"
I use openvino to do LFW test.  most images can be read using imread(), but some failed.(all images are from LFW test set)

Read picture share/lfw/Abdel_Madi_Shabneh/Abdel_Madi_Shabneh_0001.jpg failed!
Read picture share/lfw/Abdul_Rahman/Abdul_Rahman_0001.jpg failed!

code:
Mat img = imread(image_name);
if(!img.data) return -1;

version：
OpenCV version : 4.3.0-openvino-2020.3.0
Major version : 4
M

[2020-06-30 14:41] brmarkus commented on #1162
Your IceLake seems capable of hyper-threading: 2 threads per core.
Where your SkyLake seems not capable of hyper-threading, 1 thread per core.
Do you know the config API to play with the number of threads, e.g. "config.insert({"CPU_THREADS_NUM", "1"});""?
Do you want to experiment with number of streams, number of inference-requests (see e.g. the `benchmark_app` with parameters like `nireq`, `nstr

[2020-06-30 14:48] brmarkus commented on #1163
Can you help providing details about what this LFW test set is, maybe provide references where to get the two mentioned pictures?
I have OpenVINO "2020.3.194" installed under Ubuntu - natively as well as within a container and could look into the JPG file, maybe it is an exotic JPG encoding (like Turbo-JPEG-2000).
Have you installed OpenVINO natively under CentOS7 and/or within a (Docker) containe

[2020-06-30 14:51] brmarkus commented on #1163
Is it this, `http://vis-www.cs.umass.edu/lfw/images/Abdel_Madi_Shabneh/Abdel_Madi_Shabneh_0001.jpg`?
And this, `http://vis-www.cs.umass.edu/lfw/images/Abdul_Rahman/Abdul_Rahman_0001.jpg`?

Have you checked you have the files locally, so it exists, non-zero file-size, proper access rights?

[2020-06-30 14:56] bianxg commented on #1163
http://vis-www.cs.umass.edu/lfw/lfw.tgz
I install OpenVINO natively under CentOS 7.
I use files locally. Most files in the directory are ok. But some files are not ok using imread(). however, they all can be seen ok using any image tools.

[2020-06-30 14:57] guoyejun commented on #1162
yeah, i guess so.

but just wondering why openvino does not enable all the cores for hyper-threading by default?

[2020-06-30 15:12] evenpengqnap opened #1166 "Failed to run object_detection_sample_ssd python code with HDDL"
With OpenVINO 2020.3 LTS release, I cannot run "object_detection_sample_ssd" python sample code with Intel pre-trained model "person-detection-retail-0013" using HDDL.
It shows "RuntimeError: Unexpected CNNNetwork format: it was converted to deprecated format prior plugin's call"

But, the benchmark_app python sample can benchmark model "person-detection-retail-0013" using HDDL.

[2020-06-30 15:30] brmarkus commented on #1163
Ok, I don't have CentOS7 but Ubuntu... and just copied an existing sample from OpenModelZoo, emptied the main.cpp and just load the pictures and display them... I can open and display the images successfully...
![image](https://user-images.githubusercontent.com/29976962/86145350-204fa380-baf7-11ea-8713-cc7fbccbe890.png)
(I used `cv::IMREAD_COLOR`, but I also tested without it)
(I have the same Ope

[2020-06-30 16:33] avitial commented on #1117
@GotG just wanted to confirm that indeed the text spotting demo is not supported by Myriad plugin. If you you would like to pursue and manually add support for this layer in text-spotting-0002-detector model, you can try following this document: [How to Implement Custom Layers for VPU (Intel® Neural Compute Stick 2)](https://docs.openvinotoolkit.org/2020.3/_docs_IE_DG_Extensibility_DG_VPU_Kernel.h

[2020-06-30 17:39] avitial commented on #481
@ongun-kanat apologies for the delay in my response. The reason this doesn't work on Myriad is because the first dimension is supposed to be a batch by design, in your given case this is not valid for Myriad as Myriad only supports batch=1.

[2020-06-30 17:59] avitial commented on #918
@himalayanZephyr you could take a look at the [openvino_training_extensions ](https://github.com/opencv/openvino_training_extensions) , there are some segmentation models available there for training and can be used with the OpenVINO™ toolkit for inference.

[2020-06-30 18:06] ongun-kanat commented on #481
@avitial That's weird. Because I **can** run other single-input (without `A`) feed-forward neural networks only giving an input `x[1024 2]` (where 1024 is the batch size and 2 is the 2 different dimensions of input) and it works on USB (I don't have access to my work computer but I can share such a network tomorrow).

As we verified it also works when the **second** dimension is 1 , **not the batc

[2020-06-30 20:05] avitial commented on #1126
@isakamoto the results are close enough, not identical but very close. The print statement for output results slightly differs in notation. In your reference results for example `out_cpu[31] = -2.7515578e-01` and `out_vpu[31] = -0.25756836` are the same.

Also note that you are running an FP32 on CPU vs FP16 on HDDL, try running same model precision on both devices for better comparison results.

[2020-07-01 02:40] MikoyChinese commented on #1141
Here the link. https://drive.google.com/file/d/19XxA9URHdK6W2KLb6IoIVzbAc1drZGHb/view?usp=sharing

[2020-07-01 03:22] isakamoto commented on #1126
@avitial output values of FP16 on CPU are good.
[code]

- FP32 on CPU

[code]

- FP16 on CPU

[code]

- FP16 on VPU

[code]

Additionally I tested these networks for actual person images.
[Test person-reidentification-retail-0300](https://github.com/isakamoto/openvino_test/blob/master/person_reid_test.ipynb)

Thank you.

[2020-07-01 03:41] bianxg commented on #1163
Thanks. It's my fault. Some pictures file path is not right.

https://github.com/terryshyan/libovface

[2020-07-01 03:41] #1163 closed

[2020-07-01 06:34] brmarkus commented on #1163
Sounds promising, so everything working now?
Would you mind to close the issue then?

[2020-07-01 06:36] bianxg commented on #1163
Please close the issue. Everything working now.

[2020-07-01 06:38] brmarkus commented on #1163
Nice project, `libovface`, by the way.

[2020-07-01 06:39] brmarkus commented on #1163
Only you or an admin can close the issue, I think.

[2020-07-01 17:31] jgespino commented on #1166
Hi @evenpengqnap

Thanks for reaching out, I did a quick test on my Ubuntu 18.04 system with OpenVINO 2020.3 and I was able to run the python demo without any issues. Could you please share additional information about your setup (OS, HDDL model, CPU model) and where you downloaded the model from?

Downloaded the model with the **models.lst** file included in the demo directory
`python3 /opt/intel

[2020-07-02 02:05] turboLIU commented on #1139
![inference_graph](https://user-images.githubusercontent.com/31469799/86307768-31f59000-bc4a-11ea-9ba4-3265b9bfb1e6.png)
this model graph , and model running on win10-PC
compared the result (IRmodel_result & PBmodel_result)
![1](https://user-images.githubusercontent.com/31469799/86308211-28b8f300-bc4b-11ea-9c07-274504786822.JPG)
![2](https://user-images.githubusercontent.com/31469799/86308243-3b33

[2020-07-02 03:58] MikoyChinese commented on #1141
### Updated:

But if you wanna get the layer you need, also can use `net.add_outputs([LAYER_NAME])`. Check the layer name by print(net.layers), and Find the specific layer.

### Problem:

I convert the onnx model into `float32` and `float16`, but fp16 only improve ~10%, am I right? Do you have any ideas to speed up my inference engine?

[2020-07-02 04:19] evenpengqnap commented on #1166
Hi @jgespino

Instead of `object_detection_demo_ssd_async.py`, I was trying to run `object_detection_sample_ssd.py`. The model is downloaded by model_downloader.

Here is the command and results:
`
python3 ./object_detection_sample_ssd.py -m /opt/intel/openvino/deployment_tools/tools/model_downloader/intel/person-detection-retail-0013/FP16/person-detection-retail-0013.xml -i sample.jpg -d HDDL
[ I

[2020-07-02 07:05] turboLIU commented on #1139
Finally,,    after some trial and error,    I found the bug location
wrong: python .\mo_tf.py --input_model .\inference_graph.pb --model_name inference_graph_false_pb --input_shape [1,112,112,3] --input "org_batch" --output "pfld_inference/fc/BiasAdd" --mean_values [256,256,256] --data_type FP32
right: python .\mo_tf.py --input_model .\inference_graph_false.pb --model_name inference_graph_false_pb

[2020-07-02 12:17] GotG commented on #1117
Thank you

[2020-07-02 12:17] #1117 closed

[2020-07-02 14:21] FenixFly opened #1191 "OpenVINO upscale trilinear interpolation works slowly"
Hello.

I created the PyTorch model with trilinear upscaling, exported this model to ONNX, and then to OpenVINO.

This model in Pytorch works 10 times faster than in OpenVINO. I used OpenVINO 2020.3 with i7-8700.

How to improve the performance of trilinear upsample?

[code]

Perf count output:

name                                     layer_type      exet_type            status          real_time

[2020-07-02 14:27] dkurt commented on #1191
You may try to replace Upsampling to Deconvolution layer:
[code]

[2020-07-02 19:27] avitial commented on #1126
@isakamoto thanks for the update, so you see an issue with FP16 on VPU correct? Do you see the same with FP32 on VPU?

[2020-07-02 20:12] mhudnell opened #1196 "Using Cubemos Skeleton Tracking SDK & OpenVINO"
I want to use both [Cubemos' Skeleton Tracking SDK](https://www.intelrealsense.com/skeleton-tracking/) and Intel OpenVino to run a different model simultaneously.
There appears to be conflicts when attempting to import both and then initialize.

Running:
[code]

Results in the error:
[code]
Along with:
![Image of Yaktocat](https://i.imgur.com/r5JYnXj.png)

Has anyone used OpenVINO with Cubemos? I'

[2020-07-02 20:19] avitial commented on #1141
@MikoyChinese in your MO command you can specify the name of the output operations of the model. Looking at shared ONNX model I can observe `output1 = Sigmoid_741`, `output2 = Conv_745`, and `output3 = Conv_761`. When running model through MO specify the output layer names with _--output_ parameter:
`python3 /opt/intel/openvino/deployment_tools/model_optimizer/mo_onnx.py --input_model DFA_model_la

[2020-07-02 22:43] avitial commented on #880
Closing this as it can't be reproduced, I hope previous responses were sufficient to help you proceed or resolve the issue. Feel free to reopen and ask additional questions related to this topic if issue persists.

[2020-07-02 22:43] #880 closed

[2020-07-02 23:21] jgespino commented on #1166
Hi @evenpengqnap

Thanks for pointing that out, I was able to replicate the issue you are seeing. The error is caused by the IRv10 model, this is a known issue that is being investigated.

As a workaround, can you try using the IRv7 model found at the following link?
https://download.01.org/opencv/2019/open_model_zoo/R3/20190905_163000_models_bin/person-detection-retail-0013/FP16/

Regards,
Jesus

[2020-07-03 00:58] isakamoto commented on #1126
@avitial yes, I see the same with FP32 on VPU.

- FP32 on VPU
[code]

I updated [Test person-reidentification-retail-0300](https://github.com/isakamoto/openvino_test/blob/master/person_reid_test.ipynb)

[2020-07-03 02:32] avitial commented on #1196
@mhudnell not sure what the issue could be here, looks like the problem is coming from such SDK and not from the OpenVINO package. I would suggest to wait for a response from the Cubemos support.

From the OpenVINO side make sure the environment details are set, and also make sure you have verified your installation (ran a sample app). Based on the log above the issue does not seem to be from addi

[2020-07-03 03:31] zongwave commented on #48
Hi, can anyone give some information on how to resolve the cmake failed with check "pthread"  error?

I built openvino on Ubuntu 19.10

/usr/bin/cmake -E cmake_link_script CMakeFiles/cmTC_fa979.dir/link.txt --verbose=1
/usr/bin/cc      CMakeFiles/cmTC_fa979.dir/CheckSymbolExists.c.o  -o cmTC_fa979
/usr/bin/ld: CMakeFiles/cmTC_fa979.dir/CheckSymbolExists.c.o: in function `main':
CheckSymbolExists.c

[2020-07-03 06:13] evenpengqnap commented on #1166
Hi @jgespino

It works with the IRv7 model.
Will this issue be fixed in 2020.3?

[2020-07-03 06:28] brmarkus commented on #1166
You might want to try this: https://github.com/opencv/opencv/pull/17134

[2020-07-03 06:34] ivankochin commented on #498
Hi @guoyejun,

If I understand you correctly, you have taken the following steps to apply the workaround:
1. Add hwloc to target_link_libraries for the project
2. Reconfigure CMake
3. Run make
Am I right?

So I have the following question: Why `-lhwloc` option is commented on in described above command line output (and was it placed by CMake automatically)?

[2020-07-03 10:18] navacar opened #1203 "openvino on macOS g++ undefined symbols x86_64"
I followed the instruction on your github https://github.com/openvinotoolkit/openvino to build it on macOS, done it and when i wrote a small code to check was all clear or not
[code]

when i compile it with command
[code]
it gave me the error

[code]
then i added .a libs and ran this command

[code]

and i got this

[code]
Did anyone had the same problem as me, and did anyone know how to fix it?

[2020-07-03 10:36] Hubert2102 commented on #436
@lazarevevgeny @itikhono any advice?thanks

[2020-07-03 23:19] alalek commented on #1203
I believe it is a source of the problem.

[2020-07-04 10:10] navacar commented on #1203
I just tried to remove it but the the same thing happened

[2020-07-04 12:44] guoyejun commented on #498
Hi,

yes, you are right. I did the steps as your description.

I just want to highlight '-lhwloc' in the editor with bold. looks that it conflicts with ```.

the original message of the command line output is only '-lhwloc' , not "**### -lhwloc** "

[2020-07-05 10:24] lahavy opened #1220 "Windows, OpenCV with IE, Access violation in InfEngineNgraphNet::setInputs"
I am using Win 10, and compiled OpenCV with inference engine and ngraph
I get an exception from the following line:
auto inp = std::make_shared<ngraph::op::Parameter>(ngraph::element::f32, ngraph::Shape(shape));

while shape is: 1,3,60,64

I also tried the pre-compiled OCV binaries coming with openVINO and got an exception (not sure it is the same one)

[2020-07-05 13:19] s-t-e-p-a-n-o-v opened #1221 "Unable to build opencv (3.4/4.3/4.4) with openvino 2020.4 on ARM64 target"
Hi!

During opencv build with IE enabled I got an error "undefined reference to symbol 'dlsym@@GLIBC_2.17'" in ie_core.cpp.o:

[ 91%] Linking CXX executable ../../bin/opencv_perf_dnn
/usr/bin/ld: /home/ubuntu/openvino/bin/aarch64/Release/lib//libinference_engine_s.a(ie_core.cpp.o): undefined reference to symbol 'dlsym@@GLIBC_2.17'
/usr/lib/gcc/aarch64-linux-gnu/7/../../../aarch64-linux-gnu/libdl.s

[2020-07-05 13:38] s-t-e-p-a-n-o-v commented on #457
Nop, mensioned patch for opencv https://github.com/opencv/opencv/pull/17134 is already included in opencv-4.3-openvino-2020.3 release
https://github.com/opencv/opencv/tree/4.3.0-openvino-2020.3.0/modules/dnn/src
dnn.cpp and test_ie_models.cpp

Just tested on openvino 2020.3 and opencv 4.3.0-openvino-2020.3 on ARM64 target:
Models from here https://download.01.org/opencv/2019/open_model_zoo/R3/2019

[2020-07-06 04:26] dkurt commented on #457
@s-t-e-p-a-n-o-v, Can you please try to test the latest master branch of OpenCV?

[2020-07-06 08:28] s-t-e-p-a-n-o-v commented on #457
I tried without success with 4.4.0-pre

There was build error:
[ 76%] Linking CXX executable ../../bin/opencv_perf_dnn
/usr/bin/ld: /home/aaa/openvino/bin/aarch64/Release/lib//libinference_engine_s.a(ie_core.cpp.o): undefined reference to symbol 'dlsym@@GLIBC_2.17'
/usr/lib/gcc/aarch64-linux-gnu/7/../../../aarch64-linux-gnu/libdl.so: error adding symbols: DSO missing from command line
collect2: er

[2020-07-06 10:52] dkurt commented on #1220
Please fill issue carefully - include all the details how OpenCV is compiled, which environment is used (compiler)

Have you tried to use existing OpenVINO package?

[2020-07-06 10:54] dkurt commented on #1221
Please add all the details about procedure - what is target OS/Hardware? Do you use cross-compilation or native one?

[2020-07-06 11:08] s-t-e-p-a-n-o-v commented on #1221
HW is Jetson NANO (ARM64), SW is L4T Ubuntu 18.04.4 LTS

1. builded cmake 3.14.4 according https://software.intel.com/content/www/us/en/develop/articles/arm64-sbc-and-ncs2.html
2. builded opencv without IE
3. builded openvino
4. builded ngraph in openvino folder (otherwise at step 6 opencv fails to find ngraph)
5. installed drivers and rules for USB NSC2 stick
benchmark application works on MYRIAD

[2020-07-06 11:29] alalek commented on #1221
Try to remove `libinference_engine*.a` files from bin folder (leave only .so* files there) before step 6. These files are used for internal tests only.
Alternative is to specify `CMAKE_FIND_LIBRARY_SUFFIXES=.so` on step 6 (this may break build or lost some components).

---

More details are required about OpenCV build (step 6):
- CMake stdout (from clean build)
- files from build folder: CMakeCac