[2022-07-20 14:18] Daveorr opened #12236 "[support_request] RUNTIME ERROR: Model references undeclared parameters"
Hi, I'm trying to convert a model from ONNX to openvino IR and I'm getting the following message:

`RuntimeError: Model references undeclared parameters: v0::Parameter img2 () -> (f32{1,3,192,128})
v0::Parameter img1 () -> (f32{1,3,192,128})`

The ONNX has been obtained as follows:

[code]

img1 and img2 are supposed to be my inputs (also the shapes are correct), for the conversion I'm running the

[2022-07-20 15:19] wenjiew commented on #12196
LSTM INT8 support is WIP right now.

[2022-07-20 16:32] xiguadong commented on #12196
Thanks very much.

[2022-07-20 19:06] miccio-dk commented on #12226
I tried to optimize the model using the latest openvino and it worked. Thanks a lot for the help!
Do you perhaps have any further information on the bug and on how to circumvent it (since I may need to stick with the 2021.4 LTS version)?

[2022-07-21 00:58] wang7393 opened #12238 "custom layter time cost"
##### System information (version)

- OpenVINO=>2022.1
- Operating System / Platform => :win10
- Problem classification => :custom layter time cost

##### Detailed description

I have implemented a custom layter, and inferenced by CPU and GPU.
The GPU inference time takes long time(the model cost ~40ms, and the customized layer takes about 20ms). The GPU usage is about 56%.
I implemented a model w

[2022-07-21 03:15] Iffa-Meah commented on #12236
@Daveorr could you share your model files including the images? The code that you share doesn't seem complete to generate the ONNX model from my side.

[2022-07-21 10:02] Daveorr commented on #12236
Thanks for the answer, here's the codebase: https://drive.google.com/drive/folders/1XFqjFn4OnyLBszWnVkA4uXNsD2RyAXEK?usp=sharing

[2022-07-21 10:29] vladimir-paramuzov commented on #12238
@wang7393 such behavior may be caused by cache effects, i.e. when you run full model all the data may be evicted from the caches in comparison with single custom layer run. Also, have you checked that the custom layer source code (after code generation passes) is exactly the same in both cases? You can use OV_GPU_DumpSources debug option (https://github.com/openvinotoolkit/openvino/wiki/GPUPluginD

[2022-07-21 10:42] das-ankur commented on #12202
I can't see format_reader inside references but it is created when I built samples. Any suggestions?

[2022-07-21 10:54] brmarkus commented on #12202
The more you provide and explain the better.

[2022-07-21 10:55] brmarkus commented on #12202
What do you mean with "inside references"?

[2022-07-21 11:15] das-ankur commented on #12202
I am using visual studio. Inside my project there is a option called refeences and inside it I can't find format_reader

[2022-07-21 16:35] miccio-dk commented on #12226
thank you so much for the info!!

[2022-07-21 18:17] miccio-dk commented on #11356
Hi,
it seems that the docs still don't make a distinction between installing the dev tools with pip VS with the installer.
I'm trying to sandbox my Openvino development environment inside a conda env; is there a way i can install the compile_tool (and everything else needed to run the neural compute stick) within the conda env?
Alternatively, can I install only this part of the toolchain, since I

[2022-07-21 20:06] ilya-lavrenov commented on #11356
@miccio-dk compile_tool is not a part of conda distribution. compile_tool is available only in Installer, debian and rmp packages.

[2022-07-22 02:41] zulkifli-halim commented on #11953
Closing, please open a new issue if you have any other questions.

[2022-07-22 02:41] #11953 closed

[2022-07-22 02:47] tonycc521 opened #12254 "Package with PyInstaller --RuntimeError: [ NETWORK_NOT_READ ] Unable to read the model"
hi, I am trying to package with PyIntaller and I am having some problems. Here is my configuration and the problem:

System information
- OpenVINO = 2022.1.0
- Operating System / Platform = Windows10 64 Bit
- Compiler = Pycharm 2021.1.2
- python version = 3.9
- pyinstaller version = 5.2
- Model name: ch_ppocr_mobile_v2.0_det_infer/inference.pdmodel

Detailed description
     I want to use OpenVino

[2022-07-22 02:47] Iffa-Meah commented on #12236
@Daveorr Starting from the 2020.4 release, OpenVINO™ supports reading native ONNX models. Therefore, if your ONNX ori model has no issues, you should be able to run it directly with OpenVINO Benchmark App.

I checked your ONNX model
<img width="618" alt="ONNXresult" src="https://user-images.githubusercontent.com/79643476/180351659-f5e9f42d-c58e-4469-bf2e-a234e95e54d0.png">

Your issue seems to be

[2022-07-22 03:20] ridhoalattas opened #12255 "[Bug] Memory Leak While Inference Model Speech"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: PyTorch (if applicable)
- Model name: Wav2vec2 (if applicable)

When i do inference with the model there is memory leak im using the newest openvino version on this case and i tried debuging all process and

[2022-07-22 03:27] SakuraYM commented on #12196
Can I ask how long it will take? Thanks：）

[2022-07-22 03:51] wang7393 opened #12256 "[onnx model] read onnx model with fp16"
##### System information (version)
- OpenVINO=> :2022.1
- Operating System / Platform => :win10
- Problem classification => :read model

##### Detailed description

If I want to read model with onnx and compile with fp16, how to use it?
With cpu, I use core.set_property(ov::hint::inference_precision("bf16")); but the inference time increase very high comped with fp32? Is that normal?
With gpu, the

[2022-07-22 05:24] brmarkus commented on #12256
Can you provide more details about your environment, HW and SW, please?
Can you call `hello_query_device` to get an overview of the device's default/optimal and supported precision?

[2022-07-22 05:31] brmarkus commented on #12255
Can you provide details about your environment, HW and SW, please?
To allow for reproduction and deeper analysis could you provide as much details, code, model, instructions of where to get the model and its conversion, please?
Can you use the model with an existing demo or sample from OpenVINO and Open-Model-Zoo and see the same increase in memory?

[2022-07-22 05:52] Iffa-Meah commented on #12091
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-22 05:52] #12091 closed

[2022-07-22 06:05] wang7393 commented on #12256
@brmarkus
![image](https://user-images.githubusercontent.com/29936604/180373989-1569f2c4-0dcd-4822-bb38-935579a470d8.png)
![image](https://user-images.githubusercontent.com/29936604/180374013-9662bace-69a1-4377-a2ee-98b965f3b488.png)

[2022-07-22 06:59] ridhoalattas commented on #12255
**Can you provide details about your environment, HW and SW, please?**
this is my enviroment :
torch==1.12.0
transformers==4.20.1
soundfile==0.10.3.post1
pyctcdecode==0.1.0
jiwer==2.3.0
pydub==0.25.1
SpeechRecognition==3.8.1
openvino==2022.1

**To allow for reproduction and deeper analysis could you provide as much details, code, model, instructions of where to get the model and its conversion, pl

[2022-07-22 09:12] slyalin commented on #12254
Please refer to this reply in another very similar issue https://github.com/openvinotoolkit/openvino/issues/11293#issuecomment-1081842200. The summary is that you probably need to provide paths to all necessary binary dependencies manually to PyInstaller.

[2022-07-22 09:16] Daveorr commented on #12236
Thanks for the answer, any idea on what can originate the error `RuntimeError: Model references undeclared parameters: v0::Parameter img2 () -> (f32{1,3,192,128}) v0::Parameter img1 () -> (f32{1,3,192,128})` so i can fix my model?

[2022-07-22 09:21] Iffa-Meah commented on #12224
I had tried to link that arm CPU plugin from [openvino_contrib](https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/arm_plugin/README.md) with OpenVINO build from the source but no luck so far.

<img width="625" alt="12224_armcpu" src="https://user-images.githubusercontent.com/79643476/180407777-c18d7802-492a-4cd5-b70a-55950b399950.png">

We'll get back to you with possible wor

[2022-07-22 09:23] jane-intel commented on #12256
@wang7393 Could you clarify which precision are you aiming for? You mentioned **f16** and here you set **bf16**:  `core.set_property(ov::hint::inference_precision("bf16"));`

GPU device doesn't support bf16 and you can see it here:
![image](https://user-images.githubusercontent.com/55839243/180408024-9dd3f765-af1e-4a78-91e2-c1c3fae1f360.png)

If you'd like to utilize f16 capabilities of GPU -- ple

[2022-07-22 09:41] dmitry-gorokhov commented on #12256
@wang7393 i7-11800H CPU doesn't have BF16 support in hardware so BF16 inference is being running in emulation mode which might be several times slower than FP32 inference.
The only Intel CPU on market that has native BF16 support is Cooper Lake (CPX, third generation of Xeons).

[2022-07-22 10:19] vladimir-paramuzov commented on #12238
@wang7393 Project should be compiled with -DENABLE_DEBUG_CAPS=ON cmake option. Did you set it?

[2022-07-22 10:33] kumarsh1 opened #12258 "Not able to do Debug In Visual Studio"
**System information**

    1. OpenVINO=> 2022.1
    2. Operating System / Platform => win11
    3. Problem classification => Debugging in Visual Studio 2022

**Detailed description**
  While trying to debug the sample examples (provided for CPP) in Visual Studio, getting an error saying ".. tbb_debug.dll was not found". I am directly opening the "Samples.sln" file created after the build step and

[2022-07-22 12:06] MiraGaikwad commented on #12224
Thanks al ot @Iffa-Meah ..

@brmarkus , @Iffa-Meah  -

Meanwhile, I have brought Raspberry Pi4 Model B 8 GB RAM.
OpenVINO = 2021.4.2
Operating System / Platform => Raspeberry Pi 4 64 bit, version 10 (buster)
Problem classification = Inference
Python Version = 3.7

I am still getting same error.. Do I need to install the Plugins separately and if yes could you please let me know the process to down

[2022-07-22 13:46] #11918 closed

[2022-07-22 15:32] #12226 closed

[2022-07-23 03:44] FeiSong123 opened #12264 "Is the first generation Neural Compute Stick unavailable?"

[2022-07-23 03:46] FeiSong123 commented on #12264
I find in this https://github.com/openvinotoolkit/openvino/wiki/BuildingCode that it only lists Intel® Neural Compute Stick 2.

[2022-07-24 01:45] MiraGaikwad opened #12268 "[Bug] Exception occurred during running replacer "REPLACEMENT_ID" (<class 'openvino.tools.mo.middle.PartialInfer.PartialInfer'>): Stopped shape/value propagation at "bn_Conv1/cond" node."
##### System information (version)

- OpenVINO => 2022.1.0
- Operating System / Platform => Windows 64 Bit
- Problem classification: Model Conversion
- Framework: TensorFlow 2.5.3

##### Detailed description

I am facing below error while converting .PB model to IR using below command -

python mo_tf.py --data_type FP16 --input_model tf_model.pb --model_name IR_model --output_dir IR_model_bkp/ --i

[2022-07-24 04:59] wang7393 commented on #12256
@jane-intel
1. Load onnx model, and set "core.set_property(ov::hint::inference_precision("f16"));"  or "core.compile_model(m_model, "GPU", ov::hint::inference_precision(ov::element::f16));"the following errors report:
 [ NOT_FOUND ] Unsupported property key by plugin: INFERENCE_PRECISION_HINT
2. What is the difference between  "core.set_property(ov::hint::inference_precision("f16"));"  or "core.co

[2022-07-24 05:09] wang7393 commented on #12256
@dmitry-gorokhov
Thanks for your reply.
I have transform a onnx model to IR model with FP16, it can run successfully.
But I load onnx model directly with "core.set_property("CPU", ov::hint::inference_precision("f16"));", the foloowings error report:
"Wrong value for property key INFERENCE_PRECISION_HINT. Supported values: bf16, f32". Why?

[2022-07-24 05:22] wang7393 commented on #12238
@vladimir-paramuzov Is it necessary to recompile OpenVino with -DENABLE_DEBUG_CAPS=ON？

[2022-07-24 19:57] brmarkus commented on #12264
With recent OpenVINO versions, only the Myriad-X, NCS2 is supported.
I found a reference in an older Release-Notes document, see "https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes-2020.html#inpage-nav-1-3-5".

[2022-07-25 00:52] tonycc521 commented on #12254
I looked at the issue according to your suggestion and successfully helped solve my problem,thank you!

[2022-07-25 02:58] ridhoalattas commented on #12255
is there any suggestion for this case?

[2022-07-25 03:40] wang7393 opened #12273 "[Bug] custom layter output initialize"
##### System information (version)
- OpenVINO=> :2022.1
- Operating System / Platform => :win10
- Problem classification => :custom layter output initialize

##### Detailed description

I have  implemented a custom layer.
With cpu inference  under Release mode(the output was initialized 0), it can get correct results. But under Debug mode, can not get correct results, and found that the output was

[2022-07-25 10:02] das-ankur commented on #12202
If someone is facing the same issue please follow the below article. In this article opencv is used to explain the solution but the steps to solve linking error of format_reader is also same. Article Link: [https://subwaymatch.medium.com/adding-opencv-4-2-0-to-visual-studio-2019-project-in-windows-using-pre-built-binaries-93a851ed6141](url)

[2022-07-25 10:02] #12202 closed

[2022-07-25 13:27] alexk-ede commented on #11807
Same issue here. I just want to convert the IR model into a blob.
Any updates ?

[2022-07-25 19:26] #11490 closed

[2022-07-25 20:56] jgespino commented on #11970
Closing, please re-open if additional assistance is needed.

[2022-07-25 20:56] #11970 closed

[2022-07-25 20:56] jgespino commented on #11982
Closing, please re-open if additional assistance is needed.

[2022-07-25 20:56] #11982 closed

[2022-07-25 20:57] jgespino commented on #11991
Closing, please re-open if additional assistance is needed.

[2022-07-25 20:57] #11991 closed

[2022-07-25 20:57] jgespino commented on #11978
Closing, please re-open if additional assistance is needed.

[2022-07-25 20:57] #11978 closed

[2022-07-25 20:58] jgespino commented on #12025
Closing, please re-open if additional assistance is needed.

[2022-07-25 20:58] #12025 closed

[2022-07-25 20:59] jgespino commented on #12080
Closing, please re-open if additional assistance is needed.

[2022-07-25 20:59] #12080 closed

[2022-07-25 21:00] jgespino commented on #11950
Closing, please re-open if additional assistance is needed.

[2022-07-25 21:00] #11950 closed

[2022-07-26 02:19] Iffa-Meah commented on #12273
@wang7393 could you share your model files for us to check from our side? and may I know which framework this model and its topology?

[2022-07-26 02:48] zulkifli-halim commented on #12268
Hi @MiraGaikwad.

Can you share your model with us (both .h5 and .pb files) for replication purposes?

[2022-07-26 03:05] wang7393 commented on #12273
@Iffa-Meah
The model is a custom layer model. After check, there is no problem under gpu inference.
But under cpu inference, the above problems still exist: under debug mode, the custom layer's output has not been initialized, but under release mode, the custom layer's output has been initialized.
So you should check that the initialization of the input and output of the custom layer is configured

[2022-07-26 03:07] wang7393 commented on #12273
@Iffa-Meah
The model is a custom layer model. After check, there is no problem under gpu inference.
But under cpu inference, the above problems still exist: under debug mode, the custom layer's output has not been initialized, but under release mode, the custom layer's output has been initialized.
So you should check that the initialization of the input and output of the custom layer is configured

[2022-07-26 06:12] jane-intel commented on #11490
@Noxi123 and @svetom the fix was merged -- your models should now be converted to IR. To try it out please checkout latest master. Thank you!

[2022-07-26 13:51] narolski opened #12307 "[Bug] Significant Memory Leak When Using OpenVino EP With ONNX Runtime For CRAFT"
##### System information (version)
- OpenVINO => 2022.1.0
- Operating System / Platform => Debian Buster
- Compiler => gcc
- Problem classification: Model Inference
- Framework: ONNXRuntime (1.11 or 1.12), Nvidia Triton Inference Server (22.06)
- Model name: CRAFT (from https://github.com/clovaai/CRAFT-pytorch converted into ONNX)

##### Detailed description

When I use the OpenVino Execution Prov

[2022-07-26 15:34] zwplebron opened #12312 "[Bug]The prediction result is wrong after the pb model is converted to the ir model"
##### System information (version)

- OpenVINO=> 2021.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification => Model Conversion
- Framework: TensorFlow
- Model name: ssd_mobilenet_v2_320x320_coco17_tpu-8
- pipeline_file:ssd_mobilenet_v2_320x320_coco17_tpu-8.config
##### Detailed description

Hello, everyone! I have just trained with the Mobilen

[2022-07-26 16:14] onurbarut commented on #11917
Hi @zulkifli-halim , I found that the saved_model input shape doesn't match the mo command shape, fixing it solved this issue. Thanks for all the effort so far!

[2022-07-26 16:14] #11917 closed

[2022-07-26 16:45] #12254 closed

[2022-07-27 02:25] Iffa-Meah commented on #12236
@Daveorr it seems that you didn't declare those parameters in your model: (v0::Parameter img2 () -> (f32{1,3,192,128}) v0::Parameter img1 () -> (f32{1,3,192,128}) )

OpenVINO support varieties of frameworks but it does have its limitation, especially in framework layers.
There's also a possibility that your model is using an unsupported layer which you can cross-check [here](https://docs.openvino.

[2022-07-27 02:39] Iffa-Meah commented on #12273
@wang7393 there's possibility that you are using an unsupported framework layer which you may cross-check with yours [here](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html).

[2022-07-27 02:50] zulkifli-halim commented on #12196
My peer has linked this thread to the related PR. Please monitor this PR #11353 for updates.

[2022-07-27 04:56] wang7393 commented on #12273
@Iffa-Meah
I told you that my problem is with the custom layer (which onnxdoes not support), which was implemented using the tutorial.  https://docs.openvino.ai/latest/openvino_docs_Extensibility_UG_Intro.html
The output of the custom layer has not been properly initialized and the output of the custom layer has not been allocated or initialized properly.

[2022-07-27 06:23] Iffa-Meah commented on #12312
@zwplebron before proceeding further, may I know which precision you used for your verification & during training (before the involvement with OpenVINO)?
Did you verify across multiple hardware or only the CPU?

[2022-07-27 06:39] Iffa-Meah commented on #12255
@ridhoalattas it would be great if you could share your model files for us to asses on our side.
There's possibility that the leak is something specific to your code instead of OpenVINO.
Your model files would help us to verify that.

Using the [correct precision for the correct hardware](https://www.intel.com/content/www/us/en/developer/articles/technical/should-i-choose-fp16-or-fp32-for-my-deep-

[2022-07-27 08:04] wang7393 commented on #12273
@Iffa-Meah
added：
the same model(contain custom layer) with gpu inference. The output memory of the custom layer has not been reset. Because my custom layer has a cumulative operation, the output of the custom layer increases infinitely as the number of inferences increases.
So I recommend for the custom layer: implement memory allocation or resetting at the bottom, or provide a dedicated interfac

[2022-07-27 08:43] zwplebron commented on #12312
Do you mean the accuracy of verifying the model? This is my verification is the output of the picture, with the corresponding accuracy. In addition, in addition to using CPU validation, I also used NCS2 to validate the ir model on a raspberry pi, and the results were also incorrect.
![19811658739542_ pic](https://user-images.githubusercontent.com/94401190/181203030-86378a14-4d7b-4a54-a204-b40cb5ec

[2022-07-27 13:35] vladimir-paramuzov commented on #12238
@wang7393 Your approach is correct, so please check that you use correct binaries.
Also, once the debug options are enabled, the plugin will print detected options to the logs like this:
[code]

[2022-07-27 14:43] lfstrong opened #12327 "Can centos build the source？"
Can centos build the source？

[2022-07-27 14:50] slyalin commented on #12312
I think there is a difference in an input image preparation: in TF part you are reading it with PIL, it should give you RGB channel order. In OpenVINO sample you read it with cv2 which should give BGR. If you could quickly check, please try to use --reverse_input_channels when converting the model with ModelOptimizer.

When you say result was incorrect, does it mean it completely wrong (e.g. no de

[2022-07-27 15:02] ilya-lavrenov commented on #12327
Sure, it can. Use https://github.com/openvinotoolkit/openvino/wiki/BuildingCode

[2022-07-27 15:15] lfstrong commented on #12327
can centos build openvino 2022？

[2022-07-27 15:53] zwplebron commented on #12312
Hello, thanks for your answer. The above picture is just the result of my verification of the pb model, which is what I expected, but when I validated the converted ir model, the result was completely wrong. Here is the output of the ir model.
![7751658935845_ pic](https://user-images.githubusercontent.com/94401190/181291681-623ac0b8-c805-45a8-b82f-6102e2db620e.jpg)
When I try to add '--reverse_in

[2022-07-27 15:56] zwplebron commented on #12312
Hello, thanks for your answer. The above picture is just the result of my verification of the pb model, which is what I expected, but when I validated the converted ir model, the result was completely wrong. Here is the output of the ir model.
![7751658935845_ pic](https://user-images.githubusercontent.com/94401190/181293343-a20b4940-6dd4-4972-ae74-9ba85a640c7a.jpg)
When I try to add '--reverse_in

[2022-07-27 17:32] mmonares opened #12331 "Slow Runtime using OpenVINO C API"
###### System information (version):

OpenVINO => 2021.4.752
System / Platform => Windows 10/11 64 Bit
Compiler => (C API)
Framework => Intermediate Representation (.xml and .bin)
Problem Classification: Model Runtime w/ C API
Model name => All

###### Detailed description:

We are using OpenVINO’s C API in our C project, but we are facing terrible runtime. Our project is a multithreaded C environ

[2022-07-27 17:36] Daveorr commented on #12236
Thanks again for your answer,

I can see there's some issue with some parameter, the error message state it clearly, what confuses me is that the model works fine on ONNX, and even TF and TFlite. I didn't had to specify anything and `img1` and `img2` are just my inputs. I also I've tried to convert another model to OpenVINO IR (succesfully) and when I compared the 2 onnx graphs using netron I didn

[2022-07-27 18:41] vitalymtl opened #12332 "[Bug]Exception when loading a TensorFlow network on GPU"
##### System information (version)

- OpenVINO=>2022.1
- Operating System / Platform => Windows 10/11 64 Bit
- Compiler => Visual Studio 2019
- Framework: TensorFlow (IR xml and bin)
- Problem classification => Runtime exception

##### Detailed description
Exception when loading a TensorFlow network on GPU

##### Steps to reproduce

1. Load model (IR) on GPU.
[mini_model_IR.zip](https://github.com

[2022-07-27 18:46] ilya-lavrenov commented on #12331
Could you please create a jira ticket on me then?
We have other customers of C API and they don't complain about such issue.. looks quite strange.

[2022-07-27 18:53] ilya-lavrenov commented on #12327
Yes, just use the provided instruction

[2022-07-27 19:00] ilya-lavrenov commented on #12224
@hbalasu1 you need to build both OpenVINO main repo and OpenVINO contrib.
You are trying to point to `/opt/intel` as `InferenceEngineDeveloperPackage_DIR`, but there is no such file named `InferenceEngineDeveloperPackageConfig.cmake`. Such file is created only when you build OpenVINO from scratch and it's located in the `<build directory root>`:

1. Build OpenVINO
2. Run cmake on OpenVINO Contrib

[2022-07-27 19:08] ilya-lavrenov commented on #11736
@AndreiLupas you are right, could you please create a PR fixing this?

[2022-07-27 19:47] jgespino commented on #12264
@FeiSong123 As @brmarkus mentioned, the current release of OpenVINO only supports the Intel Neural Compute Stick 2. The last OpenVINO release to support the Intel Movidius Neural Compute Stick was OpenVINO 2020.3 LTS Release.

https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html

[2022-07-27 19:47] #12264 closed

[2022-07-27 21:31] MiraGaikwad commented on #12268
Hello Zulkifli,

Please find the H5, PB, H5_to_PB_Conversion_file files for the model in
attachment.

Below command is used to convert to IR.

python mo_tf.py --data_type FP16 --input_model <tf_model_name>.pb
--model_name IR_model --output_dir IR_model/ --input_shape [1,224,224,3]

Please let me know if any more details are needed.

Cheers
Mira
 H5.zip
<https://drive.google.com/file/d/1gmGD-HZEOrx

[2022-07-27 23:06] zulkifli-halim commented on #12268
Hi @MiraGaikwad. I've sent a request to access those files.

[2022-07-27 23:20] lfstrong commented on #12327
thank you

[2022-07-27 23:59] MiraGaikwad commented on #12268
@zulkifli-halim - I have granted the access now. I hope you are able to access now. Thanks

[2022-07-28 00:36] dlod-openvino opened #12334 "[Bug]OpenVINO do NOT support fake_quantize_moving_average_abs_max operator"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Python 3.8
- Problem classification: Model Compilation
- Framework: PaddlePaddle
- Model name: YOLOv5s

##### Detailed description

![54304111b9ebe5cefc510a0372eb8db](https://user-images.githubusercontent.com/59691336/181394738-931121bd-2c8b-4687-ab8a-a5d22f774864.png)

##### Steps

[2022-07-28 02:06] Iffa-Meah commented on #12312
@zwplebron the reason I asked is that some users didn't use the **consistent precision** during training & during exporting to OpenINO. Plus, not using the proper precision for the dedicated hardware also causes inconsistent or inaccurate results across devices. [(Choose the right precision](https://www.intel.com/content/www/us/en/developer/articles/technical/should-i-choose-fp16-or-fp32-for-my-de

[2022-07-28 02:12] Iffa-Meah commented on #12273
@wang7393 since you couldn't share your model files for us to validate from our side, we'll assess and get back to you with the possible & appropriate solution/s asap.

Thank you for your patience.

[2022-07-28 03:05] zulkifli-halim commented on #12268
Hi @MiraGaikwad,

I'm able to convert your model to IR.
[code]

You need to convert your Keras model to saved_model format using this code:
[code]

Then use this MO command to convert the model to IR:
`mo --saved_model_dir saved_model --input_shape [1,224,224,3]`

[2022-07-28 07:12] Iffa-Meah commented on #12096
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-07-28 07:12] #12096 closed

[2022-07-28 07:24] Iffa-Meah commented on #12236
@Daveorr we'll further assess this and get back to you with the appropriate solution/workaround asap.
Thank you for your patience.

[2022-07-28 08:42] zwplebron commented on #12312
Hello, I have tried both FP16 and FP32 precision, but I can't get the correct results. In addition, I found it feasible to copy the above link and open it in the browser.

[2022-07-28 11:49] Daveorr commented on #12236
Thanks a lot, let me know if I can help you with additional information

[2022-07-28 13:29] vishnujakhoria opened #12343 "Error while converting MaskRCnn custom trained model"
Hi,

I am trying to convert a custom trained MaskRCNN model.

I downloaded the model from here:   https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

and trained it on custom dataset.

Tensorflow version used for training: 2.6

I used the following command to convert the model:

mo --saved_model_dir "models/gcp_model_maskrcnn_with_masks/export_run

[2022-07-28 13:33] Phoebus-Ma opened #12344 "[Bug]Openvino example "hello_reshape_ssd" using readme.md model running failed."
##### System information (version)

##### Detailed description
using openvino python example "hello_reshape_ssd" readme.md model file, running python example failed.
openvino/samples/python/hello_reshape_ssd/hello_reshape_ssd.py

##### Steps to reproduce

Step [1]:

**Failed for using readme ssdlite_mobilenet_v2 model.**

[code]
----------------------------------------------------------------
Step

[2022-07-28 14:53] DariaMityagina commented on #11807
Hi all!

This can be worked around by using the following config option:
`MYRIAD_ENABLE_MX_BOOT NO`

As soon as there is a proper fix, I will let you know.

[2022-07-28 16:07] jgespino commented on #11807
Thanks @DariaMityagina  for the workaround, looking forward to the proper fix.

@alexk-ede @szabi-luxonis @kamegbor @changewOw @Luxonis-Vlad Can you try the workaround provided by @DariaMityagina ? It worked for me using the following steps.

1. Created `myriad.conf` file with the following content:
`MYRIAD_ENABLE_MX_BOOT NO`
2. Ran compile_tool using the following command:
[code]

[2022-07-29 01:30] riverlijunjie commented on #12331
There is no such terrible initialization/loading issue if run a separated OpenVINO C sample. But I cannot success to the customer project application to reproduce it in my Windows machine.

[2022-07-29 01:31] riverlijunjie commented on #12331
![image](https://user-images.githubusercontent.com/31196718/181664172-d9857716-7539-43b6-9e24-118f42ff0f32.png)

[2022-07-29 03:37] Iffa-Meah commented on #12334
@dlod-openvino could you share your model through other alternatives? perhaps through my email or direct link download.
I don't have Baidu access and I don't have that software installed in my env (all Baidu installation involves Chinese characters which I'm afraid not my expertise).

[2022-07-29 04:19] zulkifli-halim commented on #12344
Hi @Phoebus-Ma.

I tested the Hello Reshape SSD Python Sample on my end using OpenVINO 2022.1 and received a similar error as yours:
[code]

I also tested the sample using OpenVINO 2021.4 and it works fine.
[code]

I'm checking this out and will get back to you soon.

[2022-07-29 04:45] Iffa-Meah commented on #12312
@zwplebron I noticed that you are using dynamic shapes in your model.
Did you ensure to parse in the appropriate shapes during inferencing since you custom-made your inferencing Python script?
If you didn't, the values might be randomly utilized & resulting in your issue.

Note that each hardware has its own appropriate precision to be run with. For example, you need to use FP16 precision with NCS

[2022-07-29 05:56] mohsinmx commented on #12307
@narolski Can you please try inferencing with onnxruntime==1.12.0 by enabling "enable_dynamic_shapes" flag to true.

[2022-07-29 07:25] zulkifli-halim commented on #12343
Hi @vishnujakhoria. I replicated the issue on my end and found a similar error.
[code]

This error is due to the transformation config you are using in the MO command that is not compatible with TensorFlow 2.6. We will investigate this further and get back to you as soon as possible.

[2022-07-29 11:10] shankyb9 opened #12359 "[RuntimeError] Supported primitive descriptors list is empty for node when using sample pre-trained face-detection model"
**System:**
Intel Xeon CPU E5-2620 v4, 16GB RAM, Windows Server 2016

**OpenVino Version:**
2020.4

**Model Name:**
face-detection-0105 : tried all variants - FP16, FP32, INT8

**Error:**
Traceback (most recent call last):
  File "face_detection.py", line 233, in <module>
    sys.exit(main() or 0)
  File "face_detection.py", line 79, in main
    exec_net = ie.load_network(network=net, num_requests

[2022-07-29 14:54] #12312 closed

[2022-07-29 14:59] zwplebron commented on #12312
Hello, I did try to use both FP16 and FP32 precision. Although there will be some deviation in the result, as in the picture above, my final verification result is completely wrong. So I suspect there may be errors in the Python code I used to validate the IR model. This is the code used to validate the IR model. If you can, please verify the code for me to see if there are any errors. (you may ne

[2022-07-29 21:24] jgespino commented on #12359
@shankyb9  Could you share the steps or link where you obtained the face-detection-0105 model? Just want to make sure you are using the model version that matches your openvino release version.

https://download.01.org/opencv/2020/openvinotoolkit/2020.4/open_model_zoo/models_bin/3/face-detection-0105/FP16/face-detection-0105.xml
https://download.01.org/opencv/2020/openvinotoolkit/2020.4/open_model

[2022-07-30 11:13] zulkifli-halim commented on #12344
Hi @Phoebus-Ma.

This is a known issue as the hello_reshape_ssd sample is designed to support models with NCHW layout, this is not a universal tool. If you need a universal app then please use the OMZ demo. The team is working to update the document.

In the meantime, please use this command to run the sample:
[code]

[2022-07-30 11:55] shankyb9 commented on #12359
Hey @jgespino I have installed the models using downloader.py available post openvino installation inside 'C:\Program Files (x86)\IntelSWTools\openvino\deployment_tools\tools\model_downloader' folder.

I was using Openvino - 2020.4
Thanks, I'll try out using both versions you specified and update you regarding the status

Thanks for your reply!

[2022-07-30 12:02] Phoebus-Ma commented on #12344
Hi @zulkifli-halim
Thanks for your help, I know it might be possible to use other model files.
As you did in the experiment:
hello_reshape_ssd version 2022.1 is failed, but version 2021.4 is ok,
I think this is a problem caused by your code update, not a problem in itself.
So, What are you going to do next?

[2022-07-31 13:24] Tim-Chen-code opened #12372 "[TypeError]TypeError:__cinit__() got an unexpected keyword argument 'weights'"
When I use inference_demo to detect image, the following problem occurs, I don't know how to solve this error.
I'm still a beginner in this field, I want someone can help me to solve this
my desktop environment python 3.7.9, openvino is the latest version
[ INFO ] Creating Inference Engine...
[ INFO ] Loading network files:
        yolov5s.xml
        yolov5s.bin
Traceback (most recent call last):

[2022-07-31 17:00] brmarkus commented on #12372
Can you provide some basic information first, please?

If possible, provide as much information as possible from the issue-template, below.

You mention `inference_demo`, but the error-trace mentions `yolo_openvino_demo.py`. Which exact code do you use, how do you call it (e.g. which command line parameters), can you share the code for analysis and reproduction?
Which exact version do you use, wha

[2022-07-31 22:22] ynjiun opened #12373 "GENERAL_ERROR axis must be in the range of [0, 5) , actually -1"
Hi
I have converted my model.onnx successfully to IR (model.xml and model.bin, model.mapping) using mo command as below:

`mo --input_model ./model.onnx --input left_img,right_img --input_shape [1,3,320,1152],[1,3,320,1152] --data_type=FP16 `

But when I tried to compile IR to MYRIAD blob, I encountered the following error:
[code]
Attached please find my model.onnx in model.zip
[model.zip](https:/

[2022-08-01 06:58] zulkifli-halim commented on #12344
Hi @Phoebus-Ma.

There are code modifications in hellp_reshape_ssd.py in the latest release. We will update the documentation to make it relevant with the current release.

[2022-08-01 07:22] quanzhang2020 opened #12376 "[Bug] memory leak when input size changed"
##### System information (version)

onnxruntime frontend(1.11), with openvino ep(2022.1) windows10, inference dbnet with dynamic input width or height。 memory leak when input size changed.

[2022-08-01 08:23] wang7393 opened #12377 "[Bug] GPU Extensions problem"
##### System information (version)
- OpenVINO=> :2022.1
- Operating System / Platform => :win10
- Problem classification => :GPU Extensions problem

##### Detailed description

I have implemented a GPU custom layer.  And need to read the XML configuration file from the path, and the XML configuration file configures the kernel file.  Like this: "core.set_property("GPU", { { CONFIG_KEY(CONFIG_FILE)

[2022-08-01 08:46] peiyigu-intel opened #12379 "[Bug] Access Violation in sample code"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- Problem classification: sample code runtime issue
- Model name: squeezenet1.1

##### Detailed description
The cpp sample classification_sample_async will cause access violation with GPU and CPU device (to 100% reproduce , app verifier is needed)

[code]

#####

[2022-08-01 10:45] Phoebus-Ma commented on #12344
Close the issue.

[2022-08-01 10:45] #12344 closed

[2022-08-01 18:58] SolomidHero opened #12387 "[Bug] Can't install openvino[onnx]"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => MacOS 12.3.1
- Compiler =>
Apple clang version 13.1.6 (clang-1316.0.21.2.5)
Target: x86_64-apple-darwin21.4.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin
- Problem classification => installation

##### Detailed description
couldn't install for onnx model conversion.
Steps:

[c

[2022-08-01 19:21] shankyb9 commented on #12359
Hey @jgespino Thanks for your support. The issue is resolved using LTS release (2021.4.2) along with some script changes. Was facing issues in other versions. Thanks again!

[2022-08-01 19:22] #12359 closed

[2022-08-01 20:46] jgespino commented on #12373
Hi @ynjiun

It looks like the issue is with the GatherElements op in your model with the axis attribute specified as `-1`. Although the MYRIAD plugin should support the GatherElemenets Op, it's expecting a positive value for the axis. I'll have to confirm with the development team if MYRIAD supports negative values for this op or if this is by design.

https://github.com/openvinotoolkit/openvino/b

[2022-08-01 20:47] jgespino commented on #12376
@quanzhang2020 Could you please fill out the issue template?

##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I chec

[2022-08-01 22:03] jgespino commented on #12387
@SolomidHero Which version of Python are you using? I tested the installation steps for openvino-dev pip package on my mac and I did not see the error message you are running into.

- Python 3.8.9
- Pip 22.2.1
- macOS Monterey Version 12.2

[2022-08-01 23:27] jgespino commented on #12387
@SolomidHero I upgraded from Python3.8 to Python3.9 on the same mac running macOS version12.2 and install openvino-dev[onnx] successfully.

Any chance you that have OpenVINO currently installed on this system from the offline/online installer and are sourcing the environment variables before starting your python enviornment?

[2022-08-02 01:59] Iffa-Meah commented on #12379
@peiyigu-intel OpenVINO requires **Visual Studio version 2019** with MSBuild.
Up till now, this 2019 version is the one that is officially validated with OpenVINO.
You may refer to the [System Requirement](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_windows.html).

Plus, access violation is a known issue if you are trying to read a certain **heap memory** which

[2022-08-02 02:13] Iffa-Meah commented on #12377
@wang7393 it's appropriate to read the files from memory as you need to access the system's hardware (GPU). This would allow the program to capture the real operating GPU hardware itself. This is crucial in the aspect of RTOS and embedded systems to work with existing hardware instead of feeding the config from other resources that might be pseudo or actually non-existent.

Are there any reason th

[2022-08-02 08:55] lfstrong commented on #12327
you suggest build with OpenMP or tbb？

[2022-08-02 08:56] ilya-lavrenov commented on #12327
TBB

[2022-08-02 09:02] lfstrong commented on #12327
Thank you, how openvino2022 runtime use mkldnn?

[2022-08-02 09:11] ilya-lavrenov commented on #12327
just build CPU plugin and it will use onednn underneath

[2022-08-02 09:24] lfstrong commented on #12327
thank you

[2022-08-02 09:53] shankarjadhav232 opened #12398 "openvino model conversion issue"
# System information

- OpenVINO => 2022.1
- Operating System / Platform =>Intel(R) Core(TM) i5-9400F CPU @ 2.90GHz/ Windows 64 Bit
- Problem: labels not detected after Model Conversion
- labels=['mango' ,'apple' , 'milk' , 'orange' ,'omelete']
- yolo model version =yolov5

issue:-
I have model train using Yolov5 with 6 labels. And then converted it using openvino 2022.1  After that when I did the

[2022-08-02 10:44] SolomidHero commented on #12387
Hi, @jgespino
It seems I had openvino installed in my default pip/python. I uninstalled it, and also deleted `/usr/local/bin/mo`. And from this moment it worked, and I was able to convert simple linear model.

[2022-08-02 10:44] #12387 closed

[2022-08-02 16:54] jgespino commented on #12398
@shankarjadhav232 Could you please provide steps to reproduce including model, model optimizer command, input test image, expected output and code?

[2022-08-02 18:50] jgespino commented on #12236
@Daveorr I was able to convert your model using the following model optimizer command. Can you try from your side and let me know if it works for you too?

[code]

[2022-08-02 18:59] jgespino commented on #12273
@wang7393 Could you please share the following for us to reprodue and investigate the issue?

- Steps to reproduce
- Model
- Model Optimizer Command used
- Code
- Test input
- Expected results

Feel free to share it via email (visable on my profile) if you need to keep the information private.

[2022-08-03 01:10] wang7393 commented on #12377
@Iffa-Meah
I'm sorry, I don't think I made my question clear.
What I said the scenario of reading from memory is like this: Just like the model load interface, the model file can be read from the file path or from memory (for commercial applications, the original model is encrypted, the encrypted model is read into memory first, and then the decrypted model is read through the memory load interfac

[2022-08-03 04:48] Iffa-Meah commented on #12377
@wang7393 usually in a commercial use case, the whole package will be compiled into an encrypted binary to protect the source code. It's hard to obtain such information unless that person is really good in Reverse Engineering which is still not straightforward as they still need to decrypt the binary. Not to mention that they need to translate an encrypted assembly language into the original src c

[2022-08-03 09:47] phutoan31299 commented on #12188
@WangRuixin93 can you share your mo_onnx.py file. Thanks

[2022-08-03 09:54] WangRuixin93 commented on #12188
@phutoan31299 it is in my path "C:\Users\xx\AppData\Roaming\Python\Python37\site-packages\openvino\tools\mo"
try to find it

[2022-08-03 12:49] Daveorr commented on #12236
@jgespino I can confirm that the model now is converting.

Thanks a lot for the kind support, I'm gonna close this issue and I'll come back here if I have some new problem.

Thanks a lot again!

[2022-08-03 12:49] #12236 closed

[2022-08-03 14:37] hbalasu1 commented on #12224
Hi @MiraGaikwad are you able to build based on @ilya-lavrenov suggestion?

[2022-08-03 15:22] hbalasu1 commented on #12095
Hi @LinBaoxin

Look like this is the bug since the issue happened on NCS2. I have escalated this issue to our development teams and will get back to you once I have the answer as soon as possible.

Regards,
Hari Chand

Ref. 88871

[2022-08-04 02:29] Iffa-Meah commented on #12312
@zwplebron it is recommended to refer to the[ Official OpenVINO Inference Engine samples](https://docs.openvino.ai/latest/openvino_docs_OV_UG_Samples_Overview.html) and cross-check the source code with yours. Pay attention to how the model and hardware are handled.

[2022-08-04 02:33] peiyigu-intel commented on #12379
@Iffa-Meah I've build again with  Visual Studio version 2019 and rerun with the step above. With App Verifier the Access Violation still exist.

From the call stack, it seems to be a openvino problem. Is there any proof that this access violation is a heap memory reading bug from windows instead of the code problem ?

For Application verifier using reason, the Access Violation is blocking us for v

[2022-08-04 03:49] Iffa-Meah commented on #12379
Did you try to run everything as admin?

Mine actually exited with error code 1073740940 which related to the heap.

<img width="530" alt="heap_corruption" src="https://user-images.githubusercontent.com/79643476/182758749-5089f0b6-c31b-45ec-a088-3fb22bd467bf.png">

However, we'll further investigate this and get back to you with possible workaround.

[2022-08-04 04:00] peiyigu-intel commented on #12379
@Iffa-Meah
Yes, I both open both cmd and powershell with administration mode

Sure, thx for the further investigation

[2022-08-04 07:54] tarekmuallim opened #12419 "Converting tensorflow model to openvino model error when enable disable_nhwc_to_nchw"
I am trying to do a conversion from tensorflow to openvino, but as I enable disable_nhwc_to_nchw I get an error.

If run:
`mo --saved_model_dir /home/tem/scale_model/tensorflow_model --output_dir /home/tem/scale_model/openvino_model --input_shape [1,224,224,3] --data_type FP16 --disable_nhwc_to_nchw --disable_fusing `

The output:
[code]
If run:
`mo --saved_model_dir /home/tem/scale_model/tensorfl

[2022-08-04 22:16] howardginsburg opened #12429 "[Bug] MYRIAD Device Is Not Opened"
##### System information (version)
- OpenVINO => 2022.1.0.643
- Operating System / Platform => Ubuntu 20.04 64 Bit
- Problem classification: Benchmark Sample
- Model name: GoogleNet-v1

##### Detailed description
I'm running the Up2 Vision AI X Dev Kit.  When I try to run the benchmark_app using the MYRIAD configuration, I get the following error trace

[Step 7/11] Loading the model to the device

[2022-08-05 01:28] zulkifli-halim commented on #12268
closing issue. Feel free to reopen if additional assistance is needed.

[2022-08-05 01:28] #12268 closed

[2022-08-05 02:11] Iffa-Meah commented on #12255
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-08-05 02:11] #12255 closed

[2022-08-05 02:49] Asthestarsfalll opened #12431 "How to traverse a tensor?"
Hi,
What can I do if I want to traverse a tensor?
I find that  `Loop` or `TensorIterator` may help me.
But It's hard to me to figure out how do they work through the opsets docs.
I've tried to read the related codes, but they confused me more.

So can you give me an explanation or a code example?
Thanks in advance for your help.

[2022-08-05 04:32] vishnujakhoria commented on #12343
Hi @zulkifli-halim did you find any resolution to the issue? Please help me to resolve it. Is there any tool or method to generate transformation config for Tensorflow 2.6?

[2022-08-05 08:31] SiChuanJay opened #12435 "[Bug] openvino2022 loaded paddle model"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues, Stack Ov

[2022-08-05 08:31] #12435 closed

[2022-08-05 08:35] SiChuanJay opened #12436 "[Bug] openvino2022 loaded paddle model failed"
##### System information (version)

when I used the openvino2022 to load solov2 model(paddle format), a error happened.  But when I tried other models, they were ok. I
want to know the reason, thanks!
![图片](https://user-images.githubusercontent.com/52130681/183037266-6c0ac84c-41b2-49ad-ba00-fe8d78819ccb.png)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler

[2022-08-05 09:18] alex-ht commented on #12224
I follow the [wiki](https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin#approach-1-build-opencv-openvino-and-the-plugin-using-pre-configured-dockerfile-cross-compiling-the-preferred-way) and it works:

[code]
You will get `OV_ARM_package.tar.gz` under `build/` folder.

[2022-08-05 09:57] alex-ht commented on #12224
I'm using asus tinkerboard and I believe all ARM boards will work.

[2022-08-05 10:35] Iffa-Meah commented on #12332
@vitalymtl

I do notice the same behaviour from my end.

The inferencing for CPU is successful
<img width="549" alt="CPU" src="https://user-images.githubusercontent.com/79643476/183058271-2b9a95e4-9743-46f1-8a88-b2f64971c85b.png">

However, for GPU it failed:
<img width="518" alt="GPU" src="https://user-images.githubusercontent.com/79643476/183058359-5cfd5b09-759f-469a-b679-22af4a935e62.png">

It

[2022-08-05 15:48] zulkifli-halim commented on #12419
Hi @tarekmuallim.

If your TF model is in NCHW layout you need to specify `--disable_nhwc_to_nchw` command line parameter when you convert the model. The `--disable_nhwc_to_nchw` parameter will disable the default translation from NHWC to NCHW.

From the error message during optimization, when you specifying the `--disable_nhwc_to_nchw` this will cause a mismatch in the input shape.

For your info

[2022-08-05 19:12] tarekmuallim commented on #12419
Hi @zulkifli-halim

Thank you for the detailed information.

Like that, the converted model will be NCHW all that time.
What if I want the converted model to be NHWC instead. Is there a way to do that?

[2022-08-06 01:41] danve-fan opened #12443 "[Bug]when openvino loading one paddlepaddle-model, the exception ocurrs!"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Loading
- Framework: PaddlePaddle
- Model name: mot_ppyoloe_l_36e_pipeline
-->

The problems:
when openvino loading one paddlepaddle-model, the exception ocurrs as follows:
RuntimeError: Check 'creator_it != CREATORS_MAP.end()' fai

[2022-08-06 01:48] danve-fan commented on #12443
and the model can be download from page:

https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/deploy/pphuman/README_en.md

[2022-08-06 15:16] 44vladimirov opened #12445 "Model importing problem"
Good day!

I am trying to import previously exported model using [OpenVINO 2022.1](https://storage.openvinotoolkit.org/repositories/openvino/packages/2022.1/) with the following simple code.

[code]

With the model [vehicle-detection](https://storage.openvinotoolkit.org/repositories/open_model_zoo/2022.1/models_bin/3/vehicle-detection-0202/FP32/) the program runs fine and exits successfully.

But

[2022-08-06 18:40] ilya-lavrenov commented on #12445
CC @dmitry-gorokhov @a-sidorova

[2022-08-06 22:26] MiraGaikwad commented on #12224
@hbalasu1 - No it did not work for me yet. I am currently trying on Raspberry pi 3 but no luck.

[2022-08-08 02:08] Iffa-Meah commented on #12377
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-08-08 02:08] #12377 closed

[2022-08-08 02:10] Iffa-Meah commented on #12334
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-08-08 02:10] #12334 closed

[2022-08-08 02:24] Iffa-Meah commented on #12429
@howardginsburg to use MYRIAD with **OpenVINO installed using pip**, you'll need to do some manual adjustment since certain plugin files are not within the pip install OpenVINO package.

Somewhat, you'll need to get two files (possibly from the env that you managed to run the MYRIAD):
1. openvino_intel_myriad_plugin
2. usb-ma2x8x

Place these two files into ../Lib/site-packages/openvino/libs

[2022-08-08 02:32] zulkifli-halim commented on #12419
@tarekmuallim. You can refer to [When to specify Layout](https://docs.openvino.ai/latest/openvino_docs_MO_DG_Additional_Optimization_Use_Cases.html#when-to-specify-layout) and [How to Change Layout of a Model Inputs and Outputs](https://docs.openvino.ai/latest/openvino_docs_MO_DG_Additional_Optimization_Use_Cases.html#how-to-change-layout-of-a-model-inputs-and-outputs) documentation for more detai

[2022-08-08 04:27] shiwenloong opened #12448 "How to read onnx model on GPU and set its precision as fp16?"
I try to read onnx model on GPU. Its default precision if fp32. Here is my code:
[code]
I tried to set the model precision like this:
[code]
But I got a problem like this:
[code]
Here is SUPPORTED_PROPERTIES on GPU, which is outputted by hello_query_device.
[code]

[2022-08-08 05:46] zulkifli-halim commented on #12436
@SiChuanJay. Please provide us with the following information:
- Model (original and converted model)
- MO command
- Script to run with the model

[2022-08-08 07:07] tarekmuallim commented on #12419
Hi @zulkifli-halim

Thank you very much for the information.
I trying some thing like:

`mo --input_model /home/tem/Fruits-Vegetable-Inference-OAK/frozen_model.pb --output_dir /home/tem/Fruits-Vegetable-Inference-OAK/openvino_model --input_shape [1,224,224,3] --data_type FP16 --disable_fusing --layout MobileNetV2Base_input[n,h,w,c],dense_2/Softmax[n,c]`

but I am getting an error:

`[ ERROR ]  Inp

[2022-08-08 08:57] shiwenloong opened #12458 "How to read a OpenviNO IR bin file into ov::runtime::Tensor？"
I want to use the API:
[code]
I can read the IR xml file into the model string. How to read the IR bin file into ov::runtime::Tensor?

[2022-08-08 09:08] ilya-lavrenov commented on #12458
Hi,

1. Understand the file size
2. Create u8 tensor with file size as a size e.g. `ov::Shape size { fileSize };`
3. Read from file to tensor

But why do you want to use this API? If you have files, it's more convenient to provide files to `load_model`.
Tensor and string are necessary if you have decrypted model in memory https://docs.openvino.ai/latest/openvino_docs_OV_UG_protecting_model_guide.h

[2022-08-08 09:25] shiwenloong commented on #12458
Thanks. I use this API because I want to read decrypted model in memory.

[2022-08-08 10:11] #12458 closed

[2022-08-08 10:11] shiwenloong commented on #12458
The problem is solved.

[2022-08-08 17:25] vitalymtl commented on #12332
Thank you for your support
What model do you suggest to check, TensorFlow light model or IR model?
TensorFlow light model works with TensorFlow inference without issue.
IR model is generated by model optimizer without issues and without using dynamic shape (see log [mini_model_IR_conversion_logs.txt](https://github.com/openvinotoolkit/openvino/files/9283814/mini_model_IR_conversion_logs.txt)).
If

[2022-08-08 19:36] jgespino commented on #12431
@Asthestarsfalll Do you have an issue specific to OpenVINO? Could you please provide additional information and link to the documentation you are following?

[2022-08-08 19:51] raymondlo84 opened #12468 "avx_vnni support on OpenVINO?"
I believe it comes with Gen 12 CPUs, and now AVX-512 is missing? Would we be porting to the AVX_VNNI? What is the best configuration to get best CPU performance on Gen12+OpenVINO?

[2022-08-09 01:41] Iffa-Meah commented on #12448
@shiwenloong to specifically get your ONNX model to work in FP16 precision, you'll need to use [OpenVINO Model Optimizer](https://docs.openvino.ai/latest/openvino_docs_MO_DG_FP16_Compression.html#doxid-openvino-docs-m-o-d-g-f-p16-compression) to convert the model into IR with FP16 precision.

To ensure that your ONNX is compatible with OepnVINO, run it with benchmark app: benchmark_app -m model.on

[2022-08-09 03:16] zulkifli-halim commented on #12443
Hi @danve-fan. As of now, PP-YOLOE model is not yet supported by OpenVINO. These are the list of supported PaddlePaddle models by OpenVINO:

- Detection (YoloV3, PPYolo, SSD-MobileNetV3),
- Classification (Resnet-50, MobileNet-v2, MobileNet-V3),
- Semantic Segmentation (BiSeNetV2, DeepLabV3p, FastSCNN, OCRNet, U-Net), OCR (PPOCR), and NLP (BERT).

You can refer to [release note](https://docs.openv

[2022-08-09 03:39] danve-fan commented on #12443
thanks， I"ll try it!

[2022-08-09 09:55] MdScntst opened #12476 "Node input index is out of range (arm64)"
I am running the same code on x64 (Ubuntu 20.06) and arm64 platform (Rockchip rk3399, Ubuntu 20.04).
Code compiled on x64 works as expected, on arm64 I am getting error msg: node input index is out of range!
Samples on arm64 platform works well.
Code to reproduce, IR, onnx are included.

[error.zip](https://github.com/openvinotoolkit/openvino/files/9289353/error.zip)

[2022-08-09 10:48] alexk-ede commented on #11807
Indeed, it worked.
Thank you for notifying us.

[2022-08-09 11:44] dmitry-gorokhov commented on #12468
Hi @raymondlo84. OpenVINO supports ADL (and AVX-VNNI as a consequence) starting from 2022.1 release. New HW capabilities are utilized by default: no additional steps from a user is required.
What do you mean by "configuration" here?

[2022-08-09 16:45] svutran1 opened #12484 "[Bug] Encountered error "malloc(): invalid size (unsorted)" when running Multi-Device Plugin on custom code"
##### System information (version)
- OpenVINO=> 2022.1.0
- Operating System / Platform => Ubuntu 20.04.4 LTS
- Compiler => gcc 9.4.0
- Problem classification => Model loading

##### Detailed description
I have a strange behavior when I try to load a model several times (refer to the code snippet below). We obtain

malloc(): invalid size (unsorted)
malloc(): invalid size (unsorted)
malloc(): invali

[2022-08-09 16:48] #11807 closed

[2022-08-09 19:01] svutran1 commented on #12484
Also, the same code on an other similar system (same OpenVINO version and same Ubuntu version), the code runs fine.

[2022-08-10 01:33] Iffa-Meah commented on #12484
@svutran1 what do you mean with the code on **other similar system works**?
Did you mean that you are running this code with Multi-Device Plugin on multiple Desktops with the same environment and one of them didn't work?

Generally, the Multi-device plugin is implemented to run different inferencing on multiple devices (auto load balancing).
Available devices in your system can share the inferenci

[2022-08-10 07:00] Iffa-Meah commented on #12476
@MdScntst in order to use OpenVINO with ARM CPU, you need this OpenVINO ARM CPU plugin.

 This plugin is developed specific to enable deep neural networks inference on ARM CPUs, using OpenVINO API.

You'll need to build it in your ARM environment. You may refer [here](https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/arm_plugin/README.md) for more detailed information.

[2022-08-10 08:41] MdScntst commented on #12476
@Iffa-Meah ,  thank you for your response. I've successfully built openvino with openvino contrib lib, arm cpu is recognized by inference engine, I`ve also successfully run hello_classification sample from arm plugin samples. Checked for limitations, specified [here](https://github.com/openvinotoolkit/openvino_contrib/wiki/ARM-plugin-operation-set-specification), only group GroupConvolution looks

[2022-08-10 09:14] Iffa-Meah commented on #12476
@MdScntst usually, for example in PyTorch, let's say if the network output is 1-dimensional and we try to index it at position node=1 we’re going to get an out-of-bounds error which correlates to node input index is out of range. Perhaps you need to narrow down to which index of your model's node is out of range and maybe that will pinpoint the cause of the issue.

[2022-08-10 09:23] MdScntst commented on #12476
@Iffa-Meah Is there an easy way to do this? Also I would like to remind you, that the same IR model runs fine on x86-64

[2022-08-10 12:34] wang7393 opened #12496 "[Bug] dynamic input and output"
##### System information (version)
- OpenVINO=> :2022.1
- Operating System / Platform => :win10
- Problem classification => :dynamic input

I have a onnx model, if I transform it with static shape, it can inference successful.

But when I transform onnx with dynamic shape, ant transform it to ir model. And use ov runtime reshape the model shape with static shape. and get the model output shape. th

[2022-08-11 01:04] zulkifli-halim commented on #12419
Hi @tarekmuallim, can you share your model with me?

[2022-08-11 01:57] Iffa-Meah commented on #12496
@wang7393 could you share your model for us to verify from our side?

[2022-08-11 02:14] Iffa-Meah commented on #12476
@MdScntst I checked your model on both Ubuntu and arm environment.

The inferencing in Ubuntu works for both native ONNX and FP16
Native ONNX
<img width="456" alt="CPU_ubuntu" src="https://user-images.githubusercontent.com/79643476/184053523-ee86bdcf-ac44-4eb7-8b04-f7302c54df2d.png">

FP16
<img width="457" alt="FP16cpu_ubuntu" src="https://user-images.githubusercontent.com/79643476/184053545-5039b

[2022-08-11 02:33] Iffa-Meah commented on #12332
@vitalymtl I checked your IR model, and OpenVINO indicated there's issue with your transpose shapes.
You need to check possibly your model's input channel and apply the --reverse_input_channel if necessary.
Most TensorFlow models are trained with images in RGB order while the inference engine load input images in the BGR channels order.

[2022-08-11 02:42] wang7393 commented on #12496
[epoch-1.zip](https://github.com/openvinotoolkit/openvino/files/9305672/epoch-1.zip)

[2022-08-11 03:08] wang7393 commented on #12273
@jgespino  sorry, This involves custom networking and code.
But you can do the following simulation:
Using OpencL to achieve a cumulative operation. Moreover, the inference result of each time is viewed. If the output memory is not cleared before each inference, it will be continuously increased.

[2022-08-11 05:43] Iffa-Meah commented on #12496
@wang7393 may I know **what dynamic shape values** are you trying to feed to your model? I can see most of them are set to unknown (?) which I believe you tried to make them dynamic.

<img width="540" alt="shape_dynamic" src="https://user-images.githubusercontent.com/79643476/184070702-a0708a1a-4c08-4c94-8efe-fd4bbe79edbd.png">

You need to feed the shape using parameter -shape[N,C,H,W]
For exampl

[2022-08-11 06:54] tarekmuallim commented on #12419
Hi @zulkifli-halim

I solve the problem.
I used:
`mo --input_model /home/tem/Fruits-Vegetable-Inference-OAK/frozen_model.pb --output_dir /home/tem/Fruits-Vegetable-Inference-OAK/openvino_model --input_shape [1,224,224,3] --data_type FP16 --disable_fusing --layout MobileNetV2Base_input[n,h,w,c],dense_2/Softmax:0[n,c]`

I had to add `:0` to the output name.

Thank you for your help.

[2022-08-11 06:54] #12419 closed

[2022-08-11 13:38] hbalasu1 commented on #12343
Hi @vishnujakhoria

I have duplicated your issue, and it seems like a bug. I have escalated this issue to the respective team, and I will inform you once I get a response.

Thank you

Ref. 89368

[2022-08-11 13:52] hbalasu1 commented on #12379
Hi @peiyigu-intel

I managed to duplicate when GPU and MYRIAD devices were selected, but the CPU device does not show any Access Violation.
Anyways I have escalated this to the respective team for further investigation. I will inform you once I receive a reply.

Thank you for testing out and informing us.

Ref 89370

[2022-08-11 14:26] hbalasu1 commented on #12224
Hi @MiraGaikwad
After further investigation, OpenVINO for arm CPU plugin only supports the following devices (based on [openvino_contrib](https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/arm_plugin/README.md))
<html>
<body>

Raspberry Pi* 4 Model B | Debian* 9 (32-bit)
-- | --
Raspberry Pi* 4 Model B | Debian* 10.3 (32-bit)
Raspberry Pi* 4 Model B | Ubuntu* 18.04 (64-bit)
Ra

[2022-08-11 16:15] #12179 closed

[2022-08-11 16:17] #12196 closed

[2022-08-11 16:17] #12238 closed

[2022-08-11 16:37] jgespino commented on #12256
@wang7393 CPU only support bf16 and f32 data types as inference precision. This information can be found on the OpenVINO [CPU device](https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_CPU.html#supported-inference-data-types) documentation. When loading an fp16 IR model, the plugin will convert all fp16 values to fp32 internally.

[ NOT_FOUND ] Unsupported property key by plugin

[2022-08-11 16:38] #12258 closed

[2022-08-11 16:39] #12307 closed

[2022-08-11 16:43] #11767 closed

[2022-08-11 20:45] jgespino commented on #12331
@mmonares @riverlijunjie Please open an internal ticket, send me an email if you have any questions.

[2022-08-11 23:21] zulkifli-halim commented on #12372
Closing issue. Feel free to reopen if further assistance is needed.

[2022-08-11 23:21] #12372 closed

[2022-08-11 23:21] zulkifli-halim commented on #12376
Closing issue. Feel free to reopen if further assistance is needed.

[2022-08-11 23:21] #12376 closed

[2022-08-12 00:23] wang7393 commented on #12256
@jgespino Will GPU support ONNX-FP16 in the future？

[2022-08-12 00:39] wang7393 commented on #12496
@Iffa-Meah
src-r4i:{ 1, 3, 270, 480 }, { 1, 16, 68, 120 }, { 1, 20, 34, 60 }, { 1, 40, 17, 30 }, { 1, 64, 9, 15 }
seg-r4o: {1,1,135,240}, { 1, 16, 68, 120 }, { 1, 20, 34, 60 }, { 1, 40, 17, 30 }, { 1, 64, 9, 15 }
benchmark_app -shape, multi-input? how to set it ?

[2022-08-12 01:30] avitial commented on #12021
@shliar apologies for the delay in our response. I've spent some time comparing the results from the torch model, onnx model (with ONNXRT) and OpenVINO (generated models based on shared https://github.com/shliar/craft-openvino-pytorch). I don't see any differences of output between ONNXRT and OpenVINO (see outputs below) while feeding the same input data (res_img_1.jpg), which leads me to conclude

[2022-08-12 01:52] Iffa-Meah commented on #12496
@wang7393 from the inferencing result I attached above, I can see that you statically set some values (I believe that is colour channel if following the NCHW order) but they are inconsistent. For C, usually, 1 for grayscale image and 3 for colour image (RGB) are used.

This is why OpenVINO throws the error "Argument shapes are inconsistent". They need to have the same rank and equal dimensions exc

[2022-08-12 02:13] wang7393 commented on #12496
@Iffa-Meah  sorry, I do not understand it.
My model has a total of five inputs (all NCHW), one is the color image input (C :3), and the other four are non-image inputs, where C is neither 1 nor 3.
So what you mean:
Openvino dynamic input or output channels must be equal and must be 1 or 3?

[2022-08-12 02:44] Iffa-Meah commented on #12496
we'll get back to you with possible workaround from perspective of OpenVINO

[2022-08-12 02:52] Iffa-Meah commented on #12398
Closing issue, feel free to re-open or start a new issue if additional assistance is needed

[2022-08-12 02:52] #12398 closed

[2022-08-12 02:54] Iffa-Meah commented on #12429
Closing issue, feel free to re-open or start a new issue if additional assistance is needed

[2022-08-12 02:54] #12429 closed

[2022-08-12 07:02] vladimir-paramuzov commented on #12448
@shiwenloong inference_precision hint support is implemented in #12526

[2022-08-12 07:03] vladimir-paramuzov commented on #12256
@wang7393 inference_precision hint support for GPU plugin is implemented in #12526

[2022-08-12 21:02] miccio-dk opened #12543 "[Bug] optimizing a model based on CoatNet"
##### System information (version)
- OpenVINO=> 2022.1.0
- Operating System / Platform => Ubuntu 22.04.1 LTS
- Compiler => N/A
- Problem classification => Model optimization
- Framework: Pytorch/ONNX
- Model name: [CoAtNet](https://github.com/chinhsuanwu/coatnet-pytorch/blob/master/coatnet.py)

##### Detailed description
When trying to optimize a model based on CoatNet (full model [here](https://g

[2022-08-13 00:51] avitial commented on #12496
@wang7393 with a model visualizer I can see the OpenVINO IR model with dynamic shapes for input and output with values as follows:

&ensp;inputs:
&ensp;&ensp;&ensp;src: [-1,3,-1,-1]
&ensp;&ensp;&ensp;r1i-r4i: [-1,-1,-1,-1]
&ensp;&ensp;&ensp;downsample_ratio: [1]
&ensp;outputs:
&ensp;&ensp;&ensp;seg: [-1,1,-1,-1]
&ensp;&ensp;&ensp;r1o: [-1,16,-1,-1]
&ensp;&ensp;&ensp;r2o: [-1,20,-1,-1]
&ensp;&ensp;

[2022-08-13 08:04] wang7393 commented on #12496
@avitial  Thank you for your reply.
I transform the IR model the same way you do.
My code flow:
First: read model and reshape
`m_model = core.read_model(model, weights);`
`map<string, ov::PartialShape> nameToPartShape;`
`ov::Shape srcShape = { 1, 3, 270, 480 };`
`ov::PartialShape srcPartShape(srcShape);`
`nameToPartShape["src"] = srcPartShape;`
`ov::Shape r4Shape = { 1, 64, 9, 15 };`
`ov::PartialS

[2022-08-13 08:08] wang7393 commented on #12256
Will it be the next official release of OpenVino?

[2022-08-13 16:32] Kizna1ver opened #12548 "How to set the memory type of inference results ?"
If I load the model and do inference on Intel integrated GPU like va surface memory, how can I get output tensors on GPU memory? I tried some codes, and it seems that the result tensor obtained by infer_request.get_tensor("output_tensor_name") is a ordinary Tensor, not a VASurfaceTensor.

[2022-08-13 21:43] ilya-lavrenov commented on #12548
Hi @Kizna1ver,

You need to create explicitly such tensor and set it via `infer_request.set_tensor("output_tensor_name", remote_tensor);`
I suppose we cannot use VA tensor as output one, but you can create `ClBufferTensor`, or more easily - get default remote context for your device via `Core::get_default_content("device_name.ID")` and call `create_tensor` with shape and element type, then pass th

[2022-08-13 22:26] ilya-lavrenov commented on #11532
@andrei-kochin is it fixed with latest changes in versions of numpy in OV?

[2022-08-14 06:47] ViokingTung commented on #12327
hello,i build openvno with
[code]
occure error:
`/root/openvino/src/core/include/ngraph/pass/pass.hpp:51:1: error: type attributes ignored after type is already defined [-Werror=attributes]`

how to reslove it,thanks

[2022-08-14 07:17] brmarkus commented on #12327
Depending on which OpenVINO version you are based on - when you use the latest one (2022.1 or newer), then "CentOS 7.6, 64-bit" is no longer supported.
See the "System Requirements" under
https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_linux.html#system-requirements

[2022-08-14 07:25] ViokingTung commented on #12327
can centos build openvino 2022？
Yes, just use the provided instruction

but this issue answer that openvino 2022 can build from source, if cant`t,this is a disaster!

[2022-08-14 07:25] ViokingTung commented on #12327
can centos build openvino 2022？
Yes, just use the provided instruction

but this issue answer that openvino 2022 can build from source, if cant`t,this is a disaster!

[2022-08-14 07:35] brmarkus commented on #12327
You might need to describe which exact version/commit of OpenVINO you are trying to build from source. Don't forget to initialize the sub-modules of the OpenVINO GitHub source tree.
You might need to create a new issue - as this issue has been closed already.

[2022-08-14 07:55] ViokingTung commented on #12327
i got it, thanks.

[2022-08-14 08:36] ViokingTung opened #12549 "build openvino 2022.1.1 with centos 7.9"
##### System information (version)

- OpenVINO == 2022.1.1
- Operating System / Platform == CentOS Linux release 7.9.2009 (Core) Linux 5.4.199-1.el7.elrepo.x86_64
- cmake version 3.23.2
- gcc version 8.3.1 20190311 (Red Hat 8.3.1-3) (GCC)
- Python 3.9.1

##### Detailed description

I build by follow steps:

[code]

then catch errors:

[code]

have any suggestions? thanks.

[2022-08-14 09:34] ilya-lavrenov commented on #12327
OpenVINO can be build from source for CentOS.
But it's better to use non-system compiler (I mean not gcc 4.8), but try to install gcc7 and use it

[2022-08-14 12:10] ViokingTung commented on #12327
I used gcc8 but failed, i will try gcc7, thanks.

[2022-08-14 12:25] ilya-lavrenov commented on #12327
I suppose all gcc > 5.0 are OK. I saw your issue, we need to have a look

[2022-08-14 12:35] ilya-lavrenov commented on #12549
Could you please the attached instruction?
[Build OpenVINO with CMake 3.18.4 Python 3.6 and devtoolset-8 on CentOS 7 Guide.docx](https://github.com/openvinotoolkit/openvino/files/9333385/Build.OpenVINO.with.CMake.3.18.4.Python.3.6.and.devtoolset-8.on.CentOS.7.Guide.docx)
We are going to add it to OpenVINO Wiki soon.

[2022-08-14 13:15] Kizna1ver commented on #12548
Hi @ilya-lavrenov, thanks for reply.

Does this mean that we can't make the input and output both VASurfaceTensor currently?

[2022-08-14 14:02] ilya-lavrenov commented on #12548
Yes, only input.
And for this we need to to use a special API to denote that GPU plugin should expect VASurface.
See https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_GPU.html#preprocessing-acceleration:
[code]
So, based on this preprocessing information plugin will convert VASurface to OpenCL buffer internally

[2022-08-14 14:13] Kizna1ver commented on #12548
Got it, thx.

[2022-08-14 14:27] ViokingTung commented on #12549
I'm so sorry for wasting your time, I just found some mistakes while wrote my installed instruction,I set the wrong parameter DPYTHON_INCLUDE_DIR and got confused when trying different cmake versions , I build again it success, I plan to testing the built openvino tomorrow and upload my installed document if work well, thanks.

[2022-08-14 22:05] ilya-lavrenov commented on #12549
Ok, thanks. It would be nice if we have your feedback on our instruction so we can publish it soon if you don't have any comments.

[2022-08-14 22:09] ilya-lavrenov commented on #12436
Looks like we just don't support such operation in ONNX FE
@mbencer please confirm

[2022-08-15 03:03] ViokingTung commented on #12549
this is my build instruction.
[Build OpenVINO 2022.1 with CMake 3.23.2 Python 3.9.0 and GCC 8.3.1 on CentOS 7.9 Guide.pdf](https://github.com/openvinotoolkit/openvino/files/9334854/Build.OpenVINO.2022.1.with.CMake.3.23.2.Python.3.9.0.and.GCC.8.3.1.on.CentOS.7.9.Guide.pdf)

[2022-08-15 05:28] andrei-kochin commented on #11532
Hello @ilya-lavrenov  and others. Yes this was addressed by PR #12191

[2022-08-15 05:29] Iffa-Meah commented on #12543
@miccio-dk I tried to run your python script but it didn't generate your model file.
Would be great if you could share your ONNX model.

<img width="805" alt="coatnet" src="https://user-images.githubusercontent.com/79643476/184581253-85f1019d-3829-4b9f-bded-e0e20a0f6be5.png">

[2022-08-15 05:33] andrei-kochin commented on #11532
@MaximProshin could you please comment on scipy dependency?  any plans to bump the version to the newer one?

[2022-08-15 07:54] korotaS commented on #11939
@jgespino Hi! Can you please verify whether the #11667 went into the latest release 2022.1.1?

[2022-08-15 12:34] #12448 closed

[2022-08-15 12:43] ilya-lavrenov commented on #11554
Hi @cansik

I see you have several patches in your repository. Could you please send them to the main OpenVINO repository?
We want to adopt the great work you've done and thinking about publishing of official `openvino` pip package for M1/M2.

I also see that you are fixing RPATH for libraries here https://github.com/cansik/openvino-arm/blob/main/build-macos.sh#L133-L155 why is it needed? I suppos

[2022-08-15 13:04] cansik commented on #11554
@ilya-lavrenov Yes, I will create a PR for the arm64 support. As far as I can see the relaxing of the numpy dependency (#11532) has already been covered here https://github.com/openvinotoolkit/openvino/pull/12191?

Regarding the RPATH issue, when I was testing the build, it did not work. That's why I've implemented my [own resolver](https://github.com/cansik/openvino-arm/blob/main/rpath-resolver.p

[2022-08-15 13:30] ilya-lavrenov commented on #11554
@cansik

Right, I hope so.

Sorry, pasted the wrong link in the original message, updated. Here is a code https://github.com/openvinotoolkit/openvino/blob/master/src/bindings/python/wheel/setup.py#L336-L362

I suppose we don't have any internal CIs for wheels building, it's fully open sourced and available for everybody.

My end goal is to have `openvino` runtime package build available via `cmake

[2022-08-15 16:26] #12548 closed

[2022-08-15 16:53] jgespino commented on #12256
@wang7393 the pull request has been merged to master branch, you can [build ](https://github.com/openvinotoolkit/openvino/wiki/BuildingCode)openvino from source now if you need this. Otherwise, it should be included in the next release.

[2022-08-15 16:53] #12256 closed

[2022-08-15 17:20] jgespino commented on #11939
@korotaS This pull request was not part of this release. In the meantime, you can build OpenVINO from source using the master branch.

[2022-08-15 20:33] miccio-dk commented on #12543
Hi Iffa, thanks for looking into this.
I just edited the script to include the model instantiation and export, please try and run the updated version (same link).
I am also attaching the ONNX model for your convenience: [enc.zip](https://github.com/openvinotoolkit/openvino/files/9339703/enc.zip)

[2022-08-15 21:08] MiraGaikwad opened #12569 "[Bug] Model Optimizer - Could you please let me know the difference between data type FPS16 and FLOAT, FPS8 and HALF ?"
##### System information (version)

- OpenVINO => 2022
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model OPTIMISER
- Framework: TensorFlow
- Model name: ResNet50

Could you please let me know the difference between data type FPS16 and FLOAT, FPS8 and HALF ?

python mo_tf.py -**_-data_type FP16 -_**-input_model tf_model.pb --model_name

[2022-08-15 21:19] dgorissen commented on #3325
To help future googlers. I got bitten by this when using a model from the 2022.1.0 branch alongside a 2021.4 openvino installation. Using the 2021.4.2 tag of open model zoo fixed things.

[2022-08-15 21:20] dgorissen commented on #10337
Dupe of https://github.com/openvinotoolkit/openvino/issues/3325

To help future googlers. I got bitten by this when using a model from the 2022.1.0 branch alongside a 2021.4 openvino installation. Using the 2021.4.2 tag of open model zoo fixed things.

[2022-08-15 23:13] amarjeet-saini opened #12570 "[Bug] Accuracy issue when using Hetero plugin"
##### System information (version)

- OpenVINO=> Intel openvino 2022.1
- Operating System / Platform => x86_64 (Ubuntu 20.04.3 LTS)
- Problem classification => Accuracy issue with Hetero plugin

Running openvino on odroid h2 board with below devices
Devices => Intel celeron j4105, iGPU, Intel movidus X

##### Detailed description
I was trying to calculate accuracy for image classification task wit

[2022-08-16 01:49] Iffa-Meah commented on #12332
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-08-16 01:49] #12332 closed

[2022-08-16 02:30] Iffa-Meah commented on #12543
I had checked your model.
The benchmark for native ONNX works and it seems to be supported by OpenVINO.
<img width="537" alt="benchmarkonnx" src="https://user-images.githubusercontent.com/79643476/184784519-0824e61c-ebbc-4027-b083-f3f173674de0.png">

I managed to convert the ONNX into FP16 precision IR (without changing the shape)
<img width="553" alt="moONNX" src="https://user-images.githubuserco

[2022-08-16 05:08] ilyachur commented on #11554
@cansik @ilya-lavrenov

Created PR https://github.com/openvinotoolkit/openvino_contrib/pull/399 for ARM plugin where bump the version of ARM Compute library.
This change allows to build ARM plugin for M1 without the patch.

[2022-08-16 07:28] ilya-lavrenov commented on #12570
Hi @amarjeet-saini,

If you se HETERO:GPU,CPU with the same affinities, do you observe the issue? Just want to exclude possible issues in MYRIAD plugin.

Thanks,
Ilya.

[2022-08-16 09:11] cansik commented on #11554
@ilyachur Thanks for creating the PR which adds the fixes in the ComputeLibrary. With your PR branch and the head version of openvinotoolkit I was able to build the wheels successfully on MacOS M1 without any additional patches (here the script: https://github.com/cansik/openvino-arm/blob/build-latest/build-latest.sh) and the following commands:

[code]

I guess it would be possible to skip the py

[2022-08-16 11:33] amarjeet-saini commented on #12570
@ilya-lavrenov, thanks for reply
Accuracy (top 1) in %
HETERO:GPU,CPU = 69.46
HETERO:CPU,GPU = 69.54

[2022-08-16 11:36] MdScntst commented on #12476
@Iffa-Meah , I've investigated two models that fails on ARM platform, using onnx-gpaphsurgeon I've removed node by node untill model run without the error message, and it seems to be a problem with nodes with Resize op. I'm  trying to find some workaround, but if you have some suggestions, I kindly ask to share.

[2022-08-16 14:33] #12549 closed

[2022-08-16 14:50] MdScntst commented on #12476
May be this will help
![IR_NODE](https://user-images.githubusercontent.com/36072671/184910034-2c66e089-a7b1-445c-b26b-992547aa6cef.jpg)
![ONNX_NODE](https://user-images.githubusercontent.com/36072671/184910071-9e2f8e43-0083-4f29-bc28-246981463be0.jpg)

[2022-08-16 16:37] andrei-kochin commented on #12569
Hello @MiraGaikwad,
Thanks for using OpenVINO!

Actually as also listed in FAQ  [#50](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_Model_Optimizer_FAQ.html?highlight=half#what-does-the-message-data-type-is-unsupported-mean) Model Optimizer can compress data to FP16 if specified --data_type FP16 or --data_type Half. So in fact FP32 = float and FP16 = half.

Best regards,
Andrei

[2022-08-16 17:15] avitial commented on #12496
@wang7393 on my previous test I had inference working with CPU, but the same code for GPU throws _Runtime error_ as you described.
[code]
It seems this is the expected behavior for GPU plugin as based on [documentation ](https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_GPU.html#dynamic-shapes), GPU plugin supports dynamic shapes for batch dimension only with fixed upper bound.

[2022-08-17 00:33] SWHL opened #12596 "How to get the metadata_props information from the model of onnx format with OpenVINO?"
#### Description:
I put some information into the onnx metadata_props by the onnx package ([model link](https://github.com/openvinotoolkit/openvino/files/9355419/super_resolution.zip)):
[code]

#### Get metadata by the onnxruntime package.
[code]

#### Question: How to get the metadata info by OpenVINO?
- [x] Have you checked the OpenVINO documentation? → Not found.
- [x] Have you checked whether

[2022-08-17 00:37] avitial commented on #12543
@miccio-dk I've taken a look at the provided onnx model file and such model has single input (with name _input.1_ and shape [16,80,300]) and single output (with name _2026_ and shape [16,576,13]). I've no problems optimizing the model with Model Optimizer (using OpenVINO 2022.1 on Windows host). The following commands all seem to be working correctly, note the _input_shape_ specified in my last co

[2022-08-17 02:38] riverlijunjie commented on #12331
@jgespino a jira ticket has been created: https://jira.devtools.intel.com/browse/CVS-89506
@mmonares this issue only reproduced in your application, do you have any new update?

[2022-08-17 02:51] wang7393 opened #12598 "[Bug] GPU custom layer config file"
##### System information (version)
- OpenVINO=> :2022.1
- Operating System / Platform => :win10
- Problem classification => :  GPU custom layer config file

`core.set_property("GPU", { { CONFIG_KEY(CONFIG_FILE), xmlPath } });`
the xmlPath  with Spaces are not supported.

In addition， as this issue https://github.com/openvinotoolkit/openvino/issues/12377#issue-1324027988
After the application goes

[2022-08-17 07:22] wang7393 commented on #12496
@avitial

we will use dynamic input with intel-GPU. Why does Intel-GPU only support batch dimension?
In addition, I ran the following python code, which still gets the same error as c++:
`import numpy as np`
`from openvino.runtime import Core`

`device = "CPU"`
`core = Core()`
`model = core.read_model("epoch-1.xml")`
`model.reshape({"src": (1, 3, 270, 480), "r1i": (1, 16, 68, 120), "r2i": (1, 20,

[2022-08-17 09:41] HENNESSYxie opened #12605 "[Bug] RuntimeError: cannot estimate element if precision is UNSPECIFIED"
`return CompiledModel(

I have this error while trying to compile Person-reidentification model on Gitlab CI. I think that config will help me, but I can't find anything allowable fields for config dict.

[2022-08-17 09:53] ilya-lavrenov commented on #12605
Hi @HENNESSYxie
Could you please provide more detailed steps how to reproduce the issue?
We definitely have issue that needs to be addressed.

[2022-08-17 09:56] ilya-lavrenov commented on #12598
Hi @wang7393

@p-durandin could your team try to address it?

@vladimir-paramuzov should we add a way to add GPU extensions from string? Not from file

[2022-08-17 09:59] ilya-lavrenov commented on #12476
@alvoron can we have a look?

[2022-08-17 10:00] ilya-lavrenov commented on #12496
Work for support of dynamic shapes on Intel GPU plugin is in progress.
CC @vladimir-paramuzov

[2022-08-17 10:05] HENNESSYxie commented on #12605
Hi @ilya-lavrenov
I have class that compiles model. I've created a pytest.fixture which returns instance of compiled model. I'm using person-reidentification-retail-0277. After this I'm trying to get outputs of this model by giving him image. On my local machine everything works fine, but on runner I'm getting error that wrote above. Can this happen due to the fact that in one test I compile the d

[2022-08-17 10:51] tomdol commented on #12596
Hi,

Unfortunately the OV API doesn't allow extracting this information from the model. It's under discussion right now and it should be available in one of the future releases.

You can use the ModelProto object's API to extract the ONNX metadata though. Here's a C++ snippet which does exactly that https://gist.github.com/tomdol/8dae97218a8a9e56cb12919dd3e026d4. You can do something similar in Py

[2022-08-17 10:55] SWHL commented on #12596
Thanks.

[2022-08-17 10:55] #12596 closed

[2022-08-17 15:04] #12331 closed

[2022-08-17 15:58] Kizna1ver commented on #12548
Hi @ilya-lavrenov , still hava a question. Does the model support input from a single Y channel on the VASurface?
I have a Super-resolution model which input shape is [1,1,960,540], and this input is Y channel. I tried some code like this:

    auto model = core.read_model("srmodel.xml");
    auto p = PrePostProcessor(model);
    p.input().tensor().set_element_type(ov::element::u8)

[2022-08-17 18:46] ilya-lavrenov commented on #12445
I suppose this PR needs to be merged to fix the issue

[2022-08-18 01:37] wang7393 commented on #12496
@avitial  Sorry, I have solved the problem of dynamic input under CPU, mainly because my model has problems.
But there are serious performance issues with dynamic inputs.

The model with static shape's inference time is about 25ms. But the same model with dynamic input(h and w dim)'s inference is about 50ms.

Why is it so slow? Normal? I've tested Tensorrt's dynamic input, and the inference time i

[2022-08-18 10:49] HENNESSYxie commented on #12605
To reproduce that:
- Download https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/person-reidentification-retail-0277/README.md
- write test that inferences this model and try to make detections from image
- Run this test on GitLab CI/CD

[2022-08-18 11:09] MdScntst commented on #12476
I kinda solved "Node input index is out of range" error on arm platform: it seems that Resize node fails with some values of coordinate_transformation_mode attribute. For two different detectors I've got different results.

Yolov5-face:
asymmetric (generated by torch onnx) - fail (out of range)
half_pixel - ok
pytorch_half_pixel - ok
align_corners - ok
tf_half_pixel_for_nn - ok
tf_crop_and_resize

[2022-08-18 12:10] Kizna1ver opened #12629 "Does openvino support input from a single Y channel on the VASurface?"
I have a Super-resolution model which input shape is [1,1,960,540], and this input is from Y channel data. I tried some code like this:

    auto model = core.read_model("srmodel.xml");
    auto p = PrePostProcessor(model);
    p.input().tensor().set_element_type(ov::element::u8)
                    .set_color_format(ov::preprocess::ColorFormat::UNDEFINED)
                    .set_memory_type(ov::

[2022-08-18 21:29] avitial commented on #12496
@wang7393 inference time is no different in my test, for IR models I see around ~19.60 ms for static model, ~19.48 ms with dynamic model and ~20.16 ms with dynamic model and reshape. All tests are using same input shapes filled with random data, for 100 inference iterations and sync API (on i7-8809G @ 3.10GHz). How are you calculating the inference time? What inference time are you expecting to ge

[2022-08-18 21:30] avitial commented on #12021
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and ask additional questions related to this topic.

[2022-08-18 21:30] #12021 closed

[2022-08-19 01:55] zulkifli-halim commented on #12436
This operation is not supported in OpenVINO, you can refer to [PaddlePaddle Supported Operators](https://docs.openvino.ai/nightly/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html#paddlepaddle-supported-operators) for list of PaddlePaddle operator names and its limitations.

[2022-08-19 01:56] zulkifli-halim commented on #12443
Closing issue. Feel free to reopen the thread if further assistance is needed.

[2022-08-19 01:56] #12443 closed

[2022-08-19 02:47] wang7393 commented on #12496
@avitial
I measure time the same way you do.
Test 1: conver onnx static model to ir static model, the inference tima is about 20ms.
Test 2: convert onnx dynamic model to ir static model, the inference tima is about 40ms. (mo --input_model epoch-0-dynamic.onnx  --input_shape   xxx)
Test 3: convert onnx dynamic model to ir dynamic model, the inference tima is about 40ms.

the onnx model as fllows:
[

[2022-08-19 19:46] avitial commented on #12496
@wang7393 I am seeing similar results as you based on the provided models. The epoch-0-dynamic model with dynamic vs static shapes (Model Optimizer conversion) has very similar inference times (see below). However, the epoch-0-static seems to have better inference times but its unclear what may cause this difference. I see the epoch-0-static model doesn't have the downsample_ratio input. Have you

[2022-08-20 12:56] rnwang04 opened #12662 "Is there any solution to close logging output?"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform =>Linux
- Compiler => Visual Studio 2017
- Problem classification: Logging
- Framework: PyTorch

##### Detailed description
When I inference with openvino, here is the output:
[code]
But I want a very clean output. Is there any solution to disable these logging?

[2022-08-20 13:03] ilya-lavrenov commented on #12662
Hi @rnwang04
This output is from MO tool, which is related to offline part, not to inference.
If you don't want to see output, use `mo [args...] > / dev/null`

[2022-08-20 13:20] andrei-kochin commented on #12662
@ilya-lavrenov @rnwang04 there is a way to get optimized model with clean output but just running MO with '--silent option' like below:
`$ mo  -m mobile_v3_small.onnx  --silent
[ SUCCESS ] Generated IR version 11 model.
[ SUCCESS ] XML file: C:\Users\akochin\mobile_v3_small.xml
[ SUCCESS ] BIN file: C:\Users\akochin\mobile_v3_small.bin
[ SUCCESS ] Total execution time: 0.78 seconds.`

[2022-08-22 02:12] WeldonWangwang commented on #12570
Hi @amarjeet-saini ,
If you use HETERO:MYRIAD,CPU mode, can you test whether the following contents can get normal accuracy after changing the layers map, these changes include some nodes specified by you, but add related dependent nodes.
`
    layers_map['StatefulPartitionedCall/resnet50v2/conv5_block3_2_conv/Conv2D/WithoutBiases'] = 'GPU'
    layers_map['StatefulPartitionedCall/resnet50v2/conv5_

[2022-08-22 04:57] rnwang04 commented on #12662
@andrei-kochin @ilya-lavrenov thanks for the reply! it works for me : )

[2022-08-22 04:57] #12662 closed

[2022-08-22 05:48] dlod-openvino commented on #11802
When OpenVINO can support the Paddle quantized model from PaddleSlim? PaddleSlim release a super easy-to-use tool: [Auto Compression Toolkit](https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression), Both TensorRT and ONNX runtime have already support it.
![TensorRT support PaddleSlim](https://user-images.githubusercontent.com/59691336/185848103-b8d19d52-ed7d-477f-bdb3-8fe

[2022-08-22 11:10] MdScntst commented on #12476
Hello! I've finally sloved this problem: IR model perfectly work if converted with --use_legacy_frontend flag, without any changes of resize coordinate_transformation_mode attribute. We can close this issue.

[2022-08-22 15:18] sorny92 opened #12692 "[Bug] Can't build openvino 2022.1 with GPU in Ubuntu 22.04 and clang14"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Ubuntu 22.04
- Compiler => Clang 14
- Problem classification: Build error
##### Detailed description

##### Steps to reproduce

Trying to build openvino in Ubuntu 22.04 with Clang-14.
I try to build it with CPU and GPU backends without VPU or GNA modules.

If I disable `ENABLE_INTEL_GPU` I can get it to build

[2022-08-22 15:43] jgespino commented on #12692
@sorny92 Building OpenVINO from source has not been validated on Ubuntu 22.04 as mentioned in the [build guide](https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux#build-on-linux-systems). Can you try building on one of the validated OS and see you run into the same issue?

[2022-08-22 15:46] #12431 closed

[2022-08-23 06:07] Iffa-Meah commented on #12629
@Kizna1ver could you provide these:
1. Your model framework (eg: framework:tensorflow, model name: inception_v1)
2. your model files for us to validate from our side

OpenVINO does have a global function to obtain an NV12 compound blob object from NV12 DXGI video decoder output.
The resulting compound contains two remote blobs for Y and UV planes of the surface. If this is what you meant with Y ch

[2022-08-23 08:31] Kizna1ver commented on #12629
Hi @Iffa-Meah. Y channel means a `VASurfaceTensor` which contains Y component in a NV12 color format video frame. And I get it from a `std::pair<VASurface, VASurface>.first` created by `VAContext::create_tensor_nv12`.
Is the code I listed below about the `PrePostProcessor` with correct usage? If not, how can I fix it?

    auto p = PrePostProcessor(model);
    p.input().tensor().set_element_type(o

[2022-08-23 09:17] jinfagang opened #12715 "[Bug] Pad op in in8 can not parsed"
RuntimeError: While validating ONNX node '<Node(Pad): Pad_13>':

![image](https://user-images.githubusercontent.com/21303438/186121267-bda931fc-245c-43bc-81e7-bf6bbe2fab7a.png)

this Pad value can not parsed.

[2022-08-23 10:06] wang7393 commented on #12496
@avitial
I have tested the two models with onnxruntime.  The inference time of both models is 25-30ms.
The inference script is as follows:
[inference.zip](https://github.com/openvinotoolkit/openvino/files/9401573/inference.zip)

Therefore, the inference time of dynamic input model under OpenVino is abnormal. Could you check the cause?

[2022-08-23 11:12] zulkifli-halim commented on #12605
Hi @HENNESSYxie, can you share with us the full inference code you used to run the person-reidentification-retail-0277
model?

[2022-08-23 21:18] avitial commented on #12543
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-08-23 21:18] #12543 closed

[2022-08-23 21:36] andrei-kochin commented on #12715
@jinfagang thanks for contacting OpenVINO!

Unfortunately it's hard to start investigating the issue without following information so please provide it to speed-up investigation if possible.

- Could you please share the full MO log?

- Will it be possible for you to share the model as well?

Thank you!

[2022-08-23 22:23] miccio-dk commented on #12543
Sorry for the late reply, with the help provided above i indeed managed to export and optimize my model using openvino.
However, when trying to compile the model for MYRIAD X and run inference on it I get the following:
[code]

[2022-08-23 22:56] #12468 closed

[2022-08-24 01:40] Iffa-Meah commented on #12629
@Kizna1ver I had validated your model and it is supported by OpenVINO.
<img width="559" alt="benchmark" src="https://user-images.githubusercontent.com/79643476/186298420-e8de559c-ff00-47f8-b07b-659552e34c5d.png">

As for the Y channel of VAAPI implementation with OpenVINO, we'll get back to you asap.

[2022-08-24 05:37] quanzhang2020 opened #12727 "[Bug]openvino-ep memory leak"
##### System information (version)

ocr inference:
text detection model: dynamic input size dbnet
ocr model: static input size(320x32) crnn
problem: Only the dynamic input detection model or the static input OCR model running is ok， but first run the dynamic input detection model and then run the static input OCR model will be memory leak。set openvino-ep code like this:

        m_buseov = bUse;

[2022-08-24 06:06] DarkerzSonic opened #12731 "[Bug] Failed to load YOLOv5 with OpenVINO 2022.1"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => DevCloud
- Compiler => DevCloud
- Problem classification => Model Loading
- Model name => YOLOv5

##### Detailed description

Tried to load IR of YOLOv5m with **inference.Network().load_model()**, but it shows error of unsupported layers.
However, when loading the YOLOv5m IR with **openvino.tools.pot.graph.loa

[2022-08-24 08:07] jinfagang opened #12735 "[Bug] pip install openvino-dev requires scipy 1.5.2 which is very low"
Please upgrade scipy and numpy version requirements, scipy is very low, it can not build at all/

[code]

[2022-08-24 08:08] jinfagang commented on #12735
scipy 1.5.4 doesn't supports more decent python like 3.10...... Please upgrade it's version

[2022-08-24 08:28] jinfagang commented on #1386
@ilya-lavrenov Does it support dynamic batchsize ？ I have a model with dynamic on batchsize still can not get shape?

[2022-08-24 11:27] singhalshikha518 opened #12737 "[ERROR] Exception occurred during running replacer "None (<class 'openvino.tools.mo.front.tf.MapFNTransformation.MapFNInputSlicing'>)": unhashable type: 'list'"
System information (version)
  OpenVINO => openvino/ubuntu18_dev:latest docker
  Operating System / Platform => ubuntu
  Problem classification: Tensorflow2 Model Conversion
  Framework: TensorFlow2

I have tensorflow2 trained distilbert based ner model. I am trying to convert it to IR.

Here is my command : mo --saved_model_dir prebuilt_ner/1 --input first_subword_mask_tensor,input_ids_tensor,num

[2022-08-24 12:40] singhalshikha518 commented on #12737
I even tried command without output i.emo --saved_model_dir prebuilt_ner/1 --input first_subword_mask_tensor,input_ids_tensor,num_subwords_per_word_tensor,tokens_tensor,words_tensor --input_shape [-1,-1],[-1,-1],[-1,-1],[-1,-1],[-1,-1]

I am getting below error:
Model Optimizer arguments:
Common parameters:
        - Path to the Input Model:      None
        - Path for generated IR:        /home/

[2022-08-24 13:37] amarjeet-saini commented on #12570
Hello @WeldonWangwang,
I followed the mapping you mentioned & was getting accuracy of  69.44 % (HETERO: MYRIAD,GPU). It would be really helpful if you could tell
- How did you figure out dependent nodes
- Why were dependent nodes not required in case of HETERO:GPU,CPU or HETERO:CPU,GPU when we were doing mapping as mentioned earlier.

[2022-08-24 14:27] jinfagang commented on #12735
thanks! does there any timeline when will python 3.10 support?

[2022-08-24 14:43] rkazants commented on #12737
@singhalshikha518, thanks for reporting this. It definitely looks like a bug in MO. The problem looks with nested lists of tensor names that we should not have there.
@popovaan, could you please take a look at tensor names, as a fast work around can we unroll such nested lists. Thanks!

[2022-08-24 16:17] brmarkus commented on #12731
Can you provide details about where you got the YoloV5m IR-files (XML, BIN) from, please? You retrained it, you converted it on your own? You might need to share your models or method you retrieved it for reproduction.

[2022-08-24 17:07] hbalasu1 commented on #12629
Hi @Kizna1ver

Do you have any code that we can use to reproduce the issue you're facing?
Also, if you can provide us with the version of OpenVINO you're using will be great too.

Thank you

[2022-08-24 18:55] MiraGaikwad opened #12742 "[Bug] [ ERROR ] Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.middle.PartialInfer.PartialInfer'>): Stopped shape/value propagation at "StatefulPartitionedCall/model_1/stem_conv/Conv2D" node."
##### System information (version)
- OpenVINO => 2021.4.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: TensorFlow 2.8.0
- Model name: EfficientNetV2S

##### Detailed description
1. I have trained the model in google Colab and saved file in h5 format.
2. I then frozen that model.
3. Now trying to convert tha

[2022-08-24 21:41] jgespino commented on #12735
@jinfagang  There is another issue discussing the OpenVINO requirements. Would you mind adding your feedback there?
https://github.com/openvinotoolkit/openvino/issues/11532

I recommend follow the PR mentioned by @p-wysocki  and monitor the release notes for Python 3.19 support.

[2022-08-24 21:41] #12735 closed

[2022-08-24 23:56] avitial commented on #8617
@wang7393 I've tested the provided test_model on master branch (commit a89c4cfc3f58bfb61ee883bb49130322b21bd794) and model seems to be converting just fine if the input_shape is specified. Please give it a try and see if it works with your company's private model.

`$ mo --saved_model_dir ../test_model --input_shape [1,224,224,3]
`
_OpenVINO runtime version:       custom_master_a89c4cfc3f58bfb61ee

[2022-08-25 01:44] Iffa-Meah commented on #12742
@MiraGaikwad I had requested access to your model file.

![image](https://user-images.githubusercontent.com/79643476/186555149-ffe1d6a5-5290-44c8-aaa1-d51171ec67db.png)

[2022-08-25 01:46] WeldonWangwang commented on #12570
Hi, @amarjeet-saini
In the graph of the model, some constant nodes (for example" StatefulPartitionedCall/resnet50v2/conv5_block3_2_conv/Conv2D_weights_fused_bn") will be folded into the conv layer. Therefore, it is necessary to ensure that the precision of the conv layer and the constant layer is consistent. But MYRIAD has different precision with CPU or GPU in some ops.

Therefore, we can search

[2022-08-25 01:50] Iffa-Meah commented on #12727
@quanzhang2020 could you provide:
1. Your model files for us to validate from our side
2. Model info, framework & topology. EG: framework: Tensorflow, topology: Inceptionv1
3. IR conversion command that you used

[2022-08-25 03:51] DarkerzSonic commented on #12731
I converted the YOLOv5m IR-files (XML, BIN) myself based on this notebook ([https://github.com/openvinotoolkit/openvino_notebooks/tree/8a9e9cabe8d83cab8d2f329fd15144bf19c6a563/notebooks/220-yolov5-accuracy-check-and-quantization](url)

No retraining is done on the model.

[2022-08-25 06:41] zhentaocc opened #12747 "[Bug] import intel-tensorflow >=2.8.0 will cause unexpected error"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => Linux
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description
intel-tensorflow >=2.8.0 will cause unexpected error.

##### Steps to reproduce
install requirements
[code]
Run following script:
[code]
Error:
[code]
##### Issue submission checklist

 - [x] I report th

[2022-08-25 08:04] p-wysocki commented on #11532
@andrei-kochin @jgespino scipy is one of the dependencies which will be bumped while enabling Python 3.10 in #12578, it is still very much WIP.

[2022-08-25 09:04] AlexKoff88 commented on #12731
@ilya-lavrenov, the problem is related to the model loading step in OpenVINO core after converting with MO. No relationship to quantization as far as I can see.

[2022-08-25 11:18] Jsy0220 opened #12754 "Failed to add custom op"
I have followed the steps here [https://docs.openvino.ai/2022.1/openvino_docs_Extensibility_UG_Intro.html](https://docs.openvino.ai/2022.1/openvino_docs_Extensibility_UG_Intro.html) to add a new op and try to use tool mo with --extension to load onnx, but it have following error:
      OpenVINO does not support the following ONNX xxx:xxxx

I have succeed to add a op in version 2020.3. It seems tha

[2022-08-25 12:05] #12570 closed

[2022-08-25 12:12] ilya-lavrenov commented on #12476
CC @tomdol

[2022-08-25 12:16] ilya-lavrenov commented on #12754
@Jsy0220 could you please please provide the reproducer?
I suppose you need not only to create derived class from ov::Op, but also add conversion rule from ONNX operator to this custom OpenVINO operator. See https://docs.openvino.ai/2022.1/openvino_docs_Extensibility_UG_Frontend_Extensions.html

CC @slyalin

[2022-08-25 14:23] Kizna1ver commented on #12629
Hi @hbalasu1

To reproduce this issue, ffmpeg with VAAPI enabled should be installed. My code is [here](https://github.com/Kizna1ver/OpenVINO-RemoteBlob-Sample/blob/main/hello_remote_blob/va_y_channel.cpp#L383)

My system infomation:

- Operating System / Platform : ubuntu20.04
- openvino: recent version in my forked [repo](https://github.com/Kizna1ver/openvino/tree/feature/CAPI-VA-Remoteblob) fro

[2022-08-25 14:36] jgespino commented on #10028
@piti-diablotin Would you mind sharing the quantized IR model (both .xml and .bin files)?

[2022-08-25 16:14] MiraGaikwad commented on #12742
@Iffa-Meah - I have given the access to the model. Please let me know if you are able to access it.

Thank you..!!
Mira

[2022-08-25 18:05] jgespino commented on #11262
@SiegfriedIppischSecuriton Apologies for the delay, the development team has addressed an XLink issue that is related to the duplicate id error you are seeing. I am waiting for confirmation on which release the fix was implemented. I will let you know what I find out.

Regards,
Jesus

Ref. 90005

[2022-08-25 18:55] jgespino commented on #12273
@wang7393 I've reached out to the development team for additional input on this issue.

Ref. 90158 & 90159

[2022-08-25 23:44] avitial commented on #11598
@friend045 I've taken a quick look at this issue and I see the shared ONNX file ([Sample onnx model](https://drive.google.com/drive/folders/1MfQ3qXMVG3jhwjmk9YBbmlYMI6OtOsVc?usp=sharing)) was produced with PyTorch v1.11.0, I was wondering if it would be possible to export using torch 1.8.1 (as listed in OMZ [requirements-pytorch.in](https://github.com/openvinotoolkit/open_model_zoo/blob/master/too

[2022-08-26 00:07] abroekhof opened #12765 "Postprocessor Replacer attempting to find `image_tensor` node not in graph"
I'm attempting to convert a somewhat customized model which is essentially
- EfficientNet
- weight_shared_convolutional_box_predictor
- batch_non_max_suppression

I've been making somewhat steady process in squelching errors, but not sure how to get past this one. It appears that I'm mostly replacing the `batch_non_max_suppression` with `DetectionOutput`, but then in gets stuck trying to find a sp

[2022-08-26 01:21] Jsy0220 commented on #12754
@ilya-lavrenov
Like this ?
![WeChatWorkScreenshot_58d0f2b4-12b0-4a82-b6ea-da50c18d6f6f](https://user-images.githubusercontent.com/6188672/186795204-c1f4b42c-daec-4f48-b62f-25f58aca99c8.png)

I have also tried shared library in c++ and mo --extension to load onnx, but they all doesn't work.

[2022-08-26 01:31] zulkifli-halim commented on #12436
Closing issue. Feel free to reopen the issue if further assistance is needed.

[2022-08-26 01:31] #12436 closed

[2022-08-26 03:01] youki-sada opened #12769 "[Feature Request] in-place support on custom layer"
In the following Identity template example, memcpy operation is costly. So it will be great to enable passing input pointer to output pointer in stead of memcpy.
https://github.com/openvinotoolkit/openvino/blob/cdb9bec7210f8c24fde3e416c7ada820faaaa23e/docs/template_extension/new/identity.cpp#L41
Currently, I got `munmap_chunk(): invalid pointer` when inference phase.
I used following pointer passi

[2022-08-26 05:28] Iffa-Meah commented on #12742
@MiraGaikwad
I converted your h5 model into Saved Model in Google Colab:

<img width="685" alt="gcolab" src="https://user-images.githubusercontent.com/79643476/186828044-330c551b-7deb-40d6-9e2e-08f59c3a9035.png">

I used OpenVINO Model Optimizer to get IR format:

<img width="554" alt="mo1" src="https://user-images.githubusercontent.com/79643476/186828106-ed33944f-3d65-4260-ac7e-6a2e183cdc69.png">

[2022-08-26 05:44] Iffa-Meah commented on #12727
@quanzhang2020  fyi, increasing memory usage during the inferencing of Dynamic Model/Shape over time is expected.
However, this[ PR #12053](https://github.com/openvinotoolkit/openvino/pull/12053) has been merged into the master branch and should stop this issue.

[2022-08-26 06:03] Hezhongwang commented on #4615
Hi
I want to convert person-detection-0301 from openvino to onnx, but I find it not easy.

Can you help me find the origin ONNX model based on  person-detection-0301 Openvino IR

Thanks

https://storage.openvinotoolkit.org/repositories/open_model_zoo/2022.1/models_bin/1/person-detection-0301/FP32/person-detection-0301.xml

https://storage.openvinotoolkit.org/repositories/open_model_zoo/2022.1/mode

[2022-08-26 06:57] zhentaocc commented on #12747
If I set the IR batch as 1, the error msg:
[code]
The source code seems not to raise error:
[code]
No idea why.

[2022-08-26 07:01] zhentaocc commented on #12747
TF2.8+OpenVINO 2022.1+tcmalloc works.

[2022-08-26 13:06] ORippler commented on #11598
Yeah the upload expired, reupped to google drive:
https://drive.google.com/file/d/1k06zr1tPhh5afSzgc7YMuHUXayudFfAt/view?usp=sharing

The model I want to convert cannot be exported with `PyTorch < v1.12.0`, since it uses `torch.cdist`, and support for exporting that to onnx was added in PyTorch v1.12.0

[2022-08-26 13:30] gsarathkumar92 commented on #11978
@ilya-lavrenov  If we just destroy the object will that be unloaded from the GPU?

[2022-08-26 14:47] MiraGaikwad commented on #12742
@Iffa-Meah - I tried using the option --input and it gave me below error -

![image](https://user-images.githubusercontent.com/84037638/186929576-286b8ed9-b3d1-4536-b100-c60659073afa.png)

I tried multiple other options but no luck yet.

such as -
mo --saved_model_dir saved_model_2.8.2 --data_type FP16 --output_dir IR_model_FP16 --input [1 224 224 3]
mo --saved_model_dir saved_model_2.8.2 --data_t

[2022-08-26 16:50] jgespino commented on #4615
@Hezhongwang Converting from OpenVINO IR format to ONNX is not possible. All available information regarding this model can be found here: https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/person-detection-0301

If you have any additional questions, please start a new issue.

[2022-08-26 16:55] vdministrator opened #12780 "Bounding box position deviation problem"
I trained a yolov5 model with my own dataset,then transform it to *.onnx model then get *.xml and *.bin format. But when i try to use it in openvino, the output are totally different with original model.My goal is to draw the bounding box and get the detected classes.
the AI ​​model was converted and deployed on Raspberry pi, and Intel Neural Compute Stick 2 was used, but the bounding box was not

[2022-08-26 18:23] ilyachur commented on #12754
Hi @Jsy0220 Could you provide the error message that you get?

Moreover would you like to support "correlation" operation, am I right?

[2022-08-27 00:56] avitial commented on #12496
@wang7393 I see the shared ONNX files were produced with PyTorch v1.11.0, I was wondering if it would be possible to export using torch 1.8.1 (as listed in OMZ [requirements-pytorch.in](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/model_tools/requirements-pytorch.in)) and see if the issue is still observed (want to rule out torch version affecting the inference times).

In t

[2022-08-27 02:07] Jsy0220 commented on #12754
Hi @ilyachur
Yeah, I want to support the custom operation named "correlation", but I think it also can be the other name, e.g. "Identity". I just want to try the custom extension mechanism, so it doesn't matter what it is named.

And when loading the onnx model using c++ API, I got this error:
![WeChatWorkScreenshot_7fdde438-807b-44ce-be5f-cb15b5b28dbe](https://user-images.githubusercontent.com/61

[2022-08-27 02:12] dlod-openvino opened #12782 "[Bug]Submodule_update_with_gitee.sh failed to clone the submodules from gitee"
For users in China, [clone submodules via gitee mirrors:](https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux#build-steps)

The Submodule_update_with_gitee.sh failed to clone the submodules from gitee, instead of clone from github as well
![fail_to_run_submodule_update_with_gitee](https://user-images.githubusercontent.com/59691336/187010238-6fbb7dd1-c1e8-4c49-84f0-06b711dacd0a.png)
!

[2022-08-27 04:30] ilyachur commented on #12754
Could you try to change the name of operation from:
[code]
to
[code]
Will it help you to load model in C++ code?

[2022-08-27 06:25] Jsy0220 commented on #12754
hi @ilyachur
No, I have tried it, still got the same error.

[2022-08-27 14:35] deepwilson commented on #410
@AnastasiaKazantaeva Please could you elaborate on how you resolved it? It will help others as well.

Thanks!

[2022-08-27 15:06] bharath5673 commented on #410
This repo may help u...
https://github.com/bharath5673/OpenVINO

[2022-08-28 17:02] piti-diablotin commented on #10028
Hi, Sorry I'm no longer working on this topic. I don't have the files anymore. Sorry.

[2022-08-29 02:50] Iffa-Meah commented on #12742
@MiraGaikwad this depends on how you named your inputs.
For example :
name of input: input1, shape: [16,80,300])
name of output: output1 ,  shape: [16,576,13])

Conversion command:
mo --saved_model_dir savedmodel --data_type FP16 --input input1 --output output1
mo  --saved_model_dir savedmodel --data_type FP16 --input_shape [16,80,300]

[2022-08-29 04:25] zulkifli-halim commented on #12780
Hi @vdministrator. When you run inference on GPU, are you using the Pytorch model or the converted (.xml and .bin) model? Also, please share with us this information:
- Link to the repository (is it [ultralytics/yolov5](https://github.com/ultralytics/yolov5)?)
- Custom-trained model (.pt file)
- MO command

[2022-08-29 06:47] Hap-Zhang opened #12793 "[Bug]Cannot get dims for non static shape when dynamic model"
Hi,all

I installed openvino 2022 according the tutorial for python developers
[https://docs.openvino.ai/latest/openvino_docs_install_guides_install_dev_tools.html](url)

The model conversion is ok with dynamic input as follows:
mo --input_model model.onnx --input_shape [1,3,608,1..960]

However, i get an error when inferring:
**openvino RuntimeError: Cannot get dims for non static shape**

Can an

[2022-08-29 07:38] singhalshikha518 commented on #12737
Hi @popovaan Do you have any updates on above issue?

[2022-08-29 08:58] Iffa-Meah commented on #12782
@dlod-openvino could you share the git command that you use to clone the submodules? or the script that you had written, as I notice that you were running a script to automate the cloning process.

[2022-08-29 09:34] Iffa-Meah commented on #12782
Hi,
I tested this using both Windows 10 and Ubuntu 20. I don't see any issue from my side.

Windows 10:

<img width="454" alt="w10" src="https://user-images.githubusercontent.com/79643476/187170871-3723146f-410b-4f38-9a01-3bf91d17be52.png">
<img width="444" alt="w10_success" src="https://user-images.githubusercontent.com/79643476/187170903-c1402d87-1c51-4d40-ae0b-78cb4fd142ed.png">

Ubuntu 20:

<i

[2022-08-29 10:00] ilyachur commented on #12754
@tomdol @mlukasze Could you please take a look?

[2022-08-29 10:48] andrei-kochin commented on #12793
Hello @Hap-Zhang,

Thank you for reaching us!
Have you tried to convert without specifying --input_shape at all to have fully dynamic dimensions?
Will it be possible for you to share model or reference model that was used?

Thank you!

[2022-08-29 11:41] tomdol commented on #12754
Will do, please give me some time though to finish the current assignments.

[2022-08-29 12:20] Hap-Zhang commented on #12793
Hi, @andrei-kochin Thank you for your reply.

**> Have you tried to convert without specifying --input_shape at all to have fully dynamic dimensions?**
Yeah, i converted the model without specifying --input_shape, and the error still exists.

**> Will it be possible for you to share model or reference model that was used?**
You can get the origin model here:[https://paddleocr.bj.bcebos.com/dygraph

[2022-08-29 13:45] andrei-kochin commented on #12793
Hello @Hap-Zhang,

Thank you. Do you have any specific reason to export the model to ONNX first? PaddlePaddle models can work without prior conversion to ONNX. Have you tried it?

Of course these ONNX failure should be investigated but please meanwhile try to feed the model directly to OV Runtime or convert first if you like.

Best regards,
Andrei

[2022-08-29 13:47] andrei-kochin commented on #12793
@Hap-Zhang and for sure I haven't asked about the device you are trying to infer. Is it CPU or GPU or anything different?

Thanks

[2022-08-29 14:50] Iffa-Meah commented on #12484
@svutran1 if it works on one machine with the same specs, then it should technically be able to run on the other. Unless your custom code is not being added with a proper error handler.

Are you sure that the device has a working GPU on it when you try to infer?

Try to run the OpenVINO [Hello Query Device Sample](https://docs.openvino.ai/latest/openvino_inference_engine_ie_bridges_python_sample_h

[2022-08-29 16:17] jgespino commented on #10028
@piti-diablotin I understand and appreciate your response. Feel free to start a new discussion if you need any help in the future.

[2022-08-29 16:17] #10028 closed

[2022-08-29 16:30] jgespino commented on #12769
@ilyachur I created an internal ticket for you to look into.

CC: @ilya-lavrenov

Ref. 90403

[2022-08-30 02:29] #12569 closed

[2022-08-30 02:34] Iffa-Meah commented on #12765
@abroekhof could you provide:
1. Your model framework and topology, eg: Framework: Tensorflow, Topology:Inceptionv1
2. Model files and the relevant config files

[2022-08-30 02:35] Hap-Zhang commented on #12793
Hi @andrei-kochin
The device is Intel CPU(**Intel(R) Xeon(R) Silver 4114 CPU @ 2.20GHz**).

I have tried to convert the paddle model to OV IR directly, and got the same error when executing this line:
`infer_request = self.predictor.create_infer_request()`

[2022-08-30 02:37] #12476 closed

[2022-08-30 02:40] zulkifli-halim commented on #12605
Closing issue. Feel free to reopen if further assistance is needed.

[2022-08-30 02:40] #12605 closed

[2022-08-30 03:57] ilyachur commented on #12769
At the current moment we cannot change pointers inside the operation.
Because for this optimisation we need to know the model structure. It is why we are using `memcpy`.
So I created PR #12813 where added a check if input and output tensors use the same memory, in this case we will avoid `memcpy`.

[2022-08-30 06:16] jinfagang opened #12818 "[Bug] centos not supported?"
Am on centos, pip install openvino-dev sucessfully.

But when running:

[code]

[2022-08-30 06:27] youki-sada commented on #12769
Thank you for the quick check. But I don't think there is a possibility of the address match.

Can we access to the optimization flow from the extension functionality of OpenVINO? I assume optimizations such as constant folding and layer fusion are conducted during model optimizer. I can solve this issue if we can do the layer fusion between the custom layer and supported convolutional layer.

[2022-08-30 06:49] linglongxian opened #12819 "OpenVINO2022.1_Qt_Ubuntu18 undefined reference to tbb"
hello, i used to compile and run the program with cmake successfully, but when i try to compile the program with qt, errors that "undefined reference to tbb" happen.

i tried to  change the path of tbb. tbb path of system and 3rdparty of openvino were tested, but it did not work.  And i tried to start qtcreator with sudo, errors still exist.

here is the screenshot of error.
![1](https://user-imag

[2022-08-30 07:00] Iffa-Meah commented on #12727
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-08-30 07:00] #12727 closed

[2022-08-30 08:07] andrei-kochin commented on #12793
@Hap-Zhang thank you!

I've created internal ticket to track this. Ref. 90423

@yuxu42 and his team will take care

[2022-08-30 08:08] ilya-lavrenov commented on #12818
Please, provide more details - which OS version? pip version? python version?
have you tried `pip install -U pip` before installing openvino whls?

[2022-08-30 08:09] yuxu42 commented on #12793
@liubo-intel Could you please take a look? Thanks!

[2022-08-30 08:24] codespree commented on #11532
Numpy 1.19.5 (the latest version that supports numpy<1.20 and >=1.16.6) has security issues:
https://security.snyk.io/vuln/SNYK-PYTHON-NUMPY-2321969
https://security.snyk.io/vuln/SNYK-PYTHON-NUMPY-2321970
https://security.snyk.io/vuln/SNYK-PYTHON-NUMPY-2321964
https://security.snyk.io/vuln/SNYK-PYTHON-NUMPY-2321966

Thus, Numpy v1.22.0 or higher should be supported in wheel.

[2022-08-30 08:27] linglongxian commented on #12819
update:
after i run "qmake" in qtcreator, i open a terminal, go to the debug folder and run "make", it build well and i can run the program with "./".
but if i comments "source /opt/intel/openvino_2022/setupvars.sh" in ~/.bashrc, run "make" in terminal, the "undefined reference to tbb" erros happen.

[2022-08-30 08:44] linglongxian commented on #12819
update 2:
i change the "LIBS += -L/opt/intel/openvino_2022.1.0.643/runtime/3rdparty/tbb/lib -ltbb -ltbbmalloc -ltbbmalloc_proxy -ltbbbind -ltbb_preview" to "LIBS += /opt/intel/openvino_2022.1.0.643/runtime/3rdparty/tbb/lib/libtbb.so.2", it can build in qt, but click "run",  "error while loading shared libraries: libtbb.so.2: cannot open shared object file: No such file or directory" happen.

[2022-08-30 10:06] ilyachur commented on #12769
@youki-sada You can add the transformation pass which will fuse your custom operation and convolution.
[Here](https://docs.openvino.ai/latest/openvino_docs_transformations.html#doxid-openvino-docs-transformations) you can find documentation for transformation API.

You cannot integrate your transformations to openvino plugins, but you can call this transformation pass on application side before `c

[2022-08-30 10:38] popovaan commented on #12737
Hi @singhalshikha518 It looks like this case is specific for the model. Could you please provide us the original model?

[2022-08-30 14:02] tomdol commented on #12754
@Jsy0220 could you please share your code and the model? I had a look but I don't know where exactly you have your implementation. It will be much easier to have a look at some existing solution and spot the problem there.

[2022-08-30 18:33] jgespino commented on #12598
@vladimir-paramuzov Created internal ticket 90549 to track feature request for GPU extensions from string.
@p-durandin Created internal ticket 90550 to track feature requests to support XML path with Spaces.

CC: @ilya-lavrenov

[2022-08-30 22:59] #12224 closed

[2022-08-31 03:10] linglongxian commented on #12819
update 3:
after communication with a worker of intel china, i try open a terminal, type "source /opt/intel/openvino_2022/setupvars.sh" and "/opt/Qt5.12.5/Tools/QtCreator/bin/qtcreator" to start qtcreator, then it work.

but i still have a confusion why should i source and start qtcreator in the same terminal.

ps: i have added  "source /opt/intel/openvino_2022/setupvars.sh" in ~/.bashrc in update

[2022-08-31 04:51] youki-sada commented on #12769
Thank you very much. I'll have a look. There are device independent optimization and device specific one. I understood the API supports not only a plugin independent optimization, but also a plugin-specific optimization. I also want to optimize dnnl memory layout transformation for CPU plugin. I will check how does the API support.

[2022-08-31 04:51] #12769 closed

[2022-08-31 05:27] youki-sada opened #12838 "[API2.0] Blocked layout support for custom layers"
How can we use blocked layout such as nChw8c for custom layers? I'd like to use nChw8C on my custom layer since costly Reorder operations frequently occurred when I used NCHW. I found the way on old 2018 version, but I couldn't find it on latest 2022.1 version.
@ilyachur Could you please tell me how to use the nChw8c on latest OpenVINO?
Environment:
- OpenVINO 2022.1
- CPU Plugin
- Ubuntu18

Relat

[2022-08-31 05:45] ilyachur commented on #12838
Hi @youki-sada, at the current moment we doesn't provide an opportunity to use blocked layout for OV 2.0 extensions.

You have 2 ways, how to support operation with blocked layout at the current moment:

- Create old extension
- Contribute to OpenVINO CPU plugin

Could you provide a scenario which you want to support?

CC @dmitry-gorokhov

[2022-08-31 05:58] youki-sada commented on #12838
Thank you for the quick answer, ilyachur.

Do you mean we can load old extension in new OpenVINO 2022.1, or we must use load it in old OpenVINO 2020?

[2022-08-31 06:22] youki-sada commented on #12838
I successfully created a old .so extension by removing `openvino::core` linking in following line. Otherwise, I got `/usr/bin/ld: cannot find -lopenvino::core` error. I'll check later if this old extension works well in OpenVINO 2022.1 inference.
https://github.com/openvinotoolkit/openvino/blob/cdb9bec7210f8c24fde3e416c7ada820faaaa23e/docs/template_extension/old/CMakeLists.txt#L27

[2022-08-31 06:42] brmarkus commented on #12819
When adding "source setupvars.sh" to e.g. `~/.bashrc` then the script exposes ENV variables only for the created terminal-session; the ENV-variables are not exposed globally in this case.
If you open another terminal or start an application (like `qtcreator`) then it will get another (temporary) session/context and the ENV-variables are not visible.

So, the easiest is to source the setupvars.sh i

[2022-08-31 07:12] ilya-lavrenov commented on #12782
@sammysun0711 do we have NCC clone in gitee?

[2022-08-31 07:27] artkuli commented on #12819
Hi @linglongxian,
You don't need to run `setupvars.sh` on the same terminal with the `QtCreator`. The `setupvars.sh` sets up the environment variables like: `LD_LIBRARY_PATH`, `TBB_DIR` so you can go (inside `QtCreator`) to the `Projects` and inside `Build Environment` set up them separately like:
`LD_LIBRARY_PATH`=`<INSTALL_OPENVINO_DIR>/runtime/3rdparty/tbb/lib`
`TBB_DIR`=`<INSTALL_OPENVINO_DIR>

[2022-08-31 07:28] youki-sada commented on #12838
Loading old extension in OpenVINO 2022.1 was not possible. I got following error.
[code]

[2022-08-31 08:59] linglongxian commented on #12819
@artkuli yeah, you are right. i test and find the difference between starting qtcreator after "source setupvars.sh" in a same terminal and only starting qtcreator  is the LD_LIBRARY_PATH，TBB_DIR.
thank you!

[2022-08-31 09:42] artkuli commented on #12819
Can we close the issue?

[2022-08-31 14:59] sammysun0711 commented on #12782
@ilya-lavrenov, yes, here is NCC mirror in gitee: https://gitee.com/openvinotoolkit-prc/ncc

[2022-08-31 15:46] #12819 closed

[2022-08-31 16:09] jgespino commented on #7273
@zhaohb Apologies for the delay in our response. Could you please grant me access to the original model that was converted to IR format? Is it included in the link below?

https://drive.google.com/drive/folders/10FfO_AgJtJMJx5bcSEd-p0S6oeDWI1k-?usp=sharing

[2022-08-31 18:21] jgespino commented on #11721
@sergiossm There are additional steps needed to build the `java_api.jar` file with OpenVINO 2022.1 release. Could you please try the following and let me know if it works for you?

[code]

The `java_api.jar` file will be located in `openvino_contrib/modules/java_api/build/libs`. If you run into a "_no signature of method: org.gradle.api.internal.tasks.RealizableTaskCollection.configureEach())"_ th

[2022-09-01 01:47] zhaohb commented on #7273
Yes, of course. I'll send jesus.g.espinoza@intel.com mailbox is whitelisted to access the model file.

[2022-09-01 03:34] ilyachur commented on #12838
@youki-sada Yes OV 2022.1 and OV 2.0 support loading of old extensions.
But as I see you try to load old extension to the Model Optimizer, MO supports never this type of extensions, if you want to convert IR with custom operation you need to use MO legacy extension mechanism or new extensions.

Old extensions are needed for you only in order to provide implementation with blocked layouts to CPU pl

[2022-09-01 15:49] jgespino commented on #11503
@zhentaocc After consulting with the development team, I modified your code to use the latest OpenVINO API and applied offline transformations. Direct import in runtime does not apply it to the model while POT expects an IR that was processed by offline transformations.

[code]

[2022-09-01 16:28] jgespino commented on #7273
@zhaohb Received the invite, thank you! I don't see the original `blue_c_concat_end.onnx` model, is that something you can share?

[2022-09-02 00:59] Jsy0220 commented on #12754
@tomdol
I am sorry to bother you again, but is there anything wrong in the code or model ? I want to know why this not work.

[2022-09-02 01:49] Iffa-Meah commented on #12742
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-09-02 01:49] #12742 closed

[2022-09-02 03:03] zhaohb commented on #7273
@jgespino yes, It can be shared. I've uploaded it.
By the way, are you going to optimize it？thank you very much.

[2022-09-02 05:56] youki-sada commented on #12838
@ilyachur Thank you for your kind support. I will first start checking the first solution that is the legacy extension on OV2.0 couple of weeks later.

[2022-09-02 14:00] puitk-olp opened #12879 "[Feature] IsFinite op cannot be converted to Inference Engine IR (for TF 2.4.1)"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => Linux Ubuntu 2020.04 LTS
- Compiler => Model Optimizer
- Problem classification => Model Conversion
- Framework => TensorFlow 2.4.1
- Model name: custom model created with Keras (with MultiHeadAttention layers)

##### Detailed description

I work with custom Keras model with MultiHeadattention layers and I hav

[2022-09-02 14:50] andrei-kochin commented on #12879
Hello @puitk-olp,

Thank you for reaching OpenVINO!
As you've already noticed IsFinite is not supported yet by ModelOptimizer but it is in our backlog.

Meanwhile you can try to prepare extension on your own to make it working. Pleas try following:
https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_customize_model_optimizer_Customize_Model_Optimizer.html#model-optimizer-extensions

[2022-09-02 15:01] andrei-kochin commented on #12879
@puitk-olp By the way as you see in the output `--disable_nhwc_to_nchw` is optional now and may not be specified which will reduce your cmd line a bit.

Also input_shape can be left unspecified as well so you cmd might be even like:
`mo --saved_model_dir=./ --log_level=ERROR --input=input0`

[2022-09-02 15:48] #12692 closed

[2022-09-02 16:12] rkazants commented on #12879
@puitk-olp, I can suggest you a quick workaround to replace `IsFinite` operation to `IsNonEqual` with two inputs (data and Constant with floating-point infinite value) using front transformation. Of course, this transformation will work if you don't have nan values in the data. Example of the front transformation can be found here `openvino\tools\mo\openvino\tools\mo\front\Log1p.py`.

[2022-09-02 16:51] rkazants commented on #12765
@abroekhof, please try not to specify the custom input `0:ExpandDims_5` because you actually cut the graph and for this reason the transformation can't find the original input `image_tensor`. Try to launch the conversion as follows:
[code]

[2022-09-02 22:49] jgespino commented on #7273
@zhaohb Thanks! Yes, I want to test it on the latest OpenVINO release and see if the performance improved. I'll need to find a system with a processor similar to Intel(R) Xeon(R) Silver 4116 CPU @ 2.10GHz.

We have a pre-release version of OpenVINO 2022.2 release on PyPI in case you want to try it from your side as well.
https://pypi.org/project/openvino-dev/2022.2.0.dev20220829/

Regards,
Jesus

[2022-09-02 22:55] ilya-lavrenov commented on #12838
BTW, removed openvino::core from template extension https://github.com/openvinotoolkit/openvino/pull/12883

[2022-09-02 23:59] MiraGaikwad commented on #12742
This is still not working for me and giving me the same error.

Could you please help on this ? I was able to convert for other models in last month but it suddenly stopped working.

If you are able to convert then is is possible to share the IR files with me for the model which I have shared with you. I can use them further for inference.

`[ ERROR ]  Cannot infer shapes or values for node "State

[2022-09-03 00:09] MiraGaikwad opened #12884 "[Bug] [Bug] [ ERROR ] Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.middle.PartialInfer.PartialInfer'>): Stopped shape/value propagation at "StatefulPartitionedCall/model_1/stem_conv/Conv2D" node."
System information (version)
OpenVINO => 2021.4.2
Operating System / Platform => Windows 64 Bit
Compiler => Visual Studio 2017
Problem classification: Model Conversion
Framework: TensorFlow 2.8.0
Model name: EfficientNetV2S
Detailed description
I have trained the model in google Colab and saved file in h5 format.
I then frozen that model.
Now trying to convert that mode into IR format
but I am fac

[2022-09-04 02:28] luohao123 opened #12888 "[Bug] Please uprade openvino-dev deps"
<img width="606" alt="image" src="https://user-images.githubusercontent.com/49749220/188294472-749a3f76-76a4-4e86-a239-be6b4ed0d3fa.png">

I dont really understand why this.

[2022-09-04 04:17] eaidova commented on #12888
@luohao123 from your logs it is difficult to understand what went wrong and why you want upgrade dependencies...
Could you please provide more details?

I see only following, you have in environment transformers 3.0.12, but openvino-dev inside requires 4.5 and above. Which python version do you use? Is it important for you to use too old transformers version  (I do not see it on pypi, probably it

[2022-09-04 06:30] luohao123 commented on #12888
No, I didn't have transformers installed before install openvino-dev. It was because openvino-dev requries transformers >= 4.15, but the transformers has newest 4.21.... So it will downl;oad all possible version and choose one.... You should better require more strict version requirements...

[2022-09-04 06:40] eaidova commented on #12888
@luohao123 which pip version do you have?
Let me check, as I know it should work slightly different:
in normal way, pip tries to search dependencies with the best match conditions (so 4.21 >= 4.15 right? and should be ok) and then download wheel which satisfy, it should not install all, that is why your logs looks strange for me...

[2022-09-04 06:42] luohao123 commented on #12888
@eaidova Yes, also strange to me, but, it downloaded all, cost too many time and too many data usage of my network.

[2022-09-04 06:44] eaidova commented on #12888
@luohao123  that is why I ask to provide your pip and python version, I will try to reproduce locally

[2022-09-04 06:44] luohao123 commented on #12888
I think my pip install lastest (I runed pip install --upgrade pip). python 3.8

[2022-09-04 16:55] andrei-kochin commented on #12884
Hello @MiraGaikwad,

Thank you for reaching OpenVINO!
While we are looking into this could you please let me know is it possible for you to try latest OpenVINO 2022.1 and try running ModelOptimizer without specifying input_shape option?

Thank you!

[2022-09-05 01:03] Iffa-Meah commented on #12484
Closing issue, feel free to re-open or start a new issue if additional assistance is needed

[2022-09-05 01:03] #12484 closed

[2022-09-05 01:05] Iffa-Meah commented on #12782
Closing issue, feel free to re-open or start a new issue if additional assistance is needed

[2022-09-05 01:05] #12782 closed

[2022-09-05 01:46] Hap-Zhang commented on #12793
Hi, @yuxu42 @liubo-intel @andrei-kochin
Is there any update? I'm appreciated if you could contact me in time. Thank you very much.

[2022-09-05 02:23] zhaohb commented on #7273
@jgespino What is the optimization of Matmul/GEMM in 2022.2 compared to the previous version? I have tested 2022.1, but there is no improvement compared to the previous version.

[2022-09-05 03:33] liubo-intel commented on #12793
Hi, @Hap-Zhang : we have tried this model on our side, it seems work fine. could you please have a try with following the way just as we do?:

First, Convert this Paddle OCR model directly to to openvino ir:
`python mo.py --input_model ./ch_ppocr_server_v2.0_det_infer/inference.pdmodel --output_dir ./IR --input_shape=[1,3,608,1..960] --framework=paddle --data_type=FP32 --reverse_input_channels --i

[2022-09-05 07:03] largestcabbage opened #12899 "Inference performance issue?"
If I modify the shape of the model, such as changing [1,3,256,256] to [4,3,256,256], or [8,3,256,256], can the inference time for a single image be reduced？

[2022-09-05 07:21] hjzin opened #12900 "Do infer requests in AsyncInferQueue run in parallel?"
I'm trying to use `AsyncInferQueue` to do async inference, just curious that if I create multiple infer requests in  `AsyncInferQueue`, like the following code snippet, do the infer requests run in parallel or in sequence?
[code]

[2022-09-05 07:34] Hap-Zhang commented on #12793
Hi, @liubo-intel
Thanks for your reply. I convert this Paddle model directly to openvino ir:
`python mo.py --input_model /opt/app/inferenced_models/ch_ppocr_server_v2.0_det_infer/inference.pdmodel --output_dir ./IR --input_shape=[1,3,608,1..960] --framework=paddle --data_type=FP32 --reverse_input_channels --input=x --output=save_infer_model/scale_0.tmp_1`

The conversion is ok. However, when execu

[2022-09-05 09:34] Hap-Zhang commented on #12793
OK, @liubo-intel
Thanks very much. I will have a try.

[2022-09-05 09:44] rkazants commented on #12884
@MiraGaikwad, I've requested the access to the model. Please provide it.

Thanks,
Roman

[2022-09-05 11:50] MiraGaikwad commented on #12884
@rkazants - I have now given the access.

@andrei-kochin - Yeah, I already tried giving input_shape option but it did not work.

[2022-09-05 11:53] MiraGaikwad commented on #12884
@rkazants - I am able to convert that using OPENVINO 2022.1 version but as I want to also use it on Raspberry Pi, it requires OPENVINO 2021 version where it is giving error while conversion.

[2022-09-05 11:59] JorgeRuizDev commented on #12900
AsyncInferenceQueue can run in pararell, but it depends on the device.

For example, if you are working with multiple NCS2, you can use the [MULTI plugin](https://docs.openvino.ai/2021.4/openvino_docs_IE_DG_supported_plugins_MULTI.html?sw_type=switcher-python) to send an individual inference request to each device.

I'm not sure about this behaviour in CPU, but I guess that you can send a request

[2022-09-05 13:06] andrei-kochin commented on #12884
@MiraGaikwad  @rkazants  I also able to get it converted successfully:

`> mo --saved_model_dir C:\Users\akochin\Downloads\saved_model\saved_model\ --silent
[ SUCCESS ] Generated IR version 11 model.
[ SUCCESS ] XML file: C:\Users\akochin\saved_model.xml
[ SUCCESS ] BIN file: C:\Users\akochin\saved_model.bin
[ SUCCESS ] Total execution time: 172.01 seconds.

`
@MiraGaikwad What's wrong with 2022.1

[2022-09-05 13:56] wanxingzd opened #12912 "Link Openvino2022 Static Libs[Bug]"
##### System information (version)

- OpenVINO => 2022.2
- Operating System / Platform => Ubuntu 18.04
- Compiler => g++ 7.5.0
- Problem classification: Static Library Build

##### Detailed description

I need to get the static library of openvino2022, so I followed the instruction of [wiki](https://github.com/openvinotoolkit/openvino/wiki/StaticLibraries) to build it. As a result, I successfully

[2022-09-05 16:09] brmarkus commented on #12912
In the command to "compile and link", can you review this wild-card, `./lib/intel64/*.a`, please? These might be more than you need.

[2022-09-05 20:37] MiraGaikwad commented on #12884
@andrei-kochin - I am able to convert in 2022.1 but not with 2021 version.

I am using 2021 on Raspberry Pi 3 because I only found 2021 distribution for Raspberry Pi 3 on this site - https://download.01.org/opencv/2021/openvinotoolkit/2021.2/

[2022-09-05 21:55] ilya-lavrenov commented on #12899
Hi @largestcabbage,
You can modify [1,3,256,256] as [-1,3,256,256]. It means the model will be with dynamic batch and actual data size will be determined in runtime when you call:
[code]
See https://docs.openvino.ai/latest/openvino_docs_OV_UG_DynamicShapes.html for more details.
Such model can be inferenced on CPU or GPU device and inference time will depend on actual batch size.

[2022-09-05 22:02] ilya-lavrenov commented on #12912
agree with @brmarkus, you have to be very careful with `-Wl,--whole-archive ./lib/intel64/*.a -Wl,--no-whole-archive`
could you please to use static libraries with cmake interface? cmake will automatically select only proper libraries and order them according to the dependenies.
It's recommended interface according to the docs on Wiki

[2022-09-06 01:28] largestcabbage commented on #12899
Yeah, I know. I wonder if the time-consuming of batch inference grows linearly? For example, when batch is 1, it takes 10ms. When the batch is 2, it takes about 20ms. When the batch is 4, it takes about 40ms. When the batch is 8, it takes about 80ms?

[2022-09-06 01:28] #12899 closed

[2022-09-06 01:29] wanxingzd commented on #12912
In fact I can't just install the openvino runtime environment cause what I need is to use different inference engine to build my project, so the cmake inference is not available. I will check the libs that linked together and reply few hours later. Thanks!

[2022-09-06 01:31] largestcabbage opened #12921 "Batch inference takes time"
Hello，I wonder if the time-consuming of batch inference grows linearly? For example, when batch is 1, it takes 10ms. When the batch is 2, it takes about 20ms. When the batch is 4, it takes about 40ms. When the batch is 8, it takes about 80ms?

[2022-09-06 01:53] ilya-lavrenov commented on #12912
Could you please provide a list of all static libraries at least?

[2022-09-06 01:56] wanxingzd commented on #12912
g++ classification.cpp -I ./include/ -I ./include/ie/ -Wl,--whole-archive ./lib/intel64/libade.a ./lib/intel64/libdnnl.a ./lib/intel64/libfluid.a ./lib/intel64/libinference_engine_legacy.a ./lib/intel64/libinference_engine_snippets.a ./lib/intel64/libitt.a ./lib/intel64/libngraph_builders.a ./lib/intel64/libngraph_reference.a ./lib/intel64/libnlohmann_json_schema_validator.a ./lib/intel64/libopenv

[2022-09-06 01:59] ilya-lavrenov commented on #12912
I suppose you can skip libnlohmann_json_schema_validator, libinference_engine_legacy, libfluid, libade

[2022-09-06 01:59] wanxingzd commented on #12912
Thanks very much! I used the cmake interface to complete the build process. Now I know that there is no need to install openvino runtime to use the libs, I can just use the cmake_prefix_path to build it.

[2022-09-06 02:04] wanxingzd commented on #12912
This works too!

[2022-09-06 06:17] zulkifli-halim commented on #12780
Closing issue. Feel free to reopen the issue if further assistance is needed.

[2022-09-06 06:17] #12780 closed

[2022-09-06 06:21] Iffa-Meah commented on #12921
Actually, measuring inference performance involves many variables and is extremely use-case and application-dependent.
In OpenVINO these four parameters for measurements are used:

1. Throughput - Measures the number of inferences delivered within a latency threshold. (for example, number of Frames Per Second - FPS).
2. Value - While throughput is important, what is more critical in edge AI deploy

[2022-09-06 06:39] largestcabbage commented on #12921
Yeah, I know. I want to know that no matter how the batch_size is changed, the throughput of the fixed model is almost the same? Or the number of examples that the network can process in one second, related to the network model, not related to the batch_size during inference?

[2022-09-06 07:35] largestcabbage opened #12923 "batch inference"
Will there be a performance boost for batch inference? Have you ever done such an experiment?

[2022-09-06 07:53] puitk-olp commented on #12879
Thank you (@andrei-kochin), for your all suggestions. I'll try to prepare my extension.

I'd like to ask one more thing, if the lack of support for the IsFinite operation also implies the lack of support for Softmax (IsFinite is used by the TF function in calculation of Softmax) for models defined in Keras (then converted to saved_model format, before converting to IR)?

BR

[2022-09-06 07:56] puitk-olp commented on #12879
When omitted `--disable_nhwc_to_nchw`, I get the dimension mismatch for some layer during convertion to IR, so it's necessary in my case.

[2022-09-06 08:03] hjzin commented on #12900
Hi Jorge, thanks for your reply!

I am mainly working on CPU so I may focus more on the behavior of infer requests in CPU, and maybe the behavior will depend on many factors.

[2022-09-06 08:06] puitk-olp commented on #12879
@rkazants, in my case op `IsFinite` is not directly used by me, but by layer `Softmax` (TF uses `IsFinite` in some function which calculates Softmax), so it will be difficult to replace it.
My model is originally defined in Keras, and I'm not sure what is introduced in it while saving H5 model to TF saved_model format (required by MO).

[2022-09-06 08:20] andrei-kochin commented on #12888
@luohao123 will it be possible for you to provide full logs as a file?

Also please provide the pip version as @eaidova  asked

[2022-09-06 08:31] andrei-kochin commented on #12879
@puitk-olp starting from 2022.1 `--disable_nhwc_to_nchw` is optional and should not make any difference to your graph. Does it really make a change to a graph?

Softmax should be supported according to [FWK supported layers ](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html ) and should be represented as [OpenVINO Softmax](https://docs.openvino.ai/

[2022-09-06 08:38] Iffa-Meah commented on #12921
In that's the case, you probably already know these 2 steps which are crucial to correctly measure throughput:

1. Estimation of the optimal batch size that allows for maximum parallelism
2. Measure the number of instances the network can process in one second based on the optimal batch.

These are **not solely** depend on Neural Network or model, it's also depends on your hardware limitation (as

[2022-09-06 08:43] andrei-kochin commented on #12884
Hello @MiraGaikwad,

We still provide support for building from source [Link](https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin)

Could you please try with the provided instruction to get 2022.1 or latest master?

[2022-09-06 08:54] largestcabbage commented on #12923
@ilya-lavrenov
Will there be a performance boost for batch inference? For cpu, different batch sizes, will fps be different? The bigger the batch, the higher the fps?

[2022-09-06 09:00] largestcabbage commented on #12921
ok thank you very much for your reply

[2022-09-06 09:26] puitk-olp commented on #12879
I've probably gotten it. There are two `Softmax` definitions in `Keras`: `keras.activations.softmax` and `keras.layers.Softmax` and their implementations differ:
1. `keras.activations.softmax` uses `tf.nn.softmax()` and then inside: `tf.exp()` and `tf.reduce_sum()`
2. `keras.layers.Softmax` uses `tf.exp()` and `tf.reduce_logsumexp()`, and the last one function uses `tensorflow.python.ops.is_finite

[2022-09-06 09:30] helena-intel commented on #12888
I can also reproduce this with Python 3.8, latest pip (22.2.2), Ubuntu 20.04. The solution is not to use more strict version requirements, because OpenVINO should work fine with multiple transformers versions and if a user needs, say, 4.16 it is needlessly restrictive if we pin to 4.15.

The problem seems to be that openvino-dev requires a pretty strict tokenizers version (~=0.10.1) and pip tries

[2022-09-06 09:37] helena-intel commented on #12888
This should already be solved for Python 3.8 in the new prerelease of OpenVINO 2022.2. @luohao123 if you do `pip install --pre openvino openvino-dev` you should not see this issue anymore.

[2022-09-06 09:40] eaidova commented on #12888
You are right, I already fixed it 6 months ago :)
https://github.com/openvinotoolkit/open_model_zoo/pull/3357

[2022-09-06 11:51] mbenguig commented on #1166
Hi, for the NCS1 compatibility, is it possible de bring this fix to the 2020.3 (2020.3.1) ?
Regards

[2022-09-06 15:31] andrei-kochin commented on #12923
Hello @largestcabbage,

In general yes, you can expect better performance with higher batch.
For example in our internal validation we have densenet-121 performance boost after increasing batch size from 1 to 8.

[2022-09-06 16:27] jgespino commented on #1166
@mbenguig OpenVINO 2020.3 LTS is the previous LTS Release. Could you please try the latest 2021.4.2 LTS Release? It should already be included there. Please start a new issue if you have any further questions.

[2022-09-06 16:41] #12912 closed

[2022-09-06 22:50] #12715 closed

[2022-09-06 22:52] jgespino commented on #12737
Closing, please re-open if additional assistance is needed.

[2022-09-06 22:52] #12737 closed

[2022-09-06 22:57] #6952 closed

[2022-09-07 01:29] largestcabbage opened #12942 "batch inference code c++"
Can I ask how batch inference in c++ is implemented? My tests showed batch inference did not improve fps.
My code is as follows:

`
Core core;

const Layout model_layout{ "NCHW" };

tensor_shape = model_object->input().get_shape();

tensor_shape[layout::batch_idx(model_layout)] = input_batch_size;//1,2,8,16

tensor_shape[layout::channels_idx(model_layout)] = input_channel_size;

tensor_shape[layou

[2022-09-07 01:42] largestcabbage opened #12943 "FP16"
Hello, I would like to ask if the fps of fp16 inference will be improved compared to the fps of fp32 inference? Is it obvious? Why is my FPS not significantly improved when I use FP16 inference compared to FP32 inference?

[2022-09-07 01:42] largestcabbage commented on #12923
Can I ask how batch inference in c++ is implemented? My tests showed batch inference did not improve fps.
My code is as follows:

Core core;
const Layout model_layout{ "NCHW" };
tensor_shape = model_object->input().get_shape();
tensor_shape[layout::batch_idx(model_layout)] = input_batch_size;
tensor_shape[layout::channels_idx(model_layout)] = input_channel_size;
tensor_shape[layout::height_idx(mod

[2022-09-07 01:44] #12942 closed

[2022-09-07 01:45] Iffa-Meah commented on #12921
Closing issue, feel free to re-open or start a new issue if additional assistance is needed

[2022-09-07 01:45] #12921 closed

[2022-09-07 03:16] wang7393 opened #12944 "[Bug] GPU InferRequest::~InferRequest() crash"
##### System information (version)
- OpenVINO=> :2022.1
- Operating System / Platform => :win10
- Problem classification => :  GPU InferRequest::~InferRequest() crash

With GPU inference,  the InferRequest as a member variables like this :
`ov::InferRequest m_inferRequest;`

At the end of the inference,  the destructor crashes, The stack as follows:
![image](https://user-images.githubusercontent.c

[2022-09-07 04:15] rkazants commented on #12943
Hi @largestcabbage! It actually depends on the hardware you are running FP16 model on. If this is CPU, no performance is expected because all computations are performed in FP32 format anyway. We should expect performance improvement on GPU, for example, but it also depends on the size of the model and a number of floating-point operations.

[2022-09-07 04:29] rkazants commented on #12879
@puitk-olp, you are correct. Very often Keras operations are expressed as the decomposition of several TensorFlow operations and the softmax operation is a case.
In your case, you can work around this by using another softmax that is simper that implementing transformation for `IsFinite`.

[2022-09-07 05:05] largestcabbage commented on #12943
Thank you very much for your reply

[2022-09-07 05:11] andrei-kochin commented on #12944
@vladimir-paramuzov @p-durandin have you seen something similar?

[2022-09-07 08:02] shiwenloong opened #12951 "[Bug] Using openvino (Intel GPU) on older versions of windows 10 caused the blue screen issue"
##### System information (version) (Deployment machine, on which the blue screen issue occurred)

- Operating System / Platform =>Windows 64 Bit, Windows 10 Enterprise 2016 LTSB [Version 10.0.14393]
- CPU: i5-8400
- iGPU: UHD 630
- Graphics Driver Version: 24.20.100.6094
- Problem classification => Compile model on Intel GPU

##### System information (version) (Development machine, on which the te

[2022-09-07 09:09] Jsy0220 commented on #12754
Hi, I have read onnx frontend codes about  adding custom ops and found that when using `ov::frontend::OpExtension` to register operation mapping, it  registers operator with empty domain as following:
![WeChatWorkScreenshot_d965b7ac-e74a-418f-ae1a-44ed7aa3f941](https://user-images.githubusercontent.com/6188672/188838989-e39a2439-e6c1-4de5-b1be-bd6cb63b316f.png)

but when loading onnx model, it ext

[2022-09-07 10:52] zulkifli-halim commented on #12900
Hi @hjzin. AsyncInferQueue represents a helper that creates a pool of asynchronous InferRequests and provides synchronization functions to control the flow of a simple pipeline. The `start_async` will run asynchronous inference using the next available InferRequest from the pool. The asynchronous approach runs multiple inferences in a parallel pipeline.

You can refer to [Asynchronous Execution of

[2022-09-07 11:42] luohao123 commented on #12888
@helena-intel hi, I didn't used the `--pre` here. that's mgith be the problem

[2022-09-07 15:38] jgespino commented on #11802
Ref. 69461

[2022-09-07 15:44] #12943 closed

[2022-09-07 18:12] venki-thiyag opened #12959 "[Bug] How to compile openvino with MT MSVC C runtime library"
Currently when openvino is built on Windows, it is linked with /MD MSVCC runtime library option, how to build openvino as dll, but with /MT option

[2022-09-07 21:31] abroekhof commented on #12765
@rkazants our model is using the [TF Object Detection API](https://github.com/tensorflow/models/tree/master/research/object_detection) which relies on protobuf encoding of examples. This is part of the model, so I had to cut it off, which is why that `image_tensor` node doesn't exist.

I understand this is somewhat outside the scope of what's supported in OpenVINO, so will close this for the time

[2022-09-07 21:31] #12765 closed

[2022-09-07 21:50] jgespino commented on #11203
@kchen1024 Two pull requests have been merged related to this issue. Could you please test on the latest master branch and let me know if the same issue is observed?

https://github.com/openvinotoolkit/openvino/pull/12901
https://github.com/openvinotoolkit/openvino/pull/12634

[2022-09-08 00:25] nserrino commented on #11801
When will 22.04 be supported?

[2022-09-08 01:03] largestcabbage opened #12962 "performance"
Can I ask how batch inference in c++ is implemented? My tests showed batch inference did not improve fps.
My code is as follows:
[code]
Is batch inference implemented like this? If not, can I ask you how to implement it in C++? Can you improve the detailed C++ code?

Looking forward to your reply.

[2022-09-08 01:07] #12900 closed, assigned to jiwaszki, Zulkifli-Intel, Munesh-Intel

[2022-09-08 02:31] zulkifli-halim commented on #12959
Hi @venki-thiyag

/MD links runtime dynamically, while /MT links it statically. You can refer to [Building OpenVINO static libraries](https://github.com/openvinotoolkit/openvino/wiki/StaticLibraries) for the installation detail.

Building static OpenVINO Runtime libraries allows to additionally reduce the size of a binary when it is used together with conditional compilation. It is possible becaus

[2022-09-08 02:50] yszhou2019 opened #12963 "[Performance] inference speed of hifiGAN with OpenVINO slower than onnxruntime(C++)"
##### System information (version)
- OpenVINO => 2022.1.0.643
- OpenVINO installed from => binary
- Operating System / Platform => Linux Ubuntu 22.04
- Compiler => g++ (GCC) 8.5.0 20210514 (Red Hat 8.5.0-10)
- CPU: Intel(R) Xeon(R) Gold 6342 CPU @ 2.80GHz
- CPU support flags: avx2 avx512, avx512_vnni, not support avx512_bf16
- Problem classification: Model Conversion
- Framework: trained in pytorc

[2022-09-08 03:01] yszhou2019 opened #12964 "[Performance] uint8 quantized hifiGAN inference is slower than default fp32 with OpenVINO in CPU"
##### System information (version)
- OpenVINO => 2022.1.0.643
- OpenVINO installed from => binary
- Operating System / Platform => Linux Ubuntu 22.04
- Compiler => g++ (GCC) 8.5.0 20210514 (Red Hat 8.5.0-10)
- CPU: Intel(R) Xeon(R) Gold 6342 CPU @ 2.80GHz
- CPU support flags: avx2 avx512, avx512_vnni, not support avx512_bf16
- Problem classification: Model Quantization
- Framework: trained in pyto

[2022-09-08 06:22] Haiboku233 opened #12966 "[Bug]different inference result everytime"
##### System information (version)

- OpenVINO=> :2022.2.0.dev20220829
- PyTorch=>:1.13.0 built from latest github file
- Operating System / Platform  => Ubuntu18
- Framework: ONNX/PyTorch
- Problem classification => :inference problem:

##### Detailed description

Hello, I converted a PyTorch [model](https://github.com/SeanChenxy/HandMesh) to ONNX and it works fine.
But when I tried to load it wi

[2022-09-08 07:49] fireFrappe opened #12968 "Link error when add custom Op to openvino resource code"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => win11
- Compiler => VS2022
- Problem classification => build

##### Detailed description
Hi, I try to add a new op to openvino and ngraph and register it to opset1. I create .hpp file in openvino and ngraph include files both. Also, add a .cpp file in src/op dir. Then I build it by cmake using VS2022. But when

[2022-09-08 07:59] caopl opened #12969 "[Bug] C++ did not find this interface"
##### System information (version)
- OpenVINO => 2022.1.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022

##### Detailed description
python:
det_output_layer = det_compiled_model.output(0)
det_results = det_compiled_model([Image])[det_output_layer]

C++:
C++ did not find this interface, how to implement it? how to get det_results?

[2022-09-08 08:11] ilya-lavrenov commented on #12969
Hi @caopl,

Here is a guide how to work with OpenVINO Runtime in C++ and Python, code snippets are switchable between programmnig languages https://docs.openvino.ai/latest/openvino_docs_OV_UG_Integrate_OV_with_your_application.html
Methods of `ov::InferRequest` to get or set input tensors in C++ https://docs.openvino.ai/latest/classov_1_1InferRequest.html

based on that, you can use:
[code]
or sim

[2022-09-08 09:52] wanxingzd opened #12971 "[Bug] Openvino Build Crush When Defining Varibles In Cmake"
**Platform**
- ubuntu:18.04
- g++: 7.5.0
- cmake:3.18.4
- openvino:2022.2 static release libraries

**Describe the bug**

When I use the cmake interface to add openvino runtime to my project, it crushed when I defined an variable named DEBUG.

**Steps to reproduce the bug**

- CMakeLists.txt:
[code]

- config and build command
[code]

[2022-09-08 10:15] nicolas-chabanis opened #12973 "[Bug] OpenVINO Runtime compilation error (This Intel TBB package is intended to be used only in the project with MSVC)"
##### System information
- OpenVINO=> 2022.1.0.643
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 16 2019
- Problem classification => C++ Compilation

##### Detailed description
I want to compile a single .cpp file project using OpenVINO Runtime to do inference on a custom model.
I installed the OpenVINO toolkit for Windows 10 following [this guide](https://docs.ope

[2022-09-08 11:09] brmarkus commented on #12971
Can you provide a little more information about your environment, how you installed OpenVINO and ideally provide a small reproducer, maybe just a `main.cpp` with a few lines to initialize OpenVINO, or does it happen with a complex scenario only?

[2022-09-08 11:14] brmarkus commented on #12968
Have you added your `.cpp file in src/op dir` in the corresponding `makefile`?

[2022-09-08 12:55] wanxingzd commented on #12971
Of course!
classification.cpp
[code]
openvino: I just copy the runtime directory into my project, and use cmake interface to include it to my project.
command to build openvino:
[code]

[2022-09-08 13:41] nicolas-chabanis commented on #12973
Okay, issue is not related to OpenVINO, my CMakeLists.txt was baldy written. You have to define the project name before the find_package instruction, like that :
[code]

[2022-09-08 13:41] #12973 closed

[2022-09-08 14:45] ilya-lavrenov commented on #12971
@vurusovs could you please have a look?

[2022-09-08 19:12] ilya-lavrenov commented on #12964
FYI @AlexKoff88 @dmitry-gorokhov

[2022-09-08 19:16] ilya-lavrenov commented on #12959
@venki-thiyag you can look specifically at https://github.com/openvinotoolkit/openvino/wiki/StaticLibraries#building-with-static-msvc-runtime where it's shown that you can use OV cmake toolchain to libs compiled with static runtime.
Having static MSVC runtime with dynamic libs is not right way, because each dll will have its own runtime.

Note, when you are going to build your own app against such

[2022-09-09 01:34] largestcabbage opened #12984 "How to test for loss of precision？"
How to test the accuracy loss of the model after converting FP32 to FP16

[2022-09-09 03:06] ShjiYang commented on #12968
Hi， yes, I only built before without adding to makefile. I tried to add it and this error disappeared today.
Thanks!

[2022-09-09 03:40] zulkifli-halim commented on #12962
Hi @largestcabbage, you can refer to [Hello Reshape SSD C++ Sample] (https://github.com/openvinotoolkit/openvino/blob/master/samples/cpp/hello_reshape_ssd/main.cpp#L79-L94) code to see the example of batch inference in C++.

[2022-09-09 04:58] zulkifli-halim commented on #12963
Hi @yszhou2019, We are investigating this issue, can you share with us the MO command used to convert the ONNX model to IR?

[2022-09-09 05:00] largestcabbage opened #12986 "cross_check_tool.py"
Why is running $python3 cross_check_tool.py -h unsuccessful

[2022-09-09 05:10] zulkifli-halim commented on #12964
@yszhou2019 Did you [build ](https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux#build-on-linux-systems) OpenVINO from source or installed using binary file downloaded from [here](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html)?

[2022-09-09 05:30] yszhou2019 commented on #12964
@zulkifli-halim Yes, I installed the binary file. [2022.1 C++ offline installler] from https://registrationcenter-download.intel.com/akdlm/irc_nas/18617/l_openvino_toolkit_p_2022.1.0.643_offline.sh

[2022-09-09 05:37] #12986 closed

[2022-09-09 06:01] AlexKoff88 commented on #12964
@yszhou2019, OpenVINO does not support inference of dynamically quantized models from ONNX RT, please use ONNX RT Default RT for that. If you wish to use OpenVINO INT8 capabilities (which should be more performant for CV models) please refer to this documentation on how to quantize the model: https://docs.openvino.ai/latest/pot_default_quantization_usage.html

[2022-09-09 06:30] brmarkus commented on #12968
@ShjiYang feel free to close this issue if no more questions.

[2022-09-09 07:01] brmarkus commented on #12984
How to you measure accuracy/accuracy-loss for your current model right now (you have the ground-truth/labels for reference?)?

You could use the "accuracy-checker" tool (see e.g. https://docs.openvino.ai/latest/omz_tools_accuracy_checker.html) from OpenVINO (e.g. used in the context of INT8-quantization).

Do you find something useful within the metrics under "https://docs.openvino.ai/latest/omz_t

[2022-09-09 10:26] DarkerzSonic commented on #12731
I believe that the error is from the `from openvino.inference_engine import IECore`, where it does not support YOLOv5 layers yet.

[2022-09-09 11:55] js333031 opened #12996 "Unable to use hardware decoder"
##### System information (version)

- OpenVINO => openvino_2022.1.0.643 (installed via apt)
- Operating System / Platform => Ubuntu 20.04.5 LTS
- Compiler => gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
- Problem classification: Hardware Decoder via OpenCV (part of OV install)
- Framework: OpenCV
- Model name: NA

##### Detailed description
Using OpenCV and Python. Can't use HW decoder in python app

[2022-09-09 12:16] ilya-lavrenov commented on #12996
is the issue about OpenVINO or OpenCV?
For OpenCV issue, please, use https://github.com/opencv/opencv
If the issue with OpenVINO, please, provide any logs.

[2022-09-09 12:31] brmarkus commented on #12996
@js333031  don't see OpenCV as "media player framework"...
If you just use `cap = cv.VideoCapture('/home/quark/Downloads/subway.mp4')` several backends (like ffmpeg, gstreamer, MediaSDK) are probed and the simpliest and quickest pipeline gets set-up, there is no "decodebin" mechanism done in the background, not optimized for underlying optimal HW-acceleration.

The `cv.VideoCapture()` constructor

[2022-09-09 12:53] js333031 commented on #12996
Well, it's with OpenCV that's included with OpenVINO.

[2022-09-09 12:55] js333031 commented on #12996
Can you please provide an example for ffmpeg?

[2022-09-09 13:04] brmarkus commented on #12996
Not sure the OpenCV from OpenVINO has FFMPEG enabled; it has gstreamer enabled as backend for sure.

With some quick search in the Internet I saw some results, like (which I have not tested as I prefer to use gstreamer and MediaSDK/VPL):
- https://forum.opencv.org/t/how-to-add-ffmpeg-options-to-videocapture/8972
- https://github.com/opencv/opencv-python/issues/520

I agree with @ilya-lavrenov to a

[2022-09-09 14:43] zulkifli-halim commented on #12966
Hi @Haiboku233,  could you share with us this information for replication purposes:
- PyTorch to ONNX conversion script
- Which model you used (cmr_pg_res18_human36m, cmr_g_res18_moredata, cmr_sg_res18_freihand etc?)
- Model Optimizer Command
- Full inference script

[2022-09-09 19:20] helena-intel commented on #12888
You're not expected to use `--pre` so this was not something you could have known. But the fact that the issue does not occur in the 2022.2 prerelease means that it is already fixed from our side. It can sometimes take a while before these fixes make it to the pip releases. The final release of 2022.2 should be out soon and the issue should not occur there. Unfortunately Python dependencies can be

[2022-09-09 19:50] itikhono commented on #12754
Hi @Jsy0220. Sorry for the long delay in response. It looks like we always expect "" domain for operations registered via OpExtensions, I believe it's a bug.
Is it possible to change domain in your onnx model? in the attached example from thea to ""
After that this should work for you:
[code]
[code]

and from infer_request.set_input_tensors({ input_tensor0, input_tensor1 });
to
[code]

[2022-09-10 18:21] dhruvsinghal commented on #12605
In case it helps anyone, I would like to mention that the problem likely has something to do with openvino running in a VM as opposed to on bare metal. I am trying to run https://github.com/bes-dev/stable_diffusion.openvino - it runs fine on bare metal machines on both Windows and Debian, but it fails when run in a Debian VM with the stated error.

This lines up with what @HENNESSYxie said:

[2022-09-12 05:01] Thunder-29 opened #13008 "ReadNetwork API is failing while loading models from memory."
System information

- OpenVINO => 2021.4.752
- Operating System / Platform => Ubuntu 20.04 LTS

--Detailed Description:-

I am using OpenVINO 2021.4 in my project. I want to use ReadNetwork() for loading models from memory and get CNNNetwork in return. I am able to create Tensordesc and blob, but ReadNetwork() is throwing error like:

unknown file: Failure
C++ exception with description "base_infe

[2022-09-12 06:16] smohammad-de commented on #10420
Hi @SiChuanJay  I'm facing the same issue. pls let me know how you solved this issue. thanks!

[2022-09-12 08:23] korotaS commented on #11939
Hello @jgespino @wangleis again!
I came back to testing the dynamic model recently. The new version (from master branch), as I showed earlier, really helps and reduces memory footprint in model with dynamic shapes. But it doesn't reach plateau, as I thought.

@wangleis said:

If I test my model in static mode with size 2048x2048 I get constant memory of 1.05 GB, if I test in dynamic mode (but infe

[2022-09-12 09:21] tomdol commented on #12754
The scope of required changes is changing so I've added a jira ticket to track this activity. Ticket number for reference 91705.
I was able to confirm that the initial approach doesn't work for ONNX FE but it requires a more in-depth analysis. The domain issue with the conversion extension seems to be a minor fix that can be implemented quickly.

[2022-09-12 10:51] SamSamhuns commented on #11532
Is the updated numpy version in requirements pushed to PyPy yet? I still get the `openvino 2022.1.0 depends on numpy<1.20 and >=1.16.6` conflict when installing with `pip install openvino` in a macOS BigSur machine with latest tf versions.

[2022-09-12 16:16] lino-alves opened #13014 "HardSigmoid on VPU"
Hi,

I have a NN model in ONNX (converted from PyTorch), which uses HardSigmoid, which apparently is not supported by the VPU plugin.
I read a bit about the extensibility mechanism and it appears it can solve my problem if I replace the HardSigmoid by its basic operations (add, clamp and divide).
Is it possible to create a shared library using the ConversionExtension, like you do with the OpExtens

[2022-09-12 20:21] andrei-kochin commented on #12884
Hello @MiraGaikwad,

do you have any great news for us? Were your build attempt successfull?

[2022-09-12 20:24] andrei-kochin commented on #12879
Hello @puitk-olp,

Do you have any news for us? have you succeed with workaround suggested?

[2022-09-12 22:58] #12793 closed

[2022-09-13 00:50] riverlijunjie commented on #13008
@Thunder-29 As your description, you have tried 4 ways to read network, but all of them failed, does my understanding right? Have you tried non-encrypted models, did all reproduce the same issue?  I don't have encrypted models,  let's me first try to reproduce with non-encrypted models.

@jgespino is any reason that this issue is related with C API? I cannot see it, could you clarify it?

[2022-09-13 03:31] Thunder-29 commented on #13008
@riverlijunjie Yeah, I tried in 5 ways but all of them are failing.
I tried with non-encrypted model , it was failing.
Earlier it was throwing like this

unknown file: Failure
C++ exception with description "Failed to construct OpenVINOImageInference" thrown in the test body.

Now I am getting:

unknown file: Failure
C++ exception with description "base_inference plugin intitialization failed" thr

[2022-09-13 03:42] Haiboku233 commented on #12966
Thanks for your reply. The PyTorch to ONNX code is:

[code]

I copied some lines from the original code and didn't check which every line is necessary or not.
The model I used is mobrecon, which is defined in [https://github.com/SeanChenxy/HandMesh/tree/main/mobrecon](url) I trained it on Fereihand dataset.

I don't know what exactly you mean by ‘Model Optimizer Command’ , Then I just tried the op

[2022-09-13 04:18] Iffa-Meah commented on #12971
@wanxingzd the best way to create your own project based on OpenVINO is by taking one of the samples and modify the code to yours. This will ensure all the required dependencies are inherited.

I took hello_classification cpp sample as my project & modify its name. You'll need to change the name in cmake file too.
<img width="873" alt="ov1" src="https://user-images.githubusercontent.com/79643476/1

[2022-09-13 05:44] wanxingzd commented on #12971
@Iffa-Meah Thanks for your reply about how to use the openvino runtime, but you may misunderstood me. The question is that when you add "add_definitions(-DDEBUG)" to the cmakelists.txt, it will result in build error. My project works perfectly without the definition. So maybe there is something wrong with openvino that you can have a check.

[2022-09-13 06:16] Iffa-Meah commented on #12971
@wanxingzd Perhaps you didn't notice that I mentioned above:
**It is recommended to use the original cmakelist** (main cmakelist) as it is.

In that original cmakelist, the release and debug are defined as in my 2nd snapshot. This method has been officially validated by OpenVINO.

Are there any specific reasons that requires you to use the -DDEBUG, instead of the way shown in the original cmakelis

[2022-09-13 06:27] wanxingzd commented on #12971
It's true cause we need to use this param to control our own project. And we found this question when we compiled our own pj. If there is no way to solve this problem, it's not a big deal. Thanks!

[2022-09-13 07:41] zulkifli-halim commented on #12951
Hi @shiwenloong. I ran your code and was able to execute it 1000 times without any issues.

[code]

This Blue Screen of Death can be the result of faulty hardware, faulty or low-level hardware drivers, or faulty or low-level apps that run within the Windows kernel.

[2022-09-13 07:42] ilya-lavrenov commented on #13014
Hi @lino-alves
Since HardSigmoid is already part of OpenVINO opset, you can just use usual transformations https://docs.openvino.ai/latest/openvino_docs_transformations.html to convert hardsigmoid to a set of operations.
ConversionExtension are useful when an operation is not a part of OpenVINO opset and we need to convert it during model reading from unknown operation to a set of OV supported ope

[2022-09-13 08:41] slyalin commented on #13014
Hi @lino-alves,

As a short-term solution you can try to use `ConversionExtension` for this purpose. But more correct way is to contribute transformation to the transformation library or to the the plugin itself and call it inside the plugin transformation pipeline as @ilya-lavrenov suggested. The later requires more knowledge from your side though.

Yes, you can put `ConversionExtension` to a sha

[2022-09-13 08:45] largestcabbage opened #13024 "Encountered Reshape Error when converting ONNX model into IR"
Why do the following errors occur when converting TPH-yolo to onnx and onnx to IR
error：
While validating node 'v1::Reshape Reshape_3078 (599[0]:f32{400,1,512}, 1919[0]:i64{3}) -> (f32{?,?,?})' with friendly_name 'Reshape_3078':
Requested output shape {400,1600,128} is incompatible with input shape {400, 1, 512}

[2022-09-13 12:10] Iffa-Meah commented on #12971
@wanxingzd **try to give a different name, other that DEBUG**. It might clash with the cmake internal built in function or etc.

I managed to compile if I change the DEBUG to DEBUGSS

<img width="813" alt="cmakeDebugSuccess" src="https://user-images.githubusercontent.com/79643476/189897196-f51efc64-2551-41cf-a8cb-e4266d677e45.png">

[2022-09-13 12:25] vurusovs commented on #12971
@wanxingzd hello! I also worked on the issue, and the problem is next: `add_definitions()` defines C++ macros which name intersects with internal names in C++ files. So in that case, there is a `enum` with values = NO, ERR, WARNING, INFO, DEBUG, TRACE, and each of that names (if it is used in `add_definitions()`) will lead to troubles during build.

In this case I strongly recommend to avoid such

[2022-09-13 12:28] wanxingzd commented on #12971
@Iffa-Meah @vurusovs Thank you two for your time. I will change the name of the param to accomplish my pj~

[2022-09-13 15:00] hbalasu1 commented on #12731
Hi @DarkerzSonic

could you use the latest API which may help resolve your issue?

from openvino.runtime import Core
ie = Core()
classification_model_xml = "model/classification.xml"

model = ie.read_model(model=classification_model_xml)
compiled_model = ie.compile_model(model=model, device_name="CPU")

here is some documentation you can refer to for the latest API
https://docs.openvino.ai/latest/

[2022-09-13 16:13] lino-alves commented on #13014
Hi @slyalin,

Thanks a lot for the comprehensive examples, they helped me a lot.
I agree that updating the transformation suggested by @ilya-lavrenov would be the better way, but that means I would need to go deeper into the source code and I fear it could take me a while, so for now I am taking the fast way with ConversionExtension to have a first build of my code running as soon as possible and

[2022-09-13 16:25] #12968 closed

[2022-09-13 17:00] #11503 closed

[2022-09-14 01:29] Iffa-Meah commented on #12971
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-09-14 01:50] Iffa-Meah commented on #13024
@largestcabbage biggest possibility for that error to occur is that you parsed an incorrect shape to the model during conversion.

Could you share:
1. Your model files for us to validate from our side
2. Your conversion commands and steps

[2022-09-14 01:59] zhaixuejun1993 commented on #13008
@Thunder-29 Hi, do some test on simply sample "hello_classification with "OpenVINO version 2021.4, can not reproduce this issue. The following is my process:
1. Code change:
[code]
2. Command run:

Can get the same result with the old version.
[code]

The attached file is the code changes.
[read_from_memory_hello_classification.txt](https://github.com/openvinotoolkit/openvino/files/9561972/read_fr

[2022-09-14 02:09] largestcabbage commented on #13024
The onnx file is too large for me to upload

[2022-09-14 02:24] Iffa-Meah commented on #13024
@largestcabbage perhaps you could compress the file & upload it somewhere (GitHub/Google Drive) and share the link or you could send it to my email.

[2022-09-14 02:53] largestcabbage commented on #13024
Looking forward to your answer,thank you very much

At 2022-09-14 10:24:19, "SitiNurNazhifah JaisMeah" ***@***.***> wrote:

@largestcabbage perhaps you could compress the file & upload it somewhere (GitHub/Google Drive) and share the link or you could send it to my email.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message I

[2022-09-14 03:13] Iffa-Meah commented on #13024
@largestcabbage I didn't receive your email in my inbox. This is my official email: siti.nur.nazhifahx.jais.meah@intel.com

[2022-09-14 05:09] a3213105 opened #13035 "[Bug] [MO] MO get error when seq_len != pos_embed_len in EmbedLayerNormalization"
I have a customized ONNX model which used "EmbedLayerNormalization" op, the struct is shown in picture below. and I have met an error when I load model with OpenVINO. it shows the mismatch of the shape between two input of "ADD" op after "EmbedLayerNormalization".
I have check the original implement of EmbedLayerNormalization in [ONNX-Runtime](https://github.com/microsoft/onnxruntime/blob/0c6037b5

[2022-09-14 05:14] largestcabbage commented on #13024
ok

[2022-09-14 05:50] slyalin commented on #13014
@lino-alves, by uncommenting that line with OpExtension you can you the same library for both Model Optimizer and the run-time for your workflow. So Model Optimizer will use ConversionExtension while conversion to get know how to convert HardSigmoid your way and how to store it to IR. And then the runtime will use OpExtension to understand how to load it from IR and which real operation to use for

[2022-09-14 06:18] fireFrappe opened #13036 "Build error when build python api from resource"
##### System information (version)

- OpenVINO=> 2022.1
- Operating System / Platform => windows11
- Compiler => vs2022
- Problem classification =>build error

##### Detailed description
Hi, when I want to build python api from resource follow https://github.com/openvinotoolkit/openvino/wiki/BuildingForWindows.
I used `` cmake -DENABLE_TESTS=ON -DENABLE_FUNCTIONAL_TESTS=ON -DENABLE_PYTHON=ON -DPYT

[2022-09-14 06:34] ilya-lavrenov commented on #13036
@praasz will it be fixed by https://github.com/openvinotoolkit/openvino/pull/12978 ?

[2022-09-14 06:37] brmarkus commented on #13036
The referenced Wiki page says:

Would you have a chance to do a quick test under a MS-Win10 and MS-VisualStudio 2019?

[2022-09-14 06:43] ilya-lavrenov commented on #13036
I suppose this is compiler independent

[2022-09-14 06:58] fireFrappe commented on #13036
I think it is not the compiler problem, I disabled python before and can build successfully, this problem only occurred when I built python api.

[2022-09-14 07:08] ilya-lavrenov commented on #13036
@fireFrappe, I've attached the PR which potentially should fix the issue. Let's wait when it's merged to master or you can try it earlier from the PR directly.

[2022-09-14 07:55] andrei-kochin commented on #13035
Hello @a3213105,

Thank you for reaching OpenVINO!
Could you please let us know which version of OpenVINO do you use? any simple model reproducer that you can provide?

Could you please share the full error log which is thrown by MO and the command line used?

Thank you!

[2022-09-14 08:36] Iffa-Meah commented on #13024
@largestcabbage I checked your model.

Your **1st model** (best1.onnx) seems to be supported by OpenVINO as it can be inferred with benchmark_app.

<img width="453" alt="benchmarkonnx1" src="https://user-images.githubusercontent.com/79643476/190103375-4691d8ed-c90b-495b-b89d-eaebee80c709.png">

However, when I converted it into IR using Model Optimizer, the command ends without error but nothing i

[2022-09-14 11:15] praasz commented on #13036
The linking of this `openvino_mock_py_frontend` library is fixed.
I've run build on MS VisualStudio 2019, Python3.9 and CMake options described in this bug with success.

[2022-09-14 12:54] xandox commented on #7194
Hello. Any news here?

[2022-09-14 13:16] zulkifli-halim commented on #12966
HI @Haiboku233,

I tried to retrain the Mobrecon model and it's time-consuming with the setup and training wise. It would be great if you could provide me with the model (.onnx and IR format).

[2022-09-14 14:32] lino-alves commented on #13014
@slyalin, I understand that I could load the ONNX file directly, but I would like to avoid that, because I am using the Model Optimizer to compress the model to float16 (and a few more operations). If I load the IR model then I have everything in place with the Model Optimizer parameters.
Sorry that I didn't make this clear on my original post, where I only mention the ONNX file and never talked a

[2022-09-14 16:58] MiraGaikwad commented on #12884
@andrei-kochin  - Unfortunately no the reason being that model I was at-least able to convert using OPENVINO 2022.1 version. There is new model I have trained which I am not able to convert using even 2022 version.

Please find the model link below -
https://colab.research.google.com/drive/17fCQz7YZtSnuK8NcK5SDiNJ7g_HIqBR4?authuser=1

It is giving error as -

[ FRAMEWORK ERROR ]  Cannot load input

[2022-09-14 17:25] MiraGaikwad opened #13052 "[Bug] [ FRAMEWORK ERROR ] Cannot load input model: OOM when allocating tensor with shape[3,3,128,256] and type float on /job:localhost/replica:0/task:0/device:CPU:0 by allocator cpu [[{{node RestoreV2}}]]"
System information (version)
OpenVINO => 2022.1
Operating System / Platform => Windows 64 Bit
Compiler => Visual Studio 2017
Problem classification: Model Conversion
Framework: TensorFlow 2.8.0
Model name: Custom CNN
Detailed description
I have trained the model in google Colab and saved file in h5 format.
I then frozen that model.
Now trying to convert that mode into IR format

I have trained the

[2022-09-14 17:59] jgespino commented on #9877
@irisitystefannilsson This has been fixed in the [2022.2-dev branch](https://github.com/openvinotoolkit/openvino/tree/2022.2.0.dev20220829). Could you please test from your end and let me know if it works for you too?

[code]

[code]

[2022-09-14 18:02] avitial commented on #12963
@yszhou2019 when you state "_I generate 6 models to handler different size input_" I assume you are reshaping the dynamic model, is my assumption correct? Or do you have six different IR model files with static shapes? In addition I'd like to understand the six different input shapes used in your case, based on the above info seems the following 4 shapes out of 6 (1,80,{**150, 200, 250** & **300**

[2022-09-14 21:30] #11203 closed

[2022-09-14 22:13] #11721 closed

[2022-09-14 22:15] #11668 closed

[2022-09-14 23:54] avitial commented on #8617
Closing this, feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-09-14 23:54] #8617 closed

[2022-09-15 00:08] jgespino commented on #12747
@zhentaocc Do you see this issue when using OpenVINO 2022.1 release and tensorflow 2.5.3? This version is installed together with openvino when running pip install openvino-dev[tensorflow2]. Also, there is a pre-release 2022.2 available, could you try on this version as well?

https://pypi.org/project/openvino-dev/2022.2.0.dev20220829/

[2022-09-15 02:26] fireFrappe commented on #13036
Which branch have you used? My branch is releases/2022/1

[2022-09-15 02:53] largestcabbage opened #13056 "accuracy_checker"
How to use accary_checker to detect the accuracy of yolov5, why is there a problem with mine
[code]
[objectdetection.zip](https://github.com/openvinotoolkit/openvino/files/9571309/objectdetection.zip)

[2022-09-15 03:06] cheny985 opened #13057 "[Bug]maskrcnn.onnx converted to IR"
##### System information (version)
- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: pytorch
- Model name:maskrcnn_resnet50_fpn_coco
##### Detailed description
The inference result of maskrcnn_resnet50_fpn_coco.pth is correct when it is converted to onnx, but after inferring to IR through th

[2022-09-15 03:22] Iffa-Meah commented on #13052
@MiraGaikwad I had requested access to your file.

![image](https://user-images.githubusercontent.com/79643476/190306359-f82ced87-0ca2-4a40-a48a-a4e72d6703ec.png)

[2022-09-15 04:19] rkazants commented on #13052
@MiraGaikwad, looks that the model is not correctly re-saved from `H5` into `SavedModel` format. Please try to load your `SavedModel` format by using TF API `tf.saved_model.load` and trying infer it. Thanks!

[2022-09-15 04:19] a3213105 commented on #13035
The position_embeddings=512, and the real seq len = 113, then got error below：
RuntimeError: [ PARAMETER_MISMATCH ] Can not clone with new dims. Descriptor's shape: {1, 512, 768} is incompatible with provided dimensions: {1, 113, 768}.

the xml file generated by MO is this (you can remove the txt in filename to get xml file)
[error_mo.xml.txt](https://github.com/openvinotoolkit/openvino/files/9571

[2022-09-15 04:42] Iffa-Meah commented on #13057
Could you provide these:
1. Your model files for us to validate from our side
2. The commands and steps  that you used to convert model into IR

[2022-09-15 05:06] largestcabbage commented on #13024
Thank you very much, looking forward to your reply.

[2022-09-15 05:57] cheny985 commented on #13057
1.model_169.pth is my training weight,mask_rcnn9.onnx is the onnx model.
2.The commands and steps ：mo --input_model C:/Users/chenyang/Desktop/1/mask_rcnn9.onnx --input_shape [1,3,512,512]
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "openvinotoolkit/openvino"

[2022-09-15 05:58] praasz commented on #13036
It is on my fork in [this branch](https://github.com/praasz/openvino/tree/enable-mock-fe-tests-in-python-api-2.0-tests)

[2022-09-15 06:19] yszhou2019 commented on #12963
Sorry for the delay. Actually no MO command is used.  Does it matter? Because the model can be loaded from ONNX format and be compiled in C++.

[2022-09-15 06:23] yszhou2019 commented on #12964
Thank you for the reply. There are two points to be concerned about for me, the quality of audio generated, and the inference speed. Since the quality deduced heavily,  it proved Integer quantization is not fit for TTS vocoder. Thank you anyway!

[2022-09-15 06:51] yszhou2019 commented on #12963
I mean I compiled the onnx model into six different IR model with different static shapes. The shapes are
[1, 50 , 80]
[1, 100, 80]
[1, 150, 80]
[1, 200, 80]
[1, 250, 80]
[1, 300, 80]

I simply measured the inference time by getting the clock time using `chrono::steady_clock::now()` before and after the inference and subtracting the two clock time.

Difference with ONNXRT. I thought OpenVINO may b

[2022-09-15 06:52] yszhou2019 commented on #12963
I tried using MO to generate the *.xml and *.bin. Here is the command I used and console result.
[code]

[2022-09-15 07:10] Iffa-Meah commented on #12742
The latest comment which relates to this new inquiry is discussed in the GitHub case [#12884](https://github.com/openvinotoolkit/openvino/issues/12884).

[2022-09-15 07:39] vladimir-paramuzov commented on #12273
@wang7393 intermediate buffer of arbitrary operation is not memory state of the model and users shouldn't expect it to be reset or initialized anyhow (doing so would ruin the performance).
So could you please clarify what op you're trying to do via custom layer? `out[i] += 1`  looks like some artificial thing.
If you really need to add 1 to the input tensor, why do you need custom op for that? Add

[2022-09-15 08:32] riverlijunjie commented on #13008
@Thunder-29  any new update?

[2022-09-15 09:46] zulkifli-halim commented on #13056
Hi @largestcabbage, I'm downloaded the [yolov5s](https://github.com/ultralytics/yolov5/releases/download/v6.1/yolov5s.pt) model from [Ultralytics](https://github.com/ultralytics/yolov5). Export the model to ONNX and IR format.

 Then use the IR files with [ Accuracy Checker](https://docs.openvino.ai/2022.1/omz_tools_accuracy_checker.html#deep-learning-accuracy-validation-framework)

The YML config

[2022-09-15 09:58] yszhou2019 commented on #12963
Here is the demo code. But the console result of the demo is just the opposite. Maybe some environmental variables for OpenVINO like "OMP_NUM_THREADS" should be set to limit the thread number of this demo program?
[code]

[code]

[2022-09-16 03:04] #12964 closed

[2022-09-16 10:35] puitk-olp commented on #12879
Hello @andrei-kochin,
I asked model's creators (I am only an user of the model) to use another softmax function in it, but I haven't received any feedback from them yet.

[2022-09-16 11:00] balegajay opened #13081 "Coordinate space of the head pose estimate in head-pose-estimation-adas-0001"
Hello,

I was currently using the head-pose-estimation-adas-0001 model in a project.

The model description [page](https://docs.openvino.ai/2019_R1/_head_pose_estimation_adas_0001_description_head_pose_estimation_adas_0001.html) describes the outputs and inputs for the model.

However the coordinate system of the output is not mentioned.

Can anyone please tell which coordinate space is the output

[2022-09-16 11:35] brmarkus commented on #13081
When I run the OpenVINO Open-Model-Zoo example then I get this:
![image](https://user-images.githubusercontent.com/29976962/190630075-1958c0a9-5919-42e3-bc07-81fff7f7dd80.png)

[2022-09-16 11:49] balegajay commented on #13081
Hi Markus,

The model outputs head-pose-estimation-adas-0001 yaw, pitch and roll of the head.
I wanted to know the reference coordinate system for these angles.

See below picture from gaze estimation demo (shows the yaw, pitch and roll output from head pose model)
![grafik](https://user-images.githubusercontent.com/102429106/190632512-e9513766-1296-4eda-8c5f-9dab0130a81f.png)

[2022-09-16 18:14] d-smit commented on #2976
Hi there, long shot but I am also having a problem converting my quantized ONNX model into BLOB format using OpenVINO.

My command (I realise the --data_type arg is wrong as the model has been quantized)

! source /opt/intel/openvino_2021/bin/setupvars.sh
! python /opt/intel/openvino_2021/deployment_tools/model_optimizer/mo.py \
--input_model  /content/gdrive/MyDrive/ColabNotebooks/yolov5/train_ne

[2022-09-16 19:17] jgespino commented on #2976
@d-smit Could you please start a new issue as this one has been closed for quite some time? Also, if possible please try on the latest OpenVINO 2022.1 release or the pre-release 2022.2 package.

https://pypi.org/project/openvino-dev/2022.2.0.dev20220829/

[2022-09-16 23:12] avitial commented on #13057
@cheny985 there was a similar issue reported and is currently under investigation, it seems some information about dynamic shapes is lost during conversion from ONNX to IR. I will share more details as they become available.

Ref. 90554

[2022-09-17 02:33] wang7393 commented on #12273
@vladimir-paramuzov
My custom layer is a complex operation, one of which is to add the output of the previous layer, and then output the accumulated result. If the output memory of the custom layer is not cleared, then with the increase of the number of inference, the input result will continue to increase, resulting in the output error.

It is true that zeroing the output space after each inferen

[2022-09-17 02:37] wang7393 commented on #12944
@ilya-lavrenov
The simplest way to reproduce: Load the model and create InferRequest. No subsequent inference is required.
In debug mode, the InferRequest destructor must crash, and release occasionally crashes.

[2022-09-18 11:07] d-smit opened #13094 "Can't convert quantized onnx model to blob"
Hi there, long shot but I am also having a problem converting my quantized ONNX model into BLOB format using OpenVINO. My model has been quantized into INT8 data type after using the DeepSparse engine. I specified --data_type as float though hoping it would convert these into floats so the conversion would make sense.

My command:

!mo --input_model  /content/gdrive/MyDrive/ColabNotebooks/yolov5/t

[2022-09-19 01:30] zulkifli-halim commented on #12951
@shiwenloong, could you try to upgrade your driver to [30.0.101.1340 ](https://www.intel.com/content/www/us/en/download/19344/721124/intel-graphics-windows-dch-drivers.html), and see if the error still persists or not.

[2022-09-19 02:54] zhentaocc commented on #12747
No issue.

show error:
[code]

[2022-09-19 04:21] andrei-kochin commented on #13094
Hello @d-smit ,

Thank you for reaching OpenVINO!

In new API starting from 2022.1 ModelOptimizer keeps the original type and don't force the conversion to FP32. [See doc reference](https://docs.openvino.ai/latest/openvino_2_0_transition_guide.html#differences-between-inference-engine-and-openvino-runtime-2022-1)
Error says that type remains u8 and scaling requires float input:
`Scale preprocessin

[2022-09-19 04:50] andrei-kochin commented on #12884
Hello @MiraGaikwad,

Can we help you somehow else in scope of this issue?
If not please consider closing this issue.

Thank you!

[2022-09-19 06:55] d-smit commented on #13094
Thanks for your reply. I am working with the following code from the Preprocessing docs you linked and have added in Type.float to address my problem:

ppp = PrePostProcessor(model)
input = ppp.input(tensor_name)
input.tensor().set_layout(Layout('NCHW')).set_element_type(Type.float)
input.model().set_layout(Layout('NCHW'))
# layout and precision conversion is inserted automatically,
# because tens

[2022-09-19 07:05] AlexKoff88 commented on #13094
Hi @d-smit,

If you quantized the model for ONNX Runtime it is unlikely you can run it with OpenVINO because there is no compatibility for quantized models between OpenVINO and ORT. We are in the process of enabling it.

[2022-09-19 07:37] yuechengmao opened #13099 "infer() only works at first inference when using external CL context"
I'm try to pass external CL context to OV for remote tensor inference.
OV version: 2022.1.0.643
OS: windows 11
code sample:
cl::Context user_context;
		cl::Device user_device;
		cl::CommandQueue user_queue;

		// get Intel iGPU OCL device, create context and queue
		{
			const unsigned int refVendorID = 0x8086;
			cl_uint n = 0;
			cl_int err = clGetPlatformIDs(0, NULL, &n);

			// Get platform li

[2022-09-19 07:42] ilya-lavrenov commented on #13099
CC @p-durandin @vladimir-paramuzov

[2022-09-19 08:49] d-smit commented on #13094
OK thanks for letting me know. So there are currently no ways of converting a quantized ONNX model into IR format? Any idea of a timeline for that being added? Thanks :)

[2022-09-19 09:13] AlexKoff88 commented on #13094
We have our own OpenVINO-friendly path for quantizing ONNX models: https://github.com/openvinotoolkit/nncf/tree/develop/examples/experimental/onnx/yolov5. You can also convert a model to OpenVINO IR (Blob in your notation) and quantize it afterward using POT tool: https://docs.openvino.ai/latest/pot_default_quantization_usage.html. Moreover, we are revising and simplifying our API and there is a P

[2022-09-19 10:08] d-smit commented on #13094
I am following the POT tool link. I ran the following scripts:

from openvino.tools.pot import IEEngine
from openvino.tools.pot import load_model, save_model
from openvino.tools.pot import compress_model_weights
from openvino.tools.pot import create_pipeline

binfile = "/content/gdrive/MyDrive/ColabNotebooks/yolov5/train_new/output/yolov5s-std.bin"
xmlfile = "/content/gdrive/MyDrive/ColabNotebooks

[2022-09-19 15:42] LoSealL opened #13110 "[Bug] gpu plugin source dump has filename conflictions"
##### System information (version)

- OpenVINO=>  2022.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- Problem classification => GPU plugin source dump

##### Detailed description
In some cases, when use source dump functions of gpu plugin, the dumped source file could have name conflictions and the content was mixed up.

##### Steps to reproduce
1. Enable sour