[2022-09-19 20:36] avitial commented on #13024
@largestcabbage it seems these models have static shapes, do these models contain any dynamic shapes and are there any major differences (if any) between _best1.onnx_ and best2.onnx models? How were these models exported to ONNX? [Kindly refer to Converting a PyTorch* Model](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_PyTorch.html) for referen

[2022-09-20 01:43] shiwenloong commented on #12951
This driver can't be installed on  Windows 10 Enterprise 2016 LTSB [Version 10.0.14393].
![Capture](https://user-images.githubusercontent.com/52487098/191148785-d4a74e1d-7491-4fb4-bee8-70da75ff24c2.PNG)

[2022-09-20 01:46] XYZ-916 opened #13115 "RuntimeError: While validating ONNX node '<Node(Resize): Resize_26>': Check 'low >= 0 && up >= 0' failed at core/src/validation_util.cpp:1318"
I got an error as follows:

 net = ie.read_model(args.onnx_path)
RuntimeError: While validating ONNX node '<Node(Resize): Resize_26>':
Check 'low >= 0 && up >= 0' failed at core/src/validation_util.cpp:1318

Can you tell me the methods I can try to solve the problem? Thank you!

[2022-09-20 02:00] Iffa-Meah commented on #13110
@LoSealL , looking at your description in [here](https://github.com/openvinotoolkit/openvino/pull/13111), you need to create an algorithm, specifically a handler, to check the elements of your tensor (which in that case you call it as "key") so that each element have their own unique ID.

My suggestion would be:
1. check whether there are the same elements in your tensor
2. If yes, check the index

[2022-09-20 02:26] LoSealL commented on #13110
Hi @Iffa-Meah The ID is not from tensor name, instead it's from tensor source's **compile option**, I don't think we can create a specific handler for that.

[2022-09-20 03:02] wang7393 opened #13116 "onnx SequenceAt, SequenceConstruct, SequenceInsert support"
about onnx SequenceAt, SequenceConstruct, SequenceInsert op, Whether OpenVino has planned support?

[2022-09-20 03:07] zulkifli-halim commented on #12951
@shiwenloong, The driver you are using (24.20.100.6094) is an outdated graphics driver. For steps to update drivers, I recommend contacting Microsoft Support Windows® 10 LTBS to provide you with more assistance with driver availability, as this version of Windows only allows security updates to the system.

[2022-09-20 07:47] largestcabbage commented on #13024
Thanks a lot, I've managed to solve it, but thanks anyway. The reason is that there is an error in the transfer of nn.MultiheadAttention to onnx in pytorch. At present, it has been successfully solved by using its own rewriting operator, but the specific reason has not been found.

[2022-09-20 08:27] Iffa-Meah commented on #13110
@LoSealL Could you elaborate further so that we could reproduce the error from our side:
1. Did you use any of the OpenVINO sample Applications as a reference, if yes could you share which one?
2. could you share your model files since your custom code mentions .xml and .bin (or any model would do?)
3. Any additional config/library files that are required for this purpose

[2022-09-20 08:29] Haiboku233 commented on #12966
Hi @zulkifli-halim
I sent my files to your e-mail   zulkiflix.bin.abdul.halim@intel.com last Thursday and haven't get any reply with my email jw.elliot@foxmail.com
Please tell me if you get the files, or should I resend the files or try another way.

[2022-09-20 08:42] zulkifli-halim commented on #12966
Hi @Haiboku233, I did run a test on your model using [Benchmark Python Tool](https://docs.openvino.ai/2022.1/openvino_inference_engine_tools_benchmark_tool_README.html) and encountered this error:

[code]

Seems like the unsupported opset version was used. For your info, the latest opset version supported by OpenVINO is [opset8](https://docs.openvino.ai/2022.1/openvino_docs_ops_opset8.html).

Coul

[2022-09-20 08:45] zulkifli-halim commented on #13115
Hi @XYZ-916, could you share the model that you are using with us? Also, please provide the step to reproduce the issue.

[2022-09-20 08:56] #13036 closed

[2022-09-20 09:06] Haiboku233 commented on #12966
Thanks a lot.
It seems in your test the gridsample op from torch is unsupported, I didn't get the same error but I also tried a custom grid sample op. By the way the openvino version I used is 2022.2 and I'm not sure if that makes any difference.
I'll send my files and code later this week.
Thanks again.

[2022-09-20 10:45] Thunder-29 commented on #13008
@riverlijunjie @zhaixuejun1993   I am really sorry for delay.
I tried the above solution for "hello_classification" sample, It gave error as  **"Cannot load library '/opt/intel/openvino_2021/deployment_tools/inference_engine/lib/intel64/libinference_engine_onnx_reader.so': libprotobuf.so.3.7.1.0: cannot open shared object file: No such file or directory"**

Few days ago, when i was calling ReadNet

[2022-09-20 11:40] riverlijunjie commented on #13008
@Thunder-29 It seems that it cannot find the correct protobuf path, does your application dynamic link another different libprotobuf?

[2022-09-20 13:13] #13099 closed

[2022-09-20 14:53] alex77g2 commented on #11532
Ubuntu 20.04.1 (amd64) + pip 22.2.2 + Python 3.8.10 + openvino-dev (default = 2022.1.0) still requires numpy-1.19.5. It seems the issue still exist in default/unmodified installations.

[2022-09-20 20:45] ngaloppo commented on #12629
There was a recent feature add related to this issue: https://github.com/openvinotoolkit/openvino/pull/12988, with a subsequent amendment (under review): https://github.com/openvinotoolkit/openvino/pull/13120

[2022-09-20 20:53] #13056 closed

[2022-09-20 21:40] jgespino commented on #12747
@zhentaocc Glad it's working with Tensorflow version 2.5.3.

Regarding this error: `RuntimeError: Check 'false' failed at frontends/common/src/frontend.cpp`

I didn't see this error when setting up a virtual environment as follows. Are your step similar to mine?
[code]

python main.py:
[code]

[2022-09-21 01:09] zulkifli-halim commented on #12962
Closing issue. Feel free to reopen if further assistance is needed.

[2022-09-21 01:09] #12962 closed

[2022-09-21 01:10] zulkifli-halim commented on #12959
Closing issue. Feel free to reopen if further assistance is needed.

[2022-09-21 01:10] #12959 closed

[2022-09-21 03:41] jinfagang commented on #8702
@zulkifli-halim Hi, does there any more smaller size op impelmentation such a MultiHeadAttention op in transformer? Which is aligned with pytorch calculation way

[2022-09-21 04:02] eaidova commented on #13094
@d-smit
tensor_name in  this case, it is model input tensor name, you can get it using this construction:
tensor_name = model.inputs[0].any_name (index can be any other if you have several inputs in the model)
If your have only 1 input you can just use ppp.input() without arguments or
instead of name of tensor you access input by index ppp.input(0),
also you can set std using preprocessing api
inp

[2022-09-21 04:27] eaidova commented on #13056
@largestcabbage I'm correctly understand that you have yolo_v5 pretrained on own dataset stored in format like pascal voc?
you have some mess in dataset section:
annotation: F:\\test\\objectdetection\\new_annotations\\imagenet.pickle
dataset_meta: F:\\test\\objectdetection\\new_annotations\\imagenet.json
it is already existing files on your machine or used as names for saving? If existing and afte

[2022-09-21 05:19] zhentaocc commented on #12747
@jgespino pls install intel-tensorflow 2.8.0.
Official tensorflow is working well always. But it doesn't make sense to fail on intel-tensorflow.
Even though intel-tensorflow might be the root cause, which I am not sure about, but OpenVINO seems vulnerable in this case.

[2022-09-21 05:44] brmarkus commented on #13008
Can you check the linked libraries via e.g.

`ldd ./my_application`

If your application loads dynamic libraries at runtime "manually" (e.g. with `dlopen()`) you might want to try this:

`LD_DEBUG=libs ./my_application`

And it will log which libraries were requested to be loaded, where the dynamic-linker will search for and which libraries finally where loaded and initialized.

[2022-09-21 05:52] largestcabbage commented on #13056
sorry, i tested it and it is still very low @eaidova

[2022-09-21 06:09] eaidova commented on #13056
@largestcabbage what exactly you tested? specify preprocessing?
Are you sure that anchor values correct ordered?

probably should be:
[code]

[2022-09-21 06:47] largestcabbage commented on #13056
The map has improved but is still lower than normal, is it because of the threshold setting problem?

[2022-09-21 09:46] p-wysocki commented on #11532
PR relaxing `numpy` upper bounds to `1.23.1` https://github.com/openvinotoolkit/openvino/pull/12628 has been merged into [openvinotoolkit:releases/2022/2](https://github.com/openvinotoolkit/openvino/tree/releases/2022/2) branch.

[2022-09-21 12:47] riverlijunjie commented on #13008
If one application dynamic links 2 different version libprotobuf, there will be conflict. So we should use single version libprotobuf in single application.

[2022-09-21 13:27] #12731 closed

[2022-09-21 17:41] avitial commented on #13024
Glad you managed to solve it. Closing this issue , feel free to reopen to ask any questions related to this topic.

[2022-09-21 17:41] #13024 closed

[2022-09-21 18:15] jgespino commented on #12747
@zhentaocc Let me check with the development team, I will keep you posted.

Ref: 90155

[2022-09-22 02:37] LoSealL commented on #13110
Hi @Iffa-Meah, please see model files at https://github.com/LoSealL/openvino/releases/tag/test

On my PC (_i7-9750H with UHD 630 GEN9 24EU_), it will dump **20** .cl_cache, but only **19** .cl files, because two of which have the same name.

[2022-09-22 02:57] Iffa-Meah commented on #13052
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-09-22 02:57] #13052 closed

[2022-09-22 03:37] Iffa-Meah commented on #13110
@LoSealL I checked your model and it seems to be supported by OpenVINO.

<img width="621" alt="benchmarkmodel" src="https://user-images.githubusercontent.com/79643476/191652484-e9d9ea81-fc2b-4577-967d-3f385c4b2ea2.png">

However, I didn't found your custom code being applied in any of the cpp sample:

<img width="416" alt="cppsample" src="https://user-images.githubusercontent.com/79643476/19165262

[2022-09-22 08:58] fanxiaochen456 opened #13160 "Problems occurred using OpenVino2021.4.752"
When I call openvino2020 version for deployment in my own project, it is very successful. When I change openvino2020 version to openvino2021.4.752, when using InferenceEngine::Core ie, C++ will show the following error: 0x00007FF9EB683B29 exception at cf_test.exe: Microsoft C++ exception: InferenceEngine: : GeneralError, located in the memory location 0 x000000be2b97eba0 place,

What is the reason

[2022-09-22 10:04] yinzww opened #13164 "Axes input must be constant"
When I use OpenVino to accelerate video classification algorithm TSM，error occured：

Axes input must be constant...Maybe because numbers of channel dimension changed while model inferencing?
(1, 16, 3, 224, 224) -> (1, 48, 224, 224)，is there any problem?

![image](https://user-images.githubusercontent.com/39438193/191718129-81a76ad0-509d-4952-86ff-c8dc3ed06e8b.png)

How to solve the problem？

[2022-09-22 12:34] YaroslavSchubert commented on #3087
It helped me thank you!

[2022-09-22 18:01] PaulCahuana opened #13177 "OpenVINO does not support the following ONNX operations: com.microsoft.FusedConv [Bug]"
##### System information
- OpenVINO => 2022.1.0
- Operating System / Platform => Ubuntu 22.04
- Problem classification: Model Conversion
- Framework: ONNX
- Architecture name: OpenSeeFace  from (https://github.com/emilianavt/OpenSeeFace)
      - Model name: lm_model3_opt.onnx

##### Detailed description
I was trying to load the model with openvino but I got  the error:
"RuntimeError: Check 'unknow

[2022-09-22 18:02] campos537 commented on #13177
Hey guys, I have the same issue when trying to convert this OpenSee model using the OpenVINO Workbench.

[2022-09-22 20:31] andrei-kochin commented on #13177
Hello @PaulCahuana, @campos537,

Thank you for reaching OpenVINO!

This operation is not from the standard ONNX opset while from the Microsoft ONNX RT extended opset which we haven't yet claimed to support. Actually there are some other models with such fused ops in our backlog and we are looking into it.

We should discuss this internally how to properly proceed with that. Stay tuned!

CC @mlukas

[2022-09-22 20:36] andrei-kochin commented on #13160
Hello @fanxiaochen456,

Thank you for reaching OpenVINO!

Could you please provide a bit more details about the call stack and the steps causing the error?
By the way, is the same issue visible on 2022.1 release?

Best regards,
Andrei

[2022-09-22 20:39] #11532 closed

[2022-09-22 22:15] avitial commented on #13057
@cheny985 this PR [https://github.com/openvinotoolkit/openvino/pull/10684](https://github.com/openvinotoolkit/openvino/pull/10684) might fix the issue you are observing, please check it out and give it a try on your side.

FYI I've performed a quick run with your provided onnx model and I can see the masks output layer is now dynamic. Let me know if you have any issues.

![image](https://user-imag

[2022-09-23 02:11] fanxiaochen456 commented on #13160
@andrei-kochin Hello Thank you very much for your suggestion, but the interface function of the algorithm 2022.1 that I want to deploy is not supported, and the ONNX model of the algorithm cannot be directly used in the version 2020.4. The error message that the conversion model does not support OPT11 appears, but the OpenVino export of version 2021.4.752 is OK. When using OpenVino 2021.4.752 in a

[2022-09-23 02:21] fanxiaochen456 commented on #13160
When I use OpencV2021.4.752 in another newly opened project, there will be no error, but as long as it is added to that project, there will be a problem. If possible, I can provide the corresponding project.

[2022-09-23 05:09] mlukasze commented on #13164
hi @yinzww
thank you for reaching us out!
Let us check it and look for a reason and possible fix.
Please stay tune :)

[2022-09-23 05:17] mateusztabaka commented on #13164
Looks line an old version of openvino. What version do you use currently? Can you try with 2022.2? We've had such restriction in the past in Slice (https://github.com/openvinotoolkit/openvino/commit/6855efd3151372e251d1bbb5975a77a9e2b382da#diff-3f1b917ca921065f5221c10871c0dd7abed41fdd274cb18586ec0c2510319898L149-L153), but it should be solved now.

[2022-09-23 06:50] LHTcode opened #13182 "[Bug] Openvino program stucked when loading network."
ROS_INFO("model_path:%s", (xml_path_ + bin_path_).c_str());
  Core core;
  auto model = core.ReadNetwork(xml_path_, bin_path_);
  std::vector<std::string> devices = core.GetAvailableDevices();
  for (std::string device : devices) {
    LOGD("GetAvailableDevices: %s", device.c_str());
  }
  ROS_INFO("BEFORE LOADNETWORK TO GPU");
  auto compiled_model = core.LoadNetwork(model, "GPU");    // STUCK HE

[2022-09-23 07:47] ilya-lavrenov commented on #13182
Hi @LHTcode

Without any topology it's hard to say what happens internally. Do you have some preproducer?
Does it change something if we don't call `GetAvailableDevices` before `LoadNetwork` to GPU?

[2022-09-23 07:49] brmarkus commented on #13182
Can you check the system CPU-load?
I assume you see high CPU-load - as while loading a model for the GPU-plugin then OpenVINO is compiling OpenCL kernels in the background.
Depening on the model and the system-performance this OpenCL kernel compilation could take multiple minutes.

Can you export the ENV variable "cl_cache_dir" (pointing it to a writable directory) - and then watch the folder, do

[2022-09-23 08:02] LHTcode commented on #13182
The CPU usage does reach 100%, but there is no output from cl_cache_dir.I have executed export cl_cache_dir=/home/dynamicx/Documents/cl_cache in terminal.

[2022-09-23 08:07] LHTcode commented on #13182
It's normal when I don't call GetAvailableDevices and run core.LoadNetwork(model, "CPU").

[2022-09-23 08:08] brmarkus commented on #13182
Which version of OpenVINO do you use, is it 2021.x or 2022.x?
Which OS do you use?
Which HW (CPU, GPU) are you using (can you share excerpts of `lscpu` and `lspci | grep VGA`)?

Depending on the OpenVINO version you might try to enable the model-cache (e.g. "https://docs.openvino.ai/2021.4/openvino_docs_IE_DG_Model_caching_overview.html") instead of exporting the ENV variable and then watch the sp

[2022-09-23 08:09] brmarkus commented on #13182
What do you mean with "normal", it's working, not stuck anylonger?

[2022-09-23 08:23] LHTcode commented on #13182
it means it's working on cpu

[2022-09-23 08:25] LHTcode commented on #13182
Architecture:                    x86_64
CPU op-mode(s):                  32-bit, 64-bit
Byte Order:                      Little Endian
Address sizes:                   39 bits physical, 48 bits virtual
CPU(s):                          8
On-line CPU(s) list:             0-7
Thread(s) per core:              2
Core(s) per socket:              4
Socket(s):                       1
NUMA node(s):

[2022-09-23 08:26] LHTcode commented on #13182
00:02.0 VGA compatible controller: Intel Corporation Device 9a49 (rev 01)

[2022-09-23 08:27] LHTcode commented on #13182
Architecture:                    x86_64
CPU op-mode(s):                  32-bit, 64-bit
Byte Order:                      Little Endian
Address sizes:                   39 bits physical, 48 bits virtual
CPU(s):                          8
On-line CPU(s) list:             0-7
Thread(s) per core:              2
Core(s) per socket:              4
Socket(s):                       1
NUMA node(s):

[2022-09-23 13:28] PaulCahuana commented on #13177
Sure. Thanks for all!

[2022-09-24 08:54] ilya-lavrenov commented on #13160
@fanxiaochen456 please, provide your project. Using words it's hard to understand what interface is not available and you experience GeneralError exception.

[2022-09-24 08:58] ilya-lavrenov commented on #13182
@LHTcode it seems that initialization of some other plugin via calling `GetAvailableDevices` leads to dirty program state later. Could you please try to rename plugins one by one physically on file system (to prevent its loading) and check which one is a guilty?
I suppose we can start with HDDL (I sin on this one), then MYRIAD, GNA, GPU

[2022-09-25 10:32] balegajay commented on #13081
@jgespino @andrei-kochin  @Wovchena could any of you guys please give an explanation.

Regards

[2022-09-26 08:52] Wovchena commented on #13081
The person who trained the model no longer works here. You should revers engineer the code snipped you have in https://github.com/openvinotoolkit/open_model_zoo/issues/3558

[2022-09-26 09:46] narang99 opened #13207 "[Bug] Conversion from ONNX model fails"
Hey
Im getting errors in converting an onnx model to vino

Command ran:
[code]

And got this log
[code]

Could not find much online about this, can you please help me?

System
[code]

Linux kernel version
[code]

**NOTE: Was doing this test on an EC2 t3.2xlarge Ubuntu machine**

Thanks!

[2022-09-26 13:50] mlukasze commented on #13207
Hi @narang99
Thank you for rising this issue. Please, let us check it, we will back to you with more clear information as soon as possible.

[2022-09-26 15:10] mateusztabaka commented on #13207
Can you share the cavity.onyx model?

[2022-09-26 15:11] tomdol commented on #13207
The error looks like some inconsistency in the shapes around a Reshape operation. It's difficult to figure out why without the model. Can you share it?

[2022-09-26 21:32] tomdol commented on #13207
I've done another pass over the Reshape operator's code and it seems that one of the Reshapes in the model contains a `0` (zero) in the target shape pattern. In this particular model this configuration produces the exception you encountered (because the "special_zero" attribute is set to false). We could still have a look but at the same time you can try to investigate the Reshape operation and se

[2022-09-27 04:31] zulkifli-halim commented on #12966
Hi @Haiboku233, the latest offsets version supported by OpenVINO 2022.2 is [Opsets 9](https://docs.openvino.ai/2022.2/openvino_docs_ops_opset.html).

I ran a test on your model_16_torch_grid_sample model with _benchmark_app_ and the previous error is resolved when using the latest OpenVINO (v2022.2).
[code]

I executed your inference script but no output is shown:
![image](https://user-images.gith

[2022-09-27 05:46] #13110 closed

[2022-09-27 06:09] Haiboku233 commented on #12966
Hi @zulkifli-halim ,  the scatter_add I used is supported in [opset16](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset16.py), so  is it not supported by OpenVINO?

I checked the openvino_inference_test.py I shared and find I forget to change the filepath to images and models files. This test code just read .jpg images and inference with one image 10 times. Or you can try t

[2022-09-27 07:09] riverlijunjie commented on #13008
@Thunder-29  could you try the same protobuf version with openvino?

[2022-09-27 07:47] Mactarvish commented on #11764
Same issue except that I'm on openvino 2022.2, and `from openvino.offline_transformations import serialize` doesn't work either.

[2022-09-27 08:34] Thunder-29 commented on #13008
@riverlijunjie @brmarkus My application loads dynamic libraries at runtime.
I checked the linked libraries but I didn't get libprotobuf there. I have attached the log file after running ldd ./application.
One thing I want to mention that, I am using libtensorflow-cpu-linux-x86_64-2.7.0 and before running the testcase, I will export the tensorflow library path. I read somewhere that Tensorflow will

[2022-09-27 10:05] zulkifli-halim commented on #12966
Hi @Haiboku233, I ran a test on my side and these are the results:

Inference result on ONNX model:
(1, 778, 3)
[code]
Inference result on IR model:
[code]

As we can see, the IR inference outputs are different each time. We are checking this out and will get back to you soon.

[2022-09-27 10:16] t-jankowski commented on #13207
@tomdol 'special_zero' is OV term. ONNX calls it 'allowzero' and is defaulted to copy the value, so the case you describe. However the exception happens while proceeding with OV model, not sure whether before or after transformations. So either there's hardcoded in the ONNX model 0 value as the 5-th element of that 'shape' tensor or it needs to be debugged.

[2022-09-27 11:24] riverlijunjie commented on #13008
Maybe you can try export the protobuf path into LD_LIBRARY_PATH.

[2022-09-27 11:38] tomdol commented on #11764
@Mactarvish I've just tried this on my own build of the master branch:

[code]

Could you try importing from `openvino.runtime` on your side?

[2022-09-27 15:11] lino-alves commented on #13014
I managed to solve this problem, but with a different solution than I initially had in mind.

Coming back to the extension, I spent some time working with the ConversionExtension and OpExtension to create an extension that would allow me to load the OpenVINO IR module to the VPU.
I managed to fix the problem previously described regarding the attributes, by passing them, if available, to the Conve

[2022-09-27 18:19] narang99 commented on #13207
The shapes look like this
[code]

Sorry, I cant provide the model itself, corporate policy😅

It would be great if you can guide me into debugging this please (some reference document or steps I need to take).
Sorry but I didnt understand what you meant here
[code]

[2022-09-27 18:29] tomdol commented on #13207
Overall you need to investigate a Reshape operation in the model. The clues are in this line:
`v1::Reshape Reshape_120459 (3098[0]:f32{?,?,?,?}, 3111[0]:i64{5}) -> (f32{?,?,?,?,?})' with friendly_name 'Reshape_120459'`.
Probably the Reshape operation you're looking for is called "Reshape_120459". It has 2 inputs named "3098" and "3111" - you can use those input names to find this operation too (fo

[2022-09-28 08:59] t-jankowski commented on #13207
Below code triggers the same error. The two commented `new_shape`'s have valid values - note that 0 at first position is ok.
[code]

[2022-09-28 14:50] Haiboku233 commented on #12966
Hi @hbalasu1, Thanks for your time.
 No, the predictions are expected to be the same with  the same model and same single image.
(1) I tested the .onnx file with onnxruntime==1.12.1, it works fine(same model,same input,same predictions every time), you could check it easily.
(2)If the scatter_add op and subsequent layers are removed, the output is correct and keeps the same in a loop with the same

[2022-09-29 02:12] Mactarvish commented on #11764
Thanks for this tip and it works. Seems openvino_notebook may need update for this change :)

[2022-09-29 02:12] Mactarvish commented on #11764
@tomdol

Thanks for this tip and it works. Seems openvino_notebook may need update for this change :)

[2022-09-29 02:26] zulkifli-halim commented on #12951
Closing issue. Feel free to reopen if further assistance is needed.

[2022-09-29 02:26] #12951 closed

[2022-09-29 02:26] zulkifli-halim commented on #13115
Closing issue. Feel free to reopen if further assistance is needed.

[2022-09-29 02:26] #13115 closed

[2022-09-29 06:15] #12984 closed

[2022-09-29 06:37] mlukasze commented on #11764
Good point @Mactarvish
We will plan it.

[2022-09-29 07:30] Jsy0220 commented on #12754
Hi, I have tried version 2022.2 and it can add custom extensions successfully in c++ with following codes:
![WeChatWorkScreenshot_2184051e-af6a-42ca-8844-f1dbe156d15e](https://user-images.githubusercontent.com/6188672/192961036-27be1b63-e482-4b1a-b275-b917c97801be.png)
and export the extension library libvino_ext.so with following codes:
![WeChatWorkScreenshot_93271b07-0d82-470e-aa50-a66482e6b3c0]

[2022-09-29 08:08] 982118809 opened #13277 "Ubuntu's apt method cannot install openvino2022.2.0"
Hello，I want to install openvino2022.2.0 through apt, but  `https://apt.repos.intel.com/openvino/2022 bionic main` does not have this version.
    Ubuntu: 18.04
**Code:**
[code]
Log:
[code]
**check OpenVINO version**
`apt-cache search openvino `
Log:
[code]
It only has openvino2022.1.0.
Thanks

[2022-09-29 08:33] itikhono commented on #12754
Hi @Jsy0220, could you share the code?

[2022-09-29 08:48] ilyachur commented on #12754
Hi @Jsy0220 what compiler do you use?

[2022-09-29 09:09] ilya-lavrenov commented on #13277
Hi @982118809

As you can see from installation documentation https://docs.openvino.ai/2022.2/openvino_docs_install_guides_installing_openvino_linux_header.html, Debian packages are not available in 2022.2.
They will be returned back in 2022.3 in an updated form.

For 2022.2 you can download archives from github https://github.com/openvinotoolkit/openvino/releases/tag/2022.2.0 and extract it to an

[2022-09-29 09:43] 982118809 commented on #13277
Okay, I understand now, thanks!
By the way, when do you plan to release the 2022.3 version.

[2022-09-29 11:53] Jsy0220 commented on #12754
@ilyachur  Ubuntu 20.04 (64-bit) with default GCC* 9.3.0
@itikhono  here is the code:
[extension.zip](https://github.com/openvinotoolkit/openvino/files/9674325/extension.zip)

[2022-09-29 12:19] narang99 commented on #13207
![Screenshot 2022-09-29 at 5 47 39 PM](https://user-images.githubusercontent.com/39337152/193029336-e767f09d-5b7b-44a8-835f-143f0934c8f7.png)

This is what it looks like, doesn't look like its a constant @tomdol

[2022-09-29 16:00] alucryd opened #13288 "[Bug] RuntimeError: Failed to allocate graph: MYRIAD device is not opened."
##### System information (version)

- OpenVINO=> 2022.2.0.7713
- Operating System / Platform => Arch Linux / Docker
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description
I can't get my NCS2 to work, I tried version 2022.1 and 2022.2, both native and docker, following the instructions including installing the udev rules, nothing has worked so far. Tri

[2022-09-29 17:14] brmarkus commented on #13288
Could it be something easy to just reboot after installing the udev-rule, or logging-out and logging-in?
Once the NCS2/Myriad-X plugin has loaded the firmware, then the NCS2 device will disappear from the USB-bus (as a high-speed device) and will reappear on the bus again (as superspeed device), under a different vendorid-devicerid.

Can you check `lsusb` multiple times while OpenVINO loads the pl

[2022-09-29 21:24] avitial commented on #12963
@yszhou2019 I am having issues converting the referenced onnx model with 2022.1 version and shared MO command.

[1] `$ mo --input_model vocoder.onnx `
![image](https://user-images.githubusercontent.com/20826577/193130240-162104af-b0d3-44be-94e3-2f959ac18b4d.png)

[2] Using 2022.2 version (released last week) I am able to convert referenced onnx model:
![image](https://user-images.githubusercontent

[2022-09-30 11:02] ilyachur commented on #12754
@Jsy0220 Thank you, do you use official OpenVINO binaries? Or do you build own version of OpenVINO?

[2022-09-30 13:09] Wovchena commented on #13081
I've extended model description in https://github.com/openvinotoolkit/open_model_zoo/pull/3561

[2022-09-30 21:29] ilya-lavrenov commented on #13277
I suppose beginning of 2023

[2022-10-01 12:14] yszhou2019 commented on #12963
@avitial Thank you for your reply!
[1] It doesn't matter if you cannot convert the onnx model to IR model. But I wonder, with OpenVINO runtime, does it differ if we load from an ONNX model and compile it into `ov::CompiledModel` compared with loading from IR model generated by `mo` CLI ? Will this cause difference in performance?
[2] According to your tests, I just re-run this tests in a docker co

[2022-10-03 09:04] tomdol commented on #13207
From the screenshot it looks like the second input of Reshape is not a constant, it's a subgraph which gets evaluated by MO during the conversion (constant folding). This evaluation produces a zero in the target shape tensor and thus the error. Unfortunately without the access to the full model I'm not able to suggest anything else. @jane-intel perhaps you have an idea how to overcome the problem?

[2022-10-03 16:22] azeemashraf348 opened #13319 "[Bug]: Unknown CMake command "add_demo"."
##### System information (version)

- OpenVINO => 2020.4
- Operating System / Platform => MAC OS
- Compiler => Apple clang version 12.0.5 (clang-1205.0.22.9)
- Problem classification: Model Conversion
- Model name: Smart_classroom_demo

##### Detailed description
Following error occurs when i run the command " cmake ../smart_classroom_demo/cpp  ".
------
CMake Error at CMakeLists.txt:8 (add_demo):

[2022-10-04 08:10] ilya-lavrenov commented on #13319
Hi @azeemashraf348

This is not right way. You need to use https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos as a cmake source directory, because it contains all common settings and cmake macro including `add_demo`.

If you want to build only `smart_classroom_demo`, you need to configure the whole project anyway, but use `cmake --build . --target smart_classroom_demo` to build a

[2022-10-04 11:25] Iffa-Meah commented on #13319
@azeemashraf348 in addition to @ilya-lavrenov explanation above, here is some insight to build that specific demo.

**First and foremost, you'll need to get a working OpenVINO in your environment.** Since you are asking through GitHub Platform, I assume you are using OpenVINO build from source.

Ensure you had fulfill the system requirements and also build steps which you can refer [here](https://

[2022-10-05 18:23] avitial commented on #12884
@MiraGaikwad you can find the v2022.2 pre-built Debian package available for download in [Releases/2022.2.0](https://github.com/openvinotoolkit/openvino/releases/tag/2022.2.0) or [storage.openvinotoolkit.org](https://storage.openvinotoolkit.org/repositories/openvino/packages/2022.2/linux/).

For 2022.1 version you might need to build from source if such version is needed, as the pre-built Debian p

[2022-10-05 18:23] #12884 closed

[2022-10-05 18:24] avitial commented on #12879
Closing this. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-10-05 18:24] #12879 closed

[2022-10-06 09:42] andrei-kochin commented on #12747
@zhentaocc the issue was confirmed to be on intel-tensoflow side as Stringstream becomes broken after importing intel-tensorfow

We have internal ticket: 5531 to track it

[2022-10-06 10:31] brmarkus commented on #13288
In my environment (tried Ubuntu 18.04LTS and 20.04LTS) I just used this Docker this:

(with my user being added to the `docker` group, i.e. not requiring to use `sudo`)

[code]

You mean MYRIAD-X/NCS2 is working for you _now_, natively (where it wasn't working before)? What have you changed natively, on the HOST to get it working _now_?

Do you use the original OpenVINO Docker container, or have y

[2022-10-06 18:26] vitalymtl opened #13362 "[Bug]"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Intel(R) oneAPI DPC++ Compiler 2022
- Problem classification => runtime crash

##### Detailed description

There is an app that creates OpenCL context and creates some OpenCL kernels then it shares OpenCL context with OpenVINO by using
`InferenceEngine::gpu::make_shared_context().

[2022-10-07 07:42] p-durandin commented on #13362
Please provide context of your application. Link to github or sample code is OK

[2022-10-07 12:40] andrey-churkin opened #13385 "[Bug] AttributeError: module 'openvino' has no attribute 'runtime'"
##### System information (version)
- OpenVINO: 2022.2
- Operating System / Platform: Ubuntu 20.04
- Problem classification: OpenVINO Python API

##### Detailed description
Please see the `steps to reproduce for a detailed description of the problem.

##### Steps to reproduce
Step 1: Install the `openvino-dev` package using the pip:
[code]
Step 2: Open a command line or terminal and then type in py

[2022-10-07 19:57] Gairick52 commented on #13385
@jiwaszki i am new to open source can you suggest me some beginner friendly issues

[2022-10-08 00:56] avitial commented on #12944
@wang7393 could you provide steps to replicate in a minimal sample reproducer? In addition, which graphics driver version are you using? What kind of processor graphics do you have?

[2022-10-08 01:05] avitial commented on #12969
Closing this, I hope previous responses were sufficient to help you proceed.

Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-10-08 01:05] #12969 closed

[2022-10-08 01:20] Jsy0220 commented on #12754
@ilyachur Hi, sorry for the long delay in response. I built and installed OpenVINO in docker according to [https://github.com/openvinotoolkit/docker_ci/tree/master/dockerfiles/ubuntu20/build_custom] with OPENVINO_BRANCH="2022.2.0"
I tried `extensions.clear()` and `extensions.shrink_to_fit()` to release the memory, the error happened once it called.

[2022-10-08 05:48] yszhou2019 commented on #12963
@avitial I just had a test on async version compared with the sync one. It turns out no much improvement can be earned from the async version, which is in line with what I think previously. Still thank you :)
[code]

[2022-10-08 06:42] yszhou2019 opened #13394 "[API] How to control number of threads used in OpenVINO runtime in cpp?"
I just wonder how to control the threads in OpenVINO runtime. Like setting up some environment variables? (For example, `OMP_NUM_THREADS` can take control of threads used in ONNXRuntime.)
In fact, when I deploy models with OpenVINO runtime in cpp in a docker container, I notice that only half of CPU cores are used. I think if we control the theads used in OpenVINO, maybe we can accelerate the CPU

[2022-10-08 08:35] yszhou2019 commented on #12963
[code]

[2022-10-08 13:57] ilya-lavrenov commented on #13394
Hi @yszhou2019
By default all threads are used, maybe utilization is 50% because your model is lightweight and cannot saturate all the HW resources?
We have `ov::inference_num_threads` property to control how many cores are used https://docs.openvino.ai/latest/groupov_runtime_cpp_prop_api.html#doxid-group-ov-runtime-cpp-prop-api-1gae73c9d9977901744090317e2afe09440. You can query this number (try v

[2022-10-09 01:35] 982118809 opened #13395 "Err:1 https://apt.repos.intel.com/openvino/2022 focal/main amd64 libopenvino-2022.1.0 amd64 2022.1.0-643 404 Not Found [IP: 104.71.47.144 443]"
I can't download openvino2022.1.0 for ubuntu20.04

log:
[code]

[2022-10-09 08:27] yszhou2019 commented on #13394
@ilya-lavrenov Thank you for your reply!
I just had a try following your guidance. But an ov::exception was throwed and the process was terminated in this snipaste.
[code]
Another attempt also encountered `Unsupported config key` exception.
[code]
Are these config keys supported in version 2022.01?

[code]

[2022-10-10 04:24] leizhu1989 opened #13398 "Package gflags was installed without required component nothreads_static!"
hello，author！
when I build openvino in windows11 ,I got this error, why is it? could you give same proposal

explain：
1、I download thirdparty one by one ,and copy them into its path because of poor internet
2、cmake -G "Visual Studio 16 2019" -A x64 -DCMAKE_BUILD_TYPE=Release -DOpenCV_DIR=E:\\project\\opencv450\\build_world\\install -DENABLE_INTEL_GPU=OFF ..

-- extracting...
         src='C:/downl

[2022-10-10 05:18] mlukasze commented on #13395
hi @982118809
Thanks for reaching us out and sorry for inconvenience.
We will check what could happen and will back to you.

[2022-10-10 06:05] #13398 closed

[2022-10-10 06:42] brmarkus commented on #13394
Do you see the physical cores are used only (not the logical cores, in case your CPU supports HyperThreading, and HyperThreading is enabled in BIOS)?

[2022-10-10 06:45] yszhou2019 commented on #13394
@brmarkus
Command `lscpu` shows 8 physical cores in total. Command `htop` shows only half of cores are used during inference.
[code]

[2022-10-10 06:58] zulkifli-halim commented on #13385
Hi @andrey-churkin, In OpenVINO Runtime, a model is represented by the [ov::Model](https://docs.openvino.ai/latest/classov_1_1Model.html#doxid-classov-1-1-model) class.

You can use this instead:
[code]

[2022-10-10 07:37] brmarkus commented on #13394
May I ask which SoC, which CPU you are using (e.g. from `lscpu`)?

For a TigerLake SoC I currently see this (excerpt):

[code]

=> 8 CPU cores in total
with "threads-per-core:2" and "cores per socket: 4" this machines have 4 physical cores and 4 logical cores, i.e. HyperThreading is supported and enabled.

[2022-10-10 07:43] yszhou2019 commented on #13394
@brmarkus  Intel(R) Xeon(R) Platinum 8375C CPU.
Thank you for your reply!
[code]

[2022-10-10 07:53] leizhu1989 opened #13401 "about build error for onednn"
hello，auther！
when I build this project on windows11,I got so many error like:

6>C:\downloading\openvino\src\plugins\intel_cpu\src\dnnl_descriptor.h(16,71): error C2039: "desc": is not the member of "dnnl::convolution_forward"  (source file C:\downloading\openvino\src\plugins\intel_cpu\src\nodes\matmul.cpp)
6>C:\downloading\openvino\src\plugins\intel_cpu\thirdparty\onednn\include\oneapi/dnnl/dnnl

[2022-10-10 09:06] jiwaszki commented on #13385
Off-topic: @Gairick52 Can you create separate issue for your question? Please tag/assign me there and we will discuss it further 😄

[2022-10-10 09:17] andrey-churkin commented on #13385
Hi @jiwaszki! Thanks for your explanation! I got it.

[2022-10-10 09:17] #13385 closed

[2022-10-10 09:38] leizhu1989 commented on #13401
thank you for your reply, for thirdparty, I do not use    *git submodule update --init --recursive* . I download thirdparty one by one because of my poor internet, and I put them to its path. the protobuf version I used is 3.18.2 ,beacuse when I use high version ,there is a error : Protocol Buffers requires at least c++14 ,but
is configured for c++11

Maybe I use the wrong method to download the t

[2022-10-10 10:29] leizhu1989 commented on #13401
ok, I know it, thank you for your reply

[2022-10-10 12:18] alucryd commented on #13288
I didn't change anything on the host, originally I couldn't `pip install openvino-dev`, there's a build error in one of the dependencies, so I couldn't get much further natively without omz.

I used the docker image to acquire the model via omz, and tried running it on the host instead, which is now confirmed working.

I'm using a vanilla openvino image, and didn't tinker with anything on the dock

[2022-10-10 17:47] alucryd commented on #13288
I tried on another computer, and it is working via podman with the cgroup rule, no need for --privileged! I will close the issue, there must be sth wrong with the other 2.

[2022-10-10 17:47] #13288 closed

[2022-10-10 19:18] EdjeElectronics opened #13411 "[Bug] setupvars.bat file reports error when Python is not installed"
##### System information (version)
- OpenVINO=> 2022.2
- Operating System / Platform => Windows 11 with no Python installed
- Compiler => N/A
- Problem classification => Environment Variables

##### Detailed description
When following the steps to [Install OpenVINO from Archive Files on Windows](https://docs.openvino.ai/2022.2/openvino_docs_install_guides_installing_openvino_from_archive_windows.h

[2022-10-10 22:39] jiapei100 opened #13412 "[Bug] Failed to build against system protobuf???"
##### System information (version)

- OpenVINO => 2022.2.0
- Operating System / Platform => Raspbian GNU/Linux 11 (bullseye)
- Compiler => gcc (Raspbian 10.2.1-6+rpi1) 10.2.1 20210110
- Problem classification => Failed to build

##### Detailed description
Failed to build **OpenVINO** with system **protobuf**.

[code]

[2022-10-11 02:47] Iffa-Meah commented on #13412
@jiapei100  could you provide us details of your installation steps and commands?

[2022-10-11 04:03] ilyachur commented on #12754
Ok, thank you for information. Need to investigate what is happening...
Am I right that you use the same compiler for building extensions and OpenVINO?

[2022-10-11 04:14] ilyachur commented on #13401
@leizhu1989 Does the submodules update help you to solve the issue?

[2022-10-11 04:33] zulkifli-halim commented on #13411
Hi @EdjeElectronics, thank you for reporting this issue. Feel free to make any changes in the .bat file.

We will direct this issue to our developer for further action.

[2022-10-11 04:45] leizhu1989 commented on #13401
yeah!  when I use git submodule update --init --recursive for more times, I am successed build it.  But, I can not find the "include" list for installing ,only "bin" files in my openvino root directory. By the way, can openvino set the number of CPUs used?  I don’t want to use all cpu cores to inference, thank you

[2022-10-11 04:46] leizhu1989 commented on #13401
yeah! when I use git submodule update --init --recursive for more times, I am successed build it. But, I can not find the "include" list for installing ,only "bin" files in my openvino root directory. By the way, can openvino set the number of CPUs used? I don’t want to use all cpu cores to inference, thank you

[2022-10-11 06:56] baicaiPCX commented on #11767
您好，您的邮件小皮已经收到啦！！！

[2022-10-11 17:18] OscarPedaVendere opened #13431 "[Bug] Could not run model optimizer with ONNX model"
##### System information (version)
- OpenVINO => 2022.1 (docker container dlstreamer/dlstreamer)
- Operating System / Platform => Ubuntu 22.04 LTS
- Problem classification: Model Conversion
- Framework: TensorFlow
- Model name: Custom RNN model

##### Detailed description
Hello. I'm running dlstreamer/dlstreamer on a fitlet2 device [https://fit-iot.com/web/products/fitlet2/](https://fit-iot.com/we

[2022-10-11 19:33] avitial commented on #12963
@yszhou2019  Glad you've managed to get better results with OpenVINO in your additional tests,

In my understanding, inference takes CPU. If we run inference with limited CPU and there are other steps taking CPU resources needed to be run after the inference, I think we cannot benefit more from async API. Is this right? (I will try this after holiday)

I believe this is generally correct. I'd stil

[2022-10-11 19:33] #12963 closed

[2022-10-11 19:53] avitial commented on #13094
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-10-11 19:53] #13094 closed

[2022-10-11 20:03] avitial commented on #12888
Closing this as it has been addressed in v2022.2 release. Feel free to reopen and ask any questions related to this topic.

[2022-10-11 20:10] avitial commented on #13035
@a3213105 could you provide steps to replicate and minimal sample reproducer? Also share a simple model reproducer.
Please also share the full error log thrown by the Model Optimizer (with _--log_level DEBUG_) and full command used.

[2022-10-11 20:28] ilya-lavrenov commented on #13412
@jiapei100 the system protobuf must be compiled with `-fPIC`, see https://github.com/protocolbuffers/protobuf/issues/1919

[2022-10-11 23:00] jiapei100 commented on #13412
@ilya-lavrenov
Great... I'm rebulding protobuf.
Oh, BTW, I happened to realize: I can ONLY successfully build static library, BUT failed to build dynamic library.

[2022-10-12 01:58] Iffa-Meah commented on #13319
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-10-12 01:58] #13319 closed

[2022-10-12 02:59] kc-w opened #13434 "[Bug]Error using paddleOCR model"
##### System information (version)
- OpenVINO => 2020.2
- Operating System / Platform => Windows10 64 Bit
- Compiler => Visual Studio 2019
- Model name: ch_PP-OCRv3_det_infer (if applicable)

##### Detailed description
I used the benchmark_app to test the paddleOCR model. Using GPU gives me an error at the following line
![image](https://user-images.githubusercontent.com/39193398/195239537-17b2124

[2022-10-12 04:01] zulkifli-halim commented on #13431
Hi @OscarPedaVendere, I replicate using your model and get the same error as yours. I also ran your ONNX model with [benchmark_app](https://docs.openvino.ai/2022.1/openvino_inference_engine_tools_benchmark_tool_README.html) and received this error:
[code]
I checked your ONNX model using Netron and it looks crumpled:
![image](https://user-images.githubusercontent.com/79680111/195237249-7e0d07e4-88e

[2022-10-12 05:20] mlukasze commented on #13434
Hey @kc-w
Thank you for reaching us out and sorry for your inconvenience.
We will check it out as soon as we can and will back to you. Stay tune :)

[2022-10-12 05:49] yuxu42 commented on #13434
@liubo-intel Could you please take a look?

@kc-w could you please clarify whether the issue happens with CPU or GPU or both in you side?

[2022-10-12 06:13] tomdol commented on #13431
@zulkifli-halim please create a jira ticket once you've received the model and assign it to me

[2022-10-12 06:44] kc-w commented on #13434
If this happens on the gpu, the cpu executes the following function normally
![](https://user-images.githubusercontent.com/39193398/195239537-17b21240-32a6-4481-8b6e-1e6c5034336d.png)

[2022-10-12 06:50] kc-w commented on #13434
this happens on the gpu, the cpu executes the following function normally
![](https://user-images.githubusercontent.com/39193398/195239537-17b21240-32a6-4481-8b6e-1e6c5034336d.png)

[2022-10-12 07:09] brmarkus commented on #13434
@kc-w can you share with Intel CPU and which Intel GPU you are using, is it an SoC with integrated iGPU or a discrete dGPU, please?
Which graphics driver version is installed in your environment?

Is it Python-code or C/C++-code? Not sure there is a semicolon at the end of your core.compile() line.
Can you name the Python/VisualStudioCode version you are using, please?

[2022-10-12 07:15] PiotrKrzem commented on #13434
I believe it's C++/VS 2019, as stated in the issue comment.

@kc-w Did you compile openvino with appropriate flags (DENABLE_INTEL_GPU=ON)?

[2022-10-12 07:28] kc-w commented on #13434
yes

[2022-10-12 07:37] art3na opened #13440 "[Bug] Memory grow and performance drop when using dynamic shape graph based nn model."
System information (version)
- OpenVINO => 2022.1.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

Detailed description

Memory grow and performance drop when setting.

core ov::core;
core.set_property("CPU",  ov::num_streams(24));
or
core.compile_model(model, "CPU", ov::hint::performance_mode(ov::hint::PerformanceMode::THROUGHPUT);

Model it self is graph based

[2022-10-12 07:44] kc-w commented on #13434
I use build_samples_msvc.bat for compiling, do not know how to set DENABLE_INTEL_GPU=ON,Can you tell me?
![image](https://user-images.githubusercontent.com/39193398/195280541-d5694e5c-6586-420d-9a0b-02cf225dd367.png)

[2022-10-12 07:57] kc-w commented on #13434
CPU is i7-9700
GPU is UHD Graphics 630 Driver version is 31.0.101.2111

[2022-10-12 07:59] mlukasze commented on #13440
hey @art3na
Thanks for rising this issue, let us check what is a possible reason of such behavior.
Someone will contact you back, probably with additional questions.
Stay tuned ;)

[2022-10-12 09:21] JulienMaille opened #13447 "[Bug] openvino reports OpenCL compatibility on non compatible Intel GPUs"
##### System information (version)
- OpenVINO => 2022.1 & 2022.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- Problem classification => Error message

##### Detailed description
When running inference with OpenCV compiled with OpenVino support on a PC with an **i7-3770 and an Intel HD4000**.
Some old Intel CPUs with an integrated GPU seems to be detected by Op

[2022-10-12 10:04] OscarPedaVendere commented on #13431
Hi. Thank you in advance for you support.
I don't know why you see the model crumpled i can successfully open it with an onnx viewer webapp:
[link to the image](https://user-images.githubusercontent.com/39262386/195312757-ad1ce169-9e54-4d45-b7a5-fc0e9f35c9e6.png)

However here's two of the scripts that build the network (network structure itself and model builder class):

[base_model.py.txt](https

[2022-10-12 11:35] Thunder-29 commented on #13008
@riverlijunjie I tried exporting the protobuf path into LD_LIBRARY_PATH but still it is failing.
I uninstalled protobuf libraries , installed earlier still it is throwing same error. Again I have installed protobuf 3.7.1 on my system by following few steps as:
Downloaded the 3.7.1 tarball from https://github.com/protocolbuffers/protobuf/releases.
unzip the folder
cd protobuf-3.7.1
./configure
make

[2022-10-12 17:10] andrei-kochin commented on #13116
@wang7393 do you have any updates for us?

[2022-10-12 17:11] andrei-kochin commented on #13160
@fanxiaochen456 do you have any updates for us?

[2022-10-12 17:17] andrei-kochin commented on #13395
@982118809 could you please try once again? seems like issue was resolved yesterday

[2022-10-13 01:21] 982118809 commented on #13395
OK, it can work now, thank you!

[2022-10-13 02:07] Iffa-Meah commented on #13440
@art3na could you provide these:
1. Relevant model files
2. Which OpenVINO sample did you use to test this? if you are using custom code, please help to share/describe
3. Relevant commands you used

[2022-10-13 03:17] zulkifli-halim commented on #13447
Hi @JulienMaille, you are using an old Intel CPU (gen 3). The supported CPU for OpenVINO is from 6th to 13th generation Intel Core. processor. For more info, you can refer to [Target System Platforms](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/system-requirements.html).

[2022-10-13 06:00] JulienMaille commented on #13447
Hi, yes I know this hardware is not support. But I was hoping the CPU generation could be detected to avoid trying to load a dll that will fail with the error message I posted above.

[2022-10-13 06:57] ilyachur commented on #13008
Hi @Thunder-29 you have this problems, because in one component you have dependencies on two different protobuf versions.
First of all let me ask you:
Can you migrate to the latest OpenVINO? In the latest version we use static dependency on protobuf, and it means that you shouldn't have such problems in your application.

[2022-10-13 07:39] hbalasu1 commented on #13431
Hi @tomdol
I have created JIRA for this case;

Ref : 94180

[2022-10-13 07:59] chengguizi commented on #12429
@Iffa-Meah  May i know for the two files you mentioned, where could I get a copy of them? Yes im installing openvino-dev from pip currently, and only available device currently is `CPU`. Wants to get `MYRIAD` working

[2022-10-13 08:18] hbalasu1 commented on #13411
Hi @EdjeElectronics, we have escalated this to our development team.

Ref: 94185

[2022-10-13 10:00] liubo-intel commented on #13434
Hi, @kc-w : about the 'ch_PP-OCRv3_det_infer' Paddle models you are using, is it dynamic models? if so, I think that maybe the reason why you can't run it successfully with OpenVINO GPU plugin.  OpenVINO CPU plugin supports dynamic models now. As far as I know, GPU plugin currently not fully support dynamic feature yet.

if so, you can have a try to use OpenVINO 'Model Optimizer' to convert this P

[2022-10-13 10:20] brmarkus commented on #12429
I just checked my local Docker container "openvino/ubuntu20_dev:2022.2.0" and can find the files inside, e.g.:
...
/opt/intel/openvino_2022.2.0.7713/runtime/lib/intel64/libopenvino_intel_myriad_plugin.so
...
/opt/intel/openvino_2022.2.0.7713/runtime/lib/intel64/pcie-ma2x8x.mvcmd
/opt/intel/openvino_2022.2.0.7713/runtime/lib/intel64/usb-ma2x8x.mvcmd
/opt/intel/openvino_2022.2.0.7713/runtime/3rdpart

[2022-10-13 12:01] kc-w commented on #13434
@liubo-intel  thank you very much for your help!

[2022-10-13 15:24] wwdok opened #13480 "[Bug]Can't determine channels dimension for input. Input shape is {1,1,192,192}, needed channels 3"
##### System information (version)

- OpenVINO=> : 2022.2.0-7713-af16ea1d79a
- Operating System / Platform => : Windows 64 Bit
- Compiler => :  Visual Studio 2017
- Problem classification => : Model Conversion

##### Detailed description

I want to convert my onnx model to openvino format with `mo`, but it says `Can't determine channels dimension for input. Input shape is {1,1,192,192}, needed cha

[2022-10-13 15:31] Thunder-29 commented on #13008
Hi @ilyachur , For now it is not possible to move to latest OpenVINO.  I tried this option but didn't worked for me.

[2022-10-13 22:26] ilya-lavrenov commented on #13412
FPIC is required to build dynamic libraries, for static ones it's not required

[2022-10-14 04:58] rkazants commented on #13480
Hello @wwdok,

The problem is with tte cmd-line. since you have gray-scale input, you can't use parameters `mean_values` and `scale_values`. They can be employed only in case RGB input. Please correct your cmd-line as follows:

'''
mo --input_model model.onnx --input_shape "[1, 1, 192, 192]" --data_type FP16
'''

[2022-10-14 05:07] Iffa-Meah commented on #13480
@wwdok your native ONNX seems to be supported by OpenVINO since it can be inferred with benchmark_app

<img width="544" alt="benchmark_onnx" src="https://user-images.githubusercontent.com/79643476/195766356-37263438-e003-4b00-b863-38fac423e8d0.png">

The conversion into IR with input shape defined are successful and able to be inferred:

<img width="602" alt="IR_inputShape" src="https://user-image

[2022-10-14 05:12] rkazants commented on #13480
Hello @wwdok,

OpenVINO supports input in gray-scale format as well. There is a problem with your cmd-line because you use `mean_values` and `scale_values` parameters that only targets input in RGB format for mean-scaling. Your gray-scale image does not need this pre-processing. Please correct your cmd-line as follows:

[code]

Regards,
Roman

[2022-10-14 05:19] jiapei100 opened #13485 "How can I specify VPU as my device to use ?"
I started by testing **hello_classification.py** as follows, it seems I've got to specify a **device_name**.
[code]

Then, I'd invest how to specify my **Movidius MyriadX** ?
➜  python git:(master) ✗ lsusb
......
Bus 001 Device 003: ID 03e7:2485 Intel Movidius MyriadX
......

Then, I checked the following **README.md** from sample **hello_query_device.py**, [Devices](https://github.com/openvinotoo

[2022-10-14 05:22] Iffa-Meah commented on #13480
@wwdok hope the explanation from @rkazants clears your issue.
If you don't have any other inquiries we'll proceed to close this ticket.

[2022-10-14 06:03] brmarkus commented on #13485
Which environment are you working in, under MS-Windows, under which Linux environment (assuming it's Linux, as you mentioned `lsusb`)? Operating directly on the host, or e.g. within a Docker container?

Which version of OpenVINO are you using, how have you installed it?

For Myriad-X (NCS2) it's ideal to use the offline or online installer (via https://software.intel.com/en-us/openvino-toolkit/cho

[2022-10-14 06:21] #13480 closed, assigned to rkazants, andrei-kochin, Iffa-Intel, Munesh-Intel

[2022-10-14 06:32] zulkifli-halim commented on #13447
Hi @JulienMaille. On Windows, OpenCL runtime is a part of the GPU driver, Intel HD4000 supports OpenCL 1.2 and it is not supported by OpenVINO. You may refer [here](https://docs.openvino.ai/2022.1/openvino_docs_install_guides_installing_openvino_windows.html#Install%252520GPU), this will help to check if you require driver installation

OpenVINO has a [hello_query_device sample](https://docs.openv

[2022-10-14 06:36] vladimir-paramuzov commented on #13447
@JulienMaille We target OCL 2.0+ indeed. I've implemented a [draft](https://github.com/vladimir-paramuzov/openvino/tree/ocl_1.2) of changes which add several things:
1. cmake option `INTEL_GPU_TARGET_OCL_VERSION` to control OCL API version used in GPU plugin (default is 200 == 2.0)
2. Check for supported OCL version in device detector. If plugin is compiled for OCL 2.0, but given device doesn't su

[2022-10-14 07:40] ilyachur commented on #13008
Hi @Thunder-29 , in this case looks like the issue can be solved only by changing the protobuf version and building or releasing the new OV version.

[2022-10-14 08:31] ilyachur commented on #13008
@Thunder-29 Can you manually rebuild OpenVINO 2021.4 with custom protobuf version?
The 2021.4 contains this protobuf limitations, you can use 2022 release version where we changed a way how we are using protobuf or you can manually rebuild OpenVINO 2021.4 version with updated protobuf version.
I am not sure that we will upgrade protobuf version in 2021.4 releases because it may affect other users.

[2022-10-14 08:52] zhaohb commented on #7273
@jgespino @avitial Have you made any progress？

[2022-10-14 09:20] riverlijunjie commented on #13008
@Thunder-29  you can follow this wiki to build openvino: https://github.com/openvinotoolkit/openvino/wiki#how-to-build but I'm not sure whether it still works for 2021.4. If any build issue please ping me.

[2022-10-14 09:22] Thunder-29 commented on #13008
Thanks @riverlijunjie I will do this and update.

[2022-10-14 09:38] ilyachur commented on #13008
@Thunder-29 BTW, you also can use legacy IE API for 2022 OpenVINO. It means that in case of migration to newer OpenVINO version you shouldn't change your application. I would like to highlight it because I don't know the reason why you cannot migrate to the latest OpenVINO, maybe if the reason is a migration to new API, I just would like to say that it is not mandatory to update application to Ope

[2022-10-14 09:41] jiapei100 commented on #13485
@brmarkus

Finally, thank you for your response...

I'm actually using OpenVINO under both

[code]

and
[code]

And, I successfully built **OpenVINO** for both systems from source, instead of installing via `pip`.

It looks I can specify **MYRIAD** as the device????

[2022-10-14 09:46] brmarkus commented on #13485
Thanks for the update - that's why it's important to provide information about the environment.

When building OpenVINO from publicly available source-code, then support for Myriad-X is not contained... as this is not open-source.
(other developers just copied some files from online/offline/Docker-installations, like see "https://github.com/openvinotoolkit/openvino/issues/12429")

[2022-10-14 09:51] art3na commented on #13440
I found that my issue is the same as this:
[https://github.com/openvinotoolkit/openvino/issues/11669](url)
And I suppose that there is no solution to this issue.

[2022-10-14 10:09] jiapei100 commented on #12429
@brmarkus
Where can I get the plugin support `MYRIAD` for both **Movidius 1** and **Movidius 2** ?

[2022-10-14 10:20] brmarkus commented on #12429
The support for "Movidius 1" ("NCS") has been stopped quite some time ago, would need to look-up older release-notes, don't know it out of my head.
Myriad-X ("Movidius 2") (NCS2) is still supported - but not in open-source version of OpenVINO, and won't be installed via `pip`.
You would need to install OpenVINO via online- or offline-installer.

Some people were able to just add some libraries and

[2022-10-14 10:36] Thunder-29 commented on #13008
Okay @ilyachur I will try this option as well.

[2022-10-14 12:00] triwahyuu opened #13491 "[Bug] Incorrect result for ArgMin ONNX operator"
##### System information (version)

- OpenVINO => 2022.2
- Operating System / Platform => Ubuntu 20.04
- Compiler => from pip
- Problem classification => :grey_question:

##### Detailed description
inference produce an incorrect result on ArgMin ONNX operator when using larger input size.

##### Steps to reproduce
run the code below, I have compared the result to pytorch and onnxruntime as well

[

[2022-10-14 13:01] JulienMaille opened #13493 "[Bug] Cannot run inference on OpenVino CPU after update to OpenVino 2022.2"
##### System information (version)
- OpenVINO => 2022.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- Problem classification: Model Inference
- Framework: onnx infered through OpenCV
- Model name: Unet/ResNet

##### Detailed description
Copy of https://github.com/opencv/opencv/issues/22640

We've been inferring a resnet based dnn for years using OpenCV, with su

[2022-10-14 13:02] JulienMaille commented on #13447
Thank you very much, I will compile that branch and report back

[2022-10-14 13:19] dmitry-gorokhov commented on #13440
@art3na
Higher memory consumption in case of dynamic shapes is something expected. However:
- It shouldn't growing continuously
- It shouldn't be several times higher
In order to help with our particular case with need information requested by @Iffa-Meah

[2022-10-15 08:07] JulienMaille commented on #13493
@dmitry-gorokhov for additional information, I'm inferring on dynamic shapes

[2022-10-15 09:51] JulienMaille commented on #13447
@vladimir-paramuzov How am I supposed to compile the GPU plugin if my build machine does not have an Intel GPU?
I followed the readme https://github.com/openvinotoolkit/openvino/wiki/BuildingForWindows#build-steps but the GPU drivers won't install since no relevant hardware is detected

[2022-10-17 01:05] kc-w opened #13498 "Are there plans to add support for dynamic models to Intel gpu plugins?"

[2022-10-17 04:10] ilyachur commented on #13498
Yes we have a plan to do it.
@vladimir-paramuzov @jane-intel FYI

[2022-10-17 04:32] Iffa-Meah commented on #13485
@jiapei100 hope the explanation from @brmarkus regarding MYRIAD for OpenVINO (build from source) is clear for you.

If you are considering to use OV packages installed using `pip` with MYRIAD, here's what you can do to make it works:
1. Copy both libopenvino_intel_myriad_plugin.so file and usb-ma2x8x.mvcmd from a working OV environment
2. Paste them into yourpath/lib/python3.8/site-packages/openvi

[2022-10-17 04:50] Iffa-Meah commented on #13491
@triwahyuu could you provide:
1. Your model files
2. Did you infer the model and evaluate using official OpenVINO samples or all of them are based on custom infer code?

[2022-10-17 05:21] triwahyuu commented on #13491
if you need the exported model, here you go: [issue-model.zip](https://github.com/openvinotoolkit/openvino/files/9797107/issue-model.zip)

[2022-10-17 06:13] vladimir-paramuzov commented on #13447
@JulienMaille You don't need GPU drivers to compile the plugin (only to run inference). Any issues with compilation using steps from the guide?

[2022-10-17 06:35] Iffa-Meah commented on #13491
@triwahyuu

Your model seems to be supported by OpenVINO:

![ovbenchmark2022_2](https://user-images.githubusercontent.com/79643476/196104918-483ccdcc-3128-4972-bd22-0531414cb476.png)

I tried your custom code in the latest and previous version OV.

Previous:
![previous](https://user-images.githubusercontent.com/79643476/196105038-2e1553ef-ad67-4a7c-ae7d-d20d13800f33.png)

Latest:
![latest](https:/

[2022-10-17 06:48] JulienMaille commented on #13447
[code]
no errors but I did not compile the `openvino_intel_gpu_plugin.dll` see

![image](https://user-images.githubusercontent.com/182520/196107634-2dc7b574-004c-496f-b8a9-107cc8782248.png)

[2022-10-17 06:55] triwahyuu commented on #13491
let me check again for a moment since I have already deleted my environment that has the bug.
By the incorrect result I mean it should fail in the assert on the last line, the result printed on openvino should be different than other inference engine.

[2022-10-17 07:40] triwahyuu commented on #13491
here is the eror I mentioned
![image](https://user-images.githubusercontent.com/18413229/196117365-11b0fc6e-7fd3-45e6-af15-bd3947ad7603.png)

[2022-10-17 07:42] triwahyuu commented on #13491
you could reproduce probably the bug with this dockerfile
[code]

[2022-10-17 08:20] yszhou2019 commented on #13394
@ilya-lavrenov Hi, now I correctly used `ov::inference_num_threads` to set the property of ov::core. But I noticed that actural CPU cores used by OpenVINO didn't change(whose value is still 4, I got this from `htop`). It seems I still cannot control the cores used by OpenVINO. Here I gave out a sample code, in which `inference_num_threads` varied from 1 to 8 and corresponding console outputs.
[cod

[2022-10-17 08:42] yszhou2019 commented on #13394
Now I know the conclusion previously I got was wrong. Utilization 50% was measured during model compilation instead of inference. Acturally, it seems I cannot benefit more from ov::inference_num_threads. Thank you!

[2022-10-17 08:42] #13394 closed

[2022-10-17 10:22] shashank332 opened #13508 "Error converting shape to a TensorShape: Failed to convert 'masked_array(data=[1, --, --, 3]"
Model Optimizer arguments:
Common parameters:
	- Path to the Input Model: 	None
	- Path for generated IR: 	/home/obs-56/.
	- IR output name: 	saved_model
	- Log level: 	ERROR
	- Batch: 	Not specified, inherited from the model
	- Input layers: 	Not specified, inherited from the model
	- Output layers: 	Not specified, inherited from the model
	- Input shapes: 	Not specified, inherited from the model

[2022-10-17 12:04] JulienMaille commented on #13447
I was able to compile it from msvc. I will try it asap, however potential deployment is blocked by #13493

[2022-10-17 15:40] Alkhaddour opened #13513 "OpenVino model generates non-deterministic output"
##### System information (version)
- OpenVINO => 2021.4
- Operating System => Ubuntu - 20.04.4 LTS (Focal Fossa)
- Environment:
  1) conda==4.11.0
  2) python==3.8.13
  3) openvino-dev[onnx,pytorch,tensorflow2]==2021.4.2
  4) timm==0.6.7

##### Detailed description
ViT models converted from `timm` (pytorch-based) to `onnx` to `OpenVino` produce different outputs for the same input.

##### Steps to

[2022-10-17 16:23] mbencer commented on #12754
Hi @Jsy0220, I've tried to reproduce your problem and the current status is:

1. Scenario: Provided external library via MO `--extension` argument (extension.zip)
I am not able to reproduce the problem "free invalid pointer" on the version 2022.2 (hash af16ea1) and on the current master (built from source, using both gcc and clang).

2. Scenario: Registration core op via `ov::OpExtension` and fron

[2022-10-17 16:34] avitial commented on #12944
Closing this. Feel free to reopen to provide additional information and ask questions related to this topic.

[2022-10-17 16:34] #12944 closed

[2022-10-17 17:16] avitial commented on #7273
@zhaohb I don't have access to same Xeon Skylake processor as you do. But testing on Icelake Intel® Xeon® Platinum 8368 CPU I can see some improvement in FullyConnected layers between OpenVINO versions (2021.4.1 vs 2022.2). This test was using the model you have shared with us.

In 2022.2 release 5 of 19 FullyConnected layers run as _brgemm_avx512_FP32_ and 14 of 19 as _jit_gemm_FP32_, whereas in

[2022-10-17 17:23] avitial commented on #13035
Closing this. Feel free to reopen to provide additional information and ask questions related to this topic.

[2022-10-17 17:23] #13035 closed

[2022-10-18 01:33] Iffa-Meah commented on #13508
@shashank332 Could you provide these:

1. Model files
2. Model & its topology, eg: Model: Tensorflow, Topology: inception_v1
3. Commands that you use with OpenVINO Model Optimizer

[2022-10-18 03:11] Iffa-Meah commented on #13513
@Alkhaddour I checked your custom code:

![custom](https://user-images.githubusercontent.com/79643476/196326719-a80069eb-02d8-4587-9025-5ee68a627028.png)

benchmark_app native ONNX:

![onnx](https://user-images.githubusercontent.com/79643476/196326798-96d4fa0d-32c0-4579-85e7-b421bf74731b.png)

benchmark_app IR:

![xml](https://user-images.githubusercontent.com/79643476/196326867-003401c0-fd06-4f6e

[2022-10-18 03:34] yaswanthan commented on #13508
1. I have used TensorFlow model and topology is efficientdet-d0
2. commands used for model optimizer is " mo --saved_model_dir /home/obs-56/effi/saved_model
3.how to attach the model files? can I send you through mail

[2022-10-18 03:39] shashank332 commented on #13508
1. I have used TensorFlow model and topology is efficientdet-d0
2. commands used for model optimizer is " mo --saved_model_dir /home/obs-56/effi/saved_model
3. how to attach the model files? can I send you through mail

[2022-10-18 04:11] shashank332 commented on #13508
I have attached the model files
https://drive.google.com/drive/folders/10HQKvcZTFqXL7jnOZNqemMs60Sr9vRVL?usp=sharing

[2022-10-18 06:27] shashank332 commented on #4305
How to take model optimizer from issue #4772

[2022-10-18 06:39] trinhgiahuy commented on #11801
Hello,

I installed OpenVINO-dev for Ubuntu 20.04 server obtained from the official Raspberry Pi imager as well but encounter same error. How can I solve it.

![image](https://user-images.githubusercontent.com/65078173/196354482-cbbd444c-f918-42d2-8b44-f6e0c11f9368.png)

[2022-10-18 06:40] mbencer commented on #13491
I am not able to reproduce the problem on version 22.2 and on the current master (like @Iffa-Meah). What's more, I have the same results for provided docker configuration:
![image](https://user-images.githubusercontent.com/11331953/196354682-b1edb569-4b93-4b6c-9944-2d5a4dd1a817.png)

[2022-10-18 06:44] triwahyuu commented on #13491
@mbencer any idea why I got the eror? I have tried to rebuild the docker image several times and I still got the same error.

[2022-10-18 06:45] rkazants commented on #13508
Hi @shashank332! I see that the model passing to MO is not frozen and we encounter a problem with `StatefulPartitionedCall` operation.

Let me figure out why MO is unable to freeze model and come back.

Best regards,
Roman

[2022-10-18 06:47] LarryXing0 opened #13519 "terminate called after throwing an instance of 'ov::Exception' terminate called recursively what(): [ REQUEST_BUSY ] terminate called recursively terminate called recursively"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues, Stack Ov

[2022-10-18 07:00] shashank332 commented on #13508
hi @rkazants
Thanks for the update waiting for your reply.

regards,
Shashank

[2022-10-18 07:09] Iffa-Meah commented on #13508
@shashank332 I managed to convert and infer your model.

Model optimizer:
<img width="705" alt="mo" src="https://user-images.githubusercontent.com/79643476/196360492-bb8eeb2b-2d17-4105-bfd4-a889b78b8bee.png">

Infer:

<img width="595" alt="benchmark" src="https://user-images.githubusercontent.com/79643476/196360755-b07d647d-e1e3-4d4b-94e9-6c4c62c8bad9.png">

[2022-10-18 07:36] Alkhaddour commented on #13513
@Iffa-Meah, you are using OpenVINO-2022.1.0, the issue is raised for the previous version 2021.4.2
In the previous version, I got the following output from the OpenVINO model (using the exact same input):
[code]

[2022-10-18 08:38] yuechengmao opened #13523 "[Bug] error when include windows.h"
##### System information (version)

- OpenVINO => master branch (2022.2.0)
- Operating System / Platform => Windows 11 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

I'm trying to use "Sleep" function from <Windows.h>, but when the line "#include <Windows.h>" is added to the file
"openvino\samples\cpp\benchmark_app\main.cpp". It cannot pass the build progress. build error is

[2022-10-18 08:40] ilya-lavrenov commented on #13523
Hi @yuechengmao

Add `#define NOMINMAX`. Please, read https://stackoverflow.com/questions/13416418/define-nominmax-using-stdmin-max

[2022-10-18 08:40] #13523 closed

[2022-10-18 08:45] youki-sada commented on #12838
I tried legacy extension mechanism by using your Template addition example and onnx MO.
https://github.com/openvinotoolkit/openvino/blob/2022.1.0/docs/template_extension/old/op.hpp#L14

I used following MO command, onnx files, and Template.py on version 2022.1. However I got `[ ERROR ]  Cannot create Template layer 1 id:1 from unsupported opset: custom_opset` error.

Do you have any idea to fix th

[2022-10-18 09:41] tiezhuli001 opened #13527 "[Bug]"
- OpenVINO => 2022.2
- Operating System / Platform => ubuntu 22.04
- Compiler => VS Code
- Problem classification: Model Conversion
- Framework: ONNX

##### Detailed description

error:
[code]
description:
As above, I don't know what to do to fix it. It looks like the outputs of reasoning are dynamic, but when constructing tensors, the argument is ov::Shape, which is static

##### Steps to reprodu

[2022-10-18 09:45] tiezhuli001 commented on #13527
python code will run, c++ will fail
------------
            encoder_inputs = {
                'chunk': feats_ov,
                'offset': offset_ov,
                'att_cache': att_cache_ov,
                'cnn_cache': cnn_cache_ov
            }
            encoder_request.infer(encoder_inputs)

[2022-10-18 09:49] tomdol commented on #13527
Could you please provide a full reproducer and the model(if possible)? Please share the working python script too for reference.
From the information you provided only this shape looks suspicious {1, 8, 16, 0} and this would for now be my hint on what to investigate.

[2022-10-18 09:56] shashank332 commented on #13508
Hi @Iffa-Meah
I managed to convert into IR but I am new to openvino platform. Is there any way to convert into static shape?

while reading network using the following command:

ie = IECore()
net = ie.read_network(saved_model.xml,saved_model.bin)

we encounter the following error:
![dynamic_shape](https://user-images.githubusercontent.com/92209382/196398623-44bc0a90-32f4-4fb5-ab94-0a9acfb8b905.png

[2022-10-18 10:08] rkazants commented on #13508
Hi @Iffa-Meah, you use API 1.0 that does not support dynamic shapes. You need to use API 2.0 for dynamic shapes. Here an example of how to infer for dynamic shapes using API 2.0:

[code]

In order to convert a model with static shapes, use MO `--input` or `--input_shape` options

Best regards,
Roman

[2022-10-18 10:30] tiezhuli001 commented on #13527
ok,python:
----
            encoder_model = core.compile_model(args.encoder_openvino, 'CPU')
            encoder_request = encoder_model.create_infer_request()
            # encoder inference
            feats_ov = ov.Tensor(array=feats.numpy(), shared_memory=True)
            offset_ov = ov.Tensor('int64', [])
            offset_ov.data[()] = 0
            att_cache_ov = ov.Tensor('float32', [12,

[2022-10-18 11:14] ilyachur commented on #12838
Hi @youki-sada

Could you use new extensions and new frontends for the MO?
But also add the legacy extensions only in order to support blocked CPU extensions in the runtime?

CC @slyalin @andrei-kochin

[2022-10-18 12:48] rkazants commented on #13527
Hi @tiezhuli001!

You have empty input tensor of shape `[12, 8, 0, 128]` that is passing along with another non-empty tensor of shape `[12, 1, 512, 7]` to `Eltwise` operation. It looks an invalid case to have empty and non-empty tensors for Eltwise, physically incorrect.

If you have a model from the original framework, does the framework infer with such shapes?

Best regards,
Roman

[2022-10-18 14:10] youki-sada commented on #12838
@ilyachur Sorry I couldn't understand your advice and getting confusing about the legacy extension.

You meant we can add following blocked layout support on new extension or we can mix new extension and old one?
https://github.com/openvinotoolkit/openvino/blob/cdb9bec7210f8c24fde3e416c7ada820faaaa23e/docs/template_extension/old/cpu_kernel.cpp#L91-L93

I already implemented my custom layer using n

[2022-10-18 16:15] ilyachur commented on #12838
Hi @youki-sada,

No I meat that maybe for your case will be easier to have 2 types of OpenVINO extensions:

- New extension to convert ONNX model to IR with new frontend and without legacy Python MO extensions
- Old OV extension for OV runtime only in order to execute your custom layer on CPU with blocked memory layout

Also for the your current problem with legacy python MO extension:

- Do you g

[2022-10-18 21:18] OscarPedaVendere commented on #13431
Thank you very much. Just let me know if you have any updates on this any time soon.

[2022-10-19 01:52] Iffa-Meah commented on #13491
@triwahyuu if you set up everything correctly as we did, technically you should be getting the same result as ours.
Our results are based on 3 different environments and this should suffice to prove that the model should work.

Perhaps you could try to use [OpenVINO installed through pip](https://pypi.org/project/openvino-dev/) without docker since you mentioned you had tried to rebuild the docker

[2022-10-19 01:55] triwahyuu commented on #13491
@Iffa-Meah theoretically does the docker version might have any impact here? since I don't think there is any other difference compared to your environment.

[2022-10-19 02:00] Iffa-Meah commented on #13513
@Alkhaddour your inferencing results (Pytorch and OV) seem to be different no matter in which version.

<img width="808" alt="Untitled" src="https://user-images.githubusercontent.com/79643476/196579202-e94c3f98-bf6a-4f48-a506-b5c1c35b417f.png">

We'll further investigate this and get back to you with possible workaround.

[2022-10-19 02:02] triwahyuu commented on #13491
@Iffa-Meah I have tested it on my local machine without docker, and still got the same result on 2022.2.0
![image](https://user-images.githubusercontent.com/18413229/196579840-e52ceb98-523d-4605-8c58-8b84981b29e9.png)

[2022-10-19 02:06] Iffa-Meah commented on #13412
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-10-19 02:06] #13412 closed

[2022-10-19 02:58] LarryXing0 commented on #13519
thanks, this is a self-driving platform with one cpu and seven cameras.  i want to start a thread for per camera, namely seven threads for detection and per thread has a detect class instance.the above issue was generated own to my stupid that define detect class as a static class. now I fixed it. there is another problem that this
` auto t3 = std::chrono::steady_clock::now();
infer_request_.set_i

[2022-10-19 03:44] youki-sada commented on #12838
I see! I will try this procedure.

The error was from MO. I couldn't make an IR xml. All message for MO failure is attached bellow.
It seems shape_infer of Template layer is succeeded, but after that `[ ERROR ] Cannot create Template layer 1 id:1 from unsupported opset: custom_opset`.
[mo_full_log.txt](https://github.com/openvinotoolkit/openvino/files/9816617/mo_full_log.txt)

[2022-10-19 03:58] ilyachur commented on #12838
@slyalin @andrei-kochin @jane-intel Can you advise? Is it expected?

[2022-10-19 04:25] youki-sada commented on #12838
This is the IR xml by new extension that I created for simple addition example.
[template_ir.zip](https://github.com/openvinotoolkit/openvino/files/9816809/template_ir.zip)
It is successfully executed via new libopenvino_template_extension.so, but failed via old libtemplate_extension.so.
### new .so execution
[code]
### old .so execution
[code]

[2022-10-19 04:33] Iffa-Meah commented on #13491
@triwahyuu probably there's something specific in your environment that had been causing this.
We'll get back to you with some other reasoning/workaround asap.

[2022-10-19 04:35] youki-sada commented on #12838
It seems the error is coming from core.add_extension. I tied it via Python API but I faced same error as benchmark_app
[code]

[2022-10-19 04:53] shashank332 commented on #13508
Hi @avitial @rkazants @Iffa-Meah @Munesh-Intel , My output layer is in dynamic shape. So, when i am try to infer a following error is occuring. Is there anything to do
![Screenshot from 2022-10-19 10-20-33](https://user-images.githubusercontent.com/92209382/196600689-91a32431-b167-4335-aa2e-19e28d8de026.png)

[2022-10-19 05:06] rkazants commented on #13508
@shashank332, please provide the full script you are running.

[2022-10-19 05:18] shashank332 commented on #13508
Hi @rkazants , We used the below link for reference to infer the model. I will also share the script here.

Refered Link: **https://docs.openvino.ai/latest/notebooks/002-openvino-api-with-output.html**

Script: **https://drive.google.com/file/d/1UCVAB6pjq8v3HWM9T5ubz5-gipwCTLd_/view?usp=sharing**

[2022-10-19 05:22] rkazants commented on #13508
@shashank332, use `output_layer.get_partial_shape()` to get a partial shape for dynamic shape.

[2022-10-19 05:57] ilyachur commented on #12838
Hi @youki-sada, unfortunately if you want to use 2022.1 release you need to modify benchmark app:

[code]

Also you can check this PR: https://github.com/openvinotoolkit/openvino/pull/13543 I created it in order to fix your issue for the master branch.

[2022-10-19 06:47] rkazants commented on #13508
@shashank332, am I correct that bboxes output has 0 output index in TF2?
@popovaan, could you please check that we save the same order of outputs like in TF2 for this particular model?

Thanks,
Roman

[2022-10-19 06:55] youki-sada commented on #12838
Great, thank you. Now I could add old extension and got same error of `unsupported opset`. I think I need to learn the custom opset and custom domain of old extension.
[code]

[2022-10-19 06:59] tiezhuli001 commented on #13527
@rkazants
yes,I found this problem.
There was something wrong with the code, the error has been fixed, thank you very much！

[2022-10-19 06:59] #13527 closed

[2022-10-19 07:19] ilya-lavrenov commented on #13519
@dmitry-gorokhov could you please advice about unstable performance?

[2022-10-19 09:18] LarryXing0 commented on #13519
can i set a  cpu mask ids for multi-thread infer.as the following
cpu_masks: [0x60, 0x100080, 0x20000, 0x2000, 0x1000, 0x1200, 0x4000] .thanks for your reply

[2022-10-19 12:48] popovaan commented on #13508
@rkazants As this model is saved using tf.saved_model interface it returns inference result as a dictionary, so outputs order cannot be preserved.

@shashank332 regarding output names, currently we don't save original output names for saved_model format.
After model saving model outputs are renamed to Identity_<output index> and these names are present in the converted model.
Here is the mapping o

[2022-10-19 12:49] rkazants commented on #13508
@shashank332, I think the original support request is resolved. Let us close this ticket.

Thanks,
Roman

[2022-10-19 13:32] mbencer commented on #13177
Hello @PaulCahuana!
The support of `FusedConv` was added in https://github.com/openvinotoolkit/openvino/pull/13553
The model `lm_model3_opt.onnx` can be loaded and inference now.
Tested via `benchmark_app` (`./benchmark_app -shape [1,3,224,224] -m lm_model3_opt.onnx`).

Please let me know, if the change conver all your cases and if we can close the issue.

[2022-10-19 13:45] campos537 commented on #13177
Wow, that is really great! This model is awesome!

[2022-10-19 13:48] triwahyuu commented on #13491
in any case, can you guys run using this docker image that I built: `triwahyuu/kotakringan:openvino`
I have tried this image in 5 different machine (in ubuntu 20.04, 18.04, and 16.04) and got the same error.

[2022-10-20 00:12] youki-sada commented on #12838
@ilyachur I am now trying to use nChw8c or nChw16c. Firstly, I added two convolutional layers before and after the custom addition layer. And then, I checked a memory layout of conv layer output and I found that the layout is abcd16b (nChw16c). Thus, I modified following lines by 16.
https://github.com/openvinotoolkit/openvino/blob/cdb9bec7210f8c24fde3e416c7ada820faaaa23e/docs/template_extension/o

[2022-10-20 01:38] Iffa-Meah commented on #13508
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-10-20 01:38] #13508 closed

[2022-10-20 03:07] ilyachur commented on #12838
Hi @youki-sada thank you for information.

@dmitry-gorokhov Could you advise?

[2022-10-20 09:31] eaidova commented on #13513
@Alkhaddour, looks like onnx model produced by torch.export is not correct, I just added running model via onnxruntime to make sure that onnx itself produces the same results as pytorch, but it gives the same behavior as openvino, the code below:

[code]

[2022-10-20 10:14] eaidova commented on #13513
@Alkhaddour I little bit confused parameters which you provide for timm. if I right remember, vit has pre-trained models only for 1000 classes in imagenet, so combination `pretrained=True` and `num_classes=1` lead to random weights initialization for last layer (please see [here](https://github.com/rwightman/pytorch-image-models/blob/475ecdfa3d369b6d482287f2467ce101ce5c276c/timm/models/helpers.py#

[2022-10-20 11:37] ilyachur commented on #12754
@Jsy0220 Could you try this PR: https://github.com/openvinotoolkit/openvino/pull/13573

Does it help you to avoid problems?

[2022-10-20 14:33] manuel-mocanu opened #13579 "[Bug] openvino-2022.1.0 cannot be installed. Mirror sync in progress?"
I'm trying to install openvino-2022.1.0 and I get the following errors:
[code]
[code]
OS: Ubuntu 20.04.5 LTS.

Thank you!

[2022-10-20 15:58] chengguizi commented on #12429
@brmarkus

May I know where did you get the docker file? Does it come directly with those files?

I could see there are some docker files here
https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_docker_linux.html#getting-a-prebuilt-image-from-provided-sources

[2022-10-20 16:02] brmarkus commented on #12429
You can find all Dockerfiles of what and how OpenVINO provides publicly under "https://github.com/openvinotoolkit/docker_ci".

[2022-10-20 21:41] manuel-mocanu commented on #13579
I tried installing it on a local machine (Intel NUC) and also in a Docker image.

Yes, but the proxy settings haven't changed, and it was working 1 day ago.

No, Europe.

[2022-10-21 05:02] rkazants commented on #13491
Hi @triwahyuu!

Could you please tell - are you able to reproduce the issue if you generate IR using 2022.1 and infer it using 2022.2?
I am going to understand if the problem with MO or on the plugin side.

Thanks,
Roman

[2022-10-21 05:24] mlukasze commented on #13579
Let us check this case, looks like something we experienced few days ago.

[2022-10-21 05:28] triwahyuu commented on #13491
Hi @rkazants, I use the onnx model directly on inference, so I can not try as you told. And I haven't tried this problem on openvino IR.

[2022-10-21 05:33] rkazants commented on #13491
@triwahyuu, can you generate IR using MO and pass it to `read_model` because the conversion pipeline to `ov::Model` is the same for both ways MO and direct onnx format reading? So we can localize the problem if it is inside either conversion or on the plugin side.

Regards,
Roman

[2022-10-21 06:39] hbalasu1 commented on #13491
Hi @triwahyuu
when I run your docker images that you generated, with the command
`docker run -it triwahyuu/kotakringan:openvino`

I can see the error message AssertionError occur, but how can I access your images virtual environment so that I can help you debug on the issue ?

[2022-10-21 06:40] triwahyuu commented on #13491
@rkazants Okay will try that.

[2022-10-21 06:43] triwahyuu commented on #13491
@hbalasu1 can you elaborate what you mean by "access your images virtual environment"?
the dockerfile to generate the image is the same as in [this comment](https://github.com/openvinotoolkit/openvino/issues/13491#issuecomment-1280426762), I just added the script I have described in the description and run it.

[2022-10-21 06:55] yszhou2019 opened #13585 "[API] Any API to avoid output tensor copy?"
Hi, community.
I choose to use OpenVINO library to deploy some ML model to productions. I wonder how can I skip the output tensor copy to std::vector. Is there any way to achieve the memory copy elision? Thank you!

Currently, the code is like:
[code]

[2022-10-21 07:17] tomdol commented on #13585
Hi, you can use the values stored in the Tensor directly without copying them to an intermediate container. Have a look at https://github.com/openvinotoolkit/openvino/blob/master/src/core/include/openvino/runtime/tensor.hpp#L165-L168
[code]

[2022-10-21 07:17] jiapei100 opened #13586 "[Bug] How to load .yml models from open_model_zoo ?"
##### System information (version)

- OpenVINO => 2022.2.0
- Operating System / Platform => Ubuntu 22.04
- Compiler => gcc/g++ 11.2.0
- Problem classification: testing **.yml**  from [open_model_zoo](https://github.com/openvinotoolkit/open_model_zoo)
- Framework: Googlenet
- Model name: googlenet-v1

##### Detailed description
Just wanna test out how to load **.yml** models downloaded from [open_m

[2022-10-21 07:44] eaidova commented on #13586
@jiapei100 let's me explain how it works :)
sample accepts models in OpenVINO IR format (it represented by `.xml` with topology and `.bin` file with weights. Open Model Zoo does not store models itself, it provides a way to download and convert models via tools. So before starting work with models from open model zoo you need to call following commands (please also make sure that you have installe

[2022-10-21 08:31] triwahyuu commented on #13491
@rkazants I have tried as you suggested, and got the error when converting from both version 2022.2.0 and 2022.1.0 (I run both of the model on 2022.2.0)

[2022-10-21 11:52] tersekmatija opened #13590 "Model graph from blob"
Hey, I am wondering if there already exists a tool/some API that allows you to read and obtain a computational graph directly from compiled blob for MyriadX, rather than from IR.

Thanks,
Matija

[2022-10-21 11:59] hbalasu1 commented on #13491
Hi @triwahyuu can I know your python version ?

[2022-10-21 12:02] triwahyuu commented on #13491
@hbalasu1 I use default installation of pyython3 from ubuntu 20.04, so it's python3.8

[2022-10-21 12:22] trinhgiahuy opened #13592 "Inference Engine cannot find ie_api.so"
##### System information (version)

- OpenVINO=> 2022.2.0
- Operating System / Platform => Ubuntu 20.04 LTS Server from Rasberry Pi Imager
- Compiler => gcc 9.4.0
- Python => 3.8

##### Detailed description

##### Steps to reproduce

I installed OpenVINO toolkit [l_openvino_toolkit_ubuntu20_2022.2](https://storage.openvinotoolkit.org/repositories/openvino/packages/2022.2/linux/l_openvino_toolkit_u

[2022-10-21 15:30] hbalasu1 commented on #13491
Hi @triwahyuu
I am able to reproduce your issue now.
To solve your issue, you need to run setupvars.sh before executing the python script

[code]

This will resolve your issue
Hope this information help.

[2022-10-21 15:36] triwahyuu commented on #13491
Hi @hbalasu1, what is missing in the environment that running setupvars.sh solved the problem?
I installed openvino via pip, and couldn't find the bash script anywhere. And also I need to run this safely in a minimal environment so I need to know the solution precisely.

[2022-10-21 15:57] mosdav opened #13594 "unsupported layer type "ScatterNDUpdate" despite the said in doc"
##### System information (version)
- OpenVINO => 2022.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion

##### Detailed description
 - According to the [doc](https://docs.openvino.ai/2022.2/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html#onnx-supported-operators), the op `ScatterND` is supported.
 - Yet,

[2022-10-21 16:01] tobiasmo1 commented on #13579
It appears to have been a problem with global or regional caching. The cache has been re-purged. Could you please try again and let us know if this is working for you?

[2022-10-21 16:22] hbalasu1 commented on #13491
Hi @triwahyuu
You are right, when I run setupvars.sh, the python script will pass with all 4.
When there are no setupvars.sh is performed, Openvino will show a value of 8 while other show the value of 4.
I will further debug the issue and get back to you soon.

[2022-10-21 18:53] ilya-lavrenov commented on #13592
Is it ARM platform?

[2022-10-21 18:56] ilya-lavrenov commented on #13590
There is no such way. Compiled blob represents just a raw stream of data which is transferred from host to device. It does not contain any auxiliary information like model structure.
So, once you stored model to compiled blob, some info is lost

[2022-10-21 18:59] ilya-lavrenov commented on #13594
It's supported by OpenVINO, but OpenVINO has multiple execution devices and not all operators are supported by all devices. Please, check https://docs.openvino.ai/2022.2/openvino_docs_OV_UG_supported_plugins_Supported_Devices.html#supported-layers

[2022-10-21 19:03] trinhgiahuy commented on #13592
Yes it does. Is it possible to install from source for Raspberry Pi 3b as I cannot see in supported device list - only Raspberry Pi 4) or should I cross compile for ARM using Docker as this issue #8343 https://github.com/openvinotoolkit/openvino/issues/8343.

Sorry I am newbie to this.

[2022-10-21 19:06] ilya-lavrenov commented on #13592
From the `l_openvino_toolkit_ubuntu20_2022.2.0.7713.af16ea1d79a_x86_64` I see you have downloaded a package for `x86_64`.  I suggest trying [l_openvino_toolkit_debian9_arm_2022.2.0.7713.af16ea1d79a_armhf.tgz](https://github.com/openvinotoolkit/openvino/releases/download/2022.2.0/l_openvino_toolkit_debian9_arm_2022.2.0.7713.af16ea1d79a_armhf.tgz) from [here](https://github.com/openvinotoolkit/openv

[2022-10-21 19:11] trinhgiahuy commented on #13592
Hello ilya-lavrenov it is 64 bits OS

"""
pi@pi:~$ uname -a
Linux pi 5.4.0-1073-raspi #84-Ubuntu SMP PREEMPT Sat Oct 15 11:13:36 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux
pi@pi:~$ uname -i
aarch64
"""

[2022-10-21 19:13] mosdav commented on #13594
@ilya-lavrenov according to the link the op DOES being supported under MYRIAD/VPU (`-d MYRIAD` is the device used in the CLI above). So either doc should be changed? or this is a bug?

[2022-10-21 22:24] avitial commented on #13594
@mosdav Does the IR model with ScatterNDUpdate run with benchmark_app?
Afaik ScatterND is not supported by VPU plugins, so documentation may need to be updated to reflect this. Let me confirm and get back to you.

In case you are using PyTorch check this out and see if its relevant to your model https://github.com/openvinotoolkit/openvino/issues/3882#issuecomment-834382914.

[2022-10-21 22:39] mosdav commented on #13594
@avitial thx for taking a look

Nope, failed w/ the very same error message from the model compiler tool.
[code]

Will wait for your confirmation if we face a doc hiccup

[2022-10-22 03:43] yszhou2019 commented on #13585
I knew it. Thy reason why I want to use std::vector is we don't want to modify the application interface and std::vector is more modern rather than raw pointer to the buffer. So, OpenVINO doesn't support infer and generate output to a defined tensor?

Maybe I can use some std class like `std::span` to achieve this. Anyway, thank you! @tomdol

[2022-10-22 03:59] yszhou2019 commented on #13585
Emmm, I think using an raw pointer may be not a good choice if code like this.
[code]

[2022-10-22 08:49] JFL888 commented on #10617
嗨，你好！你是怎么解决openvino转换成int8后有问题的？我转换成int8后map是0

[2022-10-23 12:51] yszhou2019 opened #13601 "[Bug] Model compilation takes too much memory in cpp"
##### System information
- OpenVINO => 2022.2.0
- Operating System / Platform => Linux 64 Bit
- Compiler => g++
- Problem classification: Model Conversion
- Framework: PyTorch
- OS: Linux f93eccdcf762 3.10.0-1160.76.1.el7.x86_64
- Model name: HiFiGAN
- Max memory: **15.3GB**

##### Detailed description
I often follow the following procedure to load an ONNX model and inference with a fixed-size ten

[2022-10-23 18:13] tomdol commented on #13585
I think I didn't understand what you wanted to achieve from your original question. You can create an output tensor the same way you've already created an input tensor (by passing a pointer to an underlying memory). This tensor can then be used as output tensor using for example this call https://github.com/openvinotoolkit/openvino/blob/master/src/inference/include/openvino/runtime/infer_request.h

[2022-10-23 18:23] kekeblom commented on #9787
@avitial I'm working with a model that has a Loop operation and would like to deploy it on Myriad. I can compile the model for CPU, where it works just right. However, when running the `compile_tool` with `-d MYRIAD`, I get the same error as above.

What would be required to add Loop operation support to the Myriad backend? Is it fundamentally not possible on the hardware, and the recommended cour

[2022-10-24 01:53] Iffa-Meah commented on #13485
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-10-24 01:53] #13485 closed

[2022-10-24 01:53] yszhou2019 commented on #13585
I just realized vector memory would be released if out of the scope of variable `output`.

[2022-10-24 01:54] yszhou2019 commented on #13585
Thank you! I got it.

[2022-10-24 01:54] #13585 closed

[2022-10-24 01:55] Iffa-Meah commented on #13440
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-10-24 01:55] #13440 closed

[2022-10-24 03:36] ilyachur commented on #12838
@youki-sada Dynamic shapes are not supported in legacy extensions.

[2022-10-24 03:48] ilyachur commented on #13601
Hi, @yszhou2019 Could you provide the model size which you tried to load?

[2022-10-24 03:52] yszhou2019 commented on #13601
It's about 54MB
[code]

[2022-10-24 03:59] ilyachur commented on #13601
Could you try to load it on CPU? By default we use AUTO plugin, can you add device as a parameter of `compile_model()`?

[2022-10-24 04:00] Raise-me-up opened #13605 "Visitor API is not supported in v0::NullNode NullNode_187 () -> (dynamic...)"
OpenVINO runtime version:       2022.2.0-7713-af16ea1d79a-releases/2022/2
Model Optimizer version:        2022.2.0-7713-af16ea1d79a-releases/2022/2
[ ERROR ]  -------------------------------------------------
[ ERROR ]  ----------------- INTERNAL ERROR ----------------
[ ERROR ]  Unexpected exception happened.
[ ERROR ]  Please contact Model Optimizer developers and forward the following informati

[2022-10-24 04:07] yszhou2019 commented on #13601
ov::Exception will be thrown if I load the model with "CPU".
like
[code]
[code]

I can send you this model and cpp test file. Could you leave your email?

[2022-10-24 04:17] yszhou2019 commented on #13601
It's a little weird. If I set property of core with "AUTO" and compile model with "CPU", it seems OOM isn't gonna to happen. I will confirm this.

[2022-10-24 04:20] yszhou2019 commented on #13601
Yes, it seems work. I'm confirming this.

[2022-10-24 04:22] ilyachur commented on #13601
It looks like we have a but inside the AUTO plugin.
@wangleis Can you take a look?

[2022-10-24 04:27] yszhou2019 commented on #13601
It works.
I apply the following patch to my source code and OOM no longer happens.
[code]

[2022-10-24 05:03] youki-sada commented on #12838
Okay, then I think I need to develop custom CPU plugin. Do you have any plan to support the blocked layout in new extension?

[2022-10-24 05:07] brmarkus commented on #13605
Can you provide more information about your environment (HW and SW), please?
You might want to share your model files (or a simplified version) to allow reproduction and deeper analysis of the problem.

[2022-10-24 06:15] Raise-me-up commented on #13605
HW:  11th Gen Intel(R) Core(TM) i7-1165G7
SW:   Windows 10 Home 21H2
         OpenVINO 2022.2.0

The model is in the attachment. Please check and help, thanks!

[PDCCRN.zip](https://github.com/openvinotoolkit/openvino/files/9849176/PDCCRN.zip)

[2022-10-24 06:26] manuel-mocanu commented on #13579
Everything works fine now!
Thank you!

[2022-10-24 06:26] Raise-me-up commented on #13605
The command line I use is as follows:
mo --input_model PDCCRN.onnx --input "input_0[-1 2 256 -1],input_1[192]"  --output_dir ./

[2022-10-24 10:54] andrei-kochin commented on #13605
Hello @Raise-me-up ,

Thanks for reaching OpenVINO!
I recall that similar issue was fixed in code #12797 not sure if it is related but looks like on master the issue is not present:

[code]

Could you please try latest master?

Best regars,
Andrei

[2022-10-24 13:11] CSBVision opened #13617 "Compile-time fallback for missing plugins.xml"
Hello,

we recently started using OpenVINO as a backend for OpenCV's DNN module. As we only need a relatively small selection of features for this purpose (only the Intel CPU plugin as well as the Inference Engine frontend), we compiled OpenVINO ourselves. We prefer using OpenVINO as shared libraries and everything works fine. Still, the shared libraries depend on the `plugins.xml` configuration f

[2022-10-24 13:27] SiegfriedIppischSecuriton opened #13619 "[Bug] Critical section not initialized. (Failed to allocate graph: MYRIAD device is not opened.)"
##### System information (version)
- OpenVINO => 2022.2 af16ea1d79a494503a54cff67a2856094e447931
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Debugging with Application Verifier / Windows critical sections
- Model name: person-detection-retail-0013

##### Detailed description
We found some problems with an active Application Verifier wh

[2022-10-24 13:28] SiegfriedIppischSecuriton commented on #11262
Hi.

We made an upgrade to the 2022.2 Version. Looks like the "Failed to allocate graph: NC_ERROR"-bug is fixed here. Thank you.

While debugging with "Application Verfrier", another error appeared. Not sure if this error is related, but it looks similar: "Failed to allocate graph: MYRIAD device is not opened.". Also the debugger stopped with an "Critical section not initialized.". The adress poin

[2022-10-24 15:32] ilyachur commented on #12838
We don't have such plans in nearest future.
Could you explain what is your case that you want to solve?

[2022-10-24 16:23] jgespino commented on #11262
Thanks for the update! Glad the issue has been resolved in the 2022.2 release. I will proceed to close this discussion.

[2022-10-24 16:23] #11262 closed

[2022-10-24 17:08] avitial commented on #13579
Closing this as it has been resolved.

[2022-10-24 17:08] #13579 closed

[2022-10-24 19:15] #13182 closed

[2022-10-25 01:11] avitial commented on #13395
Closing this as it has been resolved.

[2022-10-25 01:11] #13395 closed

[2022-10-25 01:15] riverlijunjie commented on #11669
@cxf2015 could we close this ticket?

[2022-10-25 04:02] cxf2015 commented on #11669
hi,i tested openvino new version, also have this problem. also need to reload model to fix memory growth problem.Get Outlook for Android

[2022-10-25 04:09] youki-sada commented on #12838
In my case, I want to implement some sort of a custom gather operation with blocked layouts.
Input is two, a float "nChw8c"/"nChw16c" tensor and 1D int32 indices ({n,h,w} coordinate). Output is a float "nc" matrix stored by non blocked layout. "n" of output tensor corresponds to the length of indices. After this gather operation MLPs are performed.
Therefore, I want to use blocked layout for the f

[2022-10-25 04:18] riverlijunjie commented on #11669
If the number of input shape is dynamic, it is reasonable for memory slow growth due to cache more data for dynamic shape.
If the number of input shape is fixed, the memory should not grow all the time.
Could you give details (models, memory growth, input shape, etc) of your test sample?

[2022-10-25 04:46] ilyachur commented on #12838
@youki-sada Do you have any results?
Do you see real performance improvements?

[2022-10-25 05:01] ilyachur commented on #12838
Also "custom gather" means that this gather op has different behaviour than ops which are presented in OpenVINO opsets?

[2022-10-25 05:01] youki-sada commented on #12838
Yes, compared with a combination of OpenVINO supported transpose and GatherND, our custom gather implementation achieved X4 to X10 faster. We carefully utilize AVX512 intrinsic and TBB. However, costly reorders occurred when we applied our gather operation with new extensions. So we would like to remove them for further optimizations.

[2022-10-25 05:04] youki-sada commented on #12838
Our custom gather operation is equivalent with OpenVINO transpose + GatherND. But our implementation is optimized for gathering n,h,w along with contiguous c memory access.

[2022-10-25 05:14] ilyachur commented on #13601
@wangleis @chenhu-wang Can we take a look to the issue from AUTO plugin perspective?

[2022-10-25 05:17] ilyachur commented on #12838
@youki-sada Maybe can you try to contribute your implementation into CPU plugin?
@dmitry-gorokhov CC

[2022-10-25 05:30] youki-sada commented on #12838
Sure, I can try. But I have no experience to modify CPU plugin and also build OpenVINO. I would give up if it's too complicated.

[2022-10-25 09:30] zhiboniu opened #13632 "[Bug]model convert error"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

[tinypose256_git-sim.onnx.zip](https://github.com/openvinotoolkit/openvino/files/9859017/tinypose256_git-sim.onnx.zip)

I install openvino with this official docker: docker pull openv

[2022-10-25 10:19] tomdol commented on #13632
Although it's not explicitly specified in the ONNX spec the 'sizes' input of the `Resize` operator should contain positive values only. In case of the `Resize_26` operator in the attached model the first dimension contains a negative one. Please check if this is intentional. Changing this value to 1 should still make this constant broadcastable when the model is inferred with different values of `

[2022-10-25 10:39] zhiboniu commented on #13632
but I have ```--input_shape "[1,3
[tinypose256-sim.onnx.zip](https://github.com/openvinotoolkit/openvino/files/9859534/tinypose256-sim.onnx.zip)
,256,192]" ``` in the command  which should fixed this problem?
And also I have another model with the same shape which works well on openvino. I wonder what make the difference.

[2022-10-25 11:11] zhiboniu commented on #13632
The model is converted successed with openvino version: openvino_2021.4.689
But got the wrong model infer results in the output of argmax port

[2022-10-25 12:52] tomdol commented on #13632
The input shape parameter applies to the model's input. It's supposed to reshape the model to a given shape, in your example [1,3,256,192]. The reshape mechanism does not modify the model's weights and those 4 numbers connected to the Reshape operation are an initializer(weights).
The other model might not contain such configuration and that's why it passes but this is just my assumption. To make

[2022-10-25 12:55] ilyachur commented on #12838
@dmitry-gorokhov Could you provide an instruction how to contribute to CPU plugin?

[2022-10-25 19:37] andrei-kochin commented on #13605
@Raise-me-up sure!
Please kindly provide some protobuf error snippets you face with during you build so we can guide you?

CC @ilya-lavrenov

[2022-10-25 21:33] rkazants commented on #13632
@tomdol, @zhiboniu, please make a note that the model in onnx format looks incorrect, because I try to infer it via onnx-runtime and it fails:
![image](https://user-images.githubusercontent.com/35459624/197886146-a9b66c2c-8c41-4252-906d-be557ce723e4.png)

So we have nothing to fix in OpenVINO.
@zhiboniu, did you try to generate IR for the original model in pdpd format?

[2022-10-26 01:08] Iffa-Meah commented on #13619
@SiegfriedIppischSecuriton I tried the App verifier and Windbg on 2 exe files (hello_classification.exe and benchmark_app.exe).
Based on my findings, it seems that the issue happens because the debugger stopped during the process of rebooting MYRIAD.

MYRIAD does get disconnect and reconnect during inferencing and it has its own time interval in doing so.

benchmark_app.exe:

<img width="921" alt=

[2022-10-26 01:31] Raise-me-up commented on #13605
The error messages are as follows:

“D:\workspace\openvino\openvino-master\build\ALL_BUILD.vcxproj”(默认目标) (1) ->
       “D:\workspace\openvino\openvino-master\build\src\bindings\python\wheel\ie_wheel.vcxproj”(默认目标) (4) ->
       “D:\workspace\openvino\openvino-master\build\ov_frontends.vcxproj”(默认目标) (11) ->
       “D:\workspace\openvino\openvino-master\build\src\frontends\paddle\src\openvino_padd

[2022-10-26 02:32] zhiboniu commented on #13632
@tomdol @rkazants thanks very much。It may looks a problem of [onnx-simplifier](https://github.com/daquexian/onnx-simplifier), I'm going to find out what is wrong.

[2022-10-26 03:20] zhiboniu commented on #13632
Another problem. This is the onnx model before onnx-simplifier, it work well on onnx infer. But when I convert it to a openvino model, it's result is different.
result of "argmax_0.tmp_0"
infer result of onnx: [[ 607  559  558  557  508  845  596 1233  588 1625  824 1365 1311 1851 1887 2240 2505]]
infer result on openvino: 1141800960 1141800960 1141800960 1141800960 1142571008 1145028608 114424217

[2022-10-26 04:49] wangleis commented on #13601
@yszhou2019 Could you share the following information:

1. Total memory of the system
2. Memory usage when app work with `compiledModel_ = core_.compile_model(model, "CPU");`
3. log with `core.set_property("AUTO", ov::log::level(ov::log::Level::WARNING))` when app work with `compiledModel_ = core_.compile_model(model, "AUTO");`

[2022-10-26 05:18] ilyachur commented on #13605
@Raise-me-up Could you provide the machine configuration and VS version what you use?

Also OpenVINO can use system protobuf. It means that you can install protobuf on your system and OpenVINO will use it

[2022-10-26 05:24] ilyachur commented on #12838
@youki-sada Could you share the code in order for we will be able to take a look on your implementation?

[2022-10-26 06:10] Raise-me-up commented on #13605
Machine:

HW: 11th Gen Intel(R) Core(TM) i7-1165G7
SW: Windows 10 Home 21H2

VS:  VS 2019 Community

Cmake: 3.24.2

Can the protobuf part inside the openvino source codes  be empty?

[2022-10-26 06:33] dmitry-gorokhov commented on #12838
Hi @youki-sada,
I agree with @ilyachur. We would really appreciate if you can share you implementation for this custom layer and use-case (which subgraph is mapped on custom op) where it provides great performance improvement you shared. The team then will integrate you optimizations inside the product to make it available out-of-the-box.

[2022-10-26 06:45] yszhou2019 commented on #13601
@wangleis
Here I set the mellen to 500. That's, model will deal with input with shape of {1, 500, 80}.
1. Total memory: 15.3 GB
2. Before model compilation, memory usage is about **1.45G**; with "CPU", when compilation is done, it's about **3.42G**; without "CPU", memory usage will continously increase until this program is killed; with "AUTO", this program will also be killed due to OOM.
3. I set

[2022-10-26 06:55] songbell commented on #13601
@yszhou2019 can you have another try with compiledModel_ = core_.compile_model(model, "CPU", ov::hint::performance_mode(ov::hint::PerformanceMode::THROUGHPUT)); and share the memory usage?

[2022-10-26 07:02] ilyachur commented on #13605
No it cannot, you need to update submodulies before the build in order to avoid empty submodules.

But OpenVINO also won't use this protobuf version if you build it with system protobuf.

[2022-10-26 07:05] yszhou2019 commented on #13601
@songbell Of course.
With mellen = 500, memory usage is 1.32G at first and ends up with **14.9 GB** when compilation is done.
With mellen 550, OOM happens.

[2022-10-26 07:17] macimovic commented on #9521
Was able to reproduce on OpenVINO 2021.4 with a custom trained efficientdet_d1 using Tensorflow Object Detection API.

[2022-10-26 07:17] youki-sada commented on #12838
@ilyachur @dmitry-gorokhov Thank you for your great offer. I think I can share my code but I have several concern about contributing the official intel_cpu plugin.
1. Our custom layers are for really special neural networks and many people do not use the combination of transpose and gather. I wonder our implementations are worth merging to the official plugin.
2. Our objective is to use blocked la

[2022-10-26 07:20] songbell commented on #13601
@ilyachur , seems compile with CPU in throughput mode will cause the memory starvation. in AUTO, we will default use throughput mode if user does not set perf hint

[2022-10-26 07:24] Raise-me-up commented on #13605
So, how can I use the system protobuf to build with the presence of the 3rd party protobuf?

Is there any wiki?

[2022-10-26 07:37] wangleis commented on #13601
@yszhou2019 Thanks for your information.
Could you share the log when app run with "CPU" w/ and w/o `ov::hint::performance_mode(ov::hint::PerformanceMode::THROUGHPUT)`?

[2022-10-26 07:40] yszhou2019 commented on #13601
@wangleis wdym with "CPU" "w/" and "w/o"?

[2022-10-26 07:45] wangleis commented on #13601
@yszhou2019 Please share the log for below two commands:

1. `compiledModel_ = core_.compile_model(model, "CPU", ov::hint::performance_mode(ov::hint::PerformanceMode::THROUGHPUT));`
2.  `compiledModel_ = core_.compile_model(model);`

[2022-10-26 07:55] yszhou2019 commented on #13601
@wangleis OOM happens in both cases.
With this command `compiledModel_ = core_.compile_model(model, "CPU", ov::hint::performance_mode(ov::hint::PerformanceMode::THROUGHPUT));` , the log is
[code]

With this command `compiledModel_ = core_.compile_model(model);`, the log is
[code]

[2022-10-26 08:03] dmitry-gorokhov commented on #12838
@youki-sada Our goal is to make OpenVINO sustainable and performant on any possible use-case. You valuable input highlights we have significant gaps from that standpoint and looking forward to fix it. The fix not necessarily means including the custom implementation as is, it might be some changes in existing CPU plugin kernels or extending code-generation capabilities.

It is a requirement to use

[2022-10-26 08:03] yszhou2019 commented on #13601
It' ok.
With this command `compiledModel_ = core_.compile_model(model, "CPU");`, no logs are printed when compilation is done even if I set the log level to `ov::log::Level::TRACE` with `core_.set_property("AUTO", ov::log::level(ov::log::Level::TRACE));`

[2022-10-26 08:18] ilyachur commented on #13605
Yes we have a CMAKE option: `ENABLE_SYSTEM_PROTOBUF`
It presented on this wiki page: https://github.com/openvinotoolkit/openvino/wiki/CMakeOptionsForCustomCompilation

[2022-10-26 08:54] zhiboniu commented on #13632
I found that the output of argmax is a float32 tensor, while the old version is Int32.
There's no problem when I update the infer code .
thanks very much!

[2022-10-26 08:55] rkazants commented on #13632
@zhiboniu, propose to close this ticket:)

[2022-10-26 08:57] #13632 closed

[2022-10-26 08:59] youki-sada commented on #12838
Can we use the layouts if I contribute to CPU plugin? or it's not possible on 2022.2?

[2022-10-26 09:13] SiegfriedIppischSecuriton commented on #13619
Hi,

Thank you. The VERIFIER STOP's look a bit different in your execution. But at least the "Critical section not initialized." does happen in every case.

This means, the "Failed to allocate graph: MYRIAD" error is a **side effect** of debugging? Not great for debugging, but it makes sense, that the hardware continues while the application is paused.

What about the Critical section problem? Can

[2022-10-26 09:33] brmarkus commented on #13619
(The Myriad-X device gets initialized (while loading the plugin), firmware transferred, loaded, reset in any case.)

[2022-10-26 09:53] Raise-me-up commented on #13605
Sadly, we have tried the method you mentioned above, which produces 64 error messages.

Part of error messages is as follows:

D:\workspace\openvino\openvino-master\bin\intel64\Release\openvino_paddle_frontend.dll : fatal error LNK1120: 2 个无法解 析的外部
       命令 [D:\workspace\openvino\openvino-master\build\src\frontends\paddle\src\openvino_paddle_frontend.vcxproj]

       “D:\workspace\openvino\openvi

[2022-10-26 10:46] Raise-me-up opened #13655 "[Bug] RuntimeError: [GNAPlugin] in function void __cdecl GNAPluginNS::GNAPlugin::LoadNetwork(class InferenceEngine::CNNNetwork &): The plugin does not support layer: Tile_822:Tile"
OpenVINO => 2022.2.0
Operating System / Platform => Windows 10 64 Bit
Compiler => Visual Studio 2019
Problem classification: InferenceEngine Supported Framework Layers
Framework: Pytorch

When I just run the following test codes to do the inference on the GNA, the error messages occur. However, I find the tile op is supported according to the document (https://docs.openvino.ai/latest/openvino_docs

[2022-10-26 11:39] brmarkus commented on #13655
Which HW/SoC do you use? Could it depend on the underlying HW (as there are different generations of GNA devices)?

[2022-10-26 11:58] rkazants commented on #13655
@Raise-me-up, according to the documentation (https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_Supported_Devices.html#supported-layers), the GNA plugin does not support `Tile` operation.

@nkogteva, @dorloff, do you have a priority to support `Tile` in GNA plugin?

Thanks,
Roman

[2022-10-26 12:32] nkogteva commented on #13655
@Raise-me-up I quickly looked at the model. Tile is not only problem with this model. Broadcast, Gather are also unsupported. Besides that GNA has a limited support of Convolution. Please check https://docs.openvino.ai/latest/openvino_docs_OV_UG_supported_plugins_GNA.html#model-and-operation-limitations

[2022-10-26 12:41] Raise-me-up commented on #13655
My laptop uses the 11th Gen Intel(R) Core(TM) i7-1165G7, which supports GNA2.0 However, the OEM doesn't implement the support to GNA. So, I just use the emulation mode.

[2022-10-26 12:48] Raise-me-up commented on #13655
OMG! So many ops are not supported by GNA！Is there any possible for us to deploy such a model on GNA by using extension plugin？

[2022-10-26 12:52] nkogteva commented on #13655
@Raise-me-up GNA is very limited and specific device which intended to be used for continuous audio workloads especially. GNA doesn't support extensions. Why did you choose GNA as target?

[2022-10-26 12:52] dorloff commented on #13655
@Raise-me-up , note that GNA is very specific HW with many restrictions (some of them are resolved by the GNA plugin, some are not), and it's quite common that a model needs some reformulation to be run on GNA. Could you give some context about your task?

[2022-10-26 12:56] Raise-me-up commented on #13655
We want to deploy our speech enhancement models on GNA to achieve model acceleration.

[2022-10-26 12:57] Raise-me-up commented on #13655
Our task is speech enhancement.

[2022-10-26 13:02] nkogteva commented on #13655
@Raise-me-up GNA is mostly used for power saving, not for acceleration, sometimes it gives no performance improvements. Have you try to use low precision on CPU?

[2022-10-26 13:03] Raise-me-up commented on #13655
Dear, what does "GNA doesn't support extensions" mean?  Can't we use the custom ops to achieve the support of GNA?

[2022-10-26 13:07] Raise-me-up commented on #13655
OMG！Are we working towards the wrong direction? We have not tried the low precision on CPU yet.

[2022-10-26 14:29] Apollo9999 commented on #13177
Detailing Information of  com.microsoft.FusedConv

The fused convolution operator schema is the same as Conv besides it includes an attribute activation.
Version

This version of the operator has been available since version 1 of the 'com.microsoft' operator set.
Attributes

activation : string
activation_params : list of floats
auto_pad : string
dilations : list of ints
group : int
kernel_shape :

[2022-10-26 15:06] hbalasu1 commented on #13491
I have escalated this issue to our developer for a further look into this

Ref : 95244

[2022-10-26 15:12] Apollo9999 commented on #13513
OnnxModel Runtime test Using Python Code
[ONNXRUNTIME.zip](https://github.com/openvinotoolkit/openvino/files/9870830/ONNXRUNTIME.zip)

[2022-10-26 15:42] nkogteva commented on #13655
@Raise-me-up As I said GNA doesn't support extensinos. But I'm not sure actually that GNA is suitable for your scenaraio.
You can find information about possible futher optimization steps in the following section: https://docs.openvino.ai/latest/openvino_docs_optimization_guide_dldt_optimization_guide.html#improving-performance-model-vs-runtime-optimizations

[2022-10-26 17:29] ilyachur commented on #13605
@Raise-me-up you got the error that protobuf symbols weren't found in libraries. You need to add system protobuf to the PATH in order to use it with OpenVINO

[2022-10-26 19:17] ilya-lavrenov commented on #13617
Hi @CSBVision

Thanks for having an interest to such scenario.

One comment here is that such `plugins.xml` file can be changed after OpenVINO is compiled and you can add extra plugins here (ARM or NVIDIA plugins from [OpenVINO Contrib](https://github.com/openvinotoolkit/openvino_contrib/tree/master/modules)). Also, users can add additional settings to plugins to modify the default behavior.

But

[2022-10-27 03:11] ilyachur commented on #13617
In general we can register know plugin while are building the OpenVINO (like it happens for static build).
In this case user also can change or rewrite the "default" plugins with using https://github.com/openvinotoolkit/openvino/blob/a7a14a89c8694e99c8a5aa0ac7682e336c4ca270/src/inference/include/openvino/runtime/core.hpp#L613

This method can allow to load the custom plugin in the runtime. If we h

[2022-10-27 03:16] Raise-me-up commented on #13655
Thanks for your detailed reply! Maybe our tasks are not so suitable to the deployment of GNA.  However, we just wonder the details of power saving scenaraio which GNA applys to. Could you tell us more about it please? We have run the asr demo on HETERO:GNA, CPU mode before, which shows GNA does not support the HETERO mode. So, how can GNA be used to save power? We are so confused about it.

[2022-10-27 03:41] Raise-me-up commented on #13605
Sadly, it doesn't work, and it is the same error. Thanks for your reply! I have decided to give up the building of the whole source codes. However, I find the MO part is built successfully, and it can be installed for use reluctantly.

[2022-10-27 04:02] ilyachur commented on #13605
So I see that you get errors for the TF now.
If ONNX frontend and python API were built I think yes it should be enough to run MO and  convert your model.

[2022-10-27 05:23] mlukasze commented on #13491
We received a ticket and will work on it.
Sorry for inconvenience @triwahyuu

[2022-10-27 05:52] xiaoyu-work opened #13670 "openvino-dev[pytorch] will override default torch version"
When installing `openvino-dev[pytorch]` package, it will automatically override existing pytorch version with torch==1.8.1 in my environment. How can I avoid this? Or can the default pytorch version in `openvino-dev`  package be upgraded to latest stable version 1.12.1?

[2022-10-27 06:07] Raise-me-up commented on #13605
OK. Thanks for your precious guide!

[2022-10-27 06:41] youki-sada commented on #12838
@dmitry-gorokhov I'm sorry I forgot to mention.

[2022-10-27 07:38] andrei-kochin commented on #13670
Hello @xiaoyu-work,

Thanks for reaching OpenVINO!
Seems like this limitation comes from OMZ which requires specific version to guarantee proper model export to ONNX. You can simply use `openvino-dev[onnx] ` for you Pytorch environment.

Meanwhile we'll think on how to make this more transparent.

[2022-10-27 08:43] tiezhuli001 opened #13676 "[Bug]"
- OpenVINO => 2022.2
- Operating System / Platform => ubuntu 64 Bit
- Compiler => vscode
- Problem classification: openvino runtime
- Framework: TensorFlow
- Model name: encoder.xml

##### Detailed description
It only appears when reasoning in batches, and single reasoning is fine！

1、The same wav file output will be garbled
2、Garbled characters appear randomly, essentially because the reasoning r

[2022-10-27 08:49] nkogteva commented on #13655
@Raise-me-up Currently there are only one way to load whole model to GNA because HETERO is not enabled back. But there are also several improtant aspects:

1. GNA is working in integer precision only (i16, i8), so that means that model should be quantized for GNA especcialy using POT. Plugin quantization (without POT) is still available, but POT is recommended way. CPU can execute model quantized

[2022-10-27 09:30] Raise-me-up commented on #13655
Thanks so much for your precious advice again! Regardless of our model, could you tell us more about the proper GNA usages, so that we can avoid the mistakes next time please? As far as I know, the ASR demo you provide is a successful application. Is there any guideline for us to produce the similar application? And, how can the power saving of GNA be understood?

[2022-10-27 10:12] dmitry-gorokhov commented on #12838
@youki-sada
In 2022.2 we integrated new **brgemm** Convolutions from oneDNN with the top priority: https://github.com/openvinotoolkit/openvino/blob/releases/2022/2/src/plugins/intel_cpu/src/nodes/conv.cpp#L322-L323. These Convolutions are used on AVX512 platforms and assumes nhwc layout on activations. So I would suggest what exact convolution type was used on Xeon in your case.

Could you please

[2022-10-27 11:15] akuporos commented on #13411
Hello @EdjeElectronics ,

PR with updated settupvars scripts was merged into master.
Please, verify how it works for you now.

Best regards,
Anastasia

[2022-10-27 12:38] youki-sada commented on #12838
@dmitry-gorokhov Thank you very much for your precious info. I had not checked on Xeon at that time. Now, I confirmed that Xeon adopts nhwc on 2022.2 that is fantastic for me. This might solve my problem so please never mind about the question.
BTW, I'm curious about nchwc support for AVX2/brgconv_avx2. I assume nhwc migration is only for AVX512 now. It is because of hardware (ISA) limitation?

An

[2022-10-27 13:57] tiezhuli001 commented on #13676
Yes, there is a problem with cnn_cache_. There is no address to construct tensor, so there will be dirty data every time, which will affect the final result.
code:
cnn_cache_.resize(xxx, 0.0);
ov::Tensor cnn_cache_tensor(
      ov::element::Type_t::f32,
      ov::Shape{xxx},cnn_cache_.data());

[2022-10-27 13:57] #13676 closed

[2022-10-27 14:09] youki-sada commented on #12838
Now I find that GatherND is faster than my implementation for nhwc case of Xeon.

@ilyachur Now I would like to use nhwc but not blocked layouts. But I think nchw is the default layout on IR and so new extensions support only nhwc and nc layouts. Are there any way to use nhwc instead of nchw layout on new extensions?

[2022-10-27 16:40] avitial commented on #7273
Closing this, I hope previous responses were sufficient to help you proceed. Feel free to reopen and ask additional questions related to this topic.

[2022-10-27 16:40] #7273 closed

[2022-10-27 17:55] mdeisher commented on #13655
GNA is primarily for purely neural, low latency, streaming audio processing (meaning one audio frame per inference).  It has no programmable core to handle loops or decision logic.  Many noise suppression networks have been run on GNA but they have primarily been streaming applications.  When they have used LSTM layers, it is always uni-directional LSTMCell, not LSTMSequence.  For example, the Mic

[2022-10-27 21:41] xiaoyu-work commented on #13670
This workaround works for me. Thanks @andrei-kochin !

[2022-10-27 23:34] zulkifli-halim commented on #13447
Since the original issue has been resolved, I will close this issue. Feel free to reopen if you need further assistance.

[2022-10-27 23:34] #13447 closed

[2022-10-28 02:25] Raise-me-up commented on #13655
I see. To my knowledge, GNA can implement the computation with low power alone, not bearing some computing from CPU to reduce its power. And the heterogeneous computing with CPU is not supported for now.  The network to be run on GNA should support the streaming audio processing . Am I right?

[2022-10-28 02:27] Raise-me-up commented on #13655
I see. To my knowledge, GNA can implement the computation with low power alone, not bearing some computing from CPU to reduce its power. And the heterogeneous computing with CPU is not supported for now. The network to be run on GNA should support the streaming audio processing . Am I right?

[2022-10-28 05:47] dmitry-gorokhov commented on #12838
@youki-sada Thank you for the update.
Brgconv is enabled on avx512 platforms only at the moment. We are waiting [oneDNN](https://github.com/oneapi-src/oneDNN) (our thirdparty) to implement for avx2 as well. Not sure about exact timelines.

[2022-10-28 07:25] Raise-me-up opened #13707 "How to do a inference for the model with multiple input node?"
I have read lots of samples and documents you supplied,  all of which are about the inference for the model with single input node. Is there any C++ sample code for us to implement the inference of the model with multiple input node on CPU?

The single input node version is as follows:

[code]

[2022-10-28 07:55] trinhgiahuy commented on #13592
Hello, I reinstall raspbian stretch (raspbian9) and using `l_openvino_toolkit_debian9_arm_2022.2.0.7713.af16ea1d79a_armhf.tgz` but when I got unsupported os

[code]

[2022-10-28 08:09] ilya-lavrenov commented on #13707
Hi @Raise-me-up
Please, have a look https://docs.openvino.ai/latest/openvino_docs_OV_UG_Infer_request.html#working-with-input-and-output-tensors

[2022-10-28 08:23] brmarkus commented on #13707
Find an example e.g. here: https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/common/cpp/models/src/super_resolution_model.cpp

[2022-10-28 09:04] Raise-me-up commented on #13707
Thanks for your kindness!

[2022-10-28 09:05] Raise-me-up commented on #13707
Thanks for your kindness!

[2022-10-28 09:05] #13707 closed

[2022-10-28 09:15] #12838 closed

[2022-10-28 11:02] SiegfriedIppischSecuriton opened #13713 "[Bug] Memory Leak in myriad plugin"
##### System information (version)
- OpenVINO => 2022.2 af16ea1d79a494503a54cff67a2856094e447931
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Debugging with gflags / memory leak
- Model name: person-detection-retail-0013

##### Detailed description
We found some memory leaks while debugging an application which uses OpenVino. Our compan

[2022-10-28 14:45] mosdav commented on #13594
@avitial bumping this thread

[2022-10-28 17:25] avitial commented on #13164
Closing this, I hope previous responses were sufficient to help you proceed.

Feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-10-28 17:25] #13164 closed

[2022-10-28 17:27] avitial commented on #13277
Closing. Feel free to reopen and ask any questions related to this topic.

[2022-10-28 17:27] #13277 closed

[2022-10-28 19:52] avitial commented on #13160
Closing this, feel free to reopen to provide the requested information or ask any questions related to this topic.

[2022-10-28 19:52] #13160 closed

[2022-10-28 21:53] jiapei100 opened #13724 "importlib.metadata.PackageNotFoundError: omz-tools"
Successfully built and installed **OpenVINO**, both on **Ubuntu 22.04.1** and **Raspbian GNU/Linux 11 (bullseye) armv7l **.

However, when I tried to follow the [Official Downloader](https://docs.openvino.ai/latest/omz_tools_downloader.html) and use `omz_downloader --all` to download the model, I met the **ERROR** as titled:

[code]

Similar to command `omz_data_downloader` to download the test da

[2022-10-28 21:55] jiapei100 commented on #13586
@eaidova

Thank you @eaidova
Can you please help to take a look at my this issue [https://github.com/openvinotoolkit/openvino/issues/13724](https://github.com/openvinotoolkit/openvino/issues/13724)

[2022-10-29 00:54] BowenBao commented on #11942
@AyaNasser96 Hi I tested the inception model script that you shared. It turned out that the source of mismatch is from different preprocessing. After applying the same preprocessing code, ORT outputs the same confidence score as pytorch.
[code]

[code]

[2022-10-30 00:56] raymondlo84 opened #13726 "[Bug] Github is over quota?"
[code]

[2022-10-30 00:56] raymondlo84 commented on #13726
Error downloading object: docs/Extensibility_UG/img/graph_rewrite_efficient_search.png (05eb860): Smudge error: Error downloading docs/Extensibility_UG/img/graph_rewrite_efficient_search.png (05eb8600d2c905975674f3a0a5dc676107d22f65f2a1f78ee1cfabc1771721ea): batch response: This repository is over its data quota. Account responsible for LFS bandwidth should purchase more data packs to restore acce

[2022-10-30 09:27] Alkhaddour commented on #13513
@eaidova, thanks for your feedback. Considering the random initialization for the last layer, it is an expected behavior. I will further investigate the problem in ONNX. I don't recall having score mismatch in ONNX, moreover, if the problem is in ONNX, then I would expect to see the same issue in all OV versions, but it is solved starting from 2022.1

[2022-10-30 09:29] Alkhaddour commented on #13513
@hbalasu1, sorry for late answer, still don't understand why the problem is solved for newer OV versions. I will further investigate the problem according to [this comment](https://github.com/openvinotoolkit/openvino/issues/13513#issuecomment-1285283732).

[2022-10-30 09:29] Alkhaddour commented on #13513
@Apollo9999, thank you, will check this too.

[2022-10-30 11:42] eaidova commented on #13724
@jiapei100 could you please describe how you install openvino? Do you install `openvino-dev` package and use `omz-downloader` (which version) from it or use different approach?  Fot me, path looks strange, here should not be build subdirectories in your path

[2022-10-30 11:45] eaidova commented on #13724
Also could you please try from another directory and without usage `./` prefix, it is entry points, which should be used as shell commands, not physical files

[2022-10-30 15:56] venki-thiyag opened #13729 "[Bug] Crash during app exit when using OpenVino GPU plugin"
##### System information (version)

- OpenVINO=> 2022.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification => Model inference, crash during app exit

##### Detailed description
Crash is not observed all the time, but sometimes observed when app is closed and call stack is pointing to openvino_intel_gpu_plugin.dll
Attached crash dump.

[small.z

[2022-10-30 21:31] andrei-kochin commented on #13729
Hello @venki-thiyag,

Thanks for reaching OpenVINO! we'll look into it

@vladimir-paramuzov could you please take a look?

[2022-10-30 21:33] andrei-kochin commented on #13726
Hello @raymondlo84 ,

Seems @AdamTumi  fixed this. Please check

Best regards,
Andrei

[2022-10-31 02:21] Raise-me-up commented on #13655
Thank you very much for your awesome answers!

[2022-10-31 04:40] dev2y opened #13734 "error while converting Keras H5"
Hi, want to try OV for our AI work and trying convert our H5 custom models to OV.

Was looking at OV [documentation ](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_TensorFlow.html)but getting error. Can you please help?

[code]

Error:
[code]

I've tried this on TF2.3 and TF2.10

[2022-10-31 06:25] rkazants commented on #13734
Hi @dev2y,

First of all, let us figure out if you have custom layers in your model. Assume that there is no custom layers, you can re-save your model to the SavedModel format as like:

[code]

If you have loading error complaining on some non-Keras layer `YourLayer` from your_layer_module.py, that means you need to pre-load these layers from Python modules with its implementation:

[code]

Please

[2022-10-31 09:34] mlukasze commented on #13726
Looks like it was a problem and had been fixed. @AdamTumi & @raymondlo84 could you please confirm?

[2022-10-31 10:14] wrchen-voxel opened #13744 "[Bug] Operator support Col2Im"
##### System information (version)

- OpenVINO=> 2022.2.0
- Operating System / Platform => Ubuntu20.04
- Compiler => gcc 9.4.0
- Problem classification => Model Conversion
- Framework: Pytorch
- Model name: torch.nn.Fold

##### Detailed description
Now Col2Im ops is supported by ONNX opset version18 ([Add Col2Im operator](https://github.com/onnx/onnx/pull/3948)), but not supported by openvino infe

[2022-10-31 10:33] dmitry-gorokhov commented on #13493
Hi @JulienMaille, sorry for the late response. I asked the team to take a look on the issue. Will get back soon.

[2022-10-31 12:08] andrei-kochin commented on #13744
Hello @wrchen-voxel.

Thanks for reaching OpenVINO!
@mlukasze and @tomdol can comment on further plans but meanwhile you can try Frontend Op Extensions for it:
[OV Documentation](https://docs.openvino.ai/latest/openvino_docs_Extensibility_UG_Frontend_Extensions.html#single-operation-mapping-with-opextension)

Best regards,
Andrei

[2022-10-31 14:37] slyalin commented on #13744
@wrchen-voxel, as @andrei-kochin mentioned it is good to start adding an implementation as an operation extension first without digging into OpenVINO source tree. It will help you to focus at the operation code itself and you can test it in "user space", so to speak, with real models.

Let me add more details to help you.

For `col2im` it looks like you have to add a C++ implementation for the ope

[2022-10-31 15:48] dev2y commented on #13734
@rkazants
Hi Roman, thank you.

When I try loading model h5, I get the following error.

[code]
Error

[code]

[2022-10-31 17:48] brmarkus commented on #13729
Can you provide any details about your application?
Do you use a Release-build or a Debug-build, can you see the crash with both types?

Is your application using multiple threads to interact with OpenVINO?

Can you share (pseudo-)code for how you initialize OpenVINO and how you de-initialize it? Do you allocate any OpenVINO resources on the heap (e.g. with the `new()` operator?

Do you see a chan

[2022-11-01 01:29] peterchen-intel commented on #13601
@yszhou2019 Per my understanding, you need to set
`core_.set_property("CPU", ov::log::level(ov::log::Level::TRACE));`
`compiledModel_ = core_.compile_model(model, "CPU", ov::hint::performance_mode(ov::hint::PerformanceMode::THROUGHPUT));`

[2022-11-01 02:15] yszhou2019 commented on #13601
OK. Here is the log of this code.
[code]

[2022-11-01 02:16] yszhou2019 commented on #13601
Files in runtime/lib/intel64
[code]

[2022-11-01 02:21] marcjasner opened #13755 "[Bug] Building OpenVINO samples after build fails"
##### System information (version)
- OpenVINO=> Latest pulled from git on 10/31/2022
- Operating System / Platform => Ubuntu 20.04.4 LTS
- Compiler => gcc 9.4.0
- Problem classification => Build Issue

##### Detailed description
After building and installing OpenVINO (pulled from git on 10/31/2022 and built using the instructions on https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux

[2022-11-01 02:49] yuxu42 commented on #13601
@yszhou2019  which CPU are you using?

[2022-11-01 02:52] yszhou2019 commented on #13601
@yuxu42
[code]

[2022-11-01 02:54] yszhou2019 commented on #13601
It's quite weird. I have no idea why an exception was thrown when using "CPU" instead of "AUTO".

[2022-11-01 03:51] venki-thiyag commented on #13729
@brmarkus

Crash was in release mode.

Application is multi threaded, but OpenVINO object is constructed and used in single threaded manner, but there is a chance that destructor might be called from different thread.

**Memory:** Yes, OpenVINO is allocated new operator.

**Usage:**
With respect to structure, in header file following objects are declared:

[code]

in loadModel API:
input and outpu

[2022-11-01 04:08] rkazants commented on #13734
Hi @dev2y,

Will it be possible to share the model with me? You can share the model with fake weights.
It is difficult to say the reason of the loading problem. Can you check what TF version do you use and try to upgrade it? Also, please try to load the model by native Keras API and save it into SM format by TF:

[code]

Best regards,
Roman

[2022-11-01 05:05] liubo-intel commented on #13601
Hi, @yszhou2019 : currently we are enabling a patch to optimize CPU plugin temporary memory usage. but not sure whether this method would help solve your problem.
so, if possible could you please provide the model you are using? we may help have a try it with our patch.

[2022-11-01 05:54] yszhou2019 commented on #13601
@liubo-intel
OK. I've already **randomized all the parameters** of this model. I just checked it and OOM still happens. Please check your email to get this model. **If anyone needs the model in this issue, just at me**.

[2022-11-01 06:02] raymondlo84 commented on #13726
Works for me now !:)

[2022-11-01 06:02] #13726 closed

[2022-11-01 06:16] slyalin commented on #13744
@wrchen-voxel, are you in? We can guide you to add the op as quick as possible, and then it can be a part of OpenVINO. BTW, could you refer to a real model that requires this op to better motivate developers?

[2022-11-01 06:28] wrchen-voxel commented on #13744
@slyalin, I'm still trying to figure out where to convert attributes from onnx ops format to openvino ops extention format, and glad if someone could implement this operator or help me implement this extension ops. And here is the model layer using torch.nn.Fold(https://github.com/CVIU-CSU/M2MRF-Lesion-Segmentation/blob/master/mmseg/models/utils/m2mrf.py) which calls col2im operator in pytorch.

[2022-11-01 07:48] dev2y commented on #13734
Hi Roman, I tried loading model with keras but still the same 'freeze' error.

here is my [model ](https://drive.google.com/file/d/1VXPEmKjwfkb6wy9LRmqJizogiXBqLPX_/view?usp=sharing
)with dummy weights. Thank you

[2022-11-01 08:27] slyalin commented on #13744
@wrchen-voxel, this part https://docs.openvino.ai/latest/openvino_docs_Extensibility_UG_Frontend_Extensions.html#attributes-mapping address specifically your question. In short, as long as you keep names of attributes the same on both ONNX and OV sides, they will be mapped automatically. So we have to define attributes as class fields of type std::vector<int> and implement `visit_attributes` accor

[2022-11-01 09:16] ilya-lavrenov commented on #13755
Hi @marcjasner
Have not you installed older OpenVINO version to your system? Please, check that there is no OpenVINO headers in `/usr/include` and libs in `/usr/lib/x86_64-linux-gnu/`

[2022-11-01 09:26] rkazants commented on #13734
Hi @dev2y,

I visualized your model and noticed the custom layers: Anchors,
regression_submodel, classification_submodel, RegressBoxes, etc.
![image](https://user-images.githubusercontent.com/35459624/199201991-73b387c7-67b5-4b2a-aa9a-39117ac76f74.png)

I think you need to pre-load these custom layers. And the displayed issue about `freeze` was confusing and just mixed up us.
How did you get this

[2022-11-01 13:57] marcjasner commented on #13755
@ilya-lavrenov,

Yes, I installed an older version and am trying to build the latest version to keep up to date.

I do not see any openvino folders/headers in those locations.

[2022-11-01 14:34] ilya-lavrenov commented on #13755
Looks like older version of OpenVINO is used with latest version of samples. There is a mismatch because samples demonstrate usage of newer API.
Could you please provide more info?
- where OpenVINO is installed
- go to build folder with samples and find value of OpenVINO_DIR in CMakeCache.txt file

[2022-11-01 14:42] marcjasner commented on #13755
OpenVINO 2022.1 was previous installed in ~/intel/openvino which is a symlink to ~/intel/openvino_2022.1.0.643

Do you mean the build folder for the build of OpenVINO that I just completed from github? In that case:
`//The directory containing a CMake configuration file for OpenVINO.
OpenVINO_DIR:PATH=/home/marc/src/openvino_github_103122/openvino/build
`
That is the directory where I had just bui

[2022-11-01 15:52] ilya-lavrenov commented on #13755
Are you running this command from source tree?
[code]
I suppose once you build OV, you need to install it to some directory (`cmake -DCMAKE_INSTALL_PREFIX=some_dir -P cmake_install.cmake` and run samples build using `some_dir/samples/cpp/build_samples.sh`

[2022-11-01 15:59] Iffa-Meah commented on #13713
@SiegfriedIppischSecuriton I implemented the test case scenario as you mentioned.

1. Add _CrtSetDbgFlag(_CRTDBG_ALLOC_MEM_DF | _CRTDBG_LEAK_CHECK_DF); to main:

<img width="653" alt="13713_add" src="https://user-images.githubusercontent.com/79643476/199274991-859c3995-c656-462e-9f5a-393eff6cbfc4.png">

2. Build & Compile binary

<img width="293" alt="13713_3success" src="https://user-images.githu

[2022-11-01 16:00] marcjasner commented on #13755
According to the wiki the samples build should be done in the install directory after running:

cmake --install <BUILDDIR> --prefix <INSTALLDIR>

It says to then do the following:

cd <INSTALLDIR>/samples/cpp
./build_samples.sh

________________________________
From: Ilya Lavrenov ***@***.***>
Sent: Tuesday, November 1, 2022 11:52 AM
To: openvinotoolkit/openvino ***@***.***>
Cc: Marc Jasner ***@**

[2022-11-01 17:03] marcjasner commented on #13755
I think I fixed it. It seems the OpenVINO_DIR variable was not getting updated and kept pointing to the old version of OpenVINO. I removed the setupvars.sh from the previous install of OpenVINO from my .bashrc, logged out and logged back in, and now the samples build.

The only problem I have now is that when building OpenVINO the wheel won't build. I get the following:

`-- Python version=python3

[2022-11-01 21:33] #13586 closed

[2022-11-02 01:39] marcjasner commented on #13755
I started over, made sure no other setupvars.sh were being called, removed and reinstalled wheel, and now everything completes successfully.

Thanks for the help, I'll close this issue.

[2022-11-02 01:39] #13755 closed

[2022-11-02 04:55] yaswanthan opened #13774 "Cannot create non-max supression layer"
Hi team,

 I have tried to convert mobilenet model (TensorFlow version) to IR model.  The model gets converted and when i try to infer IR model, i get the following error.

![non_max_supresssion_layer](https://user-images.githubusercontent.com/51609619/199401503-d4ee661d-739d-4db6-9b50-60471848e5ac.png)

[2022-11-02 05:12] rkazants commented on #13774
Hi @yaswanthan,

Please update your `openvino` package for the runtime because now it looks outdated and does not support `opset9`. In the meantime, your `openvino_dev` looks fine.

Best regards,
Roman

[2022-11-02 07:16] wrchen-voxel commented on #13744
@slyalin, thanks for your patient guide! Now I'm trying to use src/core/template_extension/new/CMakeLists.txt to build exetention lib of it in the build directory. And I met some new problems here.
Like guide above, I use some macro like  OPENVINO_FRAMEWORK_MAP(for ONNX mapping), NGRAPH_TYPE_CASE (call evaluate with template input/out type). how to include head file like "itt.hpp " and "openvino/f

[2022-11-02 07:24] yszhou2019 opened #13777 "Error occurred when reshaping model in python"
##### System information (version)
OpenVINO => 2022.2.0
Operating System / Platform => Linux 64 Bit
Problem classification: Model Reshape
Framework: PyTorch
ONNXRuntime: 1.13.1
Python Version: 3.9.7

##### Detailed description
I'm trying to deploy ASR model in python using OpenVINO as runtime.(According to previous experience, inference can be about 20%~50% faster when using OpenVINO compared with

[2022-11-02 07:26] yszhou2019 commented on #13777
Both `ort_encode()` and `ort_decode()` worked fine. The same with `ov_encode()`. Only `ov_decode()` met with this problem.

[2022-11-02 07:27] mlukasze commented on #13777
Hey @yszhou2019
Sorry for inconvenience and thank you for letting us know.
We will check it and will back to you as soon as possible.

[2022-11-02 07:45] yszhou2019 commented on #13777
You can leave your email in this issue and I will send you the randomized encoder/decoder.

[2022-11-02 07:54] #13008 closed

[2022-11-02 09:52] #13777 closed

[2022-11-02 10:14] ilya-lavrenov commented on #13744
Why do you need to include itt header? It's not required to write extensions.
The information how to build the library is provided in this section https://docs.openvino.ai/latest/openvino_docs_Extensibility_UG_Intro.html#create-library-with-extensions

[2022-11-02 10:16] rkazants commented on #13734
Hi @dev2y,

Any news? Do you have a chance to contact developers of this model to get the instructions to infer this model via the original framework (Keras or TensorFlow)?

Best regards,
Roman

[2022-11-02 10:53] wrchen-voxel commented on #13744
@ilya-lavrenov I used NGRAPH_TYPE_CASE implementing evaluate() which seems support multi kind of input data type like i32, u32, f32 etc.
now i'm using
include_directories(../../../frontends/onnx/frontend/include ../../../core/src ../../../common/conditional_compilation/include ../../../common/itt/include ../../../common/util/include)
which looks not graceful...

[2022-11-02 11:36] venki-thiyag commented on #13729
Another point, where can we find debug symbols for released binaries, so that we can try to troubleshoot crash issues ourselves.

[2022-11-02 13:19] paularamo opened #13791 "How can I find "available devices" in the new API?"
What is the replacement function for running this using Python API OpenVINO 2022.2?
It seems that [this one](https://docs.openvino.ai/2021.3/ie_python_api/classie__api_1_1IECore.html#a3f993ba55b347922319023899e3e1d76) is not available anymore
[code]

Thanks and BR

[2022-11-02 13:34] tomdol commented on #13791
There's the `ov::Core::get_available_devices` C++ method and it's exposed to Python as a property of the `Core` class https://github.com/openvinotoolkit/openvino/blob/master/src/bindings/python/src/pyopenvino/core/core.cpp#L550 so the snippet you provided should work. Are you getting any particular error when running that code?

[2022-11-02 13:36] paularamo commented on #13791
Yes, I got this error.

![image](https://user-images.githubusercontent.com/10940214/199503551-61561aa0-589c-4648-963d-47f7c3773f96.png)

[2022-11-02 13:40] tomdol commented on #13791
Looks like a mismatch between the arguments in the call to `get_property()` method:
![image](https://user-images.githubusercontent.com/22572387/199504344-661c35f4-77c9-4f17-9bab-647bdafb5809.png)

Please try this instead:
[code]

[2022-11-02 13:57] paularamo commented on #13791
That worked. Thanks.
![image](https://user-images.githubusercontent.com/10940214/199508336-7e2175ce-8f50-4121-886d-a4fcef961c8c.png)

[2022-11-02 13:57] #13791 closed

[2022-11-02 14:35] slyalin commented on #13744
@wrchen-voxel, please don't use NGRAPH_TYPE_CASE at this stage. Your case is simpler, just implement `evaluate` for one of data types as the first step, all these complexities shouldn't block you from writing the implementation of the kernel which can be tested with only one supported data type as the first step. Then we will reorganize it to something more flexible that may consume multiple types

[2022-11-03 06:46] yszhou2019 opened #13815 "[API] What's the best practice to use OpenVINO in cpp?"
You know, with OpenVINO in cpp, we can load model and infer like this.
[code]

In prod, we usually place the model reshaping and model compilation in the constructor of one class. And we expose the inference to another API of this class.
So my question is, should we add CompiledModel as the data member of this class? Or we can just add infer_request as the data member? Or both of them? Is there an

[2022-11-03 07:11] fireFrappe opened #13817 "[Bug]The reshape issue base on 2021.4"
Hi, Is there some way to convert Executable network to IR?
I want to reshape the input of an IR network, I follow https://docs.openvino.ai/2021.4/openvino_docs_IE_DG_ShapeInference.html?sw_type=switcher-python to do it. But I don't know how to convert the ``exec_net`` to IR and save it. Openvino is 2021.4.
Many thanks.

##### System information (version)

- OpenVINO=> :grey_question:
- Operating S

[2022-11-03 08:41] FongKPW commented on #13619
Hi @SiegfriedIppischSecuriton ,
I tried to run hello_classification.exe without App verifier and it can provide prediction as shown in the figure
![image](https://user-images.githubusercontent.com/112601849/199676834-f3813a5e-7940-428f-9f01-66019336a1e7.png)

However, I also observed Critical section not initialized while testing with App verifier. I am suggesting the error is due to clBuildProgra

[2022-11-03 08:47] wrchen-voxel commented on #13744
@slyalin Sure that my environment supports building Identity operator with `libopenvino_template_extension.so ` generated when I follows the guide above.
But before I can run the `evaluate`  for the test custom op(2D version col2im), I met another problem. Like below, I can set `output_shape ` in `validate_and_infer_types` with last 3 dimension `Dimension::dynamic()`.

[code]

But the built custom

[2022-11-03 09:33] slyalin commented on #13744
We can do that only when real values are available in the graph, that means there is a data flow from constants nodes in the graph that can be propagated up to your specific inputs. To check the availability of constant value at particular input, please use `ov::get_constant_from_source ` from `openvino/core/validation_util.hpp` like it is used in this code https://github.com/openvinotoolkit/openv

[2022-11-03 10:05] slyalin commented on #13817
@fireFrappe, short answer is NO.

Long answer: this is not what you are probably looking for. We can reshape hardware-independent model representation (IR) before loading to a plugin, so that guide you referenced is applicable for OpenVINO model before it is compiled for a plugin. After compilation, when it is represented as executable network -- your case -- you still can change the shape of the

[2022-11-03 10:38] ilya-lavrenov commented on #13815
Hi @yszhou2019

You can create inference requests and remove Core, CompiledModel objects.
InfereRequest keeps internally all references (including internals of CompiledModel) which are needed during its lifetime and correct destruction.

[2022-11-03 10:54] SiegfriedIppischSecuriton commented on #13713
Hi @Iffa-Meah,

Thank you for the fast answer. In the screenshot, it looks like you are using the release build. Things get harder, to find there memory leaks. Thats why i used the debug build. Anyways, those flags/tools only work in debug.
![image](https://user-images.githubusercontent.com/102350502/199701121-5f5fc1a9-1f7e-4d07-8005-41e89e98ba31.png)

To see, if the mechanism works, it might also

[2022-11-03 10:57] Maxim-Doronin commented on #13590
Hi! You can use compile_tool or Export method in order to save compiled graph in a blob format. Then you can use it in any application that uses Import method. As @ilya-lavrenov said some information is lost like names of operations and metadata. Anyway, after importing and parsing the blob in the myriadx plugin you are able to call QueryNetwork and get some info about the model structure.

[2022-11-03 11:16] yszhou2019 commented on #13815
Thank you! @ilya-lavrenov

[2022-11-03 11:16] #13815 closed

[2022-11-03 15:50] FongKPW commented on #13619
We have escalated this care to our developer for further access.

Ref 95693

[2022-11-03 18:57] avitial commented on #13401
@leizhu1989 try using the _inference_num_threads_ property to set the number of threads to use for inference on the CPU. Refer to [Setting Properties for Compiled Model](https://docs.openvino.ai/latest/openvino_docs_OV_UG_query_api.html#setting-properties-for-compiled-model) for info. Setting this value to 1 results in application utilizing a single CPU core, refer to mpstat output for cpu usage b

[2022-11-03 18:57] #13401 closed

[2022-11-03 18:59] avitial commented on #13434
Closing this, feel free to reopen to ask any questions related to this topic.

[2022-11-03 18:59] #13434 closed

[2022-11-04 01:35] Raise-me-up commented on #13605
I think the partial build of the source codes can meet my demand at present. So, thank you for your kind help.

[2022-11-04 01:35] #13605 closed

[2022-11-04 01:35] #13655 closed

[2022-11-04 02:16] sbin149x opened #13838 "Error when run ./build_samples.sh"
- OpenVINO => 2022.2.0
- Operating System / Platform =>  Ubuntu 20.04.4 LTS (Docker) on Alderlake RVP

I setup Openvino toolkit on docker following this method https://dlstreamer.github.io/get_started/install/install_guide_ubuntu.html#id1.
However when I want to use benchmark_app I got this error when build_samples.

root@590a81af132e:/opt/intel/openvino_2022/samples/cpp# ./build_samples.sh

Setti

[2022-11-04 05:34] brmarkus commented on #13838
You could align with OpenVINO's Dockerfiles under "https://github.com/openvinotoolkit/docker_ci/tree/releases/2022/1/dockerfiles".

Or, just use one of the pre-built containers, pushed to the Docker Hub, like:

(Showing for version 2022.1)
`docker pull openvino/ubuntu20_dev:2022.1.0`

And then, inside the container, build the inference-engine samples:

[code]

[2022-11-04 06:58] sbin149x commented on #13838
Does it make a difference if setup openvino from repo or using package from https://storage.openvinotoolkit.org/repositories/openvino/packages/2022.2/linux/ ? I try to understand the diff as we are having custom docker build.

[2022-11-04 07:19] Iffa-Meah commented on #13713
@SiegfriedIppischSecuriton I rechecked the test using **Debug** instead **Release**.

gflag:

<img width="295" alt="13713_Debug1" src="https://user-images.githubusercontent.com/79643476/199914848-a1bed709-deca-4ce8-8556-aed30ff97369.png">

debugger:

<img width="883" alt="13713_debug2" src="https://user-images.githubusercontent.com/79643476/199914889-d1caaa19-dcf2-44b3-bbf2-4fcfb3ad9367.png">

I c

[2022-11-04 08:03] Raise-me-up opened #13851 "[Bug]Exception: Exception occurred during running replacer "REPLACEMENT_ID (<class 'openvino.tools.mo.front.LayerNorm.LayerNorm'>)": The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
##### System information (version)
Mo Version:  2022.3.0-000--
Operating System / Platform => Windows 10 64 Bit
Compiler => Visual Studio 2019
Problem classification: Model optimizer
Framework: Pytorch

##### Detailed description
I just use the latest mo program built from the latest source codes to transform onnx model into IR model, but fail. Can anyone tell me how to solve the problem please? T

[2022-11-04 08:52] andrei-kochin commented on #13851
Hello @Raise-me-up,

Thanks for reaching OpenVINO!

Please tell me which OpenVINO version do you use?
It seems like issue is no visible on: e8c8ad19f43 which is 25 days old.
[code]

[2022-11-04 08:53] ilya-lavrenov commented on #13838
this is not used in OpenVINO. Maybe some problems with environment..

[2022-11-04 08:56] andrei-kochin commented on #13851
@Raise-me-up Ok, seems I've managed to re-create your issue but with option `--use_legacy_frontend` on 2022.3 master baseline.
That means that you somehow using legacy(Python) ONNX frontend  instead of new(C++) frontend.
It is either old version of MO(2021.4 or earlier) or you've explicitly specified `--use_legacy_frontend` option which I hope you haven't done

[code]

[2022-11-04 08:57] andrei-kochin commented on #13851
@Raise-me-up please provide output of:
`mo --version`

Thanks !

[2022-11-04 09:03] Raise-me-up commented on #13851
Hi, andrei-kochin

Thanks for your reply!

The mo program I use is built from your source codes partially, and the version info is as follows:

(openvino_mo) D:\software\Pycharm\workspace\DPCRN_model\models>mo --version
fatal: not a git repository (or any of the parent directories): .git
Version of Model Optimizer is: unknown version

which is a liitle cofusing.

I have search the version info in

[2022-11-04 09:05] Raise-me-up commented on #13851
Can you provide the latest wheel file of openvio, so I can install the openvino without building?

[2022-11-04 09:13] Raise-me-up commented on #13851
@andrei-kochin It seems hard for me to completely build your source codes successfully,  as it shows in the following issue:

https://github.com/openvinotoolkit/openvino/issues/13605

Maybe a wheel file of the latest openvino will be helpful.

Thanks!

[2022-11-04 09:43] liubo-intel commented on #13601
Hi, @yszhou2019 :
we have tried this 'HiFiGAN' model on our side, it shows the similar phenomenon as you described. looks like the Instruction Set Architecture of Ice Lake machine(Intel(R) Xeon(R) Platinum 8375C CPU you are now using) consume very large memory when process HiFiGAN model, and you can also find that if use older generation CPU platform(e.g. Cascade Lake machine) when process this 'H

[2022-11-04 10:25] brmarkus commented on #13838
The source-code repo only contains open-source components, but for instance doesn't contain support for the Myriad-X (NCS2) device VPU; but the pre-built OpenVINO installation contains support for e.g. Myriad-X.

You could use one of the different pre-built OpenVINO Docker contains as a base for your proprietary Dockerfile:

# https://github.com/openvinotoolkit/docker_ci/tree/releases/2022/1/docke

[2022-11-04 10:56] OscarPedaVendere commented on #13431
Sry, Any updates on this?

[2022-11-04 11:06] mlukasze commented on #13431
Hey @OscarPedaVendere
Sorry you have to wait. It's planned to be fixed, but unfortunately is in queue due our current roadmap and schedule.
But we will do this for sure. Stay tuned.

[2022-11-04 19:51] pskoko opened #13876 "[Bug] Postraining quantization with DefaultQuantization and use_layerwise_tuning=True fails"
##### System information (version)

- OpenVINO=> 2022.2.0
- Operating System / Platform => Ubuntu20.04
- Compiler => PyPi
- Problem classification => Model quantization
- Model name: ResNet50

##### Detailed description

Performing posttraining quantization with DefaultQuantization algorithm and use_layerwise_tuning parameter set to True, quantization fails with the following error:

[code]
OpenVI

[2022-11-04 20:13] raymondlo84 commented on #11554
Do you have the openvino-dev prebuilt too?

[2022-11-05 04:53] LarryXing0 opened #13878 "[Environment conflict]"
using the master version.
my local enviroments: ubuntu 18.04, ldd (Ubuntu GLIBC 2.27-3ubuntu1.6) 2.27
building my example, there is a problem that intel64/libgna.so.3: error: undefined reference to 'log2', version 'GLIBC_2.29', how
 to avoid this problem without update my enviroment. thanks very much.

[2022-11-05 06:24] rkazants commented on #13876
@AlexKoff88, @KodiaqQ, please help.

[2022-11-05 09:12] Raise-me-up commented on #13851
@andrei-kochin

Hi, thanks to the proxy software, I have succeeded in building your source codes now! However, I can't find the proper way to install the built openvino in your wiki(https://github.com/openvinotoolkit/openvino/wiki/BuildingForWindows).  Could you provide more installation information please?

[2022-11-05 09:27] Raise-me-up commented on #13851
@andrei-kochin

Hi, I have found the info I need in wiki(https://github.com/openvinotoolkit/openvino/wiki/BuildingCode#installing). Thank you for your help!

[2022-11-05 09:27] #13851 closed

[2022-11-05 12:14] ilya-lavrenov commented on #13878
Hi @LarryXing0

This is a known issue that GNA library is built with higher version of glibc. I've left the same comment here https://github.com/openvinotoolkit/openvino/pull/13864/files#r1014144331

CC @kbruniec

[2022-11-06 01:58] Fred-cell opened #13881 "[Bug] build on CentOS7.9"
##### System information (version)

cmake -DCMAKE_BUILD_TYPE=Release -DONEDNN_ENABLE_MAX_CPU_ISA=ON -DENABLE_CLDNN=OFF -DENABLE_INTEL_GPU=OFF -DENABLE_INTEL_GNA=OFF -DENABLE_INTEL_MYRIAD_COMMON=OFF -DENABLE_INTEL_MYRIAD=OFF -DVERBOSE_BUILD=OFF -DENABLE_PYTHON=ON -DENABLE_WHEEL=ON -DCMAKE_INSTALL_PREFIX=../install -DTREAT_WARNING_AS_ERROR=OFF -DENABLE_OPENCV=OFF -DPYTHON_EXECUTABLE=`which python3.7

[2022-11-06 20:33] ma7555 opened #13883 "RuntimeError: [ NETWORK_NOT_READ ] on CentOS 7.9"
I get this error after building on Centos 7.9 and installing the wheels in pip. The build finished successfully

[code]
CMAKE config:
[code]

But upon loading models:
[code]

The mentioned model is loaded successfully in other systems without any problem and the xml seems fine.

I have installed both wheels openvino and openvino-dev and I can run commands like `mo` and `benchmark_app`.  I have use

[2022-11-07 05:16] brmarkus commented on #13883
Can you provide more information about your environment, please?
Which OpenVINO version have you installed?

Which model do you use and where have you got it from? Do you use a model from OpenVINO/Open-Model-Zoo? Do you use an IR-format or an ONNX-format?

What does the test look like where you get the mentioned error, can you share a command line?

A case where the error message can be seen is, w

[2022-11-07 06:20] venki-thiyag opened #13888 "[Bug] Unable to load OpenVINO in Electron app node addon"
##### System information (version)
- OpenVINO=> 2022.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification => OpenVINO load issue

##### Detailed description
On Windows, OpenVINO works fine when used from standard Windows application (Win32)
But when used from Electron node addon, on the same machine OpenVINO compile_model API was failing with

[2022-11-07 06:21] mlukasze commented on #13888
could you quote this exception message, please?

[2022-11-07 06:44] venki-thiyag commented on #13888
I have a fix for this issue, looks like when OpenVINO is looking for frontends in some improper path formats. Any idea on how to raise pull requests for this issue?

[2022-11-07 06:49] mlukasze commented on #13888
The way we could recommend is to create a fork, prepare an fix on a branch, and set a PR to origin master.
At this point GH will call for necessary people on our side to perform a review :)
Please check this link for details --> https://github.com/openvinotoolkit/openvino/blob/master/CONTRIBUTING.md

[2022-11-07 07:22] ilya-lavrenov commented on #13888
frontends are found the folder with openvino.dll

[2022-11-07 08:45] venki-thiyag commented on #13888
Raised a review with a fix for this problem.

[2022-11-07 08:49] venki-thiyag commented on #13888
Yes, right, but when used inside Electron, no frontends are found, changes are raised in pull request solves this problem

[2022-11-07 09:15] AlexKoff88 commented on #13876
Hi @pskoko! Thanks for noticing that. This is an experimental feature that we would like to implement but still cannot make it work correctly due to resource constraints. If you are experienced in that feel free to fix it and contribute. Since it is experimental we don't have strong acceptance criterium for contributions.
For now, I cannot give any timeline for when we get back to it, unfortunatel

[2022-11-07 09:47] yszhou2019 commented on #13601
Acturally, the latter way doesn't help solve OOM. I notice OOM happens when compiling with static shape. But it seemes whether this situation will happen depends on hardware.

When I run this program with openvino 2022.2.0 on AWS (**Intel(R) Xeon(R) Platinum 8375C** CPU ), OOM happens. It looks like each static model takes up nearly 1-2GB memory.
![image](https://user-images.githubusercontent.com/

[2022-11-07 10:06] tomdol commented on #13888
Knowing what error you encountered would be very helpful anyway, could you please paste it in the comment?

[2022-11-07 10:34] yszhou2019 commented on #13601
BTW, with openvino==**2022.1.0**, running this program ( with 10 static models) will takes **no more than 2GB** on AWS (Intel(R) Xeon(R) Platinum 8375C CPU ).

[2022-11-07 13:53] ilya-lavrenov commented on #13883
Hi @ma7555,

Please, check that `openvino-2022.3.0-8537-cp39-cp39-manylinux_2_17_x86_64.whl` actually contains frontend libraries:
[code]
If they are here, please, try run your application with `strace` and check at which locations `openvino_frontend_**.so.2022.3.0` files are searched by OpenVINO. It can be a key to resolve the issue.

[2022-11-07 14:12] ma7555 commented on #13883
@brmarkus ,
I pulled from master, v2022.3.0, the model is an optimized model from tf "SavedModel" format. I ran the model optimizer `mo` on it using so i think it is IR format. The model optimizer was ran on a Windows 11 maching after installing openvino through PyPI
[code]
The saved model works well on the windows machine and on other Linux machines but not this one

I use this class as a wrapper

[2022-11-07 15:03] ma7555 commented on #13883
@ilya-lavrenov

files under `libs` after unpacking the wheel:
[code]
I will try with strace

[2022-11-07 15:09] ma7555 commented on #13883
strace_output attached
[strace_output.txt](https://github.com/openvinotoolkit/openvino/files/9952904/strace_output.txt)

[2022-11-07 15:27] #13888 closed

[2022-11-07 16:40] #9877 closed

[2022-11-07 16:50] #11722 closed

[2022-11-07 18:38] raymondlo84 opened #13901 "[Contribution?] How do I make contribution to Wiki?"
https://github.com/openvinotoolkit/openvino/wiki/BuildingForWindows

I made some updates here, and how do I make a pull request/commit to this?

[BuildingForWindows.md](https://github.com/openvinotoolkit/openvino/files/9954507/BuildingForWindows.md)

Thank you!

-ray

[2022-11-08 01:47] zulkifli-halim commented on #13881
Hi @Fred-cell, do you get a chance to check the guide on how to [Building OpenVINO on CentOS 7](https://github.com/openvinotoolkit/openvino/wiki/Building-OpenVINO-on-CentOS-7-Guide)? This guide will provide you with detailed guidelines for building OpenVINO on CentOS 7.9.

[2022-11-08 03:42] alalek commented on #13901
AFAIK, There is no pull-request feature for Wiki pages on GitHub. However wiki is stored as git repository and we could clone them (read access is public)

You could enable "wiki" in your fork (through settings), edit wiki page in your fork and provide a link in comments below (or update issue's description).
Using provided link maintainers could check changes in your fork and then provide feedbac

[2022-11-08 03:51] ilyachur commented on #13901
Hi @raymondlo84

At the current moment we started the process of moving developer documentation from Wiki to markdown documents inside the main repository.
Windows build exists here: https://github.com/openvinotoolkit/openvino/blob/master/docs/dev/build.md

You can take a look and create PR with proposed changes.
Thanks.

[2022-11-08 04:03] sammysun0711 commented on #13881
I found the CMake hang issue caused by: https://github.com/openvinotoolkit/openvino/blob/e1f014ac15ed5b59343c336598bd77fd81eef765/cmake/developer_package/IEDevScriptsConfig.cmake#L98
which will call：https://github.com/openvinotoolkit/openvino/blob/e1f014ac15ed5b59343c336598bd77fd81eef765/cmake/developer_package/shellcheck/shellcheck.cmake#L10
This issue can be reproduced by running
`/usr/bin/shell

[2022-11-08 04:08] sammysun0711 commented on #13881
Please note, Shellcheck issue may not reproduce in all CentOS 7 system, I verified two systems, CLX6248 failed while i7-10700 works, it may related kernel version installed.
Here is system information for two machine:

CLX6248:
- OS: CentOS Linux release 7.9.2009 (Core)
- Kernel: 3.10.0-1127.13.1.el7.x86_64
- Glibc: 2.17
- ShellCheck: ShellCheck-0.3.8-1.el7.x86_64
[strace_shellcheck_CLX6248.log](h

[2022-11-08 05:04] ilyachur commented on #11554
Hi @raymondlo84  no we don't provide pre-build openvino-dev

[2022-11-08 06:16] liubo-intel commented on #13601
@yszhou2019  you are correct, openvino will decide the default streams numbers which it will use for inference based on cpu cores, socket numbers, etc. these parameters are different between different CPU models(hardware).

[2022-11-08 06:18] liubo-intel commented on #13601
That's also right. from 2022.2 version, we introduce a new series of cpu kernels for some platform(including the ice lake CPU platform you are using, e.g. Xeon(R) Platinum 8375C). these kind of new cpu kernels have better performance for most NN cases, but as mentioned before, it requir larger memory consumption for some cases, e.g. this HIFI-GAN network, which have many large size convolutin kern

[2022-11-08 06:32] yszhou2019 commented on #13601
@liubo-intel I just set `ov::num_streams` to 1 and this process is still killed. But it doesn't matter. Maybe I can use openvino==2022.1.0  just for static inference or openvino==2022.2.0 for dynamic inference.

Hoping this problem can be solved in next version. Thank all of you! Guys.

I will leave this issue open.

[2022-11-08 07:20] liubo-intel commented on #13601
Hi, @yszhou2019 : from our previous investigation, I think this case is not suitable to use 'bug' label here, in order to better classify all kinds of problems for the future tracking, let's remove this label.

[2022-11-08 10:16] yuxu42 commented on #13493
@JulienMaille could you please provide more information for us to analyze the issue?
1) could you please share the test case to reproduce the issue?
2) could you please share the model?
3) does it work with the combination of opencv4.6 and openvino 2022.1?

[2022-11-08 10:42] wrchen-voxel commented on #13744
Got it! Here is the output extension [ud.tar.gz](https://github.com/openvinotoolkit/openvino/files/9960136/ud.tar.gz) I implemented. I have tried the 1batch 0pad situation, it seems the model speed up is not so obvious..

[2022-11-08 11:00] yszhou2019 commented on #13601
@liubo-intel
I also notice another problem. In this situation, I choose **openvino==2022.2.0** and **only dynamic inference**. When this program revoke `void inference(...)` for many times, memory continously goes up thus **leading to OOM and killed**.
[code]

When I remove ov::CompiledModel from the data memeber and only add inferRequest as data member, **the same happens**.
With chip Intel(R) Xe

[2022-11-08 11:33] ilya-lavrenov commented on #13883
From the strace logs I don't see that frontends are tried to be loaded. Could you please provide a small repro? I will try to load it locally and compare strace logs.

[2022-11-08 11:48] yszhou2019 commented on #13601
"When this program revoke void inference(...) for many times, memory continously goes up thus leading to OOM and killed."

The same happens with **openvino==2022.1.0** and **Intel(R) Xeon(R) Platinum 8275CL CPU** @ 3.00GHz.

[2022-11-08 12:52] #13901 closed

[2022-11-08 13:35] ma7555 commented on #13883
I tried to recompile with GCC 9
As always build is successfull however, loading a model from the zoo for testing I receive the below error:
[code]
[code]

[2022-11-08 13:44] yszhou2019 commented on #13601
@liubo-intel
You can try this with openvino==2022.2.0 or with 2022.1.0. It looks like memory leak.

[code]

[2022-11-08 13:46] yszhou2019 opened #13914 "[Bug] Unceasing inference leads to memory leak in cpp"
##### System information (version)
OpenVINO => 2022.1.0
Operating System / Platform => Linux 64 Bit
Problem classification: Memory Leak
OS: Almalinux8
Model name: HiFiGAN
Max memory: 4GB

##### Detailed description
 I try to compile and run this program with openvino==2022.2.0 or 2022.1.0.  When this program calls void inference(...) for many times, memory continously goes up. I don't know what's

[2022-11-08 15:11] JulienMaille commented on #13493
1/2. I invited you to a private repository with the inference code and a model that reproduce the issue. You just need to run `inference.exe models/test1.onnx`

3. Here the difference between 2022.1.1 and 2022.2.0
[code]
[code]

[2022-11-08 23:46] OscarPedaVendere commented on #13431
Ok thank you for your patience and your work. Looking forward to it :)

[2022-11-09 01:19] liubo-intel commented on #13601
@yszhou2019 thanks for the detail description and codes for your findings. looks like you modify the default openvino InferenceEngine part(`ov::CompiledMode`, `ov::inferRequest`), I'm not sure whether this modification suitable, I could help have a look at CPU Plugin part if needed, but  sorry that I'm not so familiar with InferenceEngine part. @ilyachur , @wangleis  could you please help have a q

[2022-11-09 03:08] ilyachur commented on #13601
@liubo-intel I don't see here any modification of common OpenVINO part, looks like it is a reproducer.

@yszhou2019 Am I right that on the last code snippets (with CPU device) you have a memory leak if you call inference in the cycle?

@dmitry-gorokhov CC

[2022-11-09 03:17] #13914 closed

[2022-11-09 03:17] yszhou2019 commented on #13601
@ilyachur Yeah. I think there may be a memory leak in the last line.

Here is the capture of yesterday 9:59PM and today 11:16AM.

![image](https://user-images.githubusercontent.com/59953951/200729613-46519e3a-0791-4dd8-8b4a-4a3dbf5820ae.png)

![image](https://user-images.githubusercontent.com/59953951/200729660-30fb6fec-de0f-448d-b044-62224aeb34ed.png)

[2022-11-09 03:41] liubo-intel commented on #13493
Hi, @JulienMaille :  could you please also add me to inference code repository? I'm trying to look into this issue together with @yuxu42 .
BTW, if possible, could you please also add some description on how to reproduce this issue step by step(better including the ways how you build opencv and openvino in your inference code repository).
and from your previous log, it looks like both openvino 2022

[2022-11-09 04:39] ilyachur commented on #13617
Hi,

I am not a big fan to introduce any additional logic like: `something not found -> try to find something else if not found -> etc.`.
For me the idea with `plugins.hpp` looks better.
For frontends, at the current moment we have a limited unconfigurable list of frontends, you cannot add something new without changes in OpenVINO, but you can deploy only necessary frontends, openvino will automat

[2022-11-09 05:02] ilyachur commented on #13601
@dmitry-gorokhov Could you or ask somebody to take a look from CPU perspective?

[2022-11-09 05:54] #13774 closed

[2022-11-09 06:56] yaswanthan opened #13921 "Getting error in bounding box when we convert onnx model to IR"
Hi team,
   I have pre-train a model to detect objects. The inference comes well in onnx format. I have converted the model into openvino format and do the inference. In the inference, we get too many bounding boxes. So after that, we have done **NMS** to reduce the number of bounding box. We have used openvino API 2.0.  But still, there are too many bounding boxes.

We have refered the following

[2022-11-09 07:04] mlukasze commented on #13921
hey @yaswanthan
sorry for inconvenience.
let us check it, we will back to you soon.

[2022-11-09 07:22] JulienMaille commented on #13493
@liubo-intel I have added you.
Yes it fails on both 2022.2.0 and 2022.1.1
In order to reproduce, you just need to use cmake to generate the project file with the desired version of opencv
Then compile it and run the exe, which takes a model in input.

[2022-11-09 07:24] brmarkus commented on #13921
Can you maybe also share your ONNX-file, please?
Then it would allow to compare.
Can you provide details about how you converted the model (e.g. using model-optimizer, using which command-line parameters)?
Can you provide details about the expected inputs and outputs? Maybe something went wrong with the conversion.

Depending on the used operations and OPset-level you might be able to directly use

[2022-11-09 08:28] liubo-intel commented on #13493
@JulienMaille , thanks, I can access the repo now.  from opencv [build document](https://docs.opencv.org/4.x/db/d05/tutorial_config_reference.html) it looks like by default, when building opencv, 'WITH_OPENVINO' option is 'OFF'.
`WITH_OPENVINO	OFF	Enable Intel OpenVINO Toolkit support. Should be used for OpenVINO>=2022.1 instead of WITH_INF_ENGINE and WITH_NGRAPH.`
do you install your opencv from

[2022-11-09 09:05] yaswanthan commented on #13921
Hi @mlukasze  @brmarkus ,

I have converted the model using "mo command"  => **mo --input model yolo.onnx**

My input shape will be **(1,416,416,3)**

My output shape will be **(n*7)**
n -> refer number of detection

I have attached the onnx file.
[onnx_file.zip](https://github.com/openvinotoolkit/openvino/files/9969286/onnx_file.zip)

[2022-11-09 09:22] JulienMaille commented on #13493
@liubo-intel I'm not recompiling OpenVino, I'm using the official packages. Although I also tried recompiling a special branch of OpenVino with a bug fix and still have the issue. In that case I had recompiled OpenVino with default options, using the supplied script.
Regarding OpenCV, I will upload my compilation script in the repository, but my options are something like this: `-DBUILD_LIST=core,

[2022-11-09 10:13] yszhou2019 commented on #13601
Hi, guys.
I just use valgrind to test this simple program(load and infer for once, then end). Here is the result. It seems memory leak happens in libtbb.
[code]

[2022-11-09 12:56] zulkifli-halim commented on #13883
Hi @ma7555, I'm using this [guide ](https://github.com/openvinotoolkit/openvino/wiki/Building-OpenVINO-on-CentOS-7-Guide) to build OpenVINO on CentOs 7.9 and it works for me:
[code]
I also tested the model with benchmar_app:
[code]

May I know the detail of the system you used? Also, please share with me the command you used to pull the v2022.3.0 branch.

[2022-11-09 13:27] ma7555 commented on #13883
[code]
[code]
[code]

OpenVINO is added as a submodule in the project and then cloning is run with

[code]

Building with this script:
https://gist.github.com/ma7555/c93b9e9d89d1e745f591ccd5b86805dc

As I noted, I installed with the same script successfully on other systems running CentOS 7.9. The problem happens on 1 of 3 machines and I can not find out where is the problem.

Do you mind sharing

[2022-11-09 17:10] andrei-kochin commented on #13817
@fireFrappe are there any questions from your side or we can close the issue?

[2022-11-09 17:27] andrei-kochin commented on #13594
@mosdav looks like doc you've mentioned tell about "ScatterUpdate" not "ScatterND"  or "ScatterNDUpdate" so seems like no discrepancy with behavior or maybe I misunderstand something.

Please comment. Thank you!

[2022-11-10 04:31] zulkifli-halim commented on #13883
Hi @ma7555. Here is my [wheel package](https://drive.google.com/file/d/1DQawn3UUR-_JBl1qwe74tUZFJDQnKLoX/view?usp=share_link) and I'm using Python 3.7.

[2022-11-10 06:48] fanxiaochen456 opened #13935 "Symptom openvino cannot be used properly after being installed and configured in windows"
Hello, I have installed the tool suite of OpenVINO2021 and configured the path of the OpenVINO toolkit in the local system environment, but the following error message appears when I call OpenVINO using VS2019:
![图片](https://user-images.githubusercontent.com/101849755/201019833-986d416e-a555-4753-8966-86ff579a15ea.png)
Here are the environment variables I configured:
![图片](https://user-images.gith

[2022-11-10 07:58] hbalasu1 commented on #13491
Hi @triwahyuu

The issue you're facing has already been fixed in the latest OpenVINO master branch. But for the fix to be reflected in pip install openvino, and openvino-dev, you have to wait for the next OpenVINO release, which is version 2022.3.

Hope this information helpful, and sorry for the inconvenience

Thank you

[2022-11-10 08:24] liubo-intel commented on #13493
@JulienMaille ： could you please have a try using '[4.5.5-openvino-2022.1.0](https://github.com/opencv/opencv/tree/4.5.5-openvino-2022.1.0)' tag version opencv compare with '[2022.1.0](https://github.com/openvinotoolkit/openvino/tree/2022.1.0)' tag version openvino, in order to get rid of openvino and opencv unmatched version reason.
I've also tried this two version on my side. but meet some onnx

[2022-11-10 08:33] ilyachur commented on #13601
@yszhou2019 Could you try to use master branch? Maybe it can help, because we merged some fixes for TBB to the master branch.

[2022-11-10 08:36] yszhou2019 commented on #13601
@ilyachur  The valgrind result is from openvino2022.1.0.  I haven't checked memory leak with openvino2022.2.0.

[2022-11-10 08:58] JulienMaille commented on #13493
@liubo-intel I can try compiling that tag, what exactly is different there, it's not clear to me.

[2022-11-10 08:59] artkuli commented on #13491
Hi @triwahyuu
As @hbalasu1 wrote, the issue has been fixed.
I can't reproduce it. My results:
`openvino:` 4
pytorch: 4`

Tested on current master branch, revision: https://github.com/openvinotoolkit/openvino/commit/a1b496e051fc514222c7854d873d7e1d49c42fb5
OS:  Ubuntu 20.04.2

[2022-11-10 09:29] hbalasu1 commented on #13713
This case have been escalated to development team for further assist

Ref: 96327

[2022-11-10 11:40] ilyachur commented on #13601
Unfortunately 2022.1 is not a LTS release, it means that we won't fix issues in this releases. At the current moment I would like to understand do we still have the same problem for the master branch or not. If I remember right we had some changes for TBB.

[2022-11-10 13:06] yszhou2019 commented on #13601
@ilyachur Here is valgrind result with openvino==2022.2.0
[code]

[code]

[2022-11-10 13:28] yszhou2019 commented on #13601
Here is a capture of inference in an endless loop
![image](https://user-images.githubusercontent.com/59953951/201103957-ae035de2-03dc-417d-a489-1075c6a87afc.png)

[2022-11-10 13:45] tomdol commented on #13601
You can also try running valgrind with the [massif ](https://valgrind.org/docs/manual/ms-manual.html) plugin - this might help you narrow down the memory leak root cause.

[2022-11-11 01:59] peterchen-intel commented on #13601
@ilyachur  One TBB fixing was updated on https://github.com/oneapi-src/oneTBB/commits/tbb_2020 @yszhou2019 You can try to build TBB binaries and replace them inside the OpenVINO folder.

[2022-11-11 02:01] yszhou2019 commented on #13601
Thank you! @peterchen-intel I will try it later.

[2022-11-11 03:25] liubo-intel commented on #13493
@JulienMaille ，From My understanding opencv branch with "-openvino-XX" postfix stands for the opencv version which officially support openvino backend. and it needs to be used with compared openvino version "XX".
so, that means if you intend to use openvino backend in opencv, the recommend way is to select opencv versions with "-openvino-XX" postfix and select openvino with compared "XX" version.

[2022-11-11 03:31] liubo-intel commented on #13493
I think that make sense, recommend you use 'Tag 4.4.5-openvion-2022.1.0 compiled with OpenVino 2022.1.1.7030' for your current work. 'OpenVino 2022.2.0.7713' may need wait opencv team to upgrade opencv to the related version.

[2022-11-11 04:26] andrei-kochin commented on #13935
Hello @fanxiaochen456,

Thanks for reaching OpenVINO. Is it possible for you to share the code snippet to preproduce the issue? unfortunately it hard to get from the attached screenshots which routine throws abort exception.

Thank you!

[2022-11-11 04:31] cnglen opened #13954 "Shape [-1] is not fully defined for output 0 of "xx feature""
$ mo --saved_model_dir model_backup
Model Optimizer arguments:
Common parameters:
        - Path to the Input Model:      None
        - Path for generated IR:       xxxpath/.
        - IR output name:       saved_model
        - Log level:    ERROR
        - Batch:        Not specified, inherited from the model
        - Input layers:         Not specified, inherited from the model
        - Outp

[2022-11-11 04:51] Kylemaycry commented on #11810
Same environment, same issue, may I know how you solved the problem? Thank you..

[2022-11-11 05:42] brmarkus commented on #13954
Can you provide details about your environment - which HW and what OperatingSystem in which version, which OpenVINO version you are using (and how you have installed it), which Python version you have installed, please?

Are you within a Docker container, have you created a Python virtual environment?

Would it be possible to share your model files (or a representative model) for reproduction?
Tha

[2022-11-11 07:03] cnglen commented on #13954
OS: Linux 4.19.91-26.1.al7.x86_64 x86_6

python version: python 3.7.11

openvino install method:

[code]

[2022-11-11 12:51] CSBVision commented on #13617
Yes, generally we agree on that. Still, here maybe only trying the CPU shared library is still worth a try instead of throwing an error.

Nevermind, as a first step we tried to register the plugins at compile time by replacing the parse XML code by loading the CPU plugin. As you said, the method `register_plugin` is the way to go. However, we don't have a `ov::Core` instance available to call this

[2022-11-11 12:51] cnglen opened #13958 "which tensorflow2 version is supported?"
is 2.8.0 supported?

[2022-11-11 15:44] HeywardLiu opened #13963 "[Bug] failed to link python shared library when building from source (x64, ubuntu22.04)"
##### System information (version)

- OpenVINO=> 2022.3
- Operating System / Platform => ubuntu 22.04 LTS
- Compiler => gcc 11.3.0 / cmake==3.22.1
- Problem classification => error building openvino from source (x64, ubuntun platform)

##### Detailed description

Sorry, this might be a studpid question since I'm a newbie to openvino and cmake, this is my first time to build package from source.

I

[2022-11-11 16:03] JulienMaille commented on #13493
@liubo-intel wouldn't we expect https://github.com/opencv/opencv/tree/master to work fine with OpenVino 2022.1.1 ?

[2022-11-11 18:58] HeywardLiu commented on #13963
I figured out that the problem was resulted from lack of python **shared library** `libpython3.8.so`.

Since I managed python environment under `pyenv` pacakge, I needed to enable shared library manually with the command:
 `env PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 3.8.11`

Then config cmake with:
[code]
Note that .pyenv was folder to manage different python versions by [`pyenv`](h

[2022-11-11 18:59] #13963 closed

[2022-11-11 19:36] rkazants commented on #13958
Hi @cnglen,

Yes, we support up to 2.9.1 since 2022.2 release.

Best regards,
Roman

[2022-11-11 19:56] rkazants commented on #13954
Hi @cnglen,

Please make sure that you have installed the latest OpenVINO packages (openvino and openvino-dev) because dynamic shapes (`-1` dimensions) are supported for several releases and we boosted upper bounds for NumPy up to 1.23.1 in the requirements (you have warning `numpy: installed: 1.21.6, required: < 1.20`).

Once you install it your errors should be gone.

Best regards,
Roman

[2022-11-11 20:00] Kylemaycry commented on #11810
Hi @zulkifli-halim, could you share the solution here? thanks

[2022-11-12 09:29] #13958 closed

[2022-11-12 10:07] cnglen commented on #13954
how to install 2022.02? I've tried some commands, only ```Version of Model Optimizer is: 2021.4.2-3976-0943ed67223-refs/pull/539/head``` can be installed.

[code]

[code]

[2022-11-12 10:26] rkazants commented on #13954
@cnglen, you have dependency conflicts. Try to re-install numpy module of version >=1.20 first:

[code]

[2022-11-12 14:21] ilya-lavrenov commented on #13963
Right, static libraries from the system are compiled without `-fPIC` and cannot be used.

[2022-11-12 14:38] glennford49 opened #13968 "Cannot load library 'libopenvino_intel_myriad_plugin.so:"
I have my working openvino 2022.2 toolkit working, then i  tried openvino-dev from pypi.
started running the python files, openvino-dev works on cpu but not on MYRIAD, any idea on this?
MYRIAD  is detected on helloquerydevice, and is working flawlessly on openvino 2022.2 toolkit .

[2022-11-12 15:51] HeywardLiu commented on #13963
@ilya-lavrenov Thanks for confirming!

[2022-11-12 17:53] HeywardLiu opened #13969 "[Bug] benchmark_app stuck at [Loading] the model to the device (MYRIAD NCS2)"
##### System information (version)
- OpenVINO=> 2022.3
- Operating System / Platform => ubuntu 2204 LTS (5.15.0-52-generic) / AMD Ryzen 4700U
- Compiler => gcc 11.3.0
- Problem classification: Model Deployment (Intel Myriad NCS2)
- Framework: openvino IR-format & blob-format
- Model name: swin-tiny-patch4-window7-224

##### Detailed description

I've been trying to run `./benchmark_app` with `swin

[2022-11-12 21:50] ilya-lavrenov commented on #13968
MYRIAD plugin is not available through pip packages downloaded on Pypi. This is because of difference license which is used for MYRIAD plugin, while on Pypi can we use packages with apache2.

You can use MYRIAD plugin via python using OpenVINO archives. Python is located in `python` folder and activated once you call setupvars script.

[2022-11-13 08:39] dlod-openvino opened #13970 "[Bug]Failed to convert maskrcnn_resnet50_fpn_v2 model from torchvision"
##### System information (version)
- OpenVINO => 2022.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: PyTorch
- Model name: maskrcnn_resnet50_fpn_v2

##### Detailed description
Failed to convert maskrcnn_resnet50_fpn_v2 model from torchvision

##### Steps to reproduce
**Step1** Using the following code to ex

[2022-11-13 10:06] ma7555 commented on #13883
I couldn't install the wheel on my Centos 7.9 system. Any more things to try?

[2022-11-13 11:00] HeywardLiu commented on #13969
### Update
Hi communiy, I further tried to benchmark more `transformer-based` model on openvino with MYRIAD.

To deploy `deit-tiny-distilled-patch16-224` model, the following shows how I converted model to `.xml` & `.blob` file.
- `torch` model: Downloaded from [torch hub api](https://pytorch.org/docs/stable/hub.html)
- `torch` &rarr; `onnx`: `torch.onnx.export` API
  - [Here is my implementation]

[2022-11-13 19:04] andrei-kochin commented on #13970
@dlod-openvino thanks for reaching OpenVINO!

@mlukasze looks like this something for your guys to check.
Thanks

[2022-11-13 19:13] andrei-kochin commented on #13954
@cnglen adding a bit more to previous comment by @rkazants as you have to upgrade pip to have 2022.2 available

[code]

[2022-11-13 19:14] #13817 closed

[2022-11-13 20:03] ma7555 commented on #13883
a small reproducible code

[code]
[strace.log](https://github.com/openvinotoolkit/openvino/files/9998103/strace.log)

[2022-11-14 00:38] dlod-openvino commented on #13970
Thank you @andrei-kochin @mlukasze , very much! Looking forward to the solution!:)

[2022-11-14 02:57] triwahyuu commented on #13491
Hi @artkuli @hbalasu1 thanks for the update and the fix, really appreciate it

[2022-11-14 10:14] mlukasze commented on #13491
hey @triwahyuu
is it fixes your issue?
can we close a ticket?

[2022-11-14 11:28] cnglen commented on #13954
It seems that the openvino requires glib>=2.27?  Any suggesttions?

ldd --version
ldd (GNU libc) 2.17
Copyright (C) 2012 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and Ulrich Drepper.
(base)

$ pip install openvino-2022.2.0-7713-cp38-c

[2022-11-14 11:54] rkazants commented on #13954
@ilya-lavrenov, can you please advise anything here with glibc?

[2022-11-14 15:46] ilya-lavrenov commented on #13954
Right, currently OpenVINO provides prebuilt packages for manylinux_2_27 which are compatible with Ubuntu 18.04 and higher (or other systems with glibc 2.27).
You can either:
- Build OpenVINO wheel package from sources on your system (target `ie_wheel`)
- Or wait for 2022.3 release where we are going to restore support of manylinux2014 (aka manylinux_2_17)

[2022-11-14 18:02] mitruska commented on #13970
Hello, @dlod-openvino thank you for reporting this issue!

Mentioned `maskrcnn_resnet50_fpn_v2.onnx` model has an empty tensor provided to the ONNX ConstantOfShape operator.
According to the ONNX standard, it should lead to the scalar output shape.

I've created a PR to enable support for such case:
- https://github.com/openvinotoolkit/openvino/pull/13994

[2022-11-15 03:34] zulkifli-halim commented on #13921
Hi @yaswanthan, Can you share with us the inference code you used to run with the models (.ONNX and IR format)?

In the meantime, please try to convert your model using this MO command and rerun the test, and see if there are any changes in your output:
`mo --input_model "yolov7-final.onnx" --input_shape [1,3,416,416] --scale 255 --use_new_frontend`

[2022-11-15 03:36] zulkifli-halim commented on #13883
Hi @ma7555, can you share with us the characteristics of the CPUs of your systems?

[2022-11-15 04:04] wang7393 opened #13999 "[Bug] GPU inference performance drop dramatically with high-frequency"
##### System information (version)
- OpenVINO=> : 2021.4 or 2022.1 or 2022.2
- Operating System / Platform => : win10 64
- Problem classification => : gpu inference speed

##### Detailed description
We have meet the problem that the gpu inference speed is slowed down suddenly(We tried multiple models and they all slowed down drasticly, one from 20ms to 200ms).
However, the cpu inference speed is s

[2022-11-15 05:43] cnglen commented on #13954
Thanks.

When will 2022.3 be released?

[2022-11-15 05:44] brmarkus commented on #13999
Can you provide more information about your system, please?
What does your HW look like, which SoC, which CPU and GPU exactly are you using? Could you imagine a temperature-problem (in case your system is not actively cooled, but passively only), have you tried to monitor the system's and/or the SoC's temperature (to see if a thermal throttling has happened)?
Could you imagine your system is runni

[2022-11-15 05:49] cnglen opened #14001 "tf.keras.layers.StringLookup not supported?"
Cannot infer shapes or values for node StatefulPartitionedCall/string_lookup_show_click_hour/None_Lookup/LookupTableFindV2

[code]

tf: 2.9.1
the model is very simple, just a lookup table to preprocess strings:
[code]

[2022-11-15 05:56] mlukasze commented on #14001
hey @cnglen
thank you for your question and sorry for inconvenience.
Let us take a look at your problem.

@rkazants could you check it, please?