[2021-12-29 10:54] daniil-lyakhov commented on #9470
CC: @l-bat

[2021-12-29 11:12] daniil-lyakhov commented on #9470
Error log
[code]

[2021-12-29 15:58] dbermond opened #9476 "[Bug] Fails to build with LTO enabled"
##### System information (version)
- OpenVINO => git master
- Operating System / Platform => Arch Linux x86_64
- Compiler => gcc 11.1.0
- Problem classification: build error
- Framework: not applicable
- Model name: not applicable

##### Detailed description
I'm getting the following build error when enabling LTO on git master:

[code]

- complete build log if needed: https://paste.ee/p/CbRho
- di

[2021-12-30 01:39] JinXiaozhao commented on #9438
Thanks for your reply.

Operating System / Platform => Ubuntu 18.04.

I got model from the code:

`"""
CNN-MNIST
"""
import tensorflow as tf

_MNIST_SOURCE_URL = 'http://yann.lecun.com/exdb/mnist/'

def load_data(path):
    from tensorflow.examples.tutorials.mnist import input_data
    mnist = input_data.read_data_sets(path, one_hot=True, source_url=_MNIST_SOURCE_URL)
    return mnist

def conv_la

[2021-12-30 06:57] shiyanan96 opened #9482 "a question about openvino2020.4"
##### System information (version)

- OpenVINO=> 2020.04
- Operating System / Platform => ubuntu16.04
- Compiler => cmake 3.14.5
- Problem classification => Model Conversion
- Framework: pytorch
- Model name: BiSeNetV2

##### Detailed description

I want to deploy my pytorch model (BiSeNetV2 network architecture) to openvino on CPU, because of limitation of ubuntu16.04, I have to use openvino2020.

[2021-12-31 00:33] avitial commented on #9452
@JinXiaozhao based on error messages thrown by the MO and glancing the model in Netron, there are multiple ops of type `If` which currently are not supported in 2021.4.2 release of OpenVINO. The first op of this type MO encounters is in _conv1_bn/cond_, so the error is expected.

Also it looks like support for `IF` operation was added by [PR #6296](https://github.com/openvinotoolkit/openvino/pull/

[2021-12-31 01:35] khangnguyenhuu commented on #9377
i have cloned & setup this repository: https://github.com/DevashishPrasad/CascadeTabNet
it will auto clone mmdetection as sub-repository to run and i use tool in mmdetection to convert from .pth file to .onnx file
my convert command: python3 mmdetection/tools/conver2onnx.py <config_path> <checkpoint_path> --output_file cascade.onnx

[2021-12-31 03:44] zulkifli-halim commented on #9330
Closing issue. Feel free to reopen the issue if further assistance is needed.

[2021-12-31 03:44] #9330 closed

[2021-12-31 04:42] bradh opened #9493 "[Bug] MatMul breaks build"
##### System information (version)

- OpenVINO=> git 738a5717422b6597e896bddb9dc18462ef409cde
- Operating System / Platform => Ubuntu 21.04
- Compiler => gcc (Ubuntu 11.2.0-7ubuntu2) 11.2.0
- Problem classification => ngraph

##### Detailed description
Trying to build from git fails with
[code]
##### Steps to reproduce
Git checkout and build in accordance with https://github.com/openvinotoolkit/op

[2021-12-31 07:47] Iffa-Meah commented on #9476
I have cross-checked your OS with the[ official OpenVINO documentation](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_linux.html#system-requirements) and [official OpenVINO GitHub wiki](https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux).
According to these documentations, please note that Arch Linux is not officially validated/supported by OpenVIN

[2021-12-31 10:08] bradh commented on #9493
Looks like the problem is g++-11 (which is the default in Ubuntu 21.04). Switching to g++-10 seems better.

[2021-12-31 10:13] dbermond commented on #9476
Thank you for the reply.

[2021-12-31 19:07] avitial commented on #9482
Hi @sky999syn666 please share more info about the conversion of your model to IR, and perhaps some comparison results from the expected result versus what OpenVINO outputs. In addition and if possible please share your model files or sample model.

Starting from OpenVINO 2020.4, the Inference Engine enables reading ONNX models via the Inference Engine Core API. Have you tried loading the ONNX mode

[2022-01-03 13:23] glennford49 commented on #8789
just build the openvino from source with your bullseye distro, dont use the /opt/intel/openvino_2021, bullseye has  python 3.9 which openvino didnt have the the support yet, I compiled and used it successfully with bullseye 32bit, i think its the same way with 64bit version, but havent tried that yet

[2022-01-03 14:47] julianx4 commented on #8789
Sorry, probably my post was unclear, I said that if I don’t update it further, the issue was solved by pointing to the correct python version. It has compiled without issue after doing that.

[2022-01-04 03:25] Yanfeng-Mi opened #9501 "[Bug] get_available_devices() memleak issue"
-OpenVINO => 2021.4
-Operating System / Platform => Windows 64 Bit
-Compiler => Visual Studio 2019
-Problem classification: memleak

##### Detailed description
Using inference core API to query available devices. the heap have ~27MB left after core is deconstructed.

##### Steps to reproduce

1. run hello_query_device.exe sample app with vs2019 debugger.
2. Enable heap profiling and take snapshot

[2022-01-04 07:01] sky999syn666 commented on #9482
Hi, thank you for replying, This is some code, models and test images for the question. I have tried to infer with my onnx model via python, which can generate correct segment result. The image named "onnx_res.jpg" is the result of onnx model, and the image named "openvino_res.jpg" is the result of openvino models, which has wrong segmentation results.
main.cpp is the code of inference, and the fi

[2022-01-04 07:29] sky999syn666 commented on #9482
I tried loading the ONNX model directly to IE, the segment result is right. But when loading the xml and bin, the result is  wrong. It illustrates that  the converted openvino models have some problems, but the model can be converted successfully, and the output of last layer seems right. Please give me some suggestions, Thank you!

[2022-01-04 17:17] jgespino commented on #7379
@PINTO0309

Apologies for the delay, the development team has implemented a new GatherND_8 operation and should be available in the next release. You could also try building from master branch if you need it sooner.

https://github.com/openvinotoolkit/openvino/pull/7743

Regards,
Jesus

[2022-01-04 17:17] #7379 closed

[2022-01-04 19:23] jgespino commented on #7672
Hi @bilalsoomro  @tersekmatija

PR https://github.com/openvinotoolkit/openvino/pull/9355 was merged and I was able to convert your models using the following command on the master branch. Note, the layout needs to be specified `--layout nhwc` . Please give it a try and let me know if you have any questions.

[code]

[code]

[2022-01-04 19:34] jgespino commented on #9493
Hi @bradh

Glad you are making progress, were you able to get a successful build?

Please note that OpenVINO has not been validated with Ubuntu 21.04, please refer to the Building For Linux [page ](https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux#build-steps)for additional details.

Regards,
Jesus

[2022-01-04 22:51] bradh commented on #9493
@jgespino I did get a successful build with g++-9. It appears that later compilers are doing stricter checking of array bounds, and is causing warnings (treated as errors in the default build). The template magic is a bit complex, and I'm not sure how much of that is false positive.

I'll likely switch back to a supported version at a later date - just reporting an issue I saw on my standard dev b

[2022-01-05 04:30] avitial commented on #9482
@sky999syn666 thanks for the additional info, I am not sure what could be causing the issue here. It is interesting to see IE outputs correct result when loading the model in ONNX format. Is it possible to share your ONNX model file and test code to crosscheck Model Optimizer from 2020.4 and most recent version 2021.4.2?

[2022-01-05 04:32] avitial commented on #9461
Closing this, I hope previous response was sufficient to help you proceed with model conversion. Feel free to reopen and ask any additional questions related to this topic.

[2022-01-05 04:32] #9461 closed

[2022-01-05 07:10] alalek commented on #9493
Try `cmake -DTREAT_WARNING_AS_ERROR=OFF ...`

Duplicate, again.
IMHO, this flag should be enabled on OpenVINO CI only with well known configurations which are supported. We should not block default user builds with modern compilers.
/cc @azhogov @ilya-lavrenov

---

BTW, why is it warn about system headers? (we should not have `-I /usr/include` or similar as they are included by default or through

[2022-01-05 10:03] shiyanan96 commented on #9482
@avitial thanks for replying,

[https://github.com/shiyanan96/SegmentOpenvino](url)
You can clone this git repository.

[2022-01-05 18:47] jgespino commented on #9109
Closing, please re-open if additional assistance is needed.

[2022-01-05 18:47] #9109 closed

[2022-01-05 22:47] #7807 closed

[2022-01-06 03:05] PINTO0309 opened #9517 "[Bug] Const data got different desc and content byte sizes (24 and 96 respectively)" error when converting ConvolutionBackpropData using compile_tools"
##### System information (version)

- OpenVINO=> 2022.1 (self build. commit hash: e89db1c6de8eb551949330114d476a2a4be499ed)
- Operating System / Platform => Ubuntu20.04 (openvinotoolkit/docker_ci)
- Compiler => gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
- Problem classification => Model Conversion

##### Detailed description
"Const data got different desc and content byte sizes (24 and 96 respective

[2022-01-06 05:41] Iffa-Meah commented on #9501
Hi,

Here is what I observed from my side:

![VSmem](https://user-images.githubusercontent.com/79643476/148333827-a0713957-2a61-4d4f-9011-968f27a46871.png)

We'll further investigate this.

[2022-01-06 07:22] alalek commented on #9501
Limited "leaks" from initialization of singletons or other global structures / caches are not a real problem actually.

Only critical leaks must be fixed - infinitely growing memory usage during the normal application usage.
Reproducer must have "for" loop on the top-level.

@Iffa-Meah Please collect stats for the second call or add for loop.

[2022-01-06 07:32] Yanfeng-Mi commented on #9501
for loop 100 times, we can see memory growth:
![image](https://user-images.githubusercontent.com/62379311/148345839-1b4554e5-3a97-4d6a-919b-731929bac622.png)

[2022-01-06 08:37] alalek commented on #9501
We need to see this.

Memory usage is not measured properly. Measurement should skip the first "warmup" initialization of global structures.

---

I could post adapted code, but modification of screenshots is not a trivial. Consider posting code as text, not through screenshots.

[2022-01-06 12:05] nevoGoldamn opened #9521 "Can't convert efficentdet D4 tf2 saved_model.pb to IR"
##### System information (version)

- OpenVINO => 2021.4.752
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: TensorFlow
- Model name: efficentdet d4

##### Detailed description
I have tried to convert efficentdet saved_model  and got an error.
I have tried to convert my custom model and the original model from

[2022-01-06 14:22] avitial commented on #9476
@dbermond apologies for the delay, I was able to build OpenVINO successfully on Arch Linux with LTO enabled on master branch (from yesterday, commit e89db1c) without any issues. Could you try on latest master branch and check whether the build issue is still present?

Best Regards,
Luis

[2022-01-06 15:23] jinfagang opened #9523 "[Bug] penvino/inference_engine/__init__.py", line 30, in <module> from .ie_api import * ImportError: libpython3.8.so.1.0: cannot open shared object file: No such file or directory"
penvino/inference_engine/__init__.py", line 30, in <module>
    from .ie_api import *
ImportError: libpython3.8.so.1.0: cannot open shared object file: No such file or directory

[2022-01-06 17:08] alalek commented on #9523
Please provide more information:
- how did you get OpenVINO? which version?
- `python3 --version`
- `python3 -c "import sys; print(sys.path)"`
- `LD_DEBUG=libs python3 -c "from .ie_api import *"` (attach output as .txt file)
- `ldd <path_to_ie_api.so>`

[2022-01-06 19:58] dbermond commented on #9476
Thank you for the reply @avitial.

I still cannot build it using the latest git master when enabling LTO with the above options. Getting the same link error at the very end of the build process. Tried a lot of things, like changing some CMake options, disabling all the build flags, but still not working for me. Building without LTO works fine.

If it works for you, fell free to close this issue. M

[2022-01-06 22:43] jgespino commented on #9517
Hi @PINTO0309

Thanks for reporting, I was able to reproduce the error using your model and the compile_tool as well as the benchmark_app on the latest master branch. I am able to generate the blob by cutting the model just before the ConvTranspose Layer in your model. So there maybe an issue with this layer and MYRIAD. Let me reach out to the development team and get back to you.

Regards,
Jesus

[2022-01-07 04:20] Iffa-Meah commented on #9377
@khangnguyenhuu  thank you for being patient. I did some digging into the repos that you shared.

I cloned both "https://github.com/DevashishPrasad/CascadeTabNet.git"  and "https://github.com/open-mmlab/mmdetection.git".

![tools](https://user-images.githubusercontent.com/79643476/148490468-7c49ca85-c299-4017-ba4a-f1bba6176160.png)

However, the only conversion script that I found was the [script]

[2022-01-07 06:07] jinfagang commented on #9523
@alalek I just install openvino from pip install openvino. can not import it.

[2022-01-07 06:33] zulkifli-halim commented on #9521
Hi @nevoGoldamn, I'm able to convert the EfficientDet D4 model from [TensorFlow 2 Detection Model Zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md).
![image](https://user-images.githubusercontent.com/79680111/148479583-c604e725-011c-4bd1-b970-842911981c05.png)

The EfficientDet D4 model was trained using TensorFlow 2.2, thus efficient_det_s

[2022-01-07 06:49] Iffa-Meah commented on #9523
Hi @jinfagang ,

The libpython3.8.so.1.0 file might not exist in your system, hence causing the error.
Please help to share **all information** requested by @alalek.
This would help us to narrow down the cause of the issue.

[2022-01-07 07:12] nevoGoldamn commented on #9521
Hi @zulkifli-halim, can you shear the command that you used ?

What is that error mean ? [ FRAMEWORK ERROR ] Cannot load input model: SavedModel format load failure: Unknown SavedObject type: None

[2022-01-07 08:16] zulkifli-halim commented on #9521
Hi @nevoGoldamn here is the full MO command that I used to convert the model to IR:

_python mo_tf.py --saved_model_dir <download_path>\efficientdet_d4_coco17_tpu-32\saved_model --output_dir <output_path>  --transformations_config extensions\front\tf\efficient_det_support_api_v2.0.json --tensorflow_object_detection_api_pipeline_config <download_path>\efficientdet_d4_coco17_tpu-32\pipeline.config_

[2022-01-07 10:46] dkurt commented on #9523
Have you installed `libpython3.8-dev`? Which OS is used?

[2022-01-07 10:51] dkurt commented on #9521
There are two versions of EfficientDet: TensorFlow object detection API and [AutoML](https://github.com/google/automl). They require different approaches:

https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_EfficientDet_Models.html

https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_Object_Detection_A

[2022-01-07 11:39] jinfagang commented on #9523
@dkurt @Iffa-Meah hi, I will update my os env and detailed output once get home. am using ubuntu 20.04, I think I have libpython3.8-dev installed.

[2022-01-07 21:30] hyperfraise opened #9527 "[QUESTION] [AVX512] Performance drop with alder lake ?"
It seems now clear that there will be no support overall for avx 512 on Alder Lake.
That's a shame. What can we expect in terms of openvino performance ? Why would intel kill its own DNN software's advantage ?
Do you guys have any hope or reassuring words ?

[2022-01-07 21:52] hyperfraise commented on #9527
After struggling to find official numbers I've found this link comparing AVX2 TO AVX512 on neural network in openvino, but its results don't correspond to my experience.
https://www.phoronix.com/scan.php?page=article&item=rocket-lake-avx512&num=3

Was the decision of dropping AVX512 in part justified by perceived lack of performance gain in Openvino ?

[2022-01-08 00:44] jgespino commented on #9438
@JinXiaozhao

I was unable to generate the the model using Tensorflow 2.4. However, when switching to Tensorflow 1.14 the model was generated and I can reproduce the same error.

In OpenVINO 2021.4, TensorFlow 1.x moves to supported with limitations. Take a look at the [release notes](https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes.html) for additional in

[2022-01-08 02:08] alalek commented on #9527
Do you have OpenVINO-related problem?
Could you share your results from benchmark_app (with information about used HW/SW configurations)?

Ref: https://ark.intel.com/content/www/us/en/ark/products/134594/intel-core-i712700k-processor-25m-cache-up-to-5-00-ghz.html

Ref: https://www.tomshardware.com/news/intels-upcoming-gracemont-microarchitecture-to-support-avx-avx2-and-avx-vnni

[2022-01-08 13:12] hyperfraise commented on #9527
My Openvino related pronlem is that I fear that Intel 12th gen will bring a performance drop on Openvino due to the dropping of AVX 512 instructions set

[2022-01-09 07:21] nevoGoldamn commented on #9521
Hi, @zulkifli-halim I have changed the conversion command to yours and got an error:
 Exception occurred during running replacer "REPLACEMENT_ID"
(old shape: [  1 160  20  20], new shape: [  1  20  20 160])

[2022-01-09 11:15] Hezhexi2002 commented on #5581
@ilya-lavrenov Hi,I meet this problem on Ubuntu20.04 too,My openvino version is 2021.4.752 and here is the screenshot:
![Screenshot from 2022-01-09 18-54-19](https://user-images.githubusercontent.com/53631206/148679734-7d457516-7a4d-4157-9861-f9526933c3b3.png)
As you can see I have put the nanodet.xml into my workplace folder but it can't open it all the time,I meet this when I use vs to run it to

[2022-01-10 06:45] SummerZ2020 opened #9531 "wrong metric key in GetMetric function example"
The key value should be AVAILABLE_DEVICES not myriadDevices in [https://docs.openvino.ai/2021.1/openvino_docs_IE_DG_supported_plugins_MULTI.html]
Here is the screenshot:

![image](https://user-images.githubusercontent.com/59429566/148727155-a7ce6bc9-64b0-4716-8eaf-f7530736afd8.png)

[2022-01-10 08:39] SummerZ2020 opened #9535 "why is the AVAILABLE_DEVICES result empty when I run hello_query_device.exe in my laptop?"
##### System information (version)
- OpenVINO => 2021.4.582
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: query device
##### Detailed description
I am going to run inference in two CPUs, as the example shown [here](https://docs.openvino.ai/latest/openvino_docs_IE_DG_supported_plugins_MULTI.html#using-the-multi-device-with-openvino-sample

[2022-01-10 17:18] jgespino commented on #9531
Hi @SummerZ2020

This typo is fixed in the [latest](https://docs.openvino.ai/latest/openvino_docs_IE_DG_supported_plugins_MULTI.html) documentation, the link you shared is for 2021.1 release.

![image](https://user-images.githubusercontent.com/18014973/148809302-ce4e8929-a3d8-41ab-9521-91029231b8ac.png)

Regards,
Jesus

[2022-01-10 17:34] jgespino commented on #7273
@zhaohb Just following up on this discussion, is this something you are still working on?

[2022-01-10 17:35] #7672 closed

[2022-01-10 17:41] #7799 closed

[2022-01-10 17:42] #7841 closed

[2022-01-10 17:42] jgespino commented on #8249
Closing due to inactivity, please re-open if additional assistance is needed.

[2022-01-10 17:42] #8249 closed

[2022-01-10 18:01] jgespino commented on #9336
@AndreiLupas Have you had a chance to create the pull request? If you did, could you share the PR # so I can link it to this issue?

[2022-01-10 18:03] jgespino commented on #9452
Closing, please re-open if additional assistance is needed.

[2022-01-10 19:58] jgespino commented on #9501
Hi @Yanfeng-Mi

I ran a test as @alalek mentioned above and this is what I'm seeing. Do you see the same?

![image](https://user-images.githubusercontent.com/18014973/148830503-8f0deb3a-fc67-4bbf-ad1f-1b9f740a59ec.png)

ID1: before calling first `GetAvailableDevices`
ID2: after calling first `GetAvailableDevices`
ID3: after calling `GetAvailableDevices` 100 times
[code]

Regards,
Jesus

[2022-01-11 00:34] JinXiaozhao commented on #9452
Sorry for only replying now, is this the problem of the operator conv1_bn/cond ? @Iffa-Meah
Thanks for your help, but we still want to use this model，https://github.com/Adlik/Adlik/blob/master/benchmark/tests/test_model/resnet50_tensorflow/resnet50_ckpt.py

[2022-01-11 00:56] #9531 closed

[2022-01-11 01:00] SummerZ2020 commented on #9531
Thanks for your clarification. I am sorry for the misunderstand.

[2022-01-11 01:02] SummerZ2020 commented on #9535
@Munesh-Intel could you help me get the correct result of AVAILABLE_DEVICES key from GetMetric function? thanks in advance.

[2022-01-11 01:40] SummerZ2020 commented on #9535
@Iffa-Meah could you help me get the correct result of AVAILABLE_DEVICES key from GetMetric function? Thanks in advance.

[2022-01-11 02:19] zhaohb commented on #7273
@jgespino yes, I am trying, but I also want some help, how to optimize FC, I do not have a particularly good method now.

[2022-01-11 02:29] Yanfeng-Mi commented on #9501
Hi @jgespino, yes, i think it's the same issue.

[2022-01-11 03:22] zulkifli-halim commented on #9521
Hi @nevoGoldamn, Are you able to convert the model from TensorFlow 2 Detection Model Zoo using this MO command:
`python mo_tf.py --saved_model_dir <download_path>\efficientdet_d4_coco17_tpu-32\saved_model --output_dir <output_path> --transformations_config extensions\front\tf\efficient_det_support_api_v2.0.json --tensorflow_object_detection_api_pipeline_config <download_path>\efficientdet_d4_coco1

[2022-01-11 05:35] brmarkus commented on #9535
With a quick test on MS-Win10, using OpenVINO in version 2021.4.752 on my Laptop using the Python version of "hello_query_device.py", I get the following console output (excerpt, showing the CPU only):

C:\Program Files (x86)\IntelSWTools\openvino_2021.4.752\deployment_tools\inference_engine\samples\python\hello_query_device>python hello_query_device.py
[ INFO ] Creating Inference Engine
[ INFO ]

[2022-01-11 06:57] SummerZ2020 commented on #9535
Available devices result is empty too. Thanks for your test.

[2022-01-11 06:58] SummerZ2020 commented on #9535
Available devices is empty too. Thanks for your test.

[2022-01-11 07:09] SummerZ2020 commented on #9535
Here is my test in the computer with 2 CPUs. I can get only one cpu info from GetMetric api, and also no result in AVAILABLE_DEVICES. How can I get the detailed info of the two CPUs, so I can input them to LoadNetWork function. Any hint would be appreciated.
[code]

**wmic:root\cli>cpu list full result**
[code]

[2022-01-11 07:25] JacQLove opened #9560 "png clone error"
##### System information (version)

- OpenVINO=> :2021.4.2 & master
- Operating System / Platform => Windows 64 Bit & Ubuntu 16.04

##### Detailed description
when cloning the repo, some files can not be downloaded, shows in pic.
![image](https://user-images.githubusercontent.com/40239544/148898797-06c517fa-231d-45b5-b245-bafc8cb0a7a9.png)

##### Steps to reproduce
[code]

##### Issue submission c

[2022-01-11 07:40] CyunXiong commented on #2675
at"/home/pi/opt/intel/l_openvino_toolkit_runtime_raspbian_p_2021.3.394/deployment_tools/inference_engine/samples/python/ngraph_function_creation_sample",however, it shows"ModuleNotFoundError: No module named 'ngraph'".

[2022-01-11 08:02] #9560 closed

[2022-01-11 09:37] Iffa-Meah commented on #9535
@SummerZ2020 if your system has 2 working CPUs (2 CPU hardware, probably you are using some external CPU?) the hello_query_device.py should return both of the CPU names.

For example, when 2 working NCS2 are used simultaneously the python script return 2 names:

[ INFO ] MYRIAD :
[ INFO ]        SUPPORTED_METRICS:
[ INFO ]                AVAILABLE_DEVICES: **1.2-ma2480**
[ INFO ]                FU

[2022-01-11 10:11] ilya-lavrenov commented on #2675
@CyunXiong have you used this https://github.com/openvinotoolkit/openvino/wiki/StaticLibraries guide to build static OpenVINO libraries?

[2022-01-11 10:12] #2675 closed

[2022-01-11 12:32] dlod-openvino opened #9574 "[Bug]OpenVINO 2021.4.2LTS do NOT support PPYOLOv2 by GPU"
- OpenVINO => 2021.4.2LTS
- Operating System / Platform => Windows 64 Bit
- Problem classification: Inference
- Framework: PaddlePaddle
- Model name: PPYOLOv2 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/ppyolo/README.md#Model_Zoo

Model for reproducing: https://pan.baidu.com/s/1oDpHgb5zm1bNFsWRs5kwQQ  code：s4qb

The PPYOLOv2 can run in CPU mode successfully!
However, r

[2022-01-11 15:18] jinfagang commented on #9523
@dkurt Sorry for late reply. I just double check:

[code]

Seems my system version is:

[code]

So I maybe don't have this .so? How should I install it?

[2022-01-11 22:51] jgespino commented on #9574
Hi @dlod-openvino

I was unable to download your model, received "External links do not support cloud decompression" error. However, I exported the `ppyolov2_r50vd_dcn_365e_coco.pdparams` to pdmodel format and converted to IR format with `mo --framework paddle --input_model model.pdmodel -b 1`.

 I ran the IR with the latest master branch using the benchmark_app on GPU and received the following e

[2022-01-12 01:15] SummerZ2020 commented on #9535
@Iffa-Meah Thanks for your reply.
 Actually, no MCU on my laptop, my program is working on the CPU directly. I have three questions now.
1. why is the AVAILABLE_DEVICES result of CPU empty, both on the laptop  with one CPU or two.
2. why there is only one CPU result in the hello_query_device output?
3. Is there any other method to make OPENVINO can work on two CPU instances?
Any help would be appr

[2022-01-12 02:05] Iffa-Meah commented on #9535
@SummerZ2020
1. AVAILABLE_DEVICES should come with the device name. This means the plugin is properly installed and the device works.
For example I had installed CPU plugin and I have a working CPU hardware:
[ INFO ] CPU :
[ INFO ]        SUPPORTED_METRICS:
[ INFO ]                **AVAILABLE_DEVICES:**
[ INFO ]                **FULL_DEVICE_NAME: Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz**
[ INFO ]

[2022-01-12 02:21] Iffa-Meah commented on #9523
@jinfagang  since you posted this question in OpenVINO GitHub thread, I assume you get this OpenVINO package into your system by building from source.

You need to build the Python API wrapper so that your system recognizes which Python package you are trying to use with OpenVINO.

Enable the `-DENABLE_PYTHON=ON` in the CMake (Step #5)  refer to this [Build on Linux Systems](https://github.com/ope

[2022-01-12 05:00] alalek commented on #9535
AFAIK, there is no "devices" subdivision support in CPU plugins. CPU plugin utilizes all available CPU resources.
Number of used cores/threads may be configured through `CPU_THREADS_NUM` parameter.

On Linux `taskset` utility may help to configure CPUs utilization of application. Windows may have the similar external tool.

/cc @dmitry-gorokhov

[2022-01-12 06:43] SummerZ2020 commented on #9535
@alalek Thanks for your reply. Let me describe more detailed info about my inference.
At first, I have implemented the inference with OpenVINO in **one CPU** as normal in my laptop. All the cores has been utilized when the inference is running with OpenVINO.
And then, I have tried to infer on the computer with **two CPUs**. Only half 20 cores have been utilized(40 cores totally in 2 CPUs) when the

[2022-01-12 06:53] SummerZ2020 commented on #9535
Thanks for your detailed answer.
1. what is the CPU plugin? How to check if it is installed or not?
2. Actually, this computer is provided by Hp, so I don't know how to manage to have 2 CPUs in one system?

[2022-01-12 07:12] brmarkus commented on #9535
When "hello_query_device" prints "[ INFO ] CPU :" then this means the "CPU plugin" has been loaded and it was able to find "CPU resources" successfully.
If "hello_query_device" prints "[ INFO ] GPU :" then the "GPU plugin" has been loaded successfully as well and it was able to find at least one "Intel GPU" (by using required packages&drivers).

[2022-01-12 07:37] SummerZ2020 commented on #9535
Thanks a lot. I don't need to consider CPU plugin now.

[2022-01-12 07:48] brmarkus commented on #9535
Usually the OpenVINO/Open-Model-Zoo samples and demo use the CPU for inference by default, i.e. usually the CPU-plugin is used by default, so the CPU-plugin is used by default.
I use a multi-socket CPU system as well and they get used together "as one big CPU".
Do you see both CPUs and all the total CPU-cores with "System Resource Load" viewers like "top", "htop", "Task Manager"?

[2022-01-12 08:39] SummerZ2020 commented on #9535
yes, Here is the "Task Manager" screenshot.
This is OpenVINO inference, only 20 cores utilized.
![openvino](https://user-images.githubusercontent.com/59429566/149092757-5e4c654c-d8a6-4d5c-80ea-37f1d4a9d6c9.PNG)
This is Tensorflow inference, all 40 cores utilized.
![tensorflow](https://user-images.githubusercontent.com/59429566/149092868-6ce5df0c-16fa-4d97-9645-2ad146166660.PNG)

[2022-01-12 08:50] brmarkus commented on #9535
Are you sure doing inference with OpenVINO on your dual-socket system needs all cores of both CPUs?
What, if you start your application twice in parallel? Will still only the first 20 cores be used (fully used, 100%, where in your screenshots there are occupied up to 80-90%)?

Can you try to find out, what value "CPU_THREADS_NUM" currently has, as @alalek mentioned above?
Can you change the value,

[2022-01-12 13:01] alalek commented on #9535
@SummerZ2020 Thank you for updates!

Intel® Xeon® Silver 4114 Processor has [10 cores](https://www.intel.com/content/www/us/en/products/sku/123550/intel-xeon-silver-4114-processor-13-75m-cache-2-20-ghz/specifications.html).
2 sockets have 20 cores (40 threads with HT).

There is [documentation](https://docs.openvino.ai/2020.4/openvino_docs_IE_DG_supported_plugins_CPU.html) about KEY_CPU_BIND_THREA

[2022-01-12 13:12] dnns92 opened #9606 "[Bug] Following build instructions for static library leads to error"
##### System information (version)

- OpenVINO=> 2020.4
- Operating System / Platform => Windows 64 Bit
- Compiler => VS2019
- Problem classification => Installation

##### Detailed description
I was trying to build a static library of openvino, following this tutorial: https://github.com/openvinotoolkit/openvino/wiki/StaticLibraries/
Following it leads to the error message:
[code]

##### Steps to

[2022-01-12 17:49] #227 closed

[2022-01-12 19:27] jgespino commented on #9606
Hi @dnns92

The static library option was recently introduced and is not available in the 2021.4 branch. Please try to build using the latest master branch.

I tested on the latest master branch (e78ada117849c644f1c13f535e93cde970c45599) and didn't observe the error message.

Regards,
Jesus

[2022-01-12 19:47] avitial commented on #9476
@dbermond I wasn't able to reproduce the issue with LTO enabled before (tried on Ubuntu 20.04 and Arch Linux) but interestingly enough I now can see the error on Arch Linux. Looks like the problem might come from onednn for GPU, try disabling with `-DENABLE_ONEDNN_FOR_GPU:BOOL='OFF'` and see if LTO builds successfully for you on Arch Linux. Let me know the outcome of this and if this solution work

[2022-01-13 02:52] jinfagang commented on #9523
@Iffa-Meah  thanks a ton. I will try it later on.

BTW, why using `base` env and `pip install openvino` doesn't work here? As you can see, I am using `base` env which is also an venv in conda.

[2022-01-13 03:11] SummerZ2020 commented on #9535
Thanks @brmarkus . Your precious experience would be very valuable for my task.  Here are my answers:
Are you sure doing inference with OpenVINO on your dual-socket system needs all cores of both CPUs?
**Ans: sure, the application performance is still not up to standard. It is the faster the better.**
What, if you start your application twice in parallel? Will still only the first 20 cores be used

[2022-01-13 03:16] SummerZ2020 commented on #9535
Thanks for your info. What I said "core" should be "thread", the program only utilized half threads(20) currently. Sorry for the wrong expression about core and thread.

[2022-01-13 07:21] Iffa-Meah commented on #9523
@jinfagang the base environment means that you are using your main system environment. Installation in this base environment usually made the OpenVINO to look for Python packages that are within your main system instead of Anaconda.
(Note that currently, your Python Packages are inside Anaconda). This often causes issue which can be solved by building the Python API wrapper and specifying an exact

[2022-01-13 07:51] dnns92 commented on #9606
okay thanks

[2022-01-13 07:51] #9606 closed

[2022-01-13 09:01] jinfagang commented on #9523
@Iffa-Meah  thanks, I though openvino doesn't opensource all code before. does openvino opensourced just like tensorrt? Only opensource OSS but not core lib?

[2022-01-13 13:16] azhogov commented on #9493
@alalek
I think that wiki should be updated regarding -DTREAT_WARNING_AS_ERROR=OFF for modern compilers. Contributors should see a real picture by default.
I agree that errors should be about OpenVINO source code only.

[2022-01-13 13:33] latermarch commented on #7248
@besmaGuesmi  do you get rid of this bug? I meet the same issue although I have download & install the latest OpenVINO toolkit

[2022-01-13 13:36] latermarch commented on #7248
in addition, the exe don't crash,just output the exption info while running the code "core_->LoadNetwork(*network_, "CPU");"

[2022-01-13 15:23] jgespino commented on #7273
@dmitry-gorokhov @zhaohb Could you provide some guidance on possible approach to optimize FC?

[2022-01-13 17:46] jgespino commented on #9501
@Yanfeng-Mi

I opened an internal ticket with the development team to take a look, I'll let you know what I find out.

Regards,
Jesus

Ref. 75871

[2022-01-13 18:12] dbermond commented on #9476
I can confirm that current git master builds fine with LTO enabled when using `-DENABLE_ONEDNN_FOR_GPU:BOOL='OFF'`. When removing this option, it fails to build as reported above.

It looks like that this option is related to the commit identified as the offending one in my git bisect.

[2022-01-13 18:12] asomsiko commented on #9501
There is a test suite to catch memory growth. @jgespino, @Yanfeng-Mi would you be willing to contribute a test case there?

It should be a few lines of code, similar to this one: https://github.com/openvinotoolkit/openvino/blob/master/tests/stress_tests/memleaks_tests/tests.cpp#L38

[2022-01-13 20:19] PCPJ opened #9650 "Model with different result when running with Myriad [Bug]"
##### System information (version)

- OpenVINO =>
- Operating System / Platform => Ubuntu 20.04.3 LTS, running inside a docker container (that is being hosted by a Ubuntu 20.04.3 LTS)
- Problem classification: Model Conversion
- Framework: PyTorch
- Model name: MobileNet_v2 (with some modifications)

##### Detailed description

I have two multi-label classification models, **A** and **B**, that I

[2022-01-13 20:24] PCPJ commented on #9650
PS: I didn't described with details the architecture from both models, but if someone thinks that it can be relevant I can explain it with no problems.

[2022-01-14 02:04] Iffa-Meah commented on #9523
@jinfagang , you'll need to do the setup as in the link I provided above.
Once the setup is successful, you can clone the Open Model Zoo repository and get the pre-trained models/sample app.
Here is the repo: [Open_Model_Zoo](https://github.com/openvinotoolkit/open_model_zoo).

[2022-01-14 06:23] husiluanxiang opened #9658 "(Failed to initialize Inference Engine backend (device = GPU)"
OpenCV: terminate handler is called! The last OpenCV error is:
OpenCV(4.5.2) Error: Unspecified error (Failed to initialize Inference Engine backend (device = GPU): Ngraph operation Reshape with name 71 has dynamic output shape on 0 port, but CPU plug-in supports only static shape) in cv::dnn::InfEngineNgraphNet::initPlugin, file D:\opencv\sources\modules\dnn\src\ie_ngraph.cpp, line 718
![image](h

[2022-01-14 07:09] alalek commented on #9658
This version is outdated.

OpenCV team observing simimar issues with OpenVINO 2021.4.x (search for "has dynamic output shape" in `<opencv>/modules/dnn/test`).
Some of these problems have been resolved on the master branch of OpenVINO (upcoming 2022.1 release)

Another workaround: try to use OpenVINO API for DL inference instead of OpenCV DNN.
OpenVINO is able to import ONNX models without IR stage

[2022-01-14 07:16] husiluanxiang commented on #9658
I also have a problem I use opencv to infrerence crnn but when I process program I find the time is almost same,when I use backend opencv and INFERENCE_ENGINE
![image](https://user-images.githubusercontent.com/38007233/149466761-28d9a058-ae07-4961-9793-8005c54a4e09.png)
![image](https://user-images.githubusercontent.com/38007233/149466877-9209c6cc-5874-426a-bd06-5bf6d57a496e.png)

[2022-01-14 07:23] husiluanxiang commented on #9658
![image](https://user-images.githubusercontent.com/38007233/149467264-7b7cc2f3-b236-49c8-8b50-16ee4fcc2f98.png)
![image](https://user-images.githubusercontent.com/38007233/149467330-909bcf2e-4976-4065-a588-197770741a72.png)
but when I use the example example_dnn_classification.exe I can get a good result .I dont understand  why crnn and googlenet ,its result so different.

[2022-01-14 07:25] husiluanxiang commented on #9658
how can I know I use or use not DNN_BACKEND_INFERENCE_ENGINE

[2022-01-14 08:31] vishniakov-nikolai commented on #9461
Hello @CarlosML!
I converted your model with parameters that @maxlytkin provided and conversion finished successfully. I attached screenshot with DL Workbench conversion form parameters below.
![FireShot Capture 002 - DL Workbench - localhost](https://user-images.githubusercontent.com/72441332/149477328-f8dfaeaa-b439-4223-95be-ba6e96fca6a5.png)

[2022-01-14 10:11] leejinxi opened #9663 "[Bug]Source compile. Can't find the direction ./deployment_tools, bin/setupvars.sh, Model Optimizer"
##### System information (version)

- OpenVINO => release 2021.4.2
- Operating System / Platform => centos7
- Compiler => gcc7.8
- Problem classification: compile

##### Detailed description

I'm trying to compile openvino4.2+onnxruntime1.10 from source code.

1.  After I built openvino4.2 sucessfully, I can't find the file `openvino-4.2/bin/setupvars.sh`, which I found it from another path `/inst

[2022-01-14 17:22] b04505009 opened #9676 "[Typo] On official document"
https://docs.openvino.ai/latest/openvino_docs_deployment_optimization_guide_dldt_optimization_guide.html#throughput-mode

There's a spelling error on the image.

[2022-01-15 20:59] aishwarya-manishi opened #9684 "[Bug]"
##### System information (version)
<!-- Example
- OpenVINO => 2020.4
- Operating System / Platform => linux
- Problem classification: GPU plugin in speech sample) cpp sample

##### Steps to reproduce

./speech_sample -d GPU  -bs 2 -i ~/models/wsj_dnn5b_smbr/dev93_10.ark -m ~/models/wsj_dnn5b_smbr/wsj_dnn5b.xml  -r ~/models/wsj_dnn5b_smbr/dev93_scores_10.ark
[ INFO ] InferenceEngine:
        IE ver

[2022-01-16 00:54] Hrayo712 commented on #2976
@slyalin

From your comments, I am getting that OpenVino currently supports the transformation of ONNX quantized models (expressed using QuantizeLinear/Dequantizelinear pairs) to OpenVino fakequant models, to then allow computing these in int8.

[https://github.com/openvinotoolkit/openvino/blob/3f35e2a32179ad055904700c3bfbbdd41c4f5fa6/tools/mo/openvino/tools/mo/middle/quantize_linear_resolver.py#L

[2022-01-17 02:16] Iffa-Meah commented on #9377
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-01-17 02:16] #9377 closed

[2022-01-17 04:28] jgespino commented on #9676
@b04505009 Thank you for reporting, I will pass your feedback to the documents team to fix.

[2022-01-17 04:29] jgespino commented on #9684
@aishwarya-manishi Please complete the issue template if assistance is needed.

##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a quest

[2022-01-17 17:11] ChrisArnault opened #9727 "minor [Bug] in demo script launchers"
My Configuration:

- OpenVINO openvino_2021.4.752
- System Windows 10 64 bits
- MBUILD 17 2022
- Python 3.8
- Target MYRIAD Neural Compute Stick 2

I have installed OpenVINO I have found **minor** issues in the

- **bin\setupvars.bat**>  My Python Installation was not standard, I had to manually specify PATH before calling setupvars.bat

- **deployment_tools\demo\*.bat**>
  1) I had to add knowled

[2022-01-18 01:19] SummerZ2020 commented on #9535
I have tried to infer asynchronously，both 2 CPUs are occupied this time.  Benchmark_app(%installationPath%Intel\openvino_2021\inference_engine\samples\cpp) is a great tool to test performance before implementation.

[2022-01-18 01:23] Iffa-Meah commented on #9663
@leejinxi ,

You can clone the OpenVINO Open Model Zoo from this official repo: [open_model_zoo](https://github.com/openvinotoolkit/open_model_zoo)

Building from source won't include the OMZ and you'll need to clone the repo afterward.

This command (from the link you shared:[BuildingCode-Installing](https://github.com/openvinotoolkit/openvino/wiki/BuildingCode#installing)) would copy the open mo

[2022-01-18 03:44] wdkwyf opened #9729 "[Bug] OpenSource MO doesn't support paddle"
##### System information (version)

- OpenVINO => 2021.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: Paddle(if applicable)

##### Detailed description
when install openvino-mo package, no paddle extra can be found.

##### Steps to reproduce
cd openvino/tools/mo
pip install -e ".[paddle]"

Also, check the s

[2022-01-18 05:39] wdkwyf commented on #9729
Find it's inside openvino-dev

[2022-01-18 05:39] #9729 closed

[2022-01-18 06:20] leejinxi commented on #9663
@Iffa-Meah
Thanks for your help, I have solved this problem.

[2022-01-18 07:56] Iffa-Meah commented on #9727
Hi,

for Python, it is recommended to "tick" the option for adding Python 3.x to PATH during installation. This would avoid any issues afterward especially when using Python through CMD. Otherwise, situation like yours could happen.

![9727_python](https://user-images.githubusercontent.com/79643476/149892885-6a1c2c4b-3058-487d-9a3f-fbb63319c1a1.png)

![9727_python2](https://user-images.githubuserc

[2022-01-18 09:40] zhiboniu opened #9733 "[Bug]error while make in Ubuntu16.04"
##### System information (version)
- OpenVINO => master
- Operating System / Platform => Ubuntu16.04 64 Bit
- Compiler => gcc 5.4
- Problem classification: build

- Compiler => :grey_question:

##### Detailed description

I build the openvino follow this:https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux
But there is error while in the step : make --jobs=$(nproc --all)

##### Steps

[2022-01-18 09:48] brmarkus commented on #9733
Can you provide details about your environment, please?
Which OpenVINO version are you using?

From "https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_linux.html#system-requirements" it looks like Ubuntu 16.04 is not supported anymore...:

[2022-01-18 09:59] zhiboniu commented on #9733
![image](https://user-images.githubusercontent.com/31800336/149914223-2cd21bd0-4f1e-4b1a-bbca-60b14e979192.png)
![image](https://user-images.githubusercontent.com/31800336/149914640-5e743f15-ac4d-49d0-a025-0f3fcea9654e.png)
It looks like that build from source is ok on ubuntu16.04

[2022-01-18 10:05] brmarkus commented on #9733
The Wiki page referenced above was last edited on "Sep 23, 2021", and your referenced comment is from "23 Jul 2021"...

That's why I'm asking which version of OpenVINO you are using.

Have you sync'ed the source-code just now from MASTER/HEAD, or using an older version/release-tag/branch?

[2022-01-18 10:10] zhiboniu commented on #9733
Ok, got it. I clone the repo today, so it's not support ubuntu16.04 any more.

[2022-01-18 10:10] zhiboniu commented on #9733
thanks very much!

[2022-01-18 10:37] Iffa-Meah commented on #9663
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-01-18 10:37] #9663 closed

[2022-01-19 08:55] dnns92 opened #9766 "Licensing Question"
I have a couple of questions on the licensing file: https://github.com/openvinotoolkit/openvino/blob/2021.4/licensing/third-party-programs.txt

Let's say I just want to use the 2021.4 open-source openvino runtime: It's said here [openvino-docs](https://docs.openvino.ai/latest/openvino_docs_IE_DG_inference_engine_intro.html)  that we only need:
 - inference_engine.dll
 - inference_engine_transforma

[2022-01-19 15:48] jgespino commented on #9438
Closing, please re-open if you need additional assistance.

[2022-01-19 15:50] dnns92 opened #9773 "[Bug] Unknown Cmake Options in wiki"
##### System information (version)

- OpenVINO=> 2021.4
- Operating System / Platform => Win10
- Compiler => doesnt matter
- Problem classification => Build-Problem

##### Detailed description
There are options here: https://github.com/openvinotoolkit/openvino/wiki/CMakeOptionsForCustomCompilation, like:
 - NGRAPH_ONNX_FRONTEND_ENABLE
 - NGRAPH_PDPD_FRONTEND_ENABLE
 - GRAPH_TF_FRONTEND_ENABLE
 - N

[2022-01-19 16:30] jgespino commented on #9773
Hi @dnns92

Thanks for reporting, the documentation needs to be updated. Per https://github.com/openvinotoolkit/openvino/pull/9016 the following CMake options were renamed.
[code]

Regards,
Jesus

[2022-01-19 16:57] dnns92 commented on #9773
Dear @jgespino,

thank you for your reply, however: The pull-request you linked has been merged into the main branch december, while the 2021.4-Tag had its latest commit somewhere in June. So that cannot be the reason for the commands missing.

[2022-01-19 18:13] jgespino commented on #9773
@dnns92 I believe these options were not available in 2021.4 release, if we look at the commit history for this wiki page. The options were added around [November 17th 2021](https://github.com/openvinotoolkit/openvino/wiki/CMakeOptionsForCustomCompilation/6b70a916e50cdd7cc8a2e2c20fa7e2c658917e4b).

Also, tags 2021.4.1 or 2021.4.2 don't include these options. I don't have the exact pull request whe

[2022-01-19 22:15] rahashim commented on #9039
@michele-arrival, The issue has been resolved and the fix has been merged into the master branch.

[2022-01-20 00:31] JinXiaozhao commented on #9438
@jgespino
I generate my model using Tensorflow 1.x.
I can't generate the model using Tensorflow 2.x.

[2022-01-20 01:19] jdc711 opened #9784 "Inference Speed"
Hi, I had a question about execution time on Neural Compute Stick 2:

I was hoping to get some inference execution speed boost by running a simple neural network model on the NC2 stick instead of CPU. However, my initial experiment showed that the performance on myriad neural compute stick 2 is MUCH slower than CPU:

For MYRIAD NC2 stick:
[ INFO ] First inference took 33.88 ms
[Step 11/11] Dumping

[2022-01-20 06:41] jdc711 opened #9787 "Converting DLRM (Onnx) to Intermediate Representation Format (IR)"
####################################
Question: I am trying to convert Facebook's DLRM model from onnx form into IR form, but I am running into errors (the error is shown at the very bottom). Thank you so much for your support.
####################################
Logistics:
-CPU used, I am using 2.6 GHz 6-Core Intel Core i7, for Macbook pro.
####################################
Steps to reproduce

[2022-01-20 06:48] Yanfeng-Mi commented on #9501
@vurusovs even if remove MYRIAD plugin, the leak still exists.

[2022-01-20 08:59] Yanfeng-Mi commented on #9501
Except myriad plugin, another culprit plugin is gpu which cause little memory growth.
According to my test, there will be 513KB memory increased after 3000 calling
![image](https://user-images.githubusercontent.com/62379311/150306500-0d6b591e-f623-4dca-90aa-067c7545619e.png)

[2022-01-20 09:19] vurusovs commented on #9501
@Yanfeng-Mi Thanks!

Such behavior is more allocator/OS-specific than OpenVINO, so there is no way to fix it on OpenVINO side. You may try to use another allocator (e.g. jemalloc) to check the difference against default allocator

[2022-01-20 12:01] DunguTmp opened #9799 "Some errors occurred when using PTQ under adding custom ops!"
##### System information (version)

- OpenVINO=> 2021.4.689
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification => PQT

##### Detailed description
I have already implemented the custom op, and I can successfully infer the outputs when adding the custom op extensions files.
Like that:
<img width="583" alt="65a4e7771443fa26627a88038d97e01" src="h

[2022-01-20 13:35] jgespino commented on #9773
@dnns92 The option names have been updated in the wiki page. Please let me know if you have additional questions.
https://github.com/openvinotoolkit/openvino/wiki/CMakeOptionsForCustomCompilation

Regards,
Jesus

[2022-01-20 17:33] jgespino commented on #9766
Hi @dnns92,

I am reaching out to my peers for input on this topic. I will let you know what I find out.

Regards,
Jesus

Ref. 76554

[2022-01-21 03:49] KodeWorker opened #9823 "[Bug] Softmax is converted incorrectly"
##### System information (version)
- OpenVINO => 2021.4.752
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- Problem classification: Model Conversion
- Framework: ONNX (from tf2onnx)
- Model name: Deeplab V3+

##### Detailed description

Inconsistant values while converting ONNX model to OpenVINO IR.

The values in the layer, resize_2/ResizeBilinear, is almost the

[2022-01-21 04:31] Iffa-Meah commented on #9784
The performance on CPU is expected to be better compared to NCS2 since CPU has more powerful computing power.

NCS2 is just an accelerator device that would help in a certain situation, especially when additional computing power is required.

You may refer here for more comparison: [OpenVINO Performance Benchmark Results](https://docs.openvino.ai/latest/openvino_docs_performance_benchmarks_openvin

[2022-01-21 04:35] Iffa-Meah commented on #9535
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-01-21 04:35] #9535 closed

[2022-01-21 15:27] jgespino commented on #9787
Hi @jdc711

I ran into the same error when converting the model using OpenVINO 2021.4.2 release. However, this may have already been addressed as I am able to convert and load the model to CPU using OpenVINO from Master Branch (8ebe75f81a4bde48c3827ea0a3005f0ea6f8f031).

Could you try [building](https://github.com/openvinotoolkit/openvino/wiki/BuildingCode) OpenVINO from source and see if it works

[2022-01-21 17:37] jgespino commented on #9799
Hi @DunguTmp

I'll need to investigate further. Could you please share the original model, IR (xml & bin) and the extension files for your custom ops?

Regards,
Jesus

[2022-01-21 17:58] jgespino commented on #9823
Hi @KodeWorker

I am unable to access your model. Could you check the sharing settings? If you need to keep them private, you can share them to the email listed on my profile.

Regards,
Jesus

[2022-01-21 19:24] lminer opened #9846 "[Bug] OP_REQUIRES failed at functional_ops.cc:374 : Internal: No function library"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => ubuntu 20.04
- Problem classification: Model Conversion
- Framework: TensorFlow 2.4

##### Detailed description

I'm trying to convert a model and am getting two errors:
```OP_REQUIRES failed at functional_ops.cc:374 : Internal: No function library```
and
[code]
Not sure which one of them is causing the error.

[2022-01-22 00:46] KodeWorker commented on #9823
Hi @jgespino,

Sorry for your inconvenience.
I have change the accesss setting to anyone who gets the link. Please let me know if model is still unaccessible.

B.R.,
Kelvin

[2022-01-22 22:11] jdc711 commented on #9787
Hi,

Thanks for your reply. I have tried downloading the source code from https://github.com/openvinotoolkit/openvino/wiki/BuildingCode; however,  now I am having trouble finding the "mo" folder or any mo.py file within the entire directory. Do you think you can help me with this? Thanks

Best,

Josh

[2022-01-23 04:39] DunguTmp commented on #9799
Hi, @jgespino :
https://drive.google.com/file/d/16jNEDpN9Ii0vFdZ605S2rWW86onif1Se/view?usp=sharing is my IR and the extension files.

BR,
DwenGu.

[2022-01-23 18:28] jdc711 opened #9851 "ModuleNotFoundError: No module named 'openvino.tools'"
I am trying to run mo.py, but I am runnning into this error. Can someone assist me with this issue? Thank you.

[2022-01-23 23:29] jdc711 commented on #9787
Thank you for your reply. I tried rebuilding from the source https://github.com/openvinotoolkit/openvino/wiki/BuildingCode for MACos, and I tried running python3 mo.py --input_model dlrm_s_pytorch.onnx. However, I am running into this error: "ERROR:root:No module named 'openvino.tools'
ERROR:root:Could not find the Inference Engine or nGraph Python API.
Consider building the Inference Engine and n

[2022-01-24 02:54] jdc711 commented on #9787
Hi, thanks for your reply. Here are the stepps I have done so far:
1) I have recloned the git from :https://github.com/openvinotoolkit/openvino.git
2) then I followed the steps to build for Mac osx here: https://github.com/openvinotoolkit/openvino/wiki/BuildingForMacOS

Now, what should I do next? Below is what I tried to do, but to no avail:
3) Then, I went to openvino/tools/mo directory, then ra

[2022-01-24 03:21] jdc711 commented on #9787
Another thing I noticed is that I cannot find "mo.py" in openvino/build/tools/mo
The only contents of this directory are .cmake filles and Makefile...

[2022-01-24 07:07] jdc711 commented on #9787
Thanks for your reply, @jgespino. I tried recloning from the master branch, and then running "mo --input_model dlrm_s_pytorch.onnx". However, I am still running into this error: dongwoo@Joshuas-MacBook-Pro-3 build % mo --input_model dlrm_s_pytorch.onnx
[ WARNING ] Telemetry will not be sent as TID is not specified.
Model Optimizer arguments:
Common parameters:
	- Path to the Input Model: 	/Users/d

[2022-01-24 07:18] #9501 closed

[2022-01-24 07:37] #9851 closed

[2022-01-24 08:01] hannhu commented on #9799
Get the same error from a custom operation as well when I try to convert onnx model with Model Optimizer.
The error occurred only in the master branch. With 2021.4 OpenVino installed by binary, I can successfully convert the same model.

[2022-01-24 08:17] zulkifli-halim commented on #9787
Hello @jdc711, I'm able to convert the dlrm_s_pytorch model to IR.

[ SUCCESS ] Generated IR version 11 model.
[ SUCCESS ] XML file: /home/user/openvino/tools/mo/dlrm_s_pytorch.xml
[ SUCCESS ] BIN file: /home/user/openvino/tools/mo/dlrm_s_pytorch.bin
[ SUCCESS ] Total execution time: 15.27 seconds.
[ SUCCESS ] Memory consumed: 343 MB.

You can clone the OpenVINO repository from this branch:
[https

[2022-01-24 08:57] DunguTmp commented on #9799
I can successfully convert my torchnet to onnx.

[2022-01-24 12:54] irisitystefannilsson opened #9877 "[Bug] Assert triggered on some CPUs"
##### System information (version)
- OpenVINO => master (2022-01-24)
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2019
- CPU=> Intel(R) Core(TM) i7-11800H @ 2.30GHz

##### Detailed description
When running inference from c++ code built for Debug an assert is triggered saying:

Assertion failed: IMPLICATION(!(is_zero_point || jcp.with_input_zp), idx == ker_dw_reg_b

[2022-01-24 15:36] jdc711 commented on #9787
Hi @zulkifli-halim , thanks for your reply. I tried using the same branch but I am stilll getting the same error... Are you using a Mac?

[2022-01-24 15:49] jdc711 commented on #9787
@jgespino in my error, it keeps saying there is an input shape with a negative value... do you possibly know why this is happening?

[2022-01-24 17:25] Iffa-Meah commented on #9523
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-01-24 17:25] #9523 closed

[2022-01-24 17:36] jgespino commented on #9787
HI @jdc711

The mo version you are using doesn't seem to be from the master branch.
[code]

After I built OpenVINO from source, I removed any previous versions of mo and re-installed from the built package using the following commands.
[code]

By the way, in my cmake command I added `-DCMAKE_INSTALL_PREVIX=/opt/intel/openvino_2022` and ran `make install` after the built finished.

Please also shar

[2022-01-24 17:40] jgespino commented on #8371
Hi @jdc711

This is the expected output. As alalek mentioned above:

From developers perspective, NCS2 is useful with the following scenarios:

[2022-01-24 18:51] jgespino commented on #9823
Hi @KodeWorker

Thanks! I was able to download the files. My first question is how did you convert the model using 2021.4.2? I am getting the following error.

[code]

I then tested on the latest master branch (6f60a7d8f098c7cf3195ba96d964a11bf1babe55) and converted without any issues. The shape size looks correct now, could you try building OpenVINO from source and let me know if it also works fo

[2022-01-24 20:39] gdb4d opened #9884 "[Bug] openvino GPU inference hangs on the Atom x6212RE and x6413E Elkhart Lake"
##### System information (version)

- OpenVINO=> 2021 4.2 LTS
- Operating System / Platform => Ubuntu 20.04 LTS
- Compiler => gcc
- Problem classification => openvino GPU inference on x6212RE and x6413E Atom Elkhart Lake

##### Detailed description

GPU hangs randomly and unpredictably when running openvino inference. Tested under multiple network models, including ssd-coco object detector using t

[2022-01-24 20:40] jdc711 commented on #9787
@jgespino Thanks for your reply. I will try reinstalling with your steps and update you when Im done. Thanks. Here is a link to the repository where I uploaded the dlrm_s_pytorch.onnx file: https://github.com/jdc711/dlrm_onnx

[2022-01-24 20:41] jdc711 commented on #9787
Also, @jgespino if you do not mind,   may I see the exact cmake command that you ran before running make ?

[2022-01-24 21:36] jgespino commented on #9787
Hi @jdc711

The model linked above converted on my built from master branch.

This is my CMake command:
[code]

I have Python 3.6, make sure to update the paths for your python version and location.

Regards,
Jesus

[2022-01-25 02:33] Iffa-Meah commented on #9877
Hi @irisitystefannilsson ,

Please help to provide these:
1. The c++ code built for Debug?
2. Which OpenVINO inference app did you run this debug code with?
3. Command to run these code
4. Any related model files in order to test this from our end

[2022-01-25 02:36] hannhu commented on #9799
With master OpenVino?

[2022-01-25 02:38] DunguTmp commented on #9799
I installed the OpenVino with my windows platform. Follow the link https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit-download.html .

[2022-01-25 03:20] Iffa-Meah commented on #9884
Hi @gdb4d,

what Kernel and GPU driver do you use for this purpose?

Please note that the Ubuntu 20.04 long-term support (LTS), 64-bit has **preview support** only.
You may refer to this release note: [OpenVINO Release Notes](https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes.html)

[2022-01-25 03:28] gdb4d commented on #9884
name -r
5.13.0-1008-intel

lspci -k | grep -EA3 'VGA|3D|Display'
00:02.0 VGA compatible controller: Intel Corporation Device 4555 (rev 01)
	Subsystem: Intel Corporation Device 7270
	Kernel driver in use: i915
	Kernel modules: i915

inxi -G
Graphics:
  Device-1: Intel driver: i915 v: kernel
  Display: server: X.Org 1.20.13 driver: modesetting unloaded: fbdev,vesa
  resolution: 1920x1080~60Hz
  Open

[2022-01-25 03:30] gdb4d commented on #9884
Hi @Iffa-Meah , please let me know if you propose specific commands to query further.

[2022-01-25 03:35] alalek commented on #9884
Please dump OpenCL runtime information: `clinfo` (available from `clinfo` Ubuntu package)

[2022-01-25 03:39] gdb4d commented on #9884
Number of platforms                               1
  Platform Name                                   Intel(R) OpenCL HD Graphics
  Platform Vendor                                 Intel(R) Corporation
  Platform Version                                OpenCL 3.0
  Platform Profile                                FULL_PROFILE
  Platform Extensions                             cl_khr_byte_addressable_s

[2022-01-25 04:38] alalek commented on #9884
Thank you for updates!

Could you try to upgrade OpenCL runtime?
Ubuntu 20.04 guidelines could be found here: https://dgpu-docs.intel.com/installation-guides/ubuntu/ubuntu-focal.html

---

How many time is taken for normal execution? Is it above of several seconds (e.g. 5+ seconds)?

GPU driver has watchdog which resets GPU engine after some timeout.

[2022-01-25 04:45] gdb4d commented on #9884
normal GPU-based inference (15Hz to 25Hz range) can last anywhere from 5 seconds to multiple hours until the hangup occurs. could not establish a repeatable and reproducible set of conditions and events.

[2022-01-25 04:50] gdb4d commented on #9884
Hi @alalek , thanks for jumping in!

As to upgrading OpenCL runtime, we have run those steps already. What version were you expecting? How can we compare notes on this?

[2022-01-25 05:49] KodeWorker commented on #9823
Hi @jgespino,

Sorry, I forgot to mention that ExpandDims error is caused by Unsqueeze layer, and I took ExpandDimsToUnsqueeze.py from this [pull request](https://github.com/openvinotoolkit/openvino/pull/8399) to pass the conversion.

I am still building OpenVINO. I will keep you updated once done the experiment.

B.R.,
Kelvin

[2022-01-25 05:50] brmarkus commented on #9884
Have you installed a pre-built version of OpenVINO or have you built it from source?

Have you called "sudo -E /opt/intel/openvino_2021/install_dependencies/install_NEO_OCL_driver.sh" to get OpenCL installed or have you installed it manually (or in another context)?
Can you call it again and provide the console output, please? (it checks the installed version, checks whether a newer version is ava

[2022-01-25 06:04] alalek commented on #9884
@gdb4d I'm expecting some fresh version, similar to this: https://github.com/intel/compute-runtime/releases (page contains installation instructions for Ubuntu 20.04 too, however they are less user-friendly).

---

15+ fps inference should not cause GPU watchdog trigger in normal operation. Problem is somewhere else.

[2022-01-25 07:37] hannhu commented on #9799
Okay, I only get this error with the latest OpenVino.

[2022-01-25 08:39] zulkifli-halim commented on #9846
Hello @lminer. Please share with us your custom model, link to the original model, and also the Model Optimizer command to convert the model for replication purposes.

[2022-01-25 09:50] gery9999 opened #9896 "issue creating and loading IR for EfficientNetB0 and MobileNetV2"
Hi!
I have been training an EfficientNetB0 (and a MobileNetV2 too). I have issues loading the model after conversion to OpenVINO IR.
My first guess was that I was using a wrong TF/Python version while training (TF2.6, Python version 3.9.).
However, also after training an EfficientNetB0-model in TF2.5, Python version 3.9, after I finally managed to convert the model to OpenVINO IR, I could not load

[2022-01-25 10:11] filip-1993 opened #9898 "[Bug] Exception: Exception occurred during running replacer "ObjectDetectionAPIPreprocessor2Replacement (<class 'extensions.front.tf.ObjectDetectionAPI.ObjectDetectionAPIPreprocessor2Replacement'>)":"

[2022-01-25 12:29] vladimir-paramuzov commented on #9884
@gdb4d The hang may be caused by hangcheck feature in graphics driver which kills kernels working longer than some time period (1.5s if I remember correctly). It can be disabled by putting `N` into `/sys/module/i915/parameters/enable_hangcheck` file.  I guess Atom x6425E or x6425RE don't face this issue due to more powerful GPU (32 EUs instead of 16 EUs in x6413E). Could you try the option above t

[2022-01-25 14:32] jdc711 commented on #9787
@jgespino Hi, for some strange reason, I am not able to builld the code anymore. When I run make installl, I keep getting this error during the make:

[ 87%] Building CXX object src/plugins/intel_cpu/CMakeFiles/ov_intel_cpu_plugin.dir/src/nodes/mkldnn_multiclass_nms.cpp.o
[ 87%] Building CXX object src/plugins/intel_cpu/CMakeFiles/ov_intel_cpu_plugin.dir/src/nodes/mkldnn_mvn_node.cpp.o
/Users/dong

[2022-01-25 15:09] gdb4d commented on #9884
**sudo -E /opt/intel/openvino_2021/install_dependencies/install_NEO_OCL_driver.sh**
Intel® Graphics Compute Runtime for oneAPI Level Zero and OpenCL™ Driver installer
Checking current driver version...
Checking processor generation...
Intel® Graphics Compute Runtime for oneAPI Level Zero and OpenCL™ Driver installation skipped because current version greater or equal to 19.41.14441
Installation of

[2022-01-25 15:13] gdb4d commented on #9884
**groups**
ubuntu adm dialout cdrom sudo dip plugdev render lxd apex

I recall this was one of the last steps in OpenVINO installation and I am surprised the user is not in the video group unless I am querying this wrong...

[2022-01-25 15:35] gdb4d commented on #9884
yes, we ran this multiple times and it quits saying the installed driver is actually newer ("Intel® Graphics Compute Runtime for oneAPI Level Zero and OpenCL™ Driver installation skipped because current version greater or equal to 19.41.14441")

[2022-01-25 15:51] irisitystefannilsson commented on #9877
2. I was able to trigger the assert when running the 'hello_classification' sample code in :
openvino/samples/cpp/hello_classification/
3. ./hello_classification objectdetector.xml img.bmp CPU
4. The 'objectdetector'  is an in-house model with input shape [1, 3, 96, 96]. I will see if I can upload something similar that triggers the asssert

I was able to reproduce it on linux/gcc as well (ubuntu

[2022-01-25 16:30] #9773 closed

[2022-01-25 16:44] lminer commented on #9846
@zulkifli-halim  this is a proprietary model, so I can't share it. Is there any sort of more extensive logging that I might be able to produce?

[2022-01-25 18:39] jgespino commented on #9787
I will try to build on a Mac, could you tell me more about your environment?

- Mac OS Version
- Python Version
- CMake Version
- Clang Version

Regards,
Jesus

[2022-01-25 19:14] gdb4d commented on #9884
Hi @vladimir-paramuzov , the x6212RE stopped the random hanging ever since I disabled it per your suggestion. What are we compromising by doing so?

[2022-01-25 23:53] zulkifli-halim commented on #9846
Hi @lminer. Can you share the model privately to me via my email (zulkiflix.bin.abdul.halim@intel.com) it is possible?

[2022-01-26 01:42] Iffa-Meah commented on #9896
Hi @gery9999 ,

OpenVINO does officially support the model EfficientNetB0. You may refer [here](https://docs.openvino.ai/latest/omz_models_model_efficientnet_b0.html). If you downloaded the model using the OpenVINO Model Downloader, you should be able to get a model named efficientnet-b0. This model is one of the EfficientNet models designed to perform image classification and was pre-trained in T

[2022-01-26 03:50] jdc711 commented on #9787
@jgespino Sorry for the late reply, and thanks for your continued support. Here are my specs:

Mac OS Version: 11.6.2
Python Version: 3.7.12
CMake Version: 3.21.4
Clang Version: Apple clang version 13.0.0 (clang-1300.0.29.30)

[2022-01-26 07:08] zulkifli-halim commented on #9898
Hello @filip-1993. I'm able to convert the model to IR by using `JSON_FILE="ssd_support_api_v2.4.json"`.

[code]

Please give it a try and share the output.

[2022-01-26 07:57] filip-1993 commented on #9898
Hi @zulkifli-halim! Yes indeed, I have tried a bunch of things before mailing this and it does seem like I happened to post a model where I managed to export something that was readable.

However I think this might have been a one off. This particular model was exported in a different conda environment rather than the one it was trained with. It was exported with python3.9 and the latest and great

[2022-01-26 09:49] kunkun007 opened #9926 "[Bug] memory leak on LoadNetwork"
##### System information (version)

- OpenVINO => 2021.4.2
- Operating System / Platform =>centos7.8
- Compiler => vs code
- Framework: openvino
- Model name: person-detection-0202

##### Detailed description
I installed openvino by l_openvino_toolkit_p_2021.4.752.tgz, try to load model person-detection-0202 provided by openvino,
load model success, but valgrind report like this:

==98627== 24,720

[2022-01-26 13:37] gery9999 commented on #9896
ad 1. In short here is the code I used for training. Quite usual I guess.
`import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.applications import MobileNetV2

img_width = img_height = 224
num_classes = 2
num_epochs = 100
batch_size = 32

# Model using MobilNetV2 architecture
mobv2 = tf.keras.applications.MobileNetV2(
    input_shape=(img_width, img_height, 3),
    al

[2022-01-26 14:11] #9470 closed

[2022-01-26 20:42] avitial commented on #9293
Closing this, feel free to reopen and provide additional information or ask any questions related to this topic.

[2022-01-26 20:42] #9293 closed

[2022-01-26 22:09] jgespino commented on #9926
Hi @kunkun007

Thank you for reporting, I was able to reproduce using OpenVINO 2021.4.2 release on Ubuntu 18.04. I will open an Internal ticket with the development team to investigate.

[code]

Regards,
Jesus

[2022-01-27 07:50] zulkifli-halim commented on #9898
Hi @filip-1993. Python version 3.9 is not yet supported by OpenVIN,O you may refer to [Supported Python versions](https://docs.openvino.ai/cn/2021.4/openvino_inference_engine_ie_bridges_python_docs_api_overview.html).

As for the latest TF 2 version (version 2.7), I'm checking with the development team whether the current JSON file is supported or not for the latest TF 2 version.

[2022-01-27 08:02] filip-1993 commented on #9898
Hi @zulkifli-halim. I am running Openvino in your supplied docker container like I showed above. That is running openvino/ubuntu18_dev with python 3.6.9.

But the environment for training and exporting the model are different. TF 2.2 + python 3.6 and TF 2.7 + python 3.9 respectivly.

BR
Filip

[2022-01-27 08:27] jdc711 commented on #9787
@jgespino meanwhile, would you also be able to share the xml and bin files you were successful able to generate?

[2022-01-27 09:06] KodeWorker commented on #9823
Hi @jgespino,

I have built OpenVINO ([6f60a7d](https://github.com/openvinotoolkit/openvino/commit/6f60a7d8f098c7cf3195ba96d964a11bf1babe55)) as docker image according to this [repo](https://github.com/openvinotoolkit/docker_ci/tree/master/dockerfiles/ubuntu18/build_custom).
The model can be converted with few lines of warnings.
The output shape of Softmax layer is correct. But I can not load mode

[2022-01-27 10:50] drux007 commented on #7674
Hi @jgespino,

any updates on this issue?

We also ran into the same issue. The results when running the same models on MYRIAD and CPU/GPU differ so significantly that MYRIAD cannot be used.

Inside our product, we usually use  INT8 Quantized models which are not supported for VPUs (see [here](https://onnxruntime.ai/docs/execution-providers/OpenVINO-ExecutionProvider.html#support-for-int8-quantize

[2022-01-27 11:01] ajaymaity commented on #9851
How did you fix this issue?

[2022-01-27 18:41] avitial commented on #7681
@Orchidaceae apologies for the delay in my response, the long execution of this model compilation is associated with a large amount of data that comes to the ajustDataLayout pass. Thus, we do not have a hang on compile tool rather we have a long execution.

The EfficientDet-d0 network provided originally is not supported as I previously suspected on Myriad, but version in OpenVINO's OMZ is support

[2022-01-27 19:21] mszuyx commented on #9823
Having the same issue here.

I followed the instruction from [https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux](url)

So far I don't have any issue following the instructions and build the openvino's latest branch. But the model optimizer keeps saying that it can't find ngraph or python api. So I did what @KodeWorker suggested, I add the ExpandDimsToUnsqueeze.py from the github re

[2022-01-27 20:18] jgespino commented on #9823
Hi @KodeWorker

Since you converted the model with the MO from master branch you should also try running with the inference engine from master branch.

The docker images takes 40G HD space. Even if I cut off source code repo, it's still 14G.
Is it possible to further reduce the size of built OpenVINO?

I'll need to look into the Docker built method, I haven't tried it recently.

Built instructions

[2022-01-27 20:21] jgespino commented on #9823
@mszuyx Try using the inference engine from your built, see commands above how I built and installed.

Additionally, install the benchmark_app and see if you get the same error message with the converted model.

Continuation from above commands:
[code]

Regards,
Jesus

[2022-01-27 20:31] mszuyx commented on #9823
Thx! Trying it rn!

Yu

[2022-01-27 21:10] mszuyx commented on #9823
@ Is python 3.6 a must? I changed the flag option to python 3.8 and got:

[code]
when doing make --jobs=$(nproc --all)

[2022-01-27 21:40] mszuyx commented on #9823
@jgespino I followed the instruction you gave and it is now properly installed.
Running mo.py doesn't give me the The **ExpandDims node Unsqueeze_xxx has more than 1 input** error anymore!

But now I have a new one:
[code]
Is this an known issue / not yet implemented feature?

Thx!

[2022-01-27 23:30] jgespino commented on #9799
Hi @DunguTmp

Apologies for the delay, I haven't been able to resolve the error message and need to reach out to the development team for additional guidance. I will let you know what I find out.

Regards,
Jesus

Ref. 77257

[2022-01-28 01:46] zulkifli-halim commented on #9521
Closing issue. Feel free to reopen the issue if further assistance is needed.

[2022-01-28 01:46] #9521 closed

[2022-01-28 01:48] Iffa-Meah commented on #9727
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-01-28 01:48] #9727 closed

[2022-01-28 06:20] KodeWorker commented on #9823
Hi @jgespino,

I'd checked the output values from both OpenVINO and ONNXRUNTIME

model outputs:
1. SemanticPredictions:0
2. SemanticProbPredictions:0

The values in output#1 from OpenVINO is the same as  those from ONNXRUNTIME.
The differences in output#2 between OpenVINO and ONNXRUNTIME are relatively small ( < 1e-5)

[code]

It seems that model (Deeplab V3+ ONNX) conversion is no longer an issue

[2022-01-28 06:20] #9823 closed

[2022-01-28 06:28] Iffa-Meah commented on #9896
Hi,

your IR model works from my side.

Inferred using [OpenVINO Benchmark Python Tool]:(https://docs.openvino.ai/latest/openvino_inference_engine_tools_benchmark_tool_README.html)

![benchmark](https://user-images.githubusercontent.com/79643476/151497933-72fe8166-98d3-4785-a8f8-f100a2e9a419.png)

Inferred using [Hello Classification Python Sample](https://docs.openvino.ai/latest/openvino_inferenc

[2022-01-28 12:37] gery9999 commented on #9896
Hi Iffa-Meah!
Thanks for checking!
For some reason I can suddenly run the net today. I do not know what kept the net from working the past weeks. Not sure what has changed but at least the issue seems resolved now :)

[2022-01-28 12:37] #9896 closed

[2022-01-28 16:23] Iffa-Meah commented on #9877
@irisitystefannilsson ,

I don't see any issue from my side. I'm using Windows 10 with Intel Core i7 CPU. I cloned the latest master branch.

<img width="669" alt="w10BuildFromSrc" src="https://user-images.githubusercontent.com/79643476/151582303-96ac7011-93ad-4fff-a014-86eb10b4676a.png">

**Make sure to follow these steps:**

1. Clone the latest repo: git clone https://github.com/openvinotoolkit/

[2022-01-28 18:30] jgespino commented on #9787
Hi @jdc711

I could share it but it would not work on OpenVINO 2021.4.2 release as the model needs to use the same version for the Inference Engine and the Model Optimizer.

I just got access to a Mac Mini but it only goes up to Mac OS 10.15, I will give it a try and let you know the outcome.

Regards,
Jesus

[2022-01-29 02:40] gdb4d commented on #9884
Hi @vladimir-paramuzov , the x6212RE stopped the random hanging ever since I disabled it per your suggestion. The GPU inference outputs look all correct. Thank you! What is exactly the implication of disabling the hangcheck feature?

[2022-01-29 22:31] lminer commented on #9846
I changed the model around slightly and am now getting a new error:

[code]
Openvino doesn't appear to like casting from complex to real.

[2022-01-31 01:21] Iffa-Meah commented on #9784
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-01-31 01:21] #9784 closed

[2022-01-31 01:24] Iffa-Meah commented on #9684
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-01-31 01:24] #9684 closed

[2022-01-31 08:30] vladimir-paramuzov commented on #9884
@gdb4d AFAIK, it may lead to system wide hang if some GPU task really hangs. So I think you can use it for development purposes, but I'd recommend checking if there is a room for primitives optimization before deployment (that's why I asked for execution graph).

[2022-01-31 15:04] piti-diablotin opened #10028 "FakeQuantize layer, from IR to IE"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => docker openvino_data_dev
- Problem classification: Quantization

##### Detailed description
I'm currently trying to implement a new algorithm to quantize an IR model. I'm working in the `pot.py` utility tool.
I created a new quantization algorithm which is found and launched correctly.
I got an IR in the xml f

[2022-01-31 18:34] jgespino commented on #9574
Closing, please re-open if additional assistance is required.

[2022-01-31 18:34] #9574 closed

[2022-01-31 18:35] #9039 closed

[2022-01-31 18:36] #7233 closed

[2022-01-31 18:39] jgespino commented on #9493
@azhogov Will you update the wiki regarding -DTREAT_WARNING_AS_ERROR=OFF? Let me know if we can proceed to close this issue.

[2022-01-31 20:41] avitial commented on #9452
@JinXiaozhao apologies for the delay in my response, as previously stated it looks like the problem comes from operator conv1_bn/cond. I was not successful at creating the model, freezing and converting to IR with TensorFlow 2.x and OpenVINO 2021.4.2 LTS. I however was successful with TensorFlow 1.15 and OpenVINO 2021.4.2 LTS.

If possible I'd suggest trying with TensorFlow 1.15 and see if this al

[2022-02-01 01:12] jdc711 commented on #9787
@jgespino Thank you so much

[2022-02-01 03:35] ilyachur commented on #10028
I don't see any big difference between these IRs. @eshoguli @dmitry-gorokhov maybe could you advise.

[2022-02-01 08:29] piti-diablotin commented on #10028
Thanks for your reply.

The only difference I have in mind  is the `.bin` file. Do `Const` values matter for low precision inference triggering ?

[2022-02-01 10:20] IlyaDobrynin opened #10039 "[Bug] ONNX model after convertation doesn't work on AMD"
##### System information (version)

- OpenVINO=> 2020.3
- Operating System / Platform => Ubuntu 18.04
- Problem classification => Model Conversion
- Framework: PyTorch

##### Detailed description
There is a strange bug in ONNX to OpenVino convertation of my model. I use [OSNet](https://github.com/KaiyangZhou/deep-person-reid/blob/master/torchreid/models/osnet.py) and make this steps of convertatio

[2022-02-01 14:54] drux007 commented on #7674
@tersekmatija did you manage to solve the issue?

[2022-02-01 18:21] Iffa-Meah commented on #9877
The OpenVINO CPU plugin does supports inference on Intel® Xeon® with Intel® Advanced Vector Extensions 2 (Intel® AVX2), Intel® Advanced Vector Extensions 512 (Intel® AVX-512), and AVX512_BF16, Intel® Core™ Processors with Intel® AVX2, Intel Atom® Processors with Intel® Streaming SIMD Extensions (Intel® SSE).

In OpenVINO build from source, ENABLE_AVX512F parameter would enables AVX512 optimization

[2022-02-01 20:40] jgespino commented on #10039
Hi IlyaDobrynin,

Thank you for reporting, OpenVINO is officially supported on Intel Processors. Please take a look at the [system requirements](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/system-requirements.html) for additional information. Also, you are using on older release, could you upgrade OpenVINO to the latest 2021.4.2 and see if you observe the same behavior

[2022-02-01 23:44] jgespino commented on #9799
Hi @DunguTmp

Apologies for the delay, the development team has informed me they've made changes in the IR frontend that should help with custom layers. These changes are included the master branch of OpenVINO.

We have a [pre-release](https://github.com/openvinotoolkit/openvino/releases/tag/2022.1.0.dev20220131) available for OpenVINO 2022.1, could you please try converging your model to IR with

[2022-02-01 23:51] jgespino commented on #9926
Hi @kunkun007

Quick update: there are a couple of PRs for this GitHub Issue.
https://github.com/openvinotoolkit/openvino/pull/9578
https://github.com/openvinotoolkit/openvino/pull/10052

There are also many leaks in dlopen, it seems to be a known bug in valgrind and these should be ignored.

Regards,
Jesus

[2022-02-02 05:43] irisitystefannilsson commented on #9877
If the OpenVINO is built for Release the Assert will probably not be checked at runtime.
I only see this if OpenVINO is built for Debug.

[2022-02-02 15:23] drux007 commented on #7674
Thanks for your quick answer @tersekmatija.

Did you simply stop using the stick or stopped due to the difference in the output? What did you conclude in that case - the computation of the stick is not good enough?

[2022-02-02 17:48] tersekmatija commented on #7674
Hey @drux007 ,

I just switched a model, but I'd still like to see this resolved :) I found out that this issue is rarely the case, but can happen some time. I think you could modify the scales of some layers manually by providing config files when doing inference or compiling a blob.

[2022-02-02 21:48] mszuyx opened #10085 "Running custom models on up xtreme + MYRIAD VPU"
Hi,

Great project first of all! Big fan of the project!

I am currently working on deploying a custom model on a single board computer called up xtreme: https://up-board.org/up-xtreme/ (the i7 version). The model itself can be converted into intel IR from ONNX and be executed via openvino runtime on our desktop.

Our questions are:

- As the data acquisition is done using an intel RGB-D camera D4

[2022-02-03 02:11] mszuyx opened #10086 "How to have multiple inputs to the model when using benchmark_app"
Hi team openvino!

Just a quick question:
How to set multiple inputs for the model when using the benchmark_app? (My model takes two input images) The -i option can lead to a file / folder path, but how do I specify which input takes what image?

Thanks!
Yu

[2022-02-03 13:12] nkogteva commented on #10086
@mszuyx You can specify files per input directly in the latest version of benchmark_app:
[code]

[2022-02-03 13:19] yury-gorbachev commented on #10086
О как! Первый пошёл!!!

Thanks,
/Yury

From: Nadezhda Ageeva ***@***.***>
Date: Thursday, 3 February 2022, 16:12
To: openvinotoolkit/openvino ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [openvinotoolkit/openvino] How to have multiple inputs to the model when using benchmark_app (Issue #10086)

@mszuyx<https://github.com/mszuyx> You can specify files per input directly in the latest versi

[2022-02-03 16:37] jdc711 commented on #9787
@jgespino Great, thanks. I repodruced your steps and the cmake command worked, I think. I just wanted to confirm what your exact make command was (after cmake)?

[2022-02-03 16:54] jgespino commented on #9787
@jdc711 I just ran `make -j2`, modify the number of jobs depending on the number of available CPU cores/threads.

[2022-02-03 18:26] jgespino commented on #9898
Hi @filip-1993

Could you share a link to the base model you used for training your [model](https://github.com/openvinotoolkit/openvino/files/7939820/efficientdet_net_exported.zip)? Looking at the model architecture, the model is different than the supported [efficientdet model](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_EfficientDet_Models.

[2022-02-03 20:35] jdc711 commented on #9787
<img width="1139" alt="Screen Shot 2022-02-03 at 12 34 30 PM" src="https://user-images.githubusercontent.com/44274490/152424321-2b6a090a-4146-4e83-9d04-6335d955e741.png">
Hi @jgespino , I have gotten closer than ever by reporducing your steps. While I have succesfully created the xml and bin file, the program crashes with a seg fault as shown in the picture. IS that okay?

[2022-02-03 20:45] jdc711 commented on #9787
Also, how do I run the benchmark inference engine on the xml and bin files?

[2022-02-04 00:43] jgespino commented on #9787
Hi @jdc711

I didn't see a segmentation fault when converting the model on my end. To run the benchmark_app, you can use the python script in openvino_source/tools/benchmark_tools. You will need to export a couple of variables first:
[code]

I ran into an issue, not sure if it's on the master branch or my environment.

However, I tried using the [2022.1 development package](https://github.com/open

[2022-02-04 01:54] Iffa-Meah commented on #10085
Hi [@mszuyx](https://github.com/mszuyx) ,

Generally, VPU/MYRIAD/NCS2 could work as long as you fulfill the OpenVINO system requirements (software and hardware) and if the model & its topology is officially supported. The [VPU plugin](https://docs.openvino.ai/latest/openvino_docs_IE_DG_supported_plugins_VPU.html#doxid-openvino-docs-i-e-d-g-supported-plugins-v-p-u) should work as expected.

However

[2022-02-04 02:48] jdc711 commented on #9787
May I ask, I am not sure how to specify the input shapes for the command. IF you were to do this command, how would you write the entire command?

[2022-02-04 07:48] #9898 closed

[2022-02-04 16:53] jgespino commented on #9787
Hi @jdc711

I'm not familiar with the model to determine the input shape. I recommend looking at the model's documentation to determine the expected input. You can also try to visualize the model using Netron or similar tool to see if that helps.

Regards,
Jesus

[2022-02-04 17:47] jdc711 commented on #9787
@jgespino Hi, this is the input format for the DLRM, as outputted by the default code at the very bottom of the entire dlrm_s_pytorch.py file:

"Finished training it 1/1 of epoch 0, -1.00 ms/it, loss 0.083850
X_onnx.shape torch.Size([1, 4])
lS_o_onnx.shape torch.Size([3, 1])
ii.shape torch.Size([3])
ii.shape torch.Size([1])
ii.shape torch.Size([1])
inputs ['dense_x', 'offsets', 'indices_0', 'indic

[2022-02-04 21:32] mszuyx commented on #10085
@Iffa-Meah Thank you! These are all very helpful!

So the takeaway messages are: (correct me if I got them wrong?)

- if my current setup has no problem converting, running the IR model using Openvino, then it is most likely ok with VPU. (I have tried CPU, and integrated GPU so far, no issue at all)
- I shall verify the model accuracy under FP16 first to see if it is acceptable.
- Use benchmark to

[2022-02-04 23:00] jdc711 commented on #9787
<img width="684" alt="Screen Shot 2022-02-04 at 2 58 27 PM" src="https://user-images.githubusercontent.com/44274490/152614260-9ec196d3-c448-4a57-b854-b97974517423.png">
@jgespino Here is the code that converts the dlrm into onnx w the specific input names shown. I apologize, but I am not experienced enough with openvino to figure out the command for ruunning with the dynamic input names of the dlr

[2022-02-05 05:14] jdc711 commented on #9787
@jgespino
Hi, Thanks so much for your help. I was able to run the inference on CPU. Thanks. However, when I tried to run inference on the MYRIAD stick, it did not work becuase I did not have the MYRIAD plug in:
" ERROR ] Cannot load library 'libov_intel_myriad_plugin.so: dlopen(libov_intel_myriad_plugin.so, 2): image not found
Traceback (most recent call last):
  File "/Users/dongwoo/Desktop/openv

[2022-02-07 01:08] Iffa-Meah commented on #9877
We are investigating this on the 11th gen system. We'll revert back to you asap.

[2022-02-07 05:57] brmarkus commented on #10085
The delay is because while loading/importing the model into the plugin, for GPU (and some VPUs) OpenVINO compiles OpenCL-kernels for contained tensors&operations.

With using an ENV variable like `export cl_cache_dir=/my/path/to/a/folder/` those OpenCL-kernel files could be stored (temporarily or permanently) and will be loaded the next time instead of being compiled again and again.

[2022-02-07 08:21] zhibo1-wang commented on #7233
In that case this bug does not exist any more, closing this issue would be fine.

[2022-02-07 11:31] satpalsr commented on #3882
Hey @jgespino, I am facing a similar issue while trying to convert XML to blob & I am on CPU.
`Failed to compile layer "ScatterND_735": unsupported layer type "ScatterNDUpdate"`

I am using `2.1.2021.3.0-2787-60059f2c755-releases/2021/3` version

Used commands:
[code]

[2022-02-07 21:44] mszuyx commented on #10085
Sounds great! Is there somewhere I can read more about it?

Yu

[2022-02-07 22:41] #10086 closed

[2022-02-08 00:09] mszuyx commented on #10085
I found some info here:

https://github.com/intel/compute-runtime/blob/master/opencl/doc/FAQ.md

I think the loading is much faster now!

Thx

[2022-02-08 00:09] #10085 closed

[2022-02-08 02:00] kunkun007 commented on #9926
Thank you for your reply, should I test openvino on master brach or the next latest release or  something?

[2022-02-08 05:07] satpalsr opened #10185 "[YOLOv3 IR]"
Hey, I am trying to convert the YOLOv3 model into an intermediate representation but getting some errors. My final goal is to get a blob file.

**Steps to reproduce**
[Colab notebook](https://colab.research.google.com/drive/1WmgX8xgRnVKTKlzE4K_QPnlU6zNBGhXP?usp=sharing)

**Error description**
[code]

[2022-02-08 21:07] mszuyx opened #10215 "Question: Intel® UHD Graphics 620 vs. MYRIAD VPU"
Our deployment machine, [up xtreme ](https://up-board.org/up-xtreme/) has an integrated GPU: **Mesa Intel® UHD Graphics 620**.

As we test our FP16 model, we observe that there is a huge performance boost when deploying the FP16 model to the GPU. (Changing the model from FP32 to FP16 and deploy on CPU only gives ~ 1FPS  improvement, but on GPU, **it is 48% higher**)

We are also interesting on try

[2022-02-09 10:28] somodis commented on #169
To anyone who is still searching for the solution on Google page > 1:

It seems obvious but you should check if you're not accidentally using the USB 2.0 port for the NCS 2.
That could (also) cause this error. I've been an inattentive moron so you don't have to, have a nice day :)

[2022-02-10 01:15] avitial commented on #9452
Closing this, please re-open if needed.

[2022-02-10 01:15] #9452 closed

[2022-02-10 02:01] Iffa-Meah commented on #10185
Hi,

I had exported the yolov3 model into ONNX model format as indicated in your link.
![export_pt_to_onnx](https://user-images.githubusercontent.com/79643476/153322452-a647d954-7cd4-4256-a647-5320ca464738.png)

Starting with the 2020.4 release, OpenVINO™ **supports reading native ONNX models**. Hence you don't have to convert your YOLOv3 model into IR. You can use it directly with OpenVINO.

I te

[2022-02-10 03:15] Iffa-Meah commented on #10215
Hi,

Choosing the right data precision in combination with specific hardware is important. You may refer [here](https://www.intel.com/content/www/us/en/developer/articles/technical/should-i-choose-fp16-or-fp32-for-my-deep-learning-model.html) to see which precision is compatible with which hardware.

The CPU supports FP32 and Int8 while GPU supports FP16, FP32 (but preferred FP16). This is why you

[2022-02-10 23:18] mszuyx commented on #10215
@Iffa-Meah Thanks! These are great references!

Here are some follow up questions:

- Is there a reason you made the estimation based on the performance of NCS2 instead of MYRIAD?
- The benchmark chart doesn't show FP16's performance on GPU, so it is little hard to put things into perspective (FP16 in GPU vs. VPU). From your experience, would the throughput of INT8 and FP16 be similar on GPU?

Tha

[2022-02-11 02:47] Iffa-Meah commented on #10215
@mszuyx ,

both NCS2 and the device you showed in the link use the same VPU (  Intel Movidius Myriad X VPU ) but again, as I said that calculation is theoretical since there are other factors that might affect the performance. I used 8 because, in that link, max is UP AI CORE XP8 (MYRIAD X*8).

If you look closely, there's iGPU (Intel GPU), but the model precision is not in FP16 tho. Note that the

[2022-02-11 07:02] cxz1418 opened #10289 "[Bug] Openvino Link Failed (With TorchScript)"
##### System information (version)

- OpenVINO => 2021.3
- Operating System / Platform => ubuntu 20.4
- Compiler => CMake
- Problem classification: Lib Compile
- Framework: torchscript(1.6, 1.10) + openvino

##### Detailed description
**Hello~, I try to use Torchscript and Openvino at the same time, but if I load both libs at the same time, I get an error message like this (undefined reference)**

[2022-02-11 18:58] dkurt commented on #10289
Hi! Can you try the following approach?
[code]

[2022-02-13 04:25] baudneo opened #10329 "[Bug] Error while building OpenCV - Ngraph 'get_output_as_single_output_node'"
##### System information (version)

- OpenVINO=> 2020.04
- Operating System / Platform => Ubuntu 20.04
- Compiler => g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
- Problem classification => building opencv 4.XX Master branch with OpenVino IE backend - ngraph errors

##### Detailed description
Compiling OpenCV master branch including Inference Engine using OpenVino 2020.04
The error is
[code]

##### St

[2022-02-13 04:31] baudneo commented on #10329
I followed all the build instructions from OpenCV and OpenVino, I had found a similar issue that was fixed by adding `-D INF_ENGINE_RELEASE=2020040000`. While the build made it a bit farther it still errors out with `get_output_as_single_output_node`

[2022-02-13 05:15] baudneo commented on #10329
Wow, version is 2021.4 meaning `-D INF_ENGINE_RELEASE=2021040000` and I also forgot `-D WITH_TBB=ON` Sorry, been a long day!

[2022-02-13 05:22] baudneo commented on #10329
Now I am getting

[code]

The file is in the same directory as the file requesting it?!?
[code]

[2022-02-13 07:08] baudneo commented on #10329
Alright, I got it built but now python is throwing errors on importing cv2
[code]

[2022-02-13 13:16] MuaadhS opened #10333 "[Bug] Converting Keras H5 model to intermediate representation IR"
#####Question
I have developed a model to perform image segmentation and saved it in keras .hdf5 (h5) format. Currently I'm trying to convert the model into IR format but I am getting the error provided.

##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => Windows 64 Bit
- Problem classification: Model Conversion
- Framework: Keras and TensorFlow
- Model name:

[2022-02-13 23:22] baudneo commented on #10329
Im goin g to close this issue and open anew one as its a separate problem I am assuming. The cure to this error was to make sure the correct version is referenced `-D INF_ENGINE_RELEASE=2021040000` and to add `-D WITH_TBB=ON`.

Also, add the openvino libs to ld.so.conf.

[2022-02-13 23:22] #10329 closed

[2022-02-14 01:51] jhonrputra opened #10337 "[ERROR] ... Cannot find reader for model format: xml and read the model... Please check that reader library exists in your PATH"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => MacOS Catalina
- Problem classification: Model Inference

Hi,

I've downloaded Openvino Installer (offline) and successfully installed on my MacOS. I've also followed additional instructions. But when i run my script (python), i got this error:

RuntimeError: Unknown model format! Cannot find reader for model

[2022-02-14 06:00] brmarkus commented on #10337
Have you followed "https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_macos.html" to install OpenVINO?
Your machine is Intel-based?
Do you have a chance to try the latest version, 2021.4.2?
Have you called "source /opt/intel/openvino_2021/bin/setupvars.sh" to let certain ENV variables be set?
Don't forget to call "sudo ./install_prerequisites.sh" as well.

[2022-02-14 08:11] smistad opened #10344 "[Bug] InferenceEngine::details::cloneNetwork requires ngraph-based `network` object to clone"
##### System information (version)
- OpenVINO => 2021.4.2
- Operating System / Platform => Ubuntu 18.04
- Compiler => GCC 7.5
- Problem classification: Inference
- Framework: TensorFlow (if applicable)
- Model name: Custom model

##### Detailed description

I build OpenVINO myself as part of https://github.com/smistad/FAST.

The exact same model and code works on Windows 10 and macOS 10.13.
But on

[2022-02-14 08:59] #9884 closed

[2022-02-14 17:01] jdc711 commented on #9787
@jgespino Hi, were you possibly able to figure out this MYRIAD NC2 stick error?

[2022-02-14 19:42] jgespino commented on #9926
Hi @kunkun007

The two PRs mentioned before have merged, there are a couple more that just merged.
https://github.com/openvinotoolkit/openvino/pull/10199
https://github.com/openvinotoolkit/openvino/pull/10202

I am waiting for confirmation from the dev team to test on the latest master branch. I will let you know.

Regards,
Jesus

[2022-02-14 20:18] jgespino commented on #10039
Closing, please re-open if additional assistance is needed.

[2022-02-14 20:18] #10039 closed

[2022-02-14 20:19] hannhu commented on #9799
你好，我已近收到了，我会尽快处理。

[2022-02-14 20:19] #9493 closed

[2022-02-14 20:28] avitial commented on #7681
Closing issue, feel free to reopen to ask any additional questions related to this topic.

[2022-02-14 20:28] #7681 closed

[2022-02-14 20:29] jgespino commented on #9336
Created an internal ticket.

Ref. 61673

[2022-02-14 21:15] jgespino commented on #9766
Hi @dnns92

Apologies for the delay, we have updated the licensing files to separate them by runtime, dev tools, documentation and third party programs. Unfortunate, we don't have a separate license file for every binary. Please review the link below and let me know if you have any questions.

https://github.com/openvinotoolkit/openvino/tree/master/licensing

Regards,
Jesus

[2022-02-15 00:44] jdc711 commented on #9787
Thanks @jgespino

I see. Would there be any way I can run the DLRM on the MYRIAD NCS2 stick? My main project goal was to run the DLRM on 1) CPU and on 2)MYRIAD NCS2 stick, and then compare the execution times for both.

[2022-02-15 07:54] zulkifli-halim commented on #10333
Hello @MuaadhS. Please share with us your Keras model for further investigation.

[2022-02-15 08:21] MuaadhS commented on #10333
Hello @zulkifli-halim, thank you for your response. this is the link to my Keras model:
[https://github.com/MuaadhS/U-Net-segmentation/blob/main/fibroblast.hdf5](url)

[2022-02-15 15:26] zulkifli-halim commented on #10333
Hi @MuaadhS, I'm able to convert the model to IR.

[code]

You need to specify the model input shape in order to convert the model to IR format. This is the MO command I used to convert the model:
`python mo_tf.py --saved_model_dir <SAVED_MODEL_DIRECTORY> --output_dir <OUTPUT_MODEL_DIR> --input_shape [1,512,512,3]`

[2022-02-15 18:32] jgespino commented on #8003
The installation script has been updated to install a newer driver and will be available in the next software release.

[2022-02-15 18:32] #8003 closed

[2022-02-15 18:40] alalek commented on #8003
BTW, Update is already available on GitHub.

[2022-02-15 18:59] jgespino commented on #8003
@alalek Thats right, good catch! Here is the pull request: https://github.com/openvinotoolkit/openvino/pull/9801

[2022-02-15 19:35] jgespino commented on #10344
Hi @smistad

I'm not familiar with FAST and how OpenVINO is integrated. Could you share your model (.pb/saved_model format and IR files) for me to reproduce the issue on OpenVINO. Feel free to share the models privately (email on my profile).

Regards,
Jesus

[2022-02-16 04:05] ilyachur commented on #10344
Hi @smistad,

Looks strange that you faced with the issue that CNNNetwork doesn't have nGraph function. As I see you are using IR v10, but IR v10 always contains nGraph.
Do you use CPU device and the same IR for all platforms?
Also could you check that here: https://github.com/smistad/FAST/blob/master/source/FAST/Algorithms/NeuralNetwork/InferenceEngines/OpenVINOEngine.cpp#L71 you have nGraph func

[2022-02-16 07:37] zongking123 opened #10419 "[bug] mae model convert to openvino, Openvino's reasoning is different every time"
##### System information (version)

##### Detailed description

    for i in range(10):
        res = exec_net.infer(inputs={input_blob: images})
        print(res)

but res result is different:
{'output': array([[-0.4404629 , -0.03808592, -1.3877465 , -1.164334  ,  1.7508022 ,
         0.10270747]], dtype=float32)}
{'output': array([[-0.21795796, -0.6438916 , -1.0039314 , -0.7995109 ,  1.3856016

[2022-02-16 07:45] SiChuanJay opened #10420 "[Bug]Argument shapes are inconsistent; they must have the same rank, and must have equal dimension everywhere except on the concatenation axis (axis 1)."
##### System information (version)

hello, The ONNX model I used had five inputs and was successfully converted to the OpenVino model, but ran with an error.
![图片](https://user-images.githubusercontent.com/52130681/154217009-311c0672-85aa-4dba-b001-7b888682da0b.png)
When I change the model to an input and convert it to openvino format it is successful. I compared the structure of the two models an

[2022-02-16 07:52] SiChuanJay commented on #10420
pth: https://github.com/PeterL1n/RobustVideoMatting/releases/download/v1.0.0/rvm_mobilenetv3.pth
onnx: https://github.com/PeterL1n/RobustVideoMatting/releases/download/v1.0.0/rvm_mobilenetv3_fp32.onnx
onnx-code: https://github.com/PeterL1n/RobustVideoMatting/tree/onnx

Thanks for your help!

[2022-02-16 08:03] jhonrputra commented on #10337
Hi,

I tried several time reinstalling OpenVino few days ago and finally it's working great now.

My steps:
1. Uninstall OpenVino.
2. Reinstall Phyton.
3. Install OpenVino and follow additional steps.
4. Execute my code and still got error.
5. Download updated models using model downloader.
6. Replace the models with updated models.
7. Code run perfectly.

The error message "Please check that read

[2022-02-16 08:03] #10337 closed

[2022-02-16 08:13] MuaadhS commented on #10333
Hello @zulkifli-halim, Just like you suggested I specified the the input shape in my MO command. The previous error does not occur now, however the model was not converted into IR format and I am getting this new error:

[code]

[2022-02-16 08:22] zulkifli-halim commented on #10333
@MuaadhS. I received the same errors when converting the model using OpenVINO 2021.4. As of this moment, please use the OpenVINO 2020.4 to convert the model.

[2022-02-16 11:58] #10333 closed

[2022-02-16 12:12] artanokhov commented on #1029
Not actual anymore after we aligned 'make install' and product public layout.

Please check it out with latest product state :)

[2022-02-16 12:12] #1029 closed

[2022-02-16 18:34] jgespino commented on #9877
Hi @irisitystefannilsson

I am seeing the same behavior on my system with 11th gen Intel Core processor. I have reached out to the development team for additional assistance. I will let you know what I find out.

Built OpenVINO as Debug on 9th Gen Intel Core Processor:
[code]

Built OpenVINO as Debug on 11th Gen Intel Core Processor:
[code]

Regards,
Jesus

Ref. 79577

[2022-02-16 18:37] jgespino commented on #9733
Closing, please re-open if additional assistance is needed.

[2022-02-16 18:37] #9733 closed

[2022-02-17 00:48] jgespino commented on #9926
Hi @kunkun007

I tested on the latest branch (https://github.com/openvinotoolkit/openvino/commit/1fc61299c85331d6c561ab54535b4765145fac00)  which contains all the PRs mentioned above and the memory leak has been fixed. Please try it from your side and let me know if you have any issues.

[code]

Regards,
Jesus

[2022-02-17 03:21] zulkifli-halim commented on #10420
Hello @SiChuanJay. Please share with us the Model Optimizer command and input shapes for all 5 inputs you used to convert the model.

[2022-02-17 03:31] SiChuanJay commented on #10420
hello @zulkifli-halim thanks for your help.
![图片](https://user-images.githubusercontent.com/52130681/154399885-a67dfa02-a730-4508-97bd-1ed6e6365f45.png)

[2022-02-17 04:28] Iffa-Meah commented on #10419
Hi @zongking123 ,

I had requested access to your file. You'll need to approve it.

![image](https://user-images.githubusercontent.com/79643476/154404646-51f688a0-9947-4ac1-921b-066c21f5ddef.png)

[2022-02-17 06:18] zongking123 commented on #10419
Sorry, try this link again：https://drive.google.com/drive/folders/1KSrn3iGLNDXTNBNklw52vU7voBHFQc_N?usp=sharing

[2022-02-17 08:12] tangtang666 opened #10464 "ubuntu 18.04 int8 GPU is slow then float32 GPU and int8 CPU"
##### System information (version)

- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu 18.04
- Compiler => cmake
- Problem classification: Model Conversion
- Framework: onnx (if applicable)
- Model name: YoloV5 (if applicable)

I have test in GPU UHD630 and GPU UHD600,the int8 gpu model is slow then float32 gpu and int8 cpu.

[code]

[code]

[2022-02-17 21:36] jdc711 opened #10499 "RuntimeError: Cannot load library 'libov_intel_myriad_plugin.so: dlopen(libov_intel_myriad_plugin.so"
Hi, I am trying to run benchmark_app on the NCS2 MYRIAD stick, however, it says that it cannot load this library. Here is the error:
dongwoo@Joshuas-MacBook-Pro-3 build % benchmark_app -m yolov4.xml -d MYRIAD
[Step 1/11] Parsing and validating input arguments
[ WARNING ]  -nstreams default value is determined automatically for a device. Although the automatic selection usually provides a reasonabl

[2022-02-18 00:53] avitial commented on #9650
@PCPJ apologies for the delay providing a response, did a quick test using the public [mobilenet-v2-pytorch](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/mobilenet-v2-pytorch) with pre-trained model from OMZ and results for top 4 classes and probs across CPU, GPU and MYRIAD devices are comparable, refer to them below.

I can see Model-B is way better than Model-A on

[2022-02-18 02:24] Iffa-Meah commented on #10419
@zongking123 ,

I checked your model with the official OpenVINO sample application, [Benchmark Python Tool](https://docs.openvino.ai/latest/openvino_inference_engine_tools_benchmark_tool_README.html) and [Hello Classification Python Sample](https://docs.openvino.ai/latest/openvino_inference_engine_ie_bridges_python_sample_hello_classification_README.html)

benchmark_app.py result (test model for u

[2022-02-18 02:31] Iffa-Meah commented on #10464
@tangtang666 ,

first and foremost, please provide these:

1. The source of your YOLOv5 model? Did you get it from the [Ultralytic GitHub](https://github.com/ultralytics/yolov5)?
2. Your conversion & optimization commands
3. Model files

[2022-02-18 03:13] SummerZ2020 opened #10501 "Is there any mark or other variable can be used to infer request?"
##### System information (version)

- OpenVINO => 2021.4.582
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: inference async

##### Detailed description
I am doing the inference with several patches. Currently the infer request number is 5, for the high performance, I chose the async inference in my implementation.  The problem I encounter

[2022-02-18 03:24] tangtang666 commented on #10464
Thanks.
1. Yeah,I get it from Ultralytic GitHub,but i checkout to V4.0 tag,and use model from https://api.github.com/repos/ultralytics/yolov5/releases/tags/v4.0.
2. I ues the mo_onnx.py conver model,then use pot to optimization int8 model(pot -c yolov5m_v4_int8_simple_mode_cpu.json).
3. [file google link](https://drive.google.com/file/d/1-sJSEfKIMZcGrP0-GjHQZoJJeptAZx_k/view?usp=sharing)
├── yolov

[2022-02-18 03:59] zongking123 commented on #10419
thanks for help, I found the problem and got inconsistent results when I added the following to the hello_classification. py file
"""
  if image.shape[:-1] != (h, w):
      log.warning(f'Image {args.input} is resized from {image.shape[:-1]} to {(h, w)}')
      image = cv2.resize(image, (w, h))
#add new code
image = image / 255.0
    mean_value = [0.485, 0.456, 0.406]
    std_value = [0.229, 0.224,

[2022-02-18 05:33] brmarkus commented on #10499
Which version of OpenVINO are you using?
Can you summarize how you built and installed it, please?

Have you "sourced the environment", like "source [my/installed/folder/]bin/setupvars.sh"?

For a consistency-check - (not sure you are using an Intel-SOC based MacbookPro) - can you use "-d CPU" and/or "-d GPU" successfully, just to check OpenVINO has been setup properly?

Can you search and find th

[2022-02-18 08:46] Iffa-Meah commented on #10464
@tangtang666 ,

I had requested access to your file. You need to approve it first.

![image](https://user-images.githubusercontent.com/79643476/154648823-0d3c6b69-b782-4968-b277-5c7ba88d3d98.png)

[2022-02-18 10:27] tangtang666 commented on #10464
Sorry, you can access now. I changed my permission.

[2022-02-18 10:27] tangtang666 commented on #10464
Sorry, you can access now. I changed my permission.

[2022-02-18 12:51] vladimir-paramuzov commented on #10464
@tangtang666 UHD630 and UHD600 graphics don't have HW acceleration for int8 execution (dp4a instruction), thus the quantized model is actually executed in original FP precision (i.e. if you take FP32 IR for quantization, then FP32 will be used by the plugin for such case). And since the quantized model has additional operations (FakeQuantize) comparing to original floating point model, the perform

[2022-02-18 16:46] jdc711 commented on #10499
Hi. I did not source the environment, so I tried doiing "source scripts/setupvars/setupvars.sh" , however, i got an error: setupvars.sh] ERROR: Unsupported Python version. Please install one of Python 3.6 - 3.9 (64-bit) from https://www.python.org/downloads/

However, I am using python3.7, and when I type 'which python3', it gives me path to 3.7.

[2022-02-18 16:47] jdc711 commented on #10499
I followed to instructiions on buildforMacos on the wiki openvino.

[2022-02-18 18:52] jgespino commented on #9317
Issue has been fixed and merged to master branch per:
https://github.com/openvinotoolkit/openvino/pull/10323

[2022-02-18 18:52] #9317 closed

[2022-02-19 12:06] Elio-hanna opened #10538 "converting tensorflow model to openvino"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => ubuntu 18.04 and ubuntu 20
- Problem classification: Model Conversion
- Framework: TensorFlow
- Model name: ssd_resnet50_v1

##### Detailed description
Model Optimizer arguments:
Common parameters:
  - Path to the Input Model:  None
  - Path for generated IR:  /tmp/model/openvino_models/tf_saved_model/
  - IR

[2022-02-19 12:18] sarthakpati opened #10539 "[FeatureRequest] Recipe on conda-forge"
##### System information (version)

- OpenVINO=> 2021.3
- Operating System / Platform => N.A.
- Compiler => N.A.
- Problem classification => Packaging

##### Detailed description

Hi,

Having a conda recipe for the package would be very good. Combining recipes, especially those that require c++ compiles, is much easier via conda.

##### Steps to reproduce

N.A.

##### Issue submission checklist

[2022-02-19 12:42] js333031 opened #10540 "[Bug] Broken link OpenVINO Runtime"
##### System information (version)
The link below is broken
[OpenVINO™ Runtime](https://docs.openvino.ai/latest/openvino_docs_OV_Runtime_User_Guide.html)

[2022-02-21 01:38] jdc711 commented on #10499
I am stil getting the errors above. I believe they have somethinig to do with how my python libraries are installed.
Also, For the cmake command, I dont know if I am doing this correctly. I am following the  build for macos instructions (https://github.com/openvinotoolkit/openvino/wiki/BuildingForMacOS#software-requirements). I am using the commands below to find where the dylib and include_dir ar

[2022-02-21 01:43] jdc711 commented on #10499
To clarify, are the steps listed below all i need to do in order to run benchmark_app ? (with the cmake command replaced with my directories of course)

Build Steps

Clone submodules:
  cd openvino
  git submodule update --init --recursive
Create a build folder:
  mkdir build && cd build
Inference Engine uses a CMake-based build system. In the created build directory, run cmake to fetch project de

[2022-02-21 01:51] tangtang666 commented on #10464
Thanks,Now i know it,I need to use more than 11 generations of CPU if i want to use int8 gpu model。

[2022-02-21 01:51] #10464 closed

[2022-02-21 05:29] SummerZ2020 commented on #10501
Thanks a lot. Your solution is perfect and straightaway. And I also found an example from here [https://docs.openvino.ai/latest/omz_demos_object_detection_demo_cpp.html?highlight=object%20detection](url)

[2022-02-21 06:09] brmarkus commented on #10501
Have you got it working (with C/C++ as you mentioned "Compiler => Visual Studio 2019")?
Anything left to clarify?
Feel free to close this issue if no further questions.

[2022-02-21 06:28] #10501 closed

[2022-02-21 06:56] Iffa-Meah commented on #10215
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-02-21 06:56] #10215 closed

[2022-02-21 09:55] yuezhuang1387 commented on #5089
Hi ,I get the same error, how did you  disable components?

[2022-02-21 10:30] smistad commented on #10344
I am running on an old CPU (Intel® Core™ i5-4460 CPU) could that be the reason?

[2022-02-21 12:32] satpalsr commented on #9823
Hey @jgespino. It takes forever to execute the commands. Isn't there a short way?

[2022-02-21 16:43] andrei-kochin commented on #10538
Anyway @Elio-hanna  could you please try using ./extensions/front/tf/ssd_v2_support.json instead which seems to be suites more for ssd_resnet50_v1 and kindly update me with the results.

[2022-02-21 17:42] andrew-zaytsev commented on #10540
@js333031 could you please indicate the page you have found this link on?

[2022-02-21 18:41] Elio-hanna commented on #10538
Hello @andrei-kochin thank you for your reply! the model is custom but based on ssd_resnet50_v1, when trying /extensions/front/tf/ssd_v2_support.json i got the following error:

[ ERROR ]  Failed to match nodes from custom replacement description with id 'ObjectDetectionAPIPreprocessorReplacement':
It means model and custom replacement description are incompatible.
Try to correct custom replacemen

[2022-02-21 18:45] andrei-kochin commented on #10538
@Elio-hanna it's hard to shoot into the dark. Is it possible to share the model with fake/random weights to assist with conversion?

[2022-02-22 03:05] ThreeBoxWithCode commented on #10420
Hello @SiChuanJay  Have you ever run into problems like "Other Inputs are needed for Output computation"
(The #27 question: https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_Model_Optimizer_FAQ.html?question=27#question-27)

[2022-02-22 03:45] Asthestarsfalll opened #10581 "[Bug]Incorrect shape after expand"
##### System information (version)
- OpenVINO => 2021.4
- Operating System / Platform => Windows 64 Bit
##### Detailed description

i have converted the onnx model to IR file, but when i tried to run the converted openvino model, it failed
![image](https://user-images.githubusercontent.com/72954905/155057757-647020fe-5ce1-4e96-89c3-873261661a31.png)
The two inputs shape of node `Concat_294` are in

[2022-02-22 04:05] satpalsr opened #10582 "The node has more than 1 input. Cannot infer shapes or values for node."
##### System information (version)
- OpenVINO => 2021.4.752
- Operating System / Platform => Windows 64 Bit
- Compiler => Windows cmd
- Problem classification: Model Conversion
- Framework: ONNX
- Model name: [Efficient Pose](https://github.com/ybkscht/EfficientPose). Consists of [EfficientDet](https://github.com/xuannianz/EfficientDet) backbone.

##### Detailed description
I want to convert the [

[2022-02-22 08:38] andrei-kochin commented on #10582
Hello @satpalsr,

Have you tried master branch?
I've been able to successfully get the IR on the latest track without specifying the input shape(dynamic shapes) and with static shapes.

`
akochin@nnlicv637:~/repo/ov$ mo --use_legacy_frontend --input_model ~/Efficient_pose_op11.onnx  --input input_1,input_2 --input_shape [1,512,512,3],[1,6]
OpenVINO runtime version:       custom_master_20266dd0c309

[2022-02-22 17:24] jgespino commented on #10582
Hi @satpalsr,

Please find the build instructions for Windows here:  https://github.com/openvinotoolkit/openvino/wiki/BuildingForWindows

You can also try the latest dev package to run on CPU/GPU:
https://pypi.org/project/openvino-dev/2022.1.0.dev20220215/

I converted your model and ran with benchmark_app on CPU.
[code]

Regards,
Jesus

[2022-02-22 17:38] jgespino commented on #10289
Closing, please re-open if additional assistance is needed.

[2022-02-22 17:38] #10289 closed

[2022-02-22 17:42] sarthakpati commented on #10539
A few counter-points:

- conda-forge  is used to daisy-chain multiple dependencies together (especially with mixed language deployment and not necessarily only python).
- conda-forge (at least from my experience) is far more widely used compared to Conan, which is primarily for C++ dependencies.
- conda-forget has a robust CI/CD mechanism for its recipes (in partnership with Azure DevOps) to ensur

[2022-02-22 17:56] jgespino commented on #10539
@sarthakpati

Thanks you for the quick response, I have added your feedback to the internal ticket for the development team to consider conda-forge.

Regards,
Jesus

Ref. 63659

[2022-02-22 18:08] sarthakpati commented on #10539
To be specific, the advantages come into picture **only** when publishing a recipe in the [conda-forge channel](https://anaconda.org/conda-forge) (Intel has its [own channel](https://anaconda.org/intel), as well).

[2022-02-22 23:58] avitial commented on #9787
@jdc711 looks like this DLRM model contains Loop ops which are currently not supported by Myriad plugin:

![image](https://user-images.githubusercontent.com/20826577/155236092-e5ef5cb0-e428-49c9-870a-3d7e896d7929.png)

I went ahead and did a quick test on master branch anyways, and the model cannot execute successfully on Myriad plugin which is expected.

`RuntimeError: [ GENERAL_ERROR ]
/home/jen

[2022-02-23 00:07] zulkifli-halim commented on #10420
Hello @SiChuanJay. We are unable to run the model with benchmark_app. Please share with us the Python code you used to run the model.

[2022-02-23 01:43] Iffa-Meah commented on #10581
Hi @Asthestarsfalll,

Please provide these:
1. what topology is this model?
2. Did you use any custom layer for this ONNX model?
3. The command that you use to convert
4. The command that you use to infer
5. Model files

[2022-02-23 03:03] SiChuanJay commented on #10420
@ThreeBoxWithCode @zulkifli-halim thank you, I have solved the problem.

[2022-02-23 04:34] Asthestarsfalll commented on #10581
2. I use this [repo](https://github.com/PeterL1n/RobustVideoMatting/tree/onnx) to convert pytorch model to onnx.
There are three custom [layer](https://github.com/PeterL1n/RobustVideoMatting/blob/onnx/model/onnx_helper.py) about resize, I modify one of them because openvino seems not support dynamic factor of resize:
[code]
3. I use `python mo_onnx.py --input_model D:\xxx\model.onnx --output_dir D

[2022-02-23 07:13] SiChuanJay opened #10615 "[Bug]C++ and python reasoning results are inconsistent"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

Hello, when I use c++ and python to write inference code, the two results are inconsistent, I want to know how to modify the c++ code, thank you very much.

**c++ code:**
[code]

**py

[2022-02-23 07:36] brmarkus commented on #10615
Do you have a chance to compare the "raw video decoding output", without all the post-processing, no inference, no resizing, no transpose, no expansion of dimension?
C++:
"VideoCapture video_capture("C:/Users/HuangZhe/Desktop/RobustVideoMatting/haungzhenTest/HPVideoMatting/indoorDemo.avi");"
Python:
"cap=cv2.VideoCapture('C:/Users/HuangZhe/Desktop/RobustVideoMatting/haungzhenTest/HPVideoMatting/in

[2022-02-23 09:21] YeziXuannao opened #10617 "PTOT quantization"
## System information (version)
- OpenVINO => 2021.4.689
- Operating System / Platform => Ubuntu 18.04.5 LTS（docker）
- Problem classification: Quantization
- Framework: Pytorch
- Model name: YOLOV5(yolov5s)

## Detailed description
Hello, there.
I have an openvino model to recongnize person body and it worked quite nice. Now I want to quantize the openvino model to int8.  And I'm experiencing a pr

[2022-02-23 12:41] satpalsr commented on #10582
Hey @jgespino. Thanks for the installation steps. I was able to complete it with several warning & following errors:
[code]
I tried converting onnx to IR & it worked.
[code]
However, my final goal was to get a blob file. I am unable to find "myriad_compile" or "compile_tool" to do so. Previously I would have run this command to do so
[code]

[2022-02-23 22:57] js333031 commented on #10540
[From https://github.com/openvinotoolkit/openvino, scroll down to ](https://github.com/openvinotoolkit/openvino#repository-components)  --> OpenVINO Runtime is broken

[2022-02-24 00:41] Iffa-Meah commented on #10581
Starting with the 2020.4 release, OpenVINO™ supports reading native ONNX models. Hence, you don't have to convert your model into IR.

I had checked the inference of your native ONNX model with the [OpenVINO Benchmark Python Tool](https://docs.openvino.ai/latest/openvino_inference_engine_tools_benchmark_tool_README.html). However, the same issue occurs.

![onnx](https://user-images.githubuserconte

[2022-02-24 02:07] Iffa-Meah commented on #10617
Hi @YeziXuannao ,

please provide these:
1. Your YOLOv5 source
2. The conversion command (IR)
3. The Quantization comment (POT/int8)
3. The inferencing command
4. Model files (IR & int8)

[2022-02-24 03:02] zulkifli-halim commented on #9846
Closing issue.  Feel free to reopen this issue if further assistance is needed.

[2022-02-24 03:02] #9846 closed

[2022-02-24 03:02] zulkifli-halim commented on #10420
Closing issue.

[2022-02-24 03:02] #10420 closed

[2022-02-24 09:21] KodeWorker opened #10633 "[Bug] Cannot convert tensorflow efficientnet-b0 trained using --data_format "channels_first""
##### System information
- OpenVINO => 2020.4.752
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2022
- Problem classification: Model Conversion
- Framework: TensorFlow
- Model name: efficientnet-b0 (channels_first)

##### Detailed description
I trained a custom efficientnet-b0 model using --data_format "channels_first":
https://github.com/tensorflow/tpu/tree/master/mo

[2022-02-24 10:16] #10538 closed

[2022-02-24 10:28] satpalsr commented on #10582
@jgespino I am having problems converting compile_tool "main.cpp" into compile_tool.exe. Can you just share the file?

[2022-02-24 18:05] jgespino commented on #10581
Hi @Asthestarsfalll

I took your onnx model and converted using the OpenVINO 2022.1 [pre-release dev package](https://github.com/openvinotoolkit/openvino/releases/tag/2022.1.0.dev20220215). I was able to run inference using the benchmark_app. Is that something you can try and see if it works for you as well? I tested using a python virtual environment and installing with [pip](https://pypi.org/pro

[2022-02-24 18:55] jgespino commented on #10344
Hi @smistad

It's possible as OpenVINO supports 6th to 12th generation Intel® Core™ processors ([system requirements](https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/system-requirements.html)). Could you test on a newer system? If you can share step-by-step instructions, I can see if the issue is present my 11th gen system.

Regards,
Jesus

[2022-02-24 19:14] jgespino commented on #10499
@jdc711 Since you are using MYRIAD (NCS 2) you need to build OpenVINO from source as you mentioned. The location of python depends how you installed it. I installed python3.7 using `brew` and used the following commands.

Install Python3.7 using brew:
[code]

cmake command:
[code]

Please give it a try and let me know if you run into any issues.

Regards,
Jesus

[2022-02-24 19:26] jgespino commented on #10582
Hi @satpalsr,

Apologies, I didn't realize you were trying to compile the bob for MYRIAD. You can download the 2022.1.0.dev20220215 package with [OpenVINO Runtime for C/C++](https://storage.openvinotoolkit.org/repositories/openvino/packages/master/2022.1.0.dev20220215/) which includes the compile_tool.

[code]

Let me know if that works for you.

Regards,
Jesus

[2022-02-25 00:12] jgespino commented on #708
@Riko0 Closing, please re-open if assistance is still needed.

[2022-02-25 00:12] #708 closed

[2022-02-25 00:13] #751 closed

[2022-02-25 00:14] jgespino commented on #852
Closing, please re-open if assistance is still needed.

[2022-02-25 00:14] #852 closed

[2022-02-25 00:15] #921 closed

[2022-02-25 00:21] jgespino commented on #1019
Closing, please re-open if assistance is still needed.

[2022-02-25 00:21] #1019 closed

[2022-02-25 00:22] jgespino commented on #1065
Closing, please re-open if assistance is still needed.

[2022-02-25 00:22] #1065 closed

[2022-02-25 00:23] jgespino commented on #1142
Closing, please re-open if assistance is still needed.

[2022-02-25 00:23] #1142 closed

[2022-02-25 02:57] Asthestarsfalll commented on #10581
Thank for you help! It seems to be related to the openvino version. I just remove the expand operation and fix the input shape .
before:
[code]
after:
[code]
Now I can inference the model successfully.

[2022-02-25 03:59] ilyachur commented on #10344
It is very strange that IR v10 doesn't have function... I don't see issues in your code, could you try to use another IR?

[2022-02-25 04:52] satpalsr commented on #10582
@jgespino Doesn't work. Check this:
[code]
Here is the [drive link](https://drive.google.com/drive/folders/10Rs_lNHrYyE-XIejaidHe_XAA81vqHfE?usp=sharing) for all model files.

[2022-02-25 09:27] YeziXuannao commented on #10617
Hi @Iffa-Meah ,
I've solved the problem, Thanks for your attention!

[2022-02-25 09:27] #10617 closed

[2022-02-25 09:35] Ajith61 opened #10661 "Not able install openvino for arm64 architecture"
I installed debian buster 10 in ROCKPI  which is aarch64 architecture. I followed this blog https://www.intel.com/content/www/us/en/developer/articles/technical/arm64-sbc-and-ncs2.html. But after this git clone https://github.com/openvinotoolkit/openvino.git command I could not see inference-engine directory. So after this issue  I could not continue the installation. I attached the image for refe

[2022-02-25 11:17] Ajith61 opened #10664 "The IA-32 architecture host installation is no longer supported. The product cannot be installed on this system. Please refer to product documentation for more information. Quitting!"
The IA-32 architecture host installation is no longer supported.
The product cannot be installed on this system.
Please refer to product documentation for more information.

Quitting!

[2022-02-25 18:59] jgespino commented on #10661
Hi @Ajith61

The article needs to be updated, I will provide the feedback to the appropriate team. In the meantime, please follow the build instructions here: https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux

You can run the `git submodule update --init --recursive` command at the `openvino `directory and build openvino using the following cmake command from the article you linked

[2022-02-25 19:00] #10581 closed

[2022-02-25 23:20] jgespino commented on #10582
Hi @satpalsr

I took a look at the model and it contains layers that are not supported by the MYRIAD Plugin such as loop op. We have a similar model available that works on MYRIAD on the Open Model Zoo.

Please take a look at the following and let me know if it meets your project requirements.
https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/human-pose-estimation-3d-0001

[2022-02-25 23:49] jgespino commented on #10633
Hi @KodeWorker

I'm still looking into the issue, I tested with the latest pre-release dev package and I am seeing a different error message. Did you retrain just retrained the model with -`-data_format "channels_first"` or did you make other changes to the model? Could you provide the model in checkpoint format?

[code]
Regards,
Jesus

[2022-02-26 00:56] jgespino commented on #10633
Hi @KodeWorker

Looking at the model, the shapes after `efficientnet-b0/model/head/conv2d/Conv2D` seem to be causing an issue, could you confirm the layer shapes are correct? Cropping the model at layer `efficientnet-b0/model/head/conv2d/Conv2D` converts successfully. I'm not sure if specifying the data_format affected the layer shapes after the Conv2D layer.

[code]

Regards,
Jesus

[2022-02-26 14:38] dkurt commented on #10661
@Ajith61, instead of master branch, you can try build 2021.4 release branch. The layout of folders has been changed:

[code]

[2022-02-26 14:53] dkurt commented on #10661
Yes, it's supported configuration. You can run on MYRIAD from aarch64 host or on ARM CPU using MKLDNN plugin (default CPU plugin in OpenVINO) or with ARM plugin: https://github.com/openvinotoolkit/openvino_contrib/tree/master/modules/arm_plugin (add `-DIE_EXTRA_MODULES` option).

[2022-02-26 16:16] satpalsr commented on #10582
Hey @jgespino, thanks for all the help. I'll look for alternatives to get the project done.
Thank you.

[2022-02-26 16:16] #10582 closed

[2022-02-28 02:10] #10615 closed

[2022-02-28 02:24] SiChuanJay opened #10681 "[Bug]The effect of OpenVino inference becomes worse"
##### System information (version)

Hello, when I  used openvino for inference, the results were a little worse than onnxruntime. Is there any loss of accuracy when onnx model is transferred to openvino format?

onnx
![图片](https://user-images.githubusercontent.com/52130681/155913626-3af2f073-1d2e-490f-b02c-25f9e66efb8c.png)

openvino
![图片](https://user-images.githubusercontent.com/52130681/1559136

[2022-02-28 04:38] zulkifli-halim commented on #10664
Hello @Ajith61. Please provide us with more information on the issue such as OpenVINO version, platform, system, etc.

[2022-02-28 13:22] KodeWorker commented on #10633
Hi @jgespino ,

Sorry for the late response.

Sorry that I cannot release the checkpoint files, or the "actual" training code due to some NDA reasons.
However, the efficientnet model is basically the same.

Your finding on ```efficientnet-b0/model/head/conv2d/Conv2D``` layer is a breakthrough!
According to the model on [official site]:(https://github.com/tensorflow/tpu/blob/04f6bb6da1502c3551ed450

[2022-02-28 21:06] jgespino commented on #10540
@js333031 Thanks for reporting, we are working on updating the documentation and the page you shared has the updated URLs. Once the documentation goes live, the links will work as expected.

For now, you can find the OpenVINO Runtime User Guide from the nightly built:
https://docs.openvino.ai/nightly/openvino_docs_OV_Runtime_User_Guide.html

@andrew-zaytsev FYI

Regards,
Jesus

[2022-03-01 01:20] Iffa-Meah commented on #10419
Closing issue, feel free to re-open or start a new issue if additional assistance is needed.

[2022-03-01 01:20] #10419 closed

[2022-03-01 03:36] zulkifli-halim commented on #10681
Hello @SiChuanJay, Please provide us with these details:
1. ONNX model
2. Sample code to reproduce
3. Model Optimizer command used
4. OpenVINO version
5. GPU Model and Driver Version
6. Operating System

This [article ](https://www.intel.com/content/www/us/en/support/articles/000057525/software/development-software.html) shows how to improve the model load time on GPU.

[2022-03-01 05:37] brmarkus commented on #10681
What do you mean with "when I use gpu to accelerate OpenVino, the GPU starts very slowly"? Do you mean a high, initial delay/latency when starting?
That could be caused by OpenVINO to compile OpenCL-kernels used when doing inference on the GPU (in the ExecutionUnits).
Either follow the link "https://www.intel.com/content/www/us/en/support/articles/000057525/software/development-software.html" ment

[2022-03-01 07:43] KodeWorker commented on #10633
### Silly me! :(

The filter shape on netron page is different from the output shape of ```efficientnet-b0/model/head/conv2d/Conv2D```
I change the L147 in my converting [script](https://gist.github.com/KodeWorker/6bb37a7864d98836356b85bdea2d39eb#file-export_model_custom-py-L147) to:

[code]

The _output_shapes can be found on netron.
- Conv2D
![image](https://user-images.githubusercontent.com/242

[2022-03-01 18:19] jgespino commented on #10028
Hi @piti-diablotin Apologies for the delay from our side, I am reaching out to my peers for additional assistance.

Ref. 80668

[2022-03-01 18:25] jgespino commented on #9926
Closing, please re-open if additional assistance is needed.

[2022-03-01 18:25] #9926 closed

[2022-03-01 18:26] jgespino commented on #9766
Closing, please re-open if additional assistance is needed.

[2022-03-01 18:26] #9766 closed

[2022-03-01 18:29] jgespino commented on #9650
Closing, please re-open if additional assistance is needed.

[2022-03-01 18:29] #9650 closed

[2022-03-01 18:33] jgespino commented on #9347
Hi @XiangMichael

Apologies for the delay, is this something you are still working on? If so, please share your model and sample code to reproduce the issue.

Regards,
Jesus

[2022-03-01 21:55] #3685 closed

[2022-03-01 22:04] jgespino commented on #501
@JulienMaille Apologies for the delay on this issue. I know that there have been many releases since you opened this discussion. If you can share the ONNX model I could retest on the latest [pre-release 2022.1 dev package](https://github.com/openvinotoolkit/openvino/releases/tag/2022.1.0.dev20220215) and see if it's fixed.

I will close for now but will re-open if this is something you are still i

[2022-03-01 22:07] jgespino commented on #497
OpenVINO supports TensorFlow 2.X Object Detection API models including 8 EfficientDet models, see [release notes](https://www.intel.com/content/www/us/en/developer/articles/release-notes/openvino-relnotes.html) for more information.

[2022-03-01 22:07] #497 closed

[2022-03-01 22:08] jgespino commented on #481
Closing, please re-open if additional assistance is needed.

[2022-03-01 22:08] #481 closed

[2022-03-01 22:09] #452 closed

[2022-03-01 22:10] #466 closed

[2022-03-01 23:37] #459 closed

[2022-03-01 23:38] #62 closed

[2022-03-01 23:39] #70 closed

[2022-03-01 23:40] #158 closed

[2022-03-01 23:42] jgespino commented on #144
OpenVINO Performance Benchmarks can be found here: https://docs.openvino.ai/latest/openvino_docs_performance_benchmarks.html

Closing issue as it's really old, please feel free to start a new one if additional assistance is needed.

[2022-03-01 23:42] #144 closed

[2022-03-01 23:42] #213 closed

[2022-03-01 23:46] jgespino commented on #289
Closing issue, OpenVINO now uses Networkx version 2.5 per [requirements.txt](https://github.com/openvinotoolkit/openvino/blob/master/tools/mo/requirements.txt).

[2022-03-01 23:46] #289 closed

[2022-03-02 00:54] SiChuanJay commented on #10681
@zulkifli-halim
1.the onnx model  is from [RVM](https://github.com/PeterL1n/RobustVideoMatting/blob/master/documentation/inference.md#onnx)
2.the sample code is as follows

model_xml='automatic_5_resetri.xml'
model_bin='automatic_5_resetri.bin'
ie=IECore()
net=ie.read_network(model=model_xml,weights=model_bin)
exec_net=ie.load_network(network=net, device_name='CPU')
rec1=np.zeros([1,16,45,80], dty

[2022-03-02 01:10] SiChuanJay commented on #10681
@zulkifli-halim I have another question.  Compiling OpenVino into ONNXRuntime, can onnxruntime inference framework achieve the same speed as OpenVino? I tried following the information provided by ONNXRuntime, but nothing accelerated.

[2022-03-02 12:31] js333031 opened #10735 "oneVPL based compilation"
With 2022.1, some questions:
1. How should OpenCV be compiled with oneAPI Base Toolkit installed on host so that this OpenCV output can be used with OV also compiled from source on same host?  Prior to 2022.1, I was using ` -D WITH_MFX=ON` option with cmake
2. After compiling and install OpenCV from step 1 above, how should OV be compiled with oneAPI Base Toolkit installed on host?
3. For both Ope

[2022-03-02 16:02] alvoron commented on #10735
@mshabunin could you help to answer these questions?

[2022-03-03 00:08] zulkifli-halim commented on #10681
Hi @SiChuanJay, Please share the exact ONNX model you used. RVM repo inputs are  [src, r1i, r2i, r3i, r4i, downsample_ratio] but you are using src[1 3 180 320],1[1 16 45 80],2[1 20 23 40],3[1 40 12 20],4[1 64 6 10] which is different.

Based on your code, you are loading to CPU not GPU.

[2022-03-03 00:18] SiChuanJay commented on #10681
hello, @zulkifli-halim, thanks for your help.
[onnx.zip](https://github.com/openvinotoolkit/openvino/files/8173763/onnx.zip)

[2022-03-03 04:11] KodeWorker commented on #10633
I'v update the [custom frozen graph](https://drive.google.com/file/d/1SfprTFFlnBhXPmtj1fYoeNljB1UBm75H/view?usp=sharing)

The error messages are similar to my original post
[code]

[2022-03-03 20:27] marcjasner opened #10776 "OpenVINO (on RPI4) benchmark_app with libarmPlugin.so Always Fails With "bad cast" Error"
When attempting to use benchmark_app to compare performance between CPU and MYRIAD devices, benchmark_app always fails with "bad cast" error when using CPU device.

I built OpenVINO on an 8GB RPi4 following these instructions: https://www.intel.com/content/www/us/en/support/articles/000057005/boards-and-kits.html

I then built the libarmPlugin.so cpu plugin following these instructions: https://gi

[2022-03-04 02:14] wenjiew commented on #10776
@alvoron Can someone from your team help take a look? Thanks!

[2022-03-04 18:25] jgespino commented on #10633
Hi @KodeWorker

Thank you for looking into the two ops in your model. Let me reach out to the development team to see if this is a bug in MO.

Regards,
Jesus

[2022-03-04 20:11] JulienMaille commented on #501
@jgespino I can email you the onnx file. I don't have access to that Xeon E5-1620 anymore.

[2022-03-04 20:13] jgespino commented on #501
@JulienMaille Sure, please email them to my email on my profile and I will report back on my findings.

[2022-03-04 21:21] jgespino commented on #501
Hi @JulienMaille

Thank you for sharing the model via email. I ran your model using the benchmark_app on DevCloud and obtained the following results when using a OpenVINO 2021.4.2 and Intel® Xeon® E-2176G. This is likely the oldest XEON processor we have on DevCloud as the Xeon E5-1620 processor you where originally using in this ticket is very old. Hope this helps and feel free to start a new dis

[2022-03-04 21:21] #501 closed

[2022-03-04 21:30] JulienMaille commented on #501
Can you run it against open vino 2019.3 for comparison?

[2022-03-05 00:09] jgespino commented on #10776
Hi @marcjasner

I noticed you are building OpenVINO from 2021.4 branch. Is it possible to upgrade to the master branch? I just build OpenVINO with Arm Plugin on RPi4 with Ubuntu 20.04 and didn't see any issues when testing benchmark_app using yolo_v3_tiny_tf model.

Could you test with the yolo-v3-tiny-tf model on your current build? Please note you will need to download and convert to IR in a sep

[2022-03-05 00:46] marcjasner commented on #10776
Thanks for the reply. I'll give it a try and let you know how it goes. Thanks again

[2022-03-05 01:19] marcjasner commented on #10776
I am unable to run the converter on my Linux box. I get the following output:

$ omz_converter --name yolo-v3-tiny-tf
========== Converting yolo-v3-tiny-tf to IR (FP16)
Conversion command: /home/marc/projects/accompaneed/openvino_10776/openvino_env_2021.4.0/bin/python -m mo --framework=tf --data_type=FP16 --output_dir=/home/marc/projects/accompaneed/openvino_10776/public/yolo-v3-tiny-tf/FP16 --mod

[2022-03-05 13:15] mshabunin commented on #10735
AFAIK oneAPI does not contain full oneVPL stack, you need to follow instructions from https://dgpu-docs.intel.com/ to install it.

I've been able to build OpenCV and OpenVINO in OpenSUSE 15.3 container:
[code]
Add cmake options and corresponding dependencies according to your needs.

[2022-03-05 17:51] chuangzhidan commented on #8613
i have a similar error occured,"RuntimeError: Ngraph operation **Parameter with name attention_mask** has dynamic output shape on 0 port, but CPU plug-in supports only static shape"

[2022-03-06 01:33] marcjasner commented on #10776
I am unable to build the arm plugin. During build I get the following error:

[ 91%] Building CXX object build-modules/arm_plugin/src/CMakeFiles/openvino_arm_cpu_plugin.dir/transformations/store_result_name.cpp.o
[ 91%] Linking CXX shared module /home/pi/openvino/bin/armv7l/Release/lib/libopenvino_arm_cpu_plugin.so
/usr/bin/ld: ../thirdparty/libarm_compute-static.a(CPPScheduler.o): in function `ar

[2022-03-06 13:37] js333031 commented on #10735
Thank you. Why have `-DENABLE_OPENCV=OFF` when building OV? Is there a benchmark to prove that an OpenVINO  + OpenCV demo is using hardware based media decode?

[2022-03-06 17:12] mshabunin commented on #10735
`ENABLE_OPENCV` actually means "download prebuilt OpenCV on supported platforms (Ubuntu, Windows, OSX, ...)". You don't need it because your platform is "not supported" and you build OpenCV by yourself.

You can modify an application to explicitly use oneVPL backend - `VideoCapture cap("raw-video-stream.h264", cv::CAP_INTEL_MFX);` (see [documetation](https://docs.opencv.org/4.5.5/d8/dfe/classcv_1_

[2022-03-06 17:25] alvoron commented on #10776
@marcjasner could you please provide the command you are using to build the plugin?
If you don't mind to use Docker, could you try the 1st build approach?
https://github.com/openvinotoolkit/openvino_contrib/wiki/How-to-build-ARM-CPU-plugin#approach-1-build-opencv-openvino-and-the-plugin-using-pre-configured-dockerfile-cross-compiling-the-preferred-way

[2022-03-07 02:28] marcjasner commented on #10776
I am following jgespino's instructions above. They were:
`git clone https://github.com/openvinotoolkit/openvino.git
git clone --recurse-submodules --single-branch --branch=master https://github.com/openvinotoolkit/openvino_contrib.git
cd openvino
git submodule update --init --recursive
chmod +x install_build_dependencies.sh
./install_build_dependencies.sh
mkdir build && cd build
cmake -DCMAKE_BUIL

[2022-03-07 13:26] js333031 commented on #10735
While trying out the suggested cmake command line, there's a Ninja error:

`        cmake \
                -D CMAKE_INSTALL_PREFIX=$PRJ_INSTALL/openvino \
                -D ENABLE_OPENCV=OFF \
                -D ENABLE_INTEL_GNA=OFF \
                -D ENABLE_INTEL_MYRIAD_COMMON=OFF \
                -D ENABLE_SPEECH_DEMO=OFF \
                -D TREAT_WARNING_AS_ERROR=OFF \
                -D

[2022-03-07 14:28] Hezhexi2002 commented on #5581
![image](https://user-images.githubusercontent.com/53631206/157052298-58479d29-9396-41aa-b3ca-dd377bf8afaa.png)
@fperezgamonal Hi! I got the same error when I ran it on VS2017 in Debug x64 and I will get this error when I switched to Release x64 mode:
![image](https://user-images.githubusercontent.com/53631206/157052698-0a36cfea-27e5-4747-952c-0dad55c5a00b.png)
Can you give some instructions about

[2022-03-07 15:20] marcjasner commented on #10776
This command: docker image build -t arm-plugin -f Dockerfile.RPi32_buster .
failed with the following error:
Step 15/18 : COPY ../scripts/arm_cpu_plugin_build.sh /arm_cpu_plugin_build.sh
COPY failed: forbidden path outside the build context: ../scripts/arm_cpu_plugin_build.sh ()

[2022-03-07 20:20] alalek commented on #10735
Try to comment out these linting scripts from OpenVINO:

https://github.com/openvinotoolkit/openvino/blob/db05e544836ff09e8cb89a8caf960df519fd59f0/cmake/developer_package/IEDevScriptsConfig.cmake#L317-L319

/cc @ilya-lavrenov @ilyachur

[2022-03-07 21:34] js333031 commented on #10735
I commented out those lines and received following error:
[code]

Which led to following error:
[code]

Commenting out line 52 from above CMakeLists.txt led to more errors so I stopped.

[2022-03-07 21:42] jgespino commented on #10661
Closing, please re-open if additional assistance is needed.

[2022-03-07 21:42] #10661 closed

[2022-03-08 01:18] marcjasner commented on #10776
The Open_model_zoo demos failed to build, killing the build process. I'm running it again now.

[2022-03-08 02:52] jgespino commented on #4412
Closing, please re-open if additional assistance is needed.

[2022-03-08 02:52] #4412 closed

[2022-03-08 02:53] jgespino commented on #4394
Closing, please re-open if additional assistance is needed.

[2022-03-08 02:53] #4394 closed

[2022-03-08 08:47] TallyH0 opened #10830 "[Bug] infer request error when InferRequest variable is a private member in class."
##### System information (version)

- OpenVINO => 2021.4.752
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2019
- Problem classification : Inference
- Framework : onnx

##### Detailed description
When inferRequest is used within the scope where OpenVino engine is declared, the variable produces no error. However, when it is called in another
function within the sam

[2022-03-08 08:55] miaobin commented on #7321
Hi @jane-intel，

Based on our given input and parameters. We set `auto_pad = op::PadType::SAME_UPPER` so that `pads_begin` and `pads_end ` attributes will be ignored.
We investigated the interpretation of the same by some frameworks such as ONNX:  SAME_UPPER or SAME_LOWER mean pad the input so that `output_shape[i] = input_shape[i] * strides[i]` for each axis `i`.
So that the output shape will be

[2022-03-08 11:12] smistad commented on #10344
Hi again

I tried running on an i7-10750H CPU on Ubuntu 20.04 and it worked.
If this error is actually due to the old CPU i tried on, maybe the error message could be improved.

[2022-03-08 13:11] MrRace opened #10831 "Does openvino support dynamic length input in NLP as text length is variable?"
I have converted my onnx model to openvino use the cmd like:
[code]
When do inference, the text input must be the same length as above max length(128) or do padding, but in fact the text length is variable and do padding would take some time. Is there some way to achieve this purpose？ Thanks a lot~

[2022-03-08 14:53] marcjasner commented on #10776
Here is the error message:
CMake Error at CMakeLists.txt:141 (find_package):
  By not providing "FindOpenVINO.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "OpenVINO",
  but CMake did not find one.

  Could not find a package configuration file provided by "OpenVINO" with any
  of the following names:

    OpenVINOConfig.cmake
    openv

[2022-03-08 16:09] alvoron commented on #10776
@marcjasner I've created and merged PR to fix this compilation issue: https://github.com/openvinotoolkit/openvino_contrib/pull/334

Could you please pull the latest changes and repeat the build procedure?

[2022-03-08 21:26] avitial commented on #9787
Closing this, feel free to reopen and ask additional questions related to this topic.

[2022-03-08 23:10] jgespino commented on #10831
Hi @MrRace

With the current release OpenVINO 2021.4.2 you would need to call [reshape method](https://docs.openvino.ai/latest/openvino_docs_IE_DG_ShapeInference.html) before loading the model. However, we are currently working to support Dynamic Shapes for the next software release. If you would like to test this, please take a look at the [Dynamic Shapes User Guide](https://docs.openvino.ai/nigh

[2022-03-08 23:12] elhmadany opened #10834 "loss output constant values in openvino model when conveted from onnx [Bug]"
System information (version)

- OpenVINO => 2021.1
- Operating System / Platform => ubuntu 18.04
- Problem classification: Model Conversion
- Framework: onnx converted from pytorch and opset =11

##### Detailed description

I converted the model from onnx to openvino and my model has 5 outputs one is a constant value with dim [19248,4] nonempty values. but I lose the constant output and only get f

[2022-03-09 01:40] wenjiew commented on #10834
@andrei-kochin can you assign someone to take a look? Thanks!

[2022-03-09 02:57] marcjasner commented on #10776
The same error occured:
CMake Error at CMakeLists.txt:141 (find_package):
  By not providing "FindOpenVINO.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "OpenVINO",
  but CMake did not find one.

  Could not find a package configuration file provided by "OpenVINO" with any
  of the following names:

    OpenVINOConfig.cmake
    openvino

[2022-03-09 03:50] MrRace commented on #10831
@jgespino Thank you for your prompt reply. I try to  follow the example in [ShapeInference](https://docs.openvino.ai/latest/openvino_docs_IE_DG_ShapeInference.html) and do reshape.
I want to reshape the network so that can support text which length is 64. Therefore  i reshape the network like that:
[code]
however some error happens:
[code]
By the way, each time  the length of the text changes, I m

[2022-03-09 04:18] Lin-333 commented on #9250
HELLO,my Openvino does not work properly after downloading via pip.
Hi, I downloaded this library in pycharm terminal via pip install openvino, but I get an error when I run the project.
F:\Anaconda\envs\xxxxxxx\lib\site-packages\openvino\inference_engine\__init__.py", line 30, in <module>
    from .ie_api import *
ImportError: DLL load failed while importing ie_api: 找不到指定的模块(The specified module

[2022-03-09 04:21] Lin-333 commented on #9250
HELLO,my Openvino does not work properly after downloading via pip.
Hi, I downloaded this library in pycharm terminal via pip install openvino, but I get an error when I run the project.
F:\Anaconda\envs\xxxxxxx\lib\site-packages\openvino\inference_engine_init_.py", line 30, in
from .ie_api import *
ImportError: DLL load failed while importing ie_api: The specified procedure could not be found
my

[2022-03-09 05:08] brmarkus commented on #9250
See the section "System Requirements" on page "https://pypi.org/project/openvino/"; Python in version v3.9 seems not supported. Can you use Python in v3.8 instead, e.g. via a (e.g. conda) virtual environment?

[2022-03-09 06:01] alvoron commented on #10776
@marcjasner it seems you didn't get the latest changes from contrib repository.
Did you do `git pull` for `openvino_contrib` repository?
If so, could you please delete `openvino_contrib` folder and clone the repository one more time: `git clone --recurse-submodules --single-branch --branch=master https://github.com/openvinotoolkit/openvino_contrib.git`

[2022-03-09 08:24] Lin-333 commented on #9250
hello，I created a python 3.8 virtual environment with conda, and after using "pip install openvino" again, I still get the same error. How do I fix it? Looking forward to your reply!
@brmarkus @Iffa-Meah @leqiao-1

[2022-03-09 08:54] brmarkus commented on #9250
Hmm, I'm not using MS-Win11, but MS-Win10.
I'm doing it like this (I'm still using Python v3.7 in one of my projects currently):
$> conda create --name hello python=3.7
$> conda activate hello
Then, in my current project, I even need another Python virtual-env:

$> python --version
Which version do you see?

$> python3 -m venv hello2
$> hello2\Scripts\activate.bat

Then I install all dependencies:

[2022-03-09 10:35] ilya-lavrenov commented on #5581
OpenVINO is build on Windows OS with MSVC 2019.
I am not sure whether is can be a problem that you use 2017 VS.

[2022-03-09 10:38] ilya-lavrenov commented on #10735
Let's just try `cmake -DENABLE_NCC_STYLE:BOOL=OFF ..` without touching cmake scripts.

The fix is prepared here https://github.com/openvinotoolkit/openvino/pull/10367

[2022-03-09 10:48] ilya-lavrenov commented on #10830
@apankratovantonp could you please take a look?

[2022-03-09 10:54] ilya-lavrenov commented on #10664
Hi @Ajith61
You can build OpenVINO for IA32 from sources https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux#additional-build-options using IA32 toolchain file.

[2022-03-09 10:56] ilya-lavrenov commented on #10540
Hi,

[openvino_docs_OV_Runtime_User_Guide.html](https://docs.openvino.ai/nightly/openvino_docs_OV_Runtime_User_Guide.html) page is available only in nightly documentation (future 2022.1 documentation) while latest (2021.4 branch) has a document with a different name https://docs.openvino.ai/latest/openvino_docs_IE_DG_Deep_Learning_Inference_Engine_DevGuide.html

[2022-03-09 10:56] apankratovantonp commented on #10830
@TallyH0 Could you please provide more details about the error? Is it exception or may by segmentation fault? If it is exception could you provide the error message?

[2022-03-09 11:25] zulkifli-halim commented on #10830
Hi @TallyH0. You cannot use the infer request outside an ExecutableNetwork.

Only `infer_request.Wait` (InferenceEngine::InferRequest::WaitMode::RESULT_READY and InferenceEngine::InferRequest::WaitMode::STATUS_ONLY) can be called from different threads.

For more information, please refer to [Step 6: Start Inference.
](https://docs.openvino.ai/2021.4/openvino_docs_IE_DG_Integrate_with_customer_app

[2022-03-09 11:58] dmitry-gorokhov commented on #10831
@MrRace With latest OpenVINO state (master branch or pre-release package that @jgespino mentioned) you can get benefit from native dynamic shapes support on CPU. This means that you compile your model with undefined shapes which gives you ability to send to Infer() text with different length on each iteration without any additional manipulations with the network or data. See https://docs.openvino.

[2022-03-09 12:42] Dnoniel-Ermolaev opened #10846 "Convert ONNX model to OpenVINO"
**Problem**

Hello, I'm trying to use OpenVINO toolkit to convert an ONNX pre-trained model, what I had converted by tf2onnx.
The original model from [here](https://github.com/pereira-gha/activefire).
Initially, I got the full model file into a file.h5, then converted via tf2onnx by this code:

[code]
After, the resulting file "res.onnx" I tried to convert using this command:
[code]
Here's what th

[2022-03-09 12:57] MrRace commented on #10831
@dmitry-gorokhov Thanks for your advice~  In https://docs.openvino.ai/nightly/openvino_docs_OV_UG_DynamicShapes.html  only have C++ example, Could you provide python  examples? Best Regards~

[2022-03-09 13:08] ilya-lavrenov commented on #10846
Hi @Dnoniel-Ermolaev
2021.4 version of MO and Inference Engine does not support dynamic shapes feature, while the original model contains shapes with undefined dimensions `[ -1 512  32  32]`, we can see that batch dimension is not defined here.

The suggestions:
1. Use `--input_shape` option to fully define shape, in this case model is converted and can be inferences via Inference Engine
2. OR Use

[2022-03-09 16:39] jgespino commented on #10834
Hi @elhmadany

Could you share the model and model optimizer command used?

Regards,
Jesus

[2022-03-09 16:44] jgespino commented on #10681
Hi @SiChuanJay

I am testing your model on the OpenVINO toolkit 2022.1 pre-release package, currently converting your code to use the new API to see if there are improvements. However, it seems the inference results vary with different lighting conditions. Could you share the code used to test with ONNX framework or your input video?

Regards,
Jesus

[2022-03-09 16:50] jgespino commented on #7664
@liiitleboy

We are currently working to support Dynamic Shapes on CPU for the next software release. If you would like to test this, please take a look at the [Dynamic Shapes User Guide](https://docs.openvino.ai/nightly/openvino_docs_OV_UG_DynamicShapes.html) and download the [OpenVINO™ toolkit pre-release](https://github.com/openvinotoolkit/openvino/releases) package.

[2022-03-09 16:50] #7664 closed

[2022-03-09 17:05] jgespino commented on #10344
Hi @smistad

Thanks for the update, glad it's now working for you. I have created an internal ticket with the development with your feedback.

Regards,
Jesus

Ref. 81202

[2022-03-09 17:05] #10344 closed

[2022-03-09 17:06] #10540 closed

[2022-03-09 18:00] elhmadany commented on #10834
yes, I am working on instance segmentation Yolact model. and I used this command to convert my ONNX  model to Openvino model which has 5 output and one of them is a constant value but I obtained or the result was only  4 output without the constant branch in the output layers by using this command:-
'''
python3 /opt/intel/openvino_2021/deployment_tools/model_optimizer/mo.py --input_model ~/project

[2022-03-09 18:48] jgespino commented on #10834
Hi @elhmadany

OpenVINO supports yolact-resnet50-fpn-pytorch model and is available on the open model zoo. Are you using a different model? Please share link to the specific yolact model.

I converted successfully using the latest OpenVINO toolkit 2022.1 [pre-release package](https://github.com/openvinotoolkit/openvino/releases/tag/2022.1.0.dev20220302) installed via [pip](https://pypi.org/project

[2022-03-09 20:30] jgespino commented on #4033
Hi @higher127

Did you manage to solve the issue? If you still need help, could you provide the caffe model for me tot take a look?

Regards,
Jesus

[2022-03-09 21:32] js333031 commented on #10735
Using `-DENABLE_NCC_STYLE:BOOL=OFF` worked to compile openvino. Building omz demos did not.  `TBB_DIR` is set but `TBBConfig.cmake` is not found.

[code]

TBB is installed. Using zypper install shows following:
[code]

[2022-03-10 00:02] TallyH0 commented on #10830
Thank you for your reply. It is just segmentation fault.

[2022-03-10 00:05] TallyH0 commented on #10830
Thank you for your reply.
I understand. It seems that using InferRequest outside the scope was possible in previous OpenVINO versions (I checked openvino 2020.4 version). Is this feature no longer available?

[2022-03-10 01:08] marcjasner commented on #10776
The build completed successfully! I will install it to my Pi and see if the arm CPU plugin works and report the results here

[2022-03-10 10:23] elhmadany commented on #10834
Thank you @jgespino for your reply and support. so I will close this issue

[2022-03-10 10:23] #10834 closed

[2022-03-10 12:53] Hezhexi2002 commented on #5581
![image](https://user-images.githubusercontent.com/53631206/157665681-95419a4a-15cd-4878-b757-85b579a70c09.png)
Hi,I try to rebuild it on VS2019 and it still get this error

[2022-03-10 13:16] ilya-lavrenov commented on #5581
Could you please try to build with debug version and see back-trace? It's hard to imagine what happens..

[2022-03-10 13:29] Hezhexi2002 commented on #5581
I'm currently using debug mode to run it and I have used F10 to see the back-trace,the error seems to be caused by the xml_path of my model

[2022-03-10 13:32] Hezhexi2002 commented on #5581
[Plan A.zip](https://github.com/openvinotoolkit/openvino/files/8223773/Plan.A.zip)
here is my pdb file

[2022-03-10 16:41] marcjasner commented on #10776
Excellent! I was able to follow the initial instructions and get the yolo-v3-tiny-tf model converted and running against the CPU device on my Pi.

Many thanks to all involved in helping me for their patience and assistance!

[2022-03-10 16:46] alvoron commented on #10776
Glad to hear that. Are you going to close the ticket?

[2022-03-10 16:52] marcjasner commented on #10776
Closing it now. Thanks again!

[2022-03-10 16:52] #10776 closed

[2022-03-10 19:18] avitial commented on #9658
@husiluanxiang apologies for the delay in my response, you stated with example_dnn_classification you get a good result but with crnn and googlenet results are different, have you tried to use OpenVINO API for inference instead of DNN as previously suggested? And if so, are the results any better or do you still face the same issue previously reported?

BR,
Luis

[2022-03-10 20:03] apankratovantonp commented on #10830
@TallyH0 When you created memory buffer for weights you pass it into `InferenceEngine::Core::ReadNetwork` using **non owning** `InferenceEngine::Blob::Ptr`
[code]
So when the code goes out of the `Init()` function scope `binBuffer` is destroyed and the shared buffer with weights points to deleted memory in `Process()` function scope.

[2022-03-10 22:25] ngaloppo opened #10888 "Redundant check for is_remote"
This looks like a bug. There is no need to check for `is_remote` inside `!is_remote` else clause.

https://github.com/openvinotoolkit/openvino/blob/4e0a740eb3ee31062ba0df88fcf438564f67edb7/src/plugins/intel_gpu/src/plugin/infer_request.cpp#L326

[2022-03-10 23:42] jgespino commented on #10888
Hi @ngaloppo

This may be needed as `is_remote` is set to true in two occasions within the else statement.

https://github.com/openvinotoolkit/openvino/blob/4e0a740eb3ee31062ba0df88fcf438564f67edb7/src/plugins/intel_gpu/src/plugin/infer_request.cpp#L311

https://github.com/openvinotoolkit/openvino/blob/4e0a740eb3ee31062ba0df88fcf438564f67edb7/src/plugins/intel_gpu/src/plugin/infer_request.cpp#L321

[2022-03-11 00:07] TallyH0 commented on #10830
@apankratovantonp
now I declared binBuffer as a member. It works well.
Thank you!

[2022-03-11 00:39] ngaloppo commented on #10888
OK, nevermind! I did not realize that `is_remote` is mutable within the else statement. Closing, apologies for the spam!

[2022-03-11 00:39] #10888 closed

[2022-03-11 00:58] Hezhexi2002 commented on #5581
@ilya-lavrenov
![image](https://user-images.githubusercontent.com/53631206/157779902-cf7b84e8-7ac7-4b22-8015-6b09cc625229.png
![image](https://user-images.githubusercontent.com/53631206/157780299-21766071-e981-4831-aecd-a26357fd1a6b.png)
Hi,sorry to bother you again but I try to just verify wether it can initialize the inferenceEngine::core properly.As you can see in the two screenshots above,the

[2022-03-11 01:07] ngaloppo opened #10890 "Creating a USMTensor from user-provided pointer tries to allocate regardless"
I am currently running into an issue running into an failed assertion here:

https://github.com/openvinotoolkit/openvino/blob/4e0a740eb3ee31062ba0df88fcf438564f67edb7/src/plugins/intel_gpu/src/plugin/remote_context.cpp#L121

The stack is as follows:

- Application calls `auto remote_tensor = gpu_context.create_tensor(type, shape, usm_ptr)`
- `ClContext::create_tensor()` calls base class `RemoteCon

[2022-03-12 09:15] goodtogood commented on #10617
@YeziXuannao
Hi,
I came to the same problem
yolov5 FP32 works well
but It can detection nothing after INT8
could you tell me what the solution is ?
thanks

[2022-03-12 09:42] YeziXuannao commented on #10617
Hi, @goodtogood
My problem is I convert the model by myself instead of using the export.py in the yolov5 project. The pytorch compatibility not worked correctly. It can't recognize the class Detect and the class Model. So the value of inplace attribute is incorrect. You can find the compatible operation in the 100 line of the yolov5/models/experimental.py
Hope that can help you!

[2022-03-12 09:54] goodtogood commented on #10617
@YeziXuannao
thanks for your information! I will take a look. my problem is a little different from yours.  the score is very low after INT8 but not zero. DefaultQuantization was used. but yolox works well after quantization in same way.  currently I did not find what the problem is

[2022-03-12 13:11] Mateusz5116 opened #10926 "RPi 4 32/64bit malloc(): unsorted double linked list corrupted"
##### System information (version)

- OpenVINO => 2021.4.2
- Operating System / Platform => Raspbian 32 bit (Bullseye/Buster) / Raspbian 64 bit (Bullseye) / Ubuntu 21.10 / Raspberry Pi 4
- Compilers => gcc 9.1.0 - gcc 10.1.0 - gcc 10.2
- Problem: malloc() Unsorted unsorted double linked list corrupted issue. I investigated the solutions but not works for me and i got this issue since run the softw

[2022-03-12 15:49] alalek commented on #10926
BTW, there is no support for ARM CPU inference device in RPi package. It is targeted for Myriad sticks (NCS2).

---

Not validated, see documentation:

https://docs.openvino.ai/2021.4/openvino_docs_install_guides_installing_openvino_raspbian.html

---

CPU plugin for ARM H/W could be built separately (with RPi 4 support). You may want to take a look on this module (use 2021.4 branch): https://gith

[2022-03-14 01:12] SiChuanJay commented on #10681
Hi @jgespino
Could you share the test results of this video? Thank you
[video.zip](https://github.com/openvinotoolkit/openvino/files/8241043/video.zip)

[2022-03-14 08:22] gusye1234 opened #10929 "[Bug] undefined reference to TBlob<uint8_t>"
##### System information (version)

- OpenVINO=> :grey_question: openvino_2021.4.752 and openvino_2021.4.582
- Operating System / Platform => :grey_question: ubuntun 20.4 LTS
- Compiler => :grey_question: gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
- Problem classification => :grey_question: Openvino C++ intergation

##### Detailed description

IE::TBlob<uint8_t> can't be used or created.
I t

[2022-03-14 08:44] brmarkus commented on #10929
Can you share source-code and corresponding build-files like make-/cmake-files, please?
That would allow to reproduce and analyze what you are seeing.
Have you created a new application, or adapted an existing demo/sample of OpenVINO or Open-Model-Zoo?

[2022-03-14 08:58] gusye1234 commented on #10929
Sure! I'm trying to add OpenVINO backend for WasmEdge(a WebAssemly runtime). This problem occurs when I wanted to ReadNetwork from buffer directly, no existing demo/sample about this I think.

At first I followed the guidance of the [tutorial](https://docs.openvino.ai/latest/openvino_docs_IE_DG_protecting_model_guide.html), and using code like below
[code]
Then after a linker error happens which i

[2022-03-14 09:05] gusye1234 commented on #10929
Also for reference, the compiling log for building cpp samples is in [here](https://s3.us-west-2.amazonaws.com/secure.notion-static.com/e657d023-99b5-4bc3-9df8-cc2b1a813259/log.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220314%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220314T090132Z&X-Amz-Expires=86400&X-Amz-Signature=581

[2022-03-14 11:09] vladimir-paramuzov commented on #10890
`allocate()` doesn't mean that a memory buffer is actually allocated when memory sharing is used. In case of mem sharing it just creates `cldnn::memory` handle which wraps user handle (https://github.com/openvinotoolkit/openvino/blob/master/src/plugins/intel_gpu/src/plugin/remote_context.cpp#L145). Do you have a code snippet which causes assertion fail? I've tried to run [functional tests](https:/

[2022-03-14 11:34] dmitry-gorokhov commented on #10831
@MrRace Python code snippets have been added. Please use the same link

[2022-03-14 12:03] tarepan opened #10938 "[Bug] pot crash with numpy binary incompatibility"
##### System information (version)
- OpenVINO => 2022.1.0.dev20220302 through pypi
- Operating System / Platform => Ubuntu 18.04.5 LTS (Google Colaboratory)

##### Detailed description
During openvino-dev install through pip, it automatically downgrade numpy version.
After installed, `pot -h` CLI crash with numpy binary incompatibility error.
If we manually re-upgrade numpy then re-run `pot -h`, i

[2022-03-14 18:01] jgespino commented on #10938
Hi @tarepan

Thanks for reporting and providing the steps to reproduce. I was able to reproduce the issue on Google Colab, however, I was not able to reproduce on my local system running Ubuntu 18.04 with numpy 1.19.5. I will need to check with the development team if OpenVINO has been validated on Google Colab and if this is a bug. I will let you know what I find out.

Regards,
Jesus

[2022-03-14 19:04] #10830 closed

[2022-03-14 19:48] avitial commented on #9476
I couldn't reproduce the reported issue on the validated OS (Ubuntu* 20.04 (64-bit) with default GCC* 9.3.0). If you need to build with LTO enabled I'd suggest switching to a validated operating system. Kindly refer to the [build instructions for Linux](https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux ) for a list of validated operating systems for Linux builds.

[2022-03-14 19:48] #9476 closed

[2022-03-14 19:56] #9347 closed

[2022-03-14 19:57] #10499 closed

[2022-03-14 22:08] #4173 closed

[2022-03-14 22:13] jgespino commented on #4125
Closing, please re-open if additional assistance is needed.

[2022-03-14 22:13] #4125 closed

[2022-03-14 22:13] #4786 closed

[2022-03-14 22:16] jgespino commented on #3850
Closing, please re-open if additional assistance is still needed.

[2022-03-14 22:16] #3850 closed

[2022-03-14 22:18] #2418 closed

[2022-03-14 22:28] jgespino commented on #362
Closing, please re-open if additional assistance is needed.

[2022-03-14 22:28] #362 closed

[2022-03-14 22:30] jgespino commented on #373
Closing, please re-open if additional assistance is needed.

[2022-03-14 22:30] #373 closed

[2022-03-14 22:32] jgespino commented on #408
Closing, please re-open if additional assistance is needed.

[2022-03-14 22:32] #408 closed

[2022-03-15 02:50] ngaloppo commented on #10890
Thanks, developing a code snippet allowed me to pin-point the issue. It turns out that this only happens when repeatedly calling `ClContext::create_tensor()` with the same underlying USM memory. Whether this is a bug is debatable, since what I'm doing is perhaps not the right way to use the API? Regardless, we probably should either document this, or somehow prevent the user to apply the pattern I

[2022-03-15 08:34] #9336 closed

[2022-03-15 15:58] jgespino commented on #10633
Hi @KodeWorker

Could you double check your TensorFlow model? We tried to infer using TensorFlow and are running into the following error.
[code]

Regards,
Jesus

[2022-03-16 06:25] KodeWorker commented on #10633
Hi @jgespino,

I did not get the error message using TF 2.5., but is bound to happend when using TF1.15
BTW, it also failed with TF1.15 when I tried to convert frozen model to ONNX, while TF2.5 did't.
Is this something to do with TensorFlow?

B.R.,
Kelvin

[2022-03-16 06:54] chao-camect commented on #5875
Is there any update on this? I can provide a model for you if that's what you are waiting for..
But as @kunaltyagi said, you can create such a model easily yourself.

[2022-03-16 07:38] slyubimt commented on #5492
@marmalodak,
While this tool can be handy to find out python compile & link information for make/gcc, for OpenVINO Python API build we use cmake options to specify locations :

https://github.com/openvinotoolkit/openvino/wiki/BuildingForLinux

[code]
You can also get these values from python (for Linux):

1. `which python3`
2. `` `which python3` -c "from distutils import sysconfig; print(sysconfig

[2022-03-16 07:38] #5492 closed

[2022-03-16 08:03] chao-camect commented on #5875
I think this can be implemented using [DetectionOutput](https://docs.openvino.ai/latest/openvino_docs_ops_detection_DetectionOutput_1.html).
A transformation is needed to convert the graph from using CombinedNonMaxSuppression to using DetectionOutput.
The doc is here: [Graph Transformation Extensions](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_customize_model_optimizer_Custo

[2022-03-16 15:45] jgespino commented on #5875
@chao-camect OpenVINO can convert Object Detection Models from TF. See [Converting TensorFlow* Object Detection API Models](https://docs.openvino.ai/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_Object_Detection_API_Models.html?highlight=object%20detection) which includes sub-graph configuration files for the supported models.

If you model is different, please provide

[2022-03-16 16:35] chao-camect commented on #5875
@jgespino [Here](https://drive.google.com/file/d/16E2PSn33AQRSMq9z1zbKjupilZQczvJr/view?usp=sharing) is the frozen pb file of my model.

I knew the tensorflow object detection API thing. That's how I found DetectionOutput.

However, many don't like object detection API. It's clumsy, difficult to make changes. Those guys seems not to pay much attention to the community. I sticked to it for a while

[2022-03-16 22:08] chao-camect commented on #5875
I think the following model summary will it easier for you:

<pre>
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 300, 300, 3  0           []
                                )]

 Conv1 (Conv2D)                 (None, 150, 150, 32

[2022-03-17 10:20] andrei-kochin commented on #10846
@Dnoniel-Ermolaev do you have any updates on Ilya's suggestion?

[2022-03-17 10:21] andrei-kochin commented on #151
Seems to be resolved already. Closing

[2022-03-17 10:21] #151 closed

[2022-03-17 10:25] andrei-kochin commented on #435
@muaz-urwa it seems that according to point raised here all the issues supposed to be resolved on latest master. Unfortunately I can't access onnx file you've shared anymore as link is no more valid. Could you please verify that there is no issues now?

[2022-03-17 10:56] Dnoniel-Ermolaev commented on #10846
@andrei-kochin Yes, of course. Sorry I didn't answer earlier. I was able to transform the model without dynamic shapes. It was enough to use `--inpur_shape` option to fully define shape. Thanks a lot for help.

[2022-03-17 12:39] xiuxiusen opened #11017 "RPi 4B build openvino failed"
##### System information (version)
<!-- Example
- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu mate 20.04-arnhf+raspi
- Compilers=>gcc 9.4.0

##### Detailed description
I read the doc,and find there is no method to intall openvino no a RPi with ubuntu mate.I try to use this https://docs.openvino.ai/cn/latest/openvino_docs_install_guides_installing_openvino_linux.html mathod,but faile

[2022-03-17 17:28] andrei-kochin commented on #11017
@xiuxiusen could you please provide more information on the issue? Failed log, system information and so on.

Thank you in advance!

[2022-03-17 23:08] andrei-kochin commented on #10846
Great! then closing the issue.

[2022-03-17 23:08] #10846 closed

[2022-03-18 00:51] xiuxiusen commented on #11017
I read the doc,and find there is no method to intall openvino no a RPi with ubuntu mate.I try to use this https://docs.openvino.ai/cn/latest/openvino_docs_install_guides_installing_openvino_linux.html mathod,but failed.
ERROR:.
/install.sh: 60: [: -lt: unexpected operator
./install.sh: 63: [: -eq: unexpected operator
The IA-32 architecture host installation is no longer supported.
The product cann

[2022-03-18 02:45] dukezuoHZ commented on #8343
I config with command :
sudo cmake -DIE_EXTRA_MODULES=/home/duke/openvino_contrib-master/modules -DBUILD_java_api=OFF -DCMAKE_INSTALL_PREFIX=/opt/intel ..

openvino source is in path /home/duke/openvino ,but i met a issue when i built openvino again while i can build it ok only for openvino.
[code]

[2022-03-18 04:21] zulkifli-halim commented on #10664
Closing issue. Feel free to reopen the issue if further assistance is needed.

[2022-03-18 04:21] #10664 closed

[2022-03-18 05:43] brmarkus commented on #11017
Can you provide more information about your environment, please? You are using which version of Ubuntu?
Which version of OpenVINO are you trying to install?
You want to install a pre-built version, or building from source?

Does it have to be Ubuntu?

Can you use "https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_raspbian.html" successfully?

[2022-03-18 09:39] xiuxiusen commented on #11017
@brmarkus I'm sorry to forget write it.I'm using ubuntu mate 20.04 in a RPi 4B.And I want to use openvino 20.04.I used it "https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_raspbian.html"before.But when i run an open_model_zoo/demos,I run the order ./build_demos.sh,the error was that:
CMake Error at /usr/share/cmake-3.16/Modules/FindPackageHandleStandardArgs.cmake:14

[2022-03-18 11:54] dukezuoHZ commented on #10661
hi,I can't find  MKLDNN plugin on arm64 platofrm when I native build  it. I check the  plugin.xml,no found  plugin for CPU.
    <plugins>
        <plugin name="AUTO" location="libAutoPlugin.so">
        </plugin>
        <plugin name="HETERO" location="libHeteroPlugin.so">
        </plugin>
        <plugin name="MULTI" location="libMultiDevicePlugin.so">
        </plugin>
        <plugin name="MYR

[2022-03-18 13:49] xiuxiusen commented on #11017
I make some cahnges to this link "https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_raspbian.html" .I replace the package with I_openvino__toolkit_runtime_ubuntu20_p_2021.4.But when I build_demos.sh,some error happened.
CMake Warning at /home/xiuxiusen/Downloads/inference_engine_vpu_arm/deployment_tools/inference_engine/share/InferenceEngineConfig-version.cmake:17 (m

[2022-03-18 15:39] jgespino commented on #10661
@dukezuoHZ clDNN is used to infer on Intel Processor Graphics. You need to look for the CPU plugin. Please take a look at the [CMake options for custom compilation](https://github.com/openvinotoolkit/openvino/wiki/CMakeOptionsForCustomCompilation) and [Build OpenVINO Inference Engine](https://github.com/openvinotoolkit/openvino/wiki/BuildingCode).

Please start a new issue if you run into any prob

[2022-03-18 19:58] luvwinnie commented on #4783
@shixinlishixinli I have a same OCR which handle dynamic width, how would you operates 10 models with different input?

[2022-03-18 21:35] jgespino commented on #11017
Hi @xiuxiusen

Are you trying to run inference on CPU or MYRIAD? If you are trying to run inference on CPU, you will need to build the AMR Plugin from the OpenVINO contrib and OpenVINO from source. Please take a look at my response on this [issue ](https://github.com/openvinotoolkit/openvino/issues/10776#issuecomment-1059616600)for steps to build.

Regards,
Jesus

[2022-03-19 09:28] Asthestarsfalll opened #11058 "[Bug]different input size caused huge difference of resluts"
##### System information (version)

- OpenVINO => 2021.4
- Operating System / Platform => Windows 11 64 Bit
- Compiler => Visual Studio 2022
- Model name: RVM

I used diferent input size 1080 *1920 and 540 * 960 to export onnx model, then I converted them to openvion model.
Inferenced with same data,  the small input size got the terrible results like this:
![2T@77LD4R_~J}@UAQ{(4HDY](https://user-

[2022-03-19 09:37] andrei-kochin commented on #11058
Hello @Asthestarsfalll, thanks for reaching us!

Could you please let me know if it is possible to share the ONNX model with some random weights?

Also would be very valuable trying to convert the model on the upcoming release 2022.1 with ONNX Frontend under the hood of Model Optimizer. Is it possible for you to build from source on the 'master' track and try the inference one more time?

Best reg

[2022-03-19 09:46] Asthestarsfalll commented on #11058
Hi @andrei-kochin  Thank you for your reply.

The two onnx model I exported are below:
https://drive.google.com/drive/folders/108y2jk8W4MTZ589oUv8AmW3w_8Tg-kNE?usp=sharing
I will try to build from source on the master later.

[2022-03-19 11:39] vollebreggie opened #11059 "Support for Raspberry aarch64, Debian GNU/Linux 11 (bullseye)"
Hello,

I'm trying to run an speech to text model on the intel neural stick 2 with a Raspberry pi 4, aarch64, Debian GNU/Linux 11 (bullseye) and python version 3.9.

I tried to build the releases/2022/1 following this [BuildingForRaspbianStretchOS](https://github.com/openvinotoolkit/openvino/wiki/BuildingForRaspbianStretchOS) wiki. Everything build correctly.  However, when I open a python script

[2022-03-19 15:12] xiuxiusen commented on #11017
@jgespino Thank you very much.l will have a try.

[2022-03-20 06:42] xiuxiusen commented on #11017
@jgespino Thank you very much.I have successfully installed openvino on my RPi.But when I run the open_model_zoo,some errors happened.
My code is:./build_demos.sh.
By not providing "Finddlib.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "dlib", but
  CMake did not find one.

  Could not find a package configuration file provided by "dli

[2022-03-20 15:56] RelayZ opened #11064 "[Bug] when I load network, dynamic output shape error"
- OpenVINO=> :2022.1:
- Operating System / Platform => :Ubuntu20.04:
- Compiler => :python:
- Problem classification => :Loading onnx model:

##### Detailed description
When I want to load my ONNX model, `RuntimeError: CPU plug-in can't load a model with Dynamic Output Shapes via Legacy API` is displayed. But when I initialize the other models, it makes sense. My loading code is as follows:

[code

[2022-03-20 16:43] ilya-lavrenov commented on #11064
Hi @RelayZ

Right, starting with OpenVINO 2022.1, CPU plugin supports dynamic shapes and this support implies not only output dynamic shapes, but also input dynamic shapes (but number of dimensions in shapes must be known) - see [Dynamic shapes in OpenVINO 2022.1](https://docs.openvino.ai/nightly/openvino_docs_OV_UG_DynamicShapes.html).

But in order to have this feature in your application, you s

[2022-03-20 16:58] RelayZ commented on #11064
Thanks for the directions you give, I'm sure it will work.

[2022-03-20 16:58] #11064 closed

[2022-03-20 23:08] #76 closed

[2022-03-20 23:09] ilya-lavrenov commented on #76
OpenVINO does not support MSVC 2017 for a while

[2022-03-20 23:10] ilya-lavrenov commented on #123
FPGA is not a part of OpenVINO anymore

[2022-03-20 23:10] #123 closed

[2022-03-21 08:46] ZachL1 opened #11077 "Can't constructs an Core instance"
Hello!

When I try to create an OpenVINO Core instance, an ov::Exception occurs. I look at the core instance at this point and it says `<Information not available, no symbols loaded for openvino.dll>`.

I did nothing but try to create a Core instance and the exception occurred:
![image.png](https://s2.loli.net/2022/03/21/uEctexT61JBYgz9.png)

I use Windows, Visual Studio 2019, and the [latest 2022

[2022-03-21 11:20] xiuxiusen commented on #11017
@jgespino Thank you very much.I have successfully installed openvino

[2022-03-21 13:55] SummerZ2020 opened #11098 "How to copy blob?"
I found there is a function named [blob_copy](https://docs.openvino.ai/latest/groupie_dev_api_memory.html?highlight=blob_copy) which can copy blob from source to dest. But I cannot find it in version 2021.4.582.
where can I find it?
 Or if there is the other function can be used to copy blob. Any help would be appreciated. Thanks a lot.

[2022-03-21 14:39] jgespino commented on #11017
@xiuxiusen Glad you were able to install successfully!

[2022-03-21 14:39] #11017 closed

[2022-03-21 16:02] SummerZ2020 opened #11103 "what is the fixed order of TensorDesc dims?"
In the demo code common.hpp, the getTensorHeight function is defined as below:
`inline std::size_t getTensorHeight(const InferenceEngine::TensorDesc& desc) {

    const auto& layout = desc.getLayout();
    const auto& dims = desc.getDims();
    const auto& size = dims.size();

    if ((size >= 2) &&
        (layout == InferenceEngine::Layout::NCHW  ||
         layout == InferenceEngine::Layout::NH

[2022-03-21 18:27] jgespino commented on #11098
Hi @SummerZ2020

`blob_copy` should be available on OpenVINO 2021.4, see [api reference](https://docs.openvino.ai/2021.4/groupie_dev_api_memory.html) for 2021.4.

Could you confirm you are using OpenVINO 2021.4?

Regards,
Jesus

[2022-03-21 20:55] jgespino commented on #11059
Hi @vollebreggie

Could you share the cmake command you used to build OpenVINO? We don't have a guide to build specific for aarch64 but the guide you followed should work. I am in the process of building OpenVINO on Raspberry Pi 4 with Bullseye aarch64. I will update this issue once it's complete.

Regards,
Jesus

[2022-03-21 21:38] vollebreggie commented on #11059
Hello @jgespino ,

Thank you for responding to my issue. I used `cmake -DCMAKE_BUILD_TYPE=Release -DTHREADING=SEQ .. && make` without additional build options. I'm starting to assume it has something to do with not adding the additional python build options.

I just finished building a Ubuntu* 20.04 (64-bit) on my raspberry and followed the [Linux wiki](https://github.com/openvinotoolkit/openvino/

[2022-03-21 22:33] jgespino commented on #11059
Hi @vollebreggie

Correct, for aarch64 you have to build from source.

By default, Python is turned off. You will have to enable it with `-DENABLE_PYTHON=ON` and specify the bin, include and lib directories. Here is the cmake command I used to start the build.

[code]

Regards,
Jesus

[2022-03-22 00:29] ZachL1 commented on #11077
Thanks, I have solved it!

At the beginning I copied all .dll files into my .exe directory except `plugins.xml`.  After I copy the `plugins.xml` file too, it worked.

[2022-03-22 00:29] #11077 closed

[2022-03-22 00:32] ilya-lavrenov commented on #11098
Hi,

This function is available on for OpenVINO plugin developers. It's not a part of public API, so go cannot find it in Inference Engine headers.

Use memcpy to copy blob content.

Thanks,
Ilya

[2022-03-22 00:36] ilya-lavrenov commented on #11103
Hi,

Yes, you are right. Regardless of actual data layout in the blob, the order of dimensions in shapes is always the same. So for NCHW and NHWC we always have NCHW order of dimensions in shape e.g. 1 3 224 224, so H is always pre-last element in the array of dimensions representing a shape.

Thanks,
Ilya.

[2022-03-22 01:11] SummerZ2020 commented on #11103
Thanks a lot.

[2022-03-22 01:11] #11103 closed

[2022-03-22 04:09] SummerZ2020 commented on #11098
Thanks a lot

[2022-03-22 04:09] #11098 closed

[2022-03-22 09:48] ilya-lavrenov commented on #10890
I think the code is valid. @vladimir-paramuzov @p-durandin we need to fix this.

[2022-03-22 10:24] krishyadav007 opened #11121 "Result gives all zeroes"
On running whichever model of OpenVINO zoo the output gives 0 in predictions.

The code for a sample model can be found here: https://colab.research.google.com/drive/1mH2SoOqlwcoJ05Qa4KhZWeVpfmRvWL_t?usp=sharing.

Re-running the notebook should allow reproducing the bug.

[2022-03-22 12:11] nosovmik commented on #10929
@gusye1234 , I see that your build logs are expired or I don't have an access to them, can you please share them one more time?

Can you please also try to get verbose logs using `export VERBOSE=1 && make` while building your sources - it will print all include/linking paths so that you can make sure that these are correct.

Do you have some old release of OpenVINO installed on your system? If yes

[2022-03-22 15:30] jgespino commented on #10633
Hi @KodeWorker

Development team has created a pull request to address this issue. Please take a look: https://github.com/openvinotoolkit/openvino/pull/11084

Regards,
Jesus

[2022-03-22 16:03] #10831 closed, assigned to dmitry-gorokhov, jgespino

[2022-03-22 16:59] vollebreggie commented on #11059
Regarding the conversion of my model. I was successful on converting a dynamic hubert model to IR on a windows machine.

[2022-03-22 17:18] jgespino commented on #9438
Hi @JinXiaozhao

Please try to convert your model using OpenVINO 2022.1 release. I tested using this version from [pip](https://pypi.org/project/openvino-dev/) and converted your model successfully. I had to downgrade Tensorflow version to 1.14 as I was unable to export the model using Tensorflow 2.x or Tensorflow 1.15. Once the model was converted to IR, I ran the model using the benchmark_app wi

[2022-03-22 17:18] #9438 closed

[2022-03-22 17:19] jgespino commented on #9658
Closing, please re-open if additional assistance is needed.

[2022-03-22 17:19] #9658 closed

[2022-03-22 17:20] #4033 closed

[2022-03-22 17:41] sahira-rizvi commented on #3660
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 17:41] #3660 closed

[2022-03-22 17:41] sahira-rizvi commented on #3659
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 17:41] #3659 closed

[2022-03-22 17:42] sahira-rizvi commented on #3232
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 17:42] #3232 closed

[2022-03-22 17:42] sahira-rizvi commented on #2549
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 17:42] #2549 closed

[2022-03-22 17:42] #2316 closed

[2022-03-22 17:43] sahira-rizvi commented on #2147
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 17:43] #2147 closed

[2022-03-22 18:00] sahira-rizvi commented on #503
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:00] #503 closed

[2022-03-22 18:00] sahira-rizvi commented on #491
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:00] #491 closed

[2022-03-22 18:01] sahira-rizvi commented on #487
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:02] sahira-rizvi commented on #478
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:02] sahira-rizvi commented on #440
Closing, feel free to re-open or start a new issues if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:02] #440 closed

[2022-03-22 18:06] sahira-rizvi commented on #433
Closing. Feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:06] #433 closed

[2022-03-22 18:06] sahira-rizvi commented on #432
Closing. Feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:06] #432 closed

[2022-03-22 18:07] sahira-rizvi commented on #427
Closing. Feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:07] #427 closed

[2022-03-22 18:07] sahira-rizvi commented on #421
Closing. Feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:07] #421 closed

[2022-03-22 18:08] sahira-rizvi commented on #416
Closing. Feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:08] #416 closed

[2022-03-22 18:09] #78 closed

[2022-03-22 18:10] sahira-rizvi commented on #81
Closing. Feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:10] #81 closed

[2022-03-22 18:10] sahira-rizvi commented on #89
Closing. Feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-22 18:10] #89 closed

[2022-03-22 22:40] #179 closed

[2022-03-22 23:53] abrown commented on #2316
@sahira-rizvi, what is the resolution of the feature request @jgespino opened? I feel like that should be noted here when closing the issue.

[2022-03-22 23:54] abrown commented on #3232
@sahira-rizvi, what is the resolution of this issue? I suspect that this will not be implemented, but a comment here to that effect would be useful.

[2022-03-23 01:20] sahira-rizvi commented on #418
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:20] #418 closed

[2022-03-23 01:22] sahira-rizvi commented on #354
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:22] #354 closed

[2022-03-23 01:23] sahira-rizvi commented on #322
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:23] #322 closed

[2022-03-23 01:24] sahira-rizvi commented on #154
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:24] #154 closed

[2022-03-23 01:24] sahira-rizvi commented on #161
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:24] #161 closed

[2022-03-23 01:25] sahira-rizvi commented on #236
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:25] #236 closed

[2022-03-23 01:25] #194 closed

[2022-03-23 01:25] #199 closed

[2022-03-23 01:25] sahira-rizvi commented on #230
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:25] #230 closed

[2022-03-23 01:26] sahira-rizvi commented on #260
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:26] #260 closed

[2022-03-23 01:26] sahira-rizvi commented on #263
Closing, feel free to re-open or create a new issue if additional assistance is needed.

Sincerely,
Sahira

[2022-03-23 01:26] #263 closed

[2022-03-23 02:18] NaNAGISaSA opened #11150 "[Bug] ModuleNotFoundError: No module named 'mo' for the latest version 2022.1"
##### System information (version)

- OpenVINO => 2022.1
- Operating System / Platform => Ubuntu 20.04
- Problem classification => Python pip package

##### Detailed description
For the latest version 2022.1, we can not find the module `mo`.

##### Steps to reproduce
[code]
You will get:
[code]
For the last version:
[code]
You will get `2021.4.2-3976-0943ed67223-refs/pull/539/head`, `mo` module ca

[2022-03-23 03:54] gusye1234 commented on #10929
Sorry for the failed URL! I may post those build logs here
For building OpenVINO c++ samples
[code]
For my project build logs:
[code]

[2022-03-23 03:56] gusye1234 commented on #10929
I think there is no other version of OpenVINO. My current dev environment is adapted from clean docker image with no OpenVINO installed before. And my `/opt/intel` is like this:
[code]

[2022-03-23 07:10] ZiyueWangUoB opened #11154 "[QUESTION] How can I use POT's accuracy aware quantization on similarity based models?"
Hi, I have a model where the output layer is a feature vector for similarity comparisons. I'm unsure how I can use the POT as there aren't any labels?

[2022-03-23 07:18] dkurt commented on #11150
Please use changed import:
[code]

[2022-03-23 07:53] ZachL1 opened #11156 "Efficient inference methods for RNN"
Hello!

### Description
I have a recurrent neural network that I need to process every frame of a video. The output of the previous inference will be used as the input of the next inference, how should I use OpenVINO to achieve the **best efficiency**?

### Detail
This is what I am doing now. But I think this may not be efficient, the get tensor and then set tensor seem a bit redundant.
[code]

Ca

[2022-03-23 08:36] nosovmik commented on #10929
@gusye1234 Thanks a lot for build logs! Now I see that you're using 'clang-12' in your system as a compiler, but OpenVINO 2021.4 Linux installer release is built using 'gcc/g++' compiler. And this causes such compatibility linker errors in your environment.
Installer release is compatible with GCC* 7.5.0 (for Ubuntu* 18.04) or GCC* 9.3.0 (for Ubuntu* 20.04)
https://github.com/openvinotoolkit/openv

[2022-03-23 08:49] gusye1234 commented on #10929
Got it! Many thanks for your detailed explanation and guidance.
The build problems for OpenVINO c++ samples are fixed once I changed the compiler to `GCC* 9.3.0`. I guessed that's the same reason why my project have a linking error.

[2022-03-23 08:57] nosovmik commented on #10929
Great news! Please let me know if issue is resolved and can be closed, thanks!

[2022-03-23 09:02] gusye1234 commented on #10929
I think it can be closed now. Thanks again!

[2022-03-23 09:02] #10929 closed

[2022-03-23 09:12] AlexKoff88 commented on #10938
In the logs, I can see that there is some incompatibility between the pycocotools dependency of AccuracyChecker and the numpy version. @eaidova, can you please take a look?

[2022-03-23 09:19] eaidova commented on #10938
@AlexKoff88 @tarepan  we already have internal discussion for this problem. Unfortunately, until openvino does not relax numpy restriction from 1.19 we can not fix this issue... The workaround is to reinstall pycocotools after openvino-dev package installation in the colab environment

Colab environment has preinstalled numpy 1.21 and pycocotools. This package has C++ compiled part and use numpy f

[2022-03-23 09:39] AlexKoff88 commented on #10938
Thanks, Ekaterina! I think this answers the question of why it is reproduced in Collab only.

[2022-03-23 10:02] Asthestarsfalll commented on #11058
@mateusztabaka
1. The result of ONNXRuntime is normal.
    ![image](https://user-images.githubusercontent.com/72954905/159673578-b39b93e4-23e1-4f7c-ba55-15cd9705d389.png)
2. I use `torch.onnx.export`，and fix the input shape to (1, 3, 540, 960).

[2022-03-23 10:31] Asthestarsfalll commented on #11058
I use the openvino_2021.2.185, the results don't imporve.
![image](https://user-images.githubusercontent.com/72954905/159679485-b5337078-293d-43f9-9d79-03cd45628271.png)