[2020-08-14 01:18] #1757 closed

[2020-08-14 01:29] #1358 closed

[2020-08-14 04:04] ZiyueWangUoB commented on #1765
Update: I've found the source of the problem. MO doesn't like the first layer in yolo3's symbol file. The input for the layer is [[0,0,0],[1,0,0]] and for some reason the first element causes the shape to become negative (initial input shape of [1,3,608,608] becomes [1,3,608,-1]) and the code is unable to continue. Removing this however, makes MO think the rest of the layers in the file are useles

[2020-08-14 04:26] ZiyueWangUoB commented on #488
Hi I'm trying to implement yolo3 from gluoncv but getting a weird bug, do you have time to take a look at it?

[2020-08-14 04:28] ZiyueWangUoB commented on #1765
For more information, here is the error log
[](
[ 2020-08-14 12:26:48,063 ] [ DEBUG ] [ infer:130 ]  Partial infer for _defaultpreprocess0_broadcast_minus0
[ 2020-08-14 12:26:48,063 ] [ DEBUG ] [ infer:131 ]  Op: Sub
[ 2020-08-14 12:26:48,063 ] [ DEBUG ] [ infer:132 ]  Inputs:
[ 2020-08-14 12:26:48,063 ] [ DEBUG ] [ infer:32 ]  input[0]: shape = [  1   3 608 608], value = <UNKNOWN>
[ 2020-08-14 12

[2020-08-14 06:10] ZiyueWangUoB commented on #1765
Update2: Saw the instructions for gluoncv models on this page, tried running for yolo3 mobilenet and another bug appeared during conversion

'''
[ ERROR ]  -------------------------------------------------
[ ERROR ]  ----------------- INTERNAL ERROR ----------------
[ ERROR ]  Unexpected exception happened.
[ ERROR ]  Please contact Model Optimizer developers and forward the following information:

[2020-08-14 06:29] lazarevevgeny commented on #488
@ZiyueWangUoB did you follow the documentation https://github.com/openvinotoolkit/openvino/blob/master/docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md ?

@iimironov could you help @ZiyueWangUoB with the issue?

[2020-08-14 06:36] ZiyueWangUoB commented on #488
@lazarevevgeny Yes I followed the docs and had an error, which I wrote in the new issue #1765.

[2020-08-14 07:00] ZiyueWangUoB commented on #1765
Last update I promise: Ok following the [documentation ](https://github.com/iimironov/openvino/blob/master/docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md) with the incorrect transformation config location (extra mo), I've got it working with the pretrained models (and my own trained model). Be ware, you have to use the --transformations_config file or else it DOESN

[2020-08-14 07:00] #1765 closed

[2020-08-14 08:30] vladimir-paramuzov commented on #1717
@mingmingtasd  Have you used default broadcast rules (numpy) for `op::Add` node?

@lazarevevgeny Are eltwise inputs with shapes {1,3,224,224} and {3} valid? I have a feeling that {3} is not broadcastable to {1,3,224,224} with numpy rules.

[2020-08-14 08:47] mingmingtasd commented on #1717
Hi，
Yes, the default broadcast will not give {1,3,224,224}. I have broadcasted by keeping {3} as the channel, and got {1,3,224,224}  so that other plugins can run.

[2020-08-14 08:53] vladimir-paramuzov commented on #1717
I'm just trying to understand why ngraph accepts {1,3,224,224} and {3], and CPU plugin runs something, while such inputs seem to be inconsistent. So maybe some check is missing in graph validator for Add node.

[2020-08-14 09:22] mingmingtasd commented on #1717
Note that I broadcast tensorB with shape {3} by adding a `op::v1::Broadcast` for it and set the` axes_mapping`to keep the channel. So I can broadcast {3} to {1,3,224,224}. The default broadcasting should not succeed to do that.

[2020-08-14 09:36] whatisor commented on #1755
I checked more your website and found this
https://docs.openvinotoolkit.org/latest/openvino_docs_ops_detection_DetectionOutput_1.html
So this is just an enhancement request.

[2020-08-14 10:27] lazarevevgeny commented on #1717
The {1,3,224,224} and {3} are not broadcastable and nGraph should not pass this case. Need to take a look at the IR to understand how this passed nGraph.

[2020-08-14 14:01] #149 closed

[2020-08-14 14:02] #145 closed

[2020-08-14 14:37] carlosost opened #1793 "Reshape Input Layer"
**The context**
I am using OpenVino to implement MTCNN. As known by theory, the first step is basically find candidate bounding boxes using P-Net. In practice it means perform a pyramid over the image, resizing it and setting the input tensor with the resized image to infer using the P-Net.

**The problem**
I followed this instruction (https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_Sh

[2020-08-14 15:06] jgespino commented on #1343
Hi @JulienMaille

Looks like VPU is actually implemented in the Deployment Manager for Windows as well. There is a bug in the configuration file that pointing to the wrong location which hides the VPU target as an option.

As a quick workaround, modify the `C:\Program Files (x86)\IntelSWTools\openvino\deployment_tools\tools\deployment_manager\configs\main.json` file.

Change Line 57, 58, and 59 fr

[2020-08-14 16:17] jgespino commented on #1755
Hi @whatisor

Correct, the two additional input for DetectionOutput is only supported on the Myriad Plugin. Could you please provide additional information about your use case (framework, model, CPU/GPU?, etc)? I will pass this information along with the feature request to the development team for concideration.

Regards,
Jesus

[2020-08-14 17:39] jgespino commented on #1442
@boni-hu Please let us know if you need additional assistance.

[2020-08-14 17:42] jgespino commented on #1256
Hi @Greyman-Seu Please let us know if you need additional assistance.

[2020-08-14 18:05] #457 closed

[2020-08-15 15:28] leoll2 commented on #1551
You should swap these two lines, otherwise the network is loaded with vpu_optimizations enabled.
I haven't tried specifically with your data, but I did experiments with my own data and the resulting output changes a lot depending on the order of those two lines.

[2020-08-16 08:04] zvif commented on #1382
Yes - the 0248 model works. (sorry for the delay)

[2020-08-16 08:16] s-t-e-p-a-n-o-v commented on #1551
Hi!

It works now! Many thanks!

MYRIAD output
[[-1.1653900e-03 -8.3017349e-04 -1.4457703e-03 -4.1770935e-03
  -7.9345703e-03  8.3740234e-01]]
Correct output
[[-1.1544181e-03 -7.8051008e-04 -1.5786485e-03 -4.1782842e-03
  -7.9199774e-03  8.3894008e-01]]

[2020-08-16 08:25] s-t-e-p-a-n-o-v commented on #1551
There is recent official workaround  "How to Fix Inaccurate Results on Intel® Neural Compute Stick"
Its here https://www.intel.com/content/www/us/en/support/articles/000056285/boards-and-kits/neural-compute-sticks.html
Is it better to set optimization to 'NO' by default ?

[2020-08-16 09:05] JulienMaille commented on #1343
Yes it seems to work, thank you!

[2020-08-17 00:09] davodogster opened #1801 "TF2ODAPI Model Optimizer"
Hi, Does the Model Optimizer in OpenVINO support TF2ODAPI Models?. If yes, does it need to be the latest version of Openvino? Cheers

[2020-08-17 01:51] 1165048017 commented on #478
It does work

[2020-08-17 03:42] NotMorven opened #1802 "How can I Inference Bert Model in INT8 Mode???"
**I have Bert model in Intermediate Representation (IR) format. When I used Post-training Optimization Tool to further optimize it, an error occurred as below:**
[code]
**Bert has three input ports( input_ids, input_mask, segment_ids ), while POT only supports two at most.
Is there any way to solve this problem???**

**Best regards,
Morven**

[2020-08-17 08:27] lkepka commented on #480
I have exactly the same problem. Did you managed to fix this?

[2020-08-17 08:38] alalek commented on #480
Debug mode doesn't work (some files are missing in OV installation package as mentioned).
Use release mode or build from sources.

see also: #1346

[2020-08-17 09:00] lkepka commented on #480
Thanks @alalek

[2020-08-17 12:35] jgespino commented on #1691
Hi @ZongqiangZhang

We just added TensorFlow 2.x (CNN) support in the latest release. Are you running into any specific issues that is not allowing you to convert your TensorFlow model to OpenVINO IR format using the model optimizer?

Regards,
Jesus

[2020-08-17 12:50] jgespino commented on #1343
Great! I will close this issue, feel free to re-open or start a new one if you have additional questions.

[2020-08-17 12:50] #1343 closed

[2020-08-17 12:54] jgespino commented on #1382
@zvif Thank you for confirming, please feel free to start a new issue if you need further assistance.

[2020-08-17 14:07] jgespino commented on #1793
Hi @carlosost

Thanks for reaching out. From what I understand, you need to call LoadNetwork after reshape. Let me check with my peers to see if it's possible to reshape without calling LoadNetwork.

Regards,
Jesus

[2020-08-17 14:08] nmVis commented on #1471
Hi @jgespino

my problems are not of compile kind. It is when testing stuff with Valgrind.
Have you tried Valgrind with:
[code]
Afterward, in another terminal window start
[code]
And inside the gdb run
[code]

The CPU I'm using is Intel i7-8750H CPU @ 2.20GHz.
I'm running the test inside the Ubuntu 18.04 virtual machine.

Could some other info be of some help?

Regards,
Nikola

[2020-08-17 14:11] jgespino commented on #1801
Hi @davodogster

The latest OpenVINO 2020.4 Introduced initial support for the TensorFlow* 2.X models, specifically for CNN (or computer vision use cases). Please give it a try and let me know if you run into issues.

Regards,
Jesus

[2020-08-17 14:35] carlosost commented on #1793
Hi @jgespino,

I think you've understood, but let me explain it again in another way.

    iterate = true
    while iterate
        resize the image
        call reshape
        call LoadNetwork
        iterate = still need to iterate ? true : false

The point is that `call LoadNetwork` every iteration costs too much and I would like to know if there is another possibility. Maybe reshape only the

[2020-08-17 15:15] dkurt commented on #1801
Please see https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_Object_Detection_API_Models.html

[2020-08-17 15:23] yrzhanov opened #1818 "OpenVINO Debug build is installed in Release folder"
OpenVINO Debug build is installed in Release folder.
Post-build event:
setlocal
"C:\Program Files\CMake\bin\cmake.exe" -DBUILD_TYPE=$(Configuration) -P cmake_install.cmake
if %errorlevel% neq 0 goto :cmEnd
:cmEnd
endlocal & call :cmErrorLevel %errorlevel% & goto :cmDone
:cmErrorLevel
exit /b %1
:cmDone
if %errorlevel% neq 0 goto :VCEnd

and $(Configuration) is indeed Debug. Is there anything wrong

[2020-08-17 16:43] leoll2 opened #1819 "QueryNetwork breaks the network"
##### System information (version)

- OpenVINO=> 2020.2
- Operating System / Platform => Ubuntu 18.04
- Compiler => g++
- Problem classification => QueryNetwork bug

##### Detailed description

The method `InferenceEngine::Core::QueryNetwork` modifies the internal representation of the network silently, eventually causing troubles and crashes in other methods invoked later. I suspect the problem i

[2020-08-17 17:59] leoll2 opened #1822 "Huge loss of precision on VPU with HW optimizations enabled"
##### System information (version)

- OpenVINO=> 2020.4
- Operating System / Platform => Ubuntu 18.04
- Compiler => g++
- Problem classification => VPU - Wrong output

##### Detailed description

Myriad (NCS2) suffers from heavy precision loss when `VPU_HW_STAGES_OPTIMIZATION` is enabled.

Let's consider this extremely simple network, made of a single convolution block:
![img](https://i.imgur.com/

[2020-08-17 20:31] davodogster commented on #1801
Hi @dkurt Does this below (1.15 or higher) include TF2.X.X ?
faster_rcnn_support_api_v1.15.json — for Faster R-CNN topologies trained manually using the TensorFlow* Object Detection API version 1.15.0 or higher

[2020-08-17 20:36] davodogster commented on #1801
Hi Jesus,

But this is not specifically for object detection so it will take a very long time to do it manually?

[2020-08-18 06:31] dkurt commented on #1822
Hi!
May I ask to try an experiment with `[0..255]` input range for network? With and without `VPU_HW_STAGES_OPTIMIZATION` .

[2020-08-18 08:11] superkevingit opened #1832 "Load Network API for Python is slow"
Hi! I am using openvino to deploy my pytorch model on PC using CPU. I converted the pt model --> onnx --> IR, and successfully implement the inference part using Python API of openvino, but the speed is too slow for my application.

There are my code snippet for loading the network, and the output of PyCharm profiler.

[code]

![image](https://user-images.githubusercontent.com/9638937/90487108-945

[2020-08-18 12:08] leoll2 commented on #1822
@dkurt
The relative error looks smaller if I provide an input in the [0..255] range. Is it all about the working point?
By the way, it's curious how the magnitude of VPU values seems to be always lower than CPU ones by 2-10%, never greater: maybe the VPU introduces a bias when rounding internally?

[0..1] no optimization  |  [0..1] with optimization
:-------------------------:|:-------------------

[2020-08-18 12:20] dkurt commented on #1822
Actually, it's interesting to see the difference between `[0..1]` inputs with and w/o HW optimization and `[0..255]` input but with convolutions weights divided by 255. So first convolution layer will perform this normalization. Can you try please?

[2020-08-18 12:50] jgespino commented on #1801
Hi @davodogster

Try converting your model using the instructions in [Convert TensorFlow* 2 Models](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_TensorFlow.html#Convert_From_TF2X) documentation. Support for TensorFlow 2 models may be limited as it was recently introduced as initial support in the latest release.

Regards,
Jesus

[2020-08-18 13:22] middlemall commented on #478
Reference resources setupvars.bat , and reconfigure the environment variables to solve the above problems

[2020-08-18 13:31] issaiass commented on #478
Yes, that's basically the problem always, that's why i put hte above solutions.  Thanks for sharing.

[2020-08-18 15:18] jgespino commented on #1818
Hi @yrzhanov

Please provide additional information and steps to reproduce.

- OpenVINO Version (branch)
- Operating System
- CMake Version
- Microsoft Visual Studio Version

Regards,
Jesus

[2020-08-18 15:45] yrzhanov commented on #1818
* # [OpenVINO™ Toolkit](https://01.org/openvinotoolkit) - Deep Learning Deployment Toolkit repository
[![Stable release](https://img.shields.io/badge/version-2020.4-green.svg)](https://github.com/openvinotoolkit/openvino/releases/tag/2020.4.0)
* Windows 10
* CMake 3.17.2
* Microsoft Visual Studio Community 2017
Version 15.9.23
VisualStudio.15.Release/15.9.23+28307.1146
Microsoft .NET Framework
Ver

[2020-08-18 15:53] leoll2 commented on #1822
This is the output right after the first conv. Left is standard (input in range [0..1]), right is rescaled (input in [0..255], weights of first conv layer divided by 255). I display one more decimal digit to show better the differences.
Optimizations are enabled in both experiments.

[0..1] standard  |  [0..255] weights rescaled
:-------------------------:|:-------------------------:
![](https://i

[2020-08-18 16:10] jgespino commented on #1819
Hi @leoll2

Did you try on the latest OpenVINO 2020.4 release? I was not able to reproduce your issue with your model and the following code:

[code]

Regards,
Jesus

[2020-08-18 16:14] jgespino commented on #1818
@yrzhanov Thanks! Please also let me know which OpenVINO branch you checked out and commands used.

[2020-08-18 16:18] TNTWEN opened #1841 "[Bug] OpenVINO YOLOv3 RGB OR BGR?"
Please see :https://github.com/TNTWEN/OpenVINO-YOLOV4/issues/8

Darknet and tensorflow(mystic123) are all RGB,but OpenVINO didn't use --reverse_input_channels,and i did't found code about
BGR(Opencv) to RGB.  And i test my V4 models（https://github.com/TNTWEN/OpenVINO-YOLOV4/issues/8  ）,the result is  --reverse_input_channels will get better results. So is it a mistake in the official documents？

[2020-08-18 16:26] jgespino commented on #1841
Hi @TNTWEN

I believe the YOLOv3 model from pjreddie is RGB. The Inference Engine loads input images in BGR order, in this case, `--reverse_input_channels` is needed. The documentation includes the following note:

[2020-08-18 16:30] jgespino commented on #1802
Hi @NotMorven

Are you using the latest OpenVINO 2020.4 release? I'm not sure if there is another way to solve the error, let me check with my peers.

Regards,
Jesus

[2020-08-18 16:34] jgespino commented on #1832
Hi @superkevingit

The read_network and load_network timing depends on the size of the model.

- Could you share more information about your model?
- What device are you using?
- Are you reading and loading a model more than once?

Regards,
Jesus

[2020-08-18 16:36] TNTWEN commented on #1841
Hi , @jgespino
Yeah, i also found it.  And i hope https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_YOLO_From_Tensorflow.html   which based on https://github.com/mystic123/tensorflow-yolo-v3  should correct this part in the future.Otherwise, it will be troublesome for the novice

To generate the IR of the YOLOv3 TensorFlow model, run:
pytho

[2020-08-18 17:03] jgespino commented on #1841
Thank you for your feedback @TNTWEN! I have submitted your feedback to the development team.
Please let me know if you have additional questions.

Regards,
Jesus

Ref. 37323

[2020-08-18 17:07] #1841 closed

[2020-08-18 17:50] yrzhanov commented on #1818
I downloaded zip, used CMake Gui, compiled and installed.

[2020-08-19 02:23] whatisor commented on #1755
@jgespino  it is not related to specific model I am working on,which I cannot share here.
The feature we need is implementing 5-input version for CPU to remove this limitation:

[2020-08-19 03:05] superkevingit commented on #1832
@jgespino Thanks for replying!

1. I am using [YOLOv5 s model](https://github.com/ultralytics/yolov5/blob/master/models/yolov5s.yaml), 15M for the `.pt` model, 29.1M for the `onnx`. After convert using openvino, 28M for `bin` and 218K for `xml`.

2. I am using PC under Ubuntu 18.04

[code]

3. As show in the output of PyCharm profiler above, I only load and read network once for inference.

[2020-08-19 04:01] NotMorven commented on #1802
Hi @jgespino ,
I'm using 2020.3 release. Could the different versions be a possible reason? Looking forward to you reply.

Best regrads,
Morven

[2020-08-19 07:40] chandrakantkhandelwal opened #1847 ""deployment_tools" directory referred in setupvars.sh is not present in the code repo"
The code in the following file (see line 44) refers to a directory with name "deployment_tools", however no such directory is present in the code repo:
https://github.com/openvinotoolkit/openvino/blob/master/scripts/setupvars/setupvars.sh

Though I was able to build code successfully, however I faced this error while setting up the OpenVino environment variables after building the code.

[2020-08-19 07:53] dmitryte commented on #1802
Hi @NotMorven.
@jgespino suggestion is correct - you should update to 2020.4 as bert was enabled for quantization and there some sample configs for pot there  - \deployment_tools\tools\post_training_optimization_toolkit\configs\examples\quantization\nlp

They can explain how to process your inputs properly(see accuracy_checker configuration that is being used internaly by pot - C:\Program Files (x

[2020-08-19 07:59] NotMorven commented on #1802
@dmitryte
Got it. Thanks a lot!!!
By the way, has Inference Engine changed from version 2020.3 to 2020.4 ?

Morven

[2020-08-19 09:13] dmitryte commented on #1802
IE is being improved with every release to increase inference speed and keep accuracy of the original models on various hardware devices. You can check the whole list of new features and improvements in release notes - https://github.com/openvinotoolkit/openvino/releases/tag/2020.4

@NotMorven could you provide some feedback once you try to run pot with your bert model?

[2020-08-19 09:41] dmitryte commented on #1793
Hi @carlosost.
Unfortunately, dynamic input shapes is not supported right now.

Currently, your approach is the only way to execute models when you need different shape.

Regards,
Dmitry

[2020-08-19 11:13] Fly-Key opened #1854 "[CMake Error at inference-engine/samples/CMakeLists.txt]"
##### System information (version)

- Operating System / Platform => :CentOS Linux release 7.8.2003 (Core)
- Problem classification => : Build problem

##### Detailed description
When I build OpenVINO™ Inference Engine on CentOS Systems, I follow the build steps. An error occurred after executing this sentence：
`
cmake -DCMAKE_BUILD_TYPE=Release ..
`

error:
[code]
What's the problem?
Thanks in ad

[2020-08-19 11:14] chandrakantkhandelwal commented on #1847
I got the solution. There is a flag while building the repo "-DCMAKE_INSTALL_PREFIX", which decides the installation path, and the setupvars.sh is present in that, which can be used to setup the OpenVino environment paths.

[2020-08-19 11:14] #1847 closed

[2020-08-19 11:16] carlosost commented on #1793
Hi @dmitryte.

Thank you for the reply and time spent in my case. I found another approach that still calls `LoadNetwork` 5 to 7 times as before, but that is executed at a different moment. It cost me a vector of `InferenceEngine::InferRequest` and some previous assumptions, but It worked.

Would be awesome if you could include this functionality (dynamic input shapes) in the backlog. It is very u

[2020-08-19 11:16] #1793 closed

[2020-08-19 12:37] nmVis opened #1858 "No speedup after quantization of MobilenetV2 architecture on OpenVINO 2020.4"
Hi, I'm having problem with the quantization of Mobilenet V2 architecture. I'm expecting that quantization should improve the performance of Mobilenet V2 architecture. However, I don't get the expected result.

The onnx model I'm using is available at the following [link](https://github.com/onnx/models/raw/master/vision/classification/mobilenet/model/mobilenetv2-7.onnx) which is from official ONNX

[2020-08-19 13:16] yrzhanov commented on #1818
It seems that the installer version 2020.4.287 differs from the one that can be downloaded from the github (possibly 2020.4.0).  I wanted to compile OpenVINO myself because I need PDB files, which are not installed. Is it possible to get them to be able to debug the app? Or get from github 2020.4.287 version source?

[2020-08-19 13:36] jgespino commented on #1854
Hi @Fly-Key

This may be a bug with the zip file. Instead of downloading the zip file could you try cloning the repository using git?

[code]

Regards,
Jesus

[2020-08-19 14:22] leoll2 commented on #1819
It works in 2020.4, is it a bug of 2020.2 then?
Do you know any alternative to QueryNetwork to retrieve a list of the supported layers for a specific device?

[2020-08-19 15:22] maxlytkin commented on #1568
@Bear-kai
Are you able to run demo_squeezenet_download_convert_run.bat script in <openvino>\deployment_tools\demo\ directory with -d GPU parameter?

[2020-08-19 16:02] maxlytkin commented on #1756
@mingmingtasd
It is possible that your NCS2 device may be already fully occupied by the first instance of your application, so that is most likely the reason why you see NC_ERROR when running the second instance. I don’t think this is the correct usage model to run the same script simultaneously on single NCS2 device. If you want to run multiple networks in parallel for one NCS2 device, please see

[2020-08-19 17:50] jgespino commented on #1819
Hi @leoll2

It was likely a bug addressed in either 2020.3 or 2020.4 release. Aside from QueryNetwork, you can find which layers are supported by the plugins in the following documentation: https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html

Regards,
Jesus

[2020-08-20 03:17] Fly-Key commented on #1854
[code]

![image](https://user-images.githubusercontent.com/60593268/90712774-57139000-e2d6-11ea-8060-36610d148f35.png)

[2020-08-20 05:55] #1819 closed

[2020-08-20 05:57] mingmingtasd commented on #1756
Thanks very much!  I will look and try.

[2020-08-20 07:54] EFanZh opened #1876 "[Bug] Loading weights crashes the program"
##### System information (version)

- OpenVINO=> 2020.4
- Operating System / Platform => Linux 64 Bit
- Compiler => GCC 10
- Problem classification => Model Loading
- Framework => TensorFlow

##### Detailed description

I have a TensorFlow frozen graph model, and I can convert it to OpenVINO IR model successfully, but when I was loading model weights using `CNNNetReader::ReadWights`, the program c

[2020-08-20 11:45] Fly-Key opened #1884 "[Download a Trained Model problem][connection error]"
#### System information (version)

- OpenVINO=> :  2020.4
- Operating System / Platform => : CentOS Linux release 7.8.2003 (Core)
- Compiler => : g++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)
- Problem classification => : Download a Trained Model problem

#### Detailed description && Steps to reproduce

When I prepareing a Model for Sample Inference, I Installed the [prerequisites](https://github.co

[2020-08-20 12:14] jgespino commented on #1854
Hi @Fly-Key

Glad you were able to figure it out! As noted in the build instructions, the Intel® Graphics Compute Runtime for OpenCL™ Driver needs to be installed. Did you have that installed? Do you need to enable GPU Plugin?

Regards,
Jesus

[2020-08-20 13:54] jgespino commented on #1818
Hi @yrzhanov

Try building OpenVINO from source in Debug and the PDB files should be generated under `bin\intel64\Debug`. Make sure to checkout the 2020.4 tag after cloning the repository.

`git checkout 2020.4`

Regards,
Jesus

[2020-08-20 14:02] lazarevevgeny commented on #1801
@davodogster, OpenVINO doesn't support conversion of TF2ODAPI models as of now. But we consider adding support for them in the future releases.

[2020-08-20 14:05] lazarevevgeny commented on #1755
The support for DetectionOutput operation with 5 inputs has been added to the CPU plugin. Take a look: https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/src/mkldnn_plugin/nodes/detectionoutput.cpp! It will be available in the official 2021.1 package of OpenVINO, but you can clone the repository and compile it from sources! Enjoy!

[2020-08-20 14:05] #1755 closed

[2020-08-20 14:08] lazarevevgeny commented on #1715
@linhaoqi027, please, post your questions on stackoverflow instead of creating an issue in the github.

[2020-08-20 14:08] #1715 closed

[2020-08-20 14:13] yrzhanov commented on #1818
Hi Jesus,
the PDB files are created there allright. I'm reporting a different issue. Once I build a Debug version (CMakePredefinedTargets/ALL_BUILD) and then use INSTALL, all the LIBs and DLLs end up in deployment_tools\inference_engine\lib\intel64\Release folder rather than in deployment_tools\inference_engine\lib\intel64\Debug, although they have "d" in names (like in "inference_engined.lib").

[2020-08-20 14:30] lazarevevgeny commented on #822
@ericxsun , OpenVINO 2020.4 has limited support of TF 2.X. No exact plans for a full support.

[2020-08-20 14:44] lazarevevgeny commented on #491
@rohit167, could you try to follow the instruction here https://github.com/openvinotoolkit/openvino/blob/master/docs/MO_DG/prepare_model/convert_model/mxnet_specific/Convert_GluonCV_Models.md to convert the model?

[2020-08-20 16:26] lazarevevgeny commented on #497
@rkazants , this should probably solve the issue 36906.

[2020-08-20 20:54] davodogster commented on #1801
Hi @lazarevevgeny , Thanks! Great to hear that. Look forward to using that functionality in the future.

[2020-08-21 04:19] #1854 closed

[2020-08-21 04:26] Fly-Key commented on #1884
Hi @jgespino,
As you said, my network was blocked. I added some configurations to the /etc/hosts file and successfully solved the problem. Thank you again.

[2020-08-21 07:35] EFanZh opened #1889 "[Feature Request] Support specifying output port of placeholders as inputs"
##### System information (version)

- OpenVINO=> 2020.4
- Operating System / Platform => Linux 64 Bit
- Compiler => GCC 10
- Problem classification => Model Conversion
- Framework: TensorFlow

##### Detailed description

Currently, I can specify a placeholder operation as input, but not the output of that placeholder.

##### Steps to reproduce

Run this Python script:

[code]

Currently, this scri

[2020-08-21 08:09] #1884 closed

[2020-08-21 08:16] lazarevevgeny commented on #1540
@avasbr, Model Optimizer is not responsible for adding more operations to the graph when converting the model, so you need to update the original framework model and insert needed operations.

The `add_output` function will not help in this case also, because it allows just to specify the intermediate node of the graph as output and do not allow to add new operations. And it is not possible to dec

[2020-08-21 09:21] Werni2A opened #1893 "NCS2 freezes after inference"
##### System information (version)

- myriadPlugin => 2.1
- OpenVINO => 2020.4.0-359-21e092122f4-releases/2020/4
- Operating System / Platform => Ubuntu 18.04.5 LTS
- Compiler => g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
- Problem classification: Inference

##### Detailed description
When running an inference on my NCS2 it freezes before the program can end. The strange thing is that I can perform m

[2020-08-21 11:27] #1893 closed, assigned to nobody

[2020-08-24 03:07] x1aoo opened #1900 "[url missing]"
Hi,

In the document of [benchmark](https://github.com/openvinotoolkit/openvino/tree/master/tools/benchmark), the URL of [Introduction to Performance Topics](https://github.com/openvinotoolkit/openvino/blob/master/tools/benchmark/docs/IE_DG/Intro_to_Performance.md) in section Running is missing.

[2020-08-24 08:29] ilya-lavrenov commented on #1900
@x1aoo could you please provide a patch with such fix?

[2020-08-24 08:37] wangzhenyu32 opened #1907 "[Bug] python3 mo.py --version can not print the version result"
python3 mo.py --version
Version of Model Optimizer is:

[2020-08-24 08:41] ilya-lavrenov commented on #1876
@EFanZh could you please try this on master? It does not contain such code with `noexcept` for IR v10 reading.

[2020-08-24 09:09] ilya-lavrenov commented on #1818
@yrzhanov could you please try to play with https://github.com/openvinotoolkit/openvino/blob/master/cmake/developer_package.cmake#L41-L45 and fix the issue?

[2020-08-24 09:10] ilya-lavrenov commented on #1733
@xiaoxial can we update C sample to demonstrate batch usage?

[2020-08-24 10:49] DuckJ opened #1911 "BiLSTM convert into openvino model, when batchsize > 1, can't load model to device"
I used the pytorch code [crnn](https://github.com/meijieru/crnn.pytorch/blob/master/models/crnn.py) and the cnn backbone change as mobilenet v3 large 1.0,  to train a ocr recognition model, the input size is set (1,1,,32,100), and convert into onnx model successfully, although there is a warning about lstm batchsize. I think it is caused by the following source code
`class BidirectionalLSTM(nn.Mod

[2020-08-24 10:51] DuckJ commented on #1911
Model Optimizer version is 2020.1.0-61-gd349c3ba4a

[2020-08-24 10:56] xiaoxial commented on #1733
Does the batch usage means multiple inputs with one infer request or multiple infer requests? The  C++ sample  hello_reshape_ssd  demonstrates how to  do multiple inputs inference with one infer request.

[2020-08-24 11:33] dkurt commented on #817
Java bindings are now in aster branch. Looking forward for any feedback.

[2020-08-24 12:36] jgespino commented on #1900
Hi @x1aoo

You can find the Introduction to Performance Topics at the following link:
https://github.com/openvinotoolkit/openvino/blob/master/docs/IE_DG/Intro_to_Performance.md

As @ilya-lavrenov mentioned, could you try to submit a patch? See [Contribute to Documentation](https://github.com/openvinotoolkit/openvino/blob/master/CONTRIBUTING_DOCS.md#edit-existing-document) guide.

Regards,
Jesus

[2020-08-24 13:40] jgespino commented on #1907
Hi @wangzhenyu32

Thank you for reporting, I was able to reproduce on release 2020.3 and 2020.4. I've opened a bug for the development team to take a look.

Regards,
Jesus

Ref. 37816

[2020-08-24 14:08] nmVis commented on #1858
Hi @dmitryte!

I'm using OpenVINO 2020.4.

I could do that one. However, I've already tried to use the same XML and .json files (just changed the dataset) for calibrating the OpenVINO's fp32 reidentification model I've mentioned earlier and the mobilenet model that is also mentioned earlier.

I got performance improvement for OpenVINO's fp32 reidentification model while I get no improvement for th

[2020-08-24 15:58] ifadams commented on #1733
@xiaoxial

I'm referring to multiple inputs within a single request. I did see the C "hello_reshape" example had multiple inputs, but it was not clear to me what (if anything) was specific and idiomatic to that example versus a basic inference like the "hello_inference" examples.

[2020-08-24 15:58] jgespino commented on #1471
Hi @nmVis

Thank you for providing the additional information and steps. I was able to reproduce on 2020.4 with the face-detection-0102 FP16-INT8 model. I am checking with my peers for additional assistance.

Regards,
Jesus

[2020-08-25 01:18] DuckJ commented on #436
@Hubert2102 I have same problem, https://github.com/openvinotoolkit/openvino/issues/1911, can you give me some advice

[2020-08-25 01:32] DuckJ commented on #436
@lazarevevgeny @itikhono  can you give some advice? Only when batch_size is specified in model_optimizer, and the input size keep same as the batchsize, the output will look normal.

[2020-08-25 05:52] x1aoo commented on #1900
Hi,

Thanks for the guide and links @jgespino. And I already submit the patch @ilya-lavrenov

Regards,
Xiao

[2020-08-25 05:52] #1900 closed

[2020-08-25 06:16] DuckJ commented on #436
I try to change the batchsize  and reshape the model ,not using the network.setBatchsize, same error .

[2020-08-25 08:01] JulienMaille commented on #501
@dkurt asked me to benchmark 2020.4 and it is unfortunately the same speed as 2020.r3

[code]

[2020-08-25 13:10] mortyone commented on #500
Following these instructions

Following this with the latest Buster (May 2020), cmake throws this error:

home/pi/openvino/inference-engine/temp/protoc-3.7.1-linux-x86_64/bin/protoc: 1: /home/pi/openvino/inference-engine/temp/protoc-3.7.1-linux-x86_64/bin/protoc: Syntax error: word unexpected (expecting ")")
CMake Error at ngraph/cmake/external_protobuf.cmake:59 (string):
  string sub-command REPL

[2020-08-25 14:53] jgespino commented on #1911
Hi @DuckJ,

Thanks for reaching out! It looks like you are using an older release of the OpenVINO toolkit. Could you try the latest release (2020.4) and see if the issue is still present?

Regards,
Jesus

[2020-08-25 16:48] jgespino commented on #1691
Hi @ZongqiangZhang

We would like to further understand the use case. Is there any specific issues that are not allowing you to convert your TensorFlow model to OpenVINO IR format using the model optimizer?

Regards,
Jesus

[2020-08-26 01:14] DuckJ commented on #1911
@jgespino Thanks for your reply, my  target device is linux Red Hat 4.8.5, I used gcc 4.8.5 to build my project.

[2020-08-26 01:38] hongrui16 opened #1939 "onnx resize operation form opset 12 is not supported"
Greetings,

First and foremost, before converting you can check which layers are supported by openvino here:

https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html

If you take on closer look at the ONNX Supported operator & go to the resize section, you can see the OPSET that are supported.

So far and as you mentioned, only the OPSET version 10 are su

[2020-08-26 01:38] #1939 closed

[2020-08-26 06:40] DuckJ commented on #1911
@jgespino I tried the latest release (2020.4) version, the error is
`terminate called after throwing an instance of 'InferenceEngine::details::InferenceEngineException' what(): Incorrect shape of state ports for layer 891/Split/forward/LSTMCell_sequence`
the error in 2020.1 is
`Incorrect shape of state ports for layer 891/Split/reverse/LSTMCell_sequence``

[2020-08-26 08:13] devipramita opened #1941 "Cannot read model format : XML"
Hi,

I have Openvino 2020.4.287 in my Ubuntu 18.04. When I'm running my code using openvino, i got this error

`RuntimeError:` Unknown model format! Cannot find reader for model format: xml and read the model: ./<DIR>/model.xml. Please check that reader library exists in your PATH.

Anyone can help? Thank you

[2020-08-26 08:29] brmarkus commented on #1941
Looks like your model was created/converted by an older OpenVINO version, or downloaded from open-model-zoo some time ago using a "download.py" of an older OpenVINO version: IR7 versus IR10 ?

Is this your own model, or can you download/convert it again using OpenVINO 2020.4?

[2020-08-26 11:34] AlexKoff88 commented on #1858
Hi @dmitryte,

I suggest simplifying the POT config to the following one:

[code]

BTW, what CPU model do you use?

[2020-08-26 14:12] nmVis commented on #1858
Hi @AlexKoff88 ,

The CPU I'm using is Intel i7-8750H CPU @ 2.20GHz.

[2020-08-26 15:14] srivastava-ayush opened #1956 "RuntimeError: AssertionFailed: input->desc().numDims() == output->desc().numDims()"
Hi
I am running Neural Compute stick 2 on a latte panda board(OS: ubuntu 18.04.3). I am getting the following error "RuntimeError: AssertionFailed: input->desc().numDims() == output->desc().numDims()". I am running 2 models together one involving CNN and other LSTM, output of CNN model acts as an input to LSTM model. When I use CPU plugin, both model works fine but while using MYRIAD, LSTM model t

[2020-08-27 14:06] lazarevevgeny commented on #436
@jane-intel , could you take a look at this reshape related issue?

[2020-08-27 14:23] jgespino commented on #1956
Hi @srivastava-ayush

Thanks for reaching out! Are both of these custom model? Have you checked that all layers are supported on MYRIAD (Plugin for Intel NCS 2) using the QueryNetwork from the Inference Engine? See the following support article: https://www.intel.com/content/www/us/en/support/articles/000057238/software/development-software.html

Would it be possible to share your model and simple

[2020-08-27 14:45] jgespino commented on #1480
Hi @mhkabir @leoll2

The dev team is looking into your model and layer softmax named "435" with axis param = 1 and shape {N: 8112, C: 1} (softmax by axis C with size 1)  looks strange as it produces an output tensor filled by 1. Could you confirm if this is the expected behavior?

Regards,
Jesus

[2020-08-27 15:05] leoll2 commented on #1480
Hi @jgespino , thanks for investigating our issue.
In our object detector, that softmax layer is responsible for predicting the class; since we have only one class in our applications, it makes sense that it always predicts, i.e. the network is always 100% sure that the object belongs to that specific class, if it's actually an object (objectness is instead the output of the sigmoid nearby).
Might

[2020-08-28 09:29] wangzhenyu32 commented on #1618
Can you close the issue until the issue be resolved or you ignore the issue? According to the situation, I can not find the Package on the PypI

[2020-08-28 10:08] srivastava-ayush commented on #1956
Hi jesus
Thanks for your reply
Yes, both are custom models. I am getting following layers as unsupported using query network

['separable_conv1d_input', 'lstm/while/Enter_3/Output_0/Data__const', 'lstm/while/Enter_2/Output_0/Data__const', 'lstm/strided_slice_7/Cast_31406_const', 'lstm/strided_slice_7/Cast_21404_const', 'lstm/strided_slice_7/Cast_11402_const', 'Constant_9789', 'Constant_9767', 'Con

[2020-08-28 20:22] Werni2A commented on #1907
Looks like `openvino/model-optimizer/version.txt` that contains the necessary info was removed in commit `72660e9a4d683dc6a0c50e9fad96e59b7edd1f71`

The original content was:
[code]

I hope this helps :)

[2020-08-31 07:59] ilyachur commented on #1307
Hi,

The problem is that MO generates incorrect IR.
Because prototxt contains the next code:
[code]
H and W dimensions is too small, it cause the issue.

You can use the next command line to generate the right IR:
[code]
The shape specialization allows to resolve this ticket.

[2020-08-31 08:26] NotMorven commented on #1802
Hi @dmitryte @jgespino
Sorry, it's been a long time. I have updated OpenVINO to 2020.4. And the accuracy_checker file(bert_base_squad_1_1_tf_int8.yml) confused me. How can I make **'datasets' part** fit in with my own datasets. The BERT model is used for text classification tasks, followed with a linear layer, in my situation.
[code]
**Or is there a way to directly quantify the BERT model without

[2020-08-31 08:37] maxlytkin commented on #1756
Closing this case. Please feel free to re-open or start a new issue if additional assistance is needed.
Thank you.

[2020-08-31 08:37] #1756 closed

[2020-08-31 08:39] maxlytkin commented on #1568
Closing this case. Please feel free to re-open or start a new issue if additional assistance is needed.

[2020-08-31 08:39] #1568 closed

[2020-08-31 12:56] jgespino commented on #1618
Hi @wangzhenyu32 As I previously mentioned in my response, Pip is being considered by the Development team and we have just added APT, YUM and Anaconda Cloud. I will re-open the issue.

[2020-08-31 13:00] carlosost opened #2014 "C++ Runtime Model Optimization"
I will distribute my solution with the models and weights, but I would like to keep them encrypted.

Is there a way to run the Model Optimizer within a C++ context, keep the generated IR in memory and use it as parameter to the function `ReadNetwork`? So, at the end I have two main questions here:

1. Is there a way to run Model Optimizer using C++ ?
2. Is there a `ReadNetwork` function that recei

[2020-08-31 13:06] yury-gorbachev commented on #2014
Any reason you cannot encrypt/decrypt IR directly?
Thanks,
/Yury

[2020-08-31 13:07] yury-gorbachev commented on #2014
Did mean to send this link as well:
https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_protecting_model_guide.html

[2020-08-31 13:32] carlosost commented on #2014
Yury,

There is no reason I can not encrypt IR directly. My question was broad to cover all the possibilities I foresee and then, avoid create a long thread. I think it worked, since your contribution seems to be the answer I was looking for.

Thank you so much and I will let you know if I succeeded with this approach.

Regards.

[2020-08-31 13:35] yury-gorbachev commented on #2014
OK, I was thinking maybe there is some restriction in terms of application that forces you to keep model in original format...
Will wait for your feedback, thanks...
/Yury

[2020-08-31 17:21] jgespino commented on #1907
@Werni2A That is expected behavior for the open sourced version of the OpenVINO toolkit (GitHub). Are you using the open sourced version? The Intel® Distribution of OpenVINO™ toolkit does appear to have a bug with the `python3 mo.py --version`.

[2020-08-31 17:24] jgespino commented on #1876
@EFanZh I am closing this issue as we have not seen a response. Please re-open if additional assistance is require.

[2020-08-31 17:24] #1876 closed

[2020-08-31 17:33] Werni2A commented on #1907
@jgespino Yes, I use a self compiled build. In my case the model optimizer prints `Version of Model Optimizer is: unknown version`, I just thought it would be a similar bug. Is it still possible to add some versioning scheme to the source builds? E.g. the last commit hash or something like that. It would be nice for documentation to know which model optimizer version was used for conversion. If yo

[2020-08-31 18:35] jgespino commented on #1540
@avasbr Closing issue, please re-open if additional assistance is needed.

[2020-08-31 18:38] jgespino commented on #1480
Hi @leoll2

This should be added in the next software release. You can built OpenVINO from source once the pull request below is completed or make the changes yourself on a local build.
https://github.com/openvinotoolkit/openvino/pull/1977

Regards,
Jesus

[2020-08-31 18:55] jgespino commented on #1551
Hi @s-t-e-p-a-n-o-v

Apologies for the delay in our response. It's best to keep optimization set to Yes, this parameters is only intended to be used for internal debugging. We are working on updating the documentation and API.

If your model is working good with the optimization set to Off it should be okay. I have passed your model and test code for the development team to further inspect, howeve

[2020-09-01 03:35] tangtang666 opened #2025 "[Bug]opencv 4.4.0 build with openvino can't load model."
##### System information (version)

I had built a opencv with openvino.and used it to load the openvino model in vc2019,but I get the follow error.This model can run in mac or linux,I had link format_reader.lib opencv_world440.lib inference_engine.lib. if any lib I not link?
**Unknown model format! Cannot find reader for model format: xml and read the model: C:\Users\ASUS\Documents\openvino_app\mo

[2020-09-01 05:05] whatisor commented on #1755
@lazarevevgeny , can I use old version ( latest official release version) of tools (https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_Tools_Overview.html) to work on the model which has "DetectionOutput operation with 5 inputs" for cpu optimization?

[2020-09-01 05:13] lazarevevgeny commented on #1755
@whatisor , I am not 100% sure but I think that tools should work.

[2020-09-01 06:43] whatisor commented on #1802
Same question for me :
"Or is there a way to directly quantify the BERT model without accuracy_checker part(engine part), when using DefaultQuantization algorithm?"

Why do we need to force user to do with accuracy_checker??

[2020-09-01 07:44] whatisor commented on #1755
@lazarevevgeny , do you have any suggestion for these error?
I got this error while try using above way:
`INFO:app.run:Output log dir: ./results/mobilenet-ssd_MinMaxQuantization/2020-09-01_07-37-35
INFO:app.run:Creating pipeline:
 Algorithm: MinMaxQuantization
 Parameters:
        preset                     : mixed
        range_estimator            : {'preset': 'quantile'}
        stat_subset_siz

[2020-09-01 07:52] dkurt commented on #2025
Hi!

Can you reproduce the issue with OpenVINO API? Just to check if this is OpenVINO issue or OpenCV's one.

[2020-09-01 08:06] lazarevevgeny commented on #1755
@whatisor , we have removed the command line parameter 'generate_experimental_IR_V10' after the 2020.4 release. But I see that you use 2020.4 release of OpenVINO MO and I am confused. Did you modify some MO files manually?

[2020-09-01 09:08] tangtang666 commented on #2025
Hi, thanks for your reply.If I use the opencv where it in openvino directory，it work，but it not easy to deploy，that link to many lib and need to setupvars.bat first。Are there any easy ways to deploy it in Windows 10.

[2020-09-01 15:13] dkurt commented on #1330
Hi! Please try this fix: https://github.com/openvinotoolkit/openvino/pull/2030

[2020-09-01 15:14] dkurt commented on #1564
Hi! Please try this fix: https://github.com/openvinotoolkit/openvino/pull/2030

[2020-09-01 21:16] leoll2 commented on #1822
Hi @dkurt and @jgespino !
Any update on this?

[2020-09-02 04:10] potatozrollin opened #2036 "OpenVINO 2020.1 error when compiling on OpenCV for RPi Stretch with NCS2"
Hi I was trying to the dockerfile provided by @dkurt in https://github.com/openvinotoolkit/openvino/issues/411 to compile opencv with openvino inference engine when I ran into the error below. Would really appreciate if anyone has a solution for it
[code]

In Cmake I used:
[code]

Thank you!

[2020-09-02 04:32] dkurt commented on #2036
Which OpenVINO is used? Please take a look at experimental https://github.com/dkurt/vineyard/ to build OpenVINO for RPI.

[2020-09-02 04:36] dkurt commented on #2025
Well, please try prebuilt OpenCV with IE binaries this way: https://github.com/opencv/opencv/releases (dldt suffix).

[2020-09-02 06:30] dkurt commented on #2036
So, you need to copy `libngraph.so` as well

[2020-09-02 06:32] potatozrollin commented on #2036
sorry but am abit confused, the `libngraph.so` should be copied to `/usr/local/lib/python3.5/dist-packages/cv2`? thank you so much for your help!

[2020-09-02 06:52] dkurt commented on #2036
@potatozrollin, `libngraph.so` should be found by Python somewhere in the following paths: `python3 -c "import sys; print(sys.path)"`.

[2020-09-02 09:20] tangtang666 commented on #2025
yeah, it work,and I find the miss library,if miss the inference_engine_ir_reader.dll,i can get this error.But the library whice use to   inference by openvino is too big, it all need almost 90M.

[2020-09-02 12:26] dmitryte commented on #1471
The team is looking into this issue.

38315

[2020-09-02 12:48] ilya-lavrenov commented on #1471
@nmVis is the issue producible with non-int8 network? Could you please build with debug information and provide complete logs? Currently, your logs cannot be read

[2020-09-02 12:52] nmVis commented on #1471
Hy @ilya-lavrenov,

the issue is not existent on the fp32 network. Do you need the logs with this information in mind?

[2020-09-02 13:05] ilya-lavrenov commented on #1471
@nmVis your logs contains `???` instead of actual stack traces, which make hard to understand where the issue is located

[2020-09-02 13:43] nmVis commented on #1471
@ilya-lavrenov  oh, these `???`. I don't know how come they are here since I've included the `-g` flag in it.

[2020-09-02 14:43] potatozrollin commented on #2036
@dkurt Awesome it worked! Thank you so much! But I seem to run into another error:

[code]
I am trying to run an optimized model that was generated from my pre-trained caffemodel using `py mo_caffe.py` on my windows machine.  May I know if you have seen such an error before?

Thank you so much again!

[2020-09-02 17:37] jgespino commented on #1543
Hi @Meadosc

Pull request has been submitted, thanks again for reporting.
https://github.com/openvinotoolkit/openvino/pull/2046

Regards,
Jesus

[2020-09-02 17:37] #1543 closed

[2020-09-02 17:40] jgespino commented on #1818
@yrzhanov Did you get a chance to play with the cmake file?

[2020-09-02 17:49] jgespino commented on #1907
Hi @Werni2A

There is another discussion about the versions from open source OpenVINO here: https://github.com/openvinotoolkit/openvino/issues/1435
Please also follow and add your input.

Regards,
Jesus

[2020-09-02 18:07] jgespino commented on #1956
@srivastava-ayush Could you share your models and command given to Model Optimizer? Feel free to share private via email.

Regards,
Jesus

[2020-09-02 18:15] jgespino commented on #1911
@DuckJ Let me check with my peers and get back to you.

Regards,
Jesus

[2020-09-02 21:24] alalek commented on #1543
This request is wrong.

Mentioned lines are about "attach the following boilerplate notice".
OpenVINO uses SPDX approach instead.

see also https://github.com/openvinotoolkit/openvino/pull/1923#issuecomment-679625565

[2020-09-03 03:16] potatozrollin opened #2052 "ngraph::NodeValidationFailure when loading IR model"
Hi decided to open a new thread as the error is different from the NCS compiling issue I had. Would really appreciate if anyone can give some tips on the error!

@dkurt Sorry to disturb again but I seem to run into another error when trying to load the model via `net = cv2.dnn.readNet(xmlFile, binFile)`:

[code]
I am trying to run an optimized model that was successfully converted from my pre-trai

[2020-09-03 03:16] potatozrollin commented on #2036
Closing the issue as it has been resolved! Thank you so much for your help!

[2020-09-03 03:16] #2036 closed

[2020-09-03 08:50] dkurt commented on #2052
Please always specify source code commits hashes or libraries versions.

[2020-09-03 11:41] manuiiitv commented on #88
@AnastasiaKazantaeva, @AnnaRose0226, @lazarevevgeny, @Code-Fight  Here is my issue,

Intel openvino version used in deployment setup **openvino_2020.1.023**.
Openvino engines for detection models created on Machine M1.

Deployment Setup 1 :: machine M2
Deployment Setup 2 :: machine M3

CPUs of machine M1, M2 and machine M3 are different.

Everything is same on Deployment setup machines like all th

[2020-09-03 11:49] manuiiitv commented on #2052
@dkurt @potatozrollin @cepera @wistal @cpriebe
Intel openvino version used in deployment setup openvino_2020.1.023.
Openvino engines for detection models created on Machine M1.

Deployment Setup 1 :: machine M2
Deployment Setup 2 :: machine M3

CPUs of machine M1, M2 and machine M3 are different.

Everything is same on Deployment setup machines like all the version of the dependencies required and

[2020-09-03 11:55] manuiiitv commented on #1307
Intel openvino version used in deployment setup openvino_2020.1.023.
Openvino engines for detection models created on Machine M1.
@Laubeee @ilyachur @jgespino @dkurt @dmitryte
Deployment Setup 1 :: machine M2
Deployment Setup 2 :: machine M3

CPUs of machine M1, M2 and machine M3 are different.

Everything is same on Deployment setup machines like all the version of the dependencies required and o

[2020-09-03 13:39] nmVis commented on #1471
@ilya-lavrenov I'd like to help you regarding the logs, but I can't remove these `???`. I've built the example with debug info flag (`-g`) but these `???` are still present. Have you tried to build it on your side? Maybe it is something machine specific. I'm using VM for this one so this could interfere with it.

[2020-09-03 13:39] nmVis commented on #1858
@AlexKoff88 do you have any news regarding this one?

[2020-09-03 13:54] natxopedreira commented on #1330
Thank you @dkurt !!

[2020-09-03 14:06] AlexKoff88 commented on #1858
@nmVis, have you tried simplified configuration file from above?

I would even suggest using "preset" "performance" instead of "mixed", like here:

[code]

[2020-09-03 14:13] jgespino commented on #1907
Fix has been merged into master branch. See https://github.com/openvinotoolkit/openvino/pull/2022

[2020-09-03 14:13] #1907 closed

[2020-09-03 14:35] nmVis commented on #1858
Thanks for the answer @AlexKoff88 , I'll try it first thing tomorrow morning and let you know about the results.

[2020-09-03 14:38] ilya-lavrenov commented on #1471
CC @asomsiko to help

[2020-09-03 15:17] dmitryte commented on #1911
@DuckJ hi! Can you send out your onnx and IR models, please?

[2020-09-03 17:33] asomsiko commented on #1471
Memory leak reproduced with AddresSanitizer:

1. Build with `-DENABLE_SANITIZER=ON`
2. ```LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libasan.so.4:/usr/lib/x86_64-linux-gnu/libstdc++.so.6:lib/libMKLDNNPlugin.so ./benchmark_app -m face-detection-0102.xml -nireq 1 -niter 1```

Memory allocated by post_ops_t::append_quantization is never freed

Suspected code: https://github.com/openvinotoolkit/oneDNN/blob/

[2020-09-04 02:41] whatisor commented on #1755
@lazarevevgeny  I am using openvino-master source and compile it to support 5 input for CPU ( successfully).
However I do not find /deployment_tools/tools/post_training_optimization_toolkit from this compilation. So I try to reuse tools from openvino_2020.4.287 then gettting above issue.
Where do you store post_training_optimization_toolkit  in master branch?

[2020-09-04 05:51] potatozrollin commented on #2052
I have tried the native API and obtained the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "ie_api.pyx", line 261, in openvino.inference_engine.ie_api.IECore.read_network
  File "ie_api.pyx", line 293, in openvino.inference_engine.ie_api.IECore.read_network
RuntimeError: Check 'window_dilated_dim <= data_padded_dilated_dim' failed at /home/jenkin

[2020-09-04 06:41] potatozrollin commented on #2052
I found my solution in https://github.com/openvinotoolkit/openvino/issues/1307 - thank you so much for your help :)

[2020-09-04 06:41] #2052 closed

[2020-09-04 06:43] lazarevevgeny commented on #1755
@AlexKoff88 , is POT available on github?

[2020-09-04 07:02] AlexKoff88 commented on #1755
No. It is not open-sourced and distributed under Intel proprietary license.

[2020-09-04 07:07] whatisor commented on #1755
in that case, I cannot use your latest source with old POT?

[2020-09-04 07:13] ballchuuu opened #2068 "Second openvino call always laggy on Myriad (NCS stick 2)"
Hi,

I have the following code snippet below. However, after invoking it the second time on my command line (i.e. `python3 file.py`), it will take 400s for inference compared to the first time which takes 30s. May I know why? Would I have to clear the memory on my NCS stick first?

Also is it normal that my NCS stick is taking longer than the time my RPI 3B+ (without NCS stick) takes to complete t

[2020-09-04 08:39] potatozrollin commented on #1307
Can I ask if by any chance the this IR model took very long to infer (e.g. 300s) when you ran it on Intel NCS2 stick? Thank you!

[2020-09-04 08:51] dkurt commented on #2068
Please follow issue creation guidelines and provide all necessary details: OpenVINO/OpenCV version, HW spec (is that observed only on RPI3 ?). Please report bugs properly.

[2020-09-04 08:52] dkurt commented on #2025
Can we close this issue?

[2020-09-04 09:06] ballchuuu commented on #2068
OpenVino/opencv version = "4.4.0-openvino"
Installed: 2020.4.287 version

HW Spec: Rpi 3B+, Raspbian Stretch

Sorry and thanks!

[2020-09-04 09:13] dkurt commented on #2068
Please localize time estimation - measure only inference part.

400 seconds?

[2020-09-04 09:42] ballchuuu commented on #2068
Yes the inference took 400 seconds with the IR Model and NCS stick 2.

[code]

[2020-09-04 09:59] nmVis commented on #1858
@AlexKoff88 I'm sorry to be the bearer of bad news, but this one didn't show any speed improvements.

Any other ideas?

[2020-09-04 10:33] AlexKoff88 commented on #1858
Then we should look at it on our side. @nmVis, can you please provide a MO command that you used to convert ONNX model and get OpenVINO IR?

[2020-09-04 10:34] dkurt commented on #2068
Which input resolution is used?

I'd like to recommend to take a look at https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/human-pose-estimation-0001. 400 seconds is something you probably not going to work with :)

[2020-09-04 11:13] ballchuuu commented on #2068
The resolution is frame size rounded up from 720x480 to 736x480
  width, height, fwidth, fheight)))

I need the hand keypoint pose estimation (i.e. including fingers and palm) but the pretrained one only offers the body one! Is there by any chance one for hand keypoint detection?

Also find it weird as I can achieve 30 seconds when I tried to run the model using the native API (i.e. IECore)

Thank

[2020-09-04 11:14] nmVis commented on #1858
The command I've used is:
```python mo.py --input_model mobilenetv2-7.onnx```

[2020-09-04 11:23] Laubeee commented on #1307
That model will then only be able to process 600x600 images? or will it be able to adapt to different sizes?

@manuiiitv how different are they? are the values somewhat alike or completely different? Could it be a precision thing, e.g. one machine supports lower precision and therefore faster execution, while the other doesn't?

@potatozrollin 600x600 is quite big for this model, so for a (weak?)

[2020-09-05 08:16] potatozrollin commented on #1307
Hmm I tried using the 600 x 600 and the results seem to be really different from the original caffemodel. Did you run into this as well when you tried? @manuiiitv @Laubeee

[2020-09-06 12:45] Tai-Min opened #2092 "[Bug] Crash on InferenceEngine::Core::ReadNetwork when trying to read siamese model"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2019
- Problem classification: Crash on InferenceEngine::Core::ReadNetwork
- Framework: TensorFlow 2.0
- Model name: SiamFC

##### Detailed description
I have created simple fully convolutional network for object tracking.  Model Optimizer creates IR model successf

[2020-09-07 02:41] ZongqiangZhang commented on #1691
@jgespino

Thanks for your response. Converting Tensorflow model to OpenVINO IR works well, just like other frameworks.  It would be much easier to use if we can directly run tensorflow with Openvino acceleration.

[2020-09-07 08:50] ShidiDaisy opened #2095 "Convert ONNX model to OpenVINO"
# Ask a Question

### Question
Hi, I'm trying to use OpenVINO toolkit to convert an ONNX pretrained model from [here](https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/faster-rcnn/model/FasterRCNN-10.onnx). Steps are from [here](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_ONNX.html)
But when I ran the comm

[2020-09-07 09:03] ilya-lavrenov commented on #2092
@Tai-Min could you please attach IR file? It would speed-up an investigation

[2020-09-07 12:50] alrzmshy opened #2109 "VPU optimization and MYRIAD inference results"
Hi,

I have two question on inference using MYRIAD. It is explained [here](https://www.intel.com/content/www/us/en/support/articles/000056285/boards-and-kits/neural-compute-sticks.html) that  `VPU_HW_STAGES_OPTIMIZATION` should be set off for getting the right results.

What is the purpose of having `VPU_HW_STAGES_OPTIMIZATION` if setting it to 'YES' leads to poor performance?

Also, I have seen t

[2020-09-07 18:30] Tai-Min commented on #2092
Sure, all files from mo.py are attached.
Files were received using 👍
`mo.py --saved_model_dir model.tf --scale 255 --output_dir  ./IR_model --model_name tracker_cnn`

[IR_model.zip](https://github.com/openvinotoolkit/openvino/files/5184540/IR_model.zip)

[2020-09-07 18:32] #1473 closed

[2020-09-08 03:42] Fatinnadiah opened #2119 "Import error while using OpenVINO Deep Learning Workbench"
OpenVINO version: openvino_2020.4.287
Operating System: Ubuntu 18.04

Hi, I have a FP16 model for face mask classification. I want to convert the model into INT8 model using OpenVINO Workbench. I can convert the model into INT8 model but using not annotated dataset and I get very low accuracy from 98% on using FP16 to 75% on using INT8. With not annotated dataset, I cannot control the AccuracyAwar

[2020-09-08 04:58] raushan2767 commented on #2119
Hi,
For ImageNet classification dataset format your annotation.txt file should contain name of image and corresponding label id.
For ex:- mask10.jpeg 1
             withoutMask11.jpeg 0
for above example 0,1 if u have two classes.
![imagenet_dataset](https://user-images.githubusercontent.com/65812965/92434666-0e0c7880-f1be-11ea-80c8-c5fbc2a3d61e.JPG)

[2020-09-08 06:04] Fatinnadiah commented on #2119
Hi,
Thank you for response. Now I can load the dataset using ImageNet format

[2020-09-08 08:25] Fatinnadiah commented on #2119
Hi, now I'm converting the FP16 model to INT8 using ImageNet dataset format. Is it normal the conversion time took so long? Because I left it for almost 2 hours already.
And I still cannot import an annotation dataset

[2020-09-08 09:31] brmarkus commented on #2119
Conversoin could take longer, depending on which machine you are using, plus depending on whether you are using the default-mode or accuracy-aware-mode.
On my Intel-Core-i9 (10 cores plus hyper-threading) I saw conversions could take multiple hours for bigger networks - or minutes for smaller/easier ones.

[2020-09-08 11:56] maxlytkin commented on #2068
@ballchuuu
The closest one to your request would be [ASL Recognition model](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/asl-recognition-0004/description/asl-recognition-0004.md). I think it should be pre-trained on hand gestures.
And do you see the same second call slow operation behavior when you run your model and input with [Benchmark_app](https://docs.openvinotoo

[2020-09-08 12:43] maxlytkin commented on #2095
@ShidiDaisy
Try this
`python3 mo_onnx.py --input_shape=[1,3,800,800] --input "0:2"`
I also have to say this model is not presented in the list of Model Optimizer validated ONNX topologies - https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_ONNX.html

[2020-09-08 13:07] maxlytkin commented on #2109
@alrzmshy
This is being considered as a bug and we might expect this to be fixed soon later.
The option VPU_HW_STAGES_OPTIMIZATION exists for debug purposes. When you turn it off, all the hardware acceleration gets disabled for the model. It might affect various characteristics like accuracy, memory requirements, and performance.
As for the HW pooling, where did you get these lines from?

[2020-09-08 13:13] alrzmshy commented on #2109
Thank you for your response.

When I tried to look for a documentation on VPU_HW_STAGES_OPTIMIZATION, I found those lines [here](https://github.com/openvinotoolkit/openvino/blob/7566e8202fa6c00f27de27889e7bf99d7ddf2636/inference-engine/tests_deprecated/functional/vpu/common/layers/myriad_layers_rfcn_test.cpp#L691).

[2020-09-08 15:55] maxlytkin commented on #2092
@Tai-Min
There's a failure with the model at least (not yet considering your script code), because it shows an error even with Benchmark app. The output is below.
Looks like converted network contains incorrect weights {6,1,6,256} for convolution layer.

`python3 benchmark_app.py -m ~/Downloads/tracker_cnn.xml
[Step 1/11] Parsing and validating input arguments
/opt/intel/openvino_2020.4.287/python

[2020-09-08 22:13] Tai-Min commented on #2092
Whoops, there was typo in the script, should be `return tf.squeeze(result, -1)` instead of `return tf.squeeze(result, 0)`. Fixed it in my first comment. Now it is working as expected in Tensorflow (returning 1x17x17 score map) but still crashes in Inference Engine. My guess is that the Model Optimizer / Inference Engine has problems with dynamic weights as this convolution layer takes `inputs = se

[2020-09-09 09:36] tangtang666 commented on #2025
yeah,thaks.

[2020-09-09 09:36] #2025 closed

[2020-09-09 11:00] arfangeta commented on #1858
@nmVis , how do you measure performance? Using openvino benchmark tool?

[2020-09-09 11:40] maxlytkin commented on #2092
@Tai-Min
It is see the same error from Benchmark app for your newly attached model.
I don't think that Inference Engine currently supports models with dynamic weights, so the convolution layer should be Constant finally. Instead, you can try to take weights from input.

[2020-09-09 12:06] maxlytkin commented on #2109
@alrzmshy
Looking at the code it should simply disable VPU hardware acceleration as a network configuration.

[2020-09-09 12:23] nmVis commented on #1858
@arfangeta hi!

No, I measure it using the google benchmark and measuring only the inference time of the network.

[2020-09-09 13:03] helmutg opened #2147 "[Bug] Fails finding python during onnx build"
##### System information (version)
- OpenVINO => git master as of 2020-09-09
- Operating System / Platform => Debian 11 (Bullseye) amd64
- Compiler => gcc
- Problem classification: build failure

##### Detailed description
On more recent versions of Debian (and other distributions), the unversioned `/usr/bin/python` no longer exists. More specifically, the dependencies installed by `install_depend

[2020-09-09 15:32] ShidiDaisy commented on #2095
Hi @maxlytkin
Thanks for your reply. I have tried your comment, but I still got the issue regarding cannot infer shapes or values for some nodes.
`sudo python3 mo.py --input_model FasterRCNN-10.onnx --input_shape
=[1,3,800,800] --input "0:2"`

[code]
And may I double-check with you, does OpenVINO supports [MMDetection's Faster-RCNN_ResNet50_fpn model](https://github.com/open-mmlab/mmdetection/blob

[2020-09-09 16:34] ngxbac commented on #185
@elvin-nnov , I have same question as @mingzhang96 , please help us.

Thanks!

[2020-09-10 09:20] songtaoshi opened #2154 "Correct ONNX and Successful conversion to OpenVino, But FAIL generating correct results"
![image](https://user-images.githubusercontent.com/20240391/92708569-cdad2600-f388-11ea-92bd-65e82d66b510.png)
Hi, I convert my pytorch model into onnx, and check the correctness of the conversion by using onnx to do the inference.
And I also transfer the onnx to the openvino successfully, but I get wrong results (all the same).
But I do not know where I made the mistake.

here is my inference scr

[2020-09-10 09:24] songtaoshi commented on #2154
I am wondering about the version matching.

[2020-09-10 09:27] songtaoshi commented on #2154
BTW, I have "prediction" as the output of the onnx model, but when I am using python mo.py to do the conversion, it says that could not find the prediction  node

[2020-09-10 09:28] songtaoshi commented on #2154
@cepera @wistal @cpriebe @anton-potapov really hope to get some hints

[2020-09-10 11:48] maxlytkin commented on #2095
@ShidiDaisy
That's strange, I am able to convert it. Unfortunately the file is too big to attach it here.
Try the same command that I used:
`$ /usr/bin/python3 -- /opt/intel/openvino_2020.4.287/deployment_tools/model_optimizer/mo_onnx.py --input_shape=[1,3,800,800] --input "0:2" --input_model=/home/user/Downloads/FasterRCNN-10.onnx
Model Optimizer arguments:
Common parameters:
	- Path to the Input

[2020-09-10 12:01] alrzmshy commented on #2109
OK. Thank you. The name is a bit confusing though. Especially when we are in the context of deep learning pooling layers and the usual notation for height and width (HW).

[2020-09-10 18:26] jgespino commented on #2154
Hi @songtaoshi

Would it be possible to share your ONNX model for me to reproduce on my end?

Regards,
Jesus

[2020-09-10 18:29] jgespino commented on #2147
Hi @helmutg

Thanks for reaching out, the build instructions have only been validated on the following software:

It would be great if you can contribute your findings, take a look at the [How to Contribute](https://github.com/openvinotoolkit/openvino/blob/master/CONTRIBUTING.md) section.

Regards,
Jesus

[2020-09-11 05:57] songtaoshi commented on #2154
Are there any insight? I would like to try first.
[code]
I use the command but it seems that the docker cannot be visited by this port.
It still tells me that

[2020-09-11 07:08] songtaoshi commented on #2154
Are there any other hints?  I would like to try first, and BTW, this is an automatic speech processing task, the input is an audio signal, the model input is a processed feature, the shape is (batchsize, feature, timestep) (1,64,352) . I see there is requirements for RGB channel (CV task), are there any shape requirement?

[2020-09-11 08:15] Werni2A opened #2181 "Loading model into NCS2 results in error"
##### System information (version)

- OpenVINO => Source build (latest commit ef2581d5c623f78de5913f96fac3de8fd3a5b91f) from 2020-09-10
- Operating System / Platform => Ubuntu 20.04
- Compiler => g++ 9.3.0
- Problem classification: Model Conversion / Loading Model
- Framework: TensorFlow 2.3.0

##### Detailed description
[Reproducer.zip](https://github.com/openvinotoolkit/openvino/files/5207484/Re

[2020-09-11 09:12] arfangeta commented on #1858
@nmVis
Openvino has a tool for measuring the speed of inference, this is a openvino benchmark tool.(https://docs.openvinotoolkit.org/2020.4/_inference_engine_tools_benchmark_tool_README.html)

I took the nasnet-mobile model from the official onnx repository for classification (your first link is attached) and applied the default quantization. And I have such results: before quantization 1174.17 FP

[2020-09-13 01:47] ibrahimsoliman97 commented on #1540
I successfully replaced DetectionOutput Layer with NonMaxSuppression since i has a similar used case as @avasbr , You are required to Edit the subgraph of your model during model optimization.

Original Code from ObjectDetectionAPI.py at at model_optimizer/extenstions/front/tf/
![image](https://user-images.githubusercontent.com/30038478/93008086-71721e00-f5a3-11ea-8453-32e24a9a8315.png)

Then i ed

[2020-09-13 05:31] ngxbac commented on #146
@antonrom23 , @shubha-ramani

I found that there are some works (at least 2 teams), they used OpenVINO for the NIST FRVT competition.
One of them reported that they modified the internal code of OpenVINO to match the rules of this competition. That is, you are only allowed to run in a single thread. However, in default, OpenVINO uses at least 3 threads.

As mentioned in here #185 ,
[code]
Based on

[2020-09-14 01:55] ibrahimsoliman97 commented on #1540
The error is caused by inferring using MYRIAD Device.
If i used CPU, NMS can work correctly...
Any plan to support NonMaxSuppression Op on MYRIAD ? @jgespino @lazarevevgeny

[2020-09-14 02:02] DuckJ commented on #1911
@dmitryte I am sorry, the model saved in company  server, I don't have permission to export.
Reference https://github.com/openvinotoolkit/openvino/issues/436,the model in [crnn](https://github.com/meijieru/crnn.pytorch)  seems that there are similar problems. the pytorch model can be converted into onnx via
`torch.onnx.export`
model load code can refer to [this](https://github.com/meijieru/crnn.py

[2020-09-14 06:24] lazarevevgeny commented on #1540
@taka-no-me @abotsiev , looks like some issue with the NMS on Myriad. Could you take a look?

[2020-09-14 12:15] dmitry-gorokhov commented on #1471
@nmVis The issue should have been by https://github.com/openvinotoolkit/openvino/pull/2101. Could you please check on latest master?

[2020-09-14 12:48] nmVis commented on #1471
@dmitry-gorokhov is the latest master available pre-built or should I build it on my own?

[2020-09-14 12:52] dmitry-gorokhov commented on #1471
@nmVis pre-built version is not available at the moment.

[2020-09-14 16:06] jgespino commented on #2181
Hi @Werni2A

Thanks for reaching out, I was able to reproduce your issue on Ubuntu 18.04 with OpenVINO 2020.4 release. The issue does not seem to be specific to MYRIAD as it's also seen on CPU. Looking at your model.pb on Netron, the shape of the input layer is [?,5]. Is this expected?

 Could you try setting the input_shape to [1,5] on your model optimizer command? I was able to load both models

[2020-09-14 17:33] mhkabir commented on #2109
Seemingly a duplicate of https://github.com/openvinotoolkit/openvino/issues/1822

[2020-09-15 04:14] Semmer2 opened #2233 "report "python... permission denied" when make[Bug]"
##### System information (version)
- OpenVINO => the latest version
- Operating System / Platform => Ubuntu 20.04
- Compiler => gcc 9.3.0 / cmake 3.16.3
- Problem classification: openvino building
- Python version: 3.8.2
- Framework: None
- Model name: None

##### Detailed description

it reports
[code]
when making openvino

##### Steps to reproduce
0. sudo apt install python3
1. git clone openvin

[2020-09-15 07:29] Semmer2 commented on #2233
The issue fixed after I configure & make & make install python3.8 from source code, rather than apt install directly.
So I will close this issue. Thank you all.

[2020-09-15 07:29] #2233 closed

[2020-09-15 08:59] guoyejun opened #2239 "much more sys time consumed when change from CPU path to GPU path"
I'm using ubuntu 18.04 x64 + skylake with 4 cpu cores and Gen9 GPU with OpenCL kernel installed from https://github.com/intel/compute-runtime/releases/tag/20.35.17767

I'm building openvino from source code at 95a57795dcb0ed82324af87918339225148202ca, and the gcc version is: gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)

I found that the GPU path consumes much more sys time than CPU path, and I

[2020-09-15 11:59] Werni2A commented on #2181
Hi @jgespino

You approache also works for me. I will give it a more thorough check and will close the issue after that. Somehow I thought that I need to pass NHWC as input_shape for TF models.

Do you know if there are any plans to natively support Tensorflow2 nets? That would be awesome. Also including the freezing of a TF model into the model optimizer would be great and ease the whole conversi

[2020-09-15 13:48] jgespino commented on #2239
Hi @guoyejun

The model load time on the GPU plugin depends on OpenCL kernel compilation, try enabling [cl_cache ](https://github.com/intel/compute-runtime/blob/master/opencl/doc/FAQ.md#feature-cl_cache)in the application's directory. The time should improve after the first run on GPU.

Regards,
Jesus

[2020-09-15 15:03] helmutg commented on #2147
I've attempted fixing this in onnx itself. See https://github.com/onnx/onnx/pull/3022. If onnx merges this and is openvino updates onnx, this issue is resolved.

[2020-09-15 18:00] jgespino commented on #2154
Hi @songtaoshi

What model topology are you using? Is this a custom trained model? Have you checked if the model is listed under the OpenVINO supported models?
https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_ONNX.html#supported_pytorch_models_via_onnx_conversion

Regards,
Jesus

[2020-09-16 05:44] guoyejun commented on #2239
hi, my concern is on the sys time, not user time, it has nothing to do with the kernel compiling time which is done at user mode.

and, in my test, i iterate 1000 times to set/execute/get the model, the kernel compiling time (before the for loop) should be very small comparing to the loop time. I also copy the code here for your convenient.
[code]

anyway, I also tried the cl_cache, but no meaning

[2020-09-16 08:36] feolcn commented on #844
I meet the same build error , Is there any update?

[2020-09-16 10:22] ilyachur commented on #844
@feolcn What version of the OpenVINO do you use?

[2020-09-16 10:54] feolcn commented on #844
@ilyachur 2020.4

[2020-09-16 11:05] ilyachur commented on #844
@feolcn Do you have another version of OpenVINO in your environment?
Can CMake find the old OpenVINO version in [this line](https://github.com/openvinotoolkit/openvino/blob/master/docs/CMakeLists.txt#L14)?

[2020-09-16 11:40] feolcn commented on #844
@ilyachur  thank you for your quickly replay, after comment the line which include  if and endif   ,it works.
if(NOT InferenceEngine_FOUND)
    set(InferenceEngine_DIR ${CMAKE_BINARY_DIR})
endif()

[2020-09-16 11:43] ilyachur commented on #844
@feolcn It looks like you have an older version of OpenVINO in your environment and CMake try to use this old version to build the documentation.
Please check that your environment doesn't contain other version of OpenVINO.

[2020-09-16 12:05] nmVis commented on #1858
nasnet-mobile is not the same as the model that I've provided the link for. I don't get what you wanted to accomplish with it. Could you explain?

[2020-09-16 12:08] Werni2A commented on #2181
With the command above I can't reproduce the issue anymore. Therefore, closing.
@jgespino Thanks again. Also for suggesting Netron, I didn't  know about this tool before.

[2020-09-16 12:08] #2181 closed

[2020-09-16 12:40] jgespino commented on #1480
Hi @leoll2 @mhkabir

At this time we are unable to merge a fix to master branch or the next release as the proposed solution could affect other topologies. Instead, could you try reconverting your model by adding `--output 446/Split` to the model optimizer command?

Regards,
Jesus

[2020-09-16 13:38] jgespino commented on #1307
@Laubeee Changes were merged to master branch to catch such errors. I was not able to access your model once more to verify. I believe your issue is now resolved by @ilyachur suggestion to specify the shape. Let me know if we can proceed to close this issue.

@potatozrollin @manuiiitv Your issue seems to be different, please start a new issue if you need additional assistance.

[2020-09-16 14:33] Laubeee commented on #1307
I have not tested it myself as I proceeded the project using the human pose estimation from the model zoo, but as @potatozrollin reported the workaround still has some issues...

Of course it would be cool if the model could be converted even without any further shape specification, but if this is out of scope you can close the issue here. Thanks!

[2020-09-16 18:18] #1442 closed

[2020-09-16 18:24] jgespino commented on #1956
@srivastava-ayush Closing issue, feel free to re-open if additional assistance is needed.

[2020-09-16 18:24] #1956 closed

[2020-09-16 18:29] jgespino commented on #2147
Great, thanks for sharing!

[2020-09-17 02:45] songtaoshi commented on #436
![image](https://user-images.githubusercontent.com/20240391/93413709-6fc19680-f8d2-11ea-9ab6-7faea0c91aa9.png)
@ jgespino
Hi, does it mean, there are some option to make the model can load input of different shape rather than run-time reshape.

[2020-09-17 10:02] suygungelen commented on #1307
@Laubeee regarding your question _"That model will then only be able to process 600x600 images? or will it be able to adapt to different sizes?":_ you can also try different sizes, 600x600 was an example. You can also try reshaping the input size on-fly if the generated model's input shape does not fit the image size during inference. You can check https://docs.openvinotoolkit.org/latest/openvino_

[2020-09-17 10:18] Thar0l opened #2301 "[Bug] Converting ssd-mobilenet-v2: Failed to match nodes from custom replacement description with id 'ObjectDetectionAPIPreprocessorReplacement':"
##### System information (version)

- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu 20.04
- Compiler =>  :grey_question: => GCC 9.3.0
- Problem classification: Model Conversion
- Framework => TensorFlow 2.4.0 (from tf-nightly '2.4.0-dev20200915')
- Model name: ssd-mobilenet-v2 (self trained)

##### Detailed description
Can't convert ssd-mobilenet-v2 from to Intel format because of fol

[2020-09-17 10:28] Thar0l commented on #2301
Model was exported using with new _exporter_main_v2.py_  (`python3** ./object_detection/exporter_main_v2.py --pipeline_config_path /media/thar0l/DATA/Models/My/ssd-mobilenet-v2/pipeline.config --trained_checkpoint_dir /media/thar0l/DATA/Models/My/ssd-mobilenet-v2/ --output_directory /media/thar0l/DATA/Models/My/ssd-mobilenet-v2/out`).
Original pipeline and checkpoint are also exist in attached fol

[2020-09-17 14:01] pratiksamuel commented on #908
Sure,thanks will try that out.

[2020-09-17 16:19] jgespino commented on #2301
Hi @Thar0l

Thanks for reaching out, you are trying to convert your TensorFlow 2.X Object Detection Model with `tensorflow_object_detection_api_pipeline_config` that is meant for TensorFlow 1.14. At the moment OpenVINO does not support TensorFlow 2.X Object Detection API. However, this is something we are considering adding in future software releases.

If you would like to convert a custom traine

[2020-09-17 16:40] jgespino commented on #1941
Closing issue, feel free to re-open if additional assistance is needed.

[2020-09-17 16:40] #1941 closed

[2020-09-17 16:42] jgespino commented on #1717
Closing, feel free to re-open if additional assistance is needed.

[2020-09-17 16:42] #1717 closed

[2020-09-17 16:47] jgespino commented on #2119
Closing, feel free to re-open if additional assistance is needed.

[2020-09-17 16:47] #2119 closed

[2020-09-17 16:48] jgespino commented on #2014
Closing, feel free to re-open if additional assistance is needed.

[2020-09-17 16:48] #2014 closed

[2020-09-17 16:50] jgespino commented on #1085
Closing, please feel free to re-open and attach model if additional assistance is needed.

[2020-09-17 16:50] #1085 closed

[2020-09-17 16:56] abrown opened #2316 "[Improvement] Allow configuration of library download directory"
When attempting to build OpenVINO using the [build instructions](https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md), I do not see a way to configure the library download directory. Currently, libraries are downloaded to `inference-engine/temp` but these changes in-tree cause issues with build tools like Cargo; I would like to be able to specify a `LIB_DOWNLOAD_DIR` or th

[2020-09-18 03:09] guoyejun opened #2323 "is there an example to demo remote blob with C API"
Hi,

Looks that we can use zero copy between intel GPU decoder and OpenVINO input by using InferenceEngine::gpu::VASurfaceBlob. Is this feature exported by OpenVino C API?  If yes, is there an example to demo it? thanks.

[2020-09-18 05:48] Thar0l commented on #2301
HI @jgespino !
Thank you for your answer. I will try to downgrade to TF 1.14.
Looking forward for TF 2.X Object Detection API support in Intel tools.

Best regards,
Aleksey

[2020-09-18 05:48] #2301 closed

[2020-09-18 17:19] jgespino commented on #2239
Hi @guoyejun,

You are right, this is not related to OpenCL for kernel compilation. I saw the same behavior on my system using your code modifications and model. Let me check with my peers to see if they have any additional suggestions.

Regards,
Jesus

[2020-09-19 18:11] Tai-Min commented on #2092
I have managed to load the network. I have exported only embedding function to IR model and created problematic cross corelation layer using nGraph.
[code]

[2020-09-20 07:06] feolcn commented on #844
@ilyachur Thank you,i will follow your comment,and check my evironment

[2020-09-21 10:30] Werni2A opened #2349 "[Bug] InferenceEngine::InferRequest::Infer() not thread safe"
##### System information (version)

- OpenVINO => Source build (latest commit ef2581d) from 2020-09-10
- Operating System / Platform => Ubuntu 20.04
- Compiler => g++ 9.3.0
- Problem classification: Inference
- Framework: TensorFlow 2.3.0

##### Detailed description
I run multiple inference requests in their own threads. The thread looks like the following:
[code]

During runtime I get some synchr

[2020-09-21 10:52] dmitryte commented on #1858
Hi @nmVis!

I checked the provided onnx model with the sample pot configuration(Simple mode) from the above messages and see the following results:

FP32
Count:      125450 iterations
Duration:   60009.38 ms
Latency:    4.74 ms
Throughput: 2090.51 FPS

INT8
Count:      186890 iterations
Duration:   60004.92 ms
Latency:    3.11 ms
Throughput: 3114.58 FPS

[2020-09-21 11:19] maxlytkin commented on #2068
I'm closing this case. Please feel free to re-open if additional assistance is needed.

[2020-09-21 11:19] #2068 closed

[2020-09-21 11:20] maxlytkin commented on #2095
I'm closing this case. Please feel free to re-open if additional assistance is needed.

[2020-09-21 11:20] #2095 closed

[2020-09-21 14:51] guoyejun commented on #498
after upgrade tensorflow from 1.14 to 2.3, this issue is gone, thanks.

[2020-09-21 14:51] #498 closed

[2020-09-21 14:54] guoyejun commented on #2239
fyi,

i did some investigation and found the stack that consumes the sys time.
[code]

[2020-09-21 15:27] jgespino commented on #2316
Hi @abrown

I don't see any cmake options to specify the library download directory. I went ahead and opened a feature request on your behalf for the development team to consider.

Regards,
Jesus

Ref. 39402

[2020-09-21 18:43] bani-intelaipg opened #2358 "[Bug] InferenceEngine throws error data [XXX] doesn't exist (using ngraph function API)"
##### System information (version)
- OpenVINO => master commit# 61a7cdde
- Operating System / Platform => Linux 64 Bit
- Compiler => gcc
- Problem classification: ngrapg function API for InferenceEnginer
- Framework: TensorFlow
- Model name: ResNet50 keras

##### Detailed description
InferenceEngine throws error data [XXX] doesn't exist when using ngraph API.

##### Steps to reproduce
See sample a

[2020-09-22 02:40] GraceKafuu opened #2360 "Problem while installing openvino on NVIDIA Jetson TX2"
Hi,
I have installed openvino by following this page[https://software.intel.com/content/www/us/en/develop/articles/arm64-sbc-and-ncs2.html](url). All the steps have run successfully, I  just skipped install opencv, because JetPack already include opencv.

The problem is I can run **benchmark_app** and **classification_sample**, **it worked fine**:

-------------------------------------------------

[2020-09-22 06:47] dmitryte commented on #1802
@myshevts any ideas about bert quantization for classification task?

[2020-09-22 07:28] dmitryte commented on #1802
@NotMorven , @whatisor Hi!

Simple mode for quantization work only for models with 1 input-output and accepts images folder as an input.

For any BERT model you still need to describe the way to process inputs properly(check the docs for accuracy_checker to see how to adopt the config for your dataset - https://docs.openvinotoolkit.org/latest/omz_tools_accuracy_checker_README.html)

Btw, you can a

[2020-09-22 08:32] myshevts commented on #1802
Adding @snehak11

[2020-09-22 09:08] Westerby opened #2369 "Yet another Import Error [Bug]"
##### System information (version)

- OpenVINO: 2020.4
- Operating System / Platform: Windows 10 64 Bit
- Compiler: Visual Studio 2019
- Problem classification: Python module import error
- Python: 3.7.1
- Cython: 0.29.17

##### Detailed description
Can't import newly built openvino Python wrapper. I get: ImportError: DLL load failed

##### Steps to reproduce

1. Build (tried various combinations,

[2020-09-22 11:53] qingweihk opened #2373 "[Bug] ONNX Resize operation from opset 12 is not supported."
error when convert onnx to (IR):
Model Optimizer version:
[ ERROR ]  Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.load.onnx.loader.ONNXLoader'>): Unexpected exception happened during extracting attributes for node Resize_393.
Original exception message: **ONNX Resize operation from opset 12 is not supported.**

##### System information (version)

[2020-09-22 11:55] qingweihk opened #2374 "[Bug] ONNX Resize operation from opset 12 is not supported."
error when convert onnx to (IR):
Model Optimizer version:
[ ERROR ]  Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.load.onnx.loader.ONNXLoader'>): Unexpected exception happened during extracting attributes for node Resize_393.
Original exception message: **ONNX Resize operation from opset 12 is not supported.**

##### System information (version)

[2020-09-22 11:56] #2374 closed

[2020-09-22 12:43] #1307 closed

[2020-09-22 12:49] jgespino commented on #1480
Hi @leoll2 @mhkabir

Did you get a chance to try adding `--output 446/Split` to your MO command?

Regards,
Jesus

[2020-09-22 13:06] jgespino commented on #2360
Hi @GraceKafuu

Did you try exporting `PYTHONPATH `and `LD_LIBRARY_PATH `variables?

Should be something similar to the following. Please note this was on a x86 Ubuntu install with Python 3.6 and your path may be different.
[code]

Regards,
Jesus

[2020-09-22 13:08] TonyNgcn opened #2376 "Openvino output result is different from tensorflow after converting efficientnet-b8"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => Windows 10 64 Bit 19041
- Compiler => Visual Studio 2019
- Problem classification: Model Conversion
- Framework: tf-nightly  2.3.0.dev20200512
- Model name: efficientnet-b8

Problem:
I download the pre-trained model of efficientnet-b8 from https://storage.googleapis.com/cloud-tpu-heckpoints/efficientnet/advpro

[2020-09-22 13:21] jgespino commented on #1818
Closing feel free to re-open if additional assistance is needed.

[2020-09-22 13:21] #1818 closed

[2020-09-22 13:23] jgespino commented on #1733
@xiaoxial Could you take a look at this request?

[2020-09-22 13:25] jgespino commented on #2154
Hi @songtaoshi Do you still need assistance?

[2020-09-22 14:25] jgespino commented on #1540
Hi @ibrahimsoliman97 this should be fixed in the next software release. Could you share your model and I can verify?

[2020-09-22 17:40] jgespino commented on #2369
Hi @Westerby,

The `setupvars.bat` is only to be used with the Intel® Distribution of OpenVINO™ toolkit. You will need to manually setup the variables if you are building from source. On Linux, you have to set `PYTHONPATH` and `LD_LIBRARY_PATH`. Should be something similar on Windows but I have not tried this yet. I am currently building OpenVINO on Windows to give it a try and let you know.

Rega

[2020-09-22 17:55] jgespino commented on #2373
Hi @qingweihk

Thanks for reaching out. The OpenVINO toolkit does not currently support ONNX Opset 12 operations. We recently added some ONNX opset 11 operations, please take a look at the OpenVINO toolkit [Release Notes](https://software.intel.com/content/www/us/en/develop/articles/openvino-relnotes.html).

Regards,
Jesus

[2020-09-22 20:26] mhamdan91 opened #2386 "[Feature] Add support for converting ONNX to C code?"
Is it possible to add support convert the ONNX files to C code instead of IR?

[2020-09-22 21:26] avasbr commented on #1540
@ibrahimsoliman97 i see, this is definitely closer to what i was looking for, thanks for the explanation. I ended up sticking to modifying the onnx graph directly since that seemed to translate well without issues, but I'll definitely keep this solution in mind in case I need it down the road!

[2020-09-23 02:49] xiaoxial commented on #1733
@jgespino @ifadams  Yeah, I had look the request. In fact, you can refer to the C "hello_classification" and "object_detection_sample_ssd" to create a application with multiple inputs.
So now we need to provide a  c classification sample that supports multiple inputs and supports to set batch size for network?

[2020-09-23 07:20] justalittlenoob opened #2392 "build error: gna_helper.cpp error: ‘int ftime(timeb*)’ is deprecated"
I am trying to use openvino in graphene.
Accroding to this [doc](https://github.com/oscarlab/graphene/tree/master/Examples/openvino), I got the following issue when building openvino. Did I miss something?
Any advice would be appreciated.

os: ubuntu 20.04
`libopencv-dev` and `python3-opencv` are installed.

`python3 -c "import cv2; print(cv2.__version__)"`

`make SGX=1`

-- extracting...

[2020-09-23 08:36] royallela commented on #2323
Hi, this is currently only available in C++ and not supported in the C API.

[2020-09-23 16:30] jgespino commented on #2358
Hi @bani-intelaipg

Thanks for reaching out, I am checking with my peers on how the Inference Engine works when using the ngraph API without using the Model Optimizer.

Regards,
Jesus

[2020-09-23 18:02] jgespino commented on #2376
Hi @TonyNgcn

It's possible something may not have been converted correctly to SavedModel format or it may be your TensorFlow version. I was able to convert the model to IR format using the following commands and using the classification_sample obtained similar results to your TensorFlow output. I am using OpenVINO toolkit 2020.4 release with TensorFlow 1.14.

Please give this a try and let me kno

[2020-09-23 18:06] jgespino commented on #2386
Hi @mhamdan91 Could you please provide some additional insight as to why you need this?

OpenVINO toolkit uses the model optimizer to convert the model to IR format to be used by the Inference Engine? Are you running into any issues with the model optimizer or inference engine?

Regards,
Jesus

[2020-09-23 18:10] jgespino commented on #2392
Hi @justalittlenoob

According to the guide you are following, Ubuntu 18.04 is a pre-requisite. However, you seem to be using Ubuntu 20.04. The guide you are following is not from Intel. I recommend opening an issue on that particular GitHub repository.

Regards,
Jesus

[2020-09-23 18:23] mhamdan91 commented on #2386
Hi @jgespino ,
I would like to deploy the C code without the need for the API. So if Vino can have such a feature, it would be very helpful.
Also, how do I bench mark a custom model? not classification.

[2020-09-23 18:29] jgespino commented on #2386
Hi @mhamdan91

To benchmark a model, you can use the benchmark_app:
C++: https://docs.openvinotoolkit.org/2020.4/openvino_inference_engine_samples_benchmark_app_README.html

Python: https://docs.openvinotoolkit.org/latest/openvino_inference_engine_tools_benchmark_tool_README.html

Regards,
Jesus

[2020-09-23 18:36] mhamdan91 commented on #2386
Thanks @jgespino .
Would you consider adding the requested feature?

[2020-09-23 18:38] jgespino commented on #2386
@mhamdan91 I will check with my peers and the development team for consideration.

[2020-09-23 19:00] alalek commented on #2392
Using custom OpenCV builds (special case to work with "other" configurations):
- https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#use-custom-opencv-builds-for-inference-engine

if used, then `OpenCV_DIR` should point to directory with `OpenCVConfig.cmake` file.

[2020-09-23 20:10] G2020sudo opened #2403 "[Bug] Remote Blob - SetBlob"
##### System information (version)
- OpenVINO=> :grey_question: 2020.3.194
- Operating System / Platform => :grey_question: Linux Ubuntu 18 LTS / Docker Ubuntu 18
- Compiler => :grey_question: gcc 9.3.0
- Problem classification => :grey_question:

##### Detailed description
I am trying to build a Media SDK sample with OpenVINO that uses GPU remote blob feature. In my sample I can succesfully:

aut

[2020-09-23 21:53] G2020sudo commented on #2403
I found the issue. It appears that when calling inferRequest.GetBlob() before creating nv12 compound and then calling inferRequest.SetBlob(..) will cause the preProcessing error (this is a false error and IE is confused) (like below).

auto shared_va_context = make_shared_context(ie, "GPU", getVADevice());
ExecutableNetwork execNet = ie.loadnetwork(network, shared_va_context, {{ CLDNNConfigParams:

[2020-09-24 02:51] xiaoweiChen opened #2406 "How to support ONNX if op?"
I use the 2020.4 OpenVINO source code to process my onnx model.

This is a Faster-RCNN model exported by pytorch official implement(in torchvision).
I export the model include the preprocess and postprocess, as [test_onnx.py](https://github.com/pytorch/vision/blob/master/test/test_onnx.py)
And I fix the input(3x500x500) and ouput (sorce:1000, label:1000, box:1000x4), set the opset is 12, not use t

[2020-09-24 11:14] justalittlenoob commented on #2392
@alalek
Thank you for your reply. I took your advice([Use Custom OpenCV Builds for Inference Engine](https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#use-custom-opencv-builds-for-inference-engine))and the opencv problem seems gone.
But in the building process, I encountered other problems.
1. error: `redundant move in return statement`
I fix this according to this [PR](

[2020-09-24 13:31] nmVis commented on #1471
@dmitry-gorokhov greetings. Sorry for the delayed response. The error is still present. See the attached source code and pictures for more information.

I've updated the source code to be able to integrate the latest OpenVINO at the moment (the one at [link](https://github.com/openvinotoolkit/openvino/commit/8cf84f58e705a85cfa24c29db208b02f8fe4ac2c)).

[code]

And here is the error stack shown:
![

[2020-09-24 15:00] nmVis commented on #1858
Hi @dmitryte !

Interesting, I'm getting this kind of results with the sample pot configuration.

Async version:

FP32
Count:      15972 iterations
Duration:   60014.64 ms
Latency:    13.71 ms
Throughput: 266.14 FPS

INT8
Count:      24380 iterations
Duration:   60019.22 ms
Latency:    9.43 ms
Throughput: 406.20 FPS

Sync version:

FP32
Count:      7240 iterations
Duration:   60006.54 ms
Latency:

[2020-09-24 22:56] alalek commented on #2392
Try `cmake -DTREAT_WARNING_AS_ERROR='OFF' ...`

[2020-09-25 01:57] mosheliv opened #2417 "[Bug] openvino does not recognise gpu on atomic pi (cherry trail)"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => ubuntu 18.04
- Compiler => gcc
- Problem classification: gpu support

I am running this on atomic pi, lspci output:
[code]

##### Detailed description
I was following the installation guide, downloaded the gpu drivers, then run:
`./classification_sample_async -i /opt/intel/openvino/deployment_tools/demo/car.pn

[2020-09-25 03:21] ilya-lavrenov commented on #2403
@G2020sudo I wonder how generic implementation is called? GPU plugin has its own `SetBlob` implementation, see https://github.com/openvinotoolkit/openvino/blob/master/inference-engine/src/cldnn_engine/cldnn_infer_request.cpp#L433-L557 and such case with remoteBlob is handled.

[2020-09-25 03:25] luoyiroy commented on #2386
Hi @mhamdan91
The 2020.4 already allows you to read ONNX files directly from the C++ API without converting to IR format. Please use functions directly to read models in ONNX format without convert to IR format.

[CNNNetwork InferenceEngine::Core::ReadNetwork( const std::string & modelPath, const std::string & binPath = {} ) const](https://docs.openvinotoolkit.org/latest/classInferenceEngine_1_1Co

[2020-09-25 06:54] justalittlenoob commented on #2392
@alalek  Thank you very much for your patience. You helped me a lot:)

[2020-09-25 06:54] #2392 closed

[2020-09-25 07:08] Werni2A opened #2418 "Wish: Use self-explanatory exceptions"
##### System information (version)

 - OpenVINO => Source build (latest commit ef2581d) from 2020-09-10
 - Operating System / Platform => Ubuntu 20.04
 - Compiler => g++ 9.3.0
 - Problem classification: Inference
 - Framework: TensorFlow 2.3.0

##### Detailed description

When running the attached program the NCS2 crashes with the following output/exception. Note that the first lines are print sta

[2020-09-25 07:14] ilya-lavrenov commented on #2418
@Maxim-Doronin @gladilov-gleb can we somehow improve an error message?

[2020-09-25 08:37] maxlytkin commented on #908
I'm closing this case. Please feel free to re-open if additional assistance is needed.

[2020-09-25 08:37] #908 closed

[2020-09-25 19:24] raymondlo84 opened #2428 "[Bug] Build Instruction is missing?"
If you go into the documentation, the "build instructions" link is broken.

https://github.com/openvinotoolkit/openvino/blob/master/get-started-linux.md

[2020-09-25 22:18] raymondlo84 opened #2429 "[Bug] setupvars.sh error"
Just followed the build instruction here. After 'make install', I opened a new terminal and the setupvars.sh seems not to be able to pick up the python module.

I'm on Ubuntu 18.04
[code]

Error I got.
[code]

[2020-09-25 23:32] raymondlo84 commented on #2429
I figured it out. We have to force the toolkit to pick up the 3.6. Otherwise, it will use python2.7

cmake -DPYTHON_EXECUTABLE=`which python3.6` -DPYTHON_LIBRARY=/usr/lib/x86_64-linux-gnu/libpython3.6m.so -DPYTHON_INCLUDE_DIR=/usr/include/python3.6         ../

[2020-09-26 08:57] #2429 closed

[2020-09-27 07:16] mattans opened #2430 "[Bug] ZeroDivisionError when running code based on Multi Camera Multi Person Python* Demo"
##### System information (version)

- OpenVINO=> 2020.4
- Operating System / Platform => Windows 10
- Compiler => VS 2019
- Problem classification => ZeroDivisionError

##### Detailed description

I have a program based on the Multi Camera Multi Person Python* Demo and I am getting this type of error some times, on some models, for example, the models person-detection-retail-0002\FP32\person-detec

[2020-09-27 08:39] leoll2 commented on #1480
Hi @jgespino, I tried converting with `--output 446` and I still get the same hardware errors.

[2020-09-27 18:32] mhamdan91 commented on #2386
Hi @luoyiroy , I meant to generate C (Not C++ ) code representation of ONNX that is ready for inference without to run it e.g. on a microcontroller.

[2020-09-28 01:43] luoyiroy commented on #2386
Hi @mhamdan91
Can you elaborate on what you are looking for? If I understand you correctly, you want to convert an existing ONNX model directly into C code for deployment on a microsystem (e.g. an embedded device such as an STM32). Usually, an IR model or ONNX model needs to be based on a runtime written in C/C++ to perform inferencing. Since the runtime is open source, you can deploy the runtime

[2020-09-28 02:32] mhamdan91 commented on #2386
Hi @luoyiroy , Correct. I want to translate ONNX directly into C code. Btw, is the runtime a mix of C and C++? or is inferencing supported by C only ? As my uC compiler is C targeted.

[2020-09-28 06:37] junxnone opened #2432 "[Bug] Look like opencv in openvino cant't read tiff image"
##### System information (version)
- OpenVINO => 2019.1 ~ 2020.2
- Operating System / Platform => Ubuntu 18.04
- Problem classification: OpenCV

##### Detailed description
OpenCV read the tiff image correct  without source the openvino environment
But when I in the openvino environment, it get `None`

##### Steps to reproduce
[code]

the scripts only works without openvino
and in openvino it says

[2020-09-28 12:36] jgespino commented on #2428
Hi @raymondlo84

It would be great if you can submit a merge request, please see the [contributing](https://github.com/openvinotoolkit/openvino/blob/master/CONTRIBUTING_DOCS.md#edit-existing-document) document for guidance.

This is the correct location for the build instructions: https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md

Regards,
Jesus

[2020-09-28 13:43] jgespino commented on #2417
Hi @mosheliv

Thanks for reaching out, could you confirm you ran the `./install_NEO_OCL_driver.sh` scrip as mentioned in the [Steps for Intel Processor Graphics (GPU)](https://docs.openvinotoolkit.org/latest/openvino_docs_install_guides_installing_openvino_linux.html#additional-GPU-steps) section? The script is located in `/opt/intel/openvino/install_dependencies/`.

Regards,
Jesus

[2020-09-28 15:24] jgespino commented on #2406
Hi @xiaoweiChen

According to the [Supported Layers](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html#onnx_supported_operators) document, ONNX `If` op is not supported by OpenVINO. However, it should be possible to create a custom layer, see the [Custom Layers Guide](https://docs.openvinotoolkit.org/latest/openvino_docs_HOWTO_Custom_Layers_

[2020-09-28 15:51] jgespino commented on #1733
@ifadams Could you confirm if this is what you are looking for?

[2020-09-28 15:51] #2154 closed

[2020-09-28 15:55] jgespino commented on #2360
Hi @GraceKafuu

Where you able to import OpenVINO to your python application?

Regards,
Jesus

[2020-09-28 15:56] #2373 closed

[2020-09-28 15:57] jgespino commented on #2376
Hi @TonyNgcn

Did my previous suggestion work for you?

Regards,
Jesus

[2020-09-28 16:42] jgespino commented on #2430
Hi @mattans

Thanks for reaching out, how often do you see the ZeroDevisionError? Are you able to reproduce by using our demo code without any modifications? I was not able to reproduce from my end by running the multi_camera_multi_target_tracking demo using the person-detection-retail-0013 and person-reidentification-retail-0265 on OpenVINO 2020.4.

Could you describe the multiple combinations wh

[2020-09-28 17:14] G2020sudo commented on #2403
Hi Ilya, I've run out of time to debug. If there isn't a sample to use/start from I will close for now until I can try again.

[2020-09-28 18:52] jgespino commented on #2369
Hi @Westerby

Quick update, I was able to build OpenVINO from source on Windows and also ran into the DLL load failed error.
`ImportError: DLL load failed: The specified module could not be found.`

Let me check with my peers and get back to you.

Regards,
Jesus

[2020-09-28 22:25] mosheliv commented on #2417
I did, but decided to do it again. However, this was not the best idea, as the install tried to removed intel-igl-core and failed:
[code]

[2020-09-28 22:54] ifadams commented on #1733
Yes, that would be helpful if possible.

Basically, while I recognize the object_detection_sample_ssd does do batching with the c-interface, for a relative novice like myself its relatively difficult to see whats going on with the additional complexity of that example.

If there was something simpler like the hello_classification example for the C API, using batch sizes that you can set, that woul

[2020-09-29 08:01] tingggggg opened #2451 "[Bug] Do inference in openvino2019.3 & openvino2020.4, but get different results"
##### System information (version)

##### Detailed description
I use the python to do inference on Reitnanet(model file from onnx model zoo) with gpu,
and I do in openvino2019.3 & openvino2020.4 env. Do inference successful in openvino2019.3 but not in openvino2020.4
(use the same .onnx model convert to .xml .bin)

ERROR like this:

I can't find any similar question, so give me help, pls~

[2020-09-29 10:58] dkurt commented on #2432
Hi! Have you tried the latest release of OpenVINO?

[2020-09-29 12:46] xiaoweiChen commented on #2406
Thanks @jgespino for you reply.
I add some custom op base on the guide, like SequenceAt, SplitToSequence... This is just like a function.

While `If` is different:
From https://github.com/onnx/onnx/blob/master/docs/Operators.md#If

The branch is a graph, it just like the sub-onnx model in the original model, and some ops in sub-onnx model is supported by OpenVINO.

I don't know how to process the

[2020-09-29 13:19] junxnone commented on #2432
Not yet. I did't get the latest release.
I will update the test result later, when i get the latest version.

---
Is there any workaround for OpenVINO environment without build-in OpenCV  ?

[2020-09-29 13:29] jgespino commented on #2417
Hi @mosheliv

Try removing the package with apt-get and re-running the script.
[code]

Regards,
Jesus

[2020-09-29 13:30] slyalin commented on #2406
Hi @xiaoweiChen,

There is a challenge to support `If` in Model Optimizer because may require dynamic control flow during execution which is currently not supported. I'm not familiar with that place in the model where `If` is required, is it possible to share ONNX model somehow to look at that particular place? Does it have large branches inside `If`?

[2020-09-29 13:32] dkurt commented on #2432
Use `PYTHONPATH` to specify priority folders to look for `cv2.so`

[2020-09-29 13:47] jgespino commented on #1733
Hi @ifadams

I submitted a feature request for the development team to consider. We appreciate your input to improve OpenVINO!

@xiaoxial FYI

Regards,
Jesus

Ref. 39960

[2020-09-29 13:48] junxnone commented on #2432
Thanks, it works for me.
[code]

[2020-09-29 14:08] jgespino commented on #1480
@leoll2 Thanks for giving that a try, let me check with the development team and get back to you.

[2020-09-29 14:39] jgespino commented on #1691
Hi @ZongqiangZhang

Thank you for your input, at this time the dev team has decided not to implement this feature request. Please feel free to open a new issue if you run into any problems converting TensorFlow models to IR format.

Regards,
Jesus

[2020-09-29 15:20] luoyiroy commented on #2386
@mhamdan91
Please check with Microsoft's ONNX team. This issue is not related to OpenVINO product.
In terms of how to convert the ONNX files into code that can be executed directly in C, I think you just need to copy the following three files onto your microsystem and execute them.
- Your ONNX model file
- Using ONNX C binding interface to write an inference code and build it to binary
- ONNXRunti

[2020-09-29 16:30] jgespino commented on #2451
Hi @tingggggg

Could you confirm this is the model you are using?
https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/retinanet#model

Please provide the model optimizer command and sample code to reproduce.

Regards,
Jesus

[2020-09-29 16:41] #1540 closed

[2020-09-29 16:42] jgespino commented on #48
Closing, feel free to start a new issue if additional assistance is needed.

[2020-09-29 16:42] #48 closed

[2020-09-29 16:43] #26 closed

[2020-09-29 16:44] #35 closed

[2020-09-29 16:49] #128 closed

[2020-09-29 16:50] jgespino commented on #168
Closing, issue is related to older release. Please start a new issue if additional assistance is needed with the latest release.

[2020-09-29 16:50] #168 closed

[2020-09-29 17:53] mhamdan91 commented on #2386
@luoyiroy  Right. just to confirm,  "Using ONNX C binding interface to write an inference code and build it to binary" this is separate from openVINO or is such interface available in openVINO? - i.e. the steps you suggested are done within openVINO or you suggest that I look for C binding interface and ONNXRuntime?

[2020-09-29 21:27] mosheliv commented on #2417
alas, same thing happens as before:

[code]

[2020-09-29 22:03] mattans commented on #2430
Hi Jesus,
I see it quite a lot, but I cannot reproduce it. Are there are any non-deterministic parts of the algorithm?
I tried fixing the random seed, but it didn't work.
Anyway, I added some debug prints to the code.
Sometimes the algorithm detects bboxes like (0, a, 0 ,b). They have zero width so that's where the failure happens.
I am currently filtering out these detections. But how come the mo

[2020-09-30 00:29] xiaoweiChen commented on #2406
Hi @slyalin

You are right!

as my above words:

This nodel is a Pytorch official model in torchvision.(I use Pytorch 1.6)

In [vision](https://github.com/pytorch/vision), [test_onnx.py](https://github.com/pytorch/vision/blob/master/test/test_onnx.py) can export the Faster-RCNN model.

I modify the test_onnx.py, make it just test and export Faster-RCNN(Not do the things wit Mask-RCNN and Keypoint-

[2020-09-30 00:53] luoyiroy commented on #2386
@mhamdan91
Yes, it is totally two independent works between OpenVINO and ONNX at all.
I think your work is only about the ONNX part and has nothing to do with OpenVINO. I have collected the relevant documentation for you here, please refer to Microsoft's ONNX GitHub for inference your code with C API.
https://github.com/microsoft/onnxruntime/blob/master/docs/C_API.md

[2020-09-30 01:59] Hussni-V opened #2462 "Custom Operation Subgraph replacement"
One of my models has a custom operation called FR, I was hoping to break the operation down to other ops instead of implementing an IE extension. The operation works like this.

given 2 input tensors- The first input contains box points coordinates(10000x4), the second one is the feature map (1x256x100x100)

each box corresponds to a point in the feature map (10000=100x100)

The operation is
0. Cr

[2020-09-30 11:51] geexie commented on #2462
@Hussni-V, could you please provide some code snippet or something? I didn't quite get by which plain you actually do sampling to apply 4 coordinates to 256 features to gen 256 features again.

[2020-09-30 17:14] cocokale opened #2476 "RuntimeError when loading the network to the GPU"
The loading works perfectly on CPU, however, when I try to load the network to the GPU plugin, it outputs a RuntimeError:

[code]
Has anyone encountered such an error before? Looking forward to some help, many thanks!

OpenVINO: 2020.4 Release

python: python 3.7

OS: Ubuntu 16.04 & Ubuntu 18.04

GPUs I've tried on:

Atom E3900 Series Integrated Graphics Controller

Intel Corporation HD Graphics 5

[2020-09-30 18:54] jgespino commented on #2417
Hi @mosheliv

Thank you for re-running the script to ensure the Intel Graphics Compute Runtime for OpenCL is setup. Usually the error means there is an incorrect environment setup or missing openCL. However, per the [supported hardware](https://software.intel.com/content/www/us/en/develop/tools/openvino-toolkit/hardware.html) document, the OpenVINO toolkit does not support Cherry Trail:

I apologi

[2020-10-01 00:15] nsk-lab opened #2478 "[Bug] Incorrect number of input edges for Add node when load (INT8) IR model converted from ONNX"
##### System information (version)
- OpenVINO => 2020.2
- Operating System / Platform => Ubuntu 18.04.3 LTS
- Problem classification: Model Conversion and Inference
- Framework: Pytorch with NNCF -> ONNX format -> IR format
- Model name: ResNet-backnorn Detector

##### Detailed description
I have pytorch detection model. I could export it to onnx and then convert it to IR model.
I also confirmed t

[2020-10-01 01:13] Hussni-V commented on #2462
here's a pseudo-code

Input: original feature map (F), bounding boxes (B)
Output: reconstructed feature map (F_r)

**for** i : 0 **to** h-1 **do**
   **for** j: 0 **to** w-1 **do**
      P <- GetFourCornerPoints( B(i,j) )
      **for** p in P **do**
         F_r(i,j) <- F_r(i,j) + BilinearInterpolate (F,p)
      **end for**
   **end for**

[2020-10-01 07:52] lablabla opened #2480 "[Bug] OpenVINO adds wrong output name after conversion from ONNX"
##### System information (version)

- OpenVINO=> 2020.3.194
- Operating System / Platform => Windows 10 64 bit
- Compiler => N/A (python)
- Problem classification => Model conversion
- Framework: ONNX (opsets 9,10,11)
- Model name: Custom YOLOv3

I've converted a (modified) Darknet model to onnx, (with opset 10 & 11) and then converting this onnx model into IR using [this (at the bottom)][1]

Ever

[2020-10-01 08:02] lablabla commented on #2480
I've checked the ONNX & the XML files in Netron and it seems that the offending output doesn't exists in the ONNX part, also, it's called `fake_data_Slice_230/sink_port_0` in the XML one

XML:
![image](https://user-images.githubusercontent.com/1851781/94783535-81786300-03d5-11eb-8267-0798acc20d62.png)

ONNX:
![image](https://user-images.githubusercontent.com/1851781/94783610-9a811400-03d5-11eb-9ed

[2020-10-01 08:04] fel88 opened #2482 "[Bug] NC_ERROR max StreamId reached"
##### System information (version)

- OpenVINO=> commit 023e7c2c3f8a8ac83564db09799d2049115d9cf6 (HEAD, tag: 2020.4)
- Operating System / Platform => Orange's Ubuntu Bionic Image v1.3
- System info=> Linux orangepi4 4.4.179-g7b2dd521-dirty #5 SMP Tue Mar 24 14:07:36 CST 2020 aarch64 aarch64 aarch64 GNU/Linux
##### Detailed description

Hi, my MYRIAD device (Neural Compute Stick 2) connects success

[2020-10-01 12:36] jgespino commented on #2476
Hi @cocokale

Could you provide more information (framework, topology, custom trained?) about the model you are using? Are you able to load other models to GPU? Would it be possible to share the model?

Also, I noticed you posted the same question on the Intel Forums. I suggest only posting on one location to avoid duplicate effort.

https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/Ru

[2020-10-01 14:22] dkurt commented on #2482
Hi!

Also experienced this issue at https://github.com/dkurt/vineyard/.

Please try the latest master branch of OpenVINO - problem disappeared for me.

[2020-10-01 14:45] jgespino commented on #2478
Hi @nsk-lab

Do you see the same issue with the OpenVINO toolkit 2020.4 release? We also have a step-by-step tutorial on how to integrate NNCF package, did you give that a try?

https://github.com/openvinotoolkit/nncf_pytorch/blob/develop/docs/Usage.md

Regards,
Jesus

[2020-10-01 16:39] mhamdan91 commented on #2386
Thank you.

[2020-10-01 16:39] #2386 closed

[2020-10-02 01:10] nsk-lab commented on #2478
@jgespino Thanks for response.

1)

I referred top page [README](https://github.com/openvinotoolkit/nncf_pytorch/blob/develop/README.md) to modify my training code.
I check Usage.md and confirmed that I obeyed instructions described there.

some details of my code:
- define subclass of nncf.initialization.InitializingDataLoader and implemented get_inputs() which returns real image. get_target() re

[2020-10-02 15:32] jgespino commented on #2430
Hi @mattans

I don't believe there are any non-deterministic parts. Do you know the confidence value of the predictions with zero width?
Please try to run our demo without any modifications and the following models to see if any zero width predictions are present.

[code]

Regards,
Jesus

[2020-10-02 15:37] #2376 closed

[2020-10-02 20:33] fel88 commented on #2482
Thank you, but unfortunately it didn't help.
I tried both (latest master and releases/2021/1). The problem still remains.
Any other ways I can try?

[2020-10-04 01:32] CraneLu opened #2526 "[Bug]Can I use openvino in vs2008?"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description
It seems that I can't use openvino in vs2008, it compiles failed with many c++11 standard.
Then,I try to wrap openvino into a DLL with vs2017,but it failed again?
Any other solutions?

[2020-10-04 14:09] lablabla commented on #2480
Just updated to the latest OpenVINO version `2020.4.287` and the issue still exists

[2020-10-05 04:13] tingggggg commented on #2451
Hi @jgespino

Thanks for your help first.

model optimize: openvino_2020.4.287 (mo_onnx.py)
Then model is from above link.

 infer_request_handle = exec_net.start_async(request_id=0, inputs=inputs)
  if infer_request_handle.wait(timeout) != 0:
    return None, None

Part of code is as follow
[code]

[2020-10-05 12:22] Maxim-Doronin commented on #2418
@Werni2A, is `[ ERROR ] Can not init Myriad device: NC_ERROR` printed after i-th trying to load execution network on the device, when `i >= 1`? I mean, isn't the problem reproduced on the first network loading?

You can get `[ ERROR ] Can not init Myriad device: NC_ERROR` in the following cases:
* There is no booted device
* Device is already full, that is exactly 10 graphs have been loaded on the

[2020-10-05 13:11] jgespino commented on #2526
Hi @CraneLu

Thanks for reaching out! The OpenVINO toolkit is not supported on Microsoft Visual Studio 2008.

Per the [built instructions](https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md):

Could you please provide the commands and error you see on Microsoft Visual Studio 2017?

Regards,
Jesus

[2020-10-06 01:35] kvablack opened #2549 "[Bug] Shape inference error with simple TensorFlow array indexing"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu 18.04
- Problem classification: Model Conversion
- Framework: TensorFlow 2.2.0

##### Detailed description
Simple array indexing in TensorFlow converts to a StridedSlice op, which subsequently fails shape inference if the index is unknown, even though the output shape should be obvious.

##### Steps to

[2020-10-06 09:01] slyalin commented on #2406
@xiaoweiChen,

If the branches are really small and execution of both `then` and `else` isn't so expensive in comparison to the whole inference time, then you cat try to eliminate `if` by executing both branches and then use `Select` to merge the results depending on condition.

At this moment OpenVINO doesn't support `If` and only thing that I can propose for now is to use Mask-RCNN conversion hi

[2020-10-06 12:50] jgespino commented on #2360
Closing due to inactivity, please re-open or start a new issue if additional assistance is needed.

[2020-10-06 12:50] #2360 closed

[2020-10-06 16:29] jgespino commented on #1802
Closing, please re-open or start a new issue if additional assistance is needed.

[2020-10-06 16:29] #1802 closed

[2020-10-07 04:49] n-mam opened #2567 "opencv's dnn module not working with person-detection-retail-0013"
Hi

I had a working opencv dnn setup with MobileNetSSD_deploy caffemodel for person detection. I successfully compiled opencv (master) with openvino(2020.4.287). However when I replace the cafemodels with FP16 person-detection-retail-0013 model files, I do not get any detections. The confidence levels seems to be too low (0.01xy) Could you please advise on what could be the issue here ? Is there a

[2020-10-07 07:25] pluniak commented on #823
@lazarevevgeny Hi! Any updates on this? Will this part of the next OpenVINO toolkit release? When is this expected? We'd ike to move from TFX to OpenVINO model server, so we can better serve PyTorch models and avoid GPU inference. Thanks for any information on this!

[2020-10-07 07:53] n-mam commented on #2567
further information: on using the original mobilenet ssd model files from inside openvino setupvars env I get the below errors:

[code]

[2020-10-07 09:05] nmVis commented on #1858
@dmitryte Hi! Any updates or comments?

[2020-10-07 09:06] nmVis commented on #1471
@dmitry-gorokhov Hi! Any updates or comments?

[2020-10-07 09:57] adranit commented on #1229
We have included vp8 plugin into 2021.1 release.

[2020-10-07 09:57] #1229 closed

[2020-10-07 12:53] jgespino commented on #1618
OpenVINO toolkit 2021.1 is now available through [PyPI](https://pypi.org/project/openvino-python/).

[2020-10-07 12:53] #1618 closed

[2020-10-07 12:57] jgespino commented on #2549
Hi @kevin3-black

We just released OpenVINO toolkit 2021.1 with official support for models trained in the TensorFlow 2.x framework. Could you please give the new release a try and see if your issue is solved?
https://software.intel.com/content/www/us/en/develop/tools/openvino-toolkit/download.html

If the issue is still present, please share your model to reproduce on our end.

Regards,
Jesus

[2020-10-07 13:26] lazarevevgeny commented on #823
@pluniak, the partial support for Resize-11 (limitations described here https://github.com/openvinotoolkit/openvino/blob/master/docs/MO_DG/prepare_model/Supported_Frameworks_Layers.md) has been added. You can grab the code from the release branch `releases/2021/1` or `master` branch or take the official OpenVINO package which was released just today and try. One of the PRs mentioned by me in the p

[2020-10-07 15:28] royallela commented on #2349
Hi @Werni2A , could you try with the latest OpenVINO 2021.1 released yesterday?

[2020-10-07 17:20] jgespino commented on #2451
Hi @tingggggg

I converted the model with the following command and was able to inference using the benchmark_app on the latest release OpenVINO toolkit 2021.1.

`python3 mo.py --framework onnx --input_model retinanet-9.onnx`

I recommend checking your application for deprecated API calls as there were many changes from 2019.3 release to date. See the [deprecated dist](https://docs.openvinotoolkit

[2020-10-07 17:22] jgespino commented on #2476
Closing, please re-open if additional assistance is needed.

[2020-10-07 17:30] jgespino commented on #2478
Hi @nsk-lab

We actually just release OpenVINO toolkit 2021.1 yesterday, could you update your OpenVINO toolkit and give it a try on the latest release? There has been some changes in the API since 2020.2 release, I recommend taking a look at the release notes for backwards incompatibility changes.
https://software.intel.com/content/www/us/en/develop/articles/openvino-relnotes.html

Does your onnx

[2020-10-07 21:10] h6197627 commented on #437
Unfortunately still there in 2021.1

[2020-10-07 23:40] jstumpin opened #2582 "Errata on benchmark page"
https://docs.openvinotoolkit.org/latest/openvino_docs_performance_benchmarks.html

*i9-10920X is written as i7-10920X

[2020-10-08 06:54] ilya-lavrenov commented on #2582
@jstumpin could you please create a PR with the fix?

[2020-10-08 09:02] ilya-lavrenov commented on #437
@artanokhov @asuhov could you please comment?

[2020-10-08 09:28] jstumpin commented on #2582
There's nothing (or at least I couldn't find one) in this [repo](https://github.com/openvinotoolkit/openvino/blob/master/docs/benchmarks/performance_benchmarks.md) that would reflect on the mislabeling of the graphs on the webpage.

[2020-10-08 11:08] ilya-lavrenov commented on #2582
@ntyukaev do you know where is the document with such content?

[2020-10-08 12:51] n-mam commented on #2567
I see that face detection using opencv dnn api and face-detection-adas-0001 model works fine. However all the samples which use person-detection-retail-0013 make exclusive use of use of openvino api. I didnt see any sample which makes use of opencv's dnn api. Do we have some docs around which api level (openvino vs dnn) works with which models ?

[2020-10-08 13:52] jgespino commented on #2582
Hi @jstumpin

Could you check once more? I'm not seeing any mention of i7-10920X in https://docs.openvinotoolkit.org/latest/openvino_docs_performance_benchmarks.html. It may have already been updated.

Regards,
Jesus

[2020-10-08 14:00] dmitryte commented on #1858
Hi, @nmVis

I got the results above using default execution of the benchmark_app with async api.

The increased latency is expected with async API but you also get more FPS.
Sync mode is more suitable for real-time apps since latency is critical in this case.

You can also tweak number of threads and infer requests with the benchmark_app. Though, defaults are usually optimal for most of the cases

[2020-10-08 14:14] jgespino commented on #2582
@jstumpin I apologize for my oversight, I now see what you are referring to. I have submitted a ticket for the team to update the documentation.

Regards,
Jesus

Ref. 40467

[2020-10-08 14:50] jgespino commented on #2567
Hi @n-mam

That is correct, the samples and demos from OpenVINO toolkit make use of the Inference Engine.

For OpenCV DNN, we used to have a Python sample in the OpenVINO Raspbian OS installation guide. I did a quick test with the OpenVINO toolkit 2021.1 release using the code below and did not see any issues running inference with person-detection-retail-0013.

[code]

@dkurt Do you know if we ha

[2020-10-08 15:22] n-mam commented on #2567
Great! it is working now... many thanks for the python sample. Changed the image size and the ddepth values to blobFromImage. also my earlier MobileNetSSD was class based detection and I forgot to remove the object class check while using openvino model. Thanks again.

[2020-10-09 05:49] dkurt commented on #2567
All the OpenCV samples are located in OpenCV repo. Take a look at https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.cpp

[2020-10-09 09:53] n-mam commented on #2567
@dkurt thanks. Not sure if this covers all aspects of how the results are to be interpreted. For example check [this post ](https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/age-gender-recognition-retail-0013-through-cv-dnn-API-SOLVED/td-p/1162534) which highlights similar issues while integrating openvino models with dnn api. Based on the discussion in this thread I was able to get th

[2020-10-09 10:44] dkurt commented on #2567
Please try this instead:
[code]

[2020-10-09 11:11] n-mam commented on #2567
okay thanks. For females this change gives out[0].at<float>(1) a value of 0 and for males it comes out as as 7.79122e-43. Would this be correct ? If yes, then which of the 2 earlier python checks (reproduced below) would be more representative of the M/F differentiation ?

value of out[0].at<float>(1) > 0.5 as being male
`res.isMale = genderBlob->buffer().as<float*>()[1] > 0.5;`

or
value of out[0

[2020-10-09 11:30] n-mam commented on #2567
It seems out[0].at(1) come out consistently as 0 for females in different videos.. I guess ill go with that.
Thanks again for your pointers. I'll close this now.

[2020-10-09 11:30] #2567 closed

[2020-10-09 15:18] NatachaRuchaudDB opened #2611 "[ ERROR ] Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.front.ChangePlaceholderTypes.ChangePlaceholderTypes'>): Something bad has happened with graph! Data node "Preprocessor/mul" has 2 producers"
- OpenVINO => 2020.4
- Operating System / Platform => Windows 64 Bit
- Problem classification: Model Conversion
- Framework: TensorFlow 1.15
- Model name: ssdlite_mobilenet_v2_coco_2018_05_09
- Object detection tensorflow api: master

##### Detailed description of the problem

Hello,
I retrained the ssdlite_mobilenet_v2_coco_2018_05_09 model with my own data on the last version of object detection

[2020-10-09 22:11] BlohoJo opened #2613 "[Bug] Does anyone know what could cause glitching like this?"
I'm using OpenVINO as built into Topaz Gigapixel. This is an image upscaler that uses tensorflow.dll. Because it's a third party app, I don't know exactly how they compiled OpenVINO.

Everything was working fine until the released version 5.1.7 several days ago. In this version, they mentioned in the release notes that they updated OpenVINO for Windows.

I have a unusual set up.

Machine is a VM,

[2020-10-10 09:26] cocokale commented on #2476
Hi, sorry for the late reply.

I am able to load other models (custom trained) to the GPU plugin, which mainly consists of convolutional layers and fully connected layers.
The model I'm working on is also custom trained which mainly consists of bert layer (multi-head attention) and fully connected layers.

I'd like to share the model by sending an email to you with an OneDrive link. Is it OK for y

[2020-10-10 09:26] cocokale commented on #2476
Hi, sorry for the late reply.

I am able to load other models (custom trained) to the GPU plugin, which mainly consists of convolutional layers and fully connected layers.
The model I'm working on is also custom trained which mainly consists of bert layer (multi-head attention) and fully connected layers.

I'd like to share the model by sending an email to you with an OneDrive link. Is it OK for y

[2020-10-11 01:01] jstumpin commented on #2582
Sources:
https://docs.openvinotoolkit.org/latest/bert-large-uncased-whole-word-masking-squad-int8-0001-ov-2021-1-096.js
...
https://docs.openvinotoolkit.org/latest/yolo-v3-tf-ov-2021-1-096.js

[2020-10-11 01:34] BlohoJo commented on #2613
In case it might prove useful to anyone taking a look at this, here's an archive containing logs produced by the application, as well as compiled dll files that I believe are the OpenVINO ones.

https://www49.zippyshare.com/v/LCD4g6BA/file.html

[2020-10-11 10:55] mattans commented on #2430
Hi @jgespino,
I'm essentially running the demo, just without the visualizations, and in a loop (many models X videos combinations)
I don't think it's related to a specific model, I think it's in the "glue code" - zero area bboxes are allowed, when they shouldn't

[2020-10-12 03:27] ilyachur commented on #109
We have a PR: https://github.com/openvinotoolkit/openvino/pull/2502

This PR allows to use system pugixml.

[2020-10-12 06:50] Hussni-V commented on #2462
I have went the route of implementing my custom op as an IE extension instead

[2020-10-12 06:50] #2462 closed

[2020-10-12 07:36] wfchair opened #2658 "Failed to convert caffemodel to openvino IR"
https://github.com/wujixiu/helmet-detection
I wanna convert the SSD-RPA512 hardhat caffemodel into intel openvino IR, but failed.
$ python3 /opt/intel/openvino/deployment_tools/model_optimizer/mo.py --input_model ./VGG_RPA512_Hardhat_iter_148000.caffemodel

The error is unsupported layer; What can I do to fix the problem?
Can you share a detailed procedure to fix the problem?

![mo](https://user-i

[2020-10-12 08:29] Werni2A commented on #2418
@Maxim-Doronin Sorry for the long delay. The issue does not reproduce when loading the network for the first time (`i == 0`) but the issue fits your description of:

I start counting the networks from 0 therefore, `Load parallel network 10 ...` from my log above corresponds to loading the 11th network that fails.

Is there some documentation for the Myriad hardware constraints that specify the max

[2020-10-12 09:26] Werni2A commented on #2349
@royallela I tried with today's source build (master branch with latest commit ef2aa3ad676564e99d368932987ba8e5b87483a9) but the issue still persists.

[2020-10-12 11:16] nmVis commented on #1858
Hi @dmitryte,

since we have a real-time app on our end, the async mode isn't interesting to us.
Do you have some idea what could cause the lack of performance increase in the case of the INT8 model in sync mode?

I'm expecting the INT8 model to be faster than the FP32 variant for the same number of threads. What could be the cause that it doesn't behave like that?

[2020-10-12 11:18] edwardnguyen1705 commented on #1551
Dear @jgespino ,
I am able to convert the full [yolov5](https://github.com/edwardnguyen1705/yolov5) v2 models to `OpenVINO`, and here is a converted model: [yolov5xxs_320_custom_up_face](https://github.com/edwardnguyen1705/openvino/tree/master/detection/checkpoints). However, there is a significant mAP drop when loading the model to `HDDL` device compared to `CPU`.  While doing [`plugins['HDDL'].s

[2020-10-12 12:45] jgespino commented on #2476
Hi @cocokale

Yes, please share a link to your model via email.

Regards,
Jesus

[2020-10-12 13:23] jgespino commented on #2611
Hi @NatachaRuchaudDB

Could you please provide the model optimizer command you are using? Please ensure you are using the configuration file for TensorFlow Object Detection API with `--transformations_config`, see [Converting TensorFlow Object Detection API Models](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_Object_Detection_API_Model

[2020-10-12 13:24] jgespino commented on #2526
Closing, please re-open or start a new issue if additional assistance is needed.

[2020-10-12 13:24] #2526 closed

[2020-10-12 16:00] jgespino commented on #1551
Hi @s-t-e-p-a-n-o-v

For your model, there is a half precision overflow on MatMul layer which is converted to FullyConnected by the model optimizer. We recommend regenerating the IR using the model optimizer with `--scale` parameter. This should be analyzed by the myriad plugin correctly and there should be no overflow. Then you should be able to accuratly infer your model with VPU_HW_STAGES_OPTIM

[2020-10-12 17:44] NatachaRuchaudDB commented on #2611
Hi @jgespino

The model optimizer command that I use is:

python mo_tf.py  --input_model ..\modelTrain\frozen_inference_graph.pb  --output_dir ..\modelTrain --transformations_config extensions/front/tf/ssd_support_api_v1.15.json  --tensorflow_object_detection_api_pipeline_config ..\modelTrain\pipeline.config

When I use this command to convert the same model downloaded from the TensorFlow Object D

[2020-10-12 18:43] s-t-e-p-a-n-o-v commented on #1551
Hi @jgespino!

Many thanks for the clarification!

[2020-10-12 20:24] #109 closed

[2020-10-13 01:07] edwardnguyen1705 opened #2637 "Big difference in output results between CPU and HDDL"
Dear @jgespino ,
I am able to convert the full [yolov5](https://github.com/edwardnguyen1705/yolov5) v2 models to `OpenVINO`, and here is a converted model: [yolov5xxs_320_custom_up_face](https://github.com/edwardnguyen1705/openvino/tree/master/detection/checkpoints). However, there is a significant mAP drop when loading the model to `HDDL` device compared to `CPU`.  While doing [`plugins['HDDL'].s

[2020-10-13 06:57] tankienleong opened #2638 "Openvino 2020.3 docker container cannot access HDDL in host machine (ubuntu 18.04)"
From the ${HDDL_INSTALL_DIR}/drivers/setup.sh, I can see that due to kernel incompatible issue, myd_ion installation is disabled in ubuntu 18.04

but without the myd_ion, docker container cannot access the HDDL in host machine

[2020-10-13 10:13] fel88 commented on #2482
Solved by updating Linux Kernel to version 5.8

[2020-10-13 10:13] #2482 closed

[2020-10-13 18:33] jgespino commented on #2638
Hi @tankienleong

What kernel version are you using on Ubuntu 18.04? Did you install the OpenVINO toolkit on your host system first per the [installation instructions](https://docs.openvinotoolkit.org/latest/openvino_docs_install_guides_installing_openvino_docker_linux.html#use_a_docker_image_for_intel_vision_accelerator_design_with_intel_movidius_vpus)? You will need to setup the environment on t

[2020-10-13 19:07] jgespino commented on #2637
Hi @edwardnguyen1705

Thanks for reposting as a new issue, this model has not been validated with OpenVINO. Are you using the model optimizer to convert the model to IR format? Please try adding the --scale parameter and see if you obtain the expected results.

Regards,
Jesus

[2020-10-13 19:08] jgespino commented on #2476
Hi @cocokale

Thanks for sending the model over, I will take a look and get back to you.

Regards,
Jesus

[2020-10-13 21:43] mliu2020 commented on #2658
Hi @wfchair,

I am transferring this to OpenVINO since this is out of DL Streamer's scope. DL Streamer acting the integration framework of OpenVINO and video inputs, it uses OpenVINO inference engine so the model requirement is the same.

This is a typical Model Optimizer question, you can also post this question to https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/bd-p/distribution-op

[2020-10-13 23:29] mhkabir commented on #1822
@jgespino any updates on this?

[2020-10-14 01:51] edwardnguyen1705 commented on #2637
Dear @jgespino ,
Yes, you're right this model has not been tested by your team. And here is how I got the `IR`:

[code]

I already did the scaling in the preprocessing the input image: https://github.com/edwardnguyen1705/openvino/blob/b82db3ed995c9805f1328be3ab3d4781c2ef9237/detection/detection.py#L33

Or maybe I miss understand the parameter `--scale` function in the conversion process?

[2020-10-14 03:49] buuvo95 opened #2659 "Multiple NCS2 work on only an Inference for speed up the network"
##### System information (version)

- OpenVINO=> :grey_question:How to use multiple NCS2 work on an inference

##### Detailed description
I successfully creared a network that can infer on an NCS2. Now,  I want to speed up the inference by using multiple NCS2 that work in parallel on an inference. I do this by the following:
##### Steps to reproduce
`
plugin = IECore()
net = plugin.read_network(mo

[2020-10-14 06:49] tankienleong commented on #2638
Hi @jgespino , the ubuntu 18.04 kernel version is 5.4.0-48-generic
I also installed openvino 2021.1 in ubuntu 18.04 but it only installed myd_vsc, no myd_ion

My docker container able to access HDDL (openvino 2020.3) when the host machine is ubuntu 16.04 (4.15.0-118-generic)

[2020-10-14 07:45] vladimir-paramuzov commented on #2476
@cocokale We had a fix recently for similar issue (#2453). Could you try the latest master and check if the error still reproduces?

[2020-10-14 09:00] vladimir-paramuzov commented on #2239
@guoyejun This sys time increase is caused by the gpu driver which uses polling to check kernels completion by default. You can set the following plugin key to enable throttling and reduce sys time:
config["GPU"][CLDNN_CONFIG_KEY(PLUGIN_THROTTLE)] = "1";

Note: this key might lead to some performance drop.

[2020-10-14 09:54] generalova-kate commented on #831
Fixed in 2021.1 docker images

[2020-10-14 09:54] #831 closed

[2020-10-14 10:16] guoyejun commented on #2239
thanks

[2020-10-14 10:16] #2239 closed

[2020-10-14 10:53] aishakhan22 opened #2661 "[Bug] ERROR: Could not save WFST to file slm.fst Could not convert WFST 'HCLG.const.fst' to 'slm.fst'"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform =>  Ubuntu 18.04 (openvino/ubuntu18_data_dev:2020.4 docker image)
- Problem classification: Model Conversion
- Framework: Kaldi
- Model name:  [CVTE Mandarin Model](https://kaldi-asr.org/models/2/0002_cvte_chain_model_v2.tar.gz)

##### Detailed description

*Abstract:* Convert kaldi mandarin model to integrate wi

[2020-10-14 13:01] jgespino commented on #2638
Hi @tankienleong

Currently, the ION driver is only supported on Kernel 5.3 or earlier. Could you try downgrading the your Kernel to 5.3? Please make sure you are using matching OpenVINO versions on the host system and docker container.

Regards,
Jesus

[2020-10-14 13:17] jgespino commented on #1822
Hi @mhkabir

Please share the model and image once more, I am unable to access the easyupload link in the original post.

Regards,
Jesus

[2020-10-14 13:32] jgespino commented on #2430
Hi @mattans

Please try on the latest 2021.1 release and let me know if the issue is still present. I have been unable to replicate the error, I will try and match your system configuration.

Please share the following:

- CPU model
- Python version
- Cmake version
- Full command used to run demo

Regards,
Jesus

[2020-10-14 13:41] jgespino commented on #2611
Hi @NatachaRuchaudDB ,

Looks like you are using the model optimizer correctly, we had a previous report of a similar issue on our Intel Community. User reported the issue being solved by using a TensorFlow branch prior to July 1st. Could you give that a try?

See discussion here:
https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/TF-ssdv2-to-IRv10-error-quot-Preprocessor-mul-quot-has-2

[2020-10-14 14:14] zvif opened #2664 "[Bug]"
##### System information (version)

- OpenVINO => 2020.4 + 2021.1.110
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
-Using multi_camera_multi_target_tracking demo
-->

##### Detailed description
When the CPU is fully utilized the program crashes.
Message:
Exception in Thread-1
MemoryError:Unable to allocate 5.93 MiB for an array with shape (1080,1920,3) and data

[2020-10-14 14:16] eero-t opened #2665 "[Bug] 2020.1 build is broken"
##### System information (version)

* Ubuntu 20.04 (container)
* libdrm, libva, gmmlib, media-driver, vc-intrinsics, IGT, L0, compute-runtime and opencv built from today's latest Git tags
* OpenVINO sources from "2021.1" Git tag

##### Detailed description

Buliding OpenVINO "2020.1" fails.

##### Steps to reproduce

[code]
Fails with following error:
[code]

Changing "ENABLE_LTO" to ON or OFF doe

[2020-10-14 14:23] eero-t commented on #2665
This is fixed by initializing submodules.  CMake could have a check for whether the submodule directories have some content (e.g. the CMakeLists.txt files), and if not, complain that user had forgotten to init submodules.

[2020-10-14 14:31] NatachaRuchaudDB commented on #2611
Hi @jgespino

Yes, I also trained the model using a prior version to July 1st of TF Obj Det API and even other prior versions (2 years ago). Unfortunately, I get the same error, so it is very strange.

Best,
Natacha.

[2020-10-14 15:36] jgespino commented on #2637
Hi @edwardnguyen1705

Try converting the model by passing `--scale 255` and not use it in the preprocessing. Additional information can be found in the MO documentation section [When to Specify Mean and Scale Values](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Converting_Model_General.html#when_to_specify_mean_and_scale_values).

Also, could you share yo

[2020-10-14 15:58] jgespino commented on #2664
Hi @zvif

Please provide the following information to help us reproduce.

- CPU model
- CMake version
- Python version
- full demo command

Regards,
Jesus

[2020-10-14 16:22] edwardnguyen1705 commented on #2637
Dear @jgespino ,

Thanks for your time. I will convert the model passing the parameter `--scale 255` like what you suggested.
I would like to share two converted models:
1. At first, I think the problem caused by the `torch.nn.Upsample`, so I customized an `Upsample` class, like this: https://github.com/edwardnguyen1705/yolov5/blob/9a6e4a87f75dc69a178aa50509ae951cf899b6d1/models/common.py#L150
[cu

[2020-10-14 17:31] alalek commented on #2664
Please check memory consumption.
Probably queues for input frames are full and consumed all available memory.

[2020-10-14 17:36] alalek commented on #2432
OpenCV binaries in OpenVINO are built without `libtiff`.

So, workaround is using external/system OpenCV with enabled libtiff, like mentioned above.

[2020-10-14 17:52] jgespino commented on #2659
Hi @buuvo95

Thanks for reaching out, it looks like you are using the [Heterogeneous Plugin](https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_supported_plugins_HETERO.html) which is handy when using a model that is not supported on a device. For example, if the model contains layers that are not supported on the Intel Neural Compute Stick 2 (MYRIAD). Hetero can run the supported layers

[2020-10-14 18:52] jgespino commented on #2665
Hi @eero-t

As you mentioned, the submodules need to be initialized after cloning the repository. Glad you were able to solve the issue quickly.
I will pass this feedback to the development team.

Regards,
Jesus

[2020-10-14 18:52] #2665 closed

[2020-10-14 19:59] eero-t commented on #2665
Another issue is "secretly" doing git clones during the build (e.g. for ONNX).  Like with "wget", there should be some indication when build goes outside the machine.  It should also use checksums to verify that the sources it fetches are actually what they were supposed to be.

[2020-10-14 20:13] leoll2 commented on #1822
Hi @jgespino,
here is are the models and image:
https://drive.google.com/file/d/1Qv9YFjRTlnOFHyoARf3pismmhaSGgeYa/view?usp=sharing

[2020-10-15 06:56] cocokale commented on #2476
Hi Vladimir, thanks for you help. The RuntimeError is solved after I build the latest master branch.

[2020-10-15 07:08] junxnone commented on #2432
- **Test Update:** The OpenVINO 2021.1 - OpenCV still without libtiff.
- And I found that the OpenVINO runtime can be install by pip now. so the opencv is not the problem for me.

[2020-10-15 08:01] dkurt commented on #2432
@junxnone, you're right. Just for reference, official version is https://pypi.org/project/openvino-python/

[2020-10-15 08:06] zvif commented on #2664
This happens when I am running and I open a different application. Since this is running on recorded clips (not live) - is it possible to check the memory and wait till the queue clears before trying to load a new frame? Even though the queue get's filled up - there should be a way to gracefully handle this (not to cause and exception). This can always be a problem since it is difficult to predict

[2020-10-15 08:10] emmanuelattia-philips opened #2675 "Having a static library version of OpenVINO"
Hello,

It would be super useful to have a static library version of OpenVINO
The use case for that would be multiple plugins (not aware of each others / having differents cycle of dev and team of dev) being linked with different versions of OpenVINO, needed to be gathered in the same process.

Ideally it would simply be enabled by one or several Cmake flags.

Is it something planned ? I'm aware t

[2020-10-15 12:36] maxlytkin commented on #2109
@mhkabir
The result is inaccurate when HW optimization is enabled because there might be a half precision overflow on MatMul layer. We were informed that we can't make any workaround or fixes because of data sensitivity and possible impacts on other models.
We would recommend to regenerate IR using MO with --scale parameter (scale 4, 8, 16, etc.). In this case, data values and weights will be anal

[2020-10-15 13:10] jgespino commented on #2476
@cocokale Did you re-open by mistake or do you need additional assistance?

[2020-10-15 13:12] #2476 closed

[2020-10-15 13:41] campos537 opened #2682 "Question about converting Tensorflow Object Detection 2.3 to Model Optimizer"
i saw that in version 2021.1 it was added support to TF 2.X conversions, also using the DL Workbench there is an option there, but when trying to convert an object detection model trained with Tensorflow 2.3 it didn't worked giving this error:
`Shape is not defined for output 1 of "StatefulPartitionedCall/Postprocessor/BatchMultiClassNonMaxSuppression/MultiClassNonMaxSuppression/non_max_suppressio

[2020-10-15 16:56] jgespino commented on #1822
@leoll2 Could you also share this model in ONNX format and the model optimizer command used? Feel free to send it privately via email if needed.

[2020-10-15 17:35] jgespino commented on #2613
Hi @BlohoJo

Thanks for reaching out, this is a very interesting setup with many factors to consider. Unfortunately, I am not familiar with Topaz Gigapixel or how OpenVINO was integrated by the app developer. This question should really be addressed by the app developer on Topaz [Community](https://community.topazlabs.com/).

It may be worth a try to test Gigapixel on a system that is configured a

[2020-10-15 21:41] EnricoBeltramo opened #2689 "Data batch channel count (1) does not match filter input channel count (256)"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => ubuntu 64 Bit
- Compiler => python
- Problem classification: Model Conversion
- Framework: pytorch (if applicable)
- Model name: custom (if applicable)

##### Detailed description
I successfully converted a model from pytorch to onnx to openvino, anyway when I load the model for inference, I have follow error:

[2020-10-15 21:47] EnricoBeltramo opened #2690 "[Bug]"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => ubuntu 64 Bit
- Compiler => python
- Problem classification: Model Conversion
- Framework: pytorch (if applicable)
- Model name: custom (if applicable)

##### Detailed description
I have successfully converted a model from pytorch to onnx to openvino, anyway when I load the model I have follow error:

data [24

[2020-10-16 08:44] edwardnguyen1705 commented on #2637
Dear @jgespino ,

I did add the parameter `--scale 255` in the conversion command, and do not perform `img / 255.0` in the preprocessing step, but the issue still remains.

Best regards,
Edward

[2020-10-16 12:42] jgespino commented on #2582
@jstumpin Benchmark page has been updated, thanks for reporting!

[2020-10-16 12:42] #2582 closed

[2020-10-16 13:02] jgespino commented on #2637
@edwardnguyen1705 Let me check with my peers to see if they have additional suggestions, we will get back to you shortly.

[2020-10-16 13:04] jgespino commented on #2690
Duplicate of https://github.com/openvinotoolkit/openvino/issues/2689

[2020-10-16 13:04] #2690 closed

[2020-10-16 15:03] jgespino commented on #2682
Hi @campos537

Thanks for reaching out, in the previous release (2020.4) TF2 Object Detection API models were not supported yet. I don't believe that has change but let me confirm with my peers and get back to you.

https://github.com/openvinotoolkit/openvino/issues/1801

Regards,
Jesus

[2020-10-16 15:20] jgespino commented on #2689
Hi @EnricoBeltramo

Do you see the same issue with the latest OpenVINO 2021.1 release? Please provide the full Model Optimizer command used to convert the model, from the XML I don't see `--input_shape` or `--batch` was passed. Could you try specifying one of those two parameters?

Regards,
Jesus

[2020-10-16 15:22] campos537 commented on #2682
Hey @jgespino

It will be really great be able convert the TF2 detection models to MO, i saw yesterday that you guys added the NonMaximumSupression on the Inference Engine. Thanks for the help!

[2020-10-16 15:24] jgespino commented on #2661
Hi @aishakhan22

The model you are trying to use is not supported by OpenVINO. See the [supported topologies](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Convert_Model_From_Kaldi.html#supported_topologies) list for Kaldi in the model optimizer documentation.

Regards,
Jesus

Ref. 39747

[2020-10-16 15:42] jgespino commented on #1551
@s-t-e-p-a-n-o-v  No problem, please re-open if you need additional assistance.

[2020-10-16 15:42] #1551 closed

[2020-10-16 15:46] #2406 closed

[2020-10-16 15:47] jgespino commented on #2451
Closing, feel free to re-open if additional assistance is needed.

[2020-10-16 15:47] #2451 closed

[2020-10-16 15:48] jgespino commented on #2478
Closing, please re-open if additional assistance is needed.

[2020-10-16 15:48] #2478 closed

[2020-10-16 15:49] jgespino commented on #2549
Closing, please re-open if additional assistance is needed.

[2020-10-16 16:02] #2428 closed

[2020-10-16 16:08] tingggggg commented on #2451
Thanks for your help!

[2020-10-16 22:15] js333031 opened #2703 "ngraph module not found"
I have compiled 2021.1 branch, using Arch Linux (kernel 5.8) host. I can run C++ demos but python demo fails.

Error:
[code]

Installed python files under the openvino install tree:
[code]

During ``make install``, following output lines contain the word python:
[code]

CMake command used to build:
[code]

ngraph files in $INSTALLDIR path:
[code]

[2020-10-17 02:28] js333031 commented on #2703
I think I found the solution [here](https://github.com/openvinotoolkit/openvino/blob/master/ngraph/python/BUILDING.md#build-ngraph-python-wheel)

[2020-10-17 02:28] #2703 closed

[2020-10-17 10:53] kafan1986 opened #2704 "Can not load any network for model person-detection-retail-0013"
##### System information (version)
- OpenVINO => 2021.1
- Operating System / Platform => Mac OS Catalina
- Compiler => Clang
- Problem classification: Model Loading
- Framework: Intel proprietary
- Model name: person-detection-retail-0013

##### Detailed description

##### Steps to reproduce

At the below line all three version of the model (fp32, fp16, fp16-int8) throw different error.

**NOTE**:

[2020-10-17 13:25] js333031 opened #2705 "setup.py for python*/openvino/tools module"
In the Intel Distribution of OpenVINO Toolkit, `$INTEL_OPENVINO_DIR/python/python<ver>/openvino/tools` containing benchmark python module is present.

Is there a setup.py file for creating the python package when compiling openvino from source? ngraph provides the instructions [here](https://github.com/openvinotoolkit/openvino/blob/master/ngraph/python/BUILDING.md). Looking for similar methodology

[2020-10-17 13:29] EnricoBeltramo commented on #2689
Yes, the openvino version is version is 2021.1.

I tested different commands, anyway I fall always in similar error.
I tried configuring the batch size:
python mo.py --input_model '/home/ulix/Progetti/pysot/siamrpnmobilenet.onnx' --output_dir /home/ulix/Progetti/pysot/openvinosiamrpnmobilenet/ --data_type FP16 --batch 1
Model Optimizer arguments:
Common parameters:
	- Path to the Input Model: 	/ho

[2020-10-18 09:37] EnricoBeltramo commented on #2689
There are some news about that?
I was able to run successfully the network using ONNX runtime with Openvino provider, so I suppose the network is ok and able to run in Openvino. May be the problem is in the network conversion or how to load it in Openvino inference.
I would to use native Openvino  in order to manage better the Openvino optimizations.

[2020-10-19 09:30] cocokale opened #2713 "RuntimeError when loading the network to the MYRIAD plugin"
OpenVINO: latest master branch
OS: Ubuntu 18.04.5
Some other models works well on MYRIAD (mainly convolutional and fully connected layers.)
Reference issue:
https://github.com/openvinotoolkit/openvino/issues/2476

The current model is the same as the [2476](https://github.com/openvinotoolkit/openvino/issues/2476). There were RuntimeErrors both on the GPU plugin and MYRIAD plugin. Thanks for @vladi

[2020-10-19 13:51] jgespino commented on #2704
Hi @kafan1986

Could you try loading the model using the inference engine demo application? I was able to load the model to CPU and run inference with the following steps:

**Source Environment**
[code]

**Download the model**
`python3 /opt/intel/openvino_2021/deployment_tools/tools/model_downloader/downloader.py --name person-detection-retail-0013`

**Build the demo application**
[code]

**Run ap

[2020-10-19 15:31] jgespino commented on #2713
Hi  @cocokale

I tried loading the model you shared via email to CPU/GPU and MYRIAD. I am able to load the model to CPU and GPU, however, I am running into a different error when loading to MYRIAD. Do you know the commit ID of the master branch you used? I am currently rebuilding with the latest ([ff7fc01](https://github.com/openvinotoolkit/openvino/commit/ff7fc01c7614b5b50442410b9dbd4f66d22fbd47)

[2020-10-19 15:42] EnricoBeltramo opened #2721 "[Bug] Converting Faster RCNN 50 TensorFlow 2.3.0"
##### System information (version)

- OpenVINO => 2021.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Problem classification: Model Conversion
- Framework: TensorFlow 2.3.0
- Model name: Faster RCNN 50

##### Detailed description

Simply convert of base saved model from tensorflow zoo (http://download.tensorflow.org/models/object_detection/tf2/20200711/faster_

[2020-10-19 15:58] cocokale commented on #2713
Hi Jesus,
Thanks for your kind reply.
Previously, I actually got the same error as you, and the IR I shared with you before was generated by the model optimizer of the OpenVINO **2020.4** Release.
This current error was triggered by the IRs generated from the model optimize of the OpenVINO **2021.1** Release (which means, they come from the same ONNX, but different version of model optimizer).
I'l

[2020-10-19 16:30] jgespino commented on #2713
Thanks @cocokale for sending the new IRs over. I am seeing the same error as your post with fp32.xml, however, fp16.xml is still throwing the `Final check for stage Cast_1316 with type Convert has failed: Conversion from FP16 to U8 is unsupported` error. Could you confirm fp16.xml was also converted with 2021.1?

[2020-10-19 16:48] cocokale commented on #2713
Hi Jesus,

I checked again. Sorry, FP16 was a mistake. I've sent you the latest link. Please replace the old FP16 IR with the new one. Thanks.

[2020-10-19 17:04] iamwandering opened #2723 "[Bug] Inference results differ on cpu and NCS2 for yolov5"
##### System information (version)

OpenVINO => 2020.4/2021.1
- Operating System / Platform => ubuntu18.04
- Problem classification: MYRIAD vs CPU
- Framework: Pytorch
- Model name: Yolov5

##### Detailed description

Very different results obtained from using CPU vs MYRIAD, and setting VPU_HW_STAGES_OPTIMIZATION does not work

##### Steps to reproduce

I have successfully converted a customized y

[2020-10-19 17:15] jgespino commented on #2713
Hi @cocokale thanks for sending the model over, I was able to reproduce the same error with fp16.xml. Let me check with my peers  about this and get back to you.

[2020-10-19 19:31] kafan1986 commented on #2704
I told you in the original post the model files work fine with the sample application. Only when I use it inside my c++ app, it gives following error. Makes no sense but I have tried nearly everything.

[2020-10-19 21:19] kafan1986 commented on #2704
@jgespino As mentioned earlier the sample app works but not my own application. I have created a mini sample app that can reproduce the issue at my end. You will need to change the root_path in the main_application.cpp to the model file directory (already present inside the data folder).

Then run

cd build && cmake .. && make -j2

[testapp.zip](https://github.com/openvinotoolkit/openvino/files/54

[2020-10-20 01:28] tankienleong opened #2727 "Ubuntu 18.04.4 Openvino 2021.1 HDDL hardware initialization failed"
##### System information (version)
- OpenVINO => 2021.1
- Operating System / Platform => Ubuntu 18.04.4  kernel version 4.15.0-121-generic

The hddldaemon of Openvino 2021.1 failed to run in Ubuntu 18.04.4 kernel version 4.15.0-121-generic.

![Capture](https://user-images.githubusercontent.com/25731934/96528761-0f998800-12b6-11eb-8bef-b9c3a9b94f97.JPG)
![WhatsApp Image 2020-10-19 at 5 46 09 PM](ht

[2020-10-20 02:28] luoyiroy commented on #2713
Hi @cocokale
Can you send out the IR file to me? Thank you.

[2020-10-20 10:45] #2323 closed

[2020-10-20 11:29] ilya-lavrenov commented on #2675
Plugins linked with different version of OpenVINO are not guaranteed to work. From release to release interface between plugin and Inference Engine is changing, so plugin from 2021.1 release will not work with 2020.4 and so on.

So, how static linkage will solve such issues?

[2020-10-20 13:17] #1256 closed

[2020-10-20 13:26] emmanuelattia-philips commented on #2675
I'm not talking about OpenVINO's plugins, but plugin of another software which might be using different OpenVINO versions.

[2020-10-20 13:49] ilya-lavrenov commented on #2675
Ok, I see your point, thanks.

Actually, compiling of ngraph and other libraries as `STATIC` instead of `DYNAMIC` looks simple, because cmake has https://cmake.org/cmake/help/v3.0/variable/BUILD_SHARED_LIBS.html which change library type for targets where it's not set explicitly. But IE sets library library type explicitly, but we can remove it.

Second problem - we load plugin dynamically in runt

[2020-10-20 13:52] jgespino commented on #2721
Hi @EnricoBeltramo

Thanks for reaching out, this question is very similar to https://github.com/openvinotoolkit/openvino/issues/2682. I don't believe TF2 Object Detection API models are supported on OpenVINO toolkit. Let me confirm and get back to you.

Regards,
Jesus

@evgeny-izutov FYI

[2020-10-20 14:09] jgespino commented on #2723
Hi @iamwandering

`VPU_HW_STAGES_OPTIMIZATION` should always be on, if a model works by turning VPU_HW_STAGES_OPTIMIZATION off then it's considered a bug. This parameter was meant for debugging purposes and should be deprecated soon.

This question is very similar to https://github.com/openvinotoolkit/openvino/issues/2637, YOLOv5 has not been validated with OpenVINO so it may or may not work. Coul

[2020-10-20 14:42] dmitryte commented on #1911
Hi @DuckJ !

I converted the model to onnx with the command you provided and then used MO with the shape 2 1 32 100. Inference works fine in 2020.4.

[2020-10-20 15:40] kafan1986 commented on #2704
@jgespino Did you get the time to test the above application? I am looking for some guidance towards solution.

[2020-10-20 18:37] jgespino commented on #2704
Hi @kafan1986

I haven't had a chance to deep dive into your code and debug. However, the error message recommends to use CNNNetwork::reshape() method in order to specialize shapes before the conversion. Briefly looking through your code, I did not see any reshape methods called to match the input shape.

Please take a look at the following documentation for additional information. https://docs.op

[2020-10-20 19:35] kafan1986 commented on #2704
This is the official sample app that works fine with the model file. The code does not need any reshape method. Also, the other model are throwing different errors. My code is exact same apart from few lines that I removed to not support the Resnet. Can you build the test app at your end and check if you get the error message too. May be it is my environment setup issue.

https://github.com/openvi

[2020-10-20 22:14] SirNader opened #2736 "[onnx] Error while Converting LSTM onnx model [converted from keras by keras2onnx]"
##### System information (version)

- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu 18
- Problem classification: Model Conversion
- Framework: ONNX

##### Detailed description

Hello, I have created an LSTM keras model and converted it to onnx so I can convert it to IR and XML.
However I have got this error when I run the conversion script
![image](https://user-images.githubuserconten

[2020-10-21 00:33] agungor2 commented on #2480
@lablabla
1-) Could you try to use 2021.1 and let me know if you are still facing the issue?
2-) Can you attach the original ONNX model file for me to reproduce the issue?

".1" suffix comes from that Split is the multioutput operation and we have to add it to specify output port. So this is expected behavior.

3-) Could you also attach the error from the object detection demo that you are receivi

[2020-10-21 02:36] DuckJ commented on #1911
Hi, @dmitryte . When used  MO with the shape 2 1 32 100,  the inference can work with batchszie 2, but if you change the batchsize into 3 or others,  is everything ok?

[2020-10-21 02:38] DuckJ commented on #1911
@dmitryte https://github.com/openvinotoolkit/openvino/issues/436

[2020-10-21 07:44] tankienleong commented on #2727
I able to run the hddldaemon after I modified the install.sh from Mustang-V100_Linux_Plugin_1.0.3.20200212.

I changed all the "openvino" to "openvino_2021" inside install.sh

[2020-10-21 08:32] luoyiroy commented on #2705
Hi @js333031
We have no setup.py for benchmark_app. To use benchmark_app you need OpenVINO itself. So you have to build this module from the sources. After building it from the source, then set the python path to the build with 'export PYTHONPATH=<openvino_repo>/bin/intel64/Release/lib/python_api/python3.x', and then using it as 'python <openivno_repo>/inference-engine/tools/benchmark_tool/benchma

[2020-10-21 08:44] emmanuelattia-philips commented on #2675
Thank you for the indications, can i use this issue to report blocking point for me when advancing on this task ?

[2020-10-21 09:02] ilya-lavrenov commented on #2675
@emmanuelattia-philips sure.

[2020-10-21 09:58] lablabla commented on #2480
@agungor2 Thanks
I just tried 2021.1 (optimizing using it, and using the samples) and it still happen
The full outputs is:
[code]

Now the key error has `Split.2` instead of `Split.1`, but maybe I did something wrong

this is the model optimizer output:
[code]

The ONNX file can be downloaded from https://drive.google.com/file/d/1_Yu6tpwn6JhjAqDi1sQOwonocoU1eC6e/view?usp=sharing

[2020-10-21 11:19] iamwandering commented on #2723
I tried with the --scale 255 and it seems to work!  Thanks a lot!  Will do more testing tomorrow to confirm.

[2020-10-21 12:19] js333031 commented on #2705
I have compiled from source (on ArchLinux) and compared it against Intel distribution install (on Ubuntu). Ubuntu has tools module under Python directory but it is not installed on Arch Linux where I built from source.

Ubuntu (Intel distribution install):
[code]

[code]

[2020-10-21 12:56] kafan1986 commented on #2704
@After many hours of hair pulling, I finally figured out the issue. I am not sure if this is the intended behaviour of the project. The sample project or any other project that uses it, runs OK, only when build with "Release". You change it to "Debug", the build goes fine but while running it starts throwing different errors, giving an illusion, something is wrong with model/weight files.

May be

[2020-10-21 13:18] jgespino commented on #2727
Hi @tankienleong

Thanks for reporting your workaround, let me reproduce from my end and open a bug with the development team.

Regards,
Jesus

[2020-10-21 13:21] jgespino commented on #2723
@iamwandering Great! Please do let me know what you find out.

[2020-10-21 13:35] jgespino commented on #2403
Closing, feel free to re-open if additional assistance is needed.

[2020-10-21 13:35] #2403 closed

[2020-10-21 15:28] SirNader commented on #2736
FYI, I have cut the problematic node using this command
`python mo.py --input_model model_test.onnx --output_dir cd_lstm/ --framework onnx --input lstm_input -b 1 --output="lstm_7/HiddenStateResize"`

and I get this error

[ ERROR ]  Exception occurred during running replacer "REPLACEMENT_ID" (<class 'extensions.front.user_data_repack.UserDataRepack'>): No node with name lstm_1/HiddenStateResize.

[2020-10-21 17:38] jgespino commented on #2727
@tankienleong I was able to reproduce and it seems the IEI script needs to be updated to point to the new OpenVINO installation directory. I have passed this information on to the development team.

Regards,
Jesus

Ref. 41443

[2020-10-21 22:40] agungor2 commented on #2637
@edwardnguyen1705, thanks for the details. We are working on model enabling for yolov5 models.  I ran your IR files with benchmark app and saw 752 on HDDL whereas 175 with I7-6700K.

Can you attach the original ONNX model file for me to reproduce the issue? Please also point me to the location for .pt files and your steps to create ONNX file.

[2020-10-22 01:57] agungor2 commented on #2682
Hi @campos537,

Could you try running it with Model Optimizer and let us know if the issue still persists? We also have this model available on Open Model Zoo which is I think trained on an earlier version of TF: [ssd_resnet50_v1_fpn_coco ](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/ssd_resnet50_v1_fpn_coco/model.yml) You can refer to MO parameters in the link.

Ca

[2020-10-22 12:35] campos537 commented on #2682
Hey @agungor2,

I tried to run also with the Model Optimizer directly but i had the same issue, i will try to run again following the same parameters you guys showed on Open Model Zoo. The problem is that the model was trained using custom dataset and only work as a saved model, it was trained by using the Tensorflow 2.3

[2020-10-22 13:15] jgespino commented on #2736
Hi @SirNader

Do you see the same error with the latest OpenVINO 2021.1 release? The second error means it cannot find the specified output layer named "lstm_7/HiddenStateResize". Could you share the model to reproduce?

Regards,
Jesus

[2020-10-22 13:48] SirNader commented on #2736
Hi @jgespino
Thanks for your response. No, I didn't use the latest release.
I have provided the code that reproduce model :)
anyway, here's the model file
[model_test.zip](https://github.com/openvinotoolkit/openvino/files/5423200/model_test.zip)

Thank you in advance
Nader

[2020-10-22 16:09] edwardnguyen1705 commented on #2637
Dear @agungor2 Thanks so much for your effort. I would like to send you all models: `PyTorch`, `ONNX`, and `OpenVINO`:
[yolov5xxs_320_face.zip](https://github.com/openvinotoolkit/openvino/files/5424023/yolov5xxs_320_face.zip)

You can take a look a the `README.md` file of this repo, in which I describe every step that I do to convert: [yolov5](https://github.com/edwardnguyen1705/yolov5).

The conf

[2020-10-22 16:26] jgespino commented on #2704
Hi @kafan1986

I am glad you figured it out! I was able to reproduce the error with your testapp and by building the Inference Engine samples in debug. I have opened a bug with the development team to take a look.

Regards,
Jesus

Ref. 41509

[2020-10-22 17:32] jgespino commented on #2736
Hi @SirNader

Thanks for providing the model, I ran into the same error on OpenVINO 2021.1 release. Let me check with my peers and get back to you.

Regards,
Jesus

[2020-10-23 03:42] iamwandering commented on #2659
Hi,

I have installed the intel distribution of openvino following the guide here: https://docs.openvinotoolkit.org/latest/openvino_docs_install_guides_installing_openvino_linux.html

I am able to load the network using "MULTI:MYRIAD.1.3.1-ma2480,MYRIAD.1.3.2.2-ma2480".

I queried the network and could see the layers have been assigned to the multi network: (shown here are the first few lines)

{'

[2020-10-23 06:55] #1858 closed

[2020-10-23 08:32] dmitryte commented on #1911
@DuckJ I experience same issues with runtime reshape.

As for the recommendations in the last comment here #436, you can generate several IRs and choose them manually inside the script according to your inputs. That would be the best workaround for this case right now.

[2020-10-23 09:19] cosmos1982 opened #2791 "[Sample][Custom Layer]No instructions for using the 'inPlaceExtension' in hello_reshape_ssd sample"
There is  a code sample of "CustomReLU" op implementation in samples/cpp/hello_reshape_ssd/reshape_ssd_extension.hpp, but no instructions for the corresponding models with 'CustomReLU',  where can I get an IR with 'CustomReLU' op? I need to implement an custom layer and an executable sample is strongly required.

[2020-10-23 12:23] DuckJ commented on #1911
@dmitryte Thanks, got it

[2020-10-23 12:52] dmitryte commented on #1911
@DuckJ, I'm closing this ticket for now. If I find out how to support the reshape without any hacks, I'll reopen and provide the update.

[2020-10-23 12:52] #1911 closed

[2020-10-23 13:52] jgespino commented on #2659
Hi @iamwandering

How are you measuring the inference speed? Please try using the [benchmark app](https://docs.openvinotoolkit.org/latest/openvino_inference_engine_tools_benchmark_tool_README.html#run_the_tool) and use the MULTI plugin as you did above. Which version of the OpenVINO toolkit did you install? Could you share the model for me to try?

Regards,
Jesus

[2020-10-23 15:49] campos537 commented on #2682
I was able to test with the same parameters as here [https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/ssd_resnet50_v1_fpn_coco/model.yml](ssd_resnet50_v1_fpn_coco) but didn't worked (the output layers names were different) i was able to convert only the model available but not my model which has 2.3 version. This is the config which i used to train the model -> [https://

[2020-10-23 16:30] VijayaKumarKamma commented on #114
i am getting the same issue if i am using the latest engine with 2021.1  and model comes with 2019.r1 that is face-person detection. Please healp.

[2020-10-23 22:29] js333031 opened #2808 "Media-driver, OpenCL version for use with OpenVINO 2021.1"
Is compute-runtime version 19.41.14441 still the right version for 2021.1? I need to know the versions for these, ideally a github tag/branch link for each:
msdk
libva
libva-utils
gmm
compute-runtime

[2020-10-24 08:56] JulienMaille commented on #1343
Fixed in 2021.1

[2020-10-25 15:56] GotG opened #2812 "Onnx Conversion Missing Op"
Hello

I am trying to convert a CNN model from ONNX to OpenVINO.

The following 2 ops are missing:

Instructions/layers that do not have attribute extractors:
[ WARNING ]      Sub (2)
[ WARNING ]          Sub_78
[ WARNING ]          Sub_140
[ WARNING ]      Min (3)
[ WARNING ]          Min_87
[ WARNING ]          Min_88
[ WARNING ]          Min_89

Min and Sub. Can you please provide some guidance

[2020-10-26 05:04] TranThanh96 opened #2814 "convert Capsule Network to IR-openvino"
I am working with FSA-model using capsule network (https://github.com/shamangary/FSA-Net) for head-pose estimation purposes. I convert the model to the protocol buffer format successfully (.pb format). And now, I want to convert .pb format to IR format, but meet some issues:
 `While validating node 'v0::Squeeze Squeeze_326(Transpose_324[0]:f32{3,64,64,16}, Constant_325[0]:i64{1}) -> (dynamic?)':
p

[2020-10-26 06:36] tankienleong opened #2815 "Missing webrtcbin plugin in openvino 2021.1"
In openvino 2020.3, there is libgstwebrtc.so and libgstwebrtcdsp.so inside /opt/intel/openvino/data_processing/gstreamer/lib/gstreamer-1.0/ directory but this two files does not come with openvino 2021.1

[2020-10-26 06:37] tankienleong commented on #2815
Luckily the gstreamer version used by openvino 2020.3 and openvino 2021.1 are the same (version 1.16) so I just copy paste the libgstwebrtc.so and libgstwebrtcdsp.so and it works.

[2020-10-26 06:37] #2815 closed

[2020-10-26 14:29] jgespino commented on #2808
Hi @js333031

Thanks for reaching out, the Intel Distribution for OpenVINO toolkit 2021.1 release includes Intel MediaSDK 19.3.0. Please see the release notes for Intel MediaSDK under `/opt/intel/mediasdk/docs` (Linux) which contains the GitHub tags for the components mentioned above. The same information can also be found on the release tag for [MediaSDK 19.3.0](https://github.com/Intel-Media-SDK

[2020-10-26 16:16] jgespino commented on #2812
Hi @GotG

Which version of the OpenVINO toolkit are you using? Sub Op should be supported in the latest OpenVINO 2021.1 release see [Supported Framework Layers](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_Supported_Frameworks_Layers.html#onnx_supported_operators). Min Op is not listed, see this [tutorial](https://github.com/david-drew/OpenVINO-Custom-Layers/tree/maste

[2020-10-26 19:12] jgespino commented on #2791
Hi @cosmos1982

Have you tried downloading ssd300 using the model downloader included with OpenVINO? I downloaded the ssd300 model with the following command.

`python3 /opt/intel/openvino_2021/deployment_tools/tools/model_downloader/downloader.py --name ssd300`

Regards,
Jesus

[2020-10-26 20:45] jgespino commented on #2808
Hi @js333031

As I looked further into the Intel Media SDK included with the OpenVINO toolkit 2021.1 release, the release notes in the `/opt/intel/mediasdk/doc` directory belongs to Media SDK 19.3.1. However, the Media SDK software version is 19.3.1. Please see the [release page for Media SDK 19.3.1](https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/intel-mediasdk-19.3.1) for the component

[2020-10-27 01:06] dpatel257 opened #2843 "[Bug] Failed to install model-optimizer for 2021.1 on CentOS 7"
##### System information (version)

- OpenVINO => 2021.1
- Operating System / Platform => Xeon / CentOS 7 docker
- Problem classification: Installation phase

##### Detailed description
When upgrading our recipe with OpenVINO 2021.1, encountered that model-optimizer fails to install on CentOS 7.

[code]

##### Steps to reproduce

- Install OpenVINO 2021.1 on Centos 7 docker image (https://hub.dock

[2020-10-27 06:28] lazarevevgeny commented on #2814
@TranThanh96 , thank you for filing the bug! Could you share the pb file for the analysis?

[2020-10-27 08:47] nmVis commented on #1858
@dmitryte I've checked my measurements one more time and they're similar. Could it be a CPU related issue? What CPU do you test on? Maybe some of my colleagues have one so I could check on their PC if it is the case. Mine is i7 8750H if it helps you in some way.

[2020-10-27 08:49] nmVis commented on #1471
gentle reminder guys :)

[2020-10-27 09:24] dmitryte commented on #1858
Hmm, you still should get some improvement on 8th gen cause I've got i5 8th gen on my laptop and can see the speed up. Though , it's lower than in the benchmarks I posted last week due to unsupported AVX-512 instructions.

Starting with 10th gen you can have a support for DL Boost that makes int8 models run even faster. Same is supported on for the server hardware.

We may go in PM and discuss spe

[2020-10-27 10:08] TranThanh96 commented on #2814
I worked around my code and changed something.

when I convert a pb file -> IR format with the command:

     `python mo_tf.py --input_model headpose_FSA.pb --input_shape '[1, 64, 64, 3]' -o FSA`

   converted successfully and I got file xml and bin.
   But when I test the IR model and loading from Inferinference_engine, an error occurred:

`RuntimeError: Check 'arg0_shape[axis_index_arg0].compati

[2020-10-27 13:47] jgespino commented on #2109
Hi @alrzmshy @mhkabir

Where you able to test your model by converting to IR using the model optimizer with `--scale` parameter? Please let me know the results.

Regards,
Jesus

[2020-10-27 13:55] dpatel257 commented on #2843
Same error was seen on Ubuntu18.04

[2020-10-27 15:38] nmVis commented on #1858
Thanks man. Let's go to the PM.

[2020-10-27 17:56] jgespino commented on #2843
I also ran into this issue before, I believe it was due to the Python pip3 version, which version are you using? Try upgrading to the latest.

Regards,
Jesus

[2020-10-27 22:25] dpatel257 commented on #2843
Hi @jgespino ,

I am on below versions:
**pip 9.0.1** from /usr/lib/python3/dist-packages (python 3.6)
python3 is already the newest version (3.6.7-1~18.04)

I am on latest support on ubuntu18.04.
Any comments?

[2020-10-29 06:13] ananya-p opened #2882 "RuntimeError: Cannot create ShapeOf layer fc7_mbox_priorbox/0_port id:192"
I am trying to run a face recognition python script which is loading four other models for complete execution.

I am using Raspberry Pi 3B+ (Raspbian Stretch), NCS2 stick with OpenVINO 2020 R3.

The main script is calling and loading the other models on execution using the NCS2 stick.

I am getting the error:

`RuntimeError: Cannot create ShapeOf layer fc7_mbox_priorbox/0_port id:192`

I am using

[2020-10-29 07:46] sroot0 opened #2883 "Support for int4 models"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues, Stack Ov

[2020-10-29 08:21] edwardnguyen1705 opened #2886 "Multiple inputs"
Dear openvino team,

I want to convert an `ONNX` [model](https://github.com/cleardusk/3DDFA_V2/blob/70e7cde4a893905c90bba08b66a69fae31917f07/bfm/bfm_onnx.py#L80) having multiple inputs to `OpenVINO`:
[code]

But, I do knot how to specify the parameter `input_shape`.
Do you have any suggestion?

[2020-10-29 09:39] emmanuelattia-philips commented on #2675
I'm sorry i messed up my branch for the PR and i had to overwrite it, should I open a new PR to pursue the discussion ?

[2020-10-29 09:41] ilya-lavrenov commented on #2675
We should not close PR and create a new one since discussion is lost. Just try to merge your changes with latest master and push to your branch with 1st PR.

[2020-10-29 09:44] emmanuelattia-philips commented on #2675
Github doesn't allow me to reopen it because i had to force push...

[2020-10-29 09:47] ilya-lavrenov commented on #2675
Ok, let's create a new PR.

[2020-10-29 12:55] jgespino commented on #2886
Hi @edwardnguyen1705

Thanks for reaching out, please take a look at the [General Conversion Parameters](https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_Converting_Model_General.html) for converting models.

Hope this helps!

Regards,
Jesus

[2020-10-29 13:02] jgespino commented on #2883
Hi @sroot0

The OpenVINO toolkit does not support int4 models, please take a look at the [supported input precisions](https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_supported_plugins_Supported_Devices.html#supported_input_precision) for a breakdown of precisions by Plugin.

Regards,
Jesus

[2020-10-29 13:26] jgespino commented on #2721
Hi @EnricoBeltramo

Apologies for the delay, TF2.x Object Detection API models are not currently supported on OpenVINO toolkit, only TF1.x Object Detection API models are supported.

Regards,
Jesus

[2020-10-29 13:29] jgespino commented on #2682
Hi @campos537

I apologize for the delay, TF2.x Object Detection API models are currently not supported on OpenVINO toolkit, only TF1.x Object Detection API models are supported.

Regards,
Jesus

[2020-10-29 14:03] campos537 commented on #2682
Hey Jesus, thanks for your answer! It would be really great to have this support soon.

[2020-10-29 15:08] jgespino commented on #2882
Hi @ananya-p

Thanks for reaching out, IE Plugin has been deprecated and IE Network will also be deprecated in future software releases. I recommend using IE Core. You mentioned, the python script works well for a couple of models but the error is seen with only this model. Could you share more information about the model?

- Is the model custom trained?
- What framework and topology is the model

[2020-10-29 15:59] jgespino commented on #2638
Closing, feel free to re-open if additional assistance is needed.

[2020-10-29 15:59] #2638 closed

[2020-10-29 15:59] jgespino commented on #2658
Closing, feel free to re-open if additional assistance is needed.

[2020-10-29 15:59] #2658 closed

[2020-10-29 16:00] #2613 closed

[2020-10-29 16:02] jgespino commented on #2147
@helmutg Do you still need this issue opened in the OpenVINO repository?

[2020-10-29 16:03] jgespino commented on #2430
Closing, feel free to re-open if additional assistance is needed.

[2020-10-29 16:03] #2430 closed

[2020-10-29 16:04] jgespino commented on #2659
Closing, feel free to re-open if additional assistance is needed.

[2020-10-29 16:04] #2659 closed

[2020-10-29 16:04] jgespino commented on #2661
Closing, feel free to re-open if additional assistance is needed.

[2020-10-29 16:04] #2661 closed

[2020-10-29 16:07] jgespino commented on #2723
Closing, feel free to re-open if additional assistance is needed.

[2020-10-29 16:07] #2723 closed

[2020-10-29 16:13] #2432 closed

[2020-10-29 16:57] jgespino commented on #2611
Hi @NatachaRuchaudDB

I apologies for the delay for some reason I missed the notification. Could you provide your TensorFlow model?

Regards,
Jesus

[2020-10-29 17:20] helmutg commented on #2147
That's a good question. It still is a bug and it still affects OpenVINO master. The onnx issue is still open and OpenVINO needs to update its onnx to a fixed version (which does not exist yet) to get rid of it.

[2020-10-29 18:00] jgespino commented on #2843
Hi @dpatel257

I am checking with the development team about the error message that is coming from TensorFlow 1.15.4, our requirement_tf.txt lists `numpy >= 1.13.0`. However, it appears TF 1.15.4 is incompatible with numpy 1.19.0 or newer.

In the meantime, try to install numpy version 1.18.5, you can do:
[code]

Regards,
Jesus

[2020-10-30 09:51] tankienleong commented on #2638
My docker container able to access HDDL after downgrade kernel to 5.3

[2020-10-30 12:43] jgespino commented on #2147
Hi @helmutg

The [build instructions](https://github.com/openvinotoolkit/openvino/blob/master/build-instruction.md#build-on-linux-systems) for OpenVINO list Python 3.6 or higher as a requirement and specify using the -DENABLE_PYTHON=ON along with the following additional options depending on the python version.
[code]
I also want to note that Debian has not been validated with the build instructio

[2020-10-30 14:21] NatachaRuchaudDB commented on #2611
Hi @jgespino

No problem. Yes I can share the model. Where do you want that I send the Tensorflow model ?

Best,
Natacha.

[2020-10-30 14:33] violet17 commented on #2637
I think the HDDL plugin is not suitable for yolov5. Since I revised the code in myriad plugin, and rebuilt openvino, then I got the same results as CPU.
That may be the reason that the scale in graph transformer not work for every network and the way MYX calculate.

[2020-10-30 14:33] jgespino commented on #2611
Hi @NatachaRuchaudDB

You can share it here or send it to my email if you prefer to share it privately.

Regards,
Jesus

[2020-10-30 15:53] jgespino commented on #2611
Hi @NatachaRuchaudDB

Thanks for sending over the model, I took a look and it seems there are changes to the order of applying input image normalization and resizing images. The dev team is already looking into this issue, however, I don't have an ETA on fix yet.

Regards,
Jesus

Ref. 37922

[2020-10-30 23:38] agungor2 commented on #2480
@lablabla, Can you please run it with the [benchmark app](https://docs.openvinotoolkit.org/latest/openvino_inference_engine_samples_benchmark_app_README.html) and let us know if you are still having issues with the 2021.1 release?
I am able to run the demo and benchmark app both with your models on windows and ubuntu.

[2020-10-31 02:55] edwardnguyen1705 commented on #2886
Dear @jgespino ,

I have successfully converted and inferenced the model. Thanks for your help.

[2020-10-31 02:55] #2886 closed

[2020-10-31 03:26] TNTWEN opened #2925 "[Bug] GPU inference bug in OpenVINO 2021.1"
Hello everyone!

https://github.com/TNTWEN/OpenVINO-YOLOV4

When I adapted this project to the latest openvino version, it seemed that GPU could not inference correctly under fp16

I've located the error .it's mish activation function： `activation_fn=lambda x:x* tf.math.tanh(tf.math.softplus(x))`
because yolov4-relu works well

Tensorflow1.15.4+OpenVINO2021.1
CPU +FP32/FP16 works well
GPU+FP32

[2020-10-31 03:33] TNTWEN commented on #2925
Note:
In OpenVINO2020r4 yolov4 is slower than yolov3 because of mish function
But OpenVINO2021.1+tf1.15.4 makes mish function faster.Now the speed of yolov4 is greatly indicated！
So i think OpenVINO2021.1 optimizes the implementation of mish（tanh and softplus)  activation function.
So I guess this is a bug in the GPU FP16 when optimizing the activation function

[2020-11-01 06:35] lablabla commented on #2480
@agungor2
Running the benchmark app in python works

[code]

So for some reason the models just doesn't play well with the yolo sample
is there any difference between the way the benchmark app loads the models and the way the samples does?

[2020-11-02 02:15] md-sami opened #2933 "[Bug] The MyriadX USB NCS2 device re-enumerates while running demos"
##### System information (version)

- OpenVINO=>  2019.1.094
- Operating System / Platform => Linux 64 Bit Ubuntu 18.04 LTS
- Compiler => GCC 7.5.0
- Problem classification => USB re-connects while running demos (example demo_security_barrier_camera application)

##### Detailed description
 We attached the Myriad NCS2 on Ubuntu 18.04 and ran the demo_security_barrier_camera application.
The demo a

[2020-11-02 04:47] kevin3-black commented on #2549
@jgespino sorry for the delay, got busy with some other things. Tried again with 2021.1 as well as the latest commit on master and had the exact same issue.

[2020-11-02 06:37] ananya-p commented on #2882
Hi @jgespino ,

I am in the process of migrating from IE Plugin and IE Network to IE Core already.
I am using the pre-trained models from the OpenVINO toolkit for my program. the models are:

- face-detection-adas-0001

- face-detection-retail-0004

- face-reidentitfication-retail-0095

- head-pose-estimation-adas-0001

- landmarks-regression-retail-0009

My script is just loading the models onto

[2020-11-02 06:41] brmarkus commented on #2933
This is expected behavior with NCS2 on USB bus. It first appears as USB2 High-Speed device, then disappears and appears again as USB3 SuperSpeed device "VSC Loopback Device". When the application exists gracefully it turns into USB2 as a HighSpeed device again.

[2020-11-02 08:34] NatachaRuchaudDB commented on #2611
Hi @jgespino

Thanks you for having a look. I hope you will find a solution.

Best,
Natacha.

[2020-11-02 13:40] jgespino commented on #2549
Hi @kvablack

Please try to add `--input_shape` to your model optimizer command to specify the input shape. Could you share your model?

Regards,
Jesus

[2020-11-02 13:46] jgespino commented on #2882
Hi @ananya-p

There are some known issues with the OpenVINO toolkit for Raspbian OS, I believe they were fixed on 2020.4, please upgrade to that version and use the same version of models. Let me know if you continue to see the same error.

OpenVINO toolkit for Raspbian OS (2020.4 release):
https://download.01.org/opencv/2020/openvinotoolkit/2020.4/

Models (2020.4):
https://download.01.org/opencv

[2020-11-02 15:12] ananya-p commented on #2882
I guess I'll take that up, upgrading OpenVINO toolkit to 2020.4.
I will check that and let you know if any errors persist.

Thanks @jgespino !

[2020-11-02 15:12] #2882 closed

[2020-11-02 19:53] kvablack commented on #2549
@jgespino I tried `--input_shape "[1]"`, same error. I provided some minimal reproduction code in the initial post, but I've attached the SavedModel here as well if that helps. Thanks.

[saved_model.zip](https://github.com/openvinotoolkit/openvino/files/5477656/saved_model.zip)

[2020-11-03 09:33] md-sami commented on #2933
Is there some way that you can force into USB2.0 mode only (or USB3.0 mode only ) all the time and avoid this re-enumeration / switching during the demo? Is there an updated firmware for NCS2 that achieves the above?

[2020-11-03 12:29] deb-dsc20 opened #2956 "[Bug] Linking error on raspberry 4, undefined reference to __atomic_fetch_add_8"
##### System information (version)
- OpenVINO => Git clone from master (comit id  3f4d8b49ff6e3f8e7e039c4075e45cab53e55ebe)
- Operating System / Platform => Raspbian on raspberry pi 4
- Compiler => Cmake, gcc, etc
- Problem classification: Build issue

##### Detailed description
Facing following build issue:
[ 12%] Built target ngraph
[ 16%] Built target libprotobuf
[ 20%] Built target libprotoc
[

[2020-11-03 13:13] dkurt commented on #2956
Please take a look on similar issue: https://github.com/opencv/opencv/issues/15278#issuecomment-521903165

[2020-11-03 15:26] #2843 closed

[2020-11-03 15:57] JulienMaille commented on #907
@wangliwei-intel any update on this? By "long-time" do you mean 20+sec for each kernel?

[2020-11-03 16:40] royallela commented on #2349
@Werni2A , thanks could you share with us the reproducer code for this and any data files?

[2020-11-03 17:12] jgespino commented on #2109
Closing, please re-open if additional assistance is needed.

[2020-11-03 17:12] #2109 closed

[2020-11-03 18:19] fabianoboril opened #2962 "Question on how to use an HDDL device inside a docker container with OpenVINO 2020.4"
##### System information (version)
- OpenVINO => 2020.4
- Operating System / Platform => Ubuntu 18.04

##### Detailed description
We are running a docker container (based on Ubuntu 18.04) on a host system with Ubuntu 18.04. The host system is prepared to run the hddldaemon. Note that inference with using the HDDL device is successful on the host system. Now, we want to use the HDDL device inside t

[2020-11-04 06:38] brmarkus commented on #2962
From the documentation:
[code]

Does mounting the volume like this `-v /var/tmp:/var/tmp:rw` makes a difference?

[2020-11-04 06:44] brmarkus commented on #2933
Not that I'm aware of - this happens due to loading the firmware once and then "starting the device".
Could you make your application a kind of daemon, which loads the MYRIAD plugin once, and keeps it for as long as you would need the MyriadX "ready"?

[2020-11-04 07:12] fabianoboril commented on #2962
The problem is that we are using our containers in a company setup, i.e. the user accounts are managed through ldap and have unique IDs. The container itself has its own user. Hence, passing userids wouldn't help in our case.

[2020-11-04 07:32] fabianoboril commented on #2962
I continued testing using the `-v /var/tmp:/var/tmp:rw` instead of `-v /var/tmp:/var/tmp` and manually modifying the access rights for /var/tmp/hddl_*.

Now, gstreamer using the HDDL device for inference starts inside the docker container. However, the hddldaemon running outside, starts to throw the following errors:

[2020-11-04 08:06] Werni2A commented on #2349
At the moment I'm kind of busy but I can try to provide you a minimal working example in the next few weeks.

[2020-11-04 09:49] brmarkus commented on #2962
Can you try to stop the daemon, then `source /opt/intel/openvino/bin/setupvars.sh` and `${HDDL_INSTALL_DIR}/bin/bsl_reset` (with your installation on the HOST) (as described under `https://docs.openvinotoolkit.org/2019_R2/_docs_install_guides_installing_openvino_linux_ivad_vpu.html#unable_to_run_inference_with_the_myriad_plugin_after_running_with_the_hddl_plugin`?
You said on the HOST-side HDDL is

[2020-11-04 10:21] fabianoboril commented on #2962
Yes and Yes

[2020-11-04 10:44] fabianoboril commented on #2962
Tested and has no effect.

The user is in the docker group (no sudo required), and  `--privileged` has no effect.

[2020-11-04 14:21] jgespino commented on #2791
Closing, please re-open if additional assistance is needed.

[2020-11-04 14:21] #2791 closed

[2020-11-04 14:22] jgespino commented on #2812
Closing, please re-open if additional assistance is needed.

[2020-11-04 14:23] jgespino commented on #2808
Closing, please re-open if additional assistance is needed.

[2020-11-04 14:23] #2808 closed

[2020-11-04 14:25] jgespino commented on #2721
Closing, please re-open if additional assistance is needed.

[2020-11-04 14:25] #2721 closed

[2020-11-04 18:15] cezane opened #2975 "How to run the image classification"
It seems the section "Run the Image Classification Sample Application" is outdated. The first step says "Go to the samples build directory" with the following command `cd <OPENVINO_DIR>/inference-engine/bin/intel64/Release`. As we can see below, there is no such directory:

[code]

How to proceed with the tutorial "Get Started with OpenVINO™ Toolkit on Linux*"?

[2020-11-04 18:26] Nedae opened #2976 "Question about converting onnx quantized model to openvino"
##### System information (version)
- OpenVINO=> openvino_2021.1.110
- Operating System / Platform => Ubuntu 18.04.5 LTS
- Compiler => python 3.6.9, [GCC 8.4.0]
- Problem classification => Model Conversion

##### Detailed description
Is there a guideline on converting an already quantized onnx model to openvino?

What I have tried is that I called `/opt/intel/openvino_2021.1.110/deployment_tools/mo

[2020-11-04 19:25] cezane commented on #2975
I searched my directories for `intel64/Release` and found this folder in the following path `/openvino/bin/intel64/Release` which is not located at the `inference-engine` folder as pointed by the tutorial.

Then, I run the recommended command and got the following error:

[code]

According to the received message, I searched for a `bmp` file in the `demo` folder, finding the `car_1.bmp`. But I got

[2020-11-05 03:58] deb-dsc20 commented on #2956
Thanks dkurt.
By adding -latomic in external_protobuf.cmake, Linking error was resolved. Build was successfull.
Attaching the file
[external_protobuf.zip](https://github.com/openvinotoolkit/openvino/files/5491891/external_protobuf.zip)

[2020-11-05 05:19] ilyachur commented on #2975
@mryzhov Could you take a look?

[2020-11-05 06:55] #2956 closed

[2020-11-05 08:20] AlexTraan opened #2981 "[Ask info] Do inference engine support multiple-instance"
##### System information (version)

- OpenVINO=> :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:
- Problem classification => :grey_question:

##### Detailed description

Hi,

thank you for your great toolkit.

i intent to use multiple-process, each process will create a Inference Engine, but it seem not work.
i wonder that OpenVINO support multiple-in